Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

fix: sync payment provider after Pingxx plan purchase (#2221)
  src/api/flaskr/service/billing/checkout.py
  src/api/flaskr/service/billing/webhooks.py
  src/api/tests/service/billing/test_billing_callbacks.py
  src/api/tests/service/billing/test_billing_subscription_sms.py
Due: none

test: cover reserved credit grant metadata variants
  src/api/tests/service/shifu/test_admin_users.py
Due: none

fix: align credit expiry details
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.tsx
Due: prettier-cook-web, eslint

fix: keep absorbed credit grants out of ledgers
  src/api/flaskr/service/billing/read_models.py
  src/api/flaskr/service/shifu/admin_operations/user_credits.py
  src/api/tests/service/billing/test_billing_routes.py
  src/api/tests/service/shifu/test_admin_users.py
Due: none

fix: sort activated credit grants by release time
  src/api/flaskr/service/billing/read_models.py
  src/api/flaskr/service/shifu/admin_operations/user_credits.py
  src/api/tests/service/billing/test_billing_routes.py
  src/api/tests/service/shifu/test_admin_users.py
Due: none

fix: keep credit validity values centered
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.tsx
Due: prettier-cook-web, eslint

fix: keep credit ledger ordering stable
  src/api/flaskr/service/billing/read_models.py
  src/api/flaskr/service/shifu/admin_operations/user_credits.py
  src/api/tests/service/billing/test_billing_routes.py
  src/api/tests/service/shifu/test_admin_users.py
Due: none

fix: align credit expiry details (#2222)
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.tsx
Due: prettier-cook-web, eslint

fix: hide pending credit grants from ledger views (#2220)
  src/api/flaskr/service/billing/read_models.py
  src/api/flaskr/service/shifu/admin_operations/user_credits.py
  src/api/tests/service/billing/test_billing_routes.py
  src/api/tests/service/shifu/test_admin_users.py
Due: none

refactor: centralize billing renewal cycle updates (#2216)
  src/api/flaskr/service/billing/cycle_state_transitions.py
  src/api/flaskr/service/billing/renewal.py
  src/api/flaskr/service/billing/subscriptions.py
  src/api/tests/service/billing/test_billing_cycle_state_transitions.py
  src/api/tests/service/billing/test_billing_renewal_execution.py
Due: none

refactor: isolate reserved renewal grant activation
  src/api/flaskr/service/billing/renewal.py
  src/api/flaskr/service/billing/reserved_renewal_activation.py
  src/api/flaskr/service/billing/subscriptions.py
  src/api/flaskr/service/billing/wallets.py
Due: none

fix: align billing credit validity values
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.tsx
Due: prettier-cook-web, eslint

fix: strengthen reserved renewal activation checks
  src/api/flaskr/service/billing/reserved_renewal_activation.py
Due: none

fix: align topup validity tooltip label
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.tsx
Due: prettier-cook-web, eslint

fix: preserve reserved renewal activation compatibility
  src/api/flaskr/service/billing/reserved_renewal_activation.py
  src/api/flaskr/service/billing/subscriptions.py
  src/api/tests/service/billing/test_billing_renewal_execution.py
Due: none

refactor: isolate reserved renewal grant activation (#2223)
  src/api/flaskr/service/billing/renewal.py
  src/api/flaskr/service/billing/reserved_renewal_activation.py
  src/api/flaskr/service/billing/subscriptions.py
  src/api/flaskr/service/billing/wallets.py
  src/api/tests/service/billing/test_billing_renewal_execution.py
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.tsx
Due: prettier-cook-web, eslint

refactor: centralize billing renewal event transitions
  src/api/flaskr/service/billing/renewal.py
  src/api/flaskr/service/billing/renewal_event_transitions.py
  src/api/flaskr/service/billing/subscriptions.py
Due: none

refactor: centralize billing renewal event transitions (#2224)
  src/api/flaskr/service/billing/renewal.py
  src/api/flaskr/service/billing/renewal_event_transitions.py
  src/api/flaskr/service/billing/subscriptions.py
Due: none

fix: harden renewal event concurrency
  src/api/flaskr/service/billing/renewal_event_transitions.py
  src/api/tests/service/billing/test_renewal_uow_failure_paths.py
Due: none

fix: guard obsolete renewal events
  src/api/flaskr/service/billing/renewal.py
  src/api/flaskr/service/billing/renewal_event_transitions.py
  src/api/tests/service/billing/test_renewal_uow_failure_paths.py
Due: none

fix: enforce renewal event claim ownership
  src/api/flaskr/service/billing/renewal.py
  src/api/flaskr/service/billing/renewal_event_transitions.py
  src/api/tests/service/billing/test_renewal_uow_failure_paths.py
Due: none

fix: cancel obsolete renewal orders
  src/api/flaskr/service/billing/renewal.py
  src/api/tests/service/billing/test_renewal_uow_failure_paths.py
Due: none

fix: verify renewal claims before side effects
  src/api/flaskr/service/billing/renewal.py
  src/api/flaskr/service/billing/renewal_event_transitions.py
  src/api/tests/service/billing/test_renewal_uow_failure_paths.py
Due: none

fix: renew event leases before provider sync
  src/api/flaskr/service/billing/renewal.py
  src/api/tests/service/billing/test_renewal_uow_failure_paths.py
Due: none

fix: serialize obsolete order timestamps
  src/api/flaskr/service/billing/renewal.py
  src/api/tests/service/billing/test_renewal_uow_failure_paths.py
Due: none

fix: harden renewal event concurrency (#2225)
  src/api/flaskr/service/billing/renewal.py
  src/api/flaskr/service/billing/renewal_event_transitions.py
  src/api/tests/service/billing/test_renewal_uow_failure_paths.py
Due: none

refactor: add credit grant allocation views
  src/api/flaskr/service/billing/credit_grant_allocation_views.py
  src/api/tests/service/billing/test_credit_grant_allocation_views.py
Due: none

refactor: add credit grant allocation views (#2226)
  src/api/flaskr/service/billing/credit_grant_allocation_views.py
  src/api/tests/service/billing/test_credit_grant_allocation_views.py
Due: none

fix: prevent listen mode page dragging crash
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenPlaybackState.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenPlaybackState.ts
Due: prettier-cook-web, eslint

fix: simplify listen mode state guards
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
Due: prettier-cook-web, eslint

fix: prevent listen mode page dragging crash (#2227)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenPlaybackState.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenPlaybackState.ts
Due: prettier-cook-web, eslint

refactor: expose credit asset kinds in ledger
  src/api/flaskr/service/billing/dtos.py
  src/api/flaskr/service/billing/read_models.py
  src/api/flaskr/service/billing/serializers.py
  src/api/tests/service/billing/test_billing_routes.py
  src/cook-web/src/lib/__tests__/billing.test.ts
  src/cook-web/src/types/billing.ts
Due: prettier-cook-web, eslint

fix: fit follow-up buttons to translated labels
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/globals.css
  src/cook-web/src/c-components/ChatUi/InteractionBlock.scss
Due: prettier-cook-web

fix: fit follow-up buttons to translated labels (#2229)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/globals.css
  src/cook-web/src/c-components/ChatUi/InteractionBlock.scss
Due: prettier-cook-web

fix: use selected language when relearning lessons
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/routes.py
  src/api/tests/service/learn/test_context_v2.py
  src/api/tests/service/learn/test_runtime_tts_admission.py
  src/cook-web/src/__tests__/i18n.test.ts
  src/cook-web/src/c-api/studyV2.test.ts
  src/cook-web/src/c-api/studyV2.ts
  src/cook-web/src/i18n.ts
  src/cook-web/src/lib/request-language.ts
  src/cook-web/src/lib/request.test.ts
  src/cook-web/src/lib/request.ts
Due: prettier-cook-web, eslint

fix: make French lesson generation reliable
  src/api/flaskr/common/i18n_utils.py
  src/api/tests/common/test_i18n_utils.py
Due: none

fix: enforce French output for generated lessons
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/output_language_provider.py
  src/api/tests/service/learn/test_output_language_provider.py
Due: none

fix: translate all learner-visible lesson text
  src/api/flaskr/service/learn/output_language_provider.py
  src/api/tests/service/learn/test_output_language_provider.py
Due: none

fix: keep learner language handling course-agnostic
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/output_language_provider.py
  src/api/tests/service/learn/test_output_language_provider.py
Due: none

fix: use the native French language name
  src/api/flaskr/common/i18n_utils.py
  src/api/tests/common/test_i18n_utils.py
Due: none

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
