Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

fix(chat-ui): persist listen mode ask history when switching to read mode
  src/cook-web/skills/chat-actionbar-ask-placement/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

chore: Upgrade markdown-flow related dependency packages
  src/api/requirements.txt
  src/cook-web/package.json
Due: prettier-cook-web

chore: Upgrade markdown-flow related dependency packages (#1496)
  src/api/requirements.txt
  src/cook-web/package.json
Due: prettier-cook-web

fix: Downgraded markdown-flow-ui version
  src/cook-web/package.json
Due: prettier-cook-web

fix: Downgraded markdown-flow-ui version
  src/cook-web/package-lock.json
Due: prettier-cook-web

Aichy/update markdownflow 260402 (#1498)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix(chat-ui): align mobile listen ask panel with player current element
  src/cook-web/skills/chat-actionbar-ask-placement/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
Due: prettier-cook-web, eslint

fix(chat-ui): collapse desktop listen ask panel when ask list is empty
  src/cook-web/skills/chat-actionbar-ask-placement/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
Due: prettier-cook-web, eslint

fix(chat-ui): close listen ask overlay locally when player is hidden
  src/cook-web/skills/chat-actionbar-ask-placement/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
Due: prettier-cook-web, eslint

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix(chat-ui): disable listen mode ask action on interaction steps
  src/cook-web/skills/chat-actionbar-ask-placement/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
Due: prettier-cook-web, eslint

fix(chat-ui): override slide interaction arrow offset at component scope
  src/cook-web/skills/chat-actionbar-ask-placement/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
Due: prettier-cook-web

fix(chat-ui): auto-scroll ask panel during streaming responses
  src/cook-web/skills/chat-actionbar-ask-placement/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
Due: prettier-cook-web, eslint

fix(chat-ui): persist read mode ask streaming across ask panel toggles
  src/cook-web/skills/chat-actionbar-ask-placement/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

fix(chat-ui): unify ask sse state with global zustand store
  src/cook-web/skills/chat-actionbar-ask-placement/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/askState.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useAskStateStore.ts
Due: prettier-cook-web, eslint

fix(ui): align mobile toast z-index with ask overlay
  src/cook-web/src/components/ui/Toast.tsx
Due: prettier-cook-web, eslint

fix(chat-ui): blur mobile ask input after sending question
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
Due: prettier-cook-web, eslint

fix: align langfuse trace input and output
  docs/langfuse-trace-association.md
  src/api/flaskr/api/langfuse.py
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/handle_input_ask.py
  src/api/flaskr/service/learn/runscript_v2.py
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_publish_funcs.py
  src/api/tests/service/learn/test_context_v2.py
  src/api/tests/service/learn/test_handle_input_ask_provider.py
  src/api/tests/service/learn/test_runscript_v2_lock.py
  src/api/tests/service/shifu/test_ask_preview_route.py
  src/api/tests/service/shifu/test_shifu_publish_funcs.py
Due: none

fix: align langfuse trace input and output (#1499)
  docs/langfuse-trace-association.md
  src/api/flaskr/api/langfuse.py
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/handle_input_ask.py
  src/api/flaskr/service/learn/runscript_v2.py
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_publish_funcs.py
  src/api/tests/service/learn/test_context_v2.py
  src/api/tests/service/learn/test_handle_input_ask_provider.py
  src/api/tests/service/learn/test_runscript_v2_lock.py
  src/api/tests/service/shifu/test_ask_preview_route.py
  src/api/tests/service/shifu/test_shifu_publish_funcs.py
Due: none

fix: lint
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
Due: prettier-cook-web, eslint

feat(cook-web): restore slide custom ask player action integration (#1500)
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/skills/chat-actionbar-ask-placement/SKILL.md
  src/cook-web/skills/module-augmentation-guardrails/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/askState.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useAskStateStore.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
  src/cook-web/src/components/ui/Toast.tsx
  src/cook-web/src/types/markdown-flow-ui.d.ts
Due: prettier-cook-web, eslint

Revert "feat(cook-web): restore slide custom ask player action integration (#1500)"
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/skills/chat-actionbar-ask-placement/SKILL.md
  src/cook-web/skills/module-augmentation-guardrails/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/askState.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useAskStateStore.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
  src/cook-web/src/components/ui/Toast.tsx
  src/cook-web/src/types/markdown-flow-ui.d.ts
Due: prettier-cook-web, eslint

feat: add operator role bootstrap
  docs/operator-role.md
  src/api/flaskr/service/common/dtos.py
  src/api/flaskr/service/user/auth/providers/google.py
  src/api/flaskr/service/user/models.py
  src/api/flaskr/service/user/phone_flow.py
  src/api/flaskr/service/user/repository.py
  src/api/migrations/versions/1f2e3d4c5b6a_add_is_operator_to_user_users.py
  src/api/migrations/versions/2b7c9d1e4f6a_backfill_operator_for_first_verified_user.py
  src/api/tests/service/user/test_google_auth.py
  src/api/tests/service/user/test_repository.py
  src/api/tests/service/user/test_user_identify.py
  src/api/tests/service/user/test_utils.py
  src/cook-web/src/c-types/index.ts
Due: prettier-cook-web, eslint

fix: address operator role review feedback
  docs/operator-role.md
  src/api/flaskr/service/user/auth/providers/google.py
  src/api/flaskr/service/user/phone_flow.py
  src/api/flaskr/service/user/repository.py
  src/api/migrations/versions/2b7c9d1e4f6a_backfill_operator_for_first_verified_user.py
  src/api/tests/service/user/test_google_auth.py
  src/api/tests/service/user/test_user_identify.py
  src/api/tests/service/user/test_utils.py
Due: none

fix: preserve draft ownership during bootstrap
  src/api/flaskr/service/user/phone_flow.py
  src/api/tests/service/user/test_user_identify.py
Due: none

docs: clarify verified bootstrap state comment
  src/api/flaskr/service/user/phone_flow.py
Due: none

fix: align follow-up ask event with answer element bid
  src/api/flaskr/service/learn/handle_input_ask.py
  src/api/tests/service/learn/test_handle_input_ask_provider.py
Due: none

Revert "fix: align follow-up ask event with answer element bid"
  src/api/flaskr/service/learn/handle_input_ask.py
  src/api/tests/service/learn/test_handle_input_ask_provider.py
Due: none

fix: restore follow-up answer anchor resolution
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/listen_element_queries.py
  src/api/tests/service/learn/test_element_protocol.py
  src/api/tests/service/learn/test_handle_input_ask_provider.py
Due: none

fix: return follow-up answers as answer elements (#1503)
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/listen_element_queries.py
  src/api/tests/service/learn/test_element_protocol.py
  src/api/tests/service/learn/test_handle_input_ask_provider.py
Due: none

fix: return follow-up answers as answer elements
  src/api/flaskr/service/learn/handle_input_ask.py
  src/api/tests/service/learn/test_element_protocol.py
  src/api/tests/service/learn/test_handle_input_ask_provider.py
Due: none

fix: return follow-up answers as answer elements (#1504)
  src/api/flaskr/service/learn/handle_input_ask.py
  src/api/tests/service/learn/test_element_protocol.py
  src/api/tests/service/learn/test_handle_input_ask_provider.py
Due: none

fix: return follow-up answers as answer elements
  src/api/tests/service/learn/test_handle_input_ask_provider.py
Due: none

feat(cook-web): sync lessonid in url when selecting course lessons
  src/cook-web/skills/deep-link-lessonid-routing/SKILL.md
  src/cook-web/src/__tests__/url-utils.test.ts
  src/cook-web/src/app/c/[[...id]]/page.tsx
  src/cook-web/src/c-utils/urlUtils.ts
Due: prettier-cook-web, eslint

fix(cook-web): append lessonid to course url after initial lesson resolution
  src/cook-web/src/app/c/[[...id]]/page.tsx
Due: prettier-cook-web, eslint

feat(cook-web): sync shifu lessonid with selected outline lesson
  src/cook-web/skills/deep-link-lessonid-routing/SKILL.md
  src/cook-web/src/__tests__/url-utils.test.ts
  src/cook-web/src/app/c/[[...id]]/page.tsx
  src/cook-web/src/c-utils/urlUtils.ts
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

feat(cook-web): sync lessonid in url when selecting course lessons (#1507)
  src/cook-web/skills/deep-link-lessonid-routing/SKILL.md
  src/cook-web/src/__tests__/url-utils.test.ts
  src/cook-web/src/app/c/[[...id]]/page.tsx
  src/cook-web/src/c-utils/urlUtils.ts
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
