Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

fix: prevent stale token logout during google oauth
  src/cook-web/src/lib/request.ts
Due: prettier-cook-web, eslint

fix: apply stale token guard to streamLine
  src/cook-web/src/lib/request.ts
Due: prettier-cook-web, eslint

chore: format en agreement mdx
  src/cook-web/src/components/legals/EnAgreement.mdx
Due: none

refactor: improve type safety and code quality in request handler
  src/cook-web/src/lib/request.ts
Due: prettier-cook-web, eslint

feat: update the basics section of the ask.md document (#1001)
  src/api/prompts/ask.md
Due: none

fix: prevent stale logout during google oauth (#1109)
  src/cook-web/src/components/legals/EnAgreement.mdx
  src/cook-web/src/lib/request.ts
Due: prettier-cook-web, eslint

fix: resolve auto-creation of chapter and lesson on course creation
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/api/flaskr/service/shifu/shifu_outline_funcs.py
Due: none

feat: add recommended llm display config
  src/api/flaskr/api/llm/__init__.py
  src/api/flaskr/common/config.py
  src/api/flaskr/service/llm/route.py
  src/cook-web/src/components/model-list/ModelList.tsx
  src/cook-web/src/store/useShifu.tsx
  src/cook-web/src/types/shifu.ts
Due: prettier-cook-web, eslint

fix: guard placeholder lessons from triggering mdflow load
  src/cook-web/src/components/outline-tree/MinimalTreeItem.tsx
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

fix: pr advice
  src/cook-web/src/components/outline-tree/MinimalTreeItem.tsx
Due: prettier-cook-web, eslint

fix: guard placeholder lessons from triggering mdflow load (#1110)
  src/cook-web/src/components/outline-tree/MinimalTreeItem.tsx
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

chore: update .env.example.full
  docker/.env.example.full
Due: none

chore: update config
  src/api/flaskr/common/config.py
Due: none

Revert "fix: resolve auto-creation of chapter and lesson on course creation"
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/api/flaskr/service/shifu/shifu_outline_funcs.py
Due: none

Update src/cook-web/src/store/useShifu.tsx
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

fix: improve exception handling in chapter initialization
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
Due: none

fix: add nested transaction for default chapter/lesson initialization
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
Due: none

fix: persist phone credential during import
  src/api/flaskr/command/import_user.py
Due: none

fix: align user identify and phone credential on import
  src/api/flaskr/command/import_user.py
Due: none

fix: simplify import_user to use ensure_user_for_identifier
  src/api/flaskr/command/import_user.py
Due: none

fix: force sync phone identify and credential in import_user
  src/api/flaskr/command/import_user.py
Due: none

fix: add db commit in import user
  src/api/flaskr/command/import_user.py
Due: none

fix: import user fails. (#1112)
  src/api/flaskr/command/import_user.py
Due: none

feat: grant demo course on creator promotion
  src/api/flaskr/service/user/utils.py
Due: none

feat: add shifu context to runtime config
  src/api/flaskr/common/shifu_context.py
  src/api/flaskr/route/config.py
  src/cook-web/src/lib/initializeEnvData.ts
Due: prettier-cook-web, eslint

feat: add shifu context to runtime config (#1114)
  src/api/flaskr/common/shifu_context.py
  src/api/flaskr/route/config.py
  src/cook-web/src/lib/initializeEnvData.ts
Due: prettier-cook-web, eslint

feat: grant demo course on creator promotion (#1113)
  src/api/flaskr/service/user/utils.py
Due: none

fix: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: update mdf-ui (#1115)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: change recommand to allowed
  docker/.env.example.full
  src/api/flaskr/api/llm/__init__.py
  src/api/flaskr/common/config.py
Due: none

fix: var names
  src/api/flaskr/api/llm/__init__.py
Due: none

feat: add allowed llm display config (#1111)
  docker/.env.example.full
  src/api/flaskr/api/llm/__init__.py
  src/api/flaskr/common/config.py
  src/api/flaskr/service/llm/route.py
  src/cook-web/src/components/model-list/ModelList.tsx
  src/cook-web/src/store/useShifu.tsx
  src/cook-web/src/types/shifu.ts
Due: prettier-cook-web, eslint

update demo course
  src/api/demo_shifus/cn_demo.json
Due: none

feat: update demo course content and titles
  src/api/demo_shifus/cn_demo.json
Due: none

Update src/api/demo_shifus/cn_demo.json
  src/api/demo_shifus/cn_demo.json
Due: none

feat: update demo course content and titles (#1117)
  src/api/demo_shifus/cn_demo.json
Due: none

feat: expose current mdflow to preview refresh
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/store/useShifu.tsx
  src/cook-web/src/types/shifu.ts
Due: prettier-cook-web, eslint

fix: guard oauth init against stale tokens
  src/cook-web/src/store/useUserStore.ts
Due: prettier-cook-web, eslint

fix: guard oauth init against stale tokens (#1119)
  src/cook-web/src/store/useUserStore.ts
Due: prettier-cook-web, eslint

fix: pr advice
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
Due: prettier-cook-web, eslint
