Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

refactor: remove legacy MDF frontend env vars and language validation
  src/api/flaskr/service/gen_mdf/route.py
  src/cook-web/src/c-store/envStore.ts
  src/cook-web/src/c-types/store.ts
  src/cook-web/src/components/mdf-convert/design.md
  src/cook-web/src/config/environment.ts
Due: prettier-cook-web, eslint

feat: add Beta badge to MDF convert dialog title
  src/cook-web/src/components/mdf-convert/MdfConvertDialog.tsx
Due: prettier-cook-web, eslint

feat: replace MDF config warning toast with persistent in-dialog message
  src/cook-web/src/components/mdf-convert/MdfConvertDialog.tsx
  src/cook-web/src/config/environment.ts
  src/i18n/en-US/components/mdf-convert.json
  src/i18n/zh-CN/components/mdf-convert.json
Due: prettier-cook-web, eslint

fix: address PR review comments for MDF conversion feature
  src/api/flaskr/common/config.py
  src/api/flaskr/service/gen_mdf/route.py
  src/cook-web/src/components/mdf-convert/MdfConvertDialog.tsx
Due: prettier-cook-web, eslint

fix: pin cook-web prettier version
  .pre-commit-config.yaml
  src/cook-web/src/components/legals/EnAgreement.mdx
Due: none

refactor: replace toast with inline button feedback for copy action in MDF convert dialog
  src/cook-web/src/components/mdf-convert/MdfConvertDialog.tsx
  src/i18n/en-US/components/mdf-convert.json
  src/i18n/zh-CN/components/mdf-convert.json
Due: prettier-cook-web, eslint

Revert "fix: handle ios keyboard viewport shift on c page"
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

chore: bump prettier to 3.7.4
  .pre-commit-config.yaml
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/components/legals/EnAgreement.mdx
Due: prettier-cook-web

fix: ui
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/page.module.css
  src/cook-web/src/app/c/[[...id]]/page.module.scss
  src/cook-web/src/app/c/layout.css
  src/cook-web/src/app/c/layout.tsx
  src/cook-web/src/hooks/useViewportHeight.ts
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/layout.css
  src/cook-web/src/hooks/useViewportHeight.ts
Due: prettier-cook-web, eslint

fix
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
Due: prettier-cook-web, eslint

fix: align cook-web prettier hook with ci (#1241)
  .pre-commit-config.yaml
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/components/legals/EnAgreement.mdx
Due: prettier-cook-web

refactor: consolidate tts oss and audio playback
  docker/.env.example.full
  src/api/flaskr/api/tts/__init__.py
  src/api/flaskr/common/config.py
  src/api/flaskr/service/common/oss_utils.py
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/resource/models.py
  src/api/flaskr/service/shifu/funcs.py
  src/api/flaskr/service/tts/audio_utils.py
  src/api/flaskr/service/tts/pipeline.py
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/flaskr/service/tts/tts_handler.py
  src/api/flaskr/service/user/user.py
  src/cook-web/src/c-utils/audio-utils.ts
  src/cook-web/src/components/audio/AudioPlayer.tsx
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/lib/audio-playback.ts
Due: prettier-cook-web, eslint

fix: resume audio playback after pause
  src/cook-web/src/components/audio/AudioPlayer.tsx
  src/cook-web/src/lib/audio-playback.ts
Due: prettier-cook-web, eslint

fix: disable scroll
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

feat: simplify admin order payment details
  src/api/flaskr/service/order/admin.py
  src/cook-web/src/components/order/OrderDetailSheet.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/order.json
  src/i18n/zh-CN/modules/order.json
Due: prettier-cook-web, eslint

fix: revert
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

feat: add shifu archive feature
  docker/docker-compose.dev.yml
  src/api/flaskr/service/shifu/dtos.py
  src/api/flaskr/service/shifu/models.py
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/api/migrations/versions/a4d68cce5ce6_add_demo_shifu.py
  src/api/migrations/versions/dc61b7d3e0c0_add_shifu_archive_fields.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/page.tsx
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/types/shifu.ts
  src/i18n/en-US/common/core.json
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/zh-CN/common/core.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: prettier-cook-web, eslint

fix: normalize shifu tts speed increments
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

fix: hide tts controls for interaction blocks
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
Due: prettier-cook-web, eslint

fix: only enable tts controls on content blocks
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

fix: delay tts controls until block completes
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix: gate tts player until text output completes
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix: coerce tts autoplay flags to boolean
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

fix: disable tts sliders at bounds
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

chore: align tts inputs to text
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

feat: allow manual tts tuning inputs
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

fix: clamp manual pitch input
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

chore: sync shifu setting with dev02
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

chore: reorganize MDF translation namespace and improve validation script
  scripts/check_translation_usage.py
  src/api/flaskr/service/gen_mdf/funcs.py
  src/api/flaskr/service/gen_mdf/route.py
  src/i18n/en-US/common/errors.json
  src/i18n/en-US/modules/backend/gen-mdf.json
  src/i18n/locales.json
  src/i18n/zh-CN/common/errors.json
  src/i18n/zh-CN/modules/backend/gen-mdf.json
Due: none

fix: bypass trial login in preview mode (#1236)
  src/api/flaskr/service/learn/context_v2.py
Due: none

Remove note about gen_mdf route registration
  src/api/flaskr/route/__init__.py
Due: none

chore: consolidate tts migrations
  src/api/migrations/versions/9f1183de9d1f_add_tts_audio_and_shifu_tts_config.py
  src/api/migrations/versions/b5f2d3a9c1e4_update_tts_ranges_and_provider_defaults.py
  src/api/migrations/versions/c61409972e4a_add_tts_config_fields_to_shifu_tables.py
  src/api/migrations/versions/e34eeaec3402_add_tts_provider_field_to_shifu_tables.py
  src/api/migrations/versions/f45bc12a8e91_add_tts_model_field_to_shifu_tables.py
Due: none

feat: add MDF (MarkdownFlow) AI conversion feature (#1240)
  AGENTS.md
  docker/.env.example.full
  scripts/check_translation_usage.py
  src/api/flaskr/common/config.py
  src/api/flaskr/route/config.py
  src/api/flaskr/service/gen_mdf/__init__.py
  src/api/flaskr/service/gen_mdf/funcs.py
  src/api/flaskr/service/gen_mdf/route.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/components/mdf-convert/MdfConvertDialog.tsx
  src/cook-web/src/components/mdf-convert/index.ts
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/i18n/en-US/common/core.json
  src/i18n/en-US/components/mdf-convert.json
  src/i18n/en-US/modules/backend/gen-mdf.json
  src/i18n/locales.json
  src/i18n/zh-CN/common/core.json
  src/i18n/zh-CN/components/mdf-convert.json
  src/i18n/zh-CN/modules/backend/gen-mdf.json
Due: prettier-cook-web, eslint

fix: update MDF API endpoint path from /gen/v1/text2mdf to /v1/text2mdf
  src/api/flaskr/service/gen_mdf/funcs.py
Due: none

fix: update MDF API endpoint path (#1245)
  src/api/flaskr/service/gen_mdf/funcs.py
Due: none

fix: restore tts migrations and demo import
  src/api/migrations/versions/9f1183de9d1f_add_tts_audio_and_shifu_tts_config.py
  src/api/migrations/versions/a4d68cce5ce6_add_demo_shifu.py
  src/api/migrations/versions/b5f2d3a9c1e4_update_tts_ranges_and_provider_defaults.py
  src/api/migrations/versions/c61409972e4a_add_tts_config_fields_to_shifu_tables.py
  src/api/migrations/versions/e2da58b20960_add_learn_generated_audios_table_for_tts.py
  src/api/migrations/versions/e34eeaec3402_add_tts_provider_field_to_shifu_tables.py
  src/api/migrations/versions/f45bc12a8e91_add_tts_model_field_to_shifu_tables.py
Due: none
