Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

fix: guard invalid date values in umami tracking
  src/cook-web/src/c-common/tools/tracking.ts
Due: prettier-cook-web, eslint

fix: tighten and cap umami tracking payloads
  src/cook-web/src/c-common/hooks/useTracking.ts
  src/cook-web/src/c-common/tools/tracking.ts
Due: prettier-cook-web, eslint

fix: stop auto-advance after lesson feedback modal actions
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

feat: add-dashboard-course-detail-page-shell
  src/cook-web/src/app/admin/dashboard/[shifu_bid]/page.test.tsx
  src/cook-web/src/app/admin/dashboard/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/dashboard/admin-dashboard-routes.ts
  src/cook-web/src/app/admin/dashboard/dashboard-course-table-row.tsx
  src/cook-web/src/app/admin/dashboard/page.test.tsx
  src/cook-web/src/app/admin/dashboard/page.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/dashboard.json
  src/i18n/zh-CN/modules/dashboard.json
Due: prettier-cook-web, eslint

feat: polish dashboard detail placeholders
  src/cook-web/src/app/admin/dashboard/[shifu_bid]/page.test.tsx
  src/cook-web/src/app/admin/dashboard/[shifu_bid]/page.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/dashboard.json
  src/i18n/zh-CN/modules/dashboard.json
Due: prettier-cook-web, eslint

refactor: normalize dashboard component naming
  src/cook-web/src/app/admin/dashboard/dashboardCourseTableRow.tsx
  src/cook-web/src/app/admin/dashboard/page.test.tsx
  src/cook-web/src/app/admin/dashboard/page.tsx
Due: prettier-cook-web, eslint

feat: add course detail summary section
  src/api/flaskr/service/dashboard/dtos.py
  src/api/flaskr/service/dashboard/funcs.py
  src/api/flaskr/service/dashboard/routes.py
  src/api/tests/service/dashboard/test_dashboard_routes.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/dashboard/[shifu_bid]/page.test.tsx
  src/cook-web/src/app/admin/dashboard/[shifu_bid]/page.tsx
  src/cook-web/src/types/dashboard.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/dashboard.json
  src/i18n/zh-CN/modules/dashboard.json
Due: prettier-cook-web, eslint

fix: correct dev compose i18n mount path
  docker/docker-compose.dev.yml
Due: none

fix: default home url to root path (#1440)
  docker/.env.example.full
  src/api/flaskr/common/config.py
  src/api/flaskr/route/config.py
  src/cook-web/src/app/page.tsx
  src/cook-web/src/c-components/logo/LogoWithText.tsx
  src/cook-web/src/config/environment.ts
  src/cook-web/src/lib/initializeEnvData.ts
Due: prettier-cook-web, eslint

fix: align dashboard detail links and timezone display
  src/api/flaskr/service/dashboard/dtos.py
  src/api/flaskr/service/dashboard/funcs.py
  src/api/flaskr/service/dashboard/routes.py
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
  src/api/flaskr/util/timezone.py
  src/api/tests/service/dashboard/test_dashboard_routes.py
  src/cook-web/src/app/admin/dashboard/[shifu_bid]/page.test.tsx
  src/cook-web/src/app/admin/dashboard/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/dashboard/dashboardCourseTableRow.tsx
  src/cook-web/src/app/admin/dashboard/page.test.tsx
  src/cook-web/src/app/admin/dashboard/page.tsx
  src/cook-web/src/lib/browser-timezone.ts
  src/cook-web/src/types/dashboard.ts
  src/i18n/en-US/modules/dashboard.json
  src/i18n/zh-CN/modules/dashboard.json
Due: prettier-cook-web, eslint

fix: correct dev compose i18n mount path (#1439)
  docker/docker-compose.dev.yml
Due: none

fix(order): 修复 Ping++ 支付 body 含换行导致下单失败 (#1431)
  src/api/flaskr/service/order/funs.py
Due: none

feat: add course detail summary section (#1438)
  src/api/flaskr/service/dashboard/dtos.py
  src/api/flaskr/service/dashboard/funcs.py
  src/api/flaskr/service/dashboard/routes.py
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
  src/api/flaskr/util/timezone.py
  src/api/tests/service/dashboard/test_dashboard_routes.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/dashboard/[shifu_bid]/page.test.tsx
  src/cook-web/src/app/admin/dashboard/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/dashboard/dashboardCourseTableRow.tsx
  src/cook-web/src/app/admin/dashboard/page.test.tsx
  src/cook-web/src/app/admin/dashboard/page.tsx
  src/cook-web/src/lib/browser-timezone.ts
  src/cook-web/src/types/dashboard.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/dashboard.json
  src/i18n/zh-CN/modules/dashboard.json
Due: prettier-cook-web, eslint

fix: restore lesson-end interactions after feedback
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_context_v2.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
Due: prettier-cook-web, eslint

test: cover completion tail next-only branch
  src/api/tests/service/learn/test_context_v2.py
Due: none

fix: restore lesson-end cta interactions after feedback (#1442)
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_context_v2.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
Due: prettier-cook-web, eslint

fix(listen-mode): wake player from iframe sandbox interactions
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
Due: prettier-cook-web, eslint

fix(listen-mode): wake player from iframe sandbox interactions (#1443)
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
Due: prettier-cook-web, eslint

feat: add environment detection and payment guidance functions for Weixin Mini Programs
  src/cook-web/src/app/c/[[...id]]/Components/Pay/MiniProgramPayGuide.tsx
  src/cook-web/src/app/c/[[...id]]/layout.tsx
  src/cook-web/src/app/c/[[...id]]/page.tsx
  src/cook-web/src/c-constants/uiConstants.ts
  src/i18n/en-US/modules/pay.json
  src/i18n/zh-CN/modules/pay.json
Due: prettier-cook-web, eslint

feat: add environment detection and payment guidance functions for We… (#1445)
  src/cook-web/src/app/c/[[...id]]/Components/Pay/MiniProgramPayGuide.tsx
  src/cook-web/src/app/c/[[...id]]/layout.tsx
  src/cook-web/src/app/c/[[...id]]/page.tsx
  src/cook-web/src/c-constants/uiConstants.ts
  src/i18n/en-US/modules/pay.json
  src/i18n/zh-CN/modules/pay.json
Due: prettier-cook-web, eslint

feat: the payment component on the course page is changed to dynamic import
  src/cook-web/src/app/c/[[...id]]/page.tsx
Due: prettier-cook-web, eslint

feat: the payment component on the course page is changed to dynamic import (#1446)
  src/cook-web/src/app/c/[[...id]]/page.tsx
Due: prettier-cook-web, eslint

fix: use img width in listen mode
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
Due: prettier-cook-web

fix: use img width in listen mode (#1447)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
Due: prettier-cook-web

fix: guard unsupported iOS clients and replace findLast
  src/cook-web/public/unsupported-browser.html
  src/cook-web/src/app/c/[[...id]]/hooks/useLessonTree.ts
  src/cook-web/src/lib/request.ts
  src/cook-web/src/middleware.ts
Due: prettier-cook-web, eslint

fix: address PR feedback for iOS compatibility patch
  src/cook-web/public/unsupported-browser.html
  src/cook-web/src/__tests__/middleware.test.ts
  src/cook-web/src/app/c/[[...id]]/hooks/useLessonTree.ts
  src/cook-web/src/lib/request.ts
Due: prettier-cook-web, eslint

fix: localize unsupported-browser fallback page
  src/cook-web/public/unsupported-browser.html
  src/cook-web/src/__tests__/middleware.test.ts
  src/cook-web/src/app/unsupported-browser/page.tsx
  src/cook-web/src/middleware.ts
  src/i18n/en-US/common/core.json
  src/i18n/zh-CN/common/core.json
Due: prettier-cook-web, eslint

fix: sync i18n key types and tighten lesson tree typing
  src/cook-web/src/app/c/[[...id]]/hooks/useLessonTree.ts
  src/cook-web/src/types/i18n-keys.d.ts
Due: prettier-cook-web, eslint

fix: prevent learner crash on unsupported iOS (#1448)
  src/cook-web/src/__tests__/middleware.test.ts
  src/cook-web/src/app/c/[[...id]]/hooks/useLessonTree.ts
  src/cook-web/src/app/unsupported-browser/page.tsx
  src/cook-web/src/lib/request.ts
  src/cook-web/src/middleware.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/common/core.json
  src/i18n/zh-CN/common/core.json
Due: prettier-cook-web, eslint

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: switch listen mode learning renderer to direct Slide integration
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
Due: prettier-cook-web, eslint

fix: preserve mobile listen header height and center iframe slide content
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/page.module.scss
Due: prettier-cook-web, eslint

fix: keep mobile header above nav drawer and remove drawer top gap
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavDrawer.module.scss
  src/cook-web/src/app/c/[[...id]]/page.module.scss
Due: prettier-cook-web

fix: restore first-block audio after switching to listen mode
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
Due: prettier-cook-web, eslint

fix: update listen mode spacing for 80px slide player
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
Due: prettier-cook-web

fix: restore listen playback for first block after mode switch (#1449)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
Due: prettier-cook-web, eslint
