Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

fix: default system variable label to empty string
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

fix: clean unused refs and use merged preview variables
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

fix: resolve LessonPreview action conflict
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
Due: prettier-cook-web, eslint

fix: align preview variable visibility
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

fix: respect cross-chapter variable usage
  src/api/flaskr/service/profile/profile_manage.py
  src/api/flaskr/service/profile/routes.py
  src/api/tests/service/profile/test_profile.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/store/useShifu.tsx
  src/cook-web/src/types/shifu.ts
Due: prettier-cook-web, eslint

chore: remove unused shifu i18n keys
  src/i18n/en-US/modules/shifu.json
  src/i18n/zh-CN/modules/shifu.json
Due: none

test: add profile hide/restore route coverage
  src/api/migrations/versions/9f3a0c3aebe0_add_hidden_profile_item.py
  src/api/tests/service/profile/test_profile.py
  src/api/tests/service/profile/test_profile_routes.py
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

test: use test_client fixture for profile routes
  src/api/tests/service/profile/test_profile_routes.py
Due: none

test: simplify profile route client usage
  src/api/tests/service/profile/test_profile_routes.py
Due: none

chore: polish variable caching and tests
  src/api/tests/service/profile/test_profile_routes.py
  src/cook-web/src/components/lesson-preview/VariableList.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/store/useShifu.tsx
  src/cook-web/src/types/shifu.ts
Due: prettier-cook-web, eslint

chore: revert profile cache ttl to 5s
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

fix: bypass profile cache for preview parse
  src/cook-web/src/store/useShifu.tsx
  src/cook-web/src/types/shifu.ts
Due: prettier-cook-web, eslint

fix: avoid auto unhide variables not in mdflow
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

test: mock auth for profile routes
  src/api/tests/service/profile/test_profile_routes.py
Due: none

fix: harden profile variable handling
  src/api/flaskr/service/profile/profile_manage.py
  src/api/migrations/versions/9f3a0c3aebe0_add_hidden_profile_item.py
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

test: isolate profile routes from redis/auth
  src/api/tests/service/profile/test_profile_routes.py
Due: none

fix: correct shifu list pagination and cleanup logs
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/cook-web/src/app/admin/page.tsx
Due: prettier-cook-web, eslint

feat: add listen mode
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/c-store/useSystemStore.ts
  src/cook-web/src/c-types/store.ts
Due: prettier-cook-web, eslint

fix: adjust Chinese punctuation in useLearnerLanguageDescription
  src/i18n/zh-CN/modules/shifu-setting.json
Due: none

fix: address PR review comments for language adaptation feature
  src/api/migrations/versions/d7a8e2f1b3c9_add_use_learner_language.py
  src/i18n/en-US/modules/shifu-setting.json
Due: none

fix: handle wechat oauth hash in url params
  src/cook-web/src/c-utils/urlUtils.ts
Due: prettier-cook-web, eslint

fix: update i18n text for language adaptation feature
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: none

feat: add language adaption option to shifu settings (#1285)
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/shifu/dtos.py
  src/api/flaskr/service/shifu/models.py
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/api/flaskr/service/shifu/shifu_struct_manager.py
  src/api/migrations/versions/d7a8e2f1b3c9_add_use_learner_language.py
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: prettier-cook-web, eslint

chore: fix math import for pagination
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
Due: none

fix: correct shifu list pagination (#1286)
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/cook-web/src/app/admin/page.tsx
Due: prettier-cook-web, eslint

refactor: remove redis hard dependency (#1280)
  README.md
  README_ZH-CN.md
  docker/.env.example.full
  docker/docker-compose.dev.yml
  docker/docker-compose.latest.yml
  docker/docker-compose.yml
  src/api/flaskr/api/doc/feishu.py
  src/api/flaskr/common/cache_provider.py
  src/api/flaskr/common/config.py
  src/api/flaskr/common/shifu_context.py
  src/api/flaskr/dao/__init__.py
  src/api/flaskr/service/config/funcs.py
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/runscript_v2.py
  src/api/flaskr/service/order/funs.py
  src/api/flaskr/service/shifu/funcs.py
  src/api/flaskr/service/user/auth/providers/google.py
  src/api/flaskr/service/user/common.py
  src/api/flaskr/service/user/email_flow.py
  src/api/flaskr/service/user/phone_flow.py
  src/api/flaskr/service/user/token_store.py
  src/api/flaskr/service/user/utils.py
  src/api/tests/common/fixtures/config_data.py
  src/api/tests/common/test_config.py
  src/api/tests/common/test_config_enhanced.py
  src/api/tests/common/test_config_integration.py
  src/api/tests/service/order/test_order_init_lock.py
  src/api/tests/service/user/test_user_identify.py
  tasks.md
Due: none

feat: upgrade markdown-flow-ui version to 0.1.83
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatComponents.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
Due: prettier-cook-web

feat: upgrade markdown-flow-ui version to 0.1.83 (#1291)
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatComponents.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
Due: prettier-cook-web

chore: normalize profile cache ttl
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

fix: persist hidden variables locally
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

test: bypass auth in profile route specs
  src/api/tests/service/profile/test_profile_routes.py
Due: none

chore: update migration version
  src/api/migrations/versions/9f3a0c3aebe0_add_hidden_profile_item.py
Due: none

test: fix profile route tests
  src/api/tests/service/profile/test_profile_routes.py
Due: none

feat: improve variable hiding and prompt preview (#1279)
  src/api/flaskr/service/profile/dtos.py
  src/api/flaskr/service/profile/models.py
  src/api/flaskr/service/profile/profile_manage.py
  src/api/flaskr/service/profile/routes.py
  src/api/migrations/versions/9f3a0c3aebe0_add_hidden_profile_item.py
  src/api/tests/service/profile/__init__.py
  src/api/tests/service/profile/test_profile.py
  src/api/tests/service/profile/test_profile_routes.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/login/page.tsx
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/components/lesson-preview/VariableList.module.scss
  src/cook-web/src/components/lesson-preview/VariableList.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/store/useShifu.tsx
  src/cook-web/src/types/shifu.ts
  src/i18n/en-US/modules/shifu.json
  src/i18n/zh-CN/modules/shifu.json
Due: prettier-cook-web, eslint

fix: align previewParse return type
  src/cook-web/src/types/shifu.ts
Due: prettier-cook-web, eslint

fix: align preview parse type (#1293)
  src/cook-web/src/types/shifu.ts
Due: prettier-cook-web, eslint

feat: add tooltip to hide/show variables button
  src/cook-web/src/components/lesson-preview/VariableList.tsx
  src/i18n/en-US/modules/shifu.json
  src/i18n/zh-CN/modules/shifu.json
Due: prettier-cook-web, eslint
