Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

refactor: clarify promo and import errors (#2107)
  src/api/error_codes.json
  src/api/flaskr/service/order/admin.py
  src/api/flaskr/service/promo/admin.py
  src/api/tests/service/order/test_order_import_error_specificity.py
  src/api/tests/service/promo/test_promo_error_specificity.py
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/backend/discount.json
  src/i18n/en-US/modules/backend/order.json
  src/i18n/fr-FR/modules/backend/discount.json
  src/i18n/fr-FR/modules/backend/order.json
  src/i18n/zh-CN/modules/backend/discount.json
  src/i18n/zh-CN/modules/backend/order.json
Due: prettier-cook-web, eslint

refactor: clarify admin error displays
  src/cook-web/src/app/admin/dashboard/[shifu_bid]/follow-ups/page.tsx
  src/cook-web/src/app/admin/dashboard/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/dashboard/[shifu_bid]/ratings/page.tsx
  src/cook-web/src/app/admin/dashboard/page.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/follow-ups/page.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/ratings/page.tsx
  src/cook-web/src/app/admin/operations/orders/CreditOrderDetailDialog.tsx
  src/cook-web/src/app/admin/operations/orders/OperatorOrderDetailSheet.tsx
  src/cook-web/src/app/admin/operations/page.tsx
  src/cook-web/src/app/admin/orders/page.tsx
  src/cook-web/src/components/order/OrderDetailSheet.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/dashboard.json
  src/i18n/en-US/modules/operations-course.json
  src/i18n/en-US/modules/operations-order.json
  src/i18n/en-US/modules/order.json
  src/i18n/fr-FR/modules/dashboard.json
  src/i18n/fr-FR/modules/operations-course.json
  src/i18n/fr-FR/modules/operations-order.json
  src/i18n/fr-FR/modules/order.json
  src/i18n/zh-CN/modules/dashboard.json
  src/i18n/zh-CN/modules/operations-course.json
  src/i18n/zh-CN/modules/operations-order.json
  src/i18n/zh-CN/modules/order.json
Due: prettier-cook-web, eslint

style: normalize i18n module key order
  src/i18n/en-US/modules/operations-course.json
  src/i18n/en-US/modules/operations-order.json
  src/i18n/fr-FR/modules/operations-course.json
  src/i18n/fr-FR/modules/operations-order.json
  src/i18n/zh-CN/modules/operations-course.json
  src/i18n/zh-CN/modules/operations-order.json
Due: none

fix: soften listen thinking overlay
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
Due: prettier-cook-web

fix: retry transient url image download timeouts
  src/api/flaskr/service/shifu/funcs.py
  src/api/tests/service/shifu/test_upload_url_download_retry.py
Due: none

fix: align lesson update live region semantics
  src/cook-web/src/app/c/[[...id]]/Components/LessonUpdateNotice.tsx
Due: prettier-cook-web, eslint

chore: bump markdown-flow-ui to 0.2.1
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

chore: bump markdown-flow-ui to 0.2.1 (#2113)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

refactor: remove redundant slide text overrides
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/chat.json
  src/i18n/fr-FR/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

refactor: remove redundant slide text overrides (#2114)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/chat.json
  src/i18n/fr-FR/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

feat: add lesson PDF download
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/LessonPdfDownloadCard.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/LessonPdfDownloadCard.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/LessonPdfPreparingOverlay.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/LessonPdfPreparingOverlay.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/lessonPdfState.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/lessonPdfState.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useLessonPdfPrint.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useLessonPdfPrint.ts
  src/cook-web/src/app/c/[[...id]]/page.tsx
  src/cook-web/src/app/globals.css
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/chat.json
  src/i18n/fr-FR/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

fix: preserve sandbox content in lesson PDFs
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useLessonPdfPrint.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useLessonPdfPrint.ts
  src/cook-web/src/app/globals.css
Due: prettier-cook-web, eslint

refactor: rely on MarkdownFlow CJK fonts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useLessonPdfPrint.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useLessonPdfPrint.ts
  src/cook-web/src/app/globals.css
Due: prettier-cook-web, eslint

fix: discard failed follow-up streams
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
Due: prettier-cook-web, eslint

fix: derive lesson print layout path
  src/cook-web/src/app/globals.css
Due: prettier-cook-web

fix: track lesson rerun failures
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix: wait for final lesson PDF assets
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useLessonPdfPrint.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useLessonPdfPrint.ts
  src/cook-web/src/app/globals.css
Due: prettier-cook-web, eslint

fix: preserve lesson PDF learning context
  src/cook-web/src/__tests__/content-block-pay-interaction.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/lessonPdfState.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/lessonPdfState.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useLessonPdfPrint.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useLessonPdfPrint.ts
  src/cook-web/src/app/globals.css
  src/cook-web/src/c-components/ChatUi/ContentBlock.tsx
Due: prettier-cook-web, eslint

fix: compare ContentBlock render fields
  src/cook-web/src/__tests__/content-block-pay-interaction.test.tsx
  src/cook-web/src/c-components/ChatUi/ContentBlock.tsx
Due: prettier-cook-web, eslint

fix: disable typewriter during PDF preparation
  src/cook-web/src/__tests__/content-block-pay-interaction.test.tsx
  src/cook-web/src/c-components/ChatUi/ContentBlock.tsx
Due: prettier-cook-web, eslint

fix: preserve printed media aspect ratios
  src/cook-web/src/app/globals.css
Due: prettier-cook-web

fix: compare ContentBlock callbacks
  src/cook-web/src/__tests__/content-block-pay-interaction.test.tsx
  src/cook-web/src/c-components/ChatUi/ContentBlock.tsx
Due: prettier-cook-web, eslint

fix: close failed follow-up handlers
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
Due: prettier-cook-web, eslint

fix: preserve lesson PDF typography and layouts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useLessonPdfPrint.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useLessonPdfPrint.ts
  src/cook-web/src/app/globals.css
Due: prettier-cook-web, eslint

fix: complete lesson PDF preparation
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/lessonPdfState.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/lessonPdfState.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useLessonPdfPrint.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useLessonPdfPrint.ts
Due: prettier-cook-web, eslint

fix: unify CJK-safe host fonts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.test.tsx
  src/cook-web/src/app/c/layout.css
  src/cook-web/src/app/globals.css
Due: prettier-cook-web, eslint

feat: brand lesson PDF headers
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.lessonUpdateNotice.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/globals.css
  src/cook-web/src/c-components/logo/LogoWithText.tsx
  src/cook-web/src/c-components/logo/logoSource.ts
Due: prettier-cook-web, eslint

fix: wait for video assets before lesson printing
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useLessonPdfPrint.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useLessonPdfPrint.ts
Due: prettier-cook-web, eslint

fix: seed renewal uow tests with utc clock
  src/api/tests/service/billing/test_renewal_uow_failure_paths.py
Due: none

fix: wait for source stylesheets before lesson printing
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useLessonPdfPrint.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useLessonPdfPrint.ts
Due: prettier-cook-web, eslint

docs: record the main merge in the overhaul plan
  docs/exec-plans/active/backend-overhaul-master.md
Due: none

feat: move lesson PDF action to titlebar
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatComponents.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/LessonPdfDownloadButton.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/LessonPdfDownloadButton.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/LessonPdfDownloadCard.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/LessonPdfDownloadCard.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.lessonUpdateNotice.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/lessonPdfState.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/lessonPdfState.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/chat.json
  src/i18n/fr-FR/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

fix: preserve print-only content visibility
  src/cook-web/src/app/globals.css
Due: prettier-cook-web

fix: wait for PDF background images
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useLessonPdfPrint.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useLessonPdfPrint.ts
Due: prettier-cook-web, eslint

fix: neutralize lesson PDF snapshots
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useLessonPdfPrint.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useLessonPdfPrint.ts
Due: prettier-cook-web, eslint

test: clarify snapshot iframe assertion
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useLessonPdfPrint.test.tsx
Due: prettier-cook-web, eslint

fix: preserve sandbox URLs in lesson PDFs
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useLessonPdfPrint.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useLessonPdfPrint.ts
Due: prettier-cook-web, eslint

feat: add course QR code to lesson PDFs
  src/cook-web/src/__tests__/url-utils.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.lessonUpdateNotice.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/globals.css
  src/cook-web/src/c-utils/urlUtils.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/chat.json
  src/i18n/fr-FR/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

fix: strip credentials from course QR URLs
  src/cook-web/src/__tests__/url-utils.test.ts
  src/cook-web/src/c-utils/urlUtils.ts
Due: prettier-cook-web, eslint

feat: add desktop lesson PDF download (#2112)
  src/cook-web/src/__tests__/content-block-pay-interaction.test.tsx
  src/cook-web/src/__tests__/url-utils.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatComponents.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/LessonPdfDownloadButton.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/LessonPdfDownloadButton.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/LessonPdfPreparingOverlay.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/LessonPdfPreparingOverlay.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.lessonUpdateNotice.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/lessonPdfState.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/lessonPdfState.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useLessonPdfPrint.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useLessonPdfPrint.ts
  src/cook-web/src/app/c/[[...id]]/page.tsx
  src/cook-web/src/app/c/layout.css
  src/cook-web/src/app/globals.css
  src/cook-web/src/c-components/ChatUi/ContentBlock.tsx
  src/cook-web/src/c-components/logo/LogoWithText.tsx
  src/cook-web/src/c-components/logo/logoSource.ts
  src/cook-web/src/c-utils/urlUtils.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/chat.json
  src/i18n/fr-FR/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
