Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

fix: reduce google oauth interstitial (#1147)
  src/api/flaskr/service/user/auth/providers/google.py
Due: none

refactor: standardize terms dialog with AlertDialog component
  src/cook-web/src/components/auth/TermsConfirmDialog.tsx
  src/i18n/en-US/modules/auth.json
  src/i18n/zh-CN/modules/auth.json
Due: prettier-cook-web, eslint

fix: improve terms dialog styling and mobile responsiveness
  src/cook-web/src/components/auth/TermsConfirmDialog.tsx
Due: prettier-cook-web, eslint

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/components/lesson-preview/VariableList.module.css
  src/cook-web/src/components/lesson-preview/VariableList.module.scss
Due: prettier-cook-web

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: revert
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseSection.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseSection.tsx
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavHeader.module.css
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavHeader.module.scss
Due: prettier-cook-web, eslint

fix: revert
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseSection.module.css
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseSection.tsx
Due: prettier-cook-web, eslint

feat: update mdf-ui (#1148)
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/components/lesson-preview/VariableList.module.css
  src/cook-web/src/components/lesson-preview/VariableList.module.scss
Due: prettier-cook-web

feat: make google oauth endpoints configurable
  docker/.env.example.full
  src/api/flaskr/common/config.py
  src/api/flaskr/service/user/auth/providers/google.py
Due: none

feat: make google oauth endpoints configurable (#1149)
  docker/.env.example.full
  src/api/flaskr/common/config.py
  src/api/flaskr/service/user/auth/providers/google.py
Due: none

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/render-ui.json
  src/i18n/zh-CN/modules/render-ui.json
Due: prettier-cook-web, eslint

chore: remove svg loading text override in cook-web
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
  src/cook-web/src/types/i18n-keys.d.ts
Due: prettier-cook-web, eslint

fix: resolve PR review issues in terms confirmation dialog
  src/cook-web/src/app/login/page.tsx
  src/cook-web/src/components/auth/PhoneLogin.tsx
  src/cook-web/src/components/auth/TermsConfirmDialog.tsx
Due: prettier-cook-web, eslint

fix: auto focus ask input field
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
Due: prettier-cook-web, eslint

fix: cancel ask input focus raf
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
Due: prettier-cook-web, eslint

chore: update ask input comments
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
Due: prettier-cook-web, eslint

Update src/cook-web/src/components/auth/TermsConfirmDialog.tsx
  src/cook-web/src/components/auth/TermsConfirmDialog.tsx
Due: prettier-cook-web, eslint

fix: remove unused termsError translation key
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/auth.json
  src/i18n/zh-CN/modules/auth.json
Due: prettier-cook-web, eslint

feat: implement terms confirmation dialog for login flows (#1150)
  src/cook-web/src/app/login/page.tsx
  src/cook-web/src/components/auth/PhoneLogin.tsx
  src/cook-web/src/components/auth/TermsConfirmDialog.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/auth.json
  src/i18n/zh-CN/modules/auth.json
Due: prettier-cook-web, eslint

feat: add reusable MarkdownFlow link component with unified styling
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/components/ui/MarkdownFlowLink.tsx
  src/i18n/en-US/modules/shifu.json
  src/i18n/zh-CN/modules/shifu.json
Due: prettier-cook-web, eslint

feat: improve shifu debug area descriptions for clarity
  src/i18n/en-US/modules/shifu.json
Due: none

fix: change valid token to getex
  src/api/flaskr/service/user/common.py
Due: none

feat: implement text truncation for Learning Simulation description
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
Due: prettier-cook-web, eslint

fix: change description from p to span for proper inline display
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
Due: prettier-cook-web, eslint

fix: match Teaching Prompts layout for proper single-line display
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
Due: prettier-cook-web, eslint

feat: add hover tooltips for all description texts
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/components/lesson-preview/VariableList.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/components/ui/MarkdownFlowLink.tsx
Due: prettier-cook-web, eslint

fix: update teaching prompt model description
  src/i18n/en-US/modules/shifu.json
  src/i18n/zh-CN/modules/shifu.json
Due: none

feat: update the description
  src/i18n/en-US/modules/shifu.json
Due: none

fix: ensure umami identify before tracking
  src/cook-web/src/c-common/hooks/useTracking.ts
  src/cook-web/src/c-common/tools/tracking.ts
  src/cook-web/src/components/analytics/UmamiLoader.tsx
  src/cook-web/src/store/useUserStore.ts
Due: prettier-cook-web, eslint

fix: ensure umami identify before tracking (#1154)
  src/cook-web/src/c-common/hooks/useTracking.ts
  src/cook-web/src/c-common/tools/tracking.ts
  src/cook-web/src/components/analytics/UmamiLoader.tsx
  src/cook-web/src/store/useUserStore.ts
Due: prettier-cook-web, eslint

fix: change valid token to getex (#1153)
  src/api/flaskr/service/user/common.py
Due: none

feat: update ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: pr advice
  src/i18n/en-US/modules/render-ui.json
  src/i18n/zh-CN/modules/render-ui.json
Due: none

feat: update mdf-ui (#1156)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: avoid duplicating system variables in custom list
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
