Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

feat: ui upgrade (#1044)
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatComponents.module.scss
  src/cook-web/src/app/globals.css
  src/cook-web/src/components/lesson-preview/LessonPreview.module.css
  src/cook-web/src/components/lesson-preview/LessonPreview.module.scss
  src/i18n/en-US/common/core.json
  src/i18n/en-US/modules/render-ui.json
  src/i18n/qps-ploc/modules/render-ui.json
  src/i18n/zh-CN/common/core.json
  src/i18n/zh-CN/modules/render-ui.json
Due: prettier-cook-web, eslint

feat: add wechat pay and alipay to stripe
  src/api/flaskr/service/order/payment_providers/stripe.py
Due: none

fix: use inter font as global english font
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/globals.css
Due: prettier-cook-web

fix: use inter font as global english font (#1045)
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/globals.css
Due: prettier-cook-web

fix: font-family ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/globals.css
Due: prettier-cook-web

fix: editor font ui (#1046)
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/globals.css
Due: prettier-cook-web

fix: keep chat container within viewport height
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
Due: prettier-cook-web

fix: ui
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
Due: prettier-cook-web

fix: disable long press overlay while scrolling
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

fix: disable long press during chat streaming
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix: revert scroll
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

feat(chatui): prevent long press overlay while scrolling
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

fix: revert
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

fix
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

fix: prevent chapter lesson prompt clearing when closing settings sheet
  src/cook-web/src/components/chapter-setting/ChapterSetting.tsx
Due: prettier-cook-web, eslint

fix: prompt lose
  src/cook-web/src/components/chapter-setting/ChapterPromptSetting.tsx
Due: prettier-cook-web, eslint

fix: prevent chapter lesson prompt clearing when closing settings sheet (#1047)
  src/cook-web/src/components/chapter-setting/ChapterPromptSetting.tsx
  src/cook-web/src/components/chapter-setting/ChapterSetting.tsx
Due: prettier-cook-web, eslint

chore: replace hsl colors with hex theme variables
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.scss
  src/cook-web/src/app/globals.css
  src/cook-web/tailwind.config.ts
Due: prettier-cook-web, eslint

fix: pr advice
  src/cook-web/src/app/globals.css
Due: prettier-cook-web

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

chore: set ADMIN_LOGIN_GRANT_CREATOR_WITH_DEMO true
  docker/.env.example.full
  src/api/flaskr/common/config.py
Due: none

chore: normalize env config handling (#1042)
  docker/.env.example.full
  src/api/app.py
  src/api/flaskr/common/config.py
  src/api/tests/__init__.py
  src/api/tests/common/fixtures/config_data.py
  src/api/tests/common/test_config.py
  src/api/tests/common/test_config_enhanced.py
  src/api/tests/common/test_config_integration.py
  src/api/tests/conftest.py
Due: none

feat: add script pay methods config
  docker/.env.example.full
  src/api/flaskr/common/config.py
  src/api/flaskr/service/order/payment_providers/stripe.py
Due: none

chore: remove unuse if
  src/api/flaskr/service/order/payment_providers/stripe.py
Due: none

chore: add stripe pay methods config (#1049)
  docker/.env.example.full
  src/api/flaskr/common/config.py
  src/api/flaskr/service/order/payment_providers/stripe.py
Due: none

feat: add gemini provider
  docker/.env.example.full
  src/api/flaskr/api/llm/__init__.py
  src/api/flaskr/common/config.py
  src/api/tests/common/test_config_integration.py
Due: none

fix: set openai provider hint for gpt models
  src/api/flaskr/api/llm/__init__.py
Due: none

fix: set openai provider hint for gpt models (#1051)
  src/api/flaskr/api/llm/__init__.py
Due: none

fix: auto load gemini models
  src/api/flaskr/api/llm/__init__.py
  src/api/flaskr/common/config.py
Due: none

chore: replace hsl colors with hex theme variables (#1048)
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.scss
  src/cook-web/src/app/globals.css
  src/cook-web/tailwind.config.ts
Due: prettier-cook-web, eslint

fix: remove gemini model alias
  src/api/flaskr/api/llm/__init__.py
Due: none

feat: add gemini provider (#1050)
  docker/.env.example.full
  src/api/flaskr/api/llm/__init__.py
  src/api/flaskr/common/config.py
  src/api/tests/common/test_config_integration.py
Due: none

fix: set UNIVERSAL_VERIFICATION_CODE to optional
  src/api/flaskr/common/config.py
Due: none

fix: set UNIVERSAL_VERIFICATION_CODE to optional (#1052)
  src/api/flaskr/common/config.py
Due: none

fix: mdf-ui version
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: strip streaming markers from mermaid blocks
  src/cook-web/src/c-utils/markdownUtils.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/chat.json
  src/i18n/qps-ploc/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

fix
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: ui
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.scss
  src/i18n/en-US/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
