Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

feat: add learning page debug console for auth recovery tracing
  src/cook-web/SKILL.md
  src/cook-web/src/app/c/[[...id]]/hooks/useLessonTree.ts
  src/cook-web/src/app/c/[[...id]]/layout.tsx
  src/cook-web/src/app/c/[[...id]]/page.tsx
  src/cook-web/src/c-utils/debugConsole.ts
  src/cook-web/src/components/debug/DebugConsoleOverlay.tsx
  src/cook-web/src/lib/request.ts
  src/cook-web/src/store/useUserStore.ts
Due: prettier-cook-web, eslint

feat: add learning page debug console for auth recovery tracing (#1727)
  src/cook-web/SKILL.md
  src/cook-web/src/app/c/[[...id]]/hooks/useLessonTree.ts
  src/cook-web/src/app/c/[[...id]]/layout.tsx
  src/cook-web/src/app/c/[[...id]]/page.tsx
  src/cook-web/src/c-utils/debugConsole.ts
  src/cook-web/src/components/debug/DebugConsoleOverlay.tsx
  src/cook-web/src/lib/request.ts
  src/cook-web/src/store/useUserStore.ts
Due: prettier-cook-web, eslint

feat: enrich learner debug logs with http status and business codes
  src/cook-web/src/app/c/[[...id]]/hooks/useLessonTree.ts
  src/cook-web/src/app/c/[[...id]]/layout.tsx
  src/cook-web/src/components/debug/DebugConsoleOverlay.tsx
  src/cook-web/src/lib/request.ts
  src/cook-web/src/store/useUserStore.ts
Due: prettier-cook-web, eslint

feat: enrich learner debug logs with http status and business codes (#1728)
  src/cook-web/src/app/c/[[...id]]/hooks/useLessonTree.ts
  src/cook-web/src/app/c/[[...id]]/layout.tsx
  src/cook-web/src/components/debug/DebugConsoleOverlay.tsx
  src/cook-web/src/lib/request.ts
  src/cook-web/src/store/useUserStore.ts
Due: prettier-cook-web, eslint

fix: validate tts audio before upload
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/tts/audio_utils.py
  src/api/flaskr/service/tts/pipeline.py
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/flaskr/service/tts/subtitle_utils.py
  src/api/tests/service/learn/test_generated_block_tts_av_mode.py
  src/api/tests/service/tts/test_audio_utils.py
  src/api/tests/service/tts/test_minimax_http_streaming.py
  src/api/tests/service/tts/test_streaming_tts_subtitles.py
Due: none

fix: validate TTS audio before upload (#1729)
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/tts/audio_utils.py
  src/api/flaskr/service/tts/pipeline.py
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/flaskr/service/tts/subtitle_utils.py
  src/api/tests/service/learn/test_generated_block_tts_av_mode.py
  src/api/tests/service/tts/test_audio_utils.py
  src/api/tests/service/tts/test_minimax_http_streaming.py
  src/api/tests/service/tts/test_streaming_tts_subtitles.py
Due: none

fix: use public origin for course links
  docker/nginx.conf
  docker/nginx.dev.conf
  src/api/flaskr/service/shifu/route.py
  src/api/tests/service/shifu/test_shifu_public_urls.py
Due: none

fix: course link HTTPS origins (#1730)
  docker/nginx.conf
  docker/nginx.dev.conf
  src/api/flaskr/service/shifu/route.py
  src/api/tests/service/shifu/test_shifu_public_urls.py
Due: none

feat: add preview mode banner inside course page headers
  src/cook-web/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/PreviewHeaderBanner.tsx
  src/cook-web/src/app/c/[[...id]]/page.module.scss
  src/cook-web/src/app/c/[[...id]]/page.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/preview.json
  src/i18n/zh-CN/modules/preview.json
Due: prettier-cook-web, eslint

feat: center preview banner text and update its sky theme
  src/cook-web/src/app/c/[[...id]]/Components/PreviewHeaderBanner.tsx
Due: prettier-cook-web, eslint

feat: add preview mode banner inside course page headers (#1731)
  src/cook-web/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/PreviewHeaderBanner.tsx
  src/cook-web/src/app/c/[[...id]]/page.module.scss
  src/cook-web/src/app/c/[[...id]]/page.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/preview.json
  src/i18n/zh-CN/modules/preview.json
Due: prettier-cook-web, eslint

Revert "fix: validate TTS audio before upload (#1729)"
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/tts/audio_utils.py
  src/api/flaskr/service/tts/pipeline.py
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/flaskr/service/tts/subtitle_utils.py
  src/api/tests/service/learn/test_generated_block_tts_av_mode.py
  src/api/tests/service/tts/test_audio_utils.py
  src/api/tests/service/tts/test_minimax_http_streaming.py
  src/api/tests/service/tts/test_streaming_tts_subtitles.py
Due: none

revert: fix: validate TTS audio before upload (#1732)
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/tts/audio_utils.py
  src/api/flaskr/service/tts/pipeline.py
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/flaskr/service/tts/subtitle_utils.py
  src/api/tests/service/learn/test_generated_block_tts_av_mode.py
  src/api/tests/service/tts/test_audio_utils.py
  src/api/tests/service/tts/test_minimax_http_streaming.py
  src/api/tests/service/tts/test_streaming_tts_subtitles.py
Due: none

fix learn sse db session cleanup
  docker/docker-compose.dev.yml
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/routes.py
  src/api/flaskr/service/learn/runscript_v2.py
  src/api/tests/service/learn/test_context_v2.py
  src/api/tests/service/learn/test_runscript_v2_lock.py
  src/api/tests/service/learn/test_runtime_tts_admission.py
Due: none

fix: learn SSE DB session cleanup (#1734)
  docker/docker-compose.dev.yml
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/routes.py
  src/api/flaskr/service/learn/runscript_v2.py
  src/api/tests/service/learn/test_context_v2.py
  src/api/tests/service/learn/test_runscript_v2_lock.py
  src/api/tests/service/learn/test_runtime_tts_admission.py
Due: none

feat: enable typewriter for streaming text elements in read mode
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/skills/chat-element-streaming/SKILL.md
  src/cook-web/src/__tests__/content-block-pay-interaction.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/c-components/ChatUi/ContentBlock.tsx
Due: prettier-cook-web, eslint

fix: disable TTS for follow-up asks
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/runscript_v2.py
  src/api/tests/service/learn/test_context_v2.py
  src/api/tests/service/learn/test_runscript_v2_lock.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
Due: prettier-cook-web, eslint

feat: Upgrade markdown-flow-ui component dependency package
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

show LLM credit multipliers in model list
  src/api/flaskr/api/llm/__init__.py
  src/api/tests/test_llm.py
  src/cook-web/src/components/model-list/ModelList.test.tsx
  src/cook-web/src/components/model-list/ModelList.tsx
  src/cook-web/src/store/modelOptions.test.ts
  src/cook-web/src/store/modelOptions.ts
  src/cook-web/src/store/useShifu.tsx
  src/cook-web/src/types/shifu.ts
Due: prettier-cook-web, eslint

feat: Upgrade markdown-flow-ui component dependency package (#1736)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

adjust model multiplier badge display
  docs/update-production-llm-credit-rates-20260511.sql
  src/cook-web/src/components/model-list/ModelList.test.tsx
  src/cook-web/src/components/model-list/ModelList.tsx
  src/cook-web/src/components/ui/Select.tsx
Due: prettier-cook-web, eslint

fix: Disable TTS for follow-up asks (#1735)
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/runscript_v2.py
  src/api/tests/service/learn/test_context_v2.py
  src/api/tests/service/learn/test_runscript_v2_lock.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
Due: prettier-cook-web, eslint

align model multiplier select layout
  src/cook-web/src/components/model-list/ModelList.test.tsx
  src/cook-web/src/components/model-list/ModelList.tsx
  src/cook-web/src/components/ui/Select.tsx
Due: prettier-cook-web, eslint

stop tracking production rate SQL
  docs/update-production-llm-credit-rates-20260511.sql
Due: none

feat: show LLM credit multipliers in model list (#1737)
  src/api/flaskr/api/llm/__init__.py
  src/api/tests/test_llm.py
  src/cook-web/src/components/model-list/ModelList.test.tsx
  src/cook-web/src/components/model-list/ModelList.tsx
  src/cook-web/src/components/ui/Select.tsx
  src/cook-web/src/store/modelOptions.test.ts
  src/cook-web/src/store/modelOptions.ts
  src/cook-web/src/store/useShifu.tsx
  src/cook-web/src/types/shifu.ts
Due: prettier-cook-web, eslint

chore: Update markdown-flow dependent versions
  src/api/requirements.txt
Due: none

fix TTS concat zero crossfade
  src/api/flaskr/service/tts/audio_utils.py
  src/api/tests/service/tts/test_audio_utils.py
Due: none

fix: TTS concat zero crossfade (#1739)
  src/api/flaskr/service/tts/audio_utils.py
  src/api/tests/service/tts/test_audio_utils.py
Due: none

fix: raise dropdown menu layer inside dialogs
  src/cook-web/src/components/ui/DropdownMenu.tsx
Due: prettier-cook-web, eslint

fix: keep shared-permission dropdown above dialogs (#1740)
  src/cook-web/src/components/ui/DropdownMenu.tsx
Due: prettier-cook-web, eslint

Aichy/fix scroll bar 250510 (#1738)
  src/api/requirements.txt
Due: none

fix TTS invalid MiniMax stream audio fallback
  src/api/flaskr/service/tts/audio_utils.py
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/tests/service/tts/test_audio_utils.py
  src/api/tests/service/tts/test_minimax_http_streaming.py
Due: none

fix: reactivate reused expired credit buckets
  src/api/flaskr/service/billing/subscriptions.py
  src/api/tests/service/billing/test_billing_write_routes.py
Due: none

feat: add billing bucket status repair command
  src/api/flaskr/service/billing/cli.py
  src/api/flaskr/service/billing/wallets.py
  src/api/tests/service/billing/test_billing_cli.py
  src/api/tests/service/billing/test_billing_wallet_lifecycle.py
Due: none

test: derive repaired bucket cycle end dynamically
  src/api/tests/service/billing/test_billing_write_routes.py
Due: none

test: avoid fixed future bucket expiry in billing repair
  src/api/tests/service/billing/test_billing_wallet_lifecycle.py
Due: none

fix: reactivate reused expired credit buckets (#1742)
  src/api/flaskr/service/billing/cli.py
  src/api/flaskr/service/billing/subscriptions.py
  src/api/flaskr/service/billing/wallets.py
  src/api/tests/service/billing/test_billing_cli.py
  src/api/tests/service/billing/test_billing_wallet_lifecycle.py
  src/api/tests/service/billing/test_billing_write_routes.py
Due: none

fix: TTS invalid MiniMax stream audio fallback (#1741)
  src/api/flaskr/service/tts/audio_utils.py
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/tests/service/tts/test_audio_utils.py
  src/api/tests/service/tts/test_minimax_http_streaming.py
Due: none

feat: add creator-analytics DSL query capabilities
  docker/.env.example.full
  docs/generated/architecture-boundary-baseline.json
  docs/generated/harness-health.md
  src/api/error_codes.json
  src/api/flaskr/common/config.py
  src/api/flaskr/route/__init__.py
  src/api/flaskr/route/creator_analytics.py
  src/api/flaskr/service/creator_analytics/__init__.py
  src/api/flaskr/service/creator_analytics/dsl.py
  src/api/flaskr/service/creator_analytics/engine.py
  src/api/flaskr/service/creator_analytics/funcs.py
  src/api/flaskr/service/creator_analytics/sql_builder.py
  src/api/flaskr/service/creator_analytics/whitelist.py
  src/api/tests/service/creator_analytics/__init__.py
  src/api/tests/service/creator_analytics/conftest.py
  src/api/tests/service/creator_analytics/test_dsl.py
  src/api/tests/service/creator_analytics/test_query.py
  src/api/tests/service/creator_analytics/test_sql_builder.py
  src/api/tests/service/creator_analytics/test_whitelist.py
  src/i18n/en-US/modules/backend/creator-analytics.json
  src/i18n/locales.json
  src/i18n/zh-CN/modules/backend/creator-analytics.json
Due: none

feat(preview): add billing CTA for credit insufficient debug errors
  src/cook-web/SKILL.md
  src/cook-web/src/c-types/chatUi.ts
  src/cook-web/src/components/billing/BillingSidebarCard.tsx
  src/cook-web/src/components/lesson-preview/LessonPreview.test.tsx
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/components/lesson-preview/usePreviewChat.test.ts
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
  src/cook-web/src/lib/billingNavigation.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/shifu.json
  src/i18n/zh-CN/modules/shifu.json
Due: prettier-cook-web, eslint
