Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

fix(run): stream visual elements without listen mode (#1604)
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_context_v2.py
  src/api/tests/service/learn/test_listen_elements.py
Due: none

fix: avoid false draft conflict on lesson switch (#1605)
  src/cook-web/src/components/shifu-edit/ShifuEdit.test.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

feat: add operator credit orders to admin order management (#1595)
  src/api/flaskr/service/billing/api.py
  src/api/flaskr/service/billing/dtos.py
  src/api/flaskr/service/billing/read_models.py
  src/api/flaskr/service/billing/serializers.py
  src/api/flaskr/service/shifu/route.py
  src/api/tests/service/billing/test_operator_credit_orders.py
  src/api/tests/service/order/test_admin_orders.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/operations/operation-credit-order-helpers.ts
  src/cook-web/src/app/admin/operations/operation-credit-order-types.ts
  src/cook-web/src/app/admin/operations/orders/CreditOrderDetailDialog.tsx
  src/cook-web/src/app/admin/operations/orders/CreditOrdersTab.test.tsx
  src/cook-web/src/app/admin/operations/orders/CreditOrdersTab.tsx
  src/cook-web/src/app/admin/operations/orders/LearnOrdersTab.test.tsx
  src/cook-web/src/app/admin/operations/orders/LearnOrdersTab.tsx
  src/cook-web/src/app/admin/operations/orders/orderTabs.ts
  src/cook-web/src/app/admin/operations/orders/orderUiShared.tsx
  src/cook-web/src/app/admin/operations/orders/page.test.tsx
  src/cook-web/src/app/admin/operations/orders/page.tsx
  src/i18n/en-US/modules/operations-order.json
  src/i18n/zh-CN/modules/operations-order.json
Due: prettier-cook-web, eslint

feat: enhance operator course management table
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_dtos.py
  src/api/tests/service/shifu/test_admin_courses.py
  src/cook-web/src/app/admin/operations/operation-course-types.ts
  src/cook-web/src/app/admin/operations/page.test.tsx
  src/cook-web/src/app/admin/operations/page.tsx
  src/i18n/en-US/modules/operations-course.json
  src/i18n/zh-CN/modules/operations-course.json
Due: prettier-cook-web, eslint

Revert "fix(run): stream visual elements without listen mode (#1604)"
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_context_v2.py
  src/api/tests/service/learn/test_listen_elements.py
Due: none

revert: "fix(run): stream visual elements without listen mode" (#1607)
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_context_v2.py
  src/api/tests/service/learn/test_listen_elements.py
Due: none

Revert "fix: learn text streaming before TTS finalization (#1599)"
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_listen_elements.py
Due: none

revert: "Fix learn text streaming before TTS finalization" (#1608)
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_listen_elements.py
Due: none

fix(cook-web): tone-driven button styling in billing plan comparison (#1603)
  src/cook-web/src/components/billing/BillingPlanComparisonTable.module.scss
  src/cook-web/src/components/billing/BillingPlanComparisonTable.tsx
Due: prettier-cook-web, eslint

fix: load operator course prompt on demand
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_dtos.py
  src/api/flaskr/service/shifu/route.py
  src/api/tests/service/shifu/test_admin_course_detail.py
  src/api/tests/service/shifu/test_admin_courses.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/operations/operation-course-types.ts
  src/cook-web/src/app/admin/operations/page.test.tsx
  src/cook-web/src/app/admin/operations/page.tsx
Due: prettier-cook-web, eslint

fix: correct operator course prompt test seeding
  src/api/tests/service/shifu/test_admin_course_detail.py
Due: none

fix: avoid loading course prompt text in operator lists
  src/api/flaskr/service/shifu/admin.py
  src/api/tests/service/shifu/test_admin_courses.py
Due: none

fix(learn): enable visual mode for runtime streams
  src/api/flaskr/service/learn/context_v2.py
Due: none

feat(order): split native China payment tables
  docs/native-cn-payments.md
  src/api/flaskr/service/billing/checkout.py
  src/api/flaskr/service/order/admin.py
  src/api/flaskr/service/order/funs.py
  src/api/flaskr/service/order/models.py
  src/api/flaskr/service/order/raw_snapshots.py
  src/api/migrations/versions/d2f4a7c9b8e1_add_native_payment_snapshots.py
  src/api/tests/service/order/test_native_payment_split_tables.py
Due: none

fix: place read-mode streaming dots at list bottom
  src/cook-web/skills/chat-element-streaming/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

fix(learn): enable visual mode for runtime streams (#1609)
  src/api/flaskr/service/learn/context_v2.py
Due: none

fix: place read-mode streaming dots at list bottom (#1610)
  src/cook-web/skills/chat-element-streaming/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

feat: optimize operator course detail view
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_dtos.py
  src/api/tests/service/shifu/test_admin_course_detail.py
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/operations/operation-course-routes.ts
  src/cook-web/src/app/admin/operations/operation-course-types.ts
  src/cook-web/src/app/admin/operations/orders/LearnOrdersTab.test.tsx
  src/cook-web/src/app/admin/operations/orders/LearnOrdersTab.tsx
  src/cook-web/src/app/admin/operations/orders/page.test.tsx
  src/i18n/en-US/modules/operations-course.json
  src/i18n/zh-CN/modules/operations-course.json
Due: prettier-cook-web, eslint

fix(order): address native payment review feedback
  docker/.env.example.full
  src/api/flaskr/common/config.py
  src/api/flaskr/route/callback.py
  src/api/flaskr/route/order.py
  src/api/flaskr/service/billing/checkout.py
  src/api/flaskr/service/billing/webhooks.py
  src/api/flaskr/service/common/native_payment_status.py
  src/api/flaskr/service/order/funs.py
  src/api/flaskr/service/order/models.py
  src/api/flaskr/service/order/payment_providers/wechatpay.py
  src/api/flaskr/service/order/raw_snapshots.py
  src/api/migrations/versions/d2f4a7c9b8e1_add_native_payment_snapshots.py
  src/api/tests/service/billing/test_billing_callbacks.py
  src/api/tests/service/order/test_native_payment_split_tables.py
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayChannelSwitch.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModal.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModalM.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/hooks/usePaymentFlow.ts
  src/cook-web/src/c-api/order.ts
  src/cook-web/src/lib/__tests__/billing.test.ts
  src/cook-web/src/lib/billing.ts
Due: prettier-cook-web, eslint

fix: resolve read-mode streaming dots padding scope
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

fix: address course detail review feedback
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_dtos.py
  src/api/tests/service/shifu/test_admin_course_detail.py
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
Due: prettier-cook-web, eslint

fix: unblock run visual elements from tts finalize
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_listen_elements.py
Due: none

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: update mdf-ui
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
Due: prettier-cook-web, eslint

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
Due: prettier-cook-web, eslint

fix: raise dialog layer above slide overlays
  src/cook-web/skills/fullscreen-dialog-portal/SKILL.md
  src/cook-web/src/components/ui/Dialog.test.tsx
  src/cook-web/src/components/ui/Dialog.tsx
Due: prettier-cook-web, eslint

测试过的db迁移
  .gitignore
  src/api/migrations/versions/6f6b5b40a411_seedcoursedata.py
  src/api/scripts/generate_course_seed_migration.py
Due: none

fix: unblock RUN visual elements from TTS finalize (#1613)
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_listen_elements.py
Due: none

feat: upgrade ui (#1611)
  src/cook-web/SKILL.md
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/skills/fullscreen-dialog-portal/SKILL.md
  src/cook-web/src/app/admin/layout.test.tsx
  src/cook-web/src/app/admin/page.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.tsx
  src/cook-web/src/components/billing/BillingRecentActivitySection.tsx
  src/cook-web/src/components/billing/BillingSidebarCard.tsx
  src/cook-web/src/components/billing/billingSectionTitleClass.ts
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/components/ui/Dialog.test.tsx
  src/cook-web/src/components/ui/Dialog.tsx
  src/cook-web/src/lib/billing.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

Revert "feat: upgrade ui (#1611)"
  src/cook-web/SKILL.md
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/skills/fullscreen-dialog-portal/SKILL.md
  src/cook-web/src/app/admin/layout.test.tsx
  src/cook-web/src/app/admin/page.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.tsx
  src/cook-web/src/components/billing/BillingRecentActivitySection.tsx
  src/cook-web/src/components/billing/BillingSidebarCard.tsx
  src/cook-web/src/components/billing/billingSectionTitleClass.ts
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/components/ui/Dialog.test.tsx
  src/cook-web/src/components/ui/Dialog.tsx
  src/cook-web/src/lib/billing.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

Revert "feat: upgrade ui (#1611)" (#1614)
  src/cook-web/SKILL.md
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/skills/fullscreen-dialog-portal/SKILL.md
  src/cook-web/src/app/admin/layout.test.tsx
  src/cook-web/src/app/admin/page.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.tsx
  src/cook-web/src/components/billing/BillingRecentActivitySection.tsx
  src/cook-web/src/components/billing/BillingSidebarCard.tsx
  src/cook-web/src/components/billing/billingSectionTitleClass.ts
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/components/ui/Dialog.test.tsx
  src/cook-web/src/components/ui/Dialog.tsx
  src/cook-web/src/lib/billing.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

feat: enhance operator course management table (#1606)
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_dtos.py
  src/api/flaskr/service/shifu/route.py
  src/api/tests/service/shifu/test_admin_course_detail.py
  src/api/tests/service/shifu/test_admin_courses.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/operations/operation-course-types.ts
  src/cook-web/src/app/admin/operations/page.test.tsx
  src/cook-web/src/app/admin/operations/page.tsx
  src/i18n/en-US/modules/operations-course.json
  src/i18n/zh-CN/modules/operations-course.json
Due: prettier-cook-web, eslint

feat: optimize operator course detail page (#1612)
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_dtos.py
  src/api/tests/service/shifu/test_admin_course_detail.py
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/operations/operation-course-routes.ts
  src/cook-web/src/app/admin/operations/operation-course-types.ts
  src/cook-web/src/app/admin/operations/orders/LearnOrdersTab.test.tsx
  src/cook-web/src/app/admin/operations/orders/LearnOrdersTab.tsx
  src/cook-web/src/app/admin/operations/orders/page.test.tsx
  src/i18n/en-US/modules/operations-course.json
  src/i18n/zh-CN/modules/operations-course.json
Due: prettier-cook-web, eslint

feat: add test fixture replay mode for mock run SSE
  src/cook-web/public/mock-fixtures/test/data.json
  src/cook-web/skills/chat-element-streaming/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/c-api/mockRunStreamFixture.test.ts
  src/cook-web/src/c-api/mockRunStreamFixture.ts
  src/cook-web/src/c-api/studyV2.ts
Due: prettier-cook-web, eslint

fix: drain run tts finalization asynchronously
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/stream_tts_finalize.py
  src/api/tests/service/learn/test_listen_elements.py
Due: none

fix: drain run tts finalization asynchronously (#1615)
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/stream_tts_finalize.py
  src/api/tests/service/learn/test_listen_elements.py
Due: none

fix: hydrate listen-mode audio tracks with final element audio url
  src/cook-web/skills/listen-mode-audio-streaming/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

Unify public callback URLs with HOST_URL
  docker/.env.example.full
  docs/billing-subscription-design.md
  docs/native-cn-payments.md
  src/api/flaskr/common/config.py
  src/api/flaskr/common/public_urls.py
  src/api/flaskr/route/config.py
  src/api/flaskr/service/billing/checkout.py
  src/api/flaskr/service/order/funs.py
  src/api/flaskr/service/order/payment_providers/alipay.py
  src/api/flaskr/service/order/payment_providers/stripe.py
  src/api/flaskr/service/order/payment_providers/wechatpay.py
  src/api/flaskr/service/user/auth/providers/google.py
  src/api/tests/common/test_public_urls.py
  src/api/tests/service/billing/test_billing_write_routes.py
  src/api/tests/service/billing/test_runtime_config_billing.py
  src/api/tests/service/order/test_legacy_purchase_flow.py
  src/api/tests/service/order/test_provider_public_urls.py
  src/cook-web/src/components/billing/BillingOverviewTab.tsx
  src/cook-web/src/config/environment.ts
  src/cook-web/src/lib/billing.ts
Due: prettier-cook-web, eslint

fix: console
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
Due: prettier-cook-web, eslint

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
