Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

fix: include promo redemptions in course net received amount
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_dtos.py
  src/api/tests/service/shifu/test_admin_course_detail.py
Due: none

refactor: rename redeemed discount order bids
  src/api/flaskr/service/shifu/admin.py
Due: none

feat: require payment agreement consent in billing checkout dialogs
  src/cook-web/src/app/admin/page.tsx
  src/cook-web/src/c-utils/urlUtils.ts
  src/cook-web/src/components/billing/BillingCheckoutDialog.tsx
  src/cook-web/src/components/billing/BillingPingxxQrDialog.tsx
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

fix: include promo redemptions in course net received amount (#1546)
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_dtos.py
  src/api/tests/service/shifu/test_admin_course_detail.py
Due: none

Add global billing feature switch
  src/api/error_codes.json
  src/api/flaskr/route/config.py
  src/api/flaskr/service/billing/admission.py
  src/api/flaskr/service/billing/capabilities.py
  src/api/flaskr/service/billing/dtos.py
  src/api/flaskr/service/billing/primitives.py
  src/api/flaskr/service/billing/routes.py
  src/api/flaskr/service/billing/trials.py
  src/api/tests/service/billing/test_billing_admission.py
  src/api/tests/service/billing/test_billing_dtos.py
  src/api/tests/service/billing/test_billing_routes.py
  src/api/tests/service/billing/test_billing_trial_credits.py
  src/api/tests/service/billing/test_billing_write_routes.py
  src/api/tests/service/billing/test_runtime_config_billing.py
  src/cook-web/src/app/admin/SidebarContent.tsx
  src/cook-web/src/app/admin/billing/AdminBillingPageClient.tsx
  src/cook-web/src/app/admin/billing/admin/page.test.tsx
  src/cook-web/src/app/admin/billing/admin/page.tsx
  src/cook-web/src/app/admin/billing/page.test.tsx
  src/cook-web/src/app/admin/layout.test.tsx
  src/cook-web/src/app/admin/layout.tsx
  src/cook-web/src/c-store/envStore.ts
  src/cook-web/src/c-types/store.ts
  src/cook-web/src/components/billing/BillingOverviewTab.test.tsx
  src/cook-web/src/config/ENVIRONMENT_CONFIG.md
  src/cook-web/src/config/environment.ts
  src/cook-web/src/hooks/useBillingData.ts
  src/cook-web/src/lib/initializeEnvData.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/backend/billing.json
  src/i18n/zh-CN/modules/backend/billing.json
Due: prettier-cook-web, eslint

i18n(billing): align checkout copy for agreement link and plan description
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: none

Handle credit expiry on subscription expiration
  src/api/flaskr/service/billing/renewal.py
  src/api/flaskr/service/billing/wallets.py
  src/api/tests/service/billing/test_billing_renewal_execution.py
  src/cook-web/src/lib/__tests__/billing.test.ts
Due: prettier-cook-web, eslint

Add scheduled billing renewal dispatcher
  docker/.env.example.full
  docs/billing-rollout-runbook.md
  src/api/flaskr/common/celery_app.py
  src/api/flaskr/common/config.py
  src/api/flaskr/service/billing/tasks.py
  src/api/tests/common/test_celery_app.py
  src/api/tests/common/test_celery_config.py
  src/api/tests/service/billing/test_billing_tasks.py
Due: none

refactor: share admin pagination component (#1542)
  docs/admin-pagination-component.md
  src/cook-web/src/app/admin/components/AdminPagination.test.tsx
  src/cook-web/src/app/admin/components/AdminPagination.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/operations/page.tsx
  src/cook-web/src/app/admin/operations/users/page.test.tsx
  src/cook-web/src/app/admin/operations/users/page.tsx
  src/cook-web/src/app/admin/orders/page.tsx
  src/i18n/en-US/modules/order.json
  src/i18n/zh-CN/modules/order.json
Due: prettier-cook-web, eslint

fix: address admin tooltip review feedback
  src/cook-web/src/app/admin/components/AdminTooltipText.test.tsx
  src/cook-web/src/app/admin/components/AdminTooltipText.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/operations/page.tsx
  src/cook-web/src/app/admin/operations/users/page.tsx
Due: prettier-cook-web, eslint

refactor: share admin overflow tooltip (#1545)
  src/cook-web/src/app/admin/components/AdminTooltipText.test.tsx
  src/cook-web/src/app/admin/components/AdminTooltipText.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/operations/page.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.tsx
  src/cook-web/src/app/admin/operations/users/page.tsx
  src/cook-web/src/app/admin/orders/page.tsx
Due: prettier-cook-web, eslint

fix(cook-web): preserve mobile follow-up button after finalize updates
  src/cook-web/skills/chat-actionbar-ask-placement/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/chatUiUtils.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/chatUiUtils.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix(cook-web): preserve mobile follow-up button after finalize updates (#1548)
  src/cook-web/skills/chat-actionbar-ask-placement/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/chatUiUtils.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/chatUiUtils.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix: broaden operations course revenue metrics
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_dtos.py
  src/api/tests/service/shifu/test_admin_course_detail.py
Due: none

docs: clarify operations course revenue dto
  src/api/flaskr/service/shifu/admin_dtos.py
Due: none

Change billing bucket expiry default cron
  docker/.env.example.full
  src/api/flaskr/common/celery_app.py
  src/api/flaskr/common/config.py
  src/api/tests/common/test_celery_app.py
  src/api/tests/common/test_celery_config.py
Due: none

refactor: share admin table behaviors
  docs/shared-admin-table-component.md
  src/cook-web/src/app/admin/components/AdminTableShell.tsx
  src/cook-web/src/app/admin/components/adminTableStyles.ts
  src/cook-web/src/app/admin/hooks/useAdminResizableColumns.ts
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/operations/page.tsx
  src/cook-web/src/app/admin/operations/users/page.tsx
  src/cook-web/src/app/admin/orders/page.tsx
Due: prettier-cook-web, eslint

fix: address shared table review feedback
  src/cook-web/src/app/admin/hooks/useAdminResizableColumns.ts
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/operations/users/page.tsx
Due: prettier-cook-web, eslint

fix: address remaining admin table review feedback
  docs/shared-admin-table-component.md
  src/cook-web/src/app/admin/hooks/useAdminResizableColumns.ts
  src/cook-web/src/app/admin/operations/users/page.tsx
Due: prettier-cook-web, eslint

Fix TTS labels in billing activity
  src/cook-web/src/components/billing/BillingRecentActivitySection.test.tsx
  src/cook-web/src/lib/__tests__/billing.test.ts
  src/cook-web/src/lib/billing.ts
  src/cook-web/src/types/billing.ts
Due: prettier-cook-web, eslint

fix: tighten admin resize listener lifecycle
  src/cook-web/src/app/admin/hooks/useAdminResizableColumns.test.tsx
  src/cook-web/src/app/admin/hooks/useAdminResizableColumns.ts
Due: prettier-cook-web, eslint

refactor: share admin table behaviors across admin pages (#1550)
  docs/shared-admin-table-component.md
  src/cook-web/src/app/admin/components/AdminTableShell.tsx
  src/cook-web/src/app/admin/components/adminTableStyles.ts
  src/cook-web/src/app/admin/hooks/useAdminResizableColumns.test.tsx
  src/cook-web/src/app/admin/hooks/useAdminResizableColumns.ts
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/operations/page.tsx
  src/cook-web/src/app/admin/operations/users/page.tsx
  src/cook-web/src/app/admin/orders/page.tsx
Due: prettier-cook-web, eslint

fix: broaden operations course revenue metrics (#1549)
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_dtos.py
  src/api/tests/service/shifu/test_admin_course_detail.py
Due: none

feat(cook-web): restyle mobile learning mode switch in chat header
  src/cook-web/skills/listen-mode-slide-mobile-integration/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.tsx
  src/cook-web/src/app/c/[[...id]]/Components/learningModeOptions.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

chore: remove stale billing dead code
  docs/billing-branch-cleanup.md
  src/api/flaskr/service/billing/funcs.py
  src/api/tests/service/billing/route_loader.py
  src/api/tests/service/billing/test_admin_billing_routes.py
  src/api/tests/service/billing/test_billing_domains.py
  src/api/tests/service/billing/test_billing_routes.py
  src/api/tests/service/billing/test_billing_trial_credits.py
  src/api/tests/service/billing/test_billing_write_routes.py
  src/cook-web/src/components/billing/BillingMetricCard.tsx
  src/cook-web/src/components/billing/BillingUsageDetailSheet.tsx
  src/cook-web/src/lib/billing.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

test: align billing overview checkout flow
  src/cook-web/src/components/billing/BillingOverviewTab.test.tsx
Due: prettier-cook-web, eslint

feat(cook-web): unify desktop and mobile course header controls
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/skills/listen-mode-slide-mobile-integration/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseCatalogList.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseCatalogList.tsx
  src/cook-web/src/app/c/[[...id]]/Components/CourseHeaderSummary.tsx
  src/cook-web/src/app/c/[[...id]]/Components/LearningModeSwitch.module.css
  src/cook-web/src/app/c/[[...id]]/Components/LearningModeSwitch.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/LearningModeSwitch.tsx
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavDrawer.tsx
Due: prettier-cook-web, eslint

feat: nav drawer ui
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseCatalogList.module.css
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseCatalogList.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavHeader.module.css
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavHeader.module.scss
Due: prettier-cook-web

feat(cook-web): restyle mobile learning mode switch in chat header (#1551)
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/skills/listen-mode-slide-mobile-integration/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseCatalogList.module.css
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseCatalogList.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseCatalogList.tsx
  src/cook-web/src/app/c/[[...id]]/Components/CourseHeaderSummary.tsx
  src/cook-web/src/app/c/[[...id]]/Components/LearningModeSwitch.module.css
  src/cook-web/src/app/c/[[...id]]/Components/LearningModeSwitch.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/LearningModeSwitch.tsx
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavDrawer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavHeader.module.css
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavHeader.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/learningModeOptions.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

Clean up redundant billing branch code
  docs/billing-branch-cleanup.md
  src/api/flaskr/route/__init__.py
  src/api/flaskr/service/billing/__init__.py
  src/api/tests/service/billing/test_billing_callbacks.py
  src/api/tests/service/billing/test_runtime_config_billing.py
  src/cook-web/src/app/admin/page.tsx
  src/cook-web/src/components/billing/AdminBillingDomainsTable.tsx
  src/cook-web/src/components/billing/AdminBillingEntitlementsTable.tsx
  src/cook-web/src/components/billing/AdminBillingOrdersTable.tsx
  src/cook-web/src/components/billing/AdminBillingPager.tsx
  src/cook-web/src/components/billing/AdminBillingSubscriptionsTable.tsx
  src/cook-web/src/components/billing/BillingCheckoutDialog.tsx
  src/cook-web/src/components/billing/BillingOverviewTab.test.tsx
  src/cook-web/src/components/billing/BillingPingxxQrDialog.tsx
  src/cook-web/src/hooks/useBillingAdminPagedQuery.ts
  src/cook-web/src/lib/__tests__/billing.test.ts
  src/cook-web/src/lib/billing.ts
  src/cook-web/src/types/billing.test.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

fix: align course user payment metrics
  src/api/flaskr/service/shifu/admin.py
  src/api/tests/service/shifu/test_admin_course_detail.py
Due: none

feat(cook-web): guard lesson reset dialogs with debounce and pending loading
  src/cook-web/SKILL.md
  src/cook-web/skills/README.md
  src/cook-web/skills/async-confirm-dialog-loading/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/ResetChapterButton.tsx
  src/cook-web/src/hooks/useSingleFlight.ts
Due: prettier-cook-web, eslint

Clean up conservative billing leftovers
  src/api/flaskr/service/billing/AGENTS.md
  src/api/tests/service/billing/test_billing_tasks.py
  src/cook-web/src/hooks/useBillingData.ts
Due: prettier-cook-web, eslint

fix(cook-web): add disabled styling for legacy read button during reset loading
  src/cook-web/skills/async-confirm-dialog-loading/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/hooks/useSingleFlight.ts
Due: prettier-cook-web, eslint

feat(cook-web): guard lesson reset dialogs with debounce and pending loading (#1553)
  src/cook-web/SKILL.md
  src/cook-web/skills/README.md
  src/cook-web/skills/async-confirm-dialog-loading/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/ResetChapterButton.tsx
  src/cook-web/src/hooks/useSingleFlight.ts
Due: prettier-cook-web, eslint

fix: align operator user payment totals
  src/api/flaskr/service/shifu/admin.py
  src/api/tests/service/shifu/test_admin_users.py
Due: none

feat(cook-web): stop active lesson stream before switching to legacy mode
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/ResetChapterButton.tsx
  src/cook-web/src/app/c/[[...id]]/events.ts
Due: prettier-cook-web, eslint

feat(cook-web): stop active lesson stream before switching to legacy mode (#1554)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/ResetChapterButton.tsx
  src/cook-web/src/app/c/[[...id]]/events.ts
Due: prettier-cook-web, eslint

Fix topup bucket expiry realignment
  src/api/flaskr/service/billing/subscriptions.py
  src/api/tests/service/billing/test_billing_renewal_execution.py
  src/api/tests/service/billing/test_billing_write_routes.py
Due: none

Add async billing subscription SMS notifications
  docker/.env.example.full
  docs/billing-subscription-purchase-sms.md
  src/api/flaskr/api/sms/aliyun.py
  src/api/flaskr/common/config.py
  src/api/flaskr/service/billing/checkout.py
  src/api/flaskr/service/billing/cli.py
  src/api/flaskr/service/billing/notifications.py
  src/api/flaskr/service/billing/tasks.py
  src/api/flaskr/service/billing/webhooks.py
  src/api/tests/common/test_celery_app.py
  src/api/tests/contract/test_sms_contract.py
  src/api/tests/service/billing/test_billing_cli.py
  src/api/tests/service/billing/test_billing_subscription_sms.py
Due: none

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
