Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

feat update
  src/api/flaskr/framework/__init__.py
Due: none

fix: get demo shifu bid fails
  src/api/flaskr/service/user/utils.py
Due: none

fix: issue of getting demo shifu bid (#1076)
  src/api/flaskr/service/user/utils.py
Due: none

feat: update published userbid
  src/api/flaskr/service/shifu/shifu_publish_funcs.py
Due: none

feat: update published user bid (#1077)
  src/api/flaskr/service/shifu/shifu_publish_funcs.py
Due: none

fix: set gpt-5.1 temperature to 1
  src/api/flaskr/api/llm/__init__.py
Due: none

fix: set gpt-5.1 temperature to 1 (#1078)
  src/api/flaskr/api/llm/__init__.py
Due: none

feat: add tooltip to course catalog title
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseCatalogList.module.css
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseCatalogList.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseCatalogList.tsx
  src/cook-web/src/components/ui/Avatar.tsx
Due: prettier-cook-web, eslint

fix: lint
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseCatalogList.module.css
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseCatalogList.tsx
  src/cook-web/src/components/ui/Avatar.tsx
Due: prettier-cook-web, eslint

feat: add tooltip to course catalog title (#1079)
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseCatalogList.module.css
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseCatalogList.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseCatalogList.tsx
  src/cook-web/src/components/ui/Avatar.tsx
Due: prettier-cook-web, eslint

fix: stop preview loader when switching chapters
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
Due: prettier-cook-web, eslint

fix: stop preview loader when switching chapters (#1080)
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
Due: prettier-cook-web, eslint

feat: enhance outline chapter selection ui
  src/cook-web/src/app/globals.css
  src/cook-web/src/components/dnd-kit-sortable-tree/ui/simple/SimpleTreeItemWrapper.css
  src/cook-web/src/components/dnd-kit-sortable-tree/ui/simple/SimpleTreeItemWrapper.tsx
  src/cook-web/src/components/outline-selector/OutlineSelector.tsx
  src/cook-web/src/components/outline-tree/OutlineTree.css
  src/cook-web/src/components/outline-tree/OutlineTree.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/components/outline-tree.json
  src/i18n/zh-CN/components/outline-tree.json
Due: prettier-cook-web, eslint

feat: add lesson name input to lesson settings sheet
  src/cook-web/src/components/chapter-setting/ChapterSetting.tsx
  src/cook-web/src/components/dnd-kit-sortable-tree/ui/simple/SimpleTreeItemWrapper.css
  src/cook-web/src/components/dnd-kit-sortable-tree/ui/simple/SimpleTreeItemWrapper.tsx
  src/cook-web/src/components/outline-tree/OutlineTree.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/chapter-setting.json
  src/i18n/qps-ploc/modules/chapter-setting.json
  src/i18n/zh-CN/modules/chapter-setting.json
Due: prettier-cook-web, eslint

fix: include shifu bid when creating lessons
  src/cook-web/src/components/chapter-setting/ChapterSetting.tsx
  src/cook-web/src/components/outline-tree/OutlineTree.tsx
  src/cook-web/src/store/useShifu.tsx
  src/cook-web/src/types/shifu.ts
Due: prettier-cook-web, eslint

refactor: unify chapter and lesson settings sheet
  src/cook-web/src/components/chapter-setting/ChapterSetting.tsx
  src/cook-web/src/components/chapter-setting/index.ts
  src/cook-web/src/components/outline-tree/OutlineTree.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/chapter-setting.json
  src/i18n/qps-ploc/modules/chapter-setting.json
  src/i18n/zh-CN/modules/chapter-setting.json
Due: prettier-cook-web, eslint

feat: create chapters via unified settings dialog
  src/cook-web/src/components/chapter-setting/ChapterSetting.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/store/useShifu.tsx
  src/cook-web/src/types/shifu.ts
Due: prettier-cook-web, eslint

feat: add lesson settings icon and unify chapter creation
  src/cook-web/src/components/dnd-kit-sortable-tree/ui/simple/SimpleTreeItemWrapper.tsx
  src/cook-web/src/components/outline-tree/OutlineTree.tsx
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/src/app/globals.css
  src/cook-web/src/components/chapter-setting/ChapterSetting.tsx
  src/cook-web/src/components/dnd-kit-sortable-tree/ui/simple/SimpleTreeItemWrapper.css
  src/cook-web/src/components/dnd-kit-sortable-tree/ui/simple/SimpleTreeItemWrapper.tsx
  src/cook-web/src/components/outline-tree/OutlineTree.css
  src/cook-web/src/components/outline-tree/OutlineTree.tsx
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/src/components/dnd-kit-sortable-tree/ui/simple/SimpleTreeItemWrapper.css
Due: prettier-cook-web

tmp up
  README.md
  docker/docker-compose.dev.yml
Due: none

fix: change name should update outline
  src/cook-web/src/components/chapter-setting/ChapterSetting.tsx
  src/cook-web/src/components/outline-tree/OutlineTree.tsx
  src/cook-web/src/store/useShifu.tsx
  src/cook-web/src/types/shifu.ts
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/src/components/chapter-setting/ChapterPromptSetting.tsx
  src/cook-web/src/components/chapter-setting/ChapterSetting.tsx
  src/cook-web/src/components/dnd-kit-sortable-tree/ui/simple/SimpleTreeItemWrapper.tsx
  src/cook-web/src/components/ui/Sheet.tsx
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/src/components/chapter-setting/ChapterSetting.tsx
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

feat: setting icon
  src/cook-web/src/components/chapter-setting/ChapterSetting.tsx
  src/cook-web/src/components/chapter-setting/icons/outline/svg-hidden.svg
  src/cook-web/src/components/chapter-setting/icons/setting/svg-guest.svg
  src/cook-web/src/components/chapter-setting/icons/setting/svg-normal.svg
  src/cook-web/src/components/chapter-setting/icons/setting/svg-trial.svg
Due: prettier-cook-web, eslint

refactor: fetch runtime config from backend
  src/api/flaskr/route/__init__.py
  src/api/flaskr/route/config.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/layout.tsx
  src/cook-web/src/app/api/config/route.ts
  src/cook-web/src/app/login/page.tsx
  src/cook-web/src/app/page.tsx
  src/cook-web/src/c-store/envStore.ts
  src/cook-web/src/c-types/store.ts
  src/cook-web/src/components/TermsCheckbox.tsx
  src/cook-web/src/config/ENVIRONMENT_CONFIG.md
  src/cook-web/src/lib/initializeEnvData.ts
Due: prettier-cook-web, eslint

feat(shifu): expose outline permission metadata in tree response
  src/api/flaskr/service/shifu/dtos.py
  src/api/flaskr/service/shifu/shifu_outline_funcs.py
  src/cook-web/src/components/chapter-setting/ChapterSetting.tsx
  src/cook-web/src/components/chapter-setting/icons/svg-guest.svg
  src/cook-web/src/components/chapter-setting/icons/svg-hidden.svg
  src/cook-web/src/components/chapter-setting/icons/svg-normal.svg
  src/cook-web/src/components/chapter-setting/icons/svg-trial.svg
  src/cook-web/src/components/dnd-kit-sortable-tree/ui/simple/SimpleTreeItemWrapper.tsx
  src/cook-web/src/components/outline-tree/MinimalTreeItem.tsx
  src/cook-web/src/components/outline-tree/OutlineTree.css
  src/cook-web/src/components/outline-tree/OutlineTree.tsx
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

feat(outline-tree): add tooltip to badges
  src/cook-web/src/components/outline-tree/MinimalTreeItem.tsx
Due: prettier-cook-web, eslint

feat(chapter-settings): skip save when data unchanged
  src/cook-web/src/components/chapter-setting/ChapterSetting.tsx
  src/cook-web/src/components/outline-tree/MinimalTreeItem.tsx
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/src/app/globals.css
  src/cook-web/src/components/dnd-kit-sortable-tree/ui/simple/SimpleTreeItemWrapper.css
Due: prettier-cook-web

fix: wrong params of gemini-2.5-pro
  src/api/flaskr/api/llm/__init__.py
Due: none

fix
  src/cook-web/src/components/dnd-kit-sortable-tree/ui/simple/SimpleTreeItemWrapper.css
Due: prettier-cook-web

fix: wrong params of gemini-2.5-pro (#1082)
  src/api/flaskr/api/llm/__init__.py
Due: none

fix: load runtime config from backend
  src/cook-web/src/lib/initializeEnvData.ts
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/src/components/outline-tree/MinimalTreeItem.tsx
  src/cook-web/src/components/outline-tree/OutlineTree.css
Due: prettier-cook-web, eslint

fix: build runtime config url correctly
  src/cook-web/src/lib/initializeEnvData.ts
Due: prettier-cook-web, eslint

fix: ensure backend runtime config fetch
  src/cook-web/src/lib/initializeEnvData.ts
Due: prettier-cook-web, eslint

fix: use dedicated backend runtime-config endpoint
  src/api/flaskr/route/config.py
  src/cook-web/src/lib/initializeEnvData.ts
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/src/components/dnd-kit-sortable-tree/ui/simple/SimpleTreeItemWrapper.tsx
  src/cook-web/src/components/outline-tree/OutlineTree.css
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/src/components/outline-tree/MinimalTreeItem.tsx
Due: prettier-cook-web, eslint
