Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

fix(listen): wait for slide before segment playback
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
Due: prettier-cook-web, eslint

fix(listen): treat video and tables as visual boundaries
  docs/listen-mode-segmented-tts.md
  src/api/flaskr/service/tts/pipeline.py
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/tests/service/tts/test_av_speakable_segmentation.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
  tasks.md
Due: prettier-cook-web, eslint

docs(llm): add Chinese Responses API migration doc
  docs/litellm-responses-api.md
  docs/litellm-responses-api_ZH-CN.md
Due: none

fix(listen): split video iframes as visual boundaries
  docs/listen-mode-segmented-tts.md
  src/api/flaskr/service/tts/pipeline.py
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/tests/service/tts/test_av_speakable_segmentation.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
  tasks.md
Due: prettier-cook-web, eslint

fix(listen): split sandbox root blocks for slides
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
Due: prettier-cook-web, eslint

feat: add debug query logging and mobile alerts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
Due: prettier-cook-web, eslint

fix(tts): narrate textual sandbox blocks in AV streaming
  src/api/flaskr/service/tts/pipeline.py
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/tests/service/tts/test_av_speakable_segmentation.py
Due: none

fix(listen): map sandbox narration to correct slide
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
  tasks.md
Due: prettier-cook-web, eslint

docs(listen): clarify sandbox narration fallback
  docs/listen-mode-segmented-tts.md
Due: none

fix(listen): stabilize svg streaming slides
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentIframe.tsx
  tasks.md
Due: prettier-cook-web, eslint

fix(tts): avoid narrating svg text elements
  src/api/flaskr/service/tts/__init__.py
  src/api/tests/service/tts/test_tts_text_preprocess.py
  tasks.md
Due: none

feat: feat: upgrade markdown-flow-ui version to 0.1.88-beta.0
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix(listen): do not narrate sandbox html
  docs/listen-mode-segmented-tts.md
  src/api/flaskr/service/tts/pipeline.py
  src/api/tests/service/tts/test_av_speakable_segmentation.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
  tasks.md
Due: prettier-cook-web, eslint

feat: upgrade markdown-flow-ui version to 0.1.89
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: upgrade markdown-flow-ui version to 0.1.89 (#1334)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: Fixed learner language setting function
  src/api/flaskr/service/shifu/shifu_publish_funcs.py
  src/api/requirements.txt
Due: none

fix(listen): prevent blank svg slides
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentIframe.tsx
  tasks.md
Due: prettier-cook-web, eslint

fix(listen): retry autoplay on final audio url
  src/cook-web/src/components/audio/AudioPlayer.tsx
  tasks.md
Due: prettier-cook-web, eslint

fix(listen): keep slides stable during segmented audio
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
  tasks.md
Due: prettier-cook-web, eslint

fix: align variable hide icon
  src/cook-web/src/components/lesson-preview/VariableList.module.scss
  src/cook-web/src/components/lesson-preview/VariableList.tsx
Due: prettier-cook-web, eslint

feat(layout): toggle root min-height in listen mode on mobile
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/page.tsx
  src/cook-web/src/app/layout.tsx
  src/cook-web/src/components/root-container/RootContainer.tsx
Due: prettier-cook-web, eslint

fix: align variable hide icon (#1335)
  src/cook-web/src/components/lesson-preview/VariableList.module.scss
  src/cook-web/src/components/lesson-preview/VariableList.tsx
Due: prettier-cook-web, eslint

fix: Fixed learner language setting function (#1336)
  src/api/flaskr/service/shifu/shifu_publish_funcs.py
  src/api/requirements.txt
Due: none

fix(ui): guard calcFrameLayout for ssr
  src/cook-web/src/c-constants/uiConstants.ts
Due: prettier-cook-web, eslint

feat(tts): split audio at visual element boundaries for audio-visual sync
  docs/tasks.md
  docs/tts-audio-segment-sync-design.md
  src/api/flaskr/service/learn/learn_dtos.py
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/tts/__init__.py
  src/api/flaskr/service/tts/models.py
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/migrations/versions/f1a2b3c4d5e6_add_position_to_learn_generated_audios.py
  src/api/tests/service/tts/test_tts_text_preprocess.py
  src/cook-web/src/c-api/studyV2.ts
  src/cook-web/src/c-utils/audio-utils.ts
Due: prettier-cook-web, eslint

feat(tts): add sandbox-aligned audio parts with position
  src/api/flaskr/service/learn/learn_dtos.py
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/tts/models.py
  src/api/flaskr/service/tts/sandbox_split.py
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/migrations/versions/3c0f3a7b2c1a_add_position_to_learn_generated_audios.py
  src/api/tests/service/tts/test_sandbox_split.py
  src/api/tests/service/tts/test_tts_text_preprocess.py
Due: none

feat(cook-web): play listen-mode audio by sandbox position
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
  src/cook-web/src/c-api/studyV2.ts
  src/cook-web/src/c-utils/audio-utils.ts
Due: prettier-cook-web, eslint

docs: add design for sandbox-aligned multi-part audio
  docs/tts-audio-segmentation-by-visual.md
  tasks.md
Due: none

fix: revert ui
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
  src/cook-web/src/app/c/[[...id]]/page.tsx
  src/cook-web/src/app/layout.tsx
  src/cook-web/src/c-constants/uiConstants.ts
  src/cook-web/src/components/root-container/RootContainer.tsx
Due: prettier-cook-web, eslint

fix(chat-ui): strip custom button tag in mobile listen mode content
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/chatUiUtils.ts
Due: prettier-cook-web, eslint

fix: activation import parsing and email support
  src/api/flaskr/route/order.py
  src/api/flaskr/service/order/admin.py
  src/api/flaskr/service/order/admin_dtos.py
  src/api/flaskr/service/shifu/consts.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/api/tests/service/order/test_import_activation_parse.py
  src/api/tests/service/tts/test_aliyun_nls_token.py
  src/cook-web/src/app/admin/orders/page.tsx
  src/cook-web/src/components/order/ImportActivationDialog.tsx
  src/cook-web/src/components/order/OrderDetailSheet.tsx
  src/cook-web/src/components/order/order-types.ts
  src/cook-web/src/lib/resolve-contact-mode.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/backend/order.json
  src/i18n/en-US/modules/order.json
  src/i18n/zh-CN/modules/backend/order.json
  src/i18n/zh-CN/modules/order.json
Due: prettier-cook-web, eslint

fix: parse emails without heavy regex
  src/api/flaskr/service/order/admin.py
Due: none

fix(listen-mode): sync slide with active audio block
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
Due: prettier-cook-web, eslint

fix: align import parsing safeguards
  src/api/flaskr/service/order/admin.py
  src/api/flaskr/service/shifu/consts.py
  src/cook-web/src/components/order/ImportActivationDialog.tsx
Due: prettier-cook-web, eslint

fix(listen-mode): remount renderer on lesson reset
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

fix(listen-mode): unmount renderer during loading reset
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

fix
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
Due: prettier-cook-web, eslint

fix: clear console
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeTestAudioPlayer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
  src/cook-web/src/components/audio/AudioPlayerList.tsx
Due: prettier-cook-web, eslint

refactor: use audioPlayList repace audioPlayer in listen mode (#1339)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/chatUiUtils.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
  src/cook-web/src/c-utils/audio-playlist.ts
  src/cook-web/src/components/audio/AudioPlayer.tsx
  src/cook-web/src/components/audio/AudioPlayerList.tsx
  src/cook-web/src/components/root-container/RootContainer.tsx
Due: prettier-cook-web, eslint

feat(listen-mode): segmented tts between visuals
  docs/listen-mode-segmented-tts.md
  src/api/flaskr/service/learn/learn_dtos.py
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/tts/pipeline.py
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/tests/service/learn/test_generated_block_tts_av_mode.py
  src/api/tests/service/tts/test_av_speakable_segmentation.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentIframe.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
  src/cook-web/src/c-api/studyV2.ts
  src/cook-web/src/c-utils/audio-utils.ts
  src/cook-web/src/components/audio/AudioPlayer.tsx
  tasks.md
Due: prettier-cook-web, eslint
