Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

fix: avoid paging on recipient SMS daily limits
  src/api/flaskr/api/sms/aliyun.py
  src/api/tests/contract/test_sms_contract.py
Due: none

fix: prevent hourly SMS limit alerts
  src/api/flaskr/api/sms/aliyun.py
  src/api/tests/contract/test_sms_contract.py
Due: none

fix: improve learner error messages (#2180)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
  src/cook-web/src/lib/learnerError.test.ts
  src/cook-web/src/lib/learnerError.ts
  src/cook-web/src/lib/request.ts
  src/i18n/en-US/modules/chat.json
  src/i18n/en-US/modules/preview.json
  src/i18n/fr-FR/modules/chat.json
  src/i18n/fr-FR/modules/preview.json
  src/i18n/zh-CN/modules/chat.json
  src/i18n/zh-CN/modules/preview.json
Due: prettier-cook-web, eslint

refactor: trim learner chat lint noise
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/page.tsx
Due: prettier-cook-web, eslint

fix: prevent renewal boundary credits from staying locked
  src/api/flaskr/service/billing/subscriptions.py
  src/api/flaskr/service/billing/wallets.py
  src/api/tests/service/billing/test_billing_wallet_lifecycle.py
  src/api/tests/service/billing/test_referral_plan_rewards.py
Due: none

fix: prevent stale billing states after cycle end
  src/api/flaskr/service/billing/cli.py
  src/api/flaskr/service/billing/wallets.py
  src/api/tests/service/billing/test_billing_cli.py
  src/api/tests/service/billing/test_billing_wallet_lifecycle.py
Due: none

fix: harden renewal bucket review follow-ups
  src/api/flaskr/service/billing/subscriptions.py
  src/api/flaskr/service/billing/wallets.py
  src/api/tests/service/billing/test_billing_wallet_lifecycle.py
  src/api/tests/service/billing/test_referral_plan_rewards.py
Due: none

style: align billing files with autofix
  src/api/flaskr/service/billing/wallets.py
  src/api/tests/service/billing/test_billing_cli.py
  src/api/tests/service/billing/test_billing_wallet_lifecycle.py
  src/api/tests/service/billing/test_referral_plan_rewards.py
Due: none

fix: clarify learner payment errors (#2181)
  src/cook-web/src/app/c/[[...id]]/Components/FeedbackModal/FeedbackModal.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModal.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModalM.tsx
  src/cook-web/src/app/c/[[...id]]/page.test.tsx
  src/cook-web/src/app/c/[[...id]]/page.tsx
  src/cook-web/src/lib/learnerError.test.ts
  src/cook-web/src/lib/learnerError.ts
  src/i18n/en-US/modules/pay.json
  src/i18n/fr-FR/modules/pay.json
  src/i18n/zh-CN/modules/pay.json
Due: prettier-cook-web, eslint

refactor: align shared error display messaging (#2182)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/page.tsx
  src/cook-web/src/components/ErrorDisplay.tsx
  src/cook-web/src/components/lesson-preview/LessonPreview.test.tsx
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/lib/errorDisplay.test.ts
  src/cook-web/src/lib/errorDisplay.ts
  src/cook-web/src/lib/learnerError.test.ts
  src/cook-web/src/lib/learnerError.ts
Due: prettier-cook-web, eslint

chore: polish learner onboarding error followups (#2183)
  src/cook-web/src/app/c/[[...id]]/page.test.tsx
  src/cook-web/src/app/c/[[...id]]/page.tsx
  src/i18n/en-US/modules/profile-onboarding.json
  src/i18n/fr-FR/modules/profile-onboarding.json
  src/i18n/zh-CN/modules/profile-onboarding.json
Due: prettier-cook-web, eslint

fix: prevent stale billing states after cycle end (#2188)
  src/api/flaskr/service/billing/cli.py
  src/api/flaskr/service/billing/subscriptions.py
  src/api/flaskr/service/billing/wallets.py
  src/api/tests/service/billing/test_billing_cli.py
  src/api/tests/service/billing/test_billing_wallet_lifecycle.py
  src/api/tests/service/billing/test_referral_plan_rewards.py
Due: none

refactor: reduce learner console and storage noise
  src/cook-web/src/app/c/[[...id]]/Components/learningModeStorage.ts
  src/cook-web/src/app/c/[[...id]]/layout.tsx
  src/cook-web/src/app/c/[[...id]]/page.tsx
  src/cook-web/src/c-utils/runtimeStorage.ts
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
  src/cook-web/src/components/lesson-preview/variableStorage.ts
Due: prettier-cook-web, eslint

refactor: reduce learner console and storage noise (#2189)
  src/cook-web/src/app/c/[[...id]]/Components/learningModeStorage.ts
  src/cook-web/src/app/c/[[...id]]/layout.tsx
  src/cook-web/src/app/c/[[...id]]/page.tsx
  src/cook-web/src/c-utils/runtimeStorage.ts
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
  src/cook-web/src/components/lesson-preview/variableStorage.ts
Due: prettier-cook-web, eslint

refactor: unify learner error toast fallbacks
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/page.tsx
  src/cook-web/src/components/lesson-preview/usePreviewChat.test.ts
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
  src/cook-web/src/lib/learnerError.test.ts
  src/cook-web/src/lib/learnerError.ts
Due: prettier-cook-web, eslint

refactor: unify learner error toast fallbacks (#2190)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/page.tsx
  src/cook-web/src/components/lesson-preview/usePreviewChat.test.ts
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
  src/cook-web/src/lib/learnerError.test.ts
  src/cook-web/src/lib/learnerError.ts
Due: prettier-cook-web, eslint

refactor: tighten learner lesson typing
  src/cook-web/src/app/c/[[...id]]/hooks/useLessonTree.ts
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
Due: prettier-cook-web, eslint

refactor: tighten learner lesson typing (#2191)
  src/cook-web/src/app/c/[[...id]]/hooks/useLessonTree.ts
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
Due: prettier-cook-web, eslint

refactor: split learner chat hook helpers
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.helpers.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.types.ts
Due: prettier-cook-web, eslint

refactor: split learner chat hook helpers (#2192)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.helpers.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.types.ts
Due: prettier-cook-web, eslint

fix: protect paid renewal drift repair
  src/api/flaskr/service/billing/wallets.py
  src/api/tests/service/billing/test_billing_wallet_lifecycle.py
Due: none

fix: clarify renewal drift repair audit output
  src/api/flaskr/service/billing/wallets.py
  src/api/tests/service/billing/test_billing_wallet_lifecycle.py
Due: none

fix: tighten renewal drift repair activation checks
  src/api/flaskr/service/billing/wallets.py
  src/api/tests/service/billing/test_billing_wallet_lifecycle.py
Due: none

fix: support mysql reserved grant repair scan
  src/api/flaskr/service/billing/wallets.py
Due: none

test: align renewal drift fixtures with utc contract
  src/api/tests/service/billing/test_billing_wallet_lifecycle.py
Due: none

fix: block partial reserved renewal activation
  src/api/flaskr/service/billing/subscriptions.py
  src/api/flaskr/service/billing/wallets.py
  src/api/tests/service/billing/test_billing_wallet_lifecycle.py
Due: none

fix: enforce atomic renewal reserved activation
  src/api/flaskr/service/billing/subscriptions.py
  src/api/flaskr/service/billing/wallets.py
  src/api/tests/service/billing/test_billing_wallet_lifecycle.py
Due: none

fix: harden renewal reserved repair activation
  src/api/flaskr/service/billing/renewal.py
  src/api/flaskr/service/billing/subscriptions.py
  src/api/flaskr/service/billing/wallets.py
  src/api/tests/service/billing/test_billing_renewal_execution.py
  src/api/tests/service/billing/test_billing_wallet_lifecycle.py
Due: none

chore: bump markdown-flow-ui to 0.2.7
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

chore: bump markdown-flow-ui to 0.2.7 (#2196)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: keep renewal reward ledger balances accurate
  src/api/flaskr/service/billing/subscriptions.py
Due: none

fix: keep configuration defaults during lock contention
  src/api/flaskr/service/config/funcs.py
  src/api/tests/service/config/test_funcs.py
Due: none

fix: make reserved renewal repair auditable
  src/api/flaskr/service/billing/subscriptions.py
  src/api/flaskr/service/billing/wallets.py
  src/api/tests/service/billing/test_billing_wallet_lifecycle.py
  src/api/tests/service/billing/test_referral_plan_rewards.py
Due: none

fix: protect incomplete reserved grant activation
  src/api/flaskr/service/billing/subscriptions.py
  src/api/flaskr/service/billing/wallets.py
  src/api/tests/service/billing/test_billing_wallet_lifecycle.py
Due: none

fix: protect paid renewal drift repair (#2193)
  src/api/flaskr/service/billing/renewal.py
  src/api/flaskr/service/billing/subscriptions.py
  src/api/flaskr/service/billing/wallets.py
  src/api/tests/service/billing/test_billing_renewal_execution.py
  src/api/tests/service/billing/test_billing_wallet_lifecycle.py
  src/api/tests/service/billing/test_referral_plan_rewards.py
Due: none

feat: add Tencent premium and large-model voice tiers for TTS
  src/api/flaskr/api/tts/__init__.py
  src/api/flaskr/api/tts/base.py
  src/api/flaskr/api/tts/tencent_texttovoice_provider.py
  src/api/flaskr/service/tts/validation.py
  src/api/tests/service/tts/test_tencent_texttovoice_provider.py
  src/api/tests/service/tts/test_tts_config_options.py
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/components/shifu-setting/tts-model-options.test.ts
  src/cook-web/src/components/shifu-setting/tts-model-options.ts
Due: prettier-cook-web, eslint

chore: stop tracking committed .DS_Store file
  src/api/flaskr/.DS_Store
Due: none

fix: reduce reserved repair dry run noise
  src/api/flaskr/service/billing/wallets.py
  src/api/tests/service/billing/test_billing_wallet_lifecycle.py
Due: none

fix: tighten reserved repair candidate attribution
  src/api/flaskr/service/billing/wallets.py
  src/api/tests/service/billing/test_billing_wallet_lifecycle.py
Due: none

fix: reduce reserved repair dry run noise (#2197)
  src/api/flaskr/service/billing/wallets.py
  src/api/tests/service/billing/test_billing_wallet_lifecycle.py
Due: none
