Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

feat: add user_bid aggregation restriction policy to prevent original user ID disclosure
  src/api/flaskr/service/creator_analytics/dsl.py
  src/api/flaskr/service/creator_analytics/whitelist.py
  src/api/tests/service/creator_analytics/test_dsl.py
  src/api/tests/service/creator_analytics/test_query.py
  src/api/tests/service/creator_analytics/test_sql_builder.py
  src/api/tests/service/creator_analytics/test_whitelist.py
Due: none

feat(creator_analytics): Add the usage_scene field to support analyzing user scenarios
  src/api/flaskr/service/creator_analytics/whitelist.py
  src/api/tests/service/creator_analytics/conftest.py
  src/api/tests/service/creator_analytics/test_query.py
Due: none

fix(preview): render run api credit errors as content blocks
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/c-api/studyV2.ts
Due: prettier-cook-web, eslint

feat(creator_analytics): Add generated_content security access control
  src/api/flaskr/service/creator_analytics/dsl.py
  src/api/flaskr/service/creator_analytics/funcs.py
  src/api/flaskr/service/creator_analytics/whitelist.py
  src/api/tests/service/creator_analytics/conftest.py
  src/api/tests/service/creator_analytics/test_dsl.py
  src/api/tests/service/creator_analytics/test_query.py
Due: none

feat(creator_analytics): add user nickname query restrictions and PII desensitization
  src/api/flaskr/service/creator_analytics/dsl.py
  src/api/flaskr/service/creator_analytics/funcs.py
  src/api/flaskr/service/creator_analytics/pii.py
  src/api/flaskr/service/creator_analytics/sql_builder.py
  src/api/flaskr/service/creator_analytics/whitelist.py
  src/api/tests/service/creator_analytics/conftest.py
  src/api/tests/service/creator_analytics/test_dsl.py
  src/api/tests/service/creator_analytics/test_query.py
  src/api/tests/service/creator_analytics/test_whitelist.py
Due: none

fix(preview): render run api credit errors as content blocks (#1744)
  src/cook-web/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/c-api/studyV2.ts
  src/cook-web/src/c-types/chatUi.ts
  src/cook-web/src/components/billing/BillingSidebarCard.tsx
  src/cook-web/src/components/lesson-preview/LessonPreview.test.tsx
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/components/lesson-preview/usePreviewChat.test.ts
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
  src/cook-web/src/lib/billingNavigation.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/shifu.json
  src/i18n/zh-CN/modules/shifu.json
Due: prettier-cook-web, eslint

feat: add operator order overview cards
  src/api/flaskr/service/billing/api.py
  src/api/flaskr/service/billing/dtos.py
  src/api/flaskr/service/billing/read_models.py
  src/api/flaskr/service/order/admin.py
  src/api/flaskr/service/order/admin_dtos.py
  src/api/flaskr/service/order/api.py
  src/api/flaskr/service/shifu/route.py
  src/api/tests/service/billing/test_operator_credit_orders.py
  src/api/tests/service/order/test_admin_orders.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/operations/operation-credit-order-types.ts
  src/cook-web/src/app/admin/operations/operation-order-types.ts
  src/cook-web/src/app/admin/operations/orders/CreditOrdersTab.test.tsx
  src/cook-web/src/app/admin/operations/orders/CreditOrdersTab.tsx
  src/cook-web/src/app/admin/operations/orders/LearnOrdersTab.test.tsx
  src/cook-web/src/app/admin/operations/orders/LearnOrdersTab.tsx
  src/cook-web/src/app/admin/operations/orders/OrderOverviewSection.tsx
  src/i18n/en-US/modules/operations-order.json
  src/i18n/zh-CN/modules/operations-order.json
Due: prettier-cook-web, eslint

fix volcengine tts empty audio race
  src/api/flaskr/api/tts/base.py
  src/api/flaskr/api/tts/volcengine_protocol.py
  src/api/flaskr/api/tts/volcengine_provider.py
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/tests/service/tts/test_streaming_tts_finalize_segmentation.py
  src/api/tests/service/tts/test_volcengine_ws_provider.py
Due: none

fix billing expired bucket repair
  src/api/flaskr/service/billing/subscriptions.py
  src/api/tests/service/billing/test_billing_write_routes.py
Due: none

fix: Volcengine TTS empty audio race (#1743)
  src/api/flaskr/api/tts/base.py
  src/api/flaskr/api/tts/volcengine_protocol.py
  src/api/flaskr/api/tts/volcengine_provider.py
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/tests/service/tts/test_streaming_tts_finalize_segmentation.py
  src/api/tests/service/tts/test_volcengine_ws_provider.py
Due: none

fix: address operator order overview review feedback
  src/api/flaskr/service/billing/dtos.py
  src/api/flaskr/service/billing/read_models.py
  src/api/tests/service/billing/test_operator_credit_orders.py
  src/cook-web/src/app/admin/operations/operation-credit-order-types.ts
  src/cook-web/src/app/admin/operations/orders/CreditOrdersTab.test.tsx
  src/cook-web/src/app/admin/operations/orders/CreditOrdersTab.tsx
  src/cook-web/src/app/admin/operations/orders/LearnOrdersTab.test.tsx
  src/cook-web/src/app/admin/operations/orders/LearnOrdersTab.tsx
  src/cook-web/src/app/admin/operations/orders/OrderOverviewSection.tsx
Due: prettier-cook-web, eslint

fix: remove unused credit overview product join
  src/api/flaskr/service/billing/read_models.py
Due: none

fix: preserve total overview quick filter state
  src/cook-web/src/app/admin/operations/orders/CreditOrdersTab.test.tsx
  src/cook-web/src/app/admin/operations/orders/CreditOrdersTab.tsx
  src/cook-web/src/app/admin/operations/orders/LearnOrdersTab.test.tsx
  src/cook-web/src/app/admin/operations/orders/LearnOrdersTab.tsx
Due: prettier-cook-web, eslint

feat: show available credits in operator overview
  src/api/flaskr/service/billing/dtos.py
  src/api/flaskr/service/billing/read_models.py
  src/api/tests/service/billing/test_operator_credit_orders.py
  src/cook-web/src/app/admin/operations/operation-credit-order-types.ts
  src/cook-web/src/app/admin/operations/orders/CreditOrdersTab.test.tsx
  src/cook-web/src/app/admin/operations/orders/CreditOrdersTab.tsx
  src/i18n/en-US/modules/operations-order.json
  src/i18n/zh-CN/modules/operations-order.json
Due: prettier-cook-web, eslint

fix: billing expired bucket repair (#1746)
  src/api/flaskr/service/billing/subscriptions.py
  src/api/tests/service/billing/test_billing_write_routes.py
Due: none

refactor: share operator overview quick-filter logic
  src/api/flaskr/service/billing/read_models.py
  src/cook-web/src/app/admin/operations/orders/CreditOrdersTab.tsx
  src/cook-web/src/app/admin/operations/orders/LearnOrdersTab.tsx
  src/cook-web/src/app/admin/operations/orders/useOverviewStatusQuickFilter.ts
Due: prettier-cook-web, eslint

Fix creator trial grants for authoring upgrades
  docs/generated/doc-inventory.md
  docs/product-specs/index.md
  docs/product-specs/operator-role.md
  docs/product-specs/transfer-course-creator.md
  src/api/flaskr/service/billing/cli.py
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/user/utils.py
  src/api/tests/service/billing/test_billing_cli.py
  src/api/tests/service/shifu/test_permissions.py
  src/api/tests/service/shifu/test_transfer_creator.py
Due: none

feat: move shared permission entry to course cards
  src/api/flaskr/service/shifu/dtos.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/cook-web/src/app/admin/page.tsx
  src/cook-web/src/components/shifu-setting/ShifuPermissionDialog.tsx
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/types/shifu.ts
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: prettier-cook-web, eslint

refactor: clean up shared permission dialog extraction
  src/cook-web/src/components/shifu-setting/ShifuPermissionDialog.tsx
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

Fix shifu permission tests for email login config
  src/api/tests/service/shifu/test_permissions.py
Due: none

fix: creator trial grants for authoring upgrades (#1748)
  docs/generated/doc-inventory.md
  docs/product-specs/index.md
  docs/product-specs/operator-role.md
  docs/product-specs/transfer-course-creator.md
  src/api/flaskr/service/billing/cli.py
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/user/utils.py
  src/api/tests/service/billing/test_billing_cli.py
  src/api/tests/service/shifu/test_permissions.py
  src/api/tests/service/shifu/test_transfer_creator.py
Due: none

feat: refine credit order overview cards
  src/api/flaskr/service/billing/read_models.py
  src/api/flaskr/service/shifu/route.py
  src/api/tests/service/billing/test_operator_credit_orders.py
  src/api/tests/service/order/test_admin_orders.py
  src/cook-web/src/app/admin/operations/orders/CreditOrdersTab.test.tsx
  src/cook-web/src/app/admin/operations/orders/CreditOrdersTab.tsx
  src/i18n/en-US/modules/operations-order.json
  src/i18n/zh-CN/modules/operations-order.json
Due: prettier-cook-web, eslint

style: tighten learn order overview layout
  src/cook-web/src/app/admin/operations/orders/LearnOrdersTab.test.tsx
  src/cook-web/src/app/admin/operations/orders/LearnOrdersTab.tsx
  src/i18n/en-US/modules/operations-order.json
  src/i18n/zh-CN/modules/operations-order.json
Due: prettier-cook-web, eslint

fix: align order overview review follow-ups
  src/api/flaskr/service/shifu/route.py
  src/api/tests/service/order/test_admin_orders.py
  src/cook-web/src/app/admin/operations/orders/CreditOrdersTab.tsx
  src/cook-web/src/app/admin/operations/orders/LearnOrdersTab.tsx
Due: prettier-cook-web, eslint

feat: add creator-analytics DSL query capabilities (#1750)
  docker/.env.example.full
  docs/generated/architecture-boundary-baseline.json
  docs/generated/harness-health.md
  src/api/error_codes.json
  src/api/flaskr/common/config.py
  src/api/flaskr/route/__init__.py
  src/api/flaskr/route/creator_analytics.py
  src/api/flaskr/service/creator_analytics/__init__.py
  src/api/flaskr/service/creator_analytics/dsl.py
  src/api/flaskr/service/creator_analytics/engine.py
  src/api/flaskr/service/creator_analytics/funcs.py
  src/api/flaskr/service/creator_analytics/pii.py
  src/api/flaskr/service/creator_analytics/sql_builder.py
  src/api/flaskr/service/creator_analytics/whitelist.py
  src/api/tests/service/creator_analytics/__init__.py
  src/api/tests/service/creator_analytics/conftest.py
  src/api/tests/service/creator_analytics/test_dsl.py
  src/api/tests/service/creator_analytics/test_query.py
  src/api/tests/service/creator_analytics/test_sql_builder.py
  src/api/tests/service/creator_analytics/test_whitelist.py
  src/i18n/en-US/modules/backend/creator-analytics.json
  src/i18n/locales.json
  src/i18n/zh-CN/modules/backend/creator-analytics.json
Due: none

fix: preserve credit overview quick filter on search
  src/cook-web/src/app/admin/operations/orders/CreditOrdersTab.test.tsx
  src/cook-web/src/app/admin/operations/orders/CreditOrdersTab.tsx
Due: prettier-cook-web, eslint

feat: update mdf-ui
  SKILL.md
  skills/github-pr-branch-checkout/SKILL.md
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

Update src/i18n/fr-FR/modules/dashboard.json
  src/i18n/fr-FR/modules/dashboard.json
Due: none

Update src/i18n/fr-FR/components/file-uploader.json
  src/i18n/fr-FR/components/file-uploader.json
Due: none

Update src/i18n/fr-FR/modules/auth.json
  src/i18n/fr-FR/modules/auth.json
Due: none

Update src/api/flaskr/service/billing/dtos.py
  src/api/flaskr/service/billing/dtos.py
Due: none

Update src/i18n/fr-FR/modules/billing.json
  src/i18n/fr-FR/modules/billing.json
Due: none

chore: remove temporary PR checkout skill entry
  SKILL.md
  skills/github-pr-branch-checkout/SKILL.md
Due: none

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: move shared permission entry to course cards (#1749)
  src/api/flaskr/service/shifu/dtos.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/cook-web/src/app/admin/page.tsx
  src/cook-web/src/components/shifu-setting/ShifuPermissionDialog.tsx
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/types/shifu.ts
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: prettier-cook-web, eslint

feat: add operator order overview cards (#1745)
  src/api/flaskr/service/billing/api.py
  src/api/flaskr/service/billing/dtos.py
  src/api/flaskr/service/billing/read_models.py
  src/api/flaskr/service/order/admin.py
  src/api/flaskr/service/order/admin_dtos.py
  src/api/flaskr/service/order/api.py
  src/api/flaskr/service/shifu/route.py
  src/api/tests/service/billing/test_operator_credit_orders.py
  src/api/tests/service/order/test_admin_orders.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/operations/operation-credit-order-types.ts
  src/cook-web/src/app/admin/operations/operation-order-types.ts
  src/cook-web/src/app/admin/operations/orders/CreditOrdersTab.test.tsx
  src/cook-web/src/app/admin/operations/orders/CreditOrdersTab.tsx
  src/cook-web/src/app/admin/operations/orders/LearnOrdersTab.test.tsx
  src/cook-web/src/app/admin/operations/orders/LearnOrdersTab.tsx
  src/cook-web/src/app/admin/operations/orders/OrderOverviewSection.tsx
  src/cook-web/src/app/admin/operations/orders/useOverviewStatusQuickFilter.ts
  src/i18n/en-US/modules/operations-order.json
  src/i18n/zh-CN/modules/operations-order.json
Due: prettier-cook-web, eslint

fix: avoid client i18n metadata path import
  src/cook-web/src/__tests__/i18n.test.ts
  src/cook-web/src/lib/i18n-locales.ts
Due: prettier-cook-web, eslint

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
