Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

Update src/i18n/fr-FR/modules/billing.json
  src/i18n/fr-FR/modules/billing.json
Due: none

Update src/i18n/zh-CN/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: none

docs: clarify learner estimate billing copy (#1773)
  src/i18n/en-US/modules/billing.json
  src/i18n/fr-FR/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: none

feat(billing): add operator credit grant cli
  src/api/flaskr/service/billing/api.py
  src/api/flaskr/service/billing/cli.py
  src/api/flaskr/service/billing/manual_credit_grants.py
  src/api/flaskr/service/billing/wallets.py
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_dtos.py
  src/api/tests/service/billing/test_billing_cli.py
  src/api/tests/service/shifu/test_admin_users.py
Due: none

feat: add operator credit grant cli (#1774)
  src/api/flaskr/service/billing/api.py
  src/api/flaskr/service/billing/cli.py
  src/api/flaskr/service/billing/manual_credit_grants.py
  src/api/flaskr/service/billing/wallets.py
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_dtos.py
  src/api/tests/service/billing/test_billing_cli.py
  src/api/tests/service/shifu/test_admin_users.py
Due: none

Fix read listen stream projection
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/listen_element_factory.py
  src/api/flaskr/service/learn/listen_element_history.py
  src/api/flaskr/service/learn/listen_element_matching.py
  src/api/flaskr/service/learn/listen_element_rows.py
  src/api/flaskr/service/learn/listen_element_run_stream.py
  src/api/flaskr/service/learn/listen_element_types.py
  src/api/tests/service/learn/test_listen_elements.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/chatUiModeProjection.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/readModeRenderState.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/c-store/useLessonRunContentStore.ts
  src/cook-web/src/c-types/chatUi.ts
Due: prettier-cook-web, eslint

fix: 调整学习人次估算文案
  src/i18n/en-US/modules/billing.json
  src/i18n/fr-FR/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: none

Update src/i18n/en-US/modules/billing.json
  src/i18n/en-US/modules/billing.json
Due: none

docs: update learner estimate billing copy (#1775)
  src/i18n/en-US/modules/billing.json
  src/i18n/fr-FR/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: none

Revert "docs: update learner estimate billing copy (#1775)"
  src/i18n/en-US/modules/billing.json
  src/i18n/fr-FR/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: none

fix: update learner estimate billing copy
  src/i18n/en-US/modules/billing.json
  src/i18n/fr-FR/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: none

docs: update learner estimate billing copy (#1776)
  src/i18n/en-US/modules/billing.json
  src/i18n/fr-FR/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: none

fix: stabilize billing admission repair test (#1772)
  src/api/tests/service/billing/test_billing_admission.py
Due: none

fix: keep follow-up answer typewriter alive across done events
  src/cook-web/skills/chat-element-streaming/SKILL.md
  src/cook-web/src/__tests__/ask-block-typewriter.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

fix(cook-web): unblock read mode items after listen mode finalization
  src/cook-web/skills/chat-element-streaming/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/readModeItems.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/readModeItems.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/readModeTypewriterGate.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/readModeTypewriterGate.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/c-types/chatUi.ts
Due: prettier-cook-web, eslint

fix(cook-web): avoid stale listen-mode stream state when switching back to read mode
  src/cook-web/skills/chat-element-streaming/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix(cook-web): stop follow-up typewriter after hidden stream completion
  src/cook-web/skills/chat-element-streaming/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
Due: prettier-cook-web, eslint

fix(cook-web): align selected model indicator in shifu settings dropdown
  src/cook-web/SKILL.md
  src/cook-web/src/components/model-list/ModelList.test.tsx
  src/cook-web/src/components/model-list/ModelList.tsx
  src/cook-web/src/components/ui/Select.tsx
Due: prettier-cook-web, eslint

fix(cook-web): align selected model indicator in shifu settings dropdown (#1777)
  src/cook-web/SKILL.md
  src/cook-web/src/components/model-list/ModelList.test.tsx
  src/cook-web/src/components/model-list/ModelList.tsx
  src/cook-web/src/components/ui/Select.tsx
Due: prettier-cook-web, eslint

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

feat: enable typewriter for streaming text elements in read mode (#1765)
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/skills/chat-element-streaming/SKILL.md
  src/cook-web/src/__tests__/ask-block-typewriter.test.tsx
  src/cook-web/src/__tests__/content-block-pay-interaction.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/askState.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/chatUiUtils.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/readModeItems.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/readModeItems.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/readModeTypewriterGate.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/readModeTypewriterGate.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useAskStateStore.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/globals.css
  src/cook-web/src/c-api/studyV2.ts
  src/cook-web/src/c-components/ChatUi/ContentBlock.tsx
  src/cook-web/src/c-types/chatUi.ts
  src/cook-web/src/c-utils/markdownUtils.test.ts
  src/cook-web/src/c-utils/markdownUtils.ts
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
Due: prettier-cook-web, eslint

feat: add operator course copy flow (#1768)
  docs/exec-plans/completed/course-copy-operator.md
  docs/exec-plans/index.md
  docs/generated/doc-inventory.md
  docs/generated/harness-health.md
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/route.py
  src/api/tests/service/shifu/test_course_copy.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/operations/operation-course-types.ts
  src/cook-web/src/app/admin/operations/page.test.tsx
  src/cook-web/src/app/admin/operations/page.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/backend/shifu.json
  src/i18n/en-US/modules/operations-course.json
  src/i18n/fr-FR/modules/backend/shifu.json
  src/i18n/fr-FR/modules/operations-course.json
  src/i18n/zh-CN/modules/backend/shifu.json
  src/i18n/zh-CN/modules/operations-course.json
Due: prettier-cook-web, eslint

feat: sort creator course cards by updated time (#1767)
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/course_activity.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/api/tests/service/shifu/test_admin_courses.py
  src/api/tests/service/shifu/test_shifu_draft_list.py
Due: none

feat: refine operator user credit ledger filters (#1762)
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/route.py
  src/api/tests/service/shifu/test_admin_users.py
  src/cook-web/src/app/admin/operations/operation-user-types.ts
  src/cook-web/src/app/admin/operations/users/[user_bid]/UserCreditLedgerTab.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/creditFilterUtils.ts
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.tsx
  src/i18n/en-US/modules/operations-course.json
  src/i18n/en-US/modules/operations-user.json
  src/i18n/fr-FR/modules/operations-course.json
  src/i18n/fr-FR/modules/operations-user.json
  src/i18n/zh-CN/modules/operations-course.json
  src/i18n/zh-CN/modules/operations-user.json
Due: prettier-cook-web, eslint

fix(cook-web): guard user detail tab values
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.tsx
Due: prettier-cook-web, eslint

fix(cook-web): avoid replaying first listen audio segment
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/c-utils/audio-utils.ts
Due: prettier-cook-web, eslint

fix(cook-web): tighten user detail tab sync
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.tsx
Due: prettier-cook-web, eslint

fix(cook-web): avoid user detail tab hydration drift
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.tsx
Due: prettier-cook-web, eslint

fix(api): add missing shifu generate_id import
  src/api/flaskr/service/shifu/admin.py
Due: none

fix(cook-web): remove duplicate listen audio loading
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

fix: add missing shifu generate_id import (#1778)
  src/api/flaskr/service/shifu/admin.py
Due: none

fix(cook-web): polish user detail review followups
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.tsx
Due: prettier-cook-web, eslint

feat: refine operator user detail fields (#1770)
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.tsx
Due: prettier-cook-web, eslint

feat: upgrade markdown-flow-ui version to 0.1.122
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: upgrade markdown-flow-ui version to 0.1.122 (#1779)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

refactor: split operator course detail page sections
  src/cook-web/src/app/admin/operations/[shifu_bid]/CourseBasicInfoCard.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/CourseChapterDetailDialog.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/CourseChaptersTab.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/CourseMetricsCardGrid.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/CourseUsersTab.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/courseUsersTabConfig.ts
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
Due: prettier-cook-web, eslint

fix: preserve listen audio segments after backfill
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.ts
Due: prettier-cook-web, eslint

refactor: split operator user detail page sections
  src/cook-web/src/app/admin/operations/users/[user_bid]/UserCoursesTab.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/UserDetailInfoCard.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/UserDetailSummarySection.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/UserDetailTabsSection.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/UserInfoItem.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.tsx
Due: prettier-cook-web, eslint

fix: address listen mode review comments
  src/api/flaskr/service/learn/listen_element_history.py
  src/api/flaskr/service/learn/listen_element_run_stream.py
  src/api/flaskr/service/learn/listen_element_types.py
  src/api/tests/service/learn/test_listen_element_history_subtitles.py
  src/api/tests/service/learn/test_listen_elements.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/chatUiModeProjection.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/readModeItems.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint
