Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

fix: synchronize Arabic direction across interactive controls
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/layout.tsx
  src/cook-web/src/components/I18nDocumentAttributes.test.tsx
  src/cook-web/src/components/I18nDocumentAttributes.tsx
Due: prettier-cook-web, eslint

fix: preserve legacy language preferences when saving profiles
  src/api/flaskr/service/profile/funcs.py
  src/api/tests/service/profile/test_profile.py
Due: none

chore: migrate db.session.commit() to uow in billing checkout
  docs/generated/uow-commit-baseline.json
  src/api/flaskr/service/billing/checkout.py
Due: none

fix: mirror settings and detail drawers for Arabic
  src/cook-web/src/app/admin/dashboard/[shifu_bid]/follow-ups/FollowUpDetailSheet.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/follow-ups/FollowUpDetailSheet.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationDetailSheet.tsx
  src/cook-web/src/app/admin/operations/orders/CreditOrderDetailDialog.tsx
  src/cook-web/src/app/admin/operations/orders/OperatorOrderDetailSheet.tsx
  src/cook-web/src/app/admin/operations/provider-prices/AdminBillingProviderPricesPanel.tsx
  src/cook-web/src/app/admin/operations/voice-clones/page.tsx
  src/cook-web/src/components/chapter-setting/ChapterSetting.tsx
  src/cook-web/src/components/order/OrderDetailSheet.tsx
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/components/ui/Sheet.test.tsx
  src/cook-web/src/components/ui/Sheet.tsx
Due: prettier-cook-web, eslint

fix: harden Stripe coupon publishing
  src/api/flaskr/service/billing/campaign_discount_providers.py
  src/api/flaskr/service/billing/campaign_provider_discounts.py
  src/api/tests/service/billing/test_campaign_provider_discounts.py
  src/cook-web/src/app/admin/operations/promotions/page.package-campaigns.test.tsx
  src/cook-web/src/app/admin/operations/promotions/page.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/operations-promotion.json
  src/i18n/fr-FR/modules/operations-promotion.json
  src/i18n/zh-CN/modules/operations-promotion.json
Due: prettier-cook-web, eslint

fix: mirror language selectors and menus for Arabic
  src/cook-web/src/components/ui/DropdownMenu.test.tsx
  src/cook-web/src/components/ui/DropdownMenu.tsx
  src/cook-web/src/components/ui/Select.test.tsx
  src/cook-web/src/components/ui/Select.tsx
  src/cook-web/src/components/ui/SelectionDirection.test.tsx
Due: prettier-cook-web, eslint

test: remove stray text from the menu direction fixture
  src/cook-web/src/components/ui/SelectionDirection.test.tsx
Due: prettier-cook-web, eslint

fix: use correct Arabic forms for order totals
  src/cook-web/src/lib/arabic-plural-translations.test.ts
  src/i18n/ar-SA/modules/operations-order.json
Due: prettier-cook-web, eslint

fix: match verification email language to its fallback text
  src/api/flaskr/service/user/utils.py
  src/api/tests/service/user/test_email_localization.py
Due: none

fix: keep Stripe subscriptions on supported payment methods
  src/api/flaskr/service/order/payment_providers/stripe.py
  src/api/tests/service/order/test_provider_public_urls.py
Due: none

fix: keep Stripe subscriptions on supported payment methods (#2664)
  src/api/flaskr/service/order/payment_providers/stripe.py
  src/api/tests/service/order/test_provider_public_urls.py
Due: none

feat: personalize the five-question profile welcome
  src/i18n/ar-SA/modules/profile-onboarding.json
  src/i18n/en-US/modules/profile-onboarding.json
  src/i18n/fr-FR/modules/profile-onboarding.json
  src/i18n/th-TH/modules/profile-onboarding.json
  src/i18n/zh-CN/modules/profile-onboarding.json
Due: none

fix: welcome returning learners without claiming a first meeting
  src/i18n/ar-SA/modules/profile-onboarding.json
  src/i18n/en-US/modules/profile-onboarding.json
  src/i18n/fr-FR/modules/profile-onboarding.json
  src/i18n/th-TH/modules/profile-onboarding.json
  src/i18n/zh-CN/modules/profile-onboarding.json
Due: none

fix: describe personalization after getting to know learners
  src/i18n/ar-SA/modules/profile-onboarding.json
  src/i18n/en-US/modules/profile-onboarding.json
  src/i18n/fr-FR/modules/profile-onboarding.json
  src/i18n/th-TH/modules/profile-onboarding.json
  src/i18n/zh-CN/modules/profile-onboarding.json
Due: none

fix: invite learners to share their preferences naturally
  src/i18n/ar-SA/modules/profile-onboarding.json
  src/i18n/en-US/modules/profile-onboarding.json
  src/i18n/fr-FR/modules/profile-onboarding.json
  src/i18n/th-TH/modules/profile-onboarding.json
  src/i18n/zh-CN/modules/profile-onboarding.json
Due: none

feat: personalize the five-question profile welcome (#2665)
  src/i18n/ar-SA/modules/profile-onboarding.json
  src/i18n/en-US/modules/profile-onboarding.json
  src/i18n/fr-FR/modules/profile-onboarding.json
  src/i18n/th-TH/modules/profile-onboarding.json
  src/i18n/zh-CN/modules/profile-onboarding.json
Due: none

test: keep catalog webhook checks independent of test order
  src/api/tests/service/billing/test_provider_catalog_sync.py
Due: none

fix: keep migration head validation revision-independent
  src/api/tests/migrations/test_fresh_mysql_upgrade.py
Due: none

fix: run all backend tests for full CI checks
  .github/workflows/backend-tests.yml
  src/api/tests/scripts/test_backend_test_workflow.py
Due: none

fix: prevent migration changes from skipping backend tests (#2663)
  .github/workflows/backend-tests.yml
  src/api/tests/migrations/test_fresh_mysql_upgrade.py
  src/api/tests/scripts/test_backend_test_workflow.py
  src/api/tests/service/billing/test_provider_catalog_sync.py
Due: none

fix: add cache overcharge compensation scripts
  src/api/scripts/billing_cache_compensation_common.py
  src/api/scripts/grant_cache_overcharge_bonus_plan.py
  src/api/scripts/grant_cache_overcharge_credit_compensation.py
Due: none

fix: make compensation scripts rerunnable
  src/api/flaskr/service/billing/subscriptions.py
  src/api/scripts/billing_cache_compensation_common.py
  src/api/scripts/grant_cache_overcharge_bonus_plan.py
  src/api/tests/service/billing/test_billing_renewal_activation_guards.py
Due: none

fix: harden compensation script review gaps
  src/api/scripts/billing_cache_compensation_common.py
  src/api/scripts/grant_cache_overcharge_bonus_plan.py
Due: none

fix: keep compensation dry runs side effect free
  src/api/scripts/grant_cache_overcharge_bonus_plan.py
Due: none

fix: block unsafe compensation reruns
  src/api/scripts/billing_cache_compensation_common.py
  src/api/scripts/grant_cache_overcharge_bonus_plan.py
  src/api/scripts/grant_cache_overcharge_credit_compensation.py
  src/api/tests/scripts/test_billing_cache_compensation_scripts.py
Due: none

ci: keep registry image publishing compatible
  .github/workflows/build-latest.yml
  .github/workflows/build-on-release.yml
Due: none

ci: keep registry image publishing compatible (#2667)
  .github/workflows/build-latest.yml
  .github/workflows/build-on-release.yml
Due: none

chore: keep the frontend lockfile on v2.2.13
  src/cook-web/package-lock.json
Due: prettier-cook-web

fix: keep course preview billing actions owner-only
  src/cook-web/src/components/lesson-preview/LessonPreview.test.tsx
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/components/lesson-preview/usePreviewChat.test.ts
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
  src/cook-web/src/components/preview/Preview.test.tsx
  src/cook-web/src/components/preview/Preview.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.test.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

fix: stop retrying courses after access is denied
  src/cook-web/src/__tests__/c-preview-layout.test.tsx
  src/cook-web/src/app/c/[[...id]]/layout.tsx
Due: prettier-cook-web, eslint

fix: hide preview billing actions from collaborators
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.lessonUpdateNotice.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

fix: preserve credit notices across supported languages
  src/api/flaskr/service/billing/api.py
  src/api/tests/service/billing/test_billing_admission.py
  src/api/tests/test_learn_api.py
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/ar-SA/modules/billing.json
  src/i18n/ar-SA/modules/preview.json
  src/i18n/ar-SA/modules/shifu-setting.json
  src/i18n/ar-SA/modules/shifu.json
  src/i18n/th-TH/modules/billing.json
  src/i18n/th-TH/modules/preview.json
  src/i18n/th-TH/modules/shifu-setting.json
  src/i18n/th-TH/modules/shifu.json
Due: prettier-cook-web, eslint

test: keep ask stream callback aligned
  src/cook-web/src/__tests__/ask-block-typewriter.test.tsx
Due: prettier-cook-web, eslint

fix: stop course retries after access denial
  src/cook-web/src/__tests__/c-preview-layout.test.tsx
  src/cook-web/src/app/c/[[...id]]/layout.tsx
Due: prettier-cook-web, eslint

fix: guide course collaborators when owner credits run out
  src/api/flaskr/service/learn/learn_dtos.py
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/learn/routes.py
  src/api/tests/golden/fixtures/api_shifu_info.json
  src/api/tests/service/learn/test_preview_permissions.py
  src/api/tests/test_learn_api.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/layout.tsx
  src/cook-web/src/c-api/course.test.ts
  src/cook-web/src/c-api/course.ts
  src/cook-web/src/c-api/studyV2.test.ts
  src/cook-web/src/c-api/studyV2.ts
  src/cook-web/src/c-store/useCourseStore.ts
  src/cook-web/src/c-types/store.ts
  src/cook-web/src/lib/creditInsufficientToast.test.tsx
  src/cook-web/src/lib/creditInsufficientToast.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/fr-FR/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

fix: wait for course ownership before preview requests
  src/cook-web/src/__tests__/c-preview-layout.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/layout.tsx
  src/cook-web/src/c-store/useCourseStore.ts
  src/cook-web/src/c-types/store.ts
  src/cook-web/src/lib/creditInsufficientToast.test.tsx
  src/cook-web/src/lib/creditInsufficientToast.tsx
Due: prettier-cook-web, eslint

test: guard ownership during course navigation
  src/cook-web/src/__tests__/c-preview-layout.test.tsx
Due: prettier-cook-web, eslint

fix: read credit codes from serialized preview errors
  src/cook-web/src/components/lesson-preview/usePreviewChat.test.ts
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
Due: prettier-cook-web, eslint

fix: recover course ownership after temporary failures
  src/cook-web/src/__tests__/c-preview-layout.test.tsx
  src/cook-web/src/app/c/[[...id]]/layout.tsx
Due: prettier-cook-web, eslint

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
