Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

feat: adjust lesson history entry and preview update notice (#2001)
  src/api/flaskr/service/learn/learn_dtos.py
  src/api/flaskr/service/learn/listen_element_history.py
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_history_manager.py
  src/api/tests/service/shifu/test_shifu_draft_info.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/c-api/studyV2.ts
  src/cook-web/src/components/header/Header.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.test.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/lib/lesson-history-time.test.ts
  src/cook-web/src/lib/lesson-history-time.ts
  src/cook-web/src/store/useShifu.test.tsx
  src/cook-web/src/store/useShifu.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/components/header.json
  src/i18n/en-US/modules/chat.json
  src/i18n/fr-FR/components/header.json
  src/i18n/fr-FR/modules/chat.json
  src/i18n/zh-CN/components/header.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

fix: keep published outline update timestamp
  src/api/flaskr/service/shifu/shifu_publish_funcs.py
Due: none

test: cover billing datetime parsing formats
  src/cook-web/src/lib/__tests__/billing.test.ts
Due: prettier-cook-web, eslint

fix: normalize lesson update timestamps
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/shifu/shifu_publish_funcs.py
  src/api/tests/service/learn/test_listen_elements.py
Due: none

feat: add published lesson update notice (#2003)
  src/api/flaskr/service/learn/learn_dtos.py
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/learn/listen_element_history.py
  src/api/flaskr/service/learn/listen_elements.py
  src/api/flaskr/service/shifu/shifu_publish_funcs.py
  src/api/tests/service/learn/test_listen_elements.py
  src/api/tests/service/shifu/test_shifu_publish_funcs.py
  src/api/tests/test_learn_api.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/hooks/useLessonTree.ts
  src/cook-web/src/app/c/[[...id]]/page.tsx
Due: prettier-cook-web, eslint

chore: clean referral review leftovers
  src/cook-web/src/app/admin/operations/referrals/ReferralRelationsPanel.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/operations-promotion.json
  src/i18n/en-US/modules/referral.json
  src/i18n/fr-FR/modules/operations-promotion.json
  src/i18n/fr-FR/modules/referral.json
  src/i18n/zh-CN/modules/operations-promotion.json
  src/i18n/zh-CN/modules/referral.json
Due: prettier-cook-web, eslint

fix: normalize minute billing timestamps
  src/cook-web/src/lib/__tests__/billing.test.ts
  src/cook-web/src/lib/billing.ts
Due: prettier-cook-web, eslint

feat: default learner courses to listen mode
  src/cook-web/src/__tests__/c-preview-layout.test.tsx
  src/cook-web/src/__tests__/query-params.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/Components/LearningModeSwitch.module.css
  src/cook-web/src/app/c/[[...id]]/Components/LearningModeSwitch.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/LearningModeSwitch.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/LearningModeSwitch.tsx
  src/cook-web/src/app/c/[[...id]]/Components/learningModeOptions.ts
  src/cook-web/src/app/c/[[...id]]/Components/learningModePreference.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/learningModePreference.ts
  src/cook-web/src/app/c/[[...id]]/layout.tsx
  src/cook-web/src/c-store/useCourseStore.ts
  src/cook-web/src/c-types/store.ts
  src/cook-web/src/c-utils/urlUtils.ts
Due: prettier-cook-web, eslint

fix: narrow listen mode default change
  src/cook-web/src/__tests__/c-preview-layout.test.tsx
  src/cook-web/src/__tests__/query-params.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/Components/LearningModeSwitch.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/LearningModeSwitch.tsx
  src/cook-web/src/app/c/[[...id]]/Components/learningModeOptions.ts
  src/cook-web/src/app/c/[[...id]]/Components/learningModePreference.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/learningModePreference.ts
  src/cook-web/src/app/c/[[...id]]/layout.tsx
  src/cook-web/src/c-store/useCourseStore.ts
  src/cook-web/src/c-types/store.ts
  src/cook-web/src/c-utils/urlUtils.ts
Due: prettier-cook-web, eslint

fix: remove unused learning mode desktop class
  src/cook-web/src/app/c/[[...id]]/Components/LearningModeSwitch.tsx
Due: prettier-cook-web, eslint

feat: default learner courses to listen mode (#2023)
  src/cook-web/src/app/c/[[...id]]/Components/LearningModeSwitch.module.css
  src/cook-web/src/app/c/[[...id]]/Components/LearningModeSwitch.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/LearningModeSwitch.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/LearningModeSwitch.tsx
  src/cook-web/src/app/c/[[...id]]/Components/learningModeOptions.ts
  src/cook-web/src/app/c/[[...id]]/Components/learningModePreference.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/learningModePreference.ts
  src/cook-web/src/app/c/[[...id]]/layout.tsx
Due: prettier-cook-web, eslint

test: cover dashboard UTC time display
  src/cook-web/src/app/admin/dashboard/[shifu_bid]/follow-ups/page.test.tsx
  src/cook-web/src/app/admin/dashboard/[shifu_bid]/page.test.tsx
  src/cook-web/src/app/admin/dashboard/[shifu_bid]/ratings/page.test.tsx
  src/cook-web/src/app/admin/dashboard/page.test.tsx
Due: prettier-cook-web, eslint

fix: address review feedback on deadlock retry
  src/api/flaskr/dao/__init__.py
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
  src/api/tests/test_retry_on_deadlock.py
Due: none

fix: normalize billing date-only values
  src/cook-web/src/lib/__tests__/billing.test.ts
  src/cook-web/src/lib/billing.ts
Due: prettier-cook-web, eslint

fix: guard NoneType crash in _get_current_attend and LockNotOwnedError in get_config
  src/api/flaskr/service/config/funcs.py
  src/api/flaskr/service/learn/context_v2.py
Due: none

feat: consolidate admin timezone formatters (#2024)
  src/cook-web/src/app/admin/operations/users/dateTime.ts
  src/cook-web/src/lib/__tests__/billing.test.ts
  src/cook-web/src/lib/billing.ts
Due: prettier-cook-web, eslint

fix: keep profile-item creation inside the retried save transaction
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
  src/api/tests/test_mdflow_adapter.py
Due: none

fix: prevent deadlock when saving outline mdflow concurrently (#2025)
  src/api/flaskr/dao/__init__.py
  src/api/flaskr/service/shifu/models.py
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
  src/api/migrations/versions/e7f1a2b3c4d5_add_outline_shifu_outline_id_index.py
  src/api/tests/test_mdflow_adapter.py
  src/api/tests/test_retry_on_deadlock.py
Due: none

fix: align operations course time display
  src/cook-web/src/app/admin/operations/[shifu_bid]/CourseCreditUsageTab.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/operations/page.test.tsx
  src/cook-web/src/app/admin/operations/page.tsx
Due: prettier-cook-web, eslint

chore: codify commit message guidance
  .claude/rules/global/testing-and-commit.md
  .cursor/rules/repository-ai-collab.mdc
  .github/copilot-instructions.md
  AGENTS.md
  docs/engineering-baseline.md
  scripts/generate_ai_collab_docs.py
Due: none

chore: codify commit message guidance (#2027)
  .claude/rules/global/testing-and-commit.md
  .cursor/rules/repository-ai-collab.mdc
  .github/copilot-instructions.md
  AGENTS.md
  docs/engineering-baseline.md
  scripts/generate_ai_collab_docs.py
Due: none

style: format operations course detail page
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
Due: prettier-cook-web, eslint

fix: persist the caller's value in update_config instead of the cached one
  src/api/flaskr/service/config/funcs.py
  src/api/tests/service/config/test_funcs.py
Due: none

fix: persist the caller's value in update_config instead of the cached one (#2031)
  src/api/flaskr/service/config/funcs.py
  src/api/tests/service/config/test_funcs.py
Due: none

feat: update Chinese demo course to the AI teaching guide
  src/api/demo_shifus/cn_demo.json
Due: none

style: add trailing newline to cn_demo.json
  src/api/demo_shifus/cn_demo.json
Due: none

feat: update Chinese demo course to the AI teaching guide (#2032)
  src/api/demo_shifus/cn_demo.json
Due: none

fix: polish lesson update history ui
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/components/header/Header.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/chat.json
  src/i18n/fr-FR/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

fix: remove unused header saved copy
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/components/header.json
  src/i18n/fr-FR/components/header.json
  src/i18n/zh-CN/components/header.json
Due: prettier-cook-web, eslint

fix: tighten lesson update follow-ups
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/components/header/Header.tsx
  src/i18n/en-US/modules/chat.json
  src/i18n/fr-FR/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

fix: prevent listen footer overlap
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
Due: prettier-cook-web, eslint

test: assert listen player class tokens
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.test.tsx
Due: prettier-cook-web, eslint

fix: align listen overlay footer offsets
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.test.tsx
Due: prettier-cook-web, eslint

fix: keep standalone ask overlay above footer
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
Due: prettier-cook-web

fix: target stable listen player class
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
Due: prettier-cook-web

fix: align listen slide overlays with player
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
Due: prettier-cook-web

fix: scope listen footer offsets
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
Due: prettier-cook-web, eslint

test: clarify dashboard text count assertions
  src/cook-web/src/app/admin/dashboard/[shifu_bid]/follow-ups/page.test.tsx
  src/cook-web/src/app/admin/dashboard/[shifu_bid]/ratings/page.test.tsx
Due: prettier-cook-web, eslint

fix: prevent listen footer overlap (#2030)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
Due: prettier-cook-web, eslint

fix: confirm learner lesson resets
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/chat.json
  src/i18n/fr-FR/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
