Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

fix: align preview language handling (#1218)
  src/api/flaskr/service/learn/context_v2.py
  src/api/requirements.txt
  src/api/tests/service/learn/test_context_v2.py
Due: none

chore: remove ark access key env vars
  docker/.env.example.full
  src/api/flaskr/common/config.py
Due: none

refactor: use openai-compatible models for ark
  src/api/flaskr/api/llm/__init__.py
Due: none

refactor: use openai-compatible models for ark (#1220)
  docker/.env.example.full
  src/api/flaskr/api/llm/__init__.py
  src/api/flaskr/common/config.py
Due: none

fix: disable thinking for volcengine and siliconflow
  src/api/flaskr/api/llm/__init__.py
Due: none

fix: disable thinking for volcengine and siliconflow (#1222)
  src/api/flaskr/api/llm/__init__.py
Due: none

fix: add variable to learn context
  src/api/flaskr/service/learn/context_v2.py
Due: none

feature: add context to learn (#1211)
  src/api/flaskr/service/learn/context_v2.py
Due: none

fix: relax markdownflow output language mapping
  src/api/flaskr/common/i18n_utils.py
Due: none

fix: drop base language aliases in markdownflow mapping
  src/api/flaskr/common/i18n_utils.py
Due: none

fix: relax markdownflow output language mapping (#1223)
  src/api/flaskr/common/i18n_utils.py
Due: none

feat: add tts pipeline and report generator
  docker/docker-compose.dev.yml
  src/api/flaskr/api/tts/__init__.py
  src/api/flaskr/api/tts/aliyun_provider.py
  src/api/flaskr/api/tts/baidu_provider.py
  src/api/flaskr/api/tts/minimax_provider.py
  src/api/flaskr/api/tts/volcengine_provider.py
  src/api/flaskr/common/config.py
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/shifu/dtos.py
  src/api/flaskr/service/shifu/models.py
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/api/flaskr/service/tts/__init__.py
  src/api/flaskr/service/tts/pipeline.py
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/migrations/versions/b5f2d3a9c1e4_update_tts_ranges_and_provider_defaults.py
  src/api/requirements.txt
  src/api/scripts/tts_test_report.py
  src/api/tests/service/tts/test_tts_text_preprocess.py
  src/cook-web/next.config.ts
  src/cook-web/src/__tests__/i18n.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/components/audio/AudioPlayer.tsx
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: prettier-cook-web, eslint

fix: hide next button after final lesson
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/tests/service/learn/test_learn_record.py
Due: none

fix: update login i18n key to follow naming convention
  src/api/flaskr/service/learn/context_v2.py
  src/i18n/en-US/modules/backend/user.json
  src/i18n/zh-CN/modules/backend/user.json
Due: none

fix: hide next button after final lesson (#1224)
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/tests/service/learn/test_learn_record.py
Due: none

fix: update login i18n key to follow naming convention (#1225)
  src/api/flaskr/service/learn/context_v2.py
  src/i18n/en-US/modules/backend/user.json
  src/i18n/zh-CN/modules/backend/user.json
Due: none

feat: upgrade markdown-flow-ui version to 0.1.71
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: upgrade markdown-flow-ui version to 0.1.71 (#1227)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: upgrade markdown-flow-ui version to 0.1.72
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: upgrade markdown-flow-ui version to 0.1.72 (#1228)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: prevent ios otp double fill
  src/cook-web/package-lock.json
  src/cook-web/src/components/auth/PhoneLogin.tsx
Due: prettier-cook-web, eslint

chore: document otp normalization
  src/cook-web/src/components/auth/PhoneLogin.tsx
Due: prettier-cook-web, eslint

feat: add MDF AI conversion feature to Shifu editor
  src/cook-web/src/components/mdf-convert/MdfConvertDialog.tsx
  src/cook-web/src/components/mdf-convert/design.md
  src/cook-web/src/components/mdf-convert/index.ts
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/lib/mdf-api.ts
  src/cook-web/src/lib/user.ts
  src/i18n/en-US/common/core.json
  src/i18n/en-US/components/mdf-convert.json
  src/i18n/locales.json
  src/i18n/zh-CN/common/core.json
  src/i18n/zh-CN/components/mdf-convert.json
Due: prettier-cook-web, eslint

refactor: rename env var to NEXT_PUBLIC_GEN_MDF_API_URL
  src/cook-web/src/lib/mdf-api.ts
Due: prettier-cook-web, eslint

refactor: use existing auth system for MDF conversion
  src/cook-web/src/components/mdf-convert/MdfConvertDialog.tsx
  src/cook-web/src/lib/mdf-api.ts
  src/cook-web/src/lib/user.ts
Due: prettier-cook-web, eslint

refactor: migrate MDF conversion to unified request system
  src/cook-web/src/components/mdf-convert/MdfConvertDialog.tsx
  src/cook-web/src/lib/mdf-api.ts
Due: prettier-cook-web, eslint

feat: add confirmation dialog before applying MDF conversion
  src/cook-web/src/components/mdf-convert/MdfConvertDialog.tsx
  src/i18n/en-US/components/mdf-convert.json
  src/i18n/zh-CN/components/mdf-convert.json
Due: prettier-cook-web, eslint

feat: replace MDF config warning toast with persistent in-dialog message
  src/cook-web/src/components/mdf-convert/MdfConvertDialog.tsx
  src/cook-web/src/config/environment.ts
  src/i18n/en-US/components/mdf-convert.json
  src/i18n/zh-CN/components/mdf-convert.json
Due: prettier-cook-web, eslint

feat: add streaming TTS to preview flows
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/learn_dtos.py
  src/api/flaskr/service/order/__init__.py
  src/api/flaskr/service/tts/streaming_tts.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/components/audio/AudioPlayer.tsx
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
Due: prettier-cook-web, eslint

fix: disable TTS in C preview mode
  src/api/flaskr/service/learn/context_v2.py
Due: none

fix: enable TTS only for preview mode
  src/api/flaskr/service/learn/context_v2.py
Due: none

refactor: update MDF API warning message to include support email
  src/cook-web/src/components/mdf-convert/MdfConvertDialog.tsx
  src/i18n/en-US/components/mdf-convert.json
  src/i18n/zh-CN/components/mdf-convert.json
Due: prettier-cook-web, eslint

refactor: adjust MDF convert button icon styling and clean up translations
  src/cook-web/src/components/mdf-convert/MdfConvertDialog.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/i18n/en-US/components/mdf-convert.json
  src/i18n/zh-CN/components/mdf-convert.json
Due: prettier-cook-web, eslint

feat: add clickable mailto link for support email in MDF warning
  src/cook-web/src/components/mdf-convert/MdfConvertDialog.tsx
  src/i18n/en-US/components/mdf-convert.json
  src/i18n/zh-CN/components/mdf-convert.json
Due: prettier-cook-web, eslint

feat: prevent MDF convert dialog from closing on outside click
  src/cook-web/src/components/mdf-convert/MdfConvertDialog.tsx
Due: prettier-cook-web, eslint

refactor: improve MDF convert dialog layout and alignment
  src/cook-web/src/components/mdf-convert/MdfConvertDialog.tsx
Due: prettier-cook-web, eslint

refactor: optimize MDF convert dialog sizing and flex layout
  src/cook-web/src/components/mdf-convert/MdfConvertDialog.tsx
Due: prettier-cook-web, eslint

feat: add Umami analytics tracking for MDF convert feature
  src/cook-web/src/components/mdf-convert/MdfConvertDialog.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

feat: add Beta badge to MDF convert dialog title
  src/cook-web/src/components/mdf-convert/MdfConvertDialog.tsx
Due: prettier-cook-web, eslint

feat: Add MDF API configuration support
  src/api/flaskr/common/config.py
  src/api/flaskr/route/config.py
  src/cook-web/src/c-store/envStore.ts
  src/cook-web/src/c-types/store.ts
  src/cook-web/src/components/mdf-convert/MdfConvertDialog.tsx
  src/cook-web/src/lib/initializeEnvData.ts
Due: prettier-cook-web, eslint

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
