Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

fix: grant demo courses for auto-created invite users
  src/api/flaskr/service/order/admin.py
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/user/utils.py
Due: none

fix: simplify demo loader and cover explicit demo ids
  src/api/flaskr/service/user/utils.py
  src/api/tests/service/user/test_demo_course_permissions.py
Due: none

feat: add API key authentication and MCP server for course management
  .claude/skills/mcp-setup/SKILL.md
  docker/.env.example.full
  src/api/error_codes.json
  src/api/flaskr/common/config.py
  src/api/flaskr/route/user.py
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/user/__init__.py
  src/api/flaskr/service/user/api_key_funcs.py
  src/api/flaskr/service/user/api_key_models.py
  src/api/migrations/versions/b6c2e5aada3f_add_user_api_keys_table_for_.py
  src/i18n/en-US/modules/backend/user.json
  src/i18n/zh-CN/modules/backend/user.json
  src/mcp-server/README.md
  src/mcp-server/pyproject.toml
  src/mcp-server/src/ai_shifu_mcp/__init__.py
  src/mcp-server/src/ai_shifu_mcp/__main__.py
  src/mcp-server/src/ai_shifu_mcp/api_client.py
  src/mcp-server/src/ai_shifu_mcp/server.py
  src/mcp-server/uv.lock
Due: none

fix: close mobile quick-action popover on outside interactions
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlockM.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

fix: remove duplicate mobile popover outside listener
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

fix: reset mobile quick-action state when leaving mobile layout
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

feat: upgrade markdown-flow-ui version to 0.1.99
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: add lesson feedback flow for read and listen modes
  src/api/flaskr/service/learn/const.py
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/learn/lesson_feedback.py
  src/api/flaskr/service/learn/models.py
  src/api/flaskr/service/learn/routes.py
  src/api/migrations/versions/4e7a1c9d2b6f_add_learn_lesson_feedbacks.py
  src/api/tests/service/learn/test_context_v2.py
  src/api/tests/service/learn/test_learn_record.py
  src/api/tests/service/learn/test_lesson_feedback.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/LessonFeedbackInteraction.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
  src/cook-web/src/c-api/studyV2.ts
  src/cook-web/src/c-common/tools/tracking.ts
  src/i18n/en-US/modules/backend/learn.json
  src/i18n/en-US/modules/chat.json
  src/i18n/zh-CN/modules/backend/learn.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

fix: tighten feedback permissions and resolve review issues
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/models.py
  src/api/flaskr/service/learn/routes.py
  src/api/migrations/versions/4e7a1c9d2b6f_add_learn_lesson_feedbacks.py
  src/api/tests/service/common/test_storage.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/LessonFeedbackInteraction.tsx
  src/cook-web/src/types/i18n-keys.d.ts
Due: prettier-cook-web, eslint

fix: harden lesson feedback flow and validation
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/learn/lesson_feedback.py
  src/api/flaskr/service/learn/routes.py
  src/api/tests/service/learn/test_context_v2.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/LessonFeedbackInteraction.tsx
Due: prettier-cook-web, eslint

fix: remove extra feedback card border in chat ui
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/LessonFeedbackInteraction.tsx
Due: prettier-cook-web, eslint

fix: address remaining feedback review issues
  src/api/flaskr/service/learn/routes.py
  src/api/tests/service/learn/test_lesson_feedback.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/LessonFeedbackInteraction.tsx
Due: prettier-cook-web, eslint

fix: align access gate login and tail feedback checks
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/learn_funcs.py
Due: none

fix: add bid to learn lesson feedback table
  src/api/flaskr/service/learn/lesson_feedback.py
  src/api/flaskr/service/learn/models.py
  src/api/migrations/versions/0e9b8c7d6a5f_add_bid_to_learn_lesson_feedbacks.py
  src/api/tests/service/learn/test_lesson_feedback.py
Due: none

fix: allow guest lesson feedback and optimize mobile layout
  src/api/flaskr/service/learn/routes.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/LessonFeedbackInteraction.tsx
Due: prettier-cook-web, eslint

fix: avoid emitting next chapter with lesson feedback
  src/api/flaskr/service/learn/context_v2.py
Due: none

fix: validate feedback list pagination params separately
  src/api/flaskr/service/learn/routes.py
Due: none

refactor: merge lesson feedback migrations
  src/api/migrations/versions/0e9b8c7d6a5f_add_bid_to_learn_lesson_feedbacks.py
  src/api/migrations/versions/4e7a1c9d2b6f_add_learn_lesson_feedbacks.py
Due: none

feat: move lesson feedback to floating popup
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/LessonFeedbackInteraction.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
Due: prettier-cook-web, eslint

fix: pin mobile feedback popup to bottom
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

fix: align feedback skip tracking across close and next
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix: tighten feedback permissions and resolve review issues
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/models.py
  src/api/flaskr/service/learn/routes.py
  src/api/migrations/versions/4e7a1c9d2b6f_add_learn_lesson_feedbacks.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/LessonFeedbackInteraction.tsx
Due: prettier-cook-web, eslint

fix: add bid to learn lesson feedback table
  src/api/flaskr/service/learn/lesson_feedback.py
  src/api/flaskr/service/learn/models.py
  src/api/tests/service/learn/test_lesson_feedback.py
Due: none

feat: add lesson feedback flow for read and listen modes
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/learn/lesson_feedback.py
  src/api/flaskr/service/learn/models.py
  src/api/flaskr/service/learn/routes.py
  src/api/migrations/versions/4e7a1c9d2b6f_add_learn_lesson_feedbacks.py
  src/api/tests/service/learn/test_context_v2.py
  src/api/tests/service/learn/test_lesson_feedback.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/LessonFeedbackInteraction.tsx
Due: prettier-cook-web, eslint
