Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

fix: harden draft conflict handling
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_history_manager.py
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

fix: ignore deleted draft logs
  src/api/flaskr/service/shifu/shifu_history_manager.py
Due: none

refactor: simplify draft conflict parsing
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
Due: none

feat: draft conflict notify (#1361)
  src/api/error_codes.json
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_history_manager.py
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/components/shifu-edit/DraftConflictDialog.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/store/useShifu.tsx
  src/cook-web/src/types/shifu.ts
  src/i18n/en-US/modules/backend/shifu.json
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/zh-CN/modules/backend/shifu.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: prettier-cook-web, eslint

fix: remediate dashboard metrics, filters, and learner detail behavior
  src/api/flaskr/service/dashboard/dtos.py
  src/api/flaskr/service/dashboard/funcs.py
  src/api/flaskr/service/dashboard/routes.py
  src/api/tests/service/dashboard/test_dashboard_routes.py
  src/cook-web/src/app/admin/dashboard/page.tsx
  src/cook-web/src/app/admin/dashboard/shifu/[shifu_bid]/learners/[user_bid]/page.tsx
  src/cook-web/src/app/admin/dashboard/shifu/[shifu_bid]/page.tsx
  src/cook-web/src/components/dashboard/LearnerDetailSheet.tsx
  src/cook-web/src/types/dashboard.ts
  src/i18n/en-US/modules/dashboard.json
  src/i18n/zh-CN/modules/dashboard.json
Due: prettier-cook-web, eslint

test(dashboard): add dashboard route coverage
  src/api/tests/service/dashboard/test_dashboard_routes.py
  tasks.md
Due: none

fix: resolve dashboard date range type mismatch for build
  src/cook-web/src/app/admin/dashboard/page.tsx
  src/cook-web/src/app/admin/dashboard/shifu/[shifu_bid]/page.tsx
Due: prettier-cook-web, eslint

feat(dashboard): add dashboard types
  src/cook-web/src/types/dashboard.ts
  tasks.md
Due: prettier-cook-web, eslint

feat(dashboard): add admin dashboard page scaffold
  src/cook-web/src/app/admin/dashboard/page.tsx
  tasks.md
Due: prettier-cook-web, eslint

docs: add teacher dashboard design and tasks
  docs/teacher-analytics-dashboard.md
  tasks.md
Due: none

feat(dashboard): add learner detail sheet
  src/cook-web/src/app/admin/dashboard/page.tsx
  src/cook-web/src/components/dashboard/LearnerDetailSheet.tsx
  src/i18n/en-US/modules/dashboard.json
  src/i18n/zh-CN/modules/dashboard.json
  tasks.md
Due: prettier-cook-web, eslint

feat(dashboard): add published outlines endpoint
  src/api/flaskr/service/dashboard/funcs.py
  src/api/flaskr/service/dashboard/routes.py
  tasks.md
Due: none

feat(dashboard): add course and date range filters
  src/cook-web/src/app/admin/dashboard/page.tsx
  src/i18n/en-US/modules/dashboard.json
  src/i18n/zh-CN/modules/dashboard.json
  tasks.md
Due: prettier-cook-web, eslint

feat(dashboard): add cook-web api definitions
  src/cook-web/src/api/api.ts
  tasks.md
Due: prettier-cook-web, eslint

feat(dashboard): add learners endpoint
  src/api/flaskr/service/dashboard/dtos.py
  src/api/flaskr/service/dashboard/funcs.py
  src/api/flaskr/service/dashboard/routes.py
  tasks.md
Due: none

feat(dashboard): add admin nav and i18n namespace
  src/cook-web/src/app/admin/layout.tsx
  src/i18n/en-US/modules/dashboard.json
  src/i18n/locales.json
  src/i18n/zh-CN/modules/dashboard.json
  tasks.md
Due: prettier-cook-web, eslint

feat(dashboard): add learner list table
  src/cook-web/src/app/admin/dashboard/page.tsx
  src/i18n/en-US/modules/dashboard.json
  src/i18n/zh-CN/modules/dashboard.json
  tasks.md
Due: prettier-cook-web, eslint

chore(cook-web): add type-check script
  src/cook-web/package.json
  src/cook-web/src/app/admin/dashboard/page.tsx
  tasks.md
Due: prettier-cook-web, eslint

feat(dashboard): add overview endpoint
  src/api/flaskr/service/dashboard/dtos.py
  src/api/flaskr/service/dashboard/funcs.py
  src/api/flaskr/service/dashboard/routes.py
  tasks.md
Due: none

build(cook-web): add echarts dependencies
  src/cook-web/package-lock.json
  src/cook-web/package.json
  tasks.md
Due: prettier-cook-web

test(dashboard): fix overview test date range
  src/api/tests/service/dashboard/test_dashboard_routes.py
  tasks.md
Due: none

chore: backup dashboard and trim detail routes
  src/cook-web/src/app/admin/dashboard-backup-20260227-131409/src/cook-web/src/app/admin/dashboard/page.tsx
  src/cook-web/src/app/admin/dashboard-backup-20260227-131409/src/cook-web/src/app/admin/dashboard/shifu/[shifu_bid]/learners/[user_bid]/page.tsx
  src/cook-web/src/app/admin/dashboard-backup-20260227-131409/src/cook-web/src/app/admin/dashboard/shifu/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/dashboard-backup-20260227-131409/src/cook-web/src/components/dashboard/LearnerDetailSheet.tsx
  src/cook-web/src/app/admin/dashboard-backup-20260227-131409/src/cook-web/src/types/dashboard.ts
  src/cook-web/src/app/admin/dashboard-backup-20260227-131409/src/i18n/en-US/modules/dashboard.json
  src/cook-web/src/app/admin/dashboard-backup-20260227-131409/src/i18n/zh-CN/modules/dashboard.json
  src/cook-web/src/app/admin/dashboard/shifu/[shifu_bid]/page.tsx
Due: prettier-cook-web, eslint

feat(dashboard): add entry page and shifu detail routes
  docs/dashboard-entry-page.md
  src/api/flaskr/service/dashboard/dtos.py
  src/api/flaskr/service/dashboard/funcs.py
  src/api/flaskr/service/dashboard/routes.py
  src/api/tests/service/dashboard/test_dashboard_routes.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/dashboard/page.tsx
  src/cook-web/src/app/admin/dashboard/shifu/[shifu_bid]/learners/[user_bid]/page.tsx
  src/cook-web/src/app/admin/dashboard/shifu/[shifu_bid]/page.tsx
  src/cook-web/src/components/dashboard/LearnerDetailSheet.tsx
  src/cook-web/src/types/dashboard.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/dashboard.json
  src/i18n/zh-CN/modules/dashboard.json
  tasks.md
Due: prettier-cook-web, eslint

feat(dashboard): change data query logic for top-level dashboard
  src/api/flaskr/service/dashboard/funcs.py
  src/api/tests/service/dashboard/test_dashboard_routes.py
Due: none

feat(dashboard): add overview charts
  src/cook-web/src/app/admin/dashboard/page.tsx
  src/i18n/en-US/modules/dashboard.json
  src/i18n/zh-CN/modules/dashboard.json
  tasks.md
Due: prettier-cook-web, eslint

feat(dashboard): improve loading and error states
  src/cook-web/src/app/admin/dashboard/page.tsx
  src/cook-web/src/components/dashboard/LearnerDetailSheet.tsx
  tasks.md
Due: prettier-cook-web, eslint

feat(charts): add reusable echarts wrappers
  src/cook-web/src/components/charts/ChartCard.tsx
  src/cook-web/src/components/charts/EChart.tsx
  src/cook-web/src/lib/charts/options.ts
  tasks.md
Due: prettier-cook-web, eslint

feat(dashboard): add learner detail and followups
  src/api/flaskr/service/dashboard/dtos.py
  src/api/flaskr/service/dashboard/funcs.py
  src/api/flaskr/service/dashboard/routes.py
  tasks.md
Due: none

feat(dashboard): add backend module skeleton
  src/api/flaskr/service/dashboard/__init__.py
  src/api/flaskr/service/dashboard/dtos.py
  src/api/flaskr/service/dashboard/funcs.py
  src/api/flaskr/service/dashboard/routes.py
  tasks.md
Due: none

fix(cook-web): avoid remote font fetch during build
  src/cook-web/src/app/globals.css
Due: prettier-cook-web

chore: mark pre-commit QA step
  tasks.md
Due: none

feat(dashboard): add overview KPI cards
  src/cook-web/src/app/admin/dashboard/page.tsx
  src/i18n/en-US/modules/dashboard.json
  src/i18n/zh-CN/modules/dashboard.json
  tasks.md
Due: prettier-cook-web, eslint

Revert "fix: revert markdown-flow version"
  src/api/requirements.txt
Due: none

fix(ci): guard docker push and clean unused i18n keys
  .github/workflows/build-latest.yml
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/dashboard.json
  src/i18n/zh-CN/modules/dashboard.json
Due: prettier-cook-web, eslint

fix: add visual_mode pararm to preview api
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/learn_dtos.py
  src/api/flaskr/service/learn/routes.py
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
Due: prettier-cook-web, eslint

fix: add visual_mode pararm to preview api (#1372)
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/learn_dtos.py
  src/api/flaskr/service/learn/routes.py
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
Due: prettier-cook-web, eslint

fix: remove cancel button from draft conflict dialog
  src/cook-web/src/components/shifu-edit/DraftConflictDialog.tsx
Due: prettier-cook-web, eslint

fix: remove unused draft conflict cancel translation keys
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: none

fix: remove cancel button from draft conflict dialog (#1374)
  src/cook-web/src/components/shifu-edit/DraftConflictDialog.tsx
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: prettier-cook-web, eslint

fix: skip draft meta checks for readonly shifu
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint
