Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

fix: prevent stuck loading after idle run stream closes
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/c-api/studyV2.ts
Due: prettier-cook-web, eslint

refactor: delegate run stream errors to caller
  src/cook-web/src/c-api/studyV2.ts
Due: prettier-cook-web, eslint

fix: avoid duplicate SSE cleanup and ignore heartbeat-only streams
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix: harden run stream error handling against early failures
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/c-api/studyV2.ts
Due: prettier-cook-web, eslint

fix: avoid stuck loading after idle run stream closes (#1450)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/c-api/studyV2.ts
Due: prettier-cook-web, eslint

fix: remove new_slide event from backend run stream
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/learn_dtos.py
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/learn/listen_elements.py
  src/api/flaskr/service/learn/models.py
  src/api/flaskr/service/learn/routes.py
  src/api/flaskr/service/learn/runscript_v2.py
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/migrations/versions/4a1f6c8e9b2d_add_learn_generated_elements.py
  src/api/scripts/backfill_learn_generated_elements.py
  src/api/tests/service/learn/test_learn_dtos_slide.py
  src/api/tests/service/learn/test_learn_record_slides.py
  src/api/tests/service/learn/test_listen_elements.py
  src/api/tests/service/learn/test_runscript_v2_lock.py
  src/api/tests/service/tts/test_streaming_tts_av_contract.py
Due: none

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
Due: prettier-cook-web, eslint

refactor: deduplicate learn element legacy helpers
  src/api/flaskr/service/learn/block_type_mapping.py
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/learn/legacy_record_builder.py
  src/api/flaskr/service/learn/listen_elements.py
  src/api/flaskr/service/learn/listen_slide_builder.py
  src/api/flaskr/service/learn/listen_source_span_utils.py
  src/api/flaskr/service/learn/runscript_v2.py
  src/api/flaskr/service/tts/streaming_tts.py
Due: none

docs: align design-first workflow and tasks plan
  AGENTS.md
  docs/learn-generated-elements-design.md
  tasks.md
Due: none

fix(cook-web): localize slide interaction hint in listen mode
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
Due: prettier-cook-web, eslint

feat: add element protocol fields and type state machine
  src/api/flaskr/service/learn/learn_dtos.py
  src/api/flaskr/service/learn/listen_elements.py
  src/api/flaskr/service/learn/models.py
  src/api/flaskr/service/learn/type_state_machine.py
  src/api/migrations/versions/a1b2c3d4e5f7_add_element_protocol_fields.py
  src/api/tests/service/learn/test_element_protocol.py
  tasks.md
Due: none

fix: skip server_default for TEXT columns in element migration
  src/api/migrations/versions/a1b2c3d4e5f7_add_element_protocol_fields.py
Due: none

fix: use bool for is_final in ElementDTO
  src/api/flaskr/service/learn/learn_dtos.py
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_element_protocol.py
  src/api/tests/service/learn/test_listen_elements.py
  src/api/tests/service/learn/test_runscript_v2_lock.py
Due: none

fix: infer element_type from content instead of hardcoding HTML
  src/api/flaskr/service/learn/listen_elements.py
Due: none

fix: use TEXT directly for fallback elements instead of regex inference
  src/api/flaskr/service/learn/listen_elements.py
Due: none

refactor: remove slide concept from element pipeline
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/learn_dtos.py
  src/api/flaskr/service/learn/listen_elements.py
  src/api/flaskr/service/learn/listen_slide_builder.py
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/tests/service/learn/test_learn_dtos_slide.py
  src/api/tests/service/learn/test_learn_funcs.py
  src/api/tests/service/learn/test_learn_record_slides.py
  src/api/tests/service/learn/test_listen_elements.py
  src/api/tests/service/learn/test_listen_slide_builder.py
  src/api/tests/service/tts/test_streaming_tts_av_contract.py
Due: none

feat: update dashboard chapter follow-up chart
  src/api/flaskr/service/dashboard/dtos.py
  src/api/flaskr/service/dashboard/funcs.py
  src/api/flaskr/service/dashboard/routes.py
  src/api/tests/service/dashboard/test_dashboard_routes.py
  src/cook-web/src/app/admin/dashboard/[shifu_bid]/page.test.tsx
  src/cook-web/src/app/admin/dashboard/[shifu_bid]/page.tsx
  src/cook-web/src/types/dashboard.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/dashboard.json
  src/i18n/zh-CN/modules/dashboard.json
Due: prettier-cook-web, eslint

fix: resolve dashboard chapter chart build typing
  src/cook-web/src/app/admin/dashboard/[shifu_bid]/page.tsx
Due: prettier-cook-web, eslint

fix: correct element type inference for mermaid, title, latex, diff in SSE stream
  src/api/flaskr/service/learn/listen_elements.py
  src/api/flaskr/service/tts/patterns.py
  src/api/flaskr/service/tts/pipeline.py
  src/api/tests/service/learn/test_listen_elements.py
  src/api/tests/service/learn/test_sse_element_split_from_db.py
Due: none

fix: prevent home redirect loop on root path
  src/cook-web/src/__tests__/home-url-redirect.test.ts
  src/cook-web/src/lib/initializeEnvData.ts
  src/cook-web/src/lib/utils.ts
Due: prettier-cook-web, eslint

chore: Update markdown flow dependent versions
  src/api/requirements.txt
Due: none

refactor: externalize interaction default resolution from markdown-flow-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/c-utils/interaction-user-input.ts
  src/cook-web/src/c-utils/lesson-feedback-interaction-defaults.ts
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
  src/cook-web/src/types/markdown-flow-ui.d.ts
Due: prettier-cook-web, eslint

refactor: rename shared slide element fields across ai-shifu and markdown-flow-ui
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
Due: prettier-cook-web, eslint

fix: harden SSE TTS segmentation
  src/api/flaskr/service/tts/boundary_strategies.py
  src/api/flaskr/service/tts/patterns.py
  src/api/flaskr/service/tts/pipeline.py
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/scripts/check_sse_segmentation.py
  src/api/tests/service/tts/test_av_speakable_segmentation.py
  src/api/tests/service/tts/test_streaming_tts_av_contract.py
Due: none

fix: allow tts lookup for legacy generated blocks
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/tests/service/learn/test_generated_block_tts_av_mode.py
Due: none

fix: wire markdown-flow stream elements into listen adapter
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/learn_dtos.py
  src/api/flaskr/service/learn/listen_elements.py
  src/api/requirements.txt
  src/api/scripts/check_mdflow_listen_adapter.py
  src/api/tests/service/learn/test_element_protocol.py
  src/api/tests/service/learn/test_listen_elements.py
Due: none

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: keep final narration as separate text elements
  docs/learn-generated-elements-design.md
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_listen_elements.py
  tasks.md
Due: none

fix: restore mobile pingxx payment flow
  src/api/flaskr/route/order.py
  src/api/flaskr/service/config/funcs.py
  src/api/flaskr/service/order/funs.py
  src/api/migrations/versions/0e9b8c7d6a5f_add_bid_to_learn_lesson_feedbacks.py
  src/api/migrations/versions/3ef04a9b5d37_add_position_to_learn_generated_audios.py
  src/api/migrations/versions/6b956399315e_backfill_profile_variable_tables.py
  src/api/migrations/versions/716efaaeb662_create_profile_variable_tables.py
  src/api/migrations/versions/8f4c1a2b7d9e_drop_legacy_order_variable_active_tables.py
  src/api/migrations/versions/9f3a0c3aebe0_add_hidden_profile_item.py
  src/api/migrations/versions/b2793bb43f97_add_bill_usage.py
  src/api/migrations/versions/c221d355ffb7_add_promo_campaign_tables.py
  src/api/migrations/versions/d7a8e2f1b3c9_add_use_learner_language.py
  src/api/migrations/versions/e1b2c3d4e5f6_add_ask_provider_config_to_shifu.py
  src/api/migrations/versions/ef7dbc5a8be3_backfill_promo_campaign_tables.py
  src/api/migrations/versions/f0c1e2d3a4b5_add_outline_lookup_composite_index.py
  src/api/tests/service/order/test_payment_channel_resolution.py
  src/api/tests/test_wx_pub_order.py
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModalM.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/constans.ts
  src/cook-web/src/app/c/[[...id]]/Components/Pay/hooks/usePaymentFlow.ts
  src/cook-web/src/app/payment/pingxx/result/page.tsx
  src/cook-web/src/c-api/order.ts
  src/cook-web/src/c-common/hooks/useWechat.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/pay.json
  src/i18n/zh-CN/modules/pay.json
Due: prettier-cook-web, eslint

fix: persist listen elements consistently
  docs/learn-generated-elements-design.md
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_element_protocol.py
  src/api/tests/service/learn/test_listen_elements.py
  tasks.md
Due: none

fix: clear interaction block loading on stream close
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix: align interaction parser mock with hook usage
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
Due: prettier-cook-web, eslint

fix: close mobile course list after retake
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/page.tsx
Due: prettier-cook-web, eslint

fix: use mobile viewport for learner pages
  src/cook-web/src/app/layout.tsx
Due: prettier-cook-web, eslint

fix: return all persisted learn elements
  docs/learn-generated-elements-design.md
  src/api/flaskr/service/learn/listen_elements.py
  src/api/flaskr/service/learn/routes.py
  src/api/tests/service/learn/test_listen_elements.py
  tasks.md
Due: none

fix: move learner viewport to metadata
  src/cook-web/src/app/layout.tsx
  src/cook-web/src/app/metadata.tsx
Due: prettier-cook-web, eslint

fix: stabilize mobile retake loading state
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/page.tsx
  src/cook-web/src/c-store/useCourseStore.ts
  src/cook-web/src/c-types/store.ts
Due: prettier-cook-web, eslint

fix: close mobile course list after retake (#1455)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/page.tsx
  src/cook-web/src/c-store/useCourseStore.ts
  src/cook-web/src/c-types/store.ts
Due: prettier-cook-web, eslint

fix: use mobile viewport for learner pages (#1456)
  src/cook-web/src/app/layout.tsx
  src/cook-web/src/app/metadata.tsx
Due: prettier-cook-web, eslint

fix: remove text defaults from learn elements migration
  src/api/migrations/versions/4a1f6c8e9b2d_add_learn_generated_elements.py
Due: none

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
