Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

fix: enable ask when lesson is complete
  src/api/flaskr/service/learn/context_v2.py
Due: none

fix: enable ask when lesson is complete (#997)
  src/api/flaskr/service/learn/context_v2.py
Due: none

feat: use configurable currency symbol in pricing UI
  docker/.env.example.full
  src/cook-web/src/app/api/config/route.ts
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModal.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModalM.tsx
  src/cook-web/src/app/c/[[...id]]/layout.tsx
  src/cook-web/src/c-store/envStore.ts
  src/cook-web/src/c-types/store.ts
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/config/environment.ts
Due: prettier-cook-web, eslint

fix: respect configured payment channel
  src/api/flaskr/service/order/funs.py
  src/api/tests/service/order/test_payment_channel_resolution.py
Due: none

fix: ui
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModal.module.css
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModal.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModal.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModalM.module.css
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModalM.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModalM.tsx
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/qps-ploc/modules/shifu-setting.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: prettier-cook-web, eslint

feat: use configurable currency symbol in pricing UI (#998)
  docker/.env.example.full
  src/cook-web/src/app/api/config/route.ts
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModal.module.css
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModal.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModal.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModalM.module.css
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModalM.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModalM.tsx
  src/cook-web/src/app/c/[[...id]]/layout.tsx
  src/cook-web/src/c-store/envStore.ts
  src/cook-web/src/c-types/store.ts
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/config/environment.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/qps-ploc/modules/shifu-setting.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: prettier-cook-web, eslint

fix: respect configured payment channel (#999)
  src/api/flaskr/service/order/funs.py
  src/api/tests/service/order/test_payment_channel_resolution.py
Due: none

fix: reset auth token on expiration
  src/cook-web/src/lib/request.ts
  src/cook-web/src/store/useUserStore.ts
Due: prettier-cook-web, eslint

fix: reset auth token on expiration (#1000)
  src/cook-web/src/lib/request.ts
  src/cook-web/src/store/useUserStore.ts
Due: prettier-cook-web, eslint

``` docs(api): update the basics section of the ask.md document
  src/api/prompts/ask.md
Due: none

fix: issue of payment fails in wechat h5
  src/api/flaskr/service/order/funs.py
Due: none

fix: issue of payment fails in wechat h5 (#1004)
  src/api/flaskr/service/order/funs.py
Due: none

fix: add global i18n loading gate during language switch
  src/cook-web/src/app/layout.tsx
  src/cook-web/src/components/I18nGlobalLoading.tsx
  src/cook-web/src/i18n.ts
  src/cook-web/src/store/index.ts
  src/cook-web/src/store/useI18nLoadingStore.ts
Due: prettier-cook-web, eslint

fix: add global i18n loading gate during language switch (#1005)
  src/cook-web/src/app/layout.tsx
  src/cook-web/src/components/I18nGlobalLoading.tsx
  src/cook-web/src/i18n.ts
  src/cook-web/src/store/index.ts
  src/cook-web/src/store/useI18nLoadingStore.ts
Due: prettier-cook-web, eslint

fix: pr advice
  src/cook-web/src/components/I18nGlobalLoading.tsx
  src/cook-web/src/i18n.ts
Due: prettier-cook-web, eslint

fix: pr advice
  src/cook-web/src/i18n.ts
Due: prettier-cook-web, eslint

fix: i18n loading pr advice (#1006)
  src/cook-web/src/components/I18nGlobalLoading.tsx
  src/cook-web/src/i18n.ts
Due: prettier-cook-web, eslint

fix: correct catalog collapse toggle payload
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseCatalog.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseCatalog.tsx
Due: prettier-cook-web, eslint

fix: correct catalog collapse toggle payload (#1007)
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseCatalog.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseCatalog.tsx
Due: prettier-cook-web, eslint

feat: add beforeSend confirmation dialog to content block
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
Due: prettier-cook-web, eslint

feat: add regenerate confirmation to preview chat flow
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

fix: mdf-ui version
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: add regenerate confirmation to chat flow (#1008)
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

feat(i18n): add output language setting support for MarkdownFlow
  src/api/flaskr/common/i18n_utils.py
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/preview_service.py
  src/api/flaskr/service/shifu/shifu_import_export_funcs.py
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
  src/api/flaskr/service/shifu/shifu_outline_funcs.py
  src/api/flaskr/service/shifu/shifu_publish_funcs.py
  src/i18n/en-US/modules/backend/common.json
  src/i18n/qps-ploc/modules/backend/common.json
  src/i18n/zh-CN/modules/backend/common.json
Due: none

build(api): Update markdown-flow dependent versions
  src/api/requirements.txt
Due: none

fix: filter out custom onChapterSelect prop from DOM element
  src/cook-web/src/components/dnd-kit-sortable-tree/ui/simple/SimpleTreeItemWrapper.tsx
Due: prettier-cook-web, eslint

fix: enable outline tree text to expand with panel width
  src/cook-web/src/components/inline-input/InlineInput.tsx
  src/cook-web/src/components/outline-tree/OutlineTree.tsx
Due: prettier-cook-web, eslint

fix: enable outline tree text to expand with panel width (#1009)
  src/cook-web/src/components/dnd-kit-sortable-tree/ui/simple/SimpleTreeItemWrapper.tsx
  src/cook-web/src/components/inline-input/InlineInput.tsx
  src/cook-web/src/components/outline-tree/OutlineTree.tsx
Due: prettier-cook-web, eslint

fix: issue that update user profile fails becourse of wrong profile_type
  src/api/flaskr/service/profile/funcs.py
Due: none

fix: failed to update user profile due to incorrect profile_type (#1010)
  src/api/flaskr/service/profile/funcs.py
Due: none

fix: lint error becourse of import onChapterSelect that doest not exist
  src/cook-web/src/components/dnd-kit-sortable-tree/ui/simple/SimpleTreeItemWrapper.tsx
Due: prettier-cook-web, eslint

fix: lint error due to import of non-existent onChapterSelect (#1011)
  src/cook-web/src/components/dnd-kit-sortable-tree/ui/simple/SimpleTreeItemWrapper.tsx
Due: prettier-cook-web, eslint

feat: render interactive modules using translated content in the database
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/preview_service.py
Due: none

feat: optimize interactive content rendering logic to support translation
  src/api/flaskr/service/learn/context_v2.py
Due: none

fix: ask block ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
Due: prettier-cook-web, eslint

fix: ask block input ui (#1012)
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
Due: prettier-cook-web, eslint

fix(chat): align interaction default parsing with preview behavior
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix(chat): align interaction default parsing with preview behavior (#1013)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix: resolve infinite redirect loop during google login callback
  src/cook-web/src/lib/request.ts
Due: prettier-cook-web, eslint

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
