Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

fix: return preview formatted elements
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_context_v2.py
Due: none

fix: lint
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix: preserve listen audio on text patches
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_element_protocol.py
Due: none

feat: Add open API function modules
  src/api/error_codes.json
  src/api/flaskr/route/__init__.py
  src/api/flaskr/route/open_api.py
  src/api/flaskr/service/order/open_api.py
  src/api/flaskr/service/user/models.py
  src/api/migrations/versions/b596b767bde5_add_api_key_field_to_user_users_table.py
  src/i18n/en-US/modules/backend/openapi.json
  src/i18n/locales.json
  src/i18n/zh-CN/modules/backend/openapi.json
Due: none

feat: update mdf-ui
  src/cook-web/SKILL.md
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/skills/README.md
  src/cook-web/skills/next-build-node-runtime/SKILL.md
Due: prettier-cook-web

feat(cook-web): support element-based preview SSE rendering with terminal done handling
  src/cook-web/skills/chat-element-streaming/SKILL.md
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
Due: prettier-cook-web, eslint

feat(cook-web): add element-boundary follow-up insertion for preview streams without done
  src/cook-web/skills/chat-element-streaming/SKILL.md
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
Due: prettier-cook-web, eslint

feat(cook-web): hide preview audio icon when element is not speakable
  src/cook-web/skills/listen-mode-audio-streaming/SKILL.md
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
Due: prettier-cook-web, eslint

fix(cook-web): add fallback element-boundary detection when done and element events are out of order
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/skills/chat-element-streaming/SKILL.md
  src/cook-web/skills/listen-mode-audio-streaming/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
  src/cook-web/src/types/markdown-flow-ui.d.ts
Due: prettier-cook-web, eslint

refactor: split listen element modules
  src/api/flaskr/service/learn/listen_element_factory.py
  src/api/flaskr/service/learn/listen_element_history.py
  src/api/flaskr/service/learn/listen_element_payloads.py
  src/api/flaskr/service/learn/listen_element_rows.py
  src/api/flaskr/service/learn/listen_element_types.py
  src/api/flaskr/service/learn/listen_elements.py
Due: none

refactor: extract listen element legacy flow
  src/api/flaskr/service/learn/listen_element_legacy.py
  src/api/flaskr/service/learn/listen_elements.py
Due: none

refactor: extract listen audio binding helpers
  src/api/flaskr/service/learn/listen_element_audio_binding.py
  src/api/flaskr/service/learn/listen_elements.py
Due: none

feat: update mdf-uio
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

refactor: extract listen element queries
  src/api/flaskr/service/learn/listen_element_queries.py
  src/api/flaskr/service/learn/listen_elements.py
Due: none

fix: align preview element stream parsing
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_context_v2.py
Due: none

fix: align preview stream termination
  src/api/flaskr/service/learn/routes.py
Due: none

refactor: remove dead backend helpers
  src/api/flaskr/api/tts/__init__.py
  src/api/flaskr/common/shifu_context.py
  src/api/flaskr/service/common/models.py
  src/api/flaskr/service/order/funs.py
  src/api/flaskr/service/profile/funcs.py
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
  src/api/flaskr/service/tts/__init__.py
  src/api/flaskr/service/tts/pipeline.py
  src/api/flaskr/service/user/utils.py
  src/api/flaskr/util/compare.py
Due: none

refactor: split listen element run adapter
  src/api/flaskr/service/learn/listen_element_run_persistence.py
  src/api/flaskr/service/learn/listen_element_run_sidecar.py
  src/api/flaskr/service/learn/listen_element_run_state.py
  src/api/flaskr/service/learn/listen_element_run_stream.py
  src/api/flaskr/service/learn/listen_elements.py
Due: none

refactor: prune unused backend flows
  src/api/flaskr/api/doc/feishu.py
  src/api/flaskr/service/order/consts.py
  src/api/flaskr/service/order/pingxx_order.py
  src/api/flaskr/service/shifu/shifu_history_manager.py
  src/api/flaskr/service/user/admin.py
  src/api/flaskr/service/user/common.py
Due: none

refactor: share preview element run helpers
  src/api/flaskr/service/learn/listen_element_run_persistence.py
  src/api/flaskr/service/learn/listen_element_run_sidecar.py
  src/api/flaskr/service/learn/listen_element_run_stream.py
  src/api/flaskr/service/learn/preview_elements.py
Due: none

refactor: remove unused shifu legacy APIs
  src/api/flaskr/api/tts/__init__.py
  src/api/flaskr/service/promo/funcs.py
  src/api/flaskr/service/shifu/permissions.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/api/flaskr/service/shifu/shifu_outline_funcs.py
  src/i18n/en-US/modules/backend/common.json
  src/i18n/en-US/modules/backend/discount.json
  src/i18n/en-US/modules/backend/shifu.json
  src/i18n/zh-CN/modules/backend/common.json
  src/i18n/zh-CN/modules/backend/discount.json
  src/i18n/zh-CN/modules/backend/shifu.json
Due: none

fix: keep short listen tts segments
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_generated_block_tts_av_mode.py
Due: none

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: realign learn progress on element reload
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_context_v2.py
Due: none

fix: log preview llm output
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_context_v2.py
Due: none

fix: preview log
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
Due: prettier-cook-web, eslint

fix: align preview element done boundaries
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_context_v2.py
Due: none

fix: preveiw chat
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
Due: prettier-cook-web, eslint

fix: align listen audio position matching
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/learn/listen_element_legacy.py
  src/api/flaskr/service/learn/listen_element_matching.py
  src/api/tests/service/learn/test_listen_elements_legacy_record.py
Due: none

fix: bind listen audio to text streams
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/learn_dtos.py
  src/api/flaskr/service/learn/listen_element_audio_binding.py
  src/api/flaskr/service/learn/listen_element_rows.py
  src/api/flaskr/service/learn/listen_element_run_stream.py
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/tests/service/learn/test_element_protocol.py
  src/api/tests/service/learn/test_learn_dtos_slide.py
  src/api/tests/service/learn/test_listen_elements.py
Due: none

fix(preview): preserve trailing elements when sse closes after done
  src/cook-web/skills/chat-element-streaming/SKILL.md
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
Due: prettier-cook-web, eslint

feat: Modify open API parameter verification logic
  src/api/flaskr/route/open_api.py
  src/api/flaskr/service/order/open_api.py
Due: none

fix: stabilize run tts segment handling
  src/api/flaskr/service/learn/listen_element_payloads.py
  src/api/flaskr/service/learn/listen_element_run_stream.py
  src/api/flaskr/service/tts/audio_utils.py
  src/api/tests/service/learn/test_listen_element_payloads.py
  src/api/tests/service/learn/test_listen_elements.py
  src/api/tests/service/tts/test_audio_utils.py
Due: none

feat: update the open api path path and related parameters
  src/api/flaskr/route/open_api.py
  src/api/flaskr/service/order/open_api.py
Due: none

feat: Add HMAC security verification and restructure course registration query logic
  src/api/flaskr/route/open_api.py
  src/api/flaskr/service/order/open_api.py
Due: none

feat: Add open API function modules (#1472)
  src/api/error_codes.json
  src/api/flaskr/route/__init__.py
  src/api/flaskr/route/open_api.py
  src/api/flaskr/service/order/open_api.py
  src/api/flaskr/service/user/models.py
  src/api/migrations/versions/b596b767bde5_add_api_key_field_to_user_users_table.py
  src/i18n/en-US/modules/backend/openapi.json
  src/i18n/locales.json
  src/i18n/zh-CN/modules/backend/openapi.json
Due: none

fix: detect video iframe elements in listen mode slides
  src/cook-web/skills/listen-mode-audio-streaming/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.ts
Due: prettier-cook-web, eslint

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
