Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

feat: upgrade markdown-flow-ui version to 0.1.95
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: update mdf-ui version
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix(api): guard set_visual_mode for markdown-flow compatibility
  src/api/flaskr/service/learn/context_v2.py
Due: none

fix: Update markdown-flow dependent versions
  src/api/requirements.txt
Due: none

chore: Update markdown-flow dependency package
  src/api/requirements.txt
Due: none

fix: allow duplicate course names on creation
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/i18n/en-US/modules/backend/shifu.json
  src/i18n/zh-CN/modules/backend/shifu.json
Due: none

chore: remove stale i18n key type
  src/cook-web/src/types/i18n-keys.d.ts
Due: prettier-cook-web, eslint

fix: remove archive action from course settings panel
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

style: dashboard-menu-update
  src/cook-web/src/app/admin/layout.tsx
  src/i18n/zh-CN/modules/dashboard.json
Due: prettier-cook-web, eslint

fix: align dashboard menu label and icon
  src/cook-web/src/app/admin/layout.tsx
  src/i18n/zh-CN/modules/dashboard.json
Due: prettier-cook-web, eslint

fix: avoid gevent queue crash in run_script stream
  src/api/flaskr/service/learn/runscript_v2.py
Due: none

chore: upgrade markdown-flow dependency package version
  src/api/requirements.txt
Due: none

fix: update markdown-flow dependent versions
  src/api/requirements.txt
Due: none

docs: restructure learn generated elements design options
  docs/learn-generated-elements-design.md
  tasks.md
Due: none

docs: add api examples for element scheme review
  docs/learn-generated-elements-design.md
Due: none

feat: upgrade markdown-flow-ui version to 0.1.97
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: update version
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: stabilize sms learning record binding flow
  src/api/flaskr/route/user.py
  src/api/flaskr/service/user/phone_flow.py
  src/cook-web/src/app/login/page.tsx
  src/cook-web/src/c-api/user.ts
  src/cook-web/src/components/auth/PhoneLogin.tsx
  src/cook-web/src/hooks/useAuth.ts
  src/cook-web/src/store/useUserStore.ts
Due: prettier-cook-web, eslint

fix: address review feedback for sms auth recovery
  src/api/flaskr/route/user.py
  src/cook-web/src/hooks/useAuth.ts
Due: prettier-cook-web, eslint

fix: harden sms temp source and wechat credential sync
  src/api/flaskr/route/user.py
  src/api/flaskr/service/user/phone_flow.py
Due: none

fix: update dashboard labels and add data scope note
  src/cook-web/src/app/admin/dashboard/page.tsx
  src/i18n/en-US/modules/dashboard.json
  src/i18n/zh-CN/modules/dashboard.json
Due: prettier-cook-web, eslint

fix: harden sms auth retry and tmp logging
  src/api/flaskr/route/user.py
  src/cook-web/src/hooks/useAuth.ts
Due: prettier-cook-web, eslint

fix: refine dashboard data scope note
  src/cook-web/src/app/admin/dashboard/page.tsx
  src/i18n/zh-CN/modules/dashboard.json
Due: prettier-cook-web, eslint

fix: stabilize dashboard backend tests
  src/api/tests/service/dashboard/test_dashboard_routes.py
Due: none

fix: hide email copy in cn password login
  src/cook-web/src/app/login/page.tsx
  src/cook-web/src/components/auth/PasswordLogin.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/auth.json
  src/i18n/zh-CN/modules/auth.json
Due: prettier-cook-web, eslint

refactor: deduplicate password login identifier copy
  src/cook-web/src/components/auth/PasswordLogin.tsx
Due: prettier-cook-web, eslint

fix: grant demo courses for auto-created invite users
  src/api/flaskr/service/order/admin.py
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/user/utils.py
Due: none

refactor: optimize demo permission query paths
  src/api/flaskr/service/user/utils.py
Due: none

fix: address review feedback for demo permissions
  src/api/flaskr/service/order/admin.py
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/user/utils.py
  src/api/tests/service/user/test_demo_course_permissions.py
Due: none

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
