Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

fix: enable publish draft help tooltip
  src/cook-web/src/components/header/Header.tsx
  src/i18n/zh-CN/components/header.json
Due: prettier-cook-web, eslint

fix: clarify publish learning link audience
  src/i18n/zh-CN/components/header.json
Due: none

fix: show pointer cursor on learning link copy
  src/cook-web/src/components/header/Header.tsx
Due: prettier-cook-web, eslint

fix: address publish success review feedback
  src/cook-web/src/components/header/Header.tsx
  src/cook-web/src/components/ui/UseAlert.tsx
Due: prettier-cook-web, eslint

fix: improve publish success learning link dialog (#1946)
  src/cook-web/src/components/header/Header.tsx
  src/cook-web/src/components/ui/UseAlert.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/components/header.json
  src/i18n/fr-FR/components/header.json
  src/i18n/zh-CN/components/header.json
Due: prettier-cook-web, eslint

fix: use preview tts fallback for listen backfill
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/tests/service/learn/test_generated_block_tts_av_mode.py
Due: none

fix: finish preview listen tts fallback streams
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/tests/service/learn/test_generated_block_tts_av_mode.py
Due: none

fix: enable preview listen tts backfill
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/tests/service/learn/test_generated_block_tts_av_mode.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
Due: prettier-cook-web, eslint

refactor: polish credit notification admin flows
  docs/exec-plans/active/billing-credit-notifications.md
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationConfigTab.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationDryRunPanel.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationOverviewCards.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationRecordsFilter.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationRecordsTab.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/page.test.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/page.tsx
Due: prettier-cook-web, eslint

fix: tighten credit notification filter errors
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationDryRunPanel.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationRecordsFilter.tsx
Due: prettier-cook-web, eslint

feat: cache dashboard follow-up details
  src/cook-web/src/app/admin/dashboard/[shifu_bid]/follow-ups/page.test.tsx
  src/cook-web/src/app/admin/dashboard/[shifu_bid]/follow-ups/page.tsx
Due: prettier-cook-web, eslint

refactor: skip redundant follow-up detail cache updates
  src/cook-web/src/app/admin/dashboard/[shifu_bid]/follow-ups/page.tsx
Due: prettier-cook-web, eslint

fix: avoid ops alerts for handled run script errors
  src/api/flaskr/service/learn/runscript_v2.py
  src/api/tests/service/learn/test_runscript_v2_lock.py
Due: none

fix: remove course setting URL fields
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/fr-FR/modules/shifu-setting.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: prettier-cook-web, eslint

fix: remove course setting URL fields (#1950)
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/fr-FR/modules/shifu-setting.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: prettier-cook-web, eslint

fix: clarify debug copy snippet guidance
  src/cook-web/src/components/lesson-preview/LessonPreview.test.tsx
  src/cook-web/src/components/lesson-preview/PreviewCopyButton.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/shifu.json
  src/i18n/fr-FR/modules/shifu.json
  src/i18n/zh-CN/modules/shifu.json
Due: prettier-cook-web, eslint

fix: address debug copy review feedback
  src/cook-web/src/components/lesson-preview/LessonPreview.test.tsx
  src/cook-web/src/components/lesson-preview/PreviewCopyButton.tsx
Due: prettier-cook-web, eslint

fix: provide debug copy tooltip context
  src/cook-web/src/components/lesson-preview/LessonPreview.test.tsx
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
Due: prettier-cook-web, eslint

fix: refine debug copy tooltip wording
  src/i18n/zh-CN/modules/shifu.json
Due: none

fix: address lesson preview review comments
  src/cook-web/src/components/lesson-preview/LessonPreview.test.tsx
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
Due: prettier-cook-web, eslint

fix: clarify debug copy snippet guidance (#1953)
  src/cook-web/src/components/lesson-preview/LessonPreview.test.tsx
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/components/lesson-preview/PreviewCopyButton.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/shifu.json
  src/i18n/fr-FR/modules/shifu.json
  src/i18n/zh-CN/modules/shifu.json
Due: prettier-cook-web, eslint

feat: upgrade markdown-flow-ui to v0.1.127
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: upgrade markdown-flow-ui to v0.1.127 (#1954)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: normalize button cursor styles
  src/cook-web/src/app/admin/operations/[shifu_bid]/CourseMetricsCardGrid.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatComponents.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatComponents.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/GlobalInfoButton.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/GlobalInfoButton.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/LessonFeedbackInteraction.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/LearningModeSwitch.module.css
  src/cook-web/src/app/c/[[...id]]/Components/LearningModeSwitch.module.scss
  src/cook-web/src/app/globals.css
  src/cook-web/src/components/audio/AudioPlayer.tsx
  src/cook-web/src/components/header/Header.tsx
  src/cook-web/src/components/lesson-preview/VariableList.module.css
  src/cook-web/src/components/lesson-preview/VariableList.module.scss
  src/cook-web/src/components/ui/Switch.tsx
  src/cook-web/src/components/ui/Tabs.tsx
Due: prettier-cook-web, eslint

fix: address button cursor review feedback
  src/cook-web/src/app/globals.css
  src/cook-web/src/components/audio/AudioPlayer.tsx
  src/cook-web/src/components/header/Header.tsx
  src/cook-web/src/components/ui/Switch.tsx
  src/cook-web/src/components/ui/Tabs.tsx
Due: prettier-cook-web, eslint

fix: address global cursor review follow-up
  src/cook-web/src/app/globals.css
Due: prettier-cook-web

fix: preserve publish menu cursor
  src/cook-web/src/components/header/Header.tsx
Due: prettier-cook-web, eslint

fix: preserve control focus indicators
  src/cook-web/src/components/ui/Switch.tsx
  src/cook-web/src/components/ui/Tabs.tsx
Due: prettier-cook-web, eslint

refactor: polish credit notification admin flows (#1947)
  docs/exec-plans/active/billing-credit-notifications.md
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationConfigTab.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationDryRunPanel.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationOverviewCards.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationRecordsFilter.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationRecordsTab.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/page.test.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/page.tsx
Due: prettier-cook-web, eslint

fix: restore preview listen tts backfill (#1942)
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/tests/service/learn/test_generated_block_tts_av_mode.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
Due: prettier-cook-web, eslint

feat: cache dashboard follow-up details (#1948)
  src/cook-web/src/app/admin/dashboard/[shifu_bid]/follow-ups/page.test.tsx
  src/cook-web/src/app/admin/dashboard/[shifu_bid]/follow-ups/page.tsx
Due: prettier-cook-web, eslint

fix: update billing purchase copy
  docs/billing-credit-notifications-technical-design.md
  docs/billing-credit-notifications.md
  docs/billing-subscription-design.md
  src/cook-web/SKILL.md
  src/cook-web/src/components/lesson-preview/LessonPreview.test.tsx
  src/cook-web/src/components/lesson-preview/usePreviewChat.test.ts
  src/cook-web/src/lib/request.test.ts
  src/i18n/en-US/modules/backend/billing.json
  src/i18n/en-US/modules/billing.json
  src/i18n/en-US/modules/operations-promotion.json
  src/i18n/en-US/modules/operations-user.json
  src/i18n/en-US/modules/referral.json
  src/i18n/en-US/modules/shifu.json
  src/i18n/fr-FR/modules/backend/billing.json
  src/i18n/fr-FR/modules/billing.json
  src/i18n/fr-FR/modules/operations-promotion.json
  src/i18n/fr-FR/modules/operations-user.json
  src/i18n/fr-FR/modules/shifu.json
  src/i18n/zh-CN/modules/backend/billing.json
  src/i18n/zh-CN/modules/billing.json
  src/i18n/zh-CN/modules/operations-user.json
  src/i18n/zh-CN/modules/shifu.json
Due: prettier-cook-web, eslint

fix: refine french billing copy
  src/i18n/fr-FR/modules/backend/billing.json
  src/i18n/fr-FR/modules/billing.json
  src/i18n/fr-FR/modules/operations-user.json
Due: none

fix: align referral credit batch copy
  src/i18n/en-US/modules/referral.json
  src/i18n/fr-FR/modules/referral.json
  src/i18n/zh-CN/modules/referral.json
Due: none

fix: localize billing bucket copy
  src/i18n/zh-CN/modules/billing.json
Due: none

fix: use credit bucket terminology
  docs/billing-credit-notifications-technical-design.md
  docs/billing-credit-notifications.md
  docs/billing-subscription-design.md
  src/i18n/zh-CN/modules/billing.json
Due: none

fix: simplify referral bucket label
  src/i18n/en-US/modules/referral.json
  src/i18n/fr-FR/modules/referral.json
  src/i18n/zh-CN/modules/referral.json
Due: none

fix: align french account credit copy
  src/i18n/fr-FR/modules/billing.json
Due: none

fix: align credit bucket copy
  src/i18n/en-US/modules/billing.json
  src/i18n/fr-FR/modules/billing.json
Due: none

fix: update billing purchase copy (#1957)
  docs/billing-credit-notifications-technical-design.md
  docs/billing-credit-notifications.md
  docs/billing-subscription-design.md
  src/cook-web/SKILL.md
  src/cook-web/src/components/lesson-preview/LessonPreview.test.tsx
  src/cook-web/src/components/lesson-preview/usePreviewChat.test.ts
  src/cook-web/src/lib/request.test.ts
  src/i18n/en-US/modules/backend/billing.json
  src/i18n/en-US/modules/billing.json
  src/i18n/en-US/modules/operations-promotion.json
  src/i18n/en-US/modules/operations-user.json
  src/i18n/en-US/modules/referral.json
  src/i18n/en-US/modules/shifu.json
  src/i18n/fr-FR/modules/backend/billing.json
  src/i18n/fr-FR/modules/billing.json
  src/i18n/fr-FR/modules/operations-promotion.json
  src/i18n/fr-FR/modules/operations-user.json
  src/i18n/fr-FR/modules/referral.json
  src/i18n/fr-FR/modules/shifu.json
  src/i18n/zh-CN/modules/backend/billing.json
  src/i18n/zh-CN/modules/billing.json
  src/i18n/zh-CN/modules/operations-user.json
  src/i18n/zh-CN/modules/shifu.json
Due: prettier-cook-web, eslint

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
