Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat(cook-web): wire listen slide mobile header texts and screen mode callback
  src/cook-web/SKILL.md
  src/cook-web/skills/listen-mode-slide-mobile-integration/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/cook-web/src/types/markdown-flow-ui.d.ts
  src/i18n/en-US/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

fix(cook-web): correct mobile slide player control spacing in listen mode
  src/cook-web/skills/chat-actionbar-ask-placement/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
Due: prettier-cook-web, eslint

feat: add operator role bootstrap (#1502)
  docs/operator-role.md
  src/api/flaskr/service/common/dtos.py
  src/api/flaskr/service/user/auth/providers/google.py
  src/api/flaskr/service/user/models.py
  src/api/flaskr/service/user/phone_flow.py
  src/api/flaskr/service/user/repository.py
  src/api/migrations/versions/1f2e3d4c5b6a_add_is_operator_to_user_users.py
  src/api/migrations/versions/2b7c9d1e4f6a_backfill_operator_for_first_verified_user.py
  src/api/tests/service/user/test_google_auth.py
  src/api/tests/service/user/test_repository.py
  src/api/tests/service/user/test_user_identify.py
  src/api/tests/service/user/test_utils.py
  src/cook-web/src/c-types/index.ts
Due: prettier-cook-web, eslint

feat: add operator-only admin menu entry
  src/cook-web/src/app/admin/admin-menu.test.tsx
  src/cook-web/src/app/admin/admin-menu.tsx
  src/cook-web/src/app/admin/layout.tsx
  src/cook-web/src/app/admin/operations/page.test.tsx
  src/cook-web/src/app/admin/operations/page.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/common/core.json
  src/i18n/zh-CN/common/core.json
Due: prettier-cook-web, eslint

fix: preserve admin operations login redirect
  src/cook-web/src/app/admin/operations/page.test.tsx
  src/cook-web/src/app/admin/operations/page.tsx
Due: prettier-cook-web, eslint

feat: add operator-only admin menu entry (#1508)
  src/cook-web/src/app/admin/admin-menu.test.tsx
  src/cook-web/src/app/admin/admin-menu.tsx
  src/cook-web/src/app/admin/layout.tsx
  src/cook-web/src/app/admin/operations/page.test.tsx
  src/cook-web/src/app/admin/operations/page.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/common/core.json
  src/i18n/zh-CN/common/core.json
Due: prettier-cook-web, eslint

feat: add mdflow learn element backfill
  docs/mdflow-element-backfill.md
  src/api/flaskr/service/learn/listen_element_mdflow_backfill.py
  src/api/flaskr/service/learn/listen_elements.py
  src/api/scripts/backfill_learn_generated_elements.py
  src/api/tests/service/learn/test_listen_element_mdflow_backfill.py
Due: none

feat: add mdflow learn element backfill (#1509)
  docs/mdflow-element-backfill.md
  src/api/flaskr/service/learn/listen_element_mdflow_backfill.py
  src/api/flaskr/service/learn/listen_elements.py
  src/api/scripts/backfill_learn_generated_elements.py
  src/api/tests/service/learn/test_listen_element_mdflow_backfill.py
Due: none

feat: add operator course management admin page
  src/api/flaskr/service/dashboard/funcs.py
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_dtos.py
  src/api/flaskr/service/shifu/demo_courses.py
  src/api/flaskr/service/shifu/route.py
  src/api/tests/service/shifu/test_admin_courses.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/admin-menu.test.tsx
  src/cook-web/src/app/admin/admin-menu.tsx
  src/cook-web/src/app/admin/components/AdminDateRangeFilter.tsx
  src/cook-web/src/app/admin/layout.test.tsx
  src/cook-web/src/app/admin/layout.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/operations/operation-course-routes.ts
  src/cook-web/src/app/admin/operations/operation-course-types.ts
  src/cook-web/src/app/admin/operations/page.test.tsx
  src/cook-web/src/app/admin/operations/page.tsx
  src/cook-web/src/app/admin/operations/useOperatorGuard.ts
  src/cook-web/src/app/admin/orders/page.tsx
  src/cook-web/src/lib/unified-i18n-backend.test.ts
  src/cook-web/src/lib/unified-i18n-backend.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/common/core.json
  src/i18n/en-US/modules/operations-course.json
  src/i18n/locales.json
  src/i18n/zh-CN/common/core.json
  src/i18n/zh-CN/modules/operations-course.json
Due: prettier-cook-web, eslint

Fix operator review follow-ups
  src/cook-web/src/app/admin/layout.test.tsx
  src/cook-web/src/app/admin/layout.tsx
  src/cook-web/src/app/admin/operations/page.test.tsx
  src/cook-web/src/app/admin/operations/page.tsx
  src/cook-web/src/lib/unified-i18n-backend.test.ts
  src/cook-web/src/lib/unified-i18n-backend.ts
Due: prettier-cook-web, eslint

feat: support operator course status filter
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_dtos.py
  src/api/flaskr/service/shifu/route.py
  src/api/tests/service/shifu/test_admin_courses.py
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/operations/operation-course-types.ts
  src/cook-web/src/app/admin/operations/page.test.tsx
  src/cook-web/src/app/admin/operations/page.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/operations-course.json
  src/i18n/zh-CN/modules/operations-course.json
Due: prettier-cook-web, eslint

fix: align admin tooltip anchors
  src/cook-web/src/app/admin/operations/page.tsx
  src/cook-web/src/app/admin/orders/page.tsx
Due: prettier-cook-web, eslint

fix(cook-web): portal landscape ask entry into slide viewport
  src/cook-web/skills/listen-mode-slide-mobile-integration/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/i18n/en-US/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

fix: stabilize operator course queries
  src/api/flaskr/service/shifu/admin.py
  src/api/tests/service/shifu/test_admin_courses.py
  src/cook-web/src/app/admin/operations/page.test.tsx
  src/cook-web/src/app/admin/operations/page.tsx
Due: prettier-cook-web, eslint

fix(cook-web): render landscape ask panel as full slide overlay
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
Due: prettier-cook-web, eslint

fix(cook-web): remove landscape slide content padding in listen mode
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
Due: prettier-cook-web

fix(cook-web): override landscape interaction overlay layout in listen mode
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
Due: prettier-cook-web, eslint

fix: tighten operator course table state
  src/cook-web/src/app/admin/operations/page.test.tsx
  src/cook-web/src/app/admin/operations/page.tsx
Due: prettier-cook-web, eslint

fix: courseAvatar ui
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
Due: prettier-cook-web, eslint

fix: move admin sidebar out of layout export
  src/cook-web/src/app/admin/SidebarContent.tsx
  src/cook-web/src/app/admin/layout.test.tsx
  src/cook-web/src/app/admin/layout.tsx
Due: prettier-cook-web, eslint

fix(cook-web): stabilize listen mode chat props for production build
  src/cook-web/skills/listen-mode-slide-mobile-integration/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeTypes.ts
Due: prettier-cook-web, eslint

fix: dedupe learn pay gate interactions
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_learn_funcs.py
Due: none

docs: refine billing credit settlement design
  docs/billing-subscription-design.md
  docs/tasks.md
Due: none

docs: align billing MVP scope
  docs/billing-subscription-design.md
  docs/tasks.md
Due: none

fix: avoid langfuse writes for replayed learn gates
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_context_v2.py
  src/api/tests/service/learn/test_learn_funcs.py
Due: none

feat: add admin billing sidebar entry
  docs/tasks.md
  src/cook-web/src/app/admin/layout.test.tsx
  src/cook-web/src/app/admin/layout.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/locales.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

feat: add admin billing center shell
  docs/tasks.md
  src/cook-web/src/app/admin/billing/page.test.tsx
  src/cook-web/src/app/admin/billing/page.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

refactor: narrow learn langfuse replay fix
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_context_v2.py
Due: none

refactor: extract billing page components
  docs/tasks.md
  src/cook-web/src/app/admin/billing/page.tsx
  src/cook-web/src/components/billing/BillingLedgerTab.tsx
  src/cook-web/src/components/billing/BillingMetricCard.tsx
  src/cook-web/src/components/billing/BillingOrdersTab.tsx
  src/cook-web/src/components/billing/BillingOverviewTab.tsx
  src/cook-web/src/components/billing/BillingPageHeader.tsx
  src/cook-web/src/components/billing/BillingPlaceholderSection.tsx
  src/cook-web/src/components/billing/index.ts
  src/cook-web/src/types/billing.ts
Due: prettier-cook-web, eslint

fix: harden operator guard review follow-ups
  src/cook-web/src/app/admin/operations/page.test.tsx
  src/cook-web/src/app/admin/operations/useOperatorGuard.ts
  src/cook-web/src/lib/unified-i18n-backend.test.ts
Due: prettier-cook-web, eslint

feat: add billing stripe result page
  docs/tasks.md
  src/cook-web/src/app/payment/stripe/billing-result/page.test.tsx
  src/cook-web/src/app/payment/stripe/billing-result/page.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

feat: bootstrap billing service routes
  docs/tasks.md
  src/api/flaskr/service/billing/AGENTS.md
  src/api/flaskr/service/billing/CLAUDE.md
  src/api/flaskr/service/billing/__init__.py
  src/api/flaskr/service/billing/funcs.py
  src/api/flaskr/service/billing/routes.py
  src/api/tests/service/billing/test_billing_routes.py
Due: none

fix: trim operator course lookup overhead
  src/api/flaskr/service/shifu/admin.py
  src/api/tests/service/shifu/test_admin_courses.py
Due: none

feat: add billing core schema
  docs/tasks.md
  src/api/flaskr/service/billing/AGENTS.md
  src/api/flaskr/service/billing/__init__.py
  src/api/flaskr/service/billing/consts.py
  src/api/flaskr/service/billing/models.py
  src/api/migrations/versions/4fd52d0d9a01_add_billing_core_tables.py
  src/api/tests/service/billing/test_billing_models.py
Due: none

feat: add billing read endpoints
  docs/billing-subscription-design.md
  docs/tasks.md
  src/api/flaskr/service/billing/consts.py
  src/api/flaskr/service/billing/funcs.py
  src/api/flaskr/service/billing/routes.py
  src/api/tests/service/billing/test_billing_routes.py
Due: none

feat: add billing checkout and sync routes
  docs/tasks.md
  src/api/flaskr/service/billing/funcs.py
  src/api/flaskr/service/billing/routes.py
  src/api/tests/service/billing/test_billing_write_routes.py
  src/i18n/en-US/modules/backend/order.json
  src/i18n/zh-CN/modules/backend/order.json
Due: none

feat: add operator course management admin page (#1510)
  src/api/flaskr/service/dashboard/funcs.py
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_dtos.py
  src/api/flaskr/service/shifu/demo_courses.py
  src/api/flaskr/service/shifu/route.py
  src/api/tests/service/shifu/test_admin_courses.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/SidebarContent.tsx
  src/cook-web/src/app/admin/admin-menu.test.tsx
  src/cook-web/src/app/admin/admin-menu.tsx
  src/cook-web/src/app/admin/components/AdminDateRangeFilter.tsx
  src/cook-web/src/app/admin/layout.test.tsx
  src/cook-web/src/app/admin/layout.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/operations/operation-course-routes.ts
  src/cook-web/src/app/admin/operations/operation-course-types.ts
  src/cook-web/src/app/admin/operations/page.test.tsx
  src/cook-web/src/app/admin/operations/page.tsx
  src/cook-web/src/app/admin/operations/useOperatorGuard.ts
  src/cook-web/src/app/admin/orders/page.tsx
  src/cook-web/src/lib/unified-i18n-backend.test.ts
  src/cook-web/src/lib/unified-i18n-backend.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/common/core.json
  src/i18n/en-US/modules/operations-course.json
  src/i18n/locales.json
  src/i18n/zh-CN/common/core.json
  src/i18n/zh-CN/modules/operations-course.json
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/src/app/c/[[...id]]/page.module.css
  src/cook-web/src/app/c/[[...id]]/page.module.scss
Due: prettier-cook-web

feat: reuse legacy callbacks for billing webhooks
  docs/billing-subscription-design.md
  docs/tasks.md
  src/api/flaskr/route/callback.py
  src/api/flaskr/service/billing/funcs.py
  src/api/flaskr/service/order/funs.py
  src/api/tests/service/billing/test_billing_callbacks.py
  src/api/tests/service/order/test_stripe_webhook.py
Due: none
