Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

fix(chat): stop audio and disable autoplay when switching to read mode
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

refactor(listen): extract ppt and audio hooks in ListenModeRenderer
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
Due: prettier-cook-web, eslint

fix: simplify mobile input and add confirm dialog for import
  src/cook-web/src/components/order/ImportActivationDialog.tsx
  src/i18n/en-US/modules/order.json
  src/i18n/zh-CN/modules/order.json
Due: prettier-cook-web, eslint

fix: wrap import dialog with fragment and confirm modal
  src/cook-web/src/components/order/ImportActivationDialog.tsx
Due: prettier-cook-web, eslint

feat: hide audio actions in read mode when not preview
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlockM.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix(listen): keep cursor visible over slides
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
Due: prettier-cook-web, eslint

fix: improve import activation validation
  src/cook-web/src/components/order/ImportActivationDialog.tsx
  src/i18n/en-US/modules/order.json
  src/i18n/zh-CN/modules/order.json
Due: prettier-cook-web, eslint

fix(listen-mode): delay interaction display until audio playback ends
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
Due: prettier-cook-web, eslint

fix(listen-mode): disable reveal.js scaling and enforce full-screen layout
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
Due: prettier-cook-web

fix(listen-mode): auto-play retaken audio content
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
Due: prettier-cook-web, eslint

fix(listen-mode): prevent redundant audio restarts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
Due: prettier-cook-web, eslint

fix: apply C preview mode before initial fetch
  src/cook-web/src/__tests__/c-preview-layout.test.tsx
  src/cook-web/src/app/c/[[...id]]/layout.tsx
Due: prettier-cook-web, eslint

fix: apply C preview mode before initial fetch (#1310)
  src/cook-web/src/__tests__/c-preview-layout.test.tsx
  src/cook-web/src/app/c/[[...id]]/layout.tsx
Due: prettier-cook-web, eslint

fix: ensure struct root node id is updated when importing shifu
  src/api/flaskr/service/shifu/shifu_history_manager.py
  src/api/flaskr/service/shifu/shifu_import_export_funcs.py
Due: none

fix: ensure struct root node id is updated when importing shifu (#1311)
  src/api/flaskr/service/shifu/shifu_history_manager.py
  src/api/flaskr/service/shifu/shifu_import_export_funcs.py
Due: none

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix(audio-player): pause html audio alongside web audio on pause
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
  src/cook-web/src/components/audio/AudioPlayer.tsx
Due: prettier-cook-web, eslint

fix: lint error
  src/cook-web/src/components/audio/AudioPlayer.tsx
Due: prettier-cook-web, eslint

fix(chat): hide non-present listen slides to prevent sandbox overlap
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
Due: prettier-cook-web, eslint

fix: prevent html tags in tts
  src/api/flaskr/service/tts/__init__.py
  src/api/tests/service/tts/test_tts_text_preprocess.py
Due: none

fix(chat): navigate listen audio by sequence index to reach next segment
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
Due: prettier-cook-web, eslint

feat: upgrade markdown-flow-ui version to 0.1.84
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: upgrade markdown-flow-ui version to 0.1.84 (#1313)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: mobile listen mode ui
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatComponents.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatComponents.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
Due: prettier-cook-web, eslint

fix: use app logger for tts
  src/api/flaskr/api/tts/__init__.py
  src/api/flaskr/api/tts/aliyun_provider.py
  src/api/flaskr/api/tts/baidu_provider.py
  src/api/flaskr/api/tts/minimax_provider.py
  src/api/flaskr/api/tts/volcengine_protocol.py
  src/api/flaskr/api/tts/volcengine_provider.py
  src/api/flaskr/common/log.py
  src/api/flaskr/service/tts/__init__.py
  src/api/flaskr/service/tts/audio_utils.py
  src/api/flaskr/service/tts/pipeline.py
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/flaskr/service/tts/tts_handler.py
Due: none

fix: ui
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavDrawer.module.css
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavDrawer.module.scss
Due: prettier-cook-web

fix: ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.module.scss
Due: prettier-cook-web, eslint

fix: enable audio prev/next when sequence exists
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
Due: prettier-cook-web, eslint

fix: replace safe-area env with runtime safe area var
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatComponents.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatComponents.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.module.scss
Due: prettier-cook-web, eslint

feat: add billing usage schema
  docs/llm-tts-usage-metering.md
  src/api/flaskr/service/metering/__init__.py
  src/api/flaskr/service/metering/models.py
  src/api/migrations/versions/b7c1d6e9f2a3_add_billing_usage_records.py
  tasks.md
Due: none

feat: add metering recorder
  docs/llm-tts-usage-metering.md
  src/api/flaskr/service/metering/__init__.py
  src/api/flaskr/service/metering/recorder.py
  tasks.md
Due: none

feat: record llm usage
  docs/llm-tts-usage-metering.md
  src/api/flaskr/api/llm/__init__.py
  src/api/flaskr/service/learn/check_text.py
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/handle_input_ask.py
  src/api/flaskr/service/shifu/shifu_publish_funcs.py
  tasks.md
Due: none

feat: record tts usage
  docs/llm-tts-usage-metering.md
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/metering/recorder.py
  src/api/flaskr/service/tts/pipeline.py
  src/api/flaskr/service/tts/streaming_tts.py
  tasks.md
Due: none

feat: add metering summary endpoint
  docs/llm-tts-usage-metering.md
  src/api/flaskr/service/metering/routes.py
  tasks.md
Due: none

test: add usage metering coverage
  src/api/tests/service/metering/test_recording.py
  tasks.md
Due: none

docs: add usage backfill strategy
  docs/llm-tts-usage-metering.md
  tasks.md
Due: none

fix: ui
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
Due: prettier-cook-web, eslint

fix: rename usage metadata to extra
  docs/llm-tts-usage-metering.md
  src/api/flaskr/api/llm/__init__.py
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/metering/models.py
  src/api/flaskr/service/metering/recorder.py
  src/api/flaskr/service/tts/pipeline.py
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/migrations/versions/c6b7e7f9a2b1_rename_usage_metadata_to_extra.py
Due: none
