Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

chore: bump markdown-flow-ui to 0.2.3 (#2158)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: stabilize listen history reselection (#2119)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
Due: prettier-cook-web, eslint

feat: add rate configuration to dev01
  src/api/flaskr/api/llm/__init__.py
  src/api/flaskr/api/tts/__init__.py
  src/api/flaskr/service/billing/charges.py
  src/api/flaskr/service/billing/rate_references.py
  src/api/flaskr/service/shifu/admin_operations/config_rates.py
  src/api/flaskr/service/shifu/admin_operations/route.py
  src/api/tests/service/billing/test_usage_settlement.py
  src/api/tests/service/shifu/test_admin_config_rates.py
  src/api/tests/service/tts/test_tts_config_options.py
  src/api/tests/test_llm.py
  src/cook-web/src/api/api.test.ts
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/admin-menu.test.tsx
  src/cook-web/src/app/admin/admin-menu.tsx
  src/cook-web/src/app/admin/operations/config/page.tsx
  src/cook-web/src/components/admin/AdminPagination.tsx
  src/cook-web/src/components/admin/AdminTableShell.tsx
  src/cook-web/src/components/admin/adminTableStyles.ts
  src/cook-web/src/components/model-list/ModelList.test.tsx
  src/cook-web/src/components/model-list/ModelList.tsx
  src/cook-web/src/store/modelOptions.test.ts
  src/cook-web/src/store/modelOptions.ts
  src/cook-web/src/types/shifu.ts
  src/i18n/en-US/common/core.json
  src/i18n/en-US/modules/operations-config.json
  src/i18n/fr-FR/common/core.json
  src/i18n/fr-FR/modules/operations-config.json
  src/i18n/locales.json
  src/i18n/zh-CN/common/core.json
  src/i18n/zh-CN/modules/operations-config.json
Due: prettier-cook-web, eslint

fix: keep PDF link wrapping compatible and readable
  src/cook-web/src/app/globals.css
Due: prettier-cook-web

fix: keep PDF brand spacing compatible
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/globals.css
Due: prettier-cook-web, eslint

fix: simplify PDF link wrapping fallback
  src/cook-web/src/app/globals.css
Due: prettier-cook-web

feat: add official site link to lesson PDFs
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.lessonUpdateNotice.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/globals.css
Due: prettier-cook-web, eslint

fix: improve PDF link contrast
  src/cook-web/src/app/globals.css
Due: prettier-cook-web

fix: preserve readable wrapping for PDF links
  src/cook-web/src/app/globals.css
Due: prettier-cook-web

fix: keep long PDF links inside the header
  src/cook-web/src/app/globals.css
Due: prettier-cook-web

feat: add official site link to lesson PDFs (#2159)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.lessonUpdateNotice.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/globals.css
Due: prettier-cook-web, eslint

fix: preserve historical rate settlement windows
  src/api/flaskr/service/shifu/admin_operations/config_rates.py
  src/api/tests/service/billing/test_usage_settlement.py
  src/api/tests/service/shifu/test_admin_config_rates.py
  src/i18n/en-US/modules/operations-config.json
  src/i18n/fr-FR/modules/operations-config.json
  src/i18n/zh-CN/modules/operations-config.json
Due: none

fix: stabilize credit multiplier baseline
  docker/.env.example.full
  src/api/flaskr/api/llm/__init__.py
  src/api/flaskr/api/tts/__init__.py
  src/api/flaskr/common/config.py
  src/api/flaskr/service/billing/rate_references.py
  src/api/flaskr/service/common/credit_rate_references.py
  src/api/flaskr/service/shifu/admin_operations/config_rates.py
  src/api/tests/service/billing/test_rate_references.py
  src/api/tests/service/shifu/test_admin_config_rates.py
  src/api/tests/service/tts/test_tts_config_options.py
  src/api/tests/test_llm.py
  src/cook-web/src/app/admin/operations/config/page.tsx
  src/i18n/en-US/modules/operations-config.json
  src/i18n/fr-FR/modules/operations-config.json
  src/i18n/zh-CN/modules/operations-config.json
Due: prettier-cook-web, eslint

test: align usage charge assertions
  src/api/tests/service/billing/test_usage_settlement.py
Due: none

fix: render anonymous mixed inputs correctly
  src/cook-web/src/__tests__/markdown-flow-interaction.test.tsx
  src/cook-web/src/c-utils/markdown-flow-interaction.ts
Due: prettier-cook-web, eslint

fix: preserve anonymous mixed option semantics
  src/cook-web/src/__tests__/markdown-flow-interaction.test.tsx
  src/cook-web/src/c-utils/markdown-flow-interaction.ts
Due: prettier-cook-web, eslint

refactor: clarify mixed input separator detection
  src/cook-web/src/c-utils/markdown-flow-interaction.ts
Due: prettier-cook-web, eslint

fix: preserve first-separator interaction semantics
  src/cook-web/src/__tests__/markdown-flow-interaction.test.tsx
  src/cook-web/src/c-utils/markdown-flow-interaction.ts
Due: prettier-cook-web, eslint

fix: render anonymous mixed inputs correctly (#2161)
  src/cook-web/src/__tests__/markdown-flow-interaction.test.tsx
  src/cook-web/src/c-utils/markdown-flow-interaction.ts
Due: prettier-cook-web, eslint

style: format listen audio speakability helper
  src/api/flaskr/service/tts/__init__.py
Due: none

fix: let learners select multiple anonymous choices
  src/cook-web/src/__tests__/markdown-flow-interaction.test.tsx
  src/cook-web/src/c-utils/markdown-flow-interaction.ts
Due: prettier-cook-web, eslint

fix: let learners select multiple anonymous choices (#2162)
  src/cook-web/src/__tests__/markdown-flow-interaction.test.tsx
  src/cook-web/src/c-utils/markdown-flow-interaction.ts
Due: prettier-cook-web, eslint

chore: bump LiteLLM to 1.84.8
  src/api/requirements.txt
Due: none

chore: bump LiteLLM to 1.84.8 (#2163)
  src/api/requirements.txt
Due: none

feat: update markdown-flow-ui draggable overlay
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: upgrade markdown-flow-ui to 0.2.4 (#2164)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: upgrade markdown-flow-ui to 0.2.5
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: upgrade markdown-flow-ui to 0.2.5 (#2165)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: add model rate configuration (#2157)
  docker/.env.example.full
  docs/generated/uow-commit-baseline.json
  src/api/flaskr/api/llm/__init__.py
  src/api/flaskr/api/tts/__init__.py
  src/api/flaskr/common/config.py
  src/api/flaskr/service/billing/charges.py
  src/api/flaskr/service/billing/rate_references.py
  src/api/flaskr/service/common/credit_rate_references.py
  src/api/flaskr/service/shifu/admin_operations/config_rates.py
  src/api/flaskr/service/shifu/admin_operations/route.py
  src/api/tests/service/billing/test_rate_references.py
  src/api/tests/service/billing/test_usage_settlement.py
  src/api/tests/service/shifu/test_admin_config_rates.py
  src/api/tests/service/tts/test_tts_config_options.py
  src/api/tests/test_llm.py
  src/cook-web/src/api/api.test.ts
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/admin-menu.test.tsx
  src/cook-web/src/app/admin/admin-menu.tsx
  src/cook-web/src/app/admin/operations/config/page.tsx
  src/cook-web/src/components/model-list/ModelList.test.tsx
  src/cook-web/src/components/model-list/ModelList.tsx
  src/cook-web/src/store/modelOptions.test.ts
  src/cook-web/src/store/modelOptions.ts
  src/cook-web/src/types/shifu.ts
  src/i18n/en-US/common/core.json
  src/i18n/en-US/modules/operations-config.json
  src/i18n/fr-FR/common/core.json
  src/i18n/fr-FR/modules/operations-config.json
  src/i18n/locales.json
  src/i18n/zh-CN/common/core.json
  src/i18n/zh-CN/modules/operations-config.json
Due: prettier-cook-web, eslint

fix: clarify billing rate source labels
  src/i18n/en-US/modules/operations-config.json
  src/i18n/fr-FR/modules/operations-config.json
  src/i18n/zh-CN/modules/operations-config.json
Due: none

fix: clarify billing rate source labels (#2166)
  src/i18n/en-US/modules/operations-config.json
  src/i18n/fr-FR/modules/operations-config.json
  src/i18n/zh-CN/modules/operations-config.json
Due: none

fix: show owner course actions only for published courses
  src/api/flaskr/service/shifu/dtos.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/api/tests/service/shifu/test_dtos.py
  src/api/tests/service/shifu/test_shifu_draft_list.py
  src/cook-web/src/app/admin/page.test.tsx
  src/cook-web/src/app/admin/page.tsx
Due: prettier-cook-web, eslint

style: align published course state lookup formatting
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
Due: none

fix: restrict owner course card actions to published courses (#2169)
  src/api/flaskr/service/shifu/dtos.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/api/tests/service/shifu/test_dtos.py
  src/api/tests/service/shifu/test_shifu_draft_list.py
  src/cook-web/src/app/admin/page.test.tsx
  src/cook-web/src/app/admin/page.tsx
Due: prettier-cook-web, eslint

ci: pin GitHub Actions to commit SHAs (15 pin(s))
  .github/workflows/build-latest.yml
  .github/workflows/build-on-release.yml
  .github/workflows/prepare-release.yml
Due: none

fix: distinguish lesson PDF print scopes
  src/cook-web/e2e/lesson-pdf-print.spec.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.lessonUpdateNotice.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/globals.css
Due: prettier-cook-web, eslint

fix: fill printable width in every lesson PDF layout
  src/cook-web/e2e/lesson-pdf-print.spec.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useLessonPdfPrint.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useLessonPdfPrint.ts
  src/cook-web/src/app/globals.css
Due: prettier-cook-web, eslint

fix: use full printable width for landscape lesson PDFs
  src/cook-web/e2e/lesson-pdf-print.spec.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.lessonUpdateNotice.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/globals.css
Due: prettier-cook-web, eslint

fix: fill printable width in every lesson PDF layout (#2167)
  src/cook-web/e2e/lesson-pdf-print.spec.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.lessonUpdateNotice.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useLessonPdfPrint.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useLessonPdfPrint.ts
  src/cook-web/src/app/globals.css
Due: prettier-cook-web, eslint

fix: show readable course models in admin operations
  src/api/flaskr/service/shifu/admin_course_summaries.py
  src/api/flaskr/service/shifu/admin_dtos_courses.py
  src/api/flaskr/service/shifu/admin_operations/courses_listing.py
  src/api/tests/service/shifu/test_admin_courses.py
  src/cook-web/src/app/admin/operations/CourseTableSection.tsx
  src/cook-web/src/app/admin/operations/operation-course-types.ts
  src/cook-web/src/app/admin/operations/operationCoursePageShared.tsx
  src/cook-web/src/app/admin/operations/page.test.tsx
  src/cook-web/src/app/admin/operations/page.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/operations-course.json
  src/i18n/fr-FR/modules/operations-course.json
  src/i18n/zh-CN/modules/operations-course.json
Due: prettier-cook-web, eslint

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
