Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

feat(chat-ui): localize footer notice
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/chat.json
  src/i18n/qps-ploc/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

feat(chat-ui): apply fixed header and footer layout (#948)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/chat.json
  src/i18n/qps-ploc/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

fix: ui change
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatComponents.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatComponents.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/globals.css
Due: prettier-cook-web, eslint

fix: streamline payment channel handling
  src/api/flaskr/common/config.py
  src/api/flaskr/service/order/funs.py
  src/cook-web/src/app/api/config/route.ts
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModal.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModalM.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/constans.ts
  src/cook-web/src/app/c/[[...id]]/Components/Pay/hooks/usePaymentFlow.ts
  src/cook-web/src/app/c/[[...id]]/layout.tsx
  src/cook-web/src/c-store/envStore.ts
  src/cook-web/src/c-types/store.ts
  src/cook-web/src/config/environment.ts
Due: prettier-cook-web, eslint

fix: add stripe sync endpoint
  src/api/flaskr/route/order.py
  src/api/flaskr/service/order/funs.py
  src/api/flaskr/service/order/payment_providers/stripe.py
  src/cook-web/src/app/payment/stripe/result/page.tsx
  src/cook-web/src/c-api/order.ts
Due: prettier-cook-web, eslint

fix: redirect after stripe checkout
  src/cook-web/src/app/payment/stripe/result/page.tsx
  src/i18n/en-US/modules/pay.json
  src/i18n/qps-ploc/modules/pay.json
  src/i18n/zh-CN/modules/pay.json
Due: prettier-cook-web, eslint

fix: render stripe redirect countdown
  src/cook-web/src/app/payment/stripe/result/page.tsx
  src/i18n/en-US/modules/pay.json
  src/i18n/qps-ploc/modules/pay.json
  src/i18n/zh-CN/modules/pay.json
Due: prettier-cook-web, eslint

fix: handle stripe session sync edge cases
  src/api/flaskr/service/order/funs.py
Due: none

fix: include course id in payment detail types
  src/cook-web/src/c-api/order.ts
Due: prettier-cook-web, eslint

fix: remove stray prompt resolution from decimal helper
  src/api/flaskr/service/learn/preview_service.py
Due: none

fix: sync shifu preview i18n keys
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/shifu.json
  src/i18n/qps-ploc/modules/shifu.json
  src/i18n/zh-CN/modules/shifu.json
Due: prettier-cook-web, eslint

fix: pr advice
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

feat: support lesson preview (#911)
  src/api/flaskr/api/check/ilivedata.py
  src/api/flaskr/api/llm/__init__.py
  src/api/flaskr/service/learn/learn_dtos.py
  src/api/flaskr/service/learn/preview_service.py
  src/api/flaskr/service/learn/routes.py
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/components/lesson-preview/ScrollText.svg
  src/cook-web/src/components/lesson-preview/index.ts
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
  src/cook-web/src/components/lesson-preview/variableStorage.ts
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/lib/request.ts
  src/cook-web/src/store/useShifu.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/cook-web/src/types/shifu.ts
  src/i18n/en-US/modules/shifu.json
  src/i18n/qps-ploc/modules/shifu.json
  src/i18n/zh-CN/modules/shifu.json
Due: prettier-cook-web, eslint

feat: interaction ui
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/globals.css
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/LoadingBar.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

fix: add active table migration and fix migration env
  src/api/migrations/env.py
  src/api/migrations/versions/c3f101bbb462_add_active_table.py
Due: none

fix: remove unneccessary migration
  src/api/migrations/versions/c3f101bbb462_add_active_table.py
Due: none

fix: add active table migration and fix migration env (#949)
  src/api/migrations/env.py
  src/api/migrations/versions/c3f101bbb462_add_active_table.py
Due: none

fix: ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/globals.css
Due: prettier-cook-web

feat: toast in center
  src/cook-web/src/components/ui/Toast.tsx
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseCatalog.module.css
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseCatalog.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseCatalogList.module.css
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseCatalogList.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseSection.module.css
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseSection.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavDrawer.module.css
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavDrawer.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavDrawer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavFooter.module.css
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavFooter.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavHeader.module.css
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavHeader.module.scss
  src/cook-web/src/c-assets/logos/ai-shifu-logo-vertical.png
  src/cook-web/src/c-components/logo/LogoWithText.tsx
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/MainMenuModal.tsx
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavDrawer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Settings/SettingHeader.module.css
  src/cook-web/src/app/c/[[...id]]/Components/Settings/SettingHeader.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/Settings/UserSettings.module.css
  src/cook-web/src/app/c/[[...id]]/Components/Settings/UserSettings.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/Settings/UserSettings.tsx
  src/cook-web/src/app/c/[[...id]]/page.tsx
Due: prettier-cook-web, eslint

fix
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/MainMenuModal.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Settings/UserSettings.tsx
  src/cook-web/src/app/c/[[...id]]/page.tsx
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
Due: prettier-cook-web, eslint

style(i18n): use translated label for coupon submit button
  src/cook-web/src/app/c/[[...id]]/Components/Pay/CouponCodeModal.tsx
Due: prettier-cook-web, eslint

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: ui
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.module.scss
Due: prettier-cook-web

fix: trigger coupon submit, call API, and update UI (#953)
  src/cook-web/src/app/c/[[...id]]/Components/Pay/CouponCodeModal.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModal.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModalM.tsx
  src/cook-web/src/c-components/m/SettingInputM.tsx
  src/cook-web/src/lib/request.ts
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseCatalog.module.css
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseCatalog.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/Settings/UserSettings.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/settings.json
  src/i18n/qps-ploc/modules/settings.json
  src/i18n/zh-CN/modules/settings.json
Due: prettier-cook-web, eslint

fix: preview ui
  src/cook-web/src/components/lesson-preview/LessonPreview.module.css
  src/cook-web/src/components/lesson-preview/LessonPreview.module.scss
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
Due: prettier-cook-web, eslint

fix: preview ui (#954)
  src/cook-web/src/components/lesson-preview/LessonPreview.module.css
  src/cook-web/src/components/lesson-preview/LessonPreview.module.scss
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
Due: prettier-cook-web, eslint

build: upgrade markdown-flow dependent versions
  src/api/requirements.txt
Due: none

build: upgrade markdown-flow dependent versions (#956)
  src/api/requirements.txt
Due: none

feat: add resizable sidebar to shifu editor
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

fix: improve accessibility of chapter list toggle button
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

refactor: simplify creation area DOM structure for consistency
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

fix: use panel.isCollapsed() to avoid state desync in toggle
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

fix: restore preview area layout structure
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

revert: rollback DOM structure changes to fix preview layout
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

chore: merge upstream main into feat_add_stripe_payment
  src/cook-web/src/app/c/[[...id]]/Components/Pay/hooks/usePaymentFlow.ts
Due: prettier-cook-web, eslint
