Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

Require active subscription for topup credits
  docs/billing-rollout-runbook.md
  docs/billing-subscription-design.md
  src/api/flaskr/service/billing/admission.py
  src/api/flaskr/service/billing/checkout.py
  src/api/flaskr/service/billing/subscriptions.py
  src/api/tests/service/billing/test_billing_admission.py
  src/api/tests/service/billing/test_billing_write_routes.py
  src/i18n/en-US/modules/backend/billing.json
  src/i18n/zh-CN/modules/backend/billing.json
Due: none

Remove legacy new creator trial config history
  docs/new-creator-trial-credits.md
  docs/post-auth-trial-bootstrap.md
  src/api/migrations/versions/c225e8a6f3d2_add_billing_extension_phase.py
  src/api/migrations/versions/d2b9a5c4f8e1_productize_creator_trial_plan.py
  src/api/tests/service/billing/test_billing_trial_config_contracts.py
Due: none

Align topup expiry with active subscription
  docs/billing-rollout-runbook.md
  docs/billing-subscription-design.md
  src/api/flaskr/service/billing/subscriptions.py
  src/api/tests/service/billing/test_billing_write_routes.py
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: none

Fix renewal credit validity display
  src/api/flaskr/service/billing/serializers.py
  src/api/tests/service/billing/test_billing_routes.py
  src/cook-web/src/components/billing/BillingOverviewTab.test.tsx
  src/cook-web/src/components/billing/BillingOverviewTab.tsx
Due: prettier-cook-web, eslint

billing: remove creator dead surfaces and stale endpoints
  src/api/flaskr/service/billing/capabilities.py
  src/api/flaskr/service/billing/funcs.py
  src/api/flaskr/service/billing/routes.py
  src/api/tests/service/billing/test_admin_billing_routes.py
  src/api/tests/service/billing/test_billing_domains.py
  src/api/tests/service/billing/test_billing_routes.py
  src/cook-web/src/api/api.test.ts
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/billing/page.test.tsx
  src/cook-web/src/components/billing/BillingCatalogCards.tsx
  src/cook-web/src/components/billing/BillingDomainsTab.test.tsx
  src/cook-web/src/components/billing/BillingDomainsTab.tsx
  src/cook-web/src/components/billing/BillingEntitlementsTab.test.tsx
  src/cook-web/src/components/billing/BillingEntitlementsTab.tsx
  src/cook-web/src/components/billing/BillingLedgerTab.test.tsx
  src/cook-web/src/components/billing/BillingLedgerTab.tsx
  src/cook-web/src/components/billing/BillingLedgerTable.tsx
  src/cook-web/src/components/billing/BillingOrderDetailSheet.tsx
  src/cook-web/src/components/billing/BillingOrdersTab.tsx
  src/cook-web/src/components/billing/BillingOrdersTable.test.tsx
  src/cook-web/src/components/billing/BillingOrdersTable.tsx
  src/cook-web/src/components/billing/BillingReportsTab.test.tsx
  src/cook-web/src/components/billing/BillingReportsTab.tsx
  src/cook-web/src/components/billing/BillingWalletBucketsCard.tsx
  src/cook-web/src/hooks/useBillingData.ts
  src/cook-web/src/lib/billing.ts
  src/cook-web/src/types/billing.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

chore: trim billing branch leftovers
  docs/billing-credit-precision-config.md
  docs/billing-pingxx-subscription-renewal.md
  docs/billing-refactor-plan.md
  docs/billing-subscription-design.md
  docs/billing-usage-single-ledger-entry-design.md
  docs/new-creator-trial-credits.md
  docs/post-auth-trial-bootstrap.md
  docs/trial-welcome-ack.md
  src/api/flaskr/service/shifu/ask_preview.py
  src/api/flaskr/service/shifu/http/preview_routes.py
  src/api/tests/service/shifu/test_billing_debug_admission_contracts.py
  src/cook-web/SKILL.md
  src/cook-web/src/__tests__/content-block-pay-interaction.test.tsx
  src/cook-web/src/components/billing/BillingOverviewCards.module.css
  src/cook-web/src/components/billing/BillingPageHeader.tsx
  src/cook-web/src/components/billing/BillingSubscriptionCard.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.test.tsx
  src/cook-web/src/lib/billing.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

docs: align billing design doc with active surfaces
  docs/billing-subscription-design.md
Due: none

Fix billing subscription precedence for topups
  src/api/flaskr/service/billing/checkout.py
  src/api/flaskr/service/billing/cli.py
  src/api/flaskr/service/billing/entitlements.py
  src/api/flaskr/service/billing/queries.py
  src/api/flaskr/service/billing/subscriptions.py
  src/api/tests/service/billing/test_billing_cli.py
  src/api/tests/service/billing/test_billing_entitlements.py
  src/api/tests/service/billing/test_billing_write_routes.py
Due: none

fix: track guest course visits in umami
  src/cook-web/src/app/c/[[...id]]/courseVisitTracking.test.ts
  src/cook-web/src/app/c/[[...id]]/courseVisitTracking.ts
  src/cook-web/src/app/c/[[...id]]/page.tsx
Due: prettier-cook-web, eslint

fix: freeze course visit entry type
  src/cook-web/src/app/c/[[...id]]/page.tsx
Due: prettier-cook-web, eslint

fix: track guest course visits in Umami (#1537)
  src/cook-web/src/app/c/[[...id]]/courseVisitTracking.test.ts
  src/cook-web/src/app/c/[[...id]]/courseVisitTracking.ts
  src/cook-web/src/app/c/[[...id]]/page.tsx
Due: prettier-cook-web, eslint

ci: scope backend tests to runtime changes
  .github/workflows/backend-tests.yml
Due: none

Repair billing subscription cycle drift
  src/api/flaskr/service/billing/admission.py
  src/api/flaskr/service/billing/cli.py
  src/api/flaskr/service/billing/subscriptions.py
  src/api/tests/service/billing/test_billing_admission.py
  src/api/tests/service/billing/test_billing_cli.py
  src/api/tests/service/billing/test_billing_write_routes.py
Due: none

docs: track active exec plan directory
  docs/exec-plans/active/.gitkeep
Due: none

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
Due: prettier-cook-web, eslint

feat: add course users to operator detail (#1529)
  docs/operator-course-users.md
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_dtos.py
  src/api/flaskr/service/shifu/route.py
  src/api/tests/service/shifu/test_admin_course_detail.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/layout.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/operations/operation-course-types.ts
  src/i18n/en-US/modules/operations-course.json
  src/i18n/zh-CN/modules/operations-course.json
Due: prettier-cook-web, eslint

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: upgrade markdown-flow-ui version to 0.1.111 (#1539)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

Revert "feat: add a concurrency control mechanism for Q & A requests (#1534)"
  src/api/flaskr/service/learn/runscript_v2.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

revert: concurrency control mechanism for Q&A requests (#1534) (#1540)
  src/api/flaskr/service/learn/runscript_v2.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

feat: add a concurrency control mechanism for Q & A requests
  src/api/flaskr/service/learn/runscript_v2.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix: include coupon redemptions in course revenue
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_dtos.py
  src/api/tests/service/shifu/test_admin_course_detail.py
  src/i18n/en-US/modules/operations-course.json
  src/i18n/zh-CN/modules/operations-course.json
Due: none

fix: scope coupon redemptions by course
  src/api/flaskr/service/shifu/admin.py
Due: none

feat: Added support for MDASK and MDANSWER type blocks
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_context_v2.py
Due: none

feat: Support building follow-up elements with anchors
  src/api/flaskr/service/learn/listen_element_legacy.py
  src/api/tests/service/learn/test_listen_elements_legacy_record.py
Due: none

Remove creator runtime concurrency enforcement
  docs/billing-subscription-design.md
  src/api/error_codes.json
  src/api/flaskr/service/billing/admission.py
  src/api/flaskr/service/billing/dtos.py
  src/api/flaskr/service/billing/entitlements.py
  src/api/flaskr/service/billing/models.py
  src/api/flaskr/service/billing/serializers.py
  src/api/flaskr/service/learn/routes.py
  src/api/flaskr/service/learn/runscript_v2.py
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/tts_preview.py
  src/api/migrations/versions/4c2a9d8b7e6f_drop_billing_entitlement_max_concurrency.py
  src/api/tests/service/billing/test_billing_admission.py
  src/api/tests/service/billing/test_billing_domains.py
  src/api/tests/service/billing/test_billing_dtos.py
  src/api/tests/service/billing/test_billing_entitlement_domain_schema_contracts.py
  src/api/tests/service/billing/test_billing_entitlements.py
  src/api/tests/service/billing/test_billing_routes.py
  src/api/tests/service/billing/test_billing_v11_upgrade_validation.py
  src/api/tests/service/billing/test_runtime_config_billing.py
  src/api/tests/service/learn/test_runscript_v2_lock.py
  src/api/tests/service/learn/test_runtime_tts_admission.py
  src/api/tests/service/shifu/test_ask_preview_route.py
  src/api/tests/service/shifu/test_billing_debug_admission_contracts.py
  src/cook-web/src/app/admin/billing/admin/page.test.tsx
  src/cook-web/src/components/billing/AdminBillingEntitlementsTable.tsx
  src/cook-web/src/lib/billing.ts
  src/cook-web/src/types/billing.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/backend/billing.json
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/backend/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

feat: Optimize parallel scheme
  docker/.env.example.full
  src/api/flaskr/common/config.py
  src/api/flaskr/service/learn/listen_element_run_sidecar.py
  src/api/flaskr/service/learn/runscript_v2.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

refactor(cook-web): share admin pagination component
  docs/admin-pagination-component.md
  src/cook-web/src/app/admin/components/AdminPagination.test.tsx
  src/cook-web/src/app/admin/components/AdminPagination.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/operations/page.tsx
  src/cook-web/src/app/admin/operations/users/page.test.tsx
  src/cook-web/src/app/admin/operations/users/page.tsx
  src/cook-web/src/app/admin/orders/page.tsx
Due: prettier-cook-web, eslint

refactor(cook-web): remove redundant pagination guards
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/operations/users/page.tsx
Due: prettier-cook-web, eslint

fix(cook-web): improve admin pagination accessibility
  src/cook-web/src/app/admin/components/AdminPagination.test.tsx
  src/cook-web/src/app/admin/components/AdminPagination.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.test.tsx
Due: prettier-cook-web, eslint

Dedup persisted follow-up answer elements
  src/api/flaskr/service/learn/listen_element_run_persistence.py
  src/api/flaskr/service/learn/listen_element_run_stream.py
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_element_protocol.py
Due: none

Dedup persisted follow-up answer elements (#1544)
  src/api/flaskr/service/learn/listen_element_run_persistence.py
  src/api/flaskr/service/learn/listen_element_run_stream.py
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_element_protocol.py
Due: none

refactor(cook-web): share admin overflow tooltip
  src/cook-web/src/app/admin/components/AdminOverflowTooltipText.test.tsx
  src/cook-web/src/app/admin/components/AdminOverflowTooltipText.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/operations/page.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.tsx
  src/cook-web/src/app/admin/operations/users/page.tsx
  src/cook-web/src/app/admin/orders/page.tsx
Due: prettier-cook-web, eslint

fix(cook-web): improve admin pagination aria labels
  src/cook-web/src/app/admin/components/AdminPagination.test.tsx
  src/cook-web/src/app/admin/components/AdminPagination.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/operations/page.tsx
  src/cook-web/src/app/admin/operations/users/page.tsx
  src/cook-web/src/app/admin/orders/page.tsx
  src/i18n/en-US/modules/order.json
  src/i18n/zh-CN/modules/order.json
Due: prettier-cook-web, eslint

refactor(cook-web): generalize admin tooltip text
  src/cook-web/src/app/admin/components/AdminOverflowTooltipText.tsx
  src/cook-web/src/app/admin/components/AdminTooltipText.test.tsx
  src/cook-web/src/app/admin/components/AdminTooltipText.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/operations/page.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.tsx
  src/cook-web/src/app/admin/operations/users/page.tsx
  src/cook-web/src/app/admin/orders/page.tsx
Due: prettier-cook-web, eslint

fix: include coupon redemptions in course revenue (#1541)
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_dtos.py
  src/api/tests/service/shifu/test_admin_course_detail.py
  src/i18n/en-US/modules/operations-course.json
  src/i18n/zh-CN/modules/operations-course.json
Due: none
