Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

refactor: use context v2 for preview (#1165)
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/preview_service.py
  src/api/flaskr/service/learn/routes.py
Due: none

fix: ensure umami identify precedes tracking
  src/cook-web/src/c-common/tools/tracking.ts
Due: prettier-cook-web, eslint

fix: ensure umami identify precedes tracking (#1171)
  src/cook-web/src/c-common/tools/tracking.ts
Due: prettier-cook-web, eslint

fix: honor legacy llm allowlist config
  src/api/flaskr/api/llm/__init__.py
Due: none

fix: prevent preview from using non-allowed models
  src/api/flaskr/api/llm/__init__.py
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_context_v2.py
Due: none

fix: respect llm allowlist config (#1172)
  src/api/flaskr/api/llm/__init__.py
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_context_v2.py
Due: none

feat: update demo shifu configuration with enhanced content
  src/api/demo_shifus/cn_demo.json
Due: none

fix(api): Update markdown-flow dependent versions
  src/api/requirements.txt
Due: none

fix: update demo shifu with refined content and formatting
  src/api/demo_shifus/cn_demo.json
Due: none

feat: update demo course (#1173)
  src/api/demo_shifus/cn_demo.json
Due: none

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: update mdf-ui (#1174)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: update mdf-ui (#1175)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

chore: remove create first shifu automatic
  src/api/flaskr/service/user/utils.py
Due: none

fix: stop automatically creating the first Shifu (#1176)
  src/api/flaskr/service/user/utils.py
Due: none

fix: set the default chapter type to guest
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

fix: set the default chapter type to guest (#1177)
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

feat: update mdf-ui (#1178)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: remove mobile header overlay from admin layout
  src/cook-web/src/app/admin/layout.tsx
Due: prettier-cook-web, eslint

fix: handle free lesson login and copy states
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/api/flaskr/service/shifu/shifu_outline_funcs.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseSection.tsx
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

fix: address review feedback
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_outline_funcs.py
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

fix: isolate copy timers per field
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

chore: Update markdown-flow dependency package configuration
  src/api/requirements.txt
Due: none

fix: set default lesson type when creating outline
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

feat: upgrade markdown-flow-ui version to 0.1.64
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: upgrade markdown-flow-ui version to 0.1.64 (#1180)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: keep lessons free and copy states isolated
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/api/flaskr/service/shifu/shifu_outline_funcs.py
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

chore: order shifu list by title
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
Due: none

chore: order shifu list by title (#1182)
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
Due: none

feat: upgrade markdown-flow-ui version to 0.1.65
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: upgrade markdown-flow-ui version to 0.1.65 (#1183)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: change outline type
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

ci: show contributors in release draft (#1185)
  .github/workflows/prepare-release.yml
Due: none

ci: append pr authors to release changelog
  .github/workflows/prepare-release.yml
Due: none

ci: append pr authors to release changelog (#1187)
  .github/workflows/prepare-release.yml
Due: none
