Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

fix(llm): handle dict usage metrics
  src/api/flaskr/api/llm/__init__.py
Due: none

fix(learn): re-export learn status constants
  src/api/flaskr/service/learn/const.py
Due: none

test: configure sqlite binds for plugin models
  src/api/tests/conftest.py
  src/api/tests/service/learn/test_context_v2.py
  src/api/tests/service/learn/test_learn_record.py
Due: none

test(learn): align mdflow context expectation
  src/api/tests/service/learn/test_learn_funcs.py
Due: none

fix: add explicit mobile height without safe-area var
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatComponents.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatComponents.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.module.scss
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
Due: prettier-cook-web

fix: migration version
  src/api/migrations/versions/b7c1d6e9f2a3_add_billing_usage_records.py
Due: none

fix: add safe area top padding for listen mode on iOS Safari
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
Due: prettier-cook-web

feat: add admin console entry in learner menu
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/MainMenuModal.tsx
  src/i18n/en-US/components/menus.json
  src/i18n/zh-CN/components/menus.json
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
Due: prettier-cook-web

fix: auto-advance to next block when audio sequence reaches tail
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
Due: prettier-cook-web, eslint

fix: add top inset and flex shrink fixes for Safari mobile clipping
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
Due: prettier-cook-web

feat(learn): add listen param to disable TTS
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/routes.py
  src/api/flaskr/service/learn/runscript_v2.py
  src/api/tests/service/learn/test_context_v2.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/c-api/studyV2.ts
Due: prettier-cook-web, eslint

fix: test height 100vh
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
Due: prettier-cook-web

fix(listen-mode): keep audio player instance to enable continuous playback on mobile browsers
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/components/audio/AudioPlayer.tsx
Due: prettier-cook-web, eslint

chore: add volcengine http tts env vars
  src/api/flaskr/common/config.py
  tasks.md
Due: none

feat: add volcengine http tts provider
  src/api/flaskr/api/tts/volcengine_http_provider.py
  tasks.md
Due: none

feat: register volcengine http tts provider
  src/api/flaskr/api/tts/__init__.py
  src/api/flaskr/api/tts/base.py
  src/api/flaskr/service/shifu/dtos.py
  src/api/flaskr/service/shifu/models.py
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/api/flaskr/service/tts/validation.py
  tasks.md
Due: none

feat: add volcengine http tts options
  src/api/flaskr/api/tts/volcengine_http_provider.py
  tasks.md
Due: none

feat: enforce volcengine http tts byte limit
  src/api/flaskr/service/tts/pipeline.py
  tasks.md
Due: none

docs: add volcengine http tts setup
  README.md
  docker/.env.example.full
  tasks.md
Due: none

test: add volcengine http tts coverage
  src/api/tests/service/tts/test_volcengine_http_provider.py
  tasks.md
Due: none

fix: switch listen mode mobile layout to flex
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.module.scss
  src/cook-web/src/app/c/[[...id]]/page.module.css
  src/cook-web/src/app/c/[[...id]]/page.module.scss
  src/cook-web/src/app/c/[[...id]]/page.tsx
Due: prettier-cook-web, eslint

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
Due: prettier-cook-web, eslint

fix(audio): handle mobile pause/end fallback and autoplay errors
  src/cook-web/src/components/audio/AudioPlayer.tsx
Due: prettier-cook-web, eslint

fix: drop volcengine http models in config
  src/api/flaskr/api/tts/base.py
  src/api/flaskr/api/tts/volcengine_http_provider.py
  src/api/flaskr/service/tts/validation.py
  src/api/tests/service/tts/test_volcengine_http_provider.py
Due: none

fix: expand chapter when adding section
  src/cook-web/src/store/useShifu.tsx
  src/cook-web/src/types/shifu.ts
Due: prettier-cook-web, eslint

fix: expand chapter when adding section (#1317)
  src/cook-web/src/store/useShifu.tsx
  src/cook-web/src/types/shifu.ts
Due: prettier-cook-web, eslint

feat: add admin console entry in learner menu (#1315)
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/MainMenuModal.tsx
  src/i18n/en-US/components/menus.json
  src/i18n/zh-CN/components/menus.json
Due: prettier-cook-web, eslint

fix: revert audio
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/components/audio/AudioPlayer.tsx
Due: prettier-cook-web, eslint

feat(audio): play url audio via webaudio with buffer fetch fallback
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
  src/cook-web/src/components/audio/AudioPlayer.tsx
  src/cook-web/src/lib/audio-playback.ts
Due: prettier-cook-web, eslint

refactor: rename bill usage table and codes
  src/api/flaskr/api/llm/__init__.py
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/handle_input_ask.py
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/metering/__init__.py
  src/api/flaskr/service/metering/consts.py
  src/api/flaskr/service/metering/models.py
  src/api/flaskr/service/metering/recorder.py
  src/api/flaskr/service/metering/routes.py
  src/api/flaskr/service/shifu/shifu_publish_funcs.py
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/migrations/versions/b2793bb43f97_rename_bill_usage_table.py
  src/api/tests/service/metering/test_recording.py
  src/i18n/en-US/modules/backend/metering.json
  src/i18n/locales.json
  src/i18n/zh-CN/modules/backend/metering.json
Due: none

feat: upgrade markdown-flow-ui version to 0.1.86
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

Revert "feat(audio): play url audio via webaudio with buffer fetch fallback"
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
  src/cook-web/src/components/audio/AudioPlayer.tsx
  src/cook-web/src/lib/audio-playback.ts
Due: prettier-cook-web, eslint

feat: upgrade markdown-flow-ui version to 0.1.86 (#1318)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix(listen-mode): reuse audio player instance for iOS sequence playback
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
  src/cook-web/src/c-utils/listen-debug.ts
  src/cook-web/src/components/audio/AudioPlayer.tsx
Due: prettier-cook-web, eslint

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
