Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

refactor: centralize shifu editor layout logic
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/hooks/useEditorLayoutState.ts
Due: prettier-cook-web, eslint

feat: implement resizable outline tree panel in Shifu editor (#964)
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/hooks/useEditorLayoutState.ts
Due: prettier-cook-web, eslint

fix: hide global info button
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
Due: prettier-cook-web, eslint

fix: hide global info button (#965)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
Due: prettier-cook-web, eslint

feat: update preview button and creation area guide text for clarity
  src/i18n/en-US/modules/preview.json
  src/i18n/en-US/modules/shifu.json
  src/i18n/zh-CN/modules/preview.json
  src/i18n/zh-CN/modules/shifu.json
Due: none

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: issue of i19 key missing
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModal.tsx
  src/i18n/en-US/modules/pay.json
  src/i18n/qps-ploc/modules/pay.json
  src/i18n/zh-CN/modules/pay.json
Due: prettier-cook-web, eslint

feat: update mdf-ui (#968)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

chore: remove unused fiels
  docs/payment-flow.md
  tasks.md
Due: none

fix: priceui
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModal.module.css
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModal.module.scss
Due: prettier-cook-web

fix: price ui (#969)
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModal.module.css
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModal.module.scss
Due: prettier-cook-web

fix: price ui
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModal.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModalFooter.module.css
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModalFooter.module.scss
Due: prettier-cook-web, eslint

fix: price ui (#970)
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModal.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModalFooter.module.css
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModalFooter.module.scss
Due: prettier-cook-web, eslint

feat: update shifu preview text for clarity
  src/cook-web/src/app/c/[[...id]]/page.tsx
  src/cook-web/src/components/preview/Preview.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/preview.json
  src/i18n/qps-ploc/modules/preview.json
  src/i18n/zh-CN/modules/preview.json
Due: prettier-cook-web, eslint

fix: fix: keep outline on filled like and dislike icons
  src/cook-web/src/app/admin/layout.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.tsx
  src/cook-web/src/c-assets/logos/ai-shifu-logo-black.svg
Due: prettier-cook-web, eslint

fix: align title
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

revert: roll back CreateArea description changes
  src/i18n/en-US/modules/shifu.json
  src/i18n/zh-CN/modules/shifu.json
Due: none

fix
  docs/payment-flow.md
  tasks.md
Due: none

feat: update shifu preview text for clarity (#967)
  src/cook-web/src/app/c/[[...id]]/page.tsx
  src/cook-web/src/components/preview/Preview.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/preview.json
  src/i18n/qps-ploc/modules/preview.json
  src/i18n/zh-CN/modules/preview.json
Due: prettier-cook-web, eslint

fix: ui upgrade (#971)
  src/cook-web/src/app/admin/layout.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.tsx
  src/cook-web/src/c-assets/logos/ai-shifu-logo-black.svg
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

fix: import shifu not update child count in struct
  src/api/flaskr/service/shifu/shifu_import_export_funcs.py
Due: none

fix: import shifu not update child count in struct (#972)
  src/api/flaskr/service/shifu/shifu_import_export_funcs.py
Due: none

feat: update creation area description text
  src/i18n/en-US/modules/shifu.json
  src/i18n/qps-ploc/modules/shifu.json
  src/i18n/zh-CN/modules/shifu.json
Due: none

fix: preserve google login redirect
  src/cook-web/src/app/login/google-callback/page.tsx
Due: prettier-cook-web, eslint

Update src/i18n/qps-ploc/modules/shifu.json
  src/i18n/qps-ploc/modules/shifu.json
Due: none

fix: preserve google login redirect (#974)
  src/cook-web/src/app/login/google-callback/page.tsx
Due: prettier-cook-web, eslint

feat: update creation area description text (#973)
  src/i18n/en-US/modules/shifu.json
  src/i18n/qps-ploc/modules/shifu.json
  src/i18n/zh-CN/modules/shifu.json
Due: none

feat: grant creator and demo access on admin login
  src/api/flaskr/common/config.py
  src/api/flaskr/route/user.py
  src/api/flaskr/service/user/auth/providers/google.py
  src/api/flaskr/service/user/auth/providers/phone.py
  src/api/flaskr/service/user/common.py
  src/api/flaskr/service/user/phone_flow.py
  src/api/flaskr/service/user/utils.py
  src/cook-web/src/app/login/page.tsx
  src/cook-web/src/components/auth/PhoneLogin.tsx
  src/cook-web/src/hooks/useAuth.ts
  src/cook-web/src/hooks/useGoogleAuth.ts
Due: prettier-cook-web, eslint

feat: grant creator and demo access on admin login (#975)
  src/api/flaskr/common/config.py
  src/api/flaskr/route/user.py
  src/api/flaskr/service/user/auth/providers/google.py
  src/api/flaskr/service/user/auth/providers/phone.py
  src/api/flaskr/service/user/common.py
  src/api/flaskr/service/user/phone_flow.py
  src/api/flaskr/service/user/utils.py
  src/cook-web/src/app/login/page.tsx
  src/cook-web/src/components/auth/PhoneLogin.tsx
  src/cook-web/src/hooks/useAuth.ts
  src/cook-web/src/hooks/useGoogleAuth.ts
Due: prettier-cook-web, eslint

feat: add logoUrl config
  docker/.env.example.full
  src/cook-web/src/app/admin/layout.tsx
  src/cook-web/src/app/api/config/route.ts
  src/cook-web/src/app/c/[[...id]]/layout.tsx
  src/cook-web/src/app/login/page.tsx
  src/cook-web/src/c-components/logo/LogoWithText.tsx
  src/cook-web/src/c-store/envStore.ts
  src/cook-web/src/c-types/store.ts
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/config/ENVIRONMENT_CONFIG.md
  src/cook-web/src/config/environment.ts
Due: prettier-cook-web, eslint

feat: add logoUrl config (#976)
  docker/.env.example.full
  src/cook-web/src/app/admin/layout.tsx
  src/cook-web/src/app/api/config/route.ts
  src/cook-web/src/app/c/[[...id]]/layout.tsx
  src/cook-web/src/app/login/page.tsx
  src/cook-web/src/c-components/logo/LogoWithText.tsx
  src/cook-web/src/c-store/envStore.ts
  src/cook-web/src/c-types/store.ts
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/config/ENVIRONMENT_CONFIG.md
  src/cook-web/src/config/environment.ts
Due: prettier-cook-web, eslint

fix: change demo shifu auth from all to view for new creators
  src/api/flaskr/command/update_shifu_demo.py
  src/api/flaskr/service/user/utils.py
Due: none

fix: change demo shifu auth from all to view for new creators (#977)
  src/api/flaskr/command/update_shifu_demo.py
  src/api/flaskr/service/user/utils.py
Due: none

feat(legal): add multilingual legal document link configuration support
  docker/.env.example.full
  src/api/flaskr/common/config.py
  src/cook-web/.env.example
  src/cook-web/src/app/api/config/route.ts
  src/cook-web/src/components/TermsCheckbox.tsx
  src/cook-web/src/config/ENVIRONMENT_CONFIG.md
  src/cook-web/src/config/environment.ts
Due: prettier-cook-web, eslint

feat: auto create first demo shifu for admin login
  .gitignore
  docker/MYSQL_CONFIG.md
  docker/SQL_CONFIG_COMMANDS.sql
  docker/SQL_MODE_EXPLANATION.md
  docker/dev_in_docker.sh
  docker/docker-compose.dev.yml
  src/api/en_first_shifu.json
  src/api/flaskr/service/shifu/shifu_import_export_funcs.py
  src/api/flaskr/service/user/utils.py
Due: none

feat(legal): add multilingual legal document link configuration support (#978)
  docker/.env.example.full
  src/api/flaskr/common/config.py
  src/cook-web/.env.example
  src/cook-web/src/app/api/config/route.ts
  src/cook-web/src/components/TermsCheckbox.tsx
  src/cook-web/src/config/ENVIRONMENT_CONFIG.md
  src/cook-web/src/config/environment.ts
Due: prettier-cook-web, eslint

chore: remove unrelated docker and mysql docs changes
  .gitignore
  docker/MYSQL_CONFIG.md
  docker/SQL_CONFIG_COMMANDS.sql
  docker/SQL_MODE_EXPLANATION.md
  docker/dev_in_docker.sh
  docker/docker-compose.dev.yml
Due: none
