Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

feat: expose current mdflow to preview refresh (#1120)
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/store/useShifu.tsx
  src/cook-web/src/types/shifu.ts
Due: prettier-cook-web, eslint

fix(shifu-edit): sync variable list with actual markdown content
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

fix: update ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix(shifu-edit): sync variable list with actual markdown content (#1121)
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

feat: update mdf-ui version (#1122)
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

fix(shifu-edit): keep newly created variables first in custom list
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

fix(shifu-edit): keep newly created variables first in custom list (#1123)
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

feat: auto-create default chapter and lesson on course creation (#1105)
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/cook-web/src/app/admin/page.tsx
  src/cook-web/src/store/useShifu.tsx
  src/i18n/en-US/modules/backend/shifu.json
  src/i18n/zh-CN/modules/backend/shifu.json
Due: prettier-cook-web, eslint

feat: update mdf-ui version
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: update mdf-ui version (#1124)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: logo set width & height
  src/cook-web/src/app/admin/layout.tsx
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavHeader.tsx
  src/cook-web/src/c-components/logo/LogoWithText.tsx
Due: prettier-cook-web, eslint

fix: render env list examples without brackets
  docker/.env.example.full
  src/api/flaskr/common/config.py
  src/api/tests/common/test_config_enhanced.py
Due: none

fix: render env list examples without brackets (#1125)
  docker/.env.example.full
  src/api/flaskr/common/config.py
  src/api/tests/common/test_config_enhanced.py
Due: none

fix: return empty string instead of localhost when API base URL is not configured
  src/cook-web/src/config/environment.ts
Due: prettier-cook-web, eslint

fix: add configFetched flag to prevent repeated fetch when API URL is empty
  src/cook-web/src/config/environment.ts
Due: prettier-cook-web, eslint

fix: always call runtime-config even when apiBaseUrl is empty
  src/cook-web/src/lib/initializeEnvData.ts
Due: prettier-cook-web, eslint

fix: prevent double slash in runtime-config URL when base is empty
  src/cook-web/src/lib/initializeEnvData.ts
Due: prettier-cook-web, eslint

fix: return empty string instead of localhost when API base URL is not configured (#1126)
  src/cook-web/src/config/environment.ts
  src/cook-web/src/lib/initializeEnvData.ts
Due: prettier-cook-web, eslint

chore: replace license with apache 2.0
  LICENSE.txt
Due: none

chore: update license appendix copyright
  LICENSE.txt
Due: none

chore: replace license with apache 2.0 (#1127)
  LICENSE.txt
Due: none

feat: add runtime logo orientation overrides and favicon support
  docker/.env.example.full
  src/api/flaskr/common/config.py
  src/api/flaskr/route/config.py
  src/cook-web/src/app/admin/layout.tsx
  src/cook-web/src/app/layout.tsx
  src/cook-web/src/app/login/page.tsx
  src/cook-web/src/c-components/logo/LogoWithText.tsx
  src/cook-web/src/c-store/envStore.ts
  src/cook-web/src/c-types/store.ts
  src/cook-web/src/components/RuntimeConfigInitializer.tsx
  src/cook-web/src/config/ENVIRONMENT_CONFIG.md
  src/cook-web/src/config/environment.ts
  src/cook-web/src/lib/initializeEnvData.ts
Due: prettier-cook-web, eslint

fix: image style
  src/cook-web/src/app/admin/layout.tsx
  src/cook-web/src/c-components/logo/LogoWithText.tsx
Due: prettier-cook-web, eslint

fix: override static favicon tags with runtime config value
  src/cook-web/src/app/layout.tsx
  src/cook-web/src/components/RuntimeConfigInitializer.tsx
Due: prettier-cook-web, eslint

fix: pr advice
  docker/.env.example.full
Due: none

feat: add runtime logo orientation overrides and favicon support (#1128)
  docker/.env.example.full
  src/api/flaskr/common/config.py
  src/api/flaskr/route/config.py
  src/cook-web/src/app/admin/layout.tsx
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavHeader.tsx
  src/cook-web/src/app/layout.tsx
  src/cook-web/src/app/login/page.tsx
  src/cook-web/src/c-components/logo/LogoWithText.tsx
  src/cook-web/src/c-store/envStore.ts
  src/cook-web/src/c-types/store.ts
  src/cook-web/src/components/RuntimeConfigInitializer.tsx
  src/cook-web/src/config/ENVIRONMENT_CONFIG.md
  src/cook-web/src/config/environment.ts
  src/cook-web/src/lib/initializeEnvData.ts
Due: prettier-cook-web, eslint

fix(outline-tree): expand node click hot area to wrapper
  src/cook-web/src/components/dnd-kit-sortable-tree/ui/simple/SimpleTreeItemWrapper.tsx
  src/cook-web/src/components/outline-selector/OutlineSelector.tsx
  src/cook-web/src/components/outline-tree/MinimalTreeItem.tsx
Due: prettier-cook-web, eslint

fix(outline-tree): expand node click hot area to wrapper (#1129)
  src/cook-web/src/components/dnd-kit-sortable-tree/ui/simple/SimpleTreeItemWrapper.tsx
  src/cook-web/src/components/outline-selector/OutlineSelector.tsx
  src/cook-web/src/components/outline-tree/MinimalTreeItem.tsx
Due: prettier-cook-web, eslint

fix(outline-tree): restore chapter collapse on node click
  src/cook-web/src/components/outline-tree/MinimalTreeItem.tsx
Due: prettier-cook-web, eslint

fix(outline-tree): restore chapter collapse on node click (#1130)
  src/cook-web/src/components/outline-tree/MinimalTreeItem.tsx
Due: prettier-cook-web, eslint

feat: add powered by markdownflow footer links
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/components/lesson-preview/LessonPreview.module.scss
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/components/shifu-edit/shifuEdit.scss
  src/i18n/en-US/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

feat: make only MarkdownFlow text clickable in footer
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/components/shifu-edit/shifuEdit.scss
  src/i18n/en-US/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

feat: remove backend editor markdownflow changes
  src/cook-web/src/components/lesson-preview/LessonPreview.module.scss
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/components/shifu-edit/shifuEdit.scss
Due: prettier-cook-web, eslint

fix: cache preview mdflow context in redis
  src/api/flaskr/service/learn/preview_service.py
Due: none

feat: localize copy button labels for ContentRender
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/render-ui.json
  src/i18n/zh-CN/modules/render-ui.json
Due: prettier-cook-web, eslint

feat: localize copy button labels for ContentRender (#1132)
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/render-ui.json
  src/i18n/zh-CN/modules/render-ui.json
Due: prettier-cook-web, eslint

chore(cook-web): align tailwind setup with v4
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/postcss.config.mjs
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/globals.css
  src/cook-web/src/app/layout.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/tailwind.config.ts
Due: prettier-cook-web, eslint

chore(cook-web): align tailwind setup with v4 (#1133)
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/postcss.config.mjs
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/globals.css
  src/cook-web/src/app/layout.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/tailwind.config.ts
Due: prettier-cook-web, eslint

Revert "chore(cook-web): align tailwind setup with v4"
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/postcss.config.mjs
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/globals.css
  src/cook-web/src/app/layout.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/tailwind.config.ts
Due: prettier-cook-web, eslint

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
