Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

fix: treat creator_only false explicitly
  src/api/flaskr/service/shifu/route.py
Due: none

fix: parse creator_only flag
  src/api/flaskr/service/shifu/route.py
Due: none

fix: restrict shifu list to creator-owned (#1270)
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
Due: none

fix: disable preview tts and hide audio control (#1269)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

feat: upgrade markdown-flow-ui version to 0.1.80
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: upgrade markdown-flow-ui version to 0.1.80 (#1272)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: keep shifu preview state when toggling panel visibility
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

fix: keep shifu preview state when toggling panel visibility (#1273)
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

feat: upgrade markdown-flow-ui version to 0.1.81
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: upgrade markdown-flow-ui version to 0.1.81 (#1275)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

refactor: reuse shifu creator resolver
  src/api/flaskr/service/order/admin.py
Due: none

refactor: reuse created shifu list helper
  src/api/flaskr/service/order/admin.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
Due: none

fix: use admin shifu list for order filters
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/orders/page.tsx
  src/cook-web/src/components/order/ImportActivationDialog.tsx
Due: prettier-cook-web, eslint

fix: clean order admin lint
  src/cook-web/src/app/admin/orders/page.tsx
  src/cook-web/src/components/order/ImportActivationDialog.tsx
Due: prettier-cook-web, eslint

fix: limit admin orders to creator courses (#1274)
  src/api/flaskr/route/order.py
  src/api/flaskr/service/order/admin.py
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/orders/page.tsx
  src/cook-web/src/components/order/ImportActivationDialog.tsx
Due: prettier-cook-web, eslint

chore: remove c-end audio playback control
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
Due: prettier-cook-web, eslint

refactor: drop unused profile v2 fields
  src/api/flaskr/service/profile/models_v2.py
  src/api/flaskr/service/profile/profile_manage_v2.py
  src/api/migrations/versions/1557fed81b2a_remove_unused_profile_v2_fields.py
Due: none

chore: remove C-end audio playback control (#1276)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
Due: prettier-cook-web, eslint

test: add unit coverage for order init
  src/api/tests/test_order.py
  tasks.md
Due: none

test: cover shifu summary error handling
  src/api/tests/test_shifu_funcs.py
  tasks.md
Due: none

test: clarify config cache test
  src/api/tests/service/config/test_funcs.py
Due: none

test: add shifu utils unit coverage
  src/api/tests/test_shifu_utils.py
  tasks.md
Due: none

test: add pingxx order unit coverage
  src/api/tests/test_pingpp.py
  tasks.md
Due: none

test: clean up review nits
  src/api/tests/common/fixtures/fake_llm.py
  src/api/tests/test_active.py
  src/api/tests/test_chapter.py
  src/api/tests/test_feishu.py
  src/api/tests/test_order.py
  src/api/tests/test_shifu_funcs.py
Due: none

ci: run incremental pr tests
  .github/workflows/backend-tests.yml
  tasks.md
Due: none

test: stabilize unit test ids
  src/api/tests/test_learn_api.py
  src/api/tests/test_order.py
  src/api/tests/test_query_order.py
  tasks.md
Due: none

chore: remove tasks file
  tasks.md
Due: none

test: add learn api unit coverage
  src/api/tests/test_learn_api.py
  tasks.md
Due: none

test: add contract test workflow
  .github/workflows/contract-tests.yml
  src/api/tests/contract/test_feishu_contract.py
  src/api/tests/contract/test_sms_contract.py
Due: none

test: replace discount integration test
  src/api/tests/test_discount.py
  tasks.md
Due: none

test: address review feedback
  src/api/flaskr/framework/plugin/plugin_manager.py
  src/api/pytest.ini
  src/api/tests/common/fixtures/fake_redis.py
  src/api/tests/conftest.py
  src/api/tests/service/order/test_stripe_refund.py
  src/api/tests/service/order/test_stripe_webhook.py
  src/api/tests/service/shifu/test_archive.py
  src/api/tests/test_fix_discount.py
  src/api/tests/test_llm.py
  src/api/tests/test_mdflow_adapter.py
  src/api/tests/test_openai.py
  src/api/tests/test_pingpp.py
  src/api/tests/test_query_order.py
  src/api/tests/test_study_record.py
Due: none

ci: fix pr test target paths
  .github/workflows/backend-tests.yml
Due: none

test: cover pingxx charge generation
  src/api/tests/test_wx_pub_order.py
  tasks.md
Due: none

test: refine contract coverage
  .github/workflows/contract-tests.yml
  src/api/tests/contract/test_feishu_contract.py
  src/api/tests/contract/test_sms_contract.py
Due: none

test: cover coupon application flow
  src/api/tests/test_fix_discount.py
  tasks.md
Due: none

docs: update test task status
  tasks.md
Due: none

test: add learn record coverage
  src/api/tests/test_study_record.py
  src/api/tests/test_sudy.py
  tasks.md
Due: none
