Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

fix: keep invalid guided answers editable
  src/cook-web/src/components/profile-onboarding/ProfileOnboardingConversation.test.tsx
  src/cook-web/src/components/profile-onboarding/ProfileOnboardingConversation.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/profile-onboarding.json
  src/i18n/fr-FR/modules/profile-onboarding.json
  src/i18n/zh-CN/modules/profile-onboarding.json
Due: prettier-cook-web, eslint

chore: record post-sync review closure
  docs/exec-plans/completed/profile-onboarding-guided.md
Due: none

fix: preserve legacy button whitespace
  src/api/flaskr/service/profile/onboarding.py
  src/api/tests/service/user/test_profile_onboarding_dual_protocol.py
Due: none

chore: record final guided review closure
  docs/exec-plans/completed/profile-onboarding-guided.md
Due: none

fix: preserve edits during guided config saves
  src/cook-web/src/app/admin/operations/profile-onboarding/page.test.tsx
  src/cook-web/src/app/admin/operations/profile-onboarding/page.tsx
Due: prettier-cook-web, eslint

fix: clarify insufficient credit notices
  src/api/error_codes.json
  src/api/tests/service/billing/test_billing_admission.py
  src/api/tests/service/billing/test_credit_notifications.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/c-api/studyV2.test.ts
  src/cook-web/src/c-api/studyV2.ts
  src/cook-web/src/components/billing/BillingAlertsBanner.tsx
  src/cook-web/src/components/billing/BillingOverviewTab.test.tsx
  src/cook-web/src/components/lesson-preview/LessonPreview.test.tsx
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/components/lesson-preview/usePreviewChat.test.ts
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
  src/cook-web/src/components/preview/Preview.test.tsx
  src/cook-web/src/components/preview/Preview.tsx
  src/cook-web/src/components/shifu-setting/MiniMaxVoiceCloneDialog.test.tsx
  src/cook-web/src/components/shifu-setting/MiniMaxVoiceCloneDialog.tsx
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/hooks/useToast.test.tsx
  src/cook-web/src/lib/billing.ts
  src/cook-web/src/lib/creditInsufficientToast.test.tsx
  src/cook-web/src/lib/creditInsufficientToast.tsx
  src/cook-web/src/lib/request.test.ts
  src/cook-web/src/lib/request.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/en-US/modules/preview.json
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/en-US/modules/shifu.json
  src/i18n/fr-FR/modules/billing.json
  src/i18n/fr-FR/modules/preview.json
  src/i18n/fr-FR/modules/shifu-setting.json
  src/i18n/fr-FR/modules/shifu.json
  src/i18n/zh-CN/modules/billing.json
  src/i18n/zh-CN/modules/preview.json
  src/i18n/zh-CN/modules/shifu-setting.json
  src/i18n/zh-CN/modules/shifu.json
Due: prettier-cook-web, eslint

fix: preserve contact rail translations
  src/cook-web/src/components/contact/ContactSideRail.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/components/navigation.json
  src/i18n/fr-FR/components/navigation.json
  src/i18n/locales.json
  src/i18n/zh-CN/components/navigation.json
Due: prettier-cook-web, eslint

chore: refresh frontend collaboration metadata
  scripts/generate_ai_collab_docs.py
  src/cook-web/src/c-api/AGENTS.md
  src/cook-web/src/c-constants/AGENTS.md
  src/cook-web/src/c-service/AGENTS.md
  src/cook-web/src/c-types/AGENTS.md
  src/cook-web/src/types/AGENTS.md
Due: prettier-cook-web

fix: clear credit notices after navigation
  src/cook-web/src/components/ui/Toaster.tsx
  src/cook-web/src/hooks/useToast.test.tsx
  src/cook-web/src/hooks/useToast.tsx
  src/cook-web/src/lib/creditInsufficientToast.test.tsx
  src/cook-web/src/lib/creditInsufficientToast.tsx
Due: prettier-cook-web, eslint

refactor: remove unused module translations
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/render-ui/inline-input.json
  src/i18n/en-US/modules/social.json
  src/i18n/fr-FR/modules/render-ui/inline-input.json
  src/i18n/fr-FR/modules/social.json
  src/i18n/locales.json
  src/i18n/zh-CN/modules/render-ui/inline-input.json
  src/i18n/zh-CN/modules/social.json
Due: prettier-cook-web, eslint

fix: guide course collaborators when owner credits run out
  src/api/flaskr/service/learn/learn_dtos.py
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/learn/routes.py
  src/api/tests/golden/fixtures/api_shifu_info.json
  src/api/tests/service/learn/test_preview_permissions.py
  src/api/tests/test_learn_api.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/layout.tsx
  src/cook-web/src/c-api/course.test.ts
  src/cook-web/src/c-api/course.ts
  src/cook-web/src/c-api/studyV2.test.ts
  src/cook-web/src/c-api/studyV2.ts
  src/cook-web/src/c-store/useCourseStore.ts
  src/cook-web/src/c-types/store.ts
  src/cook-web/src/lib/creditInsufficientToast.test.tsx
  src/cook-web/src/lib/creditInsufficientToast.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/fr-FR/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

chore: refresh listen mode skill guidance
  src/cook-web/skills/listen-mode-slide-mobile-integration/SKILL.md
Due: prettier-cook-web

docs: align dashboard spec with table UI
  docs/generated/doc-inventory.md
  docs/product-specs/index.md
  docs/product-specs/teacher-analytics-dashboard.md
Due: none

refactor: remove unused frontend dependencies
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: keep course preview billing actions owner-only
  src/cook-web/src/components/lesson-preview/LessonPreview.test.tsx
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/components/lesson-preview/usePreviewChat.test.ts
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
  src/cook-web/src/components/preview/Preview.test.tsx
  src/cook-web/src/components/preview/Preview.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.test.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

docs: align billing component design
  docs/billing-subscription-design.md
Due: none

fix: hide preview billing actions from collaborators
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.lessonUpdateNotice.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

fix: wait for course ownership before preview requests
  src/cook-web/src/__tests__/c-preview-layout.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/layout.tsx
  src/cook-web/src/c-store/useCourseStore.ts
  src/cook-web/src/c-types/store.ts
  src/cook-web/src/lib/creditInsufficientToast.test.tsx
  src/cook-web/src/lib/creditInsufficientToast.tsx
Due: prettier-cook-web, eslint

fix: enforce course owner soft limits for previews
  src/api/flaskr/service/billing/api.py
  src/api/flaskr/service/learn/routes.py
  src/api/flaskr/service/shifu/route.py
  src/api/tests/service/billing/test_billing_admission.py
  src/api/tests/service/learn/test_billing_admission_contracts.py
  src/api/tests/service/shifu/test_billing_debug_admission_contracts.py
  src/api/tests/service/shifu/test_shifu_public_urls.py
Due: none

fix: keep cancelled tts backfill requests retryable
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.types.ts
Due: prettier-cook-web, eslint

fix: strip markdownflow syntax from tts input
  src/api/flaskr/service/tts/__init__.py
  src/api/flaskr/service/tts/patterns.py
  src/api/tests/service/tts/test_tts_text_preprocess.py
Due: none

fix: address review findings on listen narration
  src/api/tests/service/learn/test_runscript_v2_lock.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

fix: keep markdown links following a question mark intact
  src/api/flaskr/service/tts/patterns.py
  src/api/tests/service/tts/test_tts_text_preprocess.py
Due: none

fix: restore listen mode narration after answering an interaction (#2342)
  src/api/flaskr/service/learn/runscript_v2.py
  src/api/tests/service/learn/test_runscript_v2_lock.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/askState.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/chatUiModeProjection.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/chatUiModeProjection.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.types.ts
  src/cook-web/src/c-types/chatUi.ts
Due: prettier-cook-web, eslint

fix: strip markdownflow syntax from tts input (#2343)
  src/api/flaskr/service/tts/__init__.py
  src/api/flaskr/service/tts/patterns.py
  src/api/tests/service/tts/test_tts_text_preprocess.py
Due: none

chore: bump markdown-flow-ui to 0.2.10
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

chore: bump markdown-flow-ui to 0.2.10 (#2344)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: anchor dialog open/close animation to its trigger position
  src/cook-web/src/components/ui/AlertDialog.tsx
  src/cook-web/src/components/ui/Dialog.tsx
  src/cook-web/src/lib/dialog-transform-origin.ts
Due: prettier-cook-web, eslint

fix: keep onboarding usable on short screens
  src/cook-web/src/components/profile-onboarding/ProfileOnboardingModal.test.tsx
  src/cook-web/src/components/profile-onboarding/ProfileOnboardingModal.tsx
Due: prettier-cook-web, eslint

fix: keep profile completion compatible with imports
  src/api/flaskr/service/profile/onboarding.py
  src/api/tests/service/user/test_profile_onboarding_dual_protocol.py
  src/api/tests/service/user/test_profile_onboarding_guided_routes.py
Due: none

fix: preserve completed profiles during late skips
  src/api/flaskr/service/profile/onboarding.py
  src/api/tests/service/user/test_profile_onboarding_dual_protocol.py
Due: none

chore: update guided onboarding execution record
  docs/exec-plans/active/profile-onboarding-guided.md
Due: none

chore: reopen guided onboarding execution record
  docs/exec-plans/active/profile-onboarding-guided.md
  docs/exec-plans/index.md
  docs/generated/doc-inventory.md
  docs/generated/harness-health.md
Due: none

chore: archive guided onboarding execution plan
  docs/exec-plans/completed/profile-onboarding-guided.md
  docs/exec-plans/index.md
  docs/generated/doc-inventory.md
  docs/generated/harness-health.md
Due: none

fix: reject profile questions learners cannot answer
  src/api/flaskr/service/profile_research/runtime.py
  src/api/tests/service/profile_research/test_runtime.py
  src/api/tests/service/user/test_profile_onboarding_config_v2.py
  src/api/tests/service/user/test_profile_onboarding_guided_routes.py
Due: none

test: keep settings rerun fixtures lint clean
  src/cook-web/src/components/profile-onboarding/LearnerProfileDialog.test.tsx
Due: prettier-cook-web, eslint

fix: preserve guided onboarding after profile updates
  src/api/flaskr/service/common/profile_onboarding.py
  src/api/flaskr/service/profile/onboarding.py
  src/api/flaskr/service/profile_research/runtime.py
  src/api/flaskr/service/shifu/admin_operations/profile_onboarding.py
  src/api/flaskr/service/shifu/admin_operations/route.py
  src/api/tests/service/profile_research/test_runtime.py
  src/api/tests/service/user/test_learner_profile_service.py
  src/api/tests/service/user/test_profile_onboarding.py
  src/api/tests/service/user/test_profile_onboarding_guided_routes.py
  src/cook-web/src/app/c/[[...id]]/page.test.tsx
  src/cook-web/src/components/profile-onboarding/LearnerProfileDialog.test.tsx
  src/cook-web/src/components/profile-onboarding/ProfileOnboardingModal.tsx
Due: prettier-cook-web, eslint
