Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

fix
  src/cook-web/src/components/dnd-kit-sortable-tree/ui/simple/SimpleTreeItemWrapper.tsx
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/src/components/outline-tree/MinimalTreeItem.tsx
  src/cook-web/src/components/outline-tree/OutlineTree.css
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/src/components/chapter-setting/icons/svg-normal.svg
  src/cook-web/src/components/chapter-setting/icons/svg-trial.svg
  src/cook-web/src/components/dnd-kit-sortable-tree/ui/simple/SimpleTreeItemWrapper.css
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

feat: move shifu setting icon next to header title
  src/cook-web/src/components/header/Header.tsx
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

fix: issue of invoke gemini-3 fails with wrong param
  src/api/flaskr/api/llm/__init__.py
Due: none

fix: issue of invoke gemini-3 fails with wrong param (#1084)
  src/api/flaskr/api/llm/__init__.py
Due: none

fix: handle login config type safety
  src/cook-web/src/app/login/page.tsx
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

chore: title case preview course label
  src/i18n/en-US/modules/preview.json
  src/i18n/qps-ploc/modules/preview.json
Due: none

chore: update preview label copy
  src/i18n/en-US/modules/preview.json
  src/i18n/qps-ploc/modules/preview.json
  src/i18n/zh-CN/modules/preview.json
Due: none

feat: update preview all label (#1085)
  src/i18n/en-US/modules/preview.json
  src/i18n/qps-ploc/modules/preview.json
  src/i18n/zh-CN/modules/preview.json
Due: none

fix: change preview error message to llm error
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
  src/i18n/en-US/modules/preview.json
  src/i18n/qps-ploc/modules/preview.json
  src/i18n/zh-CN/modules/preview.json
Due: prettier-cook-web, eslint

feat: update demo content
  src/api/demo_shifus/cn_demo.json
  src/api/demo_shifus/cn_first_shifu.json
  src/api/demo_shifus/en_first_shifu.json
Due: none

docs: update demo content (#1086)
  src/api/demo_shifus/cn_demo.json
  src/api/demo_shifus/cn_first_shifu.json
  src/api/demo_shifus/en_first_shifu.json
Due: none

fix: change preview error message to llm error (#1088)
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
  src/i18n/en-US/modules/preview.json
  src/i18n/qps-ploc/modules/preview.json
  src/i18n/zh-CN/modules/preview.json
Due: prettier-cook-web, eslint

feat: rename shifu to course in i18n files
  src/i18n/en-US/common/core.json
  src/i18n/en-US/components/create-shifu-dialog.json
  src/i18n/en-US/modules/backend/shifu.json
  src/i18n/en-US/modules/chapter-setting.json
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/qps-ploc/common/core.json
  src/i18n/qps-ploc/components/create-shifu-dialog.json
  src/i18n/qps-ploc/modules/backend/shifu.json
  src/i18n/qps-ploc/modules/shifu-setting.json
  src/i18n/zh-CN/common/core.json
  src/i18n/zh-CN/components/create-shifu-dialog.json
  src/i18n/zh-CN/modules/backend/shifu.json
  src/i18n/zh-CN/modules/chapter-setting.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: none

fix: show correct lesson pluralization in outline tree
  src/cook-web/src/components/outline-tree/MinimalTreeItem.tsx
  src/i18n/en-US/components/outline-tree.json
Due: prettier-cook-web, eslint

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: update mdf-ui (#1089)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: wrong params of gemini-2.5-pro (#1082)
  src/api/flaskr/api/llm/__init__.py
Due: none

fix: ui
  src/i18n/en-US/modules/chapter-setting.json
Due: none

feat(chapter-setting): default lesson permission to free access
  src/cook-web/src/components/chapter-setting/ChapterSetting.tsx
Due: prettier-cook-web, eslint

fix(outline): preserve permissions when adding lessons
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

fix: respect url course id over default
  src/cook-web/src/lib/initializeEnvData.ts
Due: prettier-cook-web, eslint

fix: complete pseudo-locale consistency for course terminology
  src/i18n/qps-ploc/components/create-shifu-dialog.json
  src/i18n/qps-ploc/modules/backend/course.json
  src/i18n/qps-ploc/modules/backend/shifu.json
  src/i18n/qps-ploc/modules/shifu-setting.json
  src/i18n/qps-ploc/modules/shifu.json
Due: none

fix: ui
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseSection.module.css
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseSection.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseSection.tsx
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavFooter.module.css
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavFooter.module.scss
Due: prettier-cook-web, eslint

feat: rename shifu to course in i18n files (#1090)
  src/i18n/en-US/common/core.json
  src/i18n/en-US/components/create-shifu-dialog.json
  src/i18n/en-US/modules/backend/shifu.json
  src/i18n/en-US/modules/chapter-setting.json
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/locales.json
  src/i18n/qps-ploc/common/core.json
  src/i18n/qps-ploc/components/create-shifu-dialog.json
  src/i18n/qps-ploc/modules/backend/course.json
  src/i18n/qps-ploc/modules/backend/shifu.json
  src/i18n/qps-ploc/modules/shifu-setting.json
  src/i18n/qps-ploc/modules/shifu.json
  src/i18n/zh-CN/common/core.json
  src/i18n/zh-CN/components/create-shifu-dialog.json
  src/i18n/zh-CN/modules/backend/shifu.json
  src/i18n/zh-CN/modules/chapter-setting.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: none

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseSection.module.css
Due: prettier-cook-web

fix: revert
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseSection.module.css
Due: prettier-cook-web

feat: update mdf-ui (#1091)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: pr advice
  src/api/flaskr/service/shifu/dtos.py
Due: none

fix: pr advice
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/components/outline-tree.json
  src/i18n/en-US/modules/chapter-setting.json
  src/i18n/qps-ploc/components/outline-tree.json
  src/i18n/qps-ploc/modules/chapter-setting.json
  src/i18n/zh-CN/components/outline-tree.json
  src/i18n/zh-CN/modules/chapter-setting.json
Due: prettier-cook-web, eslint

feat: update create course text
  src/i18n/en-US/common/core.json
  src/i18n/qps-ploc/common/core.json
  src/i18n/zh-CN/common/core.json
Due: none

fix: pr advice
  src/cook-web/src/components/outline-tree/MinimalTreeItem.tsx
  src/i18n/qps-ploc/components/outline-tree.json
  src/i18n/zh-CN/components/outline-tree.json
Due: prettier-cook-web, eslint

feat(lesson-preview): track generate time on preview items
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/components/lesson-preview/TimeBar.module.css
  src/cook-web/src/components/lesson-preview/TimeBar.module.scss
  src/cook-web/src/components/lesson-preview/TimeBar.tsx
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
Due: prettier-cook-web, eslint

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
