Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

fix: add chat mode label fallbacks for missing i18n keys
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
Due: prettier-cook-web, eslint

refactor: centralize pending resume start in listen queue
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
Due: prettier-cook-web, eslint

refactor: add explicit props typing for chat ui components
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

fix: harden listen runtime empty-slide remap
  src/cook-web/src/__tests__/listen-mode-audio-sequence.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
Due: prettier-cook-web, eslint

test: cover shared chat ui utility helpers
  src/cook-web/src/__tests__/chat-ui-utils.test.ts
Due: prettier-cook-web, eslint

refactor: remove stale chat ui debug comments
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix: harden listen mode table rendering and slide pruning
  src/cook-web/src/__tests__/listen-mode-audio-sequence.test.tsx
  src/cook-web/src/__tests__/listen-mode-html-table-segment.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
  src/cook-web/src/c-common/hooks/useTracking.ts
  src/cook-web/src/c-utils/listen-mode/segment-pipeline.ts
  src/i18n/en-US/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

fix: prune nested empty sandbox slides in listen mode
  src/cook-web/src/__tests__/listen-mode-audio-sequence.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
Due: prettier-cook-web, eslint

refactor: remove text-only fallback slides in listen mode
  src/cook-web/src/__tests__/listen-mode-empty-sandbox-filter.test.tsx
  src/cook-web/src/__tests__/listen-mode-timeline.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
Due: prettier-cook-web, eslint

fix: anchor listen remap when runtime slides are empty
  src/cook-web/src/__tests__/listen-mode-audio-sequence.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
Due: prettier-cook-web, eslint

refactor: consolidate listen mode AV TTS duplication
  docs/listen-mode-duplication-audit.md
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/learn/routes.py
  src/api/flaskr/service/tts/audio_record_utils.py
  src/api/flaskr/service/tts/boundary_strategies.py
  src/api/flaskr/service/tts/pipeline.py
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/tests/service/tts/test_streaming_tts_av_contract.py
Due: none

fix: address PR review feedback for password login
  src/api/error_codes.json
  src/api/flaskr/route/user.py
  src/api/flaskr/service/user/password_utils.py
  src/cook-web/src/components/auth/PasswordLogin.tsx
  src/i18n/en-US/modules/backend/user.json
  src/i18n/zh-CN/modules/backend/user.json
Due: prettier-cook-web, eslint

chore: remove legacy active and profile table code
  src/api/flaskr/command/unified_migration_task.py
  src/api/flaskr/service/active/__init__.py
  src/api/flaskr/service/active/consts.py
  src/api/flaskr/service/active/funcs.py
  src/api/flaskr/service/active/models.py
  src/api/flaskr/service/profile/dtos.py
  src/api/flaskr/service/profile/models.py
  src/api/flaskr/service/profile/profile_manage.py
  src/api/scripts/check_promo_campaign_migration.py
  src/api/tests/test_active.py
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/backend/active.json
  src/i18n/en-US/modules/backend/profile.json
  src/i18n/en-US/modules/backend/scenario.json
  src/i18n/locales.json
  src/i18n/zh-CN/modules/backend/active.json
  src/i18n/zh-CN/modules/backend/profile.json
  src/i18n/zh-CN/modules/backend/scenario.json
Due: prettier-cook-web, eslint

feat: add optional password login support (#1345)
  docs/password-login-design.md
  src/api/error_codes.json
  src/api/flaskr/route/user.py
  src/api/flaskr/service/user/auth/__init__.py
  src/api/flaskr/service/user/auth/providers/password.py
  src/api/flaskr/service/user/password_utils.py
  src/api/flaskr/service/user/repository.py
  src/api/flaskr/service/user/verification_codes.py
  src/api/requirements.txt
  src/api/tests/service/user/test_password_routes.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/MainMenuModal.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Settings/BirthdaySettingModal.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Settings/SetPasswordModal.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Settings/SettingBaseModal.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Settings/SexSettingModal.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Settings/UserSettings.tsx
  src/cook-web/src/app/globals.css
  src/cook-web/src/app/layout.tsx
  src/cook-web/src/app/login/page.tsx
  src/cook-web/src/c-common/tools/tracking.ts
  src/cook-web/src/components/auth/PasswordLogin.tsx
  src/cook-web/src/config/environment.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/auth.json
  src/i18n/en-US/modules/backend/user.json
  src/i18n/en-US/modules/settings.json
  src/i18n/zh-CN/modules/auth.json
  src/i18n/zh-CN/modules/backend/user.json
  src/i18n/zh-CN/modules/settings.json
Due: prettier-cook-web, eslint

chore(db): drop legacy order, variable, and active tables (#1351)
  src/api/flaskr/command/unified_migration_task.py
  src/api/flaskr/service/active/__init__.py
  src/api/flaskr/service/active/consts.py
  src/api/flaskr/service/active/funcs.py
  src/api/flaskr/service/active/models.py
  src/api/flaskr/service/profile/dtos.py
  src/api/flaskr/service/profile/models.py
  src/api/flaskr/service/profile/profile_manage.py
  src/api/migrations/versions/8f4c1a2b7d9e_drop_legacy_order_variable_active_tables.py
  src/api/scripts/check_promo_campaign_migration.py
  src/api/tests/test_active.py
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/backend/active.json
  src/i18n/en-US/modules/backend/profile.json
  src/i18n/en-US/modules/backend/scenario.json
  src/i18n/locales.json
  src/i18n/zh-CN/modules/backend/active.json
  src/i18n/zh-CN/modules/backend/profile.json
  src/i18n/zh-CN/modules/backend/scenario.json
Due: prettier-cook-web, eslint

fix: keep tts selections after reopening settings
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

refactor: simplify tts provider normalization
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

feat: add audio-visual sync for listen mode
  docs/audio-visual-sync-design.md
  docs/tasks.md
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/learn_dtos.py
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/tts/models.py
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/flaskr/service/tts/visual_aware_tts.py
  src/api/flaskr/service/tts/visual_patterns.py
  src/api/migrations/versions/a1b2c3d4e5f6_add_position_to_learn_generated_audios.py
  src/api/tests/service/tts/test_visual_aware_tts.py
  src/api/tests/service/tts/test_visual_integration.py
  src/api/tests/service/tts/test_visual_patterns.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
  src/cook-web/src/c-api/studyV2.ts
  src/cook-web/src/c-utils/audio-utils.ts
  src/cook-web/src/components/audio/AudioPlayer.tsx
  src/cook-web/src/components/audio/AudioPlayerList.tsx
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
Due: prettier-cook-web, eslint

refactor: isolate backend diff from listen-mode branch
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/learn_dtos.py
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/learn/listen_slide_builder.py
  src/api/flaskr/service/learn/routes.py
  src/api/flaskr/service/learn/runscript_v2.py
  src/api/flaskr/service/tts/__init__.py
  src/api/flaskr/service/tts/audio_record_utils.py
  src/api/flaskr/service/tts/boundary_strategies.py
  src/api/flaskr/service/tts/models.py
  src/api/flaskr/service/tts/patterns.py
  src/api/flaskr/service/tts/pipeline.py
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/flaskr/service/tts/tts_usage_recorder.py
  src/api/migrations/versions/3ef04a9b5d37_add_position_to_learn_generated_audios.py
  src/api/tests/service/learn/test_generated_block_tts_av_mode.py
  src/api/tests/service/learn/test_learn_dtos_slide.py
  src/api/tests/service/learn/test_learn_record_slides.py
  src/api/tests/service/learn/test_listen_slide_builder.py
  src/api/tests/service/tts/test_av_speakable_segmentation.py
  src/api/tests/service/tts/test_streaming_tts_av_contract.py
  src/api/tests/service/tts/test_tts_text_preprocess.py
Due: none

fix: keep tts selections after reopening settings (#1352)
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

feat: Visual mode is enabled by default and markdown-flow dependencies are updated
  src/api/flaskr/service/learn/context_v2.py
  src/api/requirements.txt
Due: none

feat: upgrade markdown-flow-ui version to 0.1.91
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: upgrade markdown-flow-ui version to 0.1.91 (#1355)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat(cook-web): Upgrade markdown-flow-ui
  src/cook-web/package.json
Due: prettier-cook-web

feat: add visual mode configuration options
  src/api/flaskr/service/learn/context_v2.py
Due: none

feat: add draft edit conflict detection
  src/api/error_codes.json
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_history_manager.py
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/components/header/Header.tsx
  src/cook-web/src/components/preview/Preview.tsx
  src/cook-web/src/components/shifu-edit/DraftConflictDialog.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/store/useShifu.tsx
  src/cook-web/src/types/shifu.ts
  src/i18n/en-US/modules/backend/shifu.json
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/zh-CN/modules/backend/shifu.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: prettier-cook-web, eslint

feat(auth): add bootstrap admin password login
  src/api/flaskr/common/config.py
  src/api/flaskr/route/user.py
  src/api/flaskr/service/user/auth/providers/password.py
  src/api/flaskr/service/user/email_flow.py
  src/api/flaskr/service/user/phone_flow.py
  src/api/flaskr/service/user/verification_codes.py
  src/api/scripts/README.md
  src/api/tests/common/fixtures/config_data.py
  src/api/tests/common/test_config.py
  src/api/tests/common/test_config_enhanced.py
  src/api/tests/common/test_config_integration.py
  src/api/tests/conftest.py
  src/api/tests/service/user/test_password_routes.py
  src/api/tests/service/user/test_user_identify.py
Due: none

chore(config): regenerate env examples
  docker/.env.example.full
Due: none

fix: align draft conflict handling
  src/api/error_codes.json
  src/api/flaskr/service/shifu/route.py
  src/cook-web/src/c-types/index.ts
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

docs: update mdflow save response schema
  src/api/flaskr/service/shifu/route.py
Due: none

fix: harden draft conflict handling
  src/api/flaskr/service/shifu/route.py
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/store/useShifu.tsx
  src/i18n/en-US/modules/shifu-setting.json
Due: prettier-cook-web, eslint

docs: fix get mdflow response schema
  src/api/flaskr/service/shifu/route.py
Due: none

fix: harden draft conflict guards
  src/api/flaskr/service/shifu/route.py
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

fix: scope mdflow outline queries
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
Due: none

fix(listen-mode): ensure chapter-switch auto-start by synchronizing reset signal and sequence startup effects
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
  src/cook-web/src/c-api/studyV2.ts
  src/cook-web/src/c-utils/audio-utils.ts
  src/cook-web/src/components/audio/AudioPlayerList.tsx
Due: prettier-cook-web, eslint

fix: tighten conflict and save guard
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

feat(listen-mode): dedupe audio segments by position and segment index in sequence normalization
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
Due: prettier-cook-web, eslint

fix: bump draft revision on settings save
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

fix: sync draft revision on non-mdflow edits
  src/api/flaskr/service/shifu/route.py
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
