Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

fix: reuse listen html streams within block
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_listen_elements.py
Due: none

fix: bind late audio to latest text
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_listen_elements.py
Due: none

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: finalize listen tts on stream errors
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_context_v2.py
Due: none

test: lock listen multi-segment audio replay
  src/api/tests/service/learn/test_listen_elements.py
Due: none

fix: resolve listen element stream state issues
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_listen_elements.py
Due: none

fix: keep lesson runs advancing to interaction
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_context_v2.py
Due: none

fix: distinguish terminal done events in listen run
  src/api/flaskr/service/learn/learn_dtos.py
  src/api/flaskr/service/learn/listen_elements.py
  src/api/flaskr/service/learn/runscript_v2.py
  src/api/tests/service/learn/test_runscript_v2_lock.py
Due: none

fix: align element change_type semantics
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_element_protocol.py
Due: none

fix: split interrupted stream elements
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_element_protocol.py
  src/api/tests/service/learn/test_listen_elements.py
Due: none

fix: load lesson mdflow by struct outline row
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/shifu/shifu_struct_manager.py
  src/api/tests/service/learn/test_context_v2.py
Due: none

fix: align listen interaction element output
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_element_protocol.py
Due: none

fix: mark final audio synthesis patch
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_element_protocol.py
  src/api/tests/service/learn/test_listen_elements.py
Due: none

fix: suppress intermediate done in listen run
  src/api/flaskr/service/learn/runscript_v2.py
  src/api/tests/service/learn/test_runscript_v2_lock.py
Due: none

fix: refine listen element stream events
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_listen_elements.py
Due: none

fix: keep audio fallback off html elements
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_element_protocol.py
  src/api/tests/service/learn/test_listen_elements.py
Due: none

fix: align listen adapter with mdflow stream types
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_element_protocol.py
  src/api/tests/service/learn/test_listen_elements.py
Due: none

fix: remove leftover stream type inference
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_element_protocol.py
Due: none

fix: preserve audio segment final flags
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_element_protocol.py
  src/api/tests/service/learn/test_listen_elements.py
Due: none

fix: synthesize listen tts from text elements
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_generated_block_tts_av_mode.py
Due: none

fix: reuse persisted elements for legacy audio replay
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_listen_elements.py
  src/api/tests/service/learn/test_listen_elements_legacy_record.py
Due: none

fix: keep listen audio on text elements
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_element_protocol.py
Due: none

fix: align mdflow element is_new semantics
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_element_protocol.py
Due: none

fix: keep mdflow element is_new stable
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_element_protocol.py
  src/api/tests/service/learn/test_listen_elements.py
Due: none

fix(cook-web): derive run listen payload strictly from URL listen query param
  SKILL.md
  src/cook-web/src/c-api/studyV2.ts
Due: prettier-cook-web, eslint

fix(listen-mode): enforce single audio source in slide renderer to prevent duplicate playback
  SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.ts
Due: prettier-cook-web, eslint

fix(listen-slide): prioritize explicit streaming state to prevent post-playback buffering lock
  SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.ts
  src/cook-web/src/c-utils/audio-utils.ts
Due: prettier-cook-web, eslint

fix: patch read mode element updates
  src/api/flaskr/service/learn/listen_elements.py
  src/api/flaskr/service/learn/runscript_v2.py
  src/api/tests/service/learn/test_listen_elements.py
  src/api/tests/service/learn/test_runscript_v2_lock.py
Due: none

Revert "fix: patch read mode element updates"
  src/api/flaskr/service/learn/listen_elements.py
  src/api/flaskr/service/learn/runscript_v2.py
  src/api/tests/service/learn/test_listen_elements.py
  src/api/tests/service/learn/test_runscript_v2_lock.py
Due: none

fix(chat-ui): hide follow-up action bar for sys_lesson_feedback_score interactions in read mode
  SKILL.md
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/c-utils/lesson-feedback-interaction-defaults.ts
  src/cook-web/src/c-utils/lesson-feedback-interaction.ts
Due: prettier-cook-web, eslint

fix:
  src/api/flaskr/service/learn/runscript_v2.py
  src/api/tests/service/learn/test_runscript_v2_lock.py
Due: none

fix(chat-ui): gate LIKE_STATUS actions by parent content render completion
  SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

chore(cook-web): remove audio troubleshooting console logs and related debug helpers
  SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
  src/cook-web/src/c-utils/audio-utils.ts
  src/cook-web/src/components/audio/AudioPlayer.tsx
  src/cook-web/src/hooks/useExclusiveAudio.ts
Due: prettier-cook-web, eslint

fix: optimize lesson feedback prompt timing
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
Due: prettier-cook-web, eslint

fix: keep feedback prompt visible after opening
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix: optimize lesson feedback prompt timing (#1469)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
Due: prettier-cook-web, eslint

feat: upgrade markdown-flow-ui and add sandbox iframe dynamic height feature
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentIframe.tsx
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
Due: prettier-cook-web, eslint

feat(cook-web): add lessonId deep-link support for learner and shifu pages with store-level preferred lesson selection
  SKILL.md
  src/cook-web/src/app/c/[[...id]]/hooks/useLessonTree.ts
  src/cook-web/src/app/c/[[...id]]/page.tsx
  src/cook-web/src/app/shifu/[id]/page.tsx
  src/cook-web/src/c-utils/urlUtils.ts
  src/cook-web/src/components/main-root/MainRoot.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/components/shifu-root/ShifuRoot.tsx
  src/cook-web/src/store/useShifu.tsx
  src/cook-web/src/types/shifu.ts
Due: prettier-cook-web, eslint

feat(cook-web): add lessonId deep-link support for learner and shifu pages with store-level preferred lesson selection (#1470)
  SKILL.md
  src/cook-web/src/app/c/[[...id]]/hooks/useLessonTree.ts
  src/cook-web/src/app/c/[[...id]]/page.tsx
  src/cook-web/src/app/shifu/[id]/page.tsx
  src/cook-web/src/c-utils/urlUtils.ts
  src/cook-web/src/components/main-root/MainRoot.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/components/shifu-root/ShifuRoot.tsx
  src/cook-web/src/store/useShifu.tsx
  src/cook-web/src/types/shifu.ts
Due: prettier-cook-web, eslint

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
