Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

fix: revert tailwind version to v3
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/postcss.config.mjs
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/globals.css
  src/cook-web/src/app/layout.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/tailwind.config.ts
Due: prettier-cook-web, eslint

fix： revert (#1135)
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/postcss.config.mjs
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/globals.css
  src/cook-web/src/app/layout.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/tailwind.config.ts
Due: prettier-cook-web, eslint

fix: guard preview flow when outline changes
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

fix: delete logo objectfit
  src/cook-web/src/app/admin/layout.tsx
  src/cook-web/src/c-components/logo/LogoWithText.tsx
Due: prettier-cook-web, eslint

fix: pr advice
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

fix: guard preview flow when outline changes (#1136)
  src/cook-web/src/app/admin/layout.tsx
  src/cook-web/src/c-components/logo/LogoWithText.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

fix: params issure of gpt
  src/api/flaskr/api/llm/__init__.py
  src/api/requirements.txt
Due: none

chore: remove log
  src/api/flaskr/api/llm/__init__.py
Due: none

chhore: remove duplicate lines
  src/api/flaskr/api/llm/__init__.py
Due: none

fix: params issure of gpt-5.2 (#1137)
  src/api/flaskr/api/llm/__init__.py
  src/api/requirements.txt
Due: none

fix: avoid redundant mdflow save on chapter switch
  src/cook-web/src/components/outline-tree/MinimalTreeItem.tsx
  src/cook-web/src/store/useShifu.tsx
  src/cook-web/src/types/shifu.ts
Due: prettier-cook-web, eslint

fix: pr advice
  src/cook-web/src/components/outline-tree/MinimalTreeItem.tsx
Due: prettier-cook-web, eslint

fix: lint
  src/cook-web/src/types/shifu.ts
Due: prettier-cook-web, eslint

fix: avoid redundant mdflow save on chapter switch (#1138)
  src/cook-web/src/components/outline-tree/MinimalTreeItem.tsx
  src/cook-web/src/store/useShifu.tsx
  src/cook-web/src/types/shifu.ts
Due: prettier-cook-web, eslint

fix: pr advice
  src/cook-web/src/types/shifu.ts
Due: prettier-cook-web, eslint

fix: delete duplicate identifier 'hasUnsavedMdflow'. (#1139)
  src/cook-web/src/types/shifu.ts
Due: prettier-cook-web, eslint

feat: improve i18n footer text structure with prefix/suffix
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/i18n/en-US/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

feat: add Powered by MarkdownFlow at the footer (#1140)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/i18n/en-US/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

feat: implement terms confirmation dialog for login flows
  src/cook-web/src/app/login/page.tsx
  src/cook-web/src/components/auth/PhoneLogin.tsx
  src/cook-web/src/components/auth/TermsConfirmDialog.tsx
Due: prettier-cook-web, eslint

feat: add i18n support for terms confirmation dialog
  src/i18n/en-US/modules/auth.json
  src/i18n/zh-CN/modules/auth.json
Due: none

fix: get dify conf using get_config in flaskr.service.config.funcs
  src/api/flaskr/api/llm/dify.py
Due: none

fix: get dify conf using get_config in flaskr.service.config.funcs (#1141)
  src/api/flaskr/api/llm/dify.py
Due: none

build(api): upgrade markdown-flow package version
  src/api/requirements.txt
Due: none

fix: preserve shifu context for learn SSE
  src/api/flaskr/service/learn/routes.py
  src/api/flaskr/service/learn/runscript_v2.py
Due: none

fix: preserve shifu context for learn SSE (#1142)
  src/api/flaskr/service/learn/routes.py
  src/api/flaskr/service/learn/runscript_v2.py
Due: none

build(api): upgrade markdown-flow package version (#1143)
  src/api/requirements.txt
Due: none

feat: update UI terminology from course to teaching context
  src/i18n/zh-CN/modules/preview.json
  src/i18n/zh-CN/modules/shifu.json
Due: none

feat: update ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/components/lesson-preview/VariableList.module.css
  src/cook-web/src/components/lesson-preview/VariableList.module.scss
Due: prettier-cook-web

fix: ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: update ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: update mdf-ui (#1144)
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/components/lesson-preview/VariableList.module.css
  src/cook-web/src/components/lesson-preview/VariableList.module.scss
Due: prettier-cook-web

feat: update mdf-ui (#1145)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: logo width ui
  src/cook-web/src/c-components/logo/LogoWithText.tsx
Due: prettier-cook-web, eslint

fix: logo width ui (#1146)
  src/cook-web/src/c-components/logo/LogoWithText.tsx
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseSection.module.css
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseSection.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseSection.tsx
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavHeader.module.css
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavHeader.module.scss
Due: prettier-cook-web, eslint

fix: avoid forcing google oauth consent
  src/api/flaskr/service/user/auth/providers/google.py
Due: none

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
