Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

fix: refine listen element text semantics
  docs/learn-generated-elements-design.md
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_element_protocol.py
  src/api/tests/service/learn/test_listen_elements.py
  tasks.md
Due: none

fix: clear interaction block loading on stream close (#1454)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix: unify listen element bid generation
  src/api/flaskr/service/learn/listen_elements.py
  src/api/flaskr/service/learn/listen_slide_builder.py
  src/api/tests/service/learn/test_listen_elements.py
Due: none

fix: keep listen element ids stable
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_listen_elements.py
Due: none

fix: strip audio payloads from element storage
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_listen_elements.py
Due: none

fix: stream audio segments incrementally
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_listen_elements.py
Due: none

fix: rename element dto content field
  docs/learn-generated-elements-design.md
  src/api/flaskr/service/learn/learn_dtos.py
  src/api/tests/service/learn/test_runscript_v2_lock.py
  src/api/tests/service/learn/test_sse_element_split_from_db.py
Due: none

fix: normalize listen element audio flags
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_element_protocol.py
  src/api/tests/service/learn/test_listen_elements.py
Due: none

fix(tts): skip synthesis when no speakable text
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/tests/service/learn/test_generated_block_tts_av_mode.py
Due: none

fix: avoid duplicate listen final elements
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_listen_elements.py
Due: none

fix: flatten listen record content output
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_listen_elements.py
Due: none

fix: drain ready tts segments during idle waits
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/tests/service/learn/test_context_v2.py
Due: none

fix: mobile layout width use 480px
  src/cook-web/src/c-constants/uiConstants.ts
Due: prettier-cook-web, eslint

fix: mobile layout width use 480px (#1458)
  src/cook-web/src/c-constants/uiConstants.ts
Due: prettier-cook-web, eslint

fix: reduce av tts tail buffering
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/tests/service/tts/test_streaming_tts_av_contract.py
Due: none

fix: backfill interaction user input in record elements
  src/api/flaskr/service/learn/learn_dtos.py
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_element_protocol.py
  src/api/tests/service/learn/test_listen_elements.py
Due: none

test: remove mysql gate from sse db split test
  src/api/tests/service/learn/test_sse_element_split_from_db.py
Due: none

feat: add element type
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/c-api/studyV2.ts
Due: prettier-cook-web, eslint

docs: revise ask model from independent elements to inline payload.asks
  docs/learn-generated-elements-design.md
  tasks.md
Due: none

feat: update element type
  src/cook-web/src/c-api/studyV2.ts
Due: prettier-cook-web, eslint

fix: continue listen run until interaction
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_learn_funcs.py
Due: none

fix: restore missing listen record elements
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_listen_elements.py
Due: none

feat: update record to element type
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/c-api/studyV2.ts
Due: prettier-cook-web, eslint

feat(chat-ui): render lesson stream and history by element bid
  SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/测试数据.json
  src/cook-web/src/c-api/studyV2.ts
  src/cook-web/src/c-utils/audio-utils.ts
Due: prettier-cook-web, eslint

fix(chatui): unify listen and read flows around element bid
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentIframe.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlockM.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/测试数据.json
  src/cook-web/src/c-api/studyV2.ts
  src/cook-web/src/c-utils/audio-utils.ts
Due: prettier-cook-web, eslint

feat(chatui): append interaction actions after each read-mode element
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix(chatui): hide inline interaction bar on mobile read mode
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat(cook-web): update listen mode slide title and desktop background
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/layout.css
Due: prettier-cook-web, eslint

fix: address mobile payment review feedback
  src/api/flaskr/route/order.py
  src/api/flaskr/service/order/funs.py
  src/api/migrations/versions/6b956399315e_backfill_profile_variable_tables.py
  src/api/migrations/versions/716efaaeb662_create_profile_variable_tables.py
  src/api/migrations/versions/b2793bb43f97_add_bill_usage.py
  src/api/migrations/versions/e1b2c3d4e5f6_add_ask_provider_config_to_shifu.py
  src/api/tests/service/order/test_payment_channel_resolution.py
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModalM.tsx
  src/cook-web/src/app/payment/pingxx/result/page.tsx
  src/cook-web/src/c-common/hooks/useWechat.ts
Due: prettier-cook-web, eslint

refactor(listen-mode): map chat items directly to slide elements
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix: restore key-first variable value resolution
  src/api/flaskr/service/profile/funcs.py
Due: none

fix: allow mobile pingxx return url from home origin
  src/api/flaskr/route/order.py
  src/api/tests/service/order/test_payment_channel_resolution.py
Due: none

fix: harden pingxx return url origin checks
  src/api/flaskr/common/cache_provider.py
  src/api/flaskr/route/order.py
  src/api/flaskr/service/config/funcs.py
  src/api/tests/service/config/test_funcs.py
  src/api/tests/service/order/test_payment_channel_resolution.py
Due: none

fix: support relative home url for pingxx wap return
  src/api/flaskr/route/order.py
  src/api/tests/service/order/test_payment_channel_resolution.py
Due: none

fix: address remaining mobile payment review notes
  src/api/flaskr/common/cache_provider.py
  src/api/flaskr/route/order.py
  src/api/tests/service/config/test_funcs.py
  src/api/tests/service/order/test_payment_channel_resolution.py
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModalM.tsx
  src/cook-web/src/app/payment/pingxx/result/page.tsx
Due: prettier-cook-web, eslint

test: isolate payment route config mutations
  src/api/tests/service/order/test_payment_channel_resolution.py
Due: none

feat: support mobile alipay wap payment
  src/api/flaskr/route/order.py
  src/api/flaskr/service/order/funs.py
  src/api/tests/service/order/test_payment_channel_resolution.py
  src/api/tests/test_wx_pub_order.py
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModalM.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/constans.ts
  src/cook-web/src/app/c/[[...id]]/Components/Pay/hooks/usePaymentFlow.ts
  src/cook-web/src/c-api/order.ts
Due: prettier-cook-web, eslint

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
