Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

fix: retain confirmed payment evidence across polling
  docs/exec-plans/completed/umami-contract-remediation.md
  docs/product-specs/cook-web-umami-contract-remediation.md
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModal.analytics.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModal.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModalM.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/StripeCardForm.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/StripeCardForm.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/hooks/usePaymentFlow.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/hooks/usePaymentFlow.ts
  src/cook-web/src/lib/paymentAnalytics.test.ts
  src/cook-web/src/lib/paymentAnalytics.ts
Due: prettier-cook-web, eslint

test: cover chunk reload marker write failures
  src/cook-web/src/components/error/AppErrorFallback.test.tsx
Due: prettier-cook-web, eslint

fix: track only restored learning modes
  docs/product-specs/cook-web-umami-contract-remediation.md
  src/cook-web/src/__tests__/c-preview-layout.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/learningModeAnalytics.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/learningModeAnalytics.ts
  src/cook-web/src/app/c/[[...id]]/layout.tsx
Due: prettier-cook-web, eslint

docs: record learning mode review
  docs/exec-plans/completed/umami-contract-remediation.md
Due: none

fix: recover from stale frontend chunks (#2698)
  src/cook-web/src/components/error/AppErrorFallback.test.tsx
  src/cook-web/src/components/error/AppErrorFallback.tsx
  src/i18n/ar-SA/common/core.json
  src/i18n/en-US/common/core.json
  src/i18n/fr-FR/common/core.json
  src/i18n/th-TH/common/core.json
  src/i18n/zh-CN/common/core.json
Due: prettier-cook-web, eslint

docs: record final main sync
  docs/exec-plans/completed/umami-contract-remediation.md
Due: none

feat: make profile prompt generation explicit
  docs/exec-plans/completed/profile-onboarding-explicit-prompt-generation.md
  docs/exec-plans/index.md
  docs/generated/doc-inventory.md
  docs/generated/harness-health.md
  src/api/flaskr/route/admin_profile_onboarding.py
  src/api/flaskr/service/common/profile_onboarding.py
  src/api/flaskr/service/common/profile_onboarding_prompt.py
  src/api/tests/service/common/test_profile_onboarding_prompt.py
  src/api/tests/service/config/test_profile_onboarding_publication.py
  src/api/tests/service/user/test_profile_onboarding_config.py
  src/api/tests/service/user/test_profile_onboarding_guided_routes.py
  src/cook-web/src/api/api.test.ts
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/operations/profile-onboarding/page.test.tsx
  src/cook-web/src/app/admin/operations/profile-onboarding/page.tsx
  src/cook-web/src/app/admin/operations/profile-onboarding/useProfileOnboardingAdminController.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/ar-SA/common/core.json
  src/i18n/ar-SA/modules/profile-onboarding.json
  src/i18n/en-US/common/core.json
  src/i18n/en-US/modules/profile-onboarding.json
  src/i18n/fr-FR/common/core.json
  src/i18n/fr-FR/modules/profile-onboarding.json
  src/i18n/th-TH/common/core.json
  src/i18n/th-TH/modules/profile-onboarding.json
  src/i18n/zh-CN/common/core.json
  src/i18n/zh-CN/modules/profile-onboarding.json
Due: prettier-cook-web, eslint

fix: recover profile drafts after save conflicts
  docs/exec-plans/completed/profile-onboarding-explicit-prompt-generation.md
  src/cook-web/src/app/admin/operations/profile-onboarding/page.test.tsx
  src/cook-web/src/app/admin/operations/profile-onboarding/useProfileOnboardingAdminController.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/ar-SA/modules/profile-onboarding.json
  src/i18n/en-US/modules/profile-onboarding.json
  src/i18n/fr-FR/modules/profile-onboarding.json
  src/i18n/th-TH/modules/profile-onboarding.json
  src/i18n/zh-CN/modules/profile-onboarding.json
Due: prettier-cook-web, eslint

fix: protect drafts during browser history navigation
  docs/exec-plans/completed/profile-onboarding-explicit-prompt-generation.md
  src/cook-web/src/app/admin/operations/profile-onboarding/page.test.tsx
  src/cook-web/src/app/admin/operations/profile-onboarding/page.tsx
  src/cook-web/src/app/admin/operations/profile-onboarding/useProfileOnboardingAdminController.ts
  src/cook-web/src/app/layout.tsx
  src/cook-web/src/components/BrowserHistoryGuardBridge.tsx
  src/cook-web/src/lib/browserHistoryGuard.test.ts
  src/cook-web/src/lib/browserHistoryGuard.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/ar-SA/modules/profile-onboarding.json
  src/i18n/en-US/modules/profile-onboarding.json
  src/i18n/fr-FR/modules/profile-onboarding.json
  src/i18n/th-TH/modules/profile-onboarding.json
  src/i18n/zh-CN/modules/profile-onboarding.json
Due: prettier-cook-web, eslint

fix: track unsaved navigation outcomes
  docs/exec-plans/completed/profile-onboarding-explicit-prompt-generation.md
  src/cook-web/src/app/admin/operations/profile-onboarding/page.test.tsx
  src/cook-web/src/app/admin/operations/profile-onboarding/useProfileOnboardingAdminController.ts
Due: prettier-cook-web, eslint

fix: make profile reload recovery reliable
  docs/exec-plans/completed/profile-onboarding-explicit-prompt-generation.md
  src/cook-web/src/app/admin/operations/profile-onboarding/page.test.tsx
  src/cook-web/src/app/admin/operations/profile-onboarding/useProfileOnboardingAdminController.ts
Due: prettier-cook-web, eslint

fix: clarify when saved guidance takes effect
  src/i18n/th-TH/modules/profile-onboarding.json
  src/i18n/zh-CN/modules/profile-onboarding.json
Due: none

fix: prevent reloads during guarded navigation
  src/cook-web/src/lib/browserHistoryGuard.test.ts
  src/cook-web/src/lib/browserHistoryGuard.ts
Due: prettier-cook-web, eslint

fix: clarify the English personalization summary
  src/i18n/en-US/modules/profile-onboarding.json
Due: none

fix: remove browser history interception from profile onboarding
  docs/exec-plans/completed/profile-onboarding-explicit-prompt-generation.md
  src/cook-web/src/app/admin/operations/profile-onboarding/page.test.tsx
  src/cook-web/src/app/admin/operations/profile-onboarding/page.tsx
  src/cook-web/src/app/admin/operations/profile-onboarding/useProfileOnboardingAdminController.ts
  src/cook-web/src/app/layout.tsx
  src/cook-web/src/components/BrowserHistoryGuardBridge.tsx
  src/cook-web/src/lib/browserHistoryGuard.test.ts
  src/cook-web/src/lib/browserHistoryGuard.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/ar-SA/modules/profile-onboarding.json
  src/i18n/en-US/modules/profile-onboarding.json
  src/i18n/fr-FR/modules/profile-onboarding.json
  src/i18n/th-TH/modules/profile-onboarding.json
  src/i18n/zh-CN/modules/profile-onboarding.json
Due: prettier-cook-web, eslint

fix: preserve prompts during legacy saves
  src/api/flaskr/service/common/profile_onboarding.py
  src/api/tests/service/user/test_profile_onboarding_config.py
  src/api/tests/service/user/test_profile_onboarding_guided_routes.py
Due: none

feat: make profile prompt generation explicit (#2717)
  docs/exec-plans/completed/profile-onboarding-explicit-prompt-generation.md
  docs/exec-plans/index.md
  docs/generated/doc-inventory.md
  docs/generated/harness-health.md
  src/api/flaskr/route/admin_profile_onboarding.py
  src/api/flaskr/service/common/profile_onboarding.py
  src/api/flaskr/service/common/profile_onboarding_prompt.py
  src/api/tests/service/common/test_profile_onboarding_prompt.py
  src/api/tests/service/config/test_profile_onboarding_publication.py
  src/api/tests/service/user/test_profile_onboarding_config.py
  src/api/tests/service/user/test_profile_onboarding_guided_routes.py
  src/cook-web/src/api/api.test.ts
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/operations/profile-onboarding/page.test.tsx
  src/cook-web/src/app/admin/operations/profile-onboarding/page.tsx
  src/cook-web/src/app/admin/operations/profile-onboarding/useProfileOnboardingAdminController.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/ar-SA/common/core.json
  src/i18n/ar-SA/modules/profile-onboarding.json
  src/i18n/en-US/common/core.json
  src/i18n/en-US/modules/profile-onboarding.json
  src/i18n/fr-FR/common/core.json
  src/i18n/fr-FR/modules/profile-onboarding.json
  src/i18n/th-TH/common/core.json
  src/i18n/th-TH/modules/profile-onboarding.json
  src/i18n/zh-CN/common/core.json
  src/i18n/zh-CN/modules/profile-onboarding.json
Due: prettier-cook-web, eslint

fix: prevent duplicate billing checkout results
  src/cook-web/src/app/payment/stripe/billing-result/page.test.tsx
  src/cook-web/src/app/payment/stripe/billing-result/page.tsx
Due: prettier-cook-web, eslint

fix: keep legacy frontend artifacts ignored
  .gitignore
  docs/exec-plans/active/rename-cook-web-directory.md
  scripts/check_repo_harness.py
Due: none

fix: tolerate ignored legacy frontend artifacts
  scripts/check_repo_harness.py
Due: none

chore: align frontend rename plan with validation
  docs/exec-plans/active/rename-cook-web-directory.md
Due: none

fix: preserve frontend assets after directory upgrade
  .codex/environments/environment.toml
  docs/exec-plans/active/rename-cook-web-directory.md
  scripts/check_repo_harness.py
Due: none

chore: align frontend rename with latest main
  docs/exec-plans/active/rename-cook-web-directory.md
  docs/exec-plans/completed/profile-onboarding-retention.md
Due: none

fix: run frontend path checks for compatibility inputs
  docs/exec-plans/active/rename-cook-web-directory.md
  lefthook.yml
Due: none

fix: preserve frontend configuration after directory upgrades
  .codex/environments/environment.toml
  .cursor/run-web.sh
  INSTALL_MANUAL.md
  docs/exec-plans/active/rename-cook-web-directory.md
  lefthook.yml
  scripts/check_repo_harness.py
  src/web/README.md
  src/web/jest.config.js
  src/web/package.json
  src/web/scripts/migrate-legacy-frontend-env.js
  src/web/src/__tests__/migrate-legacy-frontend-env.test.js
Due: none

fix: preserve device authorization page after frontend rename
  src/web/src/app/login/device/deviceAuthorizationAnalytics.test.ts
  src/web/src/app/login/device/deviceAuthorizationAnalytics.ts
  src/web/src/app/login/device/page.test.tsx
  src/web/src/app/login/device/page.tsx
Due: none

fix: keep latest frontend checks aligned after rename
  docs/exec-plans/active/account-session-analytics.md
  docs/exec-plans/active/rename-cook-web-directory.md
  docs/generated/harness-health.md
Due: none

fix: keep analytics guidance aligned after frontend rename
  docs/exec-plans/completed/umami-contract-remediation.md
  docs/exec-plans/completed/umami-scope-correction.md
  docs/generated/doc-inventory.md
  docs/product-specs/index.md
  docs/product-specs/web-umami-contract-remediation.md
Due: none

fix: prevent Safari admin startup errors
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: prevent Safari admin startup errors (#2728)
  src/web/package-lock.json
  src/web/package.json
Due: none

fix: keep promotional plan cards aligned
  src/web/src/app/admin/billing/components/GlobalBillingPricing.test.tsx
  src/web/src/app/admin/billing/components/GlobalBillingPricing.tsx
Due: none

feat: apply Stripe coupons during checkout (#2693)
  src/api/flaskr/service/billing/campaign_provider_discounts.py
  src/api/flaskr/service/billing/checkout.py
  src/api/flaskr/service/billing/provider_state.py
  src/api/flaskr/service/billing/webhooks.py
  src/api/flaskr/service/order/payment_providers/stripe.py
  src/api/tests/service/billing/billing_write_routes_test_helpers.py
  src/api/tests/service/billing/test_billing_subscription_sms.py
  src/api/tests/service/billing/test_billing_write_routes_checkout.py
  src/api/tests/service/billing/test_billing_write_routes_subscription_lifecycle.py
  src/api/tests/service/billing/test_billing_write_routes_topup.py
  src/api/tests/service/billing/test_campaign_provider_discounts.py
  src/api/tests/service/order/test_stripe_webhook.py
  src/i18n/ar-SA/modules/billing.json
  src/i18n/en-US/modules/billing.json
  src/i18n/fr-FR/modules/billing.json
  src/i18n/th-TH/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
  src/web/src/app/admin/billing/components/GlobalBillingPricing.test.tsx
  src/web/src/app/admin/billing/components/GlobalBillingPricing.tsx
  src/web/src/app/admin/operations/promotions/PromotionFormDialogs.tsx
  src/web/src/app/admin/operations/promotions/PromotionRecordDialogs.tsx
  src/web/src/app/admin/operations/promotions/page.package-campaigns.test.tsx
  src/web/src/app/admin/operations/promotions/page.referrals.test.tsx
  src/web/src/app/admin/operations/promotions/promotionPageShared.tsx
  src/web/src/components/billing/BillingOverviewCards.module.scss
  src/web/src/components/billing/BillingOverviewCards.tsx
  src/web/src/components/billing/BillingOverviewTab.test.tsx
  src/web/src/components/billing/BillingOverviewTab.tsx
  src/web/src/types/i18n-keys.d.ts
Due: none

fix: clarify learning mode tooltips
  src/i18n/ar-SA/modules/chat.json
  src/i18n/en-US/modules/chat.json
  src/i18n/fr-FR/modules/chat.json
  src/i18n/th-TH/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: none

fix: clarify learning mode tooltips (#2729)
  src/i18n/ar-SA/modules/chat.json
  src/i18n/en-US/modules/chat.json
  src/i18n/fr-FR/modules/chat.json
  src/i18n/th-TH/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: none

fix: show empty learning format metrics
  src/web/src/app/admin/dashboard/[shifu_bid]/page.test.tsx
  src/web/src/app/admin/dashboard/[shifu_bid]/page.tsx
Due: none

feat: add dashboard learning format metrics (#2678)
  src/api/flaskr/service/dashboard/dtos.py
  src/api/flaskr/service/dashboard/funcs.py
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/learn/routes.py
  src/api/flaskr/service/learn/runscript_v2.py
  src/api/flaskr/service/metering/recorder.py
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/tests/service/dashboard/test_dashboard_routes.py
  src/api/tests/service/metering/test_recording.py
  src/i18n/ar-SA/modules/dashboard.json
  src/i18n/en-US/modules/dashboard.json
  src/i18n/fr-FR/modules/dashboard.json
  src/i18n/th-TH/modules/dashboard.json
  src/i18n/zh-CN/modules/dashboard.json
  src/web/src/app/admin/dashboard/[shifu_bid]/DashboardCourseLearningModeCard.tsx
  src/web/src/app/admin/dashboard/[shifu_bid]/page.test.tsx
  src/web/src/app/admin/dashboard/[shifu_bid]/page.tsx
  src/web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.types.ts
  src/web/src/types/dashboard.ts
  src/web/src/types/i18n-keys.d.ts
Due: none

feat: manage notification templates
  src/api/flaskr/service/billing/credit_notifications.py
  src/api/tests/service/billing/test_credit_notifications.py
  src/i18n/ar-SA/modules/operations-credit-notifications.json
  src/i18n/en-US/modules/operations-credit-notifications.json
  src/i18n/fr-FR/modules/operations-credit-notifications.json
  src/i18n/th-TH/modules/operations-credit-notifications.json
  src/i18n/zh-CN/modules/operations-credit-notifications.json
  src/web/src/app/admin/operations/credit-notifications/CreditNotificationTemplateManagementTab.tsx
  src/web/src/app/admin/operations/credit-notifications/creditNotificationUtils.ts
  src/web/src/app/admin/operations/credit-notifications/page.test.tsx
  src/web/src/app/admin/operations/credit-notifications/page.tsx
Due: none

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
