Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

feat: add operator course detail page
  docs/operator-course-detail-page.md
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_dtos.py
  src/api/flaskr/service/shifu/route.py
  src/api/tests/service/shifu/test_admin_course_detail.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/operations/operation-course-types.ts
  src/cook-web/src/app/admin/operations/page.tsx
  src/i18n/en-US/modules/operations-course.json
  src/i18n/zh-CN/modules/operations-course.json
Due: prettier-cook-web, eslint

feat: add billing extension tabs
  docs/billing-subscription-design.md
  docs/tasks.md
  src/cook-web/src/app/admin/billing/page.test.tsx
  src/cook-web/src/app/admin/billing/page.tsx
  src/cook-web/src/components/billing/BillingDomainsTab.tsx
  src/cook-web/src/components/billing/BillingEntitlementsTab.tsx
  src/cook-web/src/components/billing/BillingReportsTab.tsx
  src/cook-web/src/components/billing/index.ts
  src/cook-web/src/types/billing.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

feat: add billing branding and domain settings
  docs/billing-subscription-design.md
  docs/tasks.md
  src/cook-web/src/api/api.test.ts
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/billing/page.test.tsx
  src/cook-web/src/components/billing/BillingDomainsTab.test.tsx
  src/cook-web/src/components/billing/BillingDomainsTab.tsx
  src/cook-web/src/hooks/useBillingEntitlements.ts
  src/cook-web/src/lib/billing.ts
  src/cook-web/src/types/billing.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

feat: add billing entitlement capability cards
  docs/billing-subscription-design.md
  docs/tasks.md
  src/cook-web/src/app/admin/billing/page.test.tsx
  src/cook-web/src/components/billing/BillingEntitlementsTab.test.tsx
  src/cook-web/src/components/billing/BillingEntitlementsTab.tsx
  src/cook-web/src/lib/billing.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

Fix operator course detail review issues
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/route.py
  src/api/tests/service/shifu/test_admin_course_detail.py
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/operations/operation-course-types.ts
  src/cook-web/src/app/admin/operations/page.tsx
  src/cook-web/src/c-utils/textutils.ts
Due: prettier-cook-web, eslint

Surface unknown operator course detail states
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
  src/i18n/en-US/modules/operations-course.json
  src/i18n/zh-CN/modules/operations-course.json
Due: prettier-cook-web, eslint

feat: add billing daily report views
  docs/billing-subscription-design.md
  docs/tasks.md
  src/api/flaskr/service/billing/funcs.py
  src/api/flaskr/service/billing/routes.py
  src/api/tests/service/billing/test_billing_routes.py
  src/cook-web/src/api/api.test.ts
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/billing/page.test.tsx
  src/cook-web/src/components/billing/BillingReportsTab.test.tsx
  src/cook-web/src/components/billing/BillingReportsTab.tsx
  src/cook-web/src/lib/billing.ts
  src/cook-web/src/types/billing.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

feat: add admin billing v1.1 views
  docs/billing-subscription-design.md
  docs/tasks.md
  src/api/flaskr/service/billing/funcs.py
  src/api/flaskr/service/billing/routes.py
  src/api/tests/service/billing/test_billing_domains.py
  src/api/tests/service/billing/test_billing_routes.py
  src/cook-web/src/api/api.test.ts
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/billing/admin/page.test.tsx
  src/cook-web/src/app/admin/billing/admin/page.tsx
  src/cook-web/src/components/billing/AdminBillingDomainsTable.tsx
  src/cook-web/src/components/billing/AdminBillingEntitlementsTable.tsx
  src/cook-web/src/components/billing/AdminBillingReportsPanel.tsx
  src/cook-web/src/lib/billing.ts
  src/cook-web/src/types/billing.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

docs: mark billing entitlement tests complete
  docs/tasks.md
Due: none

docs: mark billing aggregate tests complete
  docs/tasks.md
Due: none

fix: reuse request trace id in learn langfuse traces
  src/api/flaskr/api/langfuse.py
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_context_v2.py
  src/api/tests/test_langfuse.py
Due: none

test: validate billing v1 to v1.1 upgrade path
  docs/tasks.md
  src/api/tests/service/billing/test_billing_v11_upgrade_validation.py
Due: none

chore: fix version of migration
  src/api/migrations/versions/4fd52d0d9a01_add_billing_core_tables.py
Due: none

Add operator chapter learning stats
  docs/operator-course-visit-analytics.md
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_dtos.py
  src/api/tests/service/shifu/test_admin_course_detail.py
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/operations/operation-course-types.ts
  src/i18n/en-US/modules/operations-course.json
  src/i18n/zh-CN/modules/operations-course.json
Due: prettier-cook-web, eslint

refactor(cook-web): align slide mobile view mode usage with fullscreen naming
  src/cook-web/skills/listen-mode-slide-mobile-integration/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeTypes.ts
  src/cook-web/src/types/markdown-flow-ui.d.ts
  src/i18n/en-US/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

feat: support operator creator transfer (#1512)
  docs/transfer-course-creator.md
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/funcs.py
  src/api/flaskr/service/shifu/permissions.py
  src/api/flaskr/service/shifu/route.py
  src/api/tests/service/shifu/test_admin_courses.py
  src/api/tests/service/shifu/test_transfer_creator.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/operations/page.test.tsx
  src/cook-web/src/app/admin/operations/page.tsx
  src/i18n/en-US/modules/backend/shifu.json
  src/i18n/en-US/modules/operations-course.json
  src/i18n/zh-CN/modules/backend/shifu.json
  src/i18n/zh-CN/modules/operations-course.json
Due: prettier-cook-web, eslint

fix: harden billing dev env and frontend payload handling
  docker/docker-compose.dev.yml
  docker/docker-compose.latest.yml
  docker/docker-compose.yml
  src/cook-web/src/components/billing/BillingDomainsTab.tsx
  src/cook-web/src/components/billing/BillingLedgerTab.test.tsx
  src/cook-web/src/components/billing/BillingOverviewTab.tsx
  src/cook-web/src/components/billing/BillingWalletBucketsCard.tsx
Due: prettier-cook-web, eslint

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

refactor(cook-web): remove redundant slide mobile view type shims
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeTypes.ts
  src/cook-web/src/types/markdown-flow-ui.d.ts
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavDrawer.module.css
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavDrawer.module.scss
Due: prettier-cook-web

refactor: enforce billing dto responses
  src/api/flaskr/route/config.py
  src/api/flaskr/service/billing/dtos.py
  src/api/flaskr/service/billing/funcs.py
  src/api/flaskr/service/billing/routes.py
  src/api/flaskr/service/billing/runtime_config.py
  src/api/tests/service/billing/test_admin_billing_routes.py
  src/api/tests/service/billing/test_billing_domains.py
  src/api/tests/service/billing/test_billing_dtos.py
  src/api/tests/service/billing/test_billing_routes.py
  src/api/tests/service/billing/test_billing_write_routes.py
  src/api/tests/service/billing/test_runtime_config_billing.py
  src/cook-web/src/app/admin/billing/page.test.tsx
  src/cook-web/src/components/billing/BillingLedgerTab.test.tsx
  src/cook-web/src/components/billing/BillingWalletBucketsCard.tsx
  src/cook-web/src/types/billing.ts
Due: prettier-cook-web, eslint

Fix operator course detail review feedback
  docs/operator-course-visit-analytics.md
  src/api/error_codes.json
  src/api/flaskr/service/shifu/admin.py
  src/api/tests/service/shifu/test_admin_course_detail.py
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
Due: prettier-cook-web, eslint

Handle deleted operator outline revisions
  src/api/flaskr/service/shifu/admin.py
  src/api/tests/service/shifu/test_admin_course_detail.py
Due: none

Align billing checkout payment resolution with course payments
  src/api/flaskr/service/billing/funcs.py
  src/api/flaskr/service/order/funs.py
  src/api/flaskr/service/order/payment_channel_resolution.py
  src/api/tests/service/billing/test_billing_write_routes.py
  src/api/tests/service/order/test_payment_channel_resolution.py
Due: none

fix: link llm generations to request traces
  src/api/flaskr/api/llm/__init__.py
  src/api/tests/test_langfuse.py
  src/api/tests/test_llm.py
  src/api/tests/test_openai.py
Due: none

fix: link ask provider traces explicitly
  src/api/flaskr/api/langfuse.py
  src/api/flaskr/api/llm/__init__.py
  src/api/flaskr/service/learn/ask_provider_langfuse.py
  src/api/flaskr/service/learn/handle_input_ask.py
  src/api/flaskr/service/shifu/route.py
  src/api/tests/service/learn/test_ask_provider_langfuse.py
  src/api/tests/service/learn/test_handle_input_ask_provider.py
  src/api/tests/test_llm.py
Due: none

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: reuse request trace id in learn langfuse traces (#1514)
  src/api/flaskr/api/langfuse.py
  src/api/flaskr/api/llm/__init__.py
  src/api/flaskr/service/learn/ask_provider_langfuse.py
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/handle_input_ask.py
  src/api/flaskr/service/shifu/route.py
  src/api/tests/service/learn/test_ask_provider_langfuse.py
  src/api/tests/service/learn/test_context_v2.py
  src/api/tests/service/learn/test_handle_input_ask_provider.py
  src/api/tests/test_langfuse.py
  src/api/tests/test_llm.py
  src/api/tests/test_openai.py
Due: none

feat: align billing catalog with creator pricing prototype
  src/api/flaskr/service/billing/consts.py
  src/api/flaskr/service/billing/funcs.py
  src/api/migrations/versions/f1a2b3c4d5e6_expand_billing_product_catalog.py
  src/api/tests/service/billing/test_billing_models.py
  src/api/tests/service/billing/test_billing_routes.py
  src/cook-web/src/app/admin/billing/page.test.tsx
  src/cook-web/src/app/admin/billing/page.tsx
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.test.tsx
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.tsx
  src/cook-web/src/components/billing/BillingOverviewTab.test.tsx
  src/cook-web/src/components/billing/BillingOverviewTab.tsx
  src/cook-web/src/components/billing/BillingRecentActivitySection.test.tsx
  src/cook-web/src/components/billing/BillingRecentActivitySection.tsx
  src/cook-web/src/components/billing/BillingWalletBucketsCard.tsx
  src/cook-web/src/components/billing/index.ts
  src/cook-web/src/hooks/useBillingWalletBuckets.ts
  src/cook-web/src/lib/billing.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

feat(cook-web): fallback listen-mode dvh to vh in mobile fullscreen landscape
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/skills/listen-mode-slide-mobile-integration/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeTypes.ts
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavDrawer.module.scss
  src/cook-web/src/app/c/[[...id]]/page.module.scss
  src/cook-web/src/app/c/[[...id]]/page.tsx
  src/cook-web/src/app/globals.css
Due: prettier-cook-web, eslint

Add Pingxx support for billing subscriptions
  docs/billing-pingxx-subscription-renewal.md
  src/api/flaskr/service/billing/funcs.py
  src/api/flaskr/service/billing/renewal.py
  src/api/flaskr/service/billing/routes.py
  src/api/tests/service/billing/test_billing_renewal_execution.py
  src/api/tests/service/billing/test_billing_routes.py
  src/api/tests/service/billing/test_billing_write_routes.py
  src/cook-web/src/api/api.test.ts
  src/cook-web/src/api/api.ts
  src/cook-web/src/components/billing/BillingCatalogCards.tsx
  src/cook-web/src/components/billing/BillingOrdersTable.test.tsx
  src/cook-web/src/components/billing/BillingOrdersTable.tsx
  src/cook-web/src/components/billing/BillingOverviewTab.test.tsx
  src/cook-web/src/components/billing/BillingOverviewTab.tsx
  src/cook-web/src/lib/billing.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

fix: unify billing plan credit copy
  src/cook-web/src/components/billing/BillingSubscriptionCard.tsx
  src/cook-web/src/lib/__tests__/billing.test.ts
  src/cook-web/src/types/i18n-keys.d.ts
Due: prettier-cook-web, eslint

fix: normalize billing typography and interpolation
  src/cook-web/src/app/admin/billing/page.tsx
  src/cook-web/src/components/billing/BillingCatalogCards.tsx
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.tsx
  src/cook-web/src/components/billing/BillingOverviewTab.tsx
  src/cook-web/src/components/billing/BillingRecentActivitySection.tsx
  src/cook-web/src/components/billing/BillingSubscriptionCard.tsx
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

fix: stop rerunning completed lesson streams
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

Return params errors for blank operator detail ids
  src/api/flaskr/service/shifu/admin.py
  src/api/tests/service/shifu/test_admin_course_detail.py
Due: none

style: tighten billing typography scale
  src/cook-web/src/components/billing/BillingCatalogCards.tsx
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.tsx
  src/cook-web/src/components/billing/BillingOrdersTable.tsx
  src/cook-web/src/components/billing/BillingOverviewTab.tsx
  src/cook-web/src/components/billing/BillingRecentActivitySection.tsx
  src/cook-web/src/components/billing/BillingSubscriptionCard.tsx
Due: prettier-cook-web, eslint

fix: stop reruns only after completed updates
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix: skip autorun for completed lessons
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix: stop rerunning completed lesson streams (#1515)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix: split free billing price note
  src/cook-web/src/components/billing/BillingOverviewTab.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
