Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

fix: ui
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatComponents.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatComponents.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
Due: prettier-cook-web

fix: version
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: disable tts sliders at bounds
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

chore: align tts inputs to text
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

feat: allow manual tts tuning inputs
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

fix: clamp manual pitch input
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

fix: update version
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: upgrade markdown-flow-ui version to 0.1.75 (#1237)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: ui
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
Due: prettier-cook-web

feat: upgrade markdown-flow-ui version to 0.1.76
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: upgrade markdown-flow-ui version to 0.1.76 (#1239)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

style: left align order action column
  src/cook-web/src/app/admin/orders/page.tsx
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
Due: prettier-cook-web, eslint

Revert "[pre-commit.ci] auto fixes from pre-commit.com hooks"
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
Due: prettier-cook-web

fix\
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
Due: prettier-cook-web, eslint

feat: add column borders and clamped resizing
  src/cook-web/src/app/admin/orders/page.tsx
Due: prettier-cook-web, eslint

fix: handle ios keyboard viewport shift on c page
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

feat: autosize admin order columns
  src/cook-web/src/app/admin/orders/page.tsx
Due: prettier-cook-web, eslint

style: tighten auto column widths
  src/cook-web/src/app/admin/orders/page.tsx
Due: prettier-cook-web, eslint

style: tighten shifu/amount column widths
  src/cook-web/src/app/admin/orders/page.tsx
Due: prettier-cook-web, eslint

feat: make table headers sticky
  src/cook-web/src/components/ui/Table.tsx
Due: prettier-cook-web, eslint

refactor: migrate MDF API to v1 endpoint with X-App-Id auth
  src/api/flaskr/common/config.py
  src/api/flaskr/service/gen_mdf/funcs.py
  src/api/flaskr/service/gen_mdf/route.py
  src/i18n/en-US/common/errors.json
  src/i18n/zh-CN/common/errors.json
Due: none

fix: wrap orders table for sticky header
  src/cook-web/src/app/admin/orders/page.tsx
  src/cook-web/src/components/ui/Table.tsx
Due: prettier-cook-web, eslint

style: make sticky header opaque
  src/cook-web/src/components/ui/Table.tsx
Due: prettier-cook-web, eslint

docs: add MarkdownFlow config section to env example
  docker/.env.example.full
Due: none

fix: tighten course filter dropdown behavior
  src/cook-web/src/app/admin/orders/page.tsx
Due: prettier-cook-web, eslint

fix: align course filter dropdown width
  src/cook-web/src/app/admin/orders/page.tsx
  src/i18n/en-US/modules/order.json
  src/i18n/zh-CN/modules/order.json
Due: prettier-cook-web, eslint

refactor: remove legacy MDF frontend env vars and language validation
  src/api/flaskr/service/gen_mdf/route.py
  src/cook-web/src/c-store/envStore.ts
  src/cook-web/src/c-types/store.ts
  src/cook-web/src/components/mdf-convert/design.md
  src/cook-web/src/config/environment.ts
Due: prettier-cook-web, eslint

style: adjust orders table viewport height
  src/cook-web/src/app/admin/orders/page.tsx
Due: prettier-cook-web, eslint

Update src/api/flaskr/service/gen_mdf/funcs.py
  src/api/flaskr/service/gen_mdf/funcs.py
Due: none

Update src/cook-web/src/components/mdf-convert/MdfConvertDialog.tsx
  src/cook-web/src/components/mdf-convert/MdfConvertDialog.tsx
Due: prettier-cook-web, eslint

fix: resolve MDF conversion code quality issues
  src/api/flaskr/service/gen_mdf/funcs.py
  src/api/flaskr/service/gen_mdf/route.py
  src/cook-web/src/components/mdf-convert/MdfConvertDialog.tsx
Due: prettier-cook-web, eslint

fix: resolve MDF conversion code quality issues
  src/api/flaskr/service/gen_mdf/funcs.py
  src/cook-web/src/components/mdf-convert/MdfConvertDialog.tsx
  src/i18n/en-US/components/mdf-convert.json
  src/i18n/zh-CN/components/mdf-convert.json
Due: prettier-cook-web, eslint

fix: refine import activation course picker
  src/cook-web/src/components/order/ImportActivationDialog.tsx
  src/cook-web/src/components/ui/Popover.tsx
Due: prettier-cook-web, eslint

refactor: use logger.exception() in exception handlers
  src/api/flaskr/service/gen_mdf/funcs.py
Due: none

fix: remove invalid app parameter from convert_text_to_mdf call
  src/api/flaskr/service/gen_mdf/route.py
Due: none

feat: support batch import activation
  src/api/flaskr/route/order.py
  src/api/flaskr/service/order/admin.py
  src/cook-web/src/components/order/ImportActivationDialog.tsx
  src/i18n/en-US/modules/order.json
  src/i18n/zh-CN/modules/order.json
Due: prettier-cook-web, eslint
