Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

fix: align otp length with backend
  src/cook-web/src/components/auth/PhoneLogin.tsx
Due: prettier-cook-web, eslint

fix: prevent ios otp double fill (#1229)
  src/cook-web/package-lock.json
  src/cook-web/src/components/auth/PhoneLogin.tsx
Due: prettier-cook-web, eslint

Revert "fix: prevent ios otp double fill (#1229)"
  src/cook-web/package-lock.json
  src/cook-web/src/components/auth/PhoneLogin.tsx
Due: prettier-cook-web, eslint

fix: revert pkg
  src/cook-web/src/components/auth/PhoneLogin.tsx
Due: prettier-cook-web, eslint

fix: revert package-lock.json (#1230)
  src/cook-web/package-lock.json
Due: prettier-cook-web

fix: update brand name in MDF convert Chinese translation
  src/i18n/zh-CN/components/mdf-convert.json
Due: none

fix: preview tts label and editor preview audio
  src/api/flaskr/service/learn/context_v2.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/components/audio/AudioPlayer.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/i18n/en-US/modules/chat.json
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/zh-CN/modules/chat.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: prettier-cook-web, eslint

fix: unify audio tooltip style
  src/cook-web/src/components/audio/AudioPlayer.tsx
Due: prettier-cook-web, eslint

fix: synthesize tts on play click
  src/api/error_codes.json
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/learn/routes.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/c-api/studyV2.ts
  src/cook-web/src/components/audio/AudioPlayer.tsx
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/i18n/en-US/modules/backend/shifu.json
  src/i18n/zh-CN/modules/backend/shifu.json
Due: prettier-cook-web, eslint

feat: upgrade markdown-flow-ui version to 0.1.73
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: upgrade markdown-flow-ui version to 0.1.73 (#1231)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: prevent ios otp double fill
  src/cook-web/package-lock.json
Due: prettier-cook-web

fix: scrollToBottom btn ui adjust safari & wechat
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatComponents.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatComponents.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

fix: scrollToBottom btn ui adjust safari & wechat (#1232)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatComponents.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatComponents.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

refactor: centralize MDF config validation via backend API
  AGENTS.md
  docker/.env.example.full
  src/api/flaskr/route/__init__.py
  src/api/flaskr/service/gen_mdf/__init__.py
  src/api/flaskr/service/gen_mdf/funcs.py
  src/api/flaskr/service/gen_mdf/route.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/components/mdf-convert/MdfConvertDialog.tsx
  src/i18n/en-US/common/errors.json
  src/i18n/zh-CN/common/errors.json
Due: prettier-cook-web, eslint

fix: scroll page has two scrollbar
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

fix: normalize shifu tts speed increments
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatComponents.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatComponents.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

fix: hide tts controls for interaction blocks
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
Due: prettier-cook-web, eslint

fix: only enable tts controls on content blocks
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

fix: delay tts controls until block completes
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix: gate tts player until text output completes
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix: restore login protocol links
  src/cook-web/src/components/TermsCheckbox.tsx
Due: prettier-cook-web, eslint

chore: memoize terms checkbox link handler
  src/cook-web/src/components/TermsCheckbox.tsx
Due: prettier-cook-web, eslint

fix: restore login protocol links (#1233)
  src/cook-web/src/components/TermsCheckbox.tsx
Due: prettier-cook-web, eslint

fix: coerce tts autoplay flags to boolean
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

fix: use small viewport height to avoid mobile footer gap
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
Due: prettier-cook-web

feat: add admin order management
  src/api/flaskr/route/order.py
  src/api/flaskr/service/order/admin.py
  src/api/flaskr/service/order/admin_dtos.py
  src/api/flaskr/service/shifu/permissions.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/api/tests/service/order/test_admin_orders.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/layout.tsx
  src/cook-web/src/app/admin/orders/page.tsx
  src/cook-web/src/components/order/OrderDetailSheet.tsx
  src/cook-web/src/components/order/order-types.ts
  src/cook-web/src/components/ui/Table.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/order.json
  src/i18n/locales.json
  src/i18n/zh-CN/modules/order.json
  tasks.md
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
Due: prettier-cook-web

fix
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
Due: prettier-cook-web

fix: skip login requirement for preview trial lessons
  src/api/flaskr/service/learn/context_v2.py
Due: none

feat: stream tts audio and enforce exclusive playback
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/learn/routes.py
  src/api/flaskr/service/shifu/route.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/c-api/studyV2.ts
  src/cook-web/src/c-utils/audio-utils.ts
  src/cook-web/src/components/audio/AudioPlayer.tsx
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/hooks/useAudioPlayer.ts
  src/cook-web/src/hooks/useExclusiveAudio.ts
Due: prettier-cook-web, eslint

fix: debug
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
Due: prettier-cook-web

feat: add admin activation order import
  src/api/flaskr/route/order.py
  src/api/flaskr/service/order/admin.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/orders/page.tsx
  src/cook-web/src/components/order/ImportActivationDialog.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/order.json
  src/i18n/zh-CN/modules/order.json
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatComponents.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatComponents.module.scss
Due: prettier-cook-web

feat: upgrade markdown-flow-ui version to 0.1.74
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: debug
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatComponents.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatComponents.module.scss
Due: prettier-cook-web

feat: improve admin order filters
  src/api/flaskr/route/order.py
  src/api/flaskr/service/order/admin.py
  src/cook-web/src/app/admin/orders/page.tsx
  src/cook-web/src/components/order/ImportActivationDialog.tsx
  src/cook-web/src/components/ui/Calendar.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/order.json
  src/i18n/zh-CN/modules/order.json
Due: prettier-cook-web, eslint

fix: version
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
