Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

fix: reduce course creation risk check latency
  docker/.env.example.full
  src/api/flaskr/api/check/ilivedata.py
  src/api/flaskr/api/check/yidun.py
  src/api/flaskr/common/config.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/api/flaskr/service/shifu/shifu_outline_funcs.py
  src/api/tests/service/shifu/test_archive.py
  src/api/tests/test_edun.py
Due: none

fix: harden course creation moderation timeout handling
  src/api/flaskr/api/check/ilivedata.py
  src/api/flaskr/api/check/yidun.py
  src/api/flaskr/common/config.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/api/tests/service/shifu/test_archive.py
  src/api/tests/test_edun.py
Due: none

chore: refresh timeout env example annotations
  docker/.env.example.full
Due: none

chore: add trailing newline to env example
  docker/.env.example.full
Due: none

fix: keep lesson PDF download visible
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/LessonPdfDownloadButton.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/LessonPdfDownloadButton.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/chat.json
  src/i18n/fr-FR/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

fix: keep lesson PDF download visible (#2116)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/LessonPdfDownloadButton.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/LessonPdfDownloadButton.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/chat.json
  src/i18n/fr-FR/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

feat: clarify personalized PDF course access
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.lessonUpdateNotice.test.tsx
  src/i18n/en-US/modules/chat.json
  src/i18n/fr-FR/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

fix: clarify French course QR label
  src/i18n/fr-FR/modules/chat.json
Due: none

fix: use idiomatic English QR copy
  src/i18n/en-US/modules/chat.json
Due: none

fix: clarify personalized PDF course access (#2117)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.lessonUpdateNotice.test.tsx
  src/i18n/en-US/modules/chat.json
  src/i18n/fr-FR/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

fix: clarify lesson PDF availability
  src/i18n/en-US/modules/chat.json
  src/i18n/fr-FR/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: none

fix: clarify lesson PDF availability (#2118)
  src/i18n/en-US/modules/chat.json
  src/i18n/fr-FR/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: none

fix: stabilize listen history reselection
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
Due: prettier-cook-web, eslint

chore: remove stale chat ui comments
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
Due: prettier-cook-web, eslint

style: align chat ui files with prettier
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
Due: prettier-cook-web, eslint

chore: bump markdown-flow-ui to 0.2.2
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

chore: bump markdown-flow-ui to 0.2.2 (#2120)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: narrow listen notice overlay styling
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/LessonUpdateNotice.tsx
Due: prettier-cook-web, eslint

chore: trim unrelated tts env example drift
  docker/.env.example.full
Due: none

feat: prepare course slug history
  docs/exec-plans/active/course-slug-primary-links.md
  src/api/flaskr/command/__init__.py
  src/api/flaskr/service/shifu/api.py
  src/api/flaskr/service/shifu/dtos.py
  src/api/flaskr/service/shifu/models.py
  src/api/flaskr/service/shifu/slug.py
  src/api/migrations/versions/c7e4a9d2f6b1_add_shifu_course_slugs.py
  src/api/tests/migrations/test_fresh_mysql_upgrade.py
  src/api/tests/service/billing/test_runtime_config_billing.py
  src/api/tests/service/learn/test_preview_permissions.py
  src/api/tests/service/order/test_stripe_refund.py
  src/api/tests/service/shifu/test_course_copy.py
  src/api/tests/service/shifu/test_course_slug.py
  src/api/tests/service/shifu/test_shifu_publish_funcs.py
  src/api/tests/test_learn_api.py
Due: none

fix: stabilize learn unknown error paths
  src/api/flaskr/service/learn/listen_element_run_persistence.py
  src/api/flaskr/service/learn/runscript_v2.py
  src/api/tests/service/learn/test_listen_element_run_persistence.py
  src/api/tests/service/learn/test_runscript_v2_lock.py
  src/i18n/en-US/modules/backend/learn.json
  src/i18n/fr-FR/modules/backend/learn.json
  src/i18n/zh-CN/modules/backend/learn.json
Due: none

fix: resolve course slugs during login
  src/api/flaskr/service/user/course_identity.py
  src/api/flaskr/service/user/email_flow.py
  src/api/flaskr/service/user/phone_flow.py
  src/api/tests/service/user/test_user_identify.py
Due: none

fix: tolerate extra slug response fields
  src/api/flaskr/service/shifu/slug.py
  src/api/tests/service/shifu/test_course_slug.py
Due: none

fix: defer slug backfill command import
  src/api/flaskr/command/__init__.py
  src/api/tests/service/shifu/test_course_slug.py
Due: none

fix: batch course slug backfill reads
  src/api/flaskr/service/shifu/slug.py
  src/api/tests/service/shifu/test_course_slug.py
Due: none

style: apply lint autofix for learn persistence tests
  src/api/tests/service/learn/test_listen_element_run_persistence.py
Due: none

fix: release database reads before slug generation
  src/api/flaskr/service/shifu/slug.py
  src/api/tests/service/shifu/test_course_slug.py
Due: none

test: sync China course creator URL expectation
  src/cook-web/src/__tests__/url-utils.test.ts
Due: prettier-cook-web, eslint

fix: broaden retryable learn stream errors
  src/api/flaskr/service/learn/runscript_v2.py
  src/api/tests/service/learn/test_runscript_v2_lock.py
Due: none

test: sync China course creator URL expectation (#2123)
  src/cook-web/src/__tests__/url-utils.test.ts
Due: prettier-cook-web, eslint

fix: harden course slug guarantees
  .github/workflows/runtime-harness.yml
  docs/exec-plans/active/course-slug-primary-links.md
  src/api/flaskr/service/learn/routes.py
  src/api/flaskr/service/shifu/admin_operations/courses.py
  src/api/flaskr/service/shifu/models.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/api/flaskr/service/shifu/shifu_import_export_funcs.py
  src/api/flaskr/service/shifu/slug.py
  src/api/migrations/versions/d9f1c3e5a7b2_add_shifu_public_identifier_reservations.py
  src/api/tests/migrations/mysql_slug_concurrency_runner.py
  src/api/tests/migrations/test_fresh_mysql_upgrade.py
  src/api/tests/service/learn/test_listen_elements.py
  src/api/tests/service/learn/test_preview_permissions.py
  src/api/tests/service/learn/test_public_identifier_routes.py
  src/api/tests/service/learn/test_runtime_tts_admission.py
  src/api/tests/service/order/test_stripe_refund.py
  src/api/tests/service/shifu/test_archive.py
  src/api/tests/service/shifu/test_course_copy.py
  src/api/tests/service/shifu/test_course_identifier_namespace.py
  src/api/tests/service/shifu/test_course_slug.py
  src/api/tests/service/shifu/test_demo_courses.py
  src/api/tests/service/shifu/test_shifu_draft_list.py
  src/api/tests/service/shifu/test_shifu_publish_funcs.py
  src/api/tests/service/shifu/test_transfer_creator.py
  src/api/tests/service/user/test_user_identify.py
  src/cook-web/e2e/smoke.spec.ts
  src/cook-web/src/__tests__/c-preview-layout.test.tsx
  src/cook-web/src/app/c/[[...id]]/layout.test.tsx
  src/cook-web/src/app/c/[[...id]]/layout.tsx
  src/cook-web/src/app/login/page.test.tsx
  src/cook-web/src/c-api/course.test.ts
  src/cook-web/src/c-api/course.ts
Due: prettier-cook-web, eslint

fix: make slug preservation guard reliable
  src/api/tests/service/shifu/test_shifu_publish_funcs.py
Due: none

fix: preserve flushed slug transactions
  src/api/flaskr/service/shifu/slug.py
  src/api/tests/service/shifu/test_course_identifier_namespace.py
  src/api/tests/service/shifu/test_course_slug.py
Due: none

test: verify backfill read transaction release
  src/api/tests/service/shifu/test_course_slug.py
Due: none

docs: record final course slug verification
  docs/exec-plans/active/course-slug-primary-links.md
Due: none

refactor: clarify admin error displays (#2108)
  src/cook-web/src/app/admin/dashboard/[shifu_bid]/follow-ups/page.tsx
  src/cook-web/src/app/admin/dashboard/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/dashboard/[shifu_bid]/ratings/page.tsx
  src/cook-web/src/app/admin/dashboard/page.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/follow-ups/page.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/ratings/page.tsx
  src/cook-web/src/app/admin/operations/orders/CreditOrderDetailDialog.tsx
  src/cook-web/src/app/admin/operations/orders/OperatorOrderDetailSheet.tsx
  src/cook-web/src/app/admin/operations/page.tsx
  src/cook-web/src/app/admin/orders/page.tsx
  src/cook-web/src/components/order/OrderDetailSheet.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/dashboard.json
  src/i18n/en-US/modules/operations-course.json
  src/i18n/en-US/modules/operations-order.json
  src/i18n/en-US/modules/order.json
  src/i18n/fr-FR/modules/dashboard.json
  src/i18n/fr-FR/modules/operations-course.json
  src/i18n/fr-FR/modules/operations-order.json
  src/i18n/fr-FR/modules/order.json
  src/i18n/zh-CN/modules/dashboard.json
  src/i18n/zh-CN/modules/operations-course.json
  src/i18n/zh-CN/modules/operations-order.json
  src/i18n/zh-CN/modules/order.json
Due: prettier-cook-web, eslint

fix: keep the publish error toast from being replaced
  src/cook-web/src/components/header/Header.tsx
Due: prettier-cook-web, eslint

fix: soften listen thinking overlay (#2110)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/LessonUpdateNotice.tsx
Due: prettier-cook-web, eslint

fix: reduce course creation risk check latency (#2115)
  docker/.env.example.full
  src/api/flaskr/api/check/ilivedata.py
  src/api/flaskr/api/check/yidun.py
  src/api/flaskr/common/config.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/api/flaskr/service/shifu/shifu_outline_funcs.py
  src/api/tests/service/shifu/test_archive.py
  src/api/tests/test_edun.py
Due: none

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
