Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

feat: auto create first demo shifu for admin login (#979)
  src/api/en_first_shifu.json
  src/api/flaskr/service/shifu/shifu_import_export_funcs.py
  src/api/flaskr/service/user/utils.py
Due: none

fix: add padding to shifu card container to prevent border clipping on hover
  src/cook-web/src/app/admin/page.tsx
Due: prettier-cook-web, eslint

fix: add padding to shifu card container to prevent border clipping on hover (#980)
  src/cook-web/src/app/admin/page.tsx
Due: prettier-cook-web, eslint

fix: resolve FileNotFoundError for en_first_shifu.json in Google OAuth callback
  src/api/flaskr/service/user/utils.py
Due: none

fix: resolve FileNotFoundError for en_first_shifu.json in Google OAuth callback (#981)
  src/api/flaskr/service/user/utils.py
Due: none

feat: update commit
  src/api/flaskr/service/user/utils.py
Due: none

fix: change commit for init first shifu. (#982)
  src/api/flaskr/service/user/utils.py
Due: none

feat: set default shifu price to 0.50 in frontend
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

build: upgrade markdown-flow package version
  src/api/requirements.txt
Due: none

build: upgrade markdown-flow package version (#984)
  src/api/requirements.txt
Due: none

feat: increase shifu name max length from 20 to 100 characters
  src/api/flaskr/service/shifu/consts.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/cook-web/src/c-constants/uiConstants.ts
  src/cook-web/src/components/create-shifu-dialog/CreateShifuDialog.tsx
  src/cook-web/src/components/inline-input/InlineInput.tsx
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/i18n/en-US/components/create-shifu-dialog.json
  src/i18n/en-US/modules/backend/shifu.json
  src/i18n/qps-ploc/components/create-shifu-dialog.json
  src/i18n/qps-ploc/modules/backend/shifu.json
  src/i18n/zh-CN/components/create-shifu-dialog.json
  src/i18n/zh-CN/modules/backend/shifu.json
Due: prettier-cook-web, eslint

fix: add backend validation for shifu name updates and make translation strings dynamic
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/cook-web/src/components/create-shifu-dialog/CreateShifuDialog.tsx
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/i18n/en-US/components/create-shifu-dialog.json
  src/i18n/en-US/modules/backend/shifu.json
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/qps-ploc/components/create-shifu-dialog.json
  src/i18n/qps-ploc/modules/backend/shifu.json
  src/i18n/qps-ploc/modules/shifu-setting.json
  src/i18n/zh-CN/components/create-shifu-dialog.json
  src/i18n/zh-CN/modules/backend/shifu.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: prettier-cook-web, eslint

feat: set login page title based on user language
  src/cook-web/src/app/login/page.tsx
Due: prettier-cook-web, eslint

feat: internationalize login page document title
  src/cook-web/src/app/login/page.tsx
Due: prettier-cook-web, eslint

feat: set login page title based on user language (#986)
  src/cook-web/src/app/login/page.tsx
Due: prettier-cook-web, eslint

feat: unify shifu title character limit to 100 across all inputs (#985)
  src/api/flaskr/service/shifu/consts.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/cook-web/src/c-constants/uiConstants.ts
  src/cook-web/src/components/create-shifu-dialog/CreateShifuDialog.tsx
  src/cook-web/src/components/inline-input/InlineInput.tsx
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/i18n/en-US/components/create-shifu-dialog.json
  src/i18n/en-US/modules/backend/shifu.json
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/qps-ploc/components/create-shifu-dialog.json
  src/i18n/qps-ploc/modules/backend/shifu.json
  src/i18n/qps-ploc/modules/shifu-setting.json
  src/i18n/zh-CN/components/create-shifu-dialog.json
  src/i18n/zh-CN/modules/backend/shifu.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: prettier-cook-web, eslint

fix: user was verified by mobile only instead of both mobile and email
  src/api/flaskr/service/learn/context_v2.py
Due: none

fix: user was verified by mobile only instead of both mobile and email (#987)
  src/api/flaskr/service/learn/context_v2.py
Due: none

fix: change get shifu struct from created_at to id
  src/api/flaskr/service/shifu/shifu_history_manager.py
Due: none

chore: remove log
  src/api/flaskr/service/shifu/shifu_history_manager.py
Due: none

fix: change get shifu struct from created_at to id (#988)
  src/api/flaskr/service/shifu/shifu_history_manager.py
Due: none

fix: sync google oauth language
  src/api/demo_shifus/cn_demo.json
  src/api/demo_shifus/cn_first_shifu.json
  src/api/demo_shifus/en_demo.json
  src/api/demo_shifus/en_first_shifu.json
  src/api/flaskr/command/update_shifu_demo.py
  src/api/flaskr/route/user.py
  src/api/flaskr/service/user/auth/providers/google.py
  src/api/flaskr/service/user/phone_flow.py
  src/api/flaskr/service/user/utils.py
  src/cook-web/src/app/login/page.tsx
  src/cook-web/src/hooks/useGoogleAuth.ts
Due: prettier-cook-web, eslint

fix: sync google oauth language and auto import fisrt shifu. (#989)
  src/api/demo_shifus/cn_demo.json
  src/api/demo_shifus/cn_first_shifu.json
  src/api/demo_shifus/en_demo.json
  src/api/demo_shifus/en_first_shifu.json
  src/api/flaskr/command/update_shifu_demo.py
  src/api/flaskr/route/user.py
  src/api/flaskr/service/user/auth/providers/google.py
  src/api/flaskr/service/user/phone_flow.py
  src/api/flaskr/service/user/utils.py
  src/cook-web/src/app/login/page.tsx
  src/cook-web/src/hooks/useGoogleAuth.ts
Due: prettier-cook-web, eslint

fix: ensure react-resizable-panels installed
  src/cook-web/package.json
Due: prettier-cook-web

fix: align google login language typing
  src/cook-web/src/app/login/page.tsx
  src/cook-web/src/store/useUserStore.ts
Due: prettier-cook-web, eslint

chore: restore package
  src/cook-web/package.json
Due: prettier-cook-web

fix: align google login language typing (#990)
  src/cook-web/src/app/login/page.tsx
  src/cook-web/src/store/useUserStore.ts
Due: prettier-cook-web, eslint

fix: close preview panel when selecting a chapter
  src/cook-web/src/components/outline-tree/OutlineTree.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

fix: pr advice
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

fix: close preview panel when selecting a chapter (#991)
  src/cook-web/src/components/outline-tree/OutlineTree.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

fix: improve Google OAuth callback stability
  src/api/error_codes.json
  src/api/flaskr/service/user/auth/providers/google.py
  src/i18n/en-US/modules/backend/user.json
  src/i18n/qps-ploc/modules/backend/user.json
  src/i18n/zh-CN/modules/backend/user.json
Due: none

fix: improve Google OAuth callback stability (#992)
  src/api/error_codes.json
  src/api/flaskr/service/user/auth/providers/google.py
  src/i18n/en-US/modules/backend/user.json
  src/i18n/qps-ploc/modules/backend/user.json
  src/i18n/zh-CN/modules/backend/user.json
Due: none

fix: reuse temp user for google login
  src/api/flaskr/route/user.py
  src/api/flaskr/service/user/auth/base.py
  src/api/flaskr/service/user/auth/providers/google.py
Due: none

fix: bind google oauth to existing temp user (#993)
  src/api/flaskr/route/user.py
  src/api/flaskr/service/user/auth/base.py
  src/api/flaskr/service/user/auth/providers/google.py
Due: none

fix: set default price to MIN_SHIFU_PRICE
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
Due: none

fix: set default price to MIN_SHIFU_PRICE (#994)
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
Due: none

fix: make relogin when token expired
  src/cook-web/src/lib/request.ts
Due: prettier-cook-web, eslint

fix: make relogin when token expired (#995)
  src/cook-web/src/lib/request.ts
Due: prettier-cook-web, eslint

feat: add shifu export api
  src/api/flaskr/service/shifu/route.py
Due: none

feat: add shifu export api (#996)
  src/api/flaskr/service/shifu/route.py
Due: none

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
