Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

chore: preserve environment files in worktrees
  .cursor/rules/repository-ai-collab.mdc
  .github/copilot-instructions.md
  AGENTS.md
  scripts/generate_ai_collab_docs.py
Due: none

chore: preserve environment files in worktrees (#2324)
  .cursor/rules/repository-ai-collab.mdc
  .github/copilot-instructions.md
  AGENTS.md
  scripts/generate_ai_collab_docs.py
Due: none

fix: prevent mobile slide overlay update loops
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRendererStyles.test.ts
Due: prettier-cook-web, eslint

fix: prevent mobile slide overlay update loops (#2325)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRendererStyles.test.ts
Due: prettier-cook-web, eslint

fix: reset mobile slide overlays on orientation changes
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
Due: prettier-cook-web, eslint

fix: preserve slide state while clearing mobile overlays
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
Due: prettier-cook-web, eslint

fix: refresh overlays after mobile view mode changes
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
Due: prettier-cook-web, eslint

fix: reset mobile slide overlays on orientation changes (#2326)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
Due: prettier-cook-web, eslint

chore: make lefthook install instructions cross-platform
  INSTALL_MANUAL.md
  docs/engineering-baseline.md
  lefthook.yml
  scripts/check_dev_tools.py
Due: none

fix: log the yidun error code and msg field on check failures
  src/api/flaskr/api/check/yidun.py
Due: none

fix: log the yidun error code and msg field on check failures (#2328)
  src/api/flaskr/api/check/yidun.py
Due: none

fix: clear footer reservation when the mobile footer is hidden
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
Due: prettier-cook-web

chore: update markdown flow ui release
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

chore: update markdown flow ui release (#2329)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: support Volcengine (Doubao) cloned voices in operator-managed flow (#2316)
  src/api/flaskr/api/tts/volcengine_provider.py
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/shifu/admin_operations/route.py
  src/api/flaskr/service/shifu/admin_operations/voice_clones.py
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/tts_preview.py
  src/api/flaskr/service/tts/api.py
  src/api/flaskr/service/tts/cloned_voice_registry.py
  src/api/flaskr/service/tts/minimax_voice_clone.py
  src/api/flaskr/service/tts/models.py
  src/api/flaskr/service/tts/validation.py
  src/api/flaskr/service/tts/volcengine_voice_clone.py
  src/api/migrations/versions/e7b3c9d1f5a2_add_provider_to_tts_cloned_voices.py
  src/api/tests/service/learn/test_runtime_tts_voice_id.py
  src/api/tests/service/shifu/test_admin_voice_clones.py
  src/api/tests/service/shifu/test_operator_voice_clone_register.py
  src/api/tests/service/shifu/test_tts_preview_helper.py
  src/api/tests/service/tts/test_minimax_preview_voice_guard.py
  src/api/tests/service/tts/test_tts_validation_cloned_voice.py
  src/api/tests/service/tts/test_volcengine_voice_clone.py
  src/cook-web/src/app/admin/operations/operation-voice-clone-types.ts
  src/cook-web/src/app/admin/operations/voice-clones/VoiceCloneRegisterDialog.tsx
  src/cook-web/src/app/admin/operations/voice-clones/page.tsx
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/components/shifu-setting/minimax-voice-clone.test.ts
  src/cook-web/src/components/shifu-setting/minimax-voice-clone.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/operations-voice-clone.json
  src/i18n/fr-FR/modules/operations-voice-clone.json
  src/i18n/zh-CN/modules/operations-voice-clone.json
Due: prettier-cook-web, eslint

fix: mask account-specific example identifiers
  .github/workflows/repo-harness.yml
  docs/design-docs/minimax-voice-cloning.md
  lefthook.yml
  scripts/check_example_identifiers.py
  scripts/check_repo_harness.py
  src/api/flaskr/api/tts/volcengine_provider.py
  src/api/flaskr/service/tts/cloned_voice_registry.py
  src/api/flaskr/service/tts/models.py
  src/api/flaskr/service/tts/volcengine_voice_clone.py
  src/api/tests/service/learn/test_runtime_tts_voice_id.py
  src/api/tests/service/shifu/test_admin_voice_clones.py
  src/api/tests/service/shifu/test_operator_voice_clone_register.py
  src/api/tests/service/tts/test_minimax_preview_voice_guard.py
  src/api/tests/service/tts/test_tts_validation_cloned_voice.py
  src/api/tests/service/tts/test_volcengine_voice_clone.py
  src/cook-web/src/c-api/user.ts
  src/cook-web/src/components/shifu-setting/minimax-voice-clone.test.ts
  src/cook-web/src/components/shifu-setting/minimax-voice-clone.ts
  src/cook-web/src/config/ENVIRONMENT_CONFIG.md
  src/i18n/en-US/modules/operations-voice-clone.json
  src/i18n/fr-FR/modules/operations-voice-clone.json
  src/i18n/zh-CN/modules/operations-voice-clone.json
Due: prettier-cook-web, eslint

fix: run identifier checks for every change
  .github/workflows/repo-harness.yml
  lefthook.yml
Due: none

fix: validate staged identifier examples
  lefthook.yml
  scripts/check_example_identifiers.py
Due: none

fix: scope Volcengine identifier detection
  scripts/check_example_identifiers.py
Due: none

fix: detect non-hex MiniMax example IDs
  scripts/check_example_identifiers.py
Due: none

fix: check backend Umami example keys
  scripts/check_example_identifiers.py
Due: none

fix: run identifier fixtures in automation
  scripts/check_example_identifiers.py
Due: none

fix: scan the complete staged identifier snapshot
  scripts/check_example_identifiers.py
Due: none

fix: cover Volcengine identifier contexts
  scripts/check_example_identifiers.py
Due: none

fix: detect generated MiniMax Voice IDs
  scripts/check_example_identifiers.py
Due: none

fix: standardize configuration example masks
  src/cook-web/src/config/ENVIRONMENT_CONFIG.md
Due: prettier-cook-web

fix: distinguish Volcengine IDs from constants
  scripts/check_example_identifiers.py
Due: none

fix: inspect nearby Volcengine provider context
  scripts/check_example_identifiers.py
Due: none

fix: scan real-shaped MiniMax test IDs
  scripts/check_example_identifiers.py
Due: none

test: preserve Volcengine Voice ID character coverage
  src/api/tests/service/tts/test_volcengine_voice_clone.py
Due: none

fix: detect direct Feishu resource links
  scripts/check_example_identifiers.py
Due: none

fix: inspect course IDs in every HOME_URL form
  scripts/check_example_identifiers.py
Due: none

fix: allow only known MiniMax test fixtures
  scripts/check_example_identifiers.py
Due: none

fix: mask account-specific example identifiers (#2330)
  .github/workflows/repo-harness.yml
  docs/design-docs/minimax-voice-cloning.md
  lefthook.yml
  scripts/check_example_identifiers.py
  scripts/check_repo_harness.py
  src/api/flaskr/api/tts/volcengine_provider.py
  src/api/flaskr/service/tts/cloned_voice_registry.py
  src/api/flaskr/service/tts/models.py
  src/api/flaskr/service/tts/volcengine_voice_clone.py
  src/api/tests/service/learn/test_runtime_tts_voice_id.py
  src/api/tests/service/shifu/test_admin_voice_clones.py
  src/api/tests/service/shifu/test_operator_voice_clone_register.py
  src/api/tests/service/tts/test_minimax_preview_voice_guard.py
  src/api/tests/service/tts/test_tts_validation_cloned_voice.py
  src/api/tests/service/tts/test_volcengine_voice_clone.py
  src/cook-web/src/c-api/user.ts
  src/cook-web/src/components/shifu-setting/minimax-voice-clone.test.ts
  src/cook-web/src/components/shifu-setting/minimax-voice-clone.ts
  src/cook-web/src/config/ENVIRONMENT_CONFIG.md
  src/i18n/en-US/modules/operations-voice-clone.json
  src/i18n/fr-FR/modules/operations-voice-clone.json
  src/i18n/zh-CN/modules/operations-voice-clone.json
Due: prettier-cook-web, eslint

chore: bump ruff to 0.16.3 and pin the lint rule set
  .github/workflows/lint.yml
  INSTALL_MANUAL.md
  docs/engineering-baseline.md
  lefthook.yml
  ruff.toml
  scripts/check_dev_tools.py
Due: none

chore: bump ruff to 0.16.3 and pin the lint rule set (#2332)
  .github/workflows/lint.yml
  INSTALL_MANUAL.md
  docs/engineering-baseline.md
  lefthook.yml
  ruff.toml
  scripts/check_dev_tools.py
Due: none

fix: compare coupon validity windows in UTC and mark probe timestamps
  src/api/flaskr/service/order/coupon_funcs.py
  src/api/scripts/observability_consistency_probes.py
  src/api/tests/common/test_now_utc.py
  src/api/tests/test_fix_discount.py
Due: none

fix: update pinned alembic head in single-head migration test
  src/api/tests/migrations/test_fresh_mysql_upgrade.py
Due: none
