Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

fix: preserve listen record block order
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_listen_elements.py
Due: none

chore: upgrade dependent versions of markdown-flow-ui
  src/cook-web/package.json
Due: prettier-cook-web

fix(cook-web): enforce login/paywall guard for lessonid deep-link selection on learner page
  SKILL.md
  src/cook-web/src/app/c/[[...id]]/hooks/useLessonTree.ts
  src/cook-web/src/app/c/[[...id]]/page.tsx
Due: prettier-cook-web, eslint

docs(skills): move frontend deep-link skill rules to src/cook-web and keep root pointer
  SKILL.md
  src/cook-web/SKILL.md
Due: prettier-cook-web

fix(cook-web): enforce login/paywall guard for lessonid deep-link section on learner page (#1471)
  SKILL.md
  src/cook-web/SKILL.md
  src/cook-web/src/app/c/[[...id]]/hooks/useLessonTree.ts
  src/cook-web/src/app/c/[[...id]]/page.tsx
Due: prettier-cook-web, eslint

fix: filter internal ask events from run stream
  src/api/flaskr/service/learn/runscript_v2.py
  src/api/tests/service/learn/test_runscript_v2_lock.py
Due: none

fix: use element protocol for follow-up stream
  src/api/flaskr/service/learn/runscript_v2.py
  src/api/tests/service/learn/test_runscript_v2_lock.py
Due: none

fix: route follow-up body through element adapter
  src/api/flaskr/service/learn/runscript_v2.py
  src/api/tests/service/learn/test_runscript_v2_lock.py
Due: none

fix(chat-ui): restore lesson feedback prompt timing with bottom-scroll and listen readiness gates
  SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix(chat-ui): prevent duplicate follow-up input blocks in reading mode
  src/cook-web/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix: hide ask elements from follow-up sse
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_element_protocol.py
  src/api/tests/service/learn/test_runscript_v2_lock.py
Due: none

fix(chat-ui): remove stale ttsReadyBlockBids references in listen mode renderer
  src/cook-web/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
Due: prettier-cook-web, eslint

fix(chat): compare against last actionable element when deciding regenerate confirm
  skills/interaction-user-input-defaults/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix: track learn run status explicitly
  src/api/flaskr/service/learn/runscript_v2.py
  src/api/tests/service/learn/test_runscript_v2_lock.py
Due: none

fix: unify run SSE element protocol
  src/api/flaskr/service/learn/runscript_v2.py
  src/api/tests/service/learn/test_runscript_v2_lock.py
Due: none

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: update mdf-uo
  SKILL.md
  src/cook-web/SKILL.md
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

refactor: remove legacy learn record dtos
  src/api/flaskr/service/learn/learn_dtos.py
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/learn/legacy_record_builder.py
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_learn_dtos_slide.py
  src/api/tests/service/learn/test_learn_record_slides.py
  src/api/tests/service/learn/test_listen_elements.py
  src/api/tests/service/learn/test_listen_elements_legacy_record.py
Due: none

fix(chat): replace follow-up answer content by element id to avoid duplicate rendering
  SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
Due: prettier-cook-web, eslint

fix(chat): preserve askblock placement by element sequence for history ask/answer messages
  SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix: merge follow-up records after anchor elements
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_element_protocol.py
Due: none

docs(skill): migrate and reorganize frontend skills under cook-web with clear skill layering
  SKILL.md
  skills/README.md
  src/cook-web/SKILL.md
  src/cook-web/skills/README.md
  src/cook-web/skills/audio-debug-log-cleanup/SKILL.md
  src/cook-web/skills/chat-actionbar-ask-placement/SKILL.md
  src/cook-web/skills/chat-element-streaming/SKILL.md
  src/cook-web/skills/chat-layout-width-detection/SKILL.md
  src/cook-web/skills/deep-link-lessonid-routing/SKILL.md
  src/cook-web/skills/docker-npm-registry-fallback/SKILL.md
  src/cook-web/skills/hook-contract-refactor-safety/SKILL.md
  src/cook-web/skills/interaction-user-input-defaults/SKILL.md
  src/cook-web/skills/lesson-feedback-popup-timing/SKILL.md
  src/cook-web/skills/listen-mode-audio-streaming/SKILL.md
  src/cook-web/skills/module-augmentation-guardrails/SKILL.md
Due: prettier-cook-web

fix: preserve follow-up history in anchor payload
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_element_protocol.py
Due: none

fix(chat-ui): keep mobile ask blocks collapsed on init for auto-merged follow-up history
  src/cook-web/skills/README.md
  src/cook-web/skills/audio-debug-log-cleanup/SKILL.md
  src/cook-web/skills/chat-actionbar-ask-placement/SKILL.md
  src/cook-web/skills/docker-npm-registry-fallback/SKILL.md
  src/cook-web/skills/lesson-feedback-popup-timing/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix(chat-ui): apply content-style ask button only for mobile interaction while preserving desktop style
  src/cook-web/skills/chat-actionbar-ask-placement/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

fix(chat-ui): remove top padding for ask action bar when anchored to interaction elements
  src/cook-web/skills/chat-actionbar-ask-placement/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

fix(chat-ui): preserve interaction helper rows when truncating list after interaction onSend
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/skills/chat-actionbar-ask-placement/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix(chat): deduplicate interaction submission values to prevent repeated preview variables
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/skills/chat-actionbar-ask-placement/SKILL.md
  src/cook-web/src/__tests__/interaction-user-input.test.ts
  src/cook-web/src/c-utils/interaction-user-input.ts
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
Due: prettier-cook-web, eslint

feat: update markdown-flow-ui reliance and optimize iframe height control
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
Due: prettier-cook-web, eslint

chore: upgrade dependent versions of markdown-flow-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: elementize editor preview stream
  docs/learn-generated-elements-design.md
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/learn_dtos.py
  src/api/flaskr/service/learn/preview_elements.py
  src/api/flaskr/service/learn/routes.py
  src/api/tests/service/learn/test_context_v2.py
  tasks.md
Due: none

refactor: remove unused backend dtos
  src/api/flaskr/service/common/aidtos.py
  src/api/flaskr/service/learn/__init__.py
  src/api/flaskr/service/learn/dtos.py
  src/api/flaskr/service/learn/learn_dtos.py
  src/api/flaskr/service/profile/dtos.py
  src/api/flaskr/service/shifu/dtos.py
Due: none

chore: update the version of markdown-flow related dependency packages
  src/api/requirements.txt
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: fixed error in extra index URL format in requirements.txt
  src/api/requirements.txt
Due: none

feat: Upgrade dependent versions of markdown-flow-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

chore: Update markdown-flow-ui dependency package
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix(chat): append follow-up actions only after text end
  src/cook-web/skills/chat-actionbar-ask-placement/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix(chat): infer follow-up timing from element lifecycle
  src/cook-web/skills/chat-actionbar-ask-placement/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

refactor: remove unused order dto
  src/api/flaskr/service/order/funs.py
Due: none
