Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

fix: resolve operator audit check failures
  src/api/flaskr/service/config/funcs.py
  src/api/flaskr/service/shifu/admin_operations/route.py
  src/api/tests/service/config/test_funcs.py
  src/api/tests/service/shifu/test_admin_users.py
Due: none

fix: remove sensitive config log fields
  src/api/flaskr/service/config/funcs.py
  src/api/tests/service/config/test_funcs.py
Due: none

fix: drop config write logging
  src/api/flaskr/service/config/funcs.py
Due: none

fix: align operator audit timestamps and ranges
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_operations/route.py
  src/api/tests/service/shifu/test_admin_course_detail.py
  src/api/tests/service/shifu/test_admin_users.py
  src/api/tests/service/shifu/test_transfer_creator.py
Due: none

fix: normalize promotion status filters
  src/api/flaskr/service/promo/admin.py
  src/api/tests/service/promo/test_admin_promotions.py
Due: none

refine listen playback speed control ui
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
Due: prettier-cook-web, eslint

fix playback speed trigger focus and color states
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
Due: prettier-cook-web

Refine listen playback speed control UI (#1871)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
Due: prettier-cook-web, eslint

refactor: harden operator management audit and filters (#1869)
  src/api/flaskr/service/billing/credit_notifications.py
  src/api/flaskr/service/config/funcs.py
  src/api/flaskr/service/order/admin.py
  src/api/flaskr/service/promo/admin.py
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_operations/credit_notifications.py
  src/api/flaskr/service/shifu/admin_operations/route.py
  src/api/flaskr/service/shifu/admin_operations/users.py
  src/api/tests/service/billing/test_credit_notifications.py
  src/api/tests/service/config/test_funcs.py
  src/api/tests/service/order/test_admin_orders.py
  src/api/tests/service/promo/test_admin_promotions.py
  src/api/tests/service/shifu/test_admin_course_detail.py
  src/api/tests/service/shifu/test_admin_credit_notifications.py
  src/api/tests/service/shifu/test_admin_users.py
  src/api/tests/service/shifu/test_transfer_creator.py
Due: none

feat: update markdown-flow dependent versions
  src/api/requirements.txt
Due: none

feat: update markdown-flow dependent versions (#1872)
  src/api/requirements.txt
Due: none

feat: optimize interactive block processing logic in context_v2
  src/api/flaskr/service/learn/context_v2.py
  src/api/requirements.txt
  src/api/tests/service/learn/test_context_v2.py
Due: none

fix: guard against negative block position in context builder
  src/api/flaskr/service/learn/context_v2.py
Due: none

feat: optimize interactive block processing logic in context_v2 (#1873)
  src/api/flaskr/service/learn/context_v2.py
  src/api/requirements.txt
  src/api/tests/service/learn/test_context_v2.py
Due: none

feat: Update markdown-flow-ui dependencies
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat:update markdown-flow-ui dependencies
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat:update markdown-flow-ui dependencies (#1874)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat:update markdown-flow-ui dependencies (#1875)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: guard ops reorder and legacy listen tts
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_outline_funcs.py
  src/api/tests/service/learn/test_generated_block_tts_av_mode.py
Due: none

refactor: split operator course management services
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_operations/courses.py
  src/api/flaskr/service/shifu/admin_operations/route.py
Due: none

fix: align operator course service split checks
  docs/generated/architecture-boundary-baseline.json
  docs/generated/harness-health.md
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_operations/route.py
Due: none

fix: preserve admin course compatibility exports
  src/api/flaskr/service/shifu/admin.py
Due: none

fix: limit admin compatibility monkeypatch forwarding
  src/api/flaskr/service/shifu/admin.py
Due: none

fix: forward legacy course datetime patches
  src/api/flaskr/service/shifu/admin.py
Due: none

fix: forward legacy admin course patch hooks
  src/api/flaskr/service/shifu/admin.py
Due: none

feat:update markdown-flow-ui dependencies (#1874) (#1878)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

refactor cook web operator user detail page
  docs/exec-plans/active/operator-course-detail-tab-splitting.md
  docs/exec-plans/active/operator-user-detail-page-slimming.md
  docs/exec-plans/index.md
  docs/generated/doc-inventory.md
  docs/generated/harness-health.md
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/useUserCreditLedgerData.ts
  src/cook-web/src/app/admin/operations/users/[user_bid]/useUserDetailData.ts
  src/cook-web/src/app/admin/operations/users/[user_bid]/useUserDetailViewModel.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/userDetailConstants.ts
Due: prettier-cook-web, eslint

fix operator user detail review feedback
  docs/exec-plans/completed/operator-course-detail-tab-splitting.md
  docs/exec-plans/index.md
  docs/generated/doc-inventory.md
  docs/generated/harness-health.md
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/useUserCreditLedgerData.ts
  src/cook-web/src/app/admin/operations/users/[user_bid]/useUserDetailViewModel.tsx
Due: prettier-cook-web, eslint

fix: guard shifu detail save against missing name
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/api/tests/service/shifu/test_shifu_draft_info.py
Due: none

fix: refresh preview continuation from latest mdflow
  src/cook-web/src/components/lesson-preview/usePreviewChat.test.ts
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
Due: prettier-cook-web, eslint

test: rename preview chat helper suite
  src/cook-web/src/components/lesson-preview/usePreviewChat.test.ts
Due: prettier-cook-web, eslint

fix: refresh preview continuation from latest mdflow (#1881)
  src/cook-web/src/components/lesson-preview/usePreviewChat.test.ts
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
Due: prettier-cook-web, eslint

feat:update markdown-flow-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat:update markdown-flow-ui (#1882)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

refactor admin orders page structure
  docs/exec-plans/active/admin-orders-page-slimming.md
  docs/exec-plans/index.md
  docs/generated/doc-inventory.md
  docs/generated/harness-health.md
  src/cook-web/src/app/admin/orders/OrdersFilterPanel.tsx
  src/cook-web/src/app/admin/orders/OrdersTable.tsx
  src/cook-web/src/app/admin/orders/ordersPageShared.ts
  src/cook-web/src/app/admin/orders/page.tsx
Due: prettier-cook-web, eslint

feat: update course creator entry link and copy
  src/cook-web/src/app/admin/page.tsx
  src/cook-web/src/c-utils/urlUtils.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/common/core.json
  src/i18n/fr-FR/common/core.json
  src/i18n/zh-CN/common/core.json
Due: prettier-cook-web, eslint

feat: tweak zh course creator copy to 龙虾助理智能建课
  src/i18n/zh-CN/common/core.json
Due: none

feat: update course creator entry link and copy (#1884)
  src/cook-web/src/app/admin/page.tsx
  src/cook-web/src/c-utils/urlUtils.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/common/core.json
  src/i18n/fr-FR/common/core.json
  src/i18n/zh-CN/common/core.json
Due: prettier-cook-web, eslint
