Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

fix: address remaining draft conflict review
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/api/flaskr/service/shifu/shifu_history_manager.py
  src/api/tests/service/shifu/test_draft_conflict.py
  src/cook-web/src/app/globals.css
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/store/useShifu.tsx
  src/i18n/en-US/modules/shifu-setting.json
Due: prettier-cook-web, eslint

fix(listen-mode): prevent duplicate autoplay restarts and reduce noisy sequence debug logs
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
  src/cook-web/src/c-utils/audio-utils.ts
  src/cook-web/src/components/audio/AudioPlayerList.tsx
  src/cook-web/src/hooks/useExclusiveAudio.ts
Due: prettier-cook-web, eslint

fix(listen-mode): disable auto audio and ppt progression for not_started lessons until user presses play
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
  src/cook-web/src/app/c/[[...id]]/page.tsx
Due: prettier-cook-web, eslint

fix(listen-mode): unlock autoplay on not_started lessons after page interaction or browser user activation
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
Due: prettier-cook-web, eslint

refactor: isolate backend diff from listen-mode branch
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/learn_dtos.py
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/learn/listen_slide_builder.py
  src/api/flaskr/service/learn/routes.py
  src/api/flaskr/service/learn/runscript_v2.py
  src/api/flaskr/service/tts/__init__.py
  src/api/flaskr/service/tts/audio_record_utils.py
  src/api/flaskr/service/tts/boundary_strategies.py
  src/api/flaskr/service/tts/models.py
  src/api/flaskr/service/tts/patterns.py
  src/api/flaskr/service/tts/pipeline.py
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/flaskr/service/tts/tts_usage_recorder.py
  src/api/migrations/versions/3ef04a9b5d37_add_position_to_learn_generated_audios.py
  src/api/tests/service/learn/test_generated_block_tts_av_mode.py
  src/api/tests/service/learn/test_learn_dtos_slide.py
  src/api/tests/service/learn/test_learn_record_slides.py
  src/api/tests/service/learn/test_listen_slide_builder.py
  src/api/tests/service/tts/test_av_speakable_segmentation.py
  src/api/tests/service/tts/test_streaming_tts_av_contract.py
  src/api/tests/service/tts/test_tts_text_preprocess.py
Due: none

refactor: isolate backend listen and tts diff (#1354)
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/learn_dtos.py
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/learn/listen_slide_builder.py
  src/api/flaskr/service/learn/routes.py
  src/api/flaskr/service/learn/runscript_v2.py
  src/api/flaskr/service/tts/__init__.py
  src/api/flaskr/service/tts/audio_record_utils.py
  src/api/flaskr/service/tts/boundary_strategies.py
  src/api/flaskr/service/tts/models.py
  src/api/flaskr/service/tts/patterns.py
  src/api/flaskr/service/tts/pipeline.py
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/flaskr/service/tts/tts_usage_recorder.py
  src/api/migrations/versions/3ef04a9b5d37_add_position_to_learn_generated_audios.py
  src/api/tests/service/learn/test_generated_block_tts_av_mode.py
  src/api/tests/service/learn/test_learn_dtos_slide.py
  src/api/tests/service/learn/test_learn_funcs.py
  src/api/tests/service/learn/test_learn_record_slides.py
  src/api/tests/service/learn/test_listen_slide_builder.py
  src/api/tests/service/learn/test_runscript_v2_lock.py
  src/api/tests/service/tts/test_av_speakable_segmentation.py
  src/api/tests/service/tts/test_streaming_tts_av_contract.py
  src/api/tests/service/tts/test_tts_text_preprocess.py
  src/i18n/en-US/modules/backend/learn.json
  src/i18n/zh-CN/modules/backend/learn.json
Due: none

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: hide video log
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
  src/cook-web/src/c-utils/audio-utils.ts
  src/cook-web/src/components/audio/AudioPlayerList.tsx
  src/cook-web/src/hooks/useExclusiveAudio.ts
Due: prettier-cook-web, eslint

feat: support multi video segements from same stream (#1362)
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
  src/cook-web/src/app/c/[[...id]]/page.tsx
  src/cook-web/src/app/globals.css
  src/cook-web/src/c-api/studyV2.ts
  src/cook-web/src/c-utils/audio-utils.ts
  src/cook-web/src/components/audio/AudioPlayerList.tsx
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/hooks/useExclusiveAudio.ts
Due: prettier-cook-web, eslint

feat: hide video log
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix: clear console log in listen mode
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix: clear console log in listen mode (#1363)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix: Update markdown-flow-ui dependent versions
  src/cook-web/package.json
Due: prettier-cook-web

fix: update package-lock.json
  src/cook-web/package-lock.json
Due: prettier-cook-web

feat: Update markdown-flow to rely on stable versions
  src/api/requirements.txt
  src/cook-web/package.json
Due: prettier-cook-web

feat: add visual mode configuration options (#1364)
  src/api/flaskr/service/learn/context_v2.py
  src/api/requirements.txt
  src/cook-web/package.json
Due: prettier-cook-web

fix(tts): synthesize run stream audio sentence by sentence
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/tests/service/tts/test_streaming_tts_finalize_segmentation.py
Due: none

chore(deps): Upgrade markdown-flow-ui dependency package
  src/cook-web/package-lock.json
Due: prettier-cook-web

chore(deps): Upgrade markdown-flow-ui dependency package (#1366)
  src/cook-web/package-lock.json
Due: prettier-cook-web

fix: commit profile updates before variable update
  src/api/flaskr/service/learn/context_v2.py
Due: none

fix(tts): prevent offset drift when markdown completes across chunks
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/tests/service/tts/test_streaming_tts_finalize_segmentation.py
Due: none

feat: restore changes from PR #1364
  src/api/flaskr/service/learn/context_v2.py
  src/api/requirements.txt
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: set visual_mode defaulut value false
  src/api/flaskr/service/learn/context_v2.py
Due: none

fix(tts): synthesize run stream audio sentence by sentence (#1365)
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/tests/service/tts/test_streaming_tts_finalize_segmentation.py
Due: none

chore(deps): Upgrade markdown-flow-ui dependency package (#1366)
  src/api/flaskr/service/order/payment_providers/pingxx.py
Due: none

fix: strip emoji from payment subject/body for WeChat compatibility (#1368)
  src/api/flaskr/service/order/payment_providers/pingxx.py
Due: none

fix: add missing _listen attrs in RunScriptContextV2 test stubs
  src/api/tests/service/learn/test_learn_funcs.py
Due: none

fix: add missing _listen attrs in RunScriptContextV2 test stubs (#1369)
  src/api/tests/service/learn/test_learn_funcs.py
Due: none

fix: revert markdown-flow version
  src/api/requirements.txt
Due: none

feat: add draft conflict notify
  src/api/error_codes.json
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_history_manager.py
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/components/shifu-edit/DraftConflictDialog.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/store/useShifu.tsx
  src/cook-web/src/types/shifu.ts
  src/i18n/en-US/modules/backend/shifu.json
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/zh-CN/modules/backend/shifu.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: prettier-cook-web, eslint

fix: tighten draft conflict checks
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
