Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

chore: remove tasks.md
  tasks.md
Due: none

fix(tts): default volcengine http cluster to volcano_tts
  README.md
  docker/.env.example.full
  src/api/flaskr/api/tts/volcengine_http_provider.py
  src/api/flaskr/common/config.py
  src/api/tests/service/tts/test_volcengine_http_provider.py
Due: none

feat: add volcengine http tts provider (#1316)
  README.md
  docker/.env.example.full
  src/api/flaskr/api/tts/__init__.py
  src/api/flaskr/api/tts/base.py
  src/api/flaskr/api/tts/volcengine_http_provider.py
  src/api/flaskr/api/tts/volcengine_provider.py
  src/api/flaskr/common/config.py
  src/api/flaskr/service/shifu/dtos.py
  src/api/flaskr/service/shifu/models.py
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/api/flaskr/service/tts/pipeline.py
  src/api/flaskr/service/tts/validation.py
  src/api/tests/service/tts/test_volcengine_http_provider.py
Due: none

fix: correct MiniMax provider name
  src/api/flaskr/api/tts/minimax_provider.py
Due: none

fix: correct MiniMax tts provider's name (#1325)
  src/api/flaskr/api/tts/minimax_provider.py
Due: none

feat: expose published tts flag in learn shifu api and gate listen mode
  src/api/flaskr/service/learn/learn_dtos.py
  src/api/flaskr/service/learn/learn_funcs.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/layout.tsx
  src/cook-web/src/c-api/course.ts
  src/cook-web/src/c-store/useCourseStore.ts
  src/cook-web/src/c-types/store.ts
  src/cook-web/src/hooks/useToast.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

fix: allow line wrap in destructive toast message
  src/cook-web/src/hooks/useToast.tsx
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

fix: lint error
  src/cook-web/src/c-api/course.ts
Due: prettier-cook-web, eslint

feat: expose published tts flag in learn shifu api and gate listen mode (#1326)
  src/api/flaskr/service/learn/learn_dtos.py
  src/api/flaskr/service/learn/learn_funcs.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/layout.tsx
  src/cook-web/src/c-api/course.ts
  src/cook-web/src/c-store/useCourseStore.ts
  src/cook-web/src/c-types/store.ts
  src/cook-web/src/hooks/useToast.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

fix: show course card menu on hover
  src/cook-web/src/app/admin/page.tsx
Due: prettier-cook-web, eslint

fix: allow hidden menu trigger to receive taps
  src/cook-web/src/app/admin/page.tsx
Due: prettier-cook-web, eslint

fix: hide menu trigger after touch blur
  src/cook-web/src/app/admin/page.tsx
Due: prettier-cook-web, eslint

fix(tts): use VOLCENGINE_TTS_* for volcengine ws auth
  src/api/flaskr/api/tts/volcengine_provider.py
  src/api/flaskr/common/config.py
  src/api/tests/service/tts/test_volcengine_ws_provider.py
Due: none

chore(env): regenerate env example files
  docker/.env.example.full
  src/api/flaskr/common/config.py
Due: none

fix: only show menu trigger on hover or open
  src/cook-web/src/app/admin/page.tsx
Due: prettier-cook-web, eslint

fix(tts): use VOLCENGINE_TTS_* for volcengine ws auth (#1328)
  docker/.env.example.full
  src/api/flaskr/api/tts/volcengine_provider.py
  src/api/flaskr/common/config.py
  src/api/tests/service/tts/test_volcengine_ws_provider.py
Due: none

fix: reveal course card menu on hover (#1327)
  src/cook-web/src/app/admin/page.tsx
Due: prettier-cook-web, eslint

feat: upgrade markdown-flow-ui version to 0.1.88
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: upgrade markdown-flow-ui version to 0.1.88 (#1329)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat(dashboard): add overview KPI cards
  src/cook-web/src/app/admin/dashboard/page.tsx
  src/i18n/en-US/modules/dashboard.json
  src/i18n/zh-CN/modules/dashboard.json
  tasks.md
Due: prettier-cook-web, eslint

feat(dashboard): add learner detail and followups
  src/api/flaskr/service/dashboard/dtos.py
  src/api/flaskr/service/dashboard/funcs.py
  src/api/flaskr/service/dashboard/routes.py
  tasks.md
Due: none

feat(dashboard): add learner list table
  src/cook-web/src/app/admin/dashboard/page.tsx
  src/i18n/en-US/modules/dashboard.json
  src/i18n/zh-CN/modules/dashboard.json
  tasks.md
Due: prettier-cook-web, eslint

chore: mark pre-commit QA step
  tasks.md
Due: none

feat(dashboard): add overview charts
  src/cook-web/src/app/admin/dashboard/page.tsx
  src/i18n/en-US/modules/dashboard.json
  src/i18n/zh-CN/modules/dashboard.json
  tasks.md
Due: prettier-cook-web, eslint

chore(cook-web): add type-check script
  src/cook-web/package.json
  src/cook-web/src/app/admin/dashboard/page.tsx
  tasks.md
Due: prettier-cook-web, eslint

feat(dashboard): add overview endpoint
  src/api/flaskr/service/dashboard/dtos.py
  src/api/flaskr/service/dashboard/funcs.py
  src/api/flaskr/service/dashboard/routes.py
  tasks.md
Due: none

docs: add teacher dashboard design and tasks
  docs/teacher-analytics-dashboard.md
  tasks.md
Due: none

feat(dashboard): add learners endpoint
  src/api/flaskr/service/dashboard/dtos.py
  src/api/flaskr/service/dashboard/funcs.py
  src/api/flaskr/service/dashboard/routes.py
  tasks.md
Due: none

feat(dashboard): improve loading and error states
  src/cook-web/src/app/admin/dashboard/page.tsx
  src/cook-web/src/components/dashboard/LearnerDetailSheet.tsx
  tasks.md
Due: prettier-cook-web, eslint

feat(dashboard): add admin dashboard page scaffold
  src/cook-web/src/app/admin/dashboard/page.tsx
  tasks.md
Due: prettier-cook-web, eslint

feat(dashboard): add published outlines endpoint
  src/api/flaskr/service/dashboard/funcs.py
  src/api/flaskr/service/dashboard/routes.py
  tasks.md
Due: none

build(cook-web): add echarts dependencies
  src/cook-web/package-lock.json
  src/cook-web/package.json
  tasks.md
Due: prettier-cook-web

feat(dashboard): add learner detail sheet
  src/cook-web/src/app/admin/dashboard/page.tsx
  src/cook-web/src/components/dashboard/LearnerDetailSheet.tsx
  src/i18n/en-US/modules/dashboard.json
  src/i18n/zh-CN/modules/dashboard.json
  tasks.md
Due: prettier-cook-web, eslint

test(dashboard): add dashboard route coverage
  src/api/tests/service/dashboard/test_dashboard_routes.py
  tasks.md
Due: none

feat(dashboard): add backend module skeleton
  src/api/flaskr/service/dashboard/__init__.py
  src/api/flaskr/service/dashboard/dtos.py
  src/api/flaskr/service/dashboard/funcs.py
  src/api/flaskr/service/dashboard/routes.py
  tasks.md
Due: none

feat(dashboard): add course and date range filters
  src/cook-web/src/app/admin/dashboard/page.tsx
  src/i18n/en-US/modules/dashboard.json
  src/i18n/zh-CN/modules/dashboard.json
  tasks.md
Due: prettier-cook-web, eslint

feat(dashboard): add dashboard types
  src/cook-web/src/types/dashboard.ts
  tasks.md
Due: prettier-cook-web, eslint

feat(charts): add reusable echarts wrappers
  src/cook-web/src/components/charts/ChartCard.tsx
  src/cook-web/src/components/charts/EChart.tsx
  src/cook-web/src/lib/charts/options.ts
  tasks.md
Due: prettier-cook-web, eslint

test(dashboard): fix overview test date range
  src/api/tests/service/dashboard/test_dashboard_routes.py
  tasks.md
Due: none

feat(dashboard): add admin nav and i18n namespace
  src/cook-web/src/app/admin/layout.tsx
  src/i18n/en-US/modules/dashboard.json
  src/i18n/locales.json
  src/i18n/zh-CN/modules/dashboard.json
  tasks.md
Due: prettier-cook-web, eslint
