Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

chore: remove lesson count from outline tree
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavDrawer.tsx
  src/cook-web/src/app/c/[[...id]]/hooks/useLessonTree.ts
  src/cook-web/src/components/outline-tree/MinimalTreeItem.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/components/outline-tree.json
  src/i18n/qps-ploc/components/outline-tree.json
  src/i18n/zh-CN/components/outline-tree.json
Due: prettier-cook-web, eslint

fix: titleName ui
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseCatalogList.module.css
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseCatalogList.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseCatalogList.tsx
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseCatalogList.module.css
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseCatalogList.module.scss
Due: prettier-cook-web

fix: support inline outline creation
  src/cook-web/src/components/outline-tree/MinimalTreeItem.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/store/useShifu.tsx
  src/cook-web/src/types/shifu.ts
Due: prettier-cook-web, eslint

fix: handle missing wechat appid runtime
  src/cook-web/src/app/c/[[...id]]/layout.tsx
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/src/components/outline-tree/MinimalTreeItem.tsx
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/src/components/dnd-kit-sortable-tree/ui/simple/SimpleTreeItemWrapper.tsx
  src/cook-web/src/components/outline-tree/MinimalTreeItem.tsx
  src/cook-web/src/components/outline-tree/OutlineTree.tsx
Due: prettier-cook-web, eslint

fix: fix: remove empty placeholder outlines without api calls
  src/cook-web/src/components/outline-tree/MinimalTreeItem.tsx
  src/cook-web/src/store/useShifu.tsx
  src/cook-web/src/types/shifu.ts
Due: prettier-cook-web, eslint

fix: readonly add button
  src/cook-web/src/components/dnd-kit-sortable-tree/ui/simple/SimpleTreeItemWrapper.tsx
  src/cook-web/src/components/outline-tree/MinimalTreeItem.tsx
Due: prettier-cook-web, eslint

fix: pr advice
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

chore: remove redundant next public env defaults
  src/cook-web/src/config/ENVIRONMENT_CONFIG.md
  src/cook-web/src/config/environment.ts
Due: prettier-cook-web, eslint

fix: read wechat app id from backend env
  src/api/flaskr/common/config.py
  src/api/flaskr/route/config.py
Due: none

chore: deprecate next public backend env usage
  src/api/flaskr/common/config.py
  src/api/flaskr/route/config.py
Due: none

fix: ensure chapter action buttons fire click without drag interference
  src/cook-web/src/components/dnd-kit-sortable-tree/ui/simple/SimpleTreeItemWrapper.tsx
  src/cook-web/src/components/outline-tree/MinimalTreeItem.tsx
Due: prettier-cook-web, eslint

fix: keep only the latest placeholder lesson when adding sections
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

chore: drop unused wechat code flag
  src/api/flaskr/common/config.py
  src/api/flaskr/route/config.py
Due: none

fix: reset placeholder lesson input when switching chapters
  src/cook-web/src/components/outline-tree/MinimalTreeItem.tsx
Due: prettier-cook-web, eslint

fix: show default badges for newly created lessons
  src/cook-web/src/components/outline-tree/MinimalTreeItem.tsx
Due: prettier-cook-web, eslint

chore: remove legacy next public env keys
  docker/.env.example.full
  src/api/flaskr/common/config.py
  src/api/flaskr/route/config.py
  src/api/tests/common/test_config.py
Due: none

fix: pr advice
  src/cook-web/src/store/useShifu.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/common/core.json
  src/i18n/en-US/components/outline-tree.json
  src/i18n/qps-ploc/common/core.json
  src/i18n/qps-ploc/components/outline-tree.json
  src/i18n/zh-CN/common/core.json
  src/i18n/zh-CN/components/outline-tree.json
Due: prettier-cook-web, eslint

fix: support inline outline creation (#1102)
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseCatalogList.module.css
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseCatalogList.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseCatalogList.tsx
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavDrawer.tsx
  src/cook-web/src/app/c/[[...id]]/hooks/useLessonTree.ts
  src/cook-web/src/components/dnd-kit-sortable-tree/ui/simple/SimpleTreeItemWrapper.tsx
  src/cook-web/src/components/outline-tree/MinimalTreeItem.tsx
  src/cook-web/src/components/outline-tree/OutlineTree.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/store/useShifu.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/cook-web/src/types/shifu.ts
  src/i18n/en-US/common/core.json
  src/i18n/en-US/components/outline-tree.json
  src/i18n/qps-ploc/common/core.json
  src/i18n/qps-ploc/components/outline-tree.json
  src/i18n/zh-CN/common/core.json
  src/i18n/zh-CN/components/outline-tree.json
Due: prettier-cook-web, eslint

fix: make SimpleTreeItemWrapper readonly prop optional with default
  src/cook-web/src/components/dnd-kit-sortable-tree/ui/simple/SimpleTreeItemWrapper.tsx
Due: prettier-cook-web, eslint

fix: make SimpleTreeItemWrapper readonly prop optional with default (#1103)
  src/cook-web/src/components/dnd-kit-sortable-tree/ui/simple/SimpleTreeItemWrapper.tsx
Due: prettier-cook-web, eslint

fix: handle missing wechat appid runtime (#1101)
  docker/.env.example.full
  src/api/flaskr/common/config.py
  src/api/flaskr/route/config.py
  src/api/tests/common/test_config.py
  src/cook-web/src/app/c/[[...id]]/layout.tsx
  src/cook-web/src/config/ENVIRONMENT_CONFIG.md
  src/cook-web/src/config/environment.ts
Due: prettier-cook-web, eslint

fix: normalize wxcode flag parsing
  src/cook-web/src/app/c/[[...id]]/layout.tsx
Due: prettier-cook-web, eslint

fix: normalize wxcode flag parsing (#1104)
  src/cook-web/src/app/c/[[...id]]/layout.tsx
Due: prettier-cook-web, eslint

feat: auto-create default chapter and lesson on course creation
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/cook-web/src/app/admin/page.tsx
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

fix: delay init until wechat code captured
  src/cook-web/src/store/userProvider.tsx
Due: prettier-cook-web, eslint

Fix WeChat code capture before course init (#1107)
  src/cook-web/src/store/userProvider.tsx
Due: prettier-cook-web, eslint

fix: correct i18n key format for default chapter/lesson names
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/i18n/en-US/modules/shifu.json
  src/i18n/qps-ploc/modules/shifu.json
  src/i18n/zh-CN/modules/shifu.json
Due: none

fix: correct i18n usage for default chapter/lesson names
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/i18n/en-US/modules/backend/shifu.json
  src/i18n/en-US/modules/shifu.json
  src/i18n/qps-ploc/modules/backend/shifu.json
  src/i18n/qps-ploc/modules/shifu.json
  src/i18n/zh-CN/modules/backend/shifu.json
  src/i18n/zh-CN/modules/shifu.json
Due: none

fix: change auto-created course outline permissions to trial
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
Due: none

fix: update react & next version
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: update version
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: lint
  src/cook-web/src/components/ui/Badge.tsx
  src/cook-web/src/components/ui/Button.tsx
  src/cook-web/src/components/ui/Sheet.tsx
Due: prettier-cook-web, eslint

fix: remove pre-commit
  .pre-commit-config.yaml
  src/cook-web/src/components/ui/Badge.tsx
  src/cook-web/src/components/ui/Button.tsx
  src/cook-web/src/components/ui/Sheet.tsx
Due: prettier-cook-web, eslint

fix: lint
  .pre-commit-config.yaml
Due: none

fix: update react & next version (#1108)
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/components/ui/Badge.tsx
  src/cook-web/src/components/ui/Button.tsx
  src/cook-web/src/components/ui/Sheet.tsx
Due: prettier-cook-web, eslint
