Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

test: verify autoplay after retention focus
  src/cook-web/src/components/profile-onboarding/LearnerProfileDialog.test.tsx
Due: prettier-cook-web, eslint

fix: focus retry after returning from retention
  src/cook-web/src/components/profile-onboarding/LearnerProfileDialog.test.tsx
  src/cook-web/src/components/profile-onboarding/LearnerProfileDialog.tsx
Due: prettier-cook-web, eslint

fix: distinguish initial profile loading from errors
  src/cook-web/src/components/profile-onboarding/LearnerProfileDialog.tsx
Due: prettier-cook-web, eslint

feat: measure completed profile setup after retention
  docs/exec-plans/completed/profile-onboarding-retention.md
  src/cook-web/src/components/profile-onboarding/LearnerProfileDialog.test.tsx
  src/cook-web/src/components/profile-onboarding/events.ts
  src/cook-web/src/components/profile-onboarding/learnerProfileDialogModel.test.ts
  src/cook-web/src/components/profile-onboarding/learnerProfileDialogModel.ts
  src/cook-web/src/components/profile-onboarding/useLearnerProfileDialogController.ts
Due: prettier-cook-web, eslint

feat: explain personalization benefits before deferring setup (#2712)
  docs/exec-plans/completed/profile-onboarding-retention.md
  docs/exec-plans/index.md
  docs/generated/doc-inventory.md
  docs/generated/harness-health.md
  src/cook-web/src/components/profile-onboarding/LearnerProfileDialog.test.tsx
  src/cook-web/src/components/profile-onboarding/LearnerProfileDialog.tsx
  src/cook-web/src/components/profile-onboarding/LearnerProfileDialogViews.tsx
  src/cook-web/src/components/profile-onboarding/LearnerProfileRetentionView.test.tsx
  src/cook-web/src/components/profile-onboarding/LearnerProfileRetentionView.tsx
  src/cook-web/src/components/profile-onboarding/events.ts
  src/cook-web/src/components/profile-onboarding/learnerProfileDialogModel.test.ts
  src/cook-web/src/components/profile-onboarding/learnerProfileDialogModel.ts
  src/cook-web/src/components/profile-onboarding/useLearnerProfileDialogController.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/ar-SA/modules/profile-onboarding.json
  src/i18n/en-US/modules/profile-onboarding.json
  src/i18n/fr-FR/modules/profile-onboarding.json
  src/i18n/th-TH/modules/profile-onboarding.json
  src/i18n/zh-CN/modules/profile-onboarding.json
Due: prettier-cook-web, eslint

chore: upgrade markdown-flow-ui to 0.2.20
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: align typewriter pacing across languages (#2710)
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/__tests__/content-block-pay-interaction.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/c-components/ChatUi/ContentBlock.tsx
  src/cook-web/src/components/profile-onboarding/ProfileOnboardingConversation.test.tsx
  src/cook-web/src/components/profile-onboarding/ProfileOnboardingConversation.tsx
Due: prettier-cook-web, eslint

fix: make learner introductions more open-ended
  src/api/prompts/profile_onboarding_assistant_compiler.md
  src/api/tests/service/user/test_profile_onboarding_config.py
Due: none

fix: use compiled onboarding prompts as plain text
  src/api/flaskr/service/common/profile_onboarding_prompt.py
  src/api/prompts/profile_onboarding_assistant_compiler.md
  src/api/tests/service/user/test_profile_onboarding_config.py
Due: none

fix: keep sensitive details out of learner introductions
  src/api/prompts/profile_onboarding_assistant_compiler.md
  src/api/tests/service/user/test_profile_onboarding_config.py
Due: none

fix: reject content-filtered onboarding prompts
  src/api/flaskr/api/llm/__init__.py
  src/api/tests/service/common/test_profile_onboarding_prompt.py
  src/api/tests/service/user/test_profile_onboarding_config.py
  src/api/tests/test_openai.py
Due: none

fix: reject truncated onboarding prompt output
  src/api/flaskr/api/llm/__init__.py
  src/api/tests/service/user/test_profile_onboarding_config.py
  src/api/tests/test_openai.py
Due: none

fix: require complete onboarding prompt streams
  src/api/flaskr/api/llm/__init__.py
  src/api/flaskr/service/common/profile_onboarding_prompt.py
  src/api/tests/service/user/test_profile_onboarding_config.py
  src/api/tests/test_openai.py
Due: none

fix: pass MarkdownFlow source directly
  src/api/flaskr/service/common/profile_onboarding_prompt.py
  src/api/tests/service/user/test_profile_onboarding_config.py
Due: none

fix: prevent onboarding prompts from copying questionnaires
  src/api/flaskr/service/common/profile_onboarding_prompt.py
  src/api/prompts/profile_onboarding_assistant_compiler.md
  src/api/tests/service/user/test_profile_onboarding_config.py
Due: none

fix: use the source document language directly
  src/api/prompts/profile_onboarding_assistant_compiler.md
Due: none

test: verify onboarding prompt source language
  src/api/tests/service/user/test_profile_onboarding_config.py
Due: none

fix: make learner introductions more open-ended (#2715)
  src/api/flaskr/api/llm/__init__.py
  src/api/flaskr/service/common/profile_onboarding_prompt.py
  src/api/prompts/profile_onboarding_assistant_compiler.md
  src/api/tests/service/common/test_profile_onboarding_prompt.py
  src/api/tests/service/user/test_profile_onboarding_config.py
  src/api/tests/test_openai.py
Due: none

fix: read the response envelope on the device authorization page
  src/cook-web/src/app/login/device/page.test.tsx
  src/cook-web/src/app/login/device/page.tsx
Due: prettier-cook-web, eslint

feat: add device authorization flow for command-line clients
  src/api/error_codes.json
  src/api/flaskr/common/config.py
  src/api/flaskr/route/user.py
  src/api/flaskr/service/user/device_auth.py
  src/api/tests/conftest.py
  src/api/tests/service/user/test_device_auth.py
  src/i18n/ar-SA/modules/backend/user.json
  src/i18n/en-US/modules/backend/user.json
  src/i18n/fr-FR/modules/backend/user.json
  src/i18n/th-TH/modules/backend/user.json
  src/i18n/zh-CN/modules/backend/user.json
Due: none

feat: add the device authorization approval page
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/login/device/page.test.tsx
  src/cook-web/src/app/login/device/page.tsx
  src/i18n/ar-SA/modules/auth.json
  src/i18n/en-US/modules/auth.json
  src/i18n/fr-FR/modules/auth.json
  src/i18n/th-TH/modules/auth.json
  src/i18n/zh-CN/modules/auth.json
Due: prettier-cook-web, eslint

fix: close review findings in the device authorization flow
  src/api/error_codes.json
  src/api/flaskr/common/config.py
  src/api/flaskr/service/user/device_auth.py
  src/api/tests/common/test_swagger_docstrings.py
  src/api/tests/service/user/test_device_auth.py
  src/cook-web/src/app/login/device/page.test.tsx
  src/cook-web/src/app/login/device/page.tsx
  src/cook-web/src/app/login/page.test.tsx
  src/cook-web/src/app/payment/stripe/billing-result/page.test.tsx
  src/cook-web/src/c-common/tools/tracking.ts
  src/i18n/ar-SA/modules/backend/user.json
  src/i18n/en-US/modules/backend/user.json
  src/i18n/fr-FR/modules/backend/user.json
  src/i18n/th-TH/modules/backend/user.json
  src/i18n/zh-CN/modules/backend/user.json
Due: prettier-cook-web, eslint

feat: sign the course CLI in through the browser instead of SMS (#2720)
  src/api/error_codes.json
  src/api/flaskr/common/config.py
  src/api/flaskr/route/user.py
  src/api/flaskr/service/user/device_auth.py
  src/api/tests/common/test_swagger_docstrings.py
  src/api/tests/conftest.py
  src/api/tests/service/user/test_device_auth.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/login/device/page.test.tsx
  src/cook-web/src/app/login/device/page.tsx
  src/cook-web/src/app/login/page.test.tsx
  src/cook-web/src/app/payment/stripe/billing-result/page.test.tsx
  src/cook-web/src/c-common/tools/tracking.ts
  src/i18n/ar-SA/modules/auth.json
  src/i18n/ar-SA/modules/backend/user.json
  src/i18n/en-US/modules/auth.json
  src/i18n/en-US/modules/backend/user.json
  src/i18n/fr-FR/modules/auth.json
  src/i18n/fr-FR/modules/backend/user.json
  src/i18n/th-TH/modules/auth.json
  src/i18n/th-TH/modules/backend/user.json
  src/i18n/zh-CN/modules/auth.json
  src/i18n/zh-CN/modules/backend/user.json
Due: prettier-cook-web, eslint

fix: remove unused Umami course metrics
  docker/.env.example.full
  docs/exec-plans/active/rebuild-course-visit-analytics.md
  docs/exec-plans/index.md
  docs/generated/doc-inventory.md
  docs/generated/harness-health.md
  docs/product-specs/index.md
  docs/product-specs/operator-course-visit-analytics.md
  src/api/flaskr/common/config.py
  src/api/flaskr/common/umami_client.py
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_dtos_courses.py
  src/api/flaskr/service/shifu/admin_operations/courses.py
  src/api/flaskr/service/shifu/admin_operations/courses_detail.py
  src/api/tests/service/common/test_umami_client.py
  src/api/tests/service/shifu/test_admin_course_detail.py
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/operations/operation-course-types.ts
  src/cook-web/src/app/c/[[...id]]/courseVisitTracking.test.ts
  src/cook-web/src/app/c/[[...id]]/courseVisitTracking.ts
  src/cook-web/src/app/c/[[...id]]/page.test.tsx
  src/cook-web/src/app/c/[[...id]]/page.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/ar-SA/modules/operations-course.json
  src/i18n/en-US/modules/operations-course.json
  src/i18n/fr-FR/modules/operations-course.json
  src/i18n/th-TH/modules/operations-course.json
  src/i18n/zh-CN/modules/operations-course.json
Due: prettier-cook-web, eslint

chore: record course metrics cleanup pull request
  docs/exec-plans/active/rebuild-course-visit-analytics.md
Due: none

fix: remove unused Umami course metrics (#2718)
  docker/.env.example.full
  docs/exec-plans/active/rebuild-course-visit-analytics.md
  docs/exec-plans/index.md
  docs/generated/doc-inventory.md
  docs/generated/harness-health.md
  docs/product-specs/index.md
  docs/product-specs/operator-course-visit-analytics.md
  src/api/flaskr/common/config.py
  src/api/flaskr/common/umami_client.py
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_dtos_courses.py
  src/api/flaskr/service/shifu/admin_operations/courses.py
  src/api/flaskr/service/shifu/admin_operations/courses_detail.py
  src/api/tests/service/common/test_umami_client.py
  src/api/tests/service/shifu/test_admin_course_detail.py
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/operations/operation-course-types.ts
  src/cook-web/src/app/c/[[...id]]/courseVisitTracking.test.ts
  src/cook-web/src/app/c/[[...id]]/courseVisitTracking.ts
  src/cook-web/src/app/c/[[...id]]/page.test.tsx
  src/cook-web/src/app/c/[[...id]]/page.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/ar-SA/modules/operations-course.json
  src/i18n/en-US/modules/operations-course.json
  src/i18n/fr-FR/modules/operations-course.json
  src/i18n/th-TH/modules/operations-course.json
  src/i18n/zh-CN/modules/operations-course.json
Due: prettier-cook-web, eslint

feat: track course visitor metric exposure
  docs/exec-plans/active/rebuild-course-visit-analytics.md
  docs/product-specs/operator-course-visit-analytics.md
  src/cook-web/src/app/admin/operations/[shifu_bid]/courseVisitMetricAnalytics.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/courseVisitMetricAnalytics.ts
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
Due: prettier-cook-web, eslint

feat: show first-party course visitors
  docs/exec-plans/active/rebuild-course-visit-analytics.md
  docs/generated/doc-inventory.md
  docs/generated/harness-health.md
  docs/product-specs/index.md
  docs/product-specs/operator-course-visit-analytics.md
  src/api/flaskr/service/learn/api.py
  src/api/flaskr/service/learn/course_visits.py
  src/api/flaskr/service/learn/models.py
  src/api/flaskr/service/learn/routes.py
  src/api/flaskr/service/shifu/admin_dtos_courses.py
  src/api/flaskr/service/shifu/admin_operations/courses_detail.py
  src/api/migrations/versions/8527c3bbd6a0_add_first_party_course_visitors.py
  src/api/tests/service/learn/test_course_visits.py
  src/api/tests/service/shifu/test_admin_course_detail.py
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/operations/operation-course-types.ts
  src/cook-web/src/app/c/[[...id]]/courseVisitRecording.test.tsx
  src/cook-web/src/app/c/[[...id]]/courseVisitRecording.ts
  src/cook-web/src/app/c/[[...id]]/page.test.tsx
  src/cook-web/src/app/c/[[...id]]/page.tsx
  src/cook-web/src/c-api/course.test.ts
  src/cook-web/src/c-api/course.ts
  src/cook-web/src/lib/request.test.ts
  src/cook-web/src/lib/request.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/ar-SA/modules/operations-course.json
  src/i18n/en-US/modules/operations-course.json
  src/i18n/fr-FR/modules/operations-course.json
  src/i18n/th-TH/modules/operations-course.json
  src/i18n/zh-CN/modules/operations-course.json
Due: prettier-cook-web, eslint

test: cover first-party visit API contract
  docs/exec-plans/active/rebuild-course-visit-analytics.md
  src/api/tests/common/test_swagger_docstrings.py
Due: none

chore: record course visitor pull request
  docs/exec-plans/active/rebuild-course-visit-analytics.md
Due: none

feat: let a user see and end their own sign-in sessions
  src/api/error_codes.json
  src/api/flaskr/route/user.py
  src/api/flaskr/service/user/device_auth.py
  src/api/flaskr/service/user/models.py
  src/api/flaskr/service/user/sessions.py
  src/api/flaskr/service/user/token_store.py
  src/api/flaskr/service/user/utils.py
  src/api/migrations/versions/a3f9c1d05b28_add_session_metadata_to_user_token.py
  src/api/tests/common/test_swagger_docstrings.py
  src/api/tests/service/user/test_sessions.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/c-common/tools/tracking.ts
  src/cook-web/src/c-components/NavDrawer/MainMenuModal.tsx
  src/cook-web/src/c-components/Settings/SessionManagerModal.test.tsx
  src/cook-web/src/c-components/Settings/SessionManagerModal.tsx
  src/i18n/ar-SA/modules/backend/user.json
  src/i18n/ar-SA/modules/settings.json
  src/i18n/en-US/modules/backend/user.json
  src/i18n/en-US/modules/settings.json
  src/i18n/fr-FR/modules/backend/user.json
  src/i18n/fr-FR/modules/settings.json
  src/i18n/th-TH/modules/backend/user.json
  src/i18n/th-TH/modules/settings.json
  src/i18n/zh-CN/modules/backend/user.json
  src/i18n/zh-CN/modules/settings.json
Due: prettier-cook-web, eslint

fix: give pre-existing sessions a public id
  src/api/flaskr/service/user/sessions.py
  src/api/migrations/versions/a3f9c1d05b28_add_session_metadata_to_user_token.py
  src/api/tests/service/user/test_sessions.py
Due: none

fix: close review findings in session management
  src/api/error_codes.json
  src/api/flaskr/route/user.py
  src/api/flaskr/service/user/sessions.py
  src/api/flaskr/service/user/token_store.py
  src/api/tests/service/user/test_sessions.py
  src/cook-web/src/c-components/Settings/SessionManagerModal.test.tsx
  src/cook-web/src/c-components/Settings/SessionManagerModal.tsx
  src/i18n/ar-SA/modules/backend/user.json
  src/i18n/en-US/modules/backend/user.json
  src/i18n/fr-FR/modules/backend/user.json
  src/i18n/th-TH/modules/backend/user.json
  src/i18n/zh-CN/modules/backend/user.json
Due: prettier-cook-web, eslint

docs: document the analytics contract for account sessions
  docs/exec-plans/active/account-session-analytics.md
  docs/exec-plans/index.md
  docs/generated/doc-inventory.md
  docs/generated/harness-health.md
  src/cook-web/src/c-components/Settings/SessionManagerModal.test.tsx
Due: prettier-cook-web, eslint

feat: let a user see and end their own sign-in sessions (#2722)
  docs/exec-plans/active/account-session-analytics.md
  docs/exec-plans/index.md
  docs/generated/doc-inventory.md
  docs/generated/harness-health.md
  src/api/error_codes.json
  src/api/flaskr/route/user.py
  src/api/flaskr/service/user/device_auth.py
  src/api/flaskr/service/user/models.py
  src/api/flaskr/service/user/sessions.py
  src/api/flaskr/service/user/token_store.py
  src/api/flaskr/service/user/utils.py
  src/api/migrations/versions/a3f9c1d05b28_add_session_metadata_to_user_token.py
  src/api/tests/common/test_swagger_docstrings.py
  src/api/tests/service/user/test_sessions.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/c-common/tools/tracking.ts
  src/cook-web/src/c-components/NavDrawer/MainMenuModal.tsx
  src/cook-web/src/c-components/Settings/SessionManagerModal.test.tsx
  src/cook-web/src/c-components/Settings/SessionManagerModal.tsx
  src/i18n/ar-SA/modules/backend/user.json
  src/i18n/ar-SA/modules/settings.json
  src/i18n/en-US/modules/backend/user.json
  src/i18n/en-US/modules/settings.json
  src/i18n/fr-FR/modules/backend/user.json
  src/i18n/fr-FR/modules/settings.json
  src/i18n/th-TH/modules/backend/user.json
  src/i18n/th-TH/modules/settings.json
  src/i18n/zh-CN/modules/backend/user.json
  src/i18n/zh-CN/modules/settings.json
Due: prettier-cook-web, eslint

chore: upgrade markdown-flow-ui to 0.2.21
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

chore: upgrade markdown-flow-ui to 0.2.21 (#2723)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

chore: keep AI reviews within pull request scope
  .cursor/rules/repository-ai-collab.mdc
  .github/copilot-instructions.md
  AGENTS.md
  scripts/check_repo_harness.py
  scripts/generate_ai_collab_docs.py
Due: none

chore: preserve AI review quality guidance
  scripts/check_repo_harness.py
Due: none

chore: verify generated AI review guidance
  scripts/check_repo_harness.py
Due: none

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
