Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

refactor: remove learn payload facades
  src/api/flaskr/service/learn/listen_element_run_sidecar.py
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_element_protocol.py
Due: none

refactor: remove dead backend helpers
  src/api/flaskr/api/doc/feishu.py
  src/api/flaskr/service/common/storage.py
  src/api/flaskr/service/order/funs.py
  src/api/flaskr/service/order/query_discount.py
  src/api/flaskr/service/profile/funcs.py
  src/api/flaskr/service/user/common.py
  src/api/tests/contract/test_feishu_contract.py
  src/api/tests/service/profile/test_variable_value_resolution.py
  src/api/tests/test_check_code.py
  src/api/tests/test_sms.py
  src/api/tests/test_user.py
Due: none

refactor: remove backend dead code and redundant facades (#1488)
  src/api/flaskr/api/doc/feishu.py
  src/api/flaskr/service/common/storage.py
  src/api/flaskr/service/dashboard/funcs.py
  src/api/flaskr/service/learn/handle_input_ask.py
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/learn/listen_element_legacy.py
  src/api/flaskr/service/learn/listen_element_queries.py
  src/api/flaskr/service/learn/listen_element_run_sidecar.py
  src/api/flaskr/service/learn/listen_element_run_stream.py
  src/api/flaskr/service/learn/listen_elements.py
  src/api/flaskr/service/learn/preview_elements.py
  src/api/flaskr/service/order/coupon_funcs.py
  src/api/flaskr/service/order/feishu_funcs.py
  src/api/flaskr/service/order/funs.py
  src/api/flaskr/service/order/query_discount.py
  src/api/flaskr/service/profile/funcs.py
  src/api/flaskr/service/tts/audio_record_utils.py
  src/api/flaskr/service/user/common.py
  src/api/tests/contract/test_feishu_contract.py
  src/api/tests/service/learn/test_element_protocol.py
  src/api/tests/service/learn/test_listen_elements.py
  src/api/tests/service/profile/test_variable_value_resolution.py
  src/api/tests/test_check_code.py
  src/api/tests/test_sms.py
  src/api/tests/test_user.py
Due: none

fix: stabilize lesson feedback popup timing
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix: reset listen feedback readiness on context switch
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

fix: refine listen interaction feedback blocking
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
Due: prettier-cook-web, eslint

fix: stabilize listen marker reset state
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenPlaybackState.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenPlaybackState.ts
Due: prettier-cook-web, eslint

fix: avoid marker reset key collisions
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenPlaybackState.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenPlaybackState.ts
Due: prettier-cook-web, eslint

fix: reset listen audio completion on stream updates
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenPlaybackState.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenPlaybackState.ts
Due: prettier-cook-web, eslint

fix: stabilize lesson feedback popup timing (#1489)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenPlaybackState.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenPlaybackState.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: log
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
Due: prettier-cook-web, eslint

fix: persist subtitle cues for listen audio
  src/api/flaskr/service/learn/learn_dtos.py
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/learn/legacy_record_builder.py
  src/api/flaskr/service/learn/listen_element_history.py
  src/api/flaskr/service/learn/listen_element_payloads.py
  src/api/flaskr/service/learn/listen_element_rows.py
  src/api/flaskr/service/tts/audio_record_utils.py
  src/api/flaskr/service/tts/models.py
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/flaskr/service/tts/subtitle_utils.py
  src/api/migrations/versions/1c8f4b7a9d2e_add_subtitle_cues_to_learn_generated_audios.py
  src/api/tests/service/learn/test_generated_block_tts_av_mode.py
  src/api/tests/service/learn/test_learn_dtos_slide.py
  src/api/tests/service/learn/test_listen_element_history_subtitles.py
  src/api/tests/service/tts/test_streaming_tts_subtitles.py
Due: none

fix: align preview interaction continuation
  src/cook-web/src/__tests__/preview-submission.test.ts
  src/cook-web/src/components/lesson-preview/preview-submission.ts
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
Due: prettier-cook-web, eslint

feat: upgrade markdown-flow-ui version to 0.1.102 (#1493)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: align preview interaction continuation (#1491)
  src/cook-web/src/__tests__/preview-submission.test.ts
  src/cook-web/src/components/lesson-preview/preview-submission.ts
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
Due: prettier-cook-web, eslint

feat: upgrade markdown-flow-ui version to 0.1.103 (#1494)
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
Due: prettier-cook-web, eslint

feat(cook-web): restore slide custom ask player action integration
  src/cook-web/skills/chat-actionbar-ask-placement/SKILL.md
  src/cook-web/skills/module-augmentation-guardrails/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.test.ts
  src/cook-web/src/types/markdown-flow-ui.d.ts
Due: prettier-cook-web, eslint

docs: restore AI collaboration hard rules
  .claude/rules/backend/python-api.md
  .claude/rules/frontend/cook-web.md
  .claude/rules/global/testing-and-commit.md
  .cursor/rules/repository-ai-collab.mdc
  .github/copilot-instructions.md
  .github/instructions/ai-instructions.instructions.md
  .github/instructions/backend.instructions.md
  .github/instructions/frontend.instructions.md
  AGENTS.md
  docs/ai-doc-hard-rules-restoration/design.md
  docs/ai-doc-hard-rules-restoration/tasks.md
  docs/engineering-baseline.md
  scripts/check_ai_collab_docs.py
  scripts/generate_ai_collab_docs.py
  src/api/.cursor/rules/backend-api.mdc
  src/api/AGENTS.md
  src/cook-web/.cursor/rules/cook-web.mdc
  src/cook-web/AGENTS.md
Due: prettier-cook-web

docs: add rules for github docker and scripts
  .cursor/rules/docker-ops.mdc
  .cursor/rules/github-workflows.mdc
  .cursor/rules/scripts-maintenance.mdc
  .github/AGENTS.md
  .github/CLAUDE.md
  .github/instructions/ai-instructions.instructions.md
  .github/instructions/docker.instructions.md
  .github/instructions/scripts.instructions.md
  .github/instructions/workflows.instructions.md
  docker/AGENTS.md
  docker/CLAUDE.md
  docs/engineering-baseline.md
  docs/primary-surface-rules/design.md
  docs/primary-surface-rules/tasks.md
  scripts/AGENTS.md
  scripts/CLAUDE.md
  scripts/check_ai_collab_docs.py
  scripts/generate_ai_collab_docs.py
Due: none

docs: flatten design docs and task tracking
  .claude/rules/global/testing-and-commit.md
  .cursor/rules/repository-ai-collab.mdc
  .github/copilot-instructions.md
  .github/instructions/docs.instructions.md
  AGENTS.md
  docs/.cursor/rules/design-workflow.mdc
  docs/README.md
  docs/ai-doc-generator-shrink.md
  docs/ai-doc-generator-shrink/tasks.md
  docs/ai-doc-hard-rules-restoration.md
  docs/ai-doc-hard-rules-restoration/tasks.md
  docs/ai-tool-compat.md
  docs/ai-tool-compat/tasks.md
  docs/primary-surface-rules.md
  docs/primary-surface-rules/tasks.md
  scripts/check_ai_collab_docs.py
  scripts/generate_ai_collab_docs.py
Due: none

docs: align readme with flat docs workflow
  docs/README.md
Due: none

fix(cook-web): remove ask button from interaction follow-up action bar
  src/cook-web/skills/chat-actionbar-ask-placement/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

adjust slide ask user bubble background on desktop
  src/cook-web/skills/chat-actionbar-ask-placement/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.module.scss
Due: prettier-cook-web

feat(cook-web): attach ask lists to listen slide elements by anchor
  src/cook-web/skills/chat-actionbar-ask-placement/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/types/markdown-flow-ui.d.ts
Due: prettier-cook-web, eslint

feat(cook-web): unify listen slide ask action with markdown-flow-ui custom player actions
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/skills/chat-actionbar-ask-placement/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/types/markdown-flow-ui.d.ts
Due: prettier-cook-web, eslint

fix(cook-web): prevent mobile slide ask overlay from closing during action sync
  src/cook-web/skills/chat-actionbar-ask-placement/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
Due: prettier-cook-web, eslint

fix(cook-web): remove empty mobile slide action slot for ask overlay
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
Due: prettier-cook-web, eslint

docs: add creator billing design and tasks
  docs/billing-subscription-design.md
  docs/tasks.md
Due: none

docs: refine billing design and tasks
  docs/billing-subscription-design.md
  docs/tasks.md
Due: none

docs: align billing code namespaces
  docs/billing-subscription-design.md
  docs/tasks.md
Due: none

fix(cook-web): restore ask follow-up sse handling for element streaming
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
Due: prettier-cook-web, eslint

fix(cook-web): improve desktop slide ask card height and corner clipping
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
Due: prettier-cook-web, eslint

feat(cook-web): backfill listen slide ask history into element ask_list
  src/cook-web/skills/chat-actionbar-ask-placement/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
Due: prettier-cook-web, eslint
