Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

fix: open lesson history in the same window
  src/cook-web/src/components/header/Header.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.test.tsx
Due: prettier-cook-web, eslint

fix: close admin course review follow-ups
  src/api/flaskr/service/shifu/admin_course_summaries.py
  src/api/flaskr/service/shifu/admin_course_summary_mapper.py
  src/api/flaskr/service/shifu/admin_operations/courses_listing.py
  src/cook-web/src/app/admin/operations/page.tsx
Due: prettier-cook-web, eslint

fix: open lesson history in the same window (#2172)
  src/cook-web/src/components/header/Header.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.test.tsx
Due: prettier-cook-web, eslint

fix: show readable course models in admin operations (#2171)
  src/api/flaskr/service/shifu/admin_course_summaries.py
  src/api/flaskr/service/shifu/admin_course_summary_mapper.py
  src/api/flaskr/service/shifu/admin_dtos_courses.py
  src/api/flaskr/service/shifu/admin_operations/courses_listing.py
  src/api/tests/service/shifu/test_admin_courses.py
  src/cook-web/src/app/admin/operations/CourseTableSection.tsx
  src/cook-web/src/app/admin/operations/operation-course-types.ts
  src/cook-web/src/app/admin/operations/operationCoursePageShared.tsx
  src/cook-web/src/app/admin/operations/page.test.tsx
  src/cook-web/src/app/admin/operations/page.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/operations-course.json
  src/i18n/fr-FR/modules/operations-course.json
  src/i18n/zh-CN/modules/operations-course.json
Due: prettier-cook-web, eslint

fix: improve subscription follow-up filtering
  src/api/flaskr/service/billing/read_models.py
  src/api/flaskr/service/billing/routes.py
  src/api/tests/service/billing/test_admin_billing_routes.py
  src/api/tests/service/billing/test_billing_routes.py
  src/cook-web/src/app/admin/billing/admin/page.test.tsx
  src/cook-web/src/components/admin/AdminClearableInput.tsx
  src/cook-web/src/components/billing/AdminBillingShared.tsx
  src/cook-web/src/components/billing/AdminBillingSubscriptionsTable.tsx
  src/cook-web/src/hooks/useBillingAdminPagedQuery.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/fr-FR/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

fix: reset billing filters to the first page
  src/cook-web/src/app/admin/billing/admin/page.test.tsx
  src/cook-web/src/hooks/useBillingAdminPagedQuery.ts
Due: prettier-cook-web, eslint

fix: improve subscription follow-up filtering (#2173)
  src/api/flaskr/service/billing/read_models.py
  src/api/flaskr/service/billing/routes.py
  src/api/tests/service/billing/test_admin_billing_routes.py
  src/api/tests/service/billing/test_billing_routes.py
  src/cook-web/src/app/admin/billing/admin/page.test.tsx
  src/cook-web/src/components/admin/AdminClearableInput.tsx
  src/cook-web/src/components/billing/AdminBillingShared.tsx
  src/cook-web/src/components/billing/AdminBillingSubscriptionsTable.tsx
  src/cook-web/src/hooks/useBillingAdminPagedQuery.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/fr-FR/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

feat: enlarge classroom interaction controls
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
Due: prettier-cook-web

fix: satisfy classroom interaction style checks
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
Due: prettier-cook-web

fix: keep classroom send controls aligned
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
Due: prettier-cook-web

feat: enlarge classroom interaction controls (#2174)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
Due: prettier-cook-web

refactor: share admin list query state
  src/cook-web/src/app/admin/billing/components/BillingRecentActivitySection.tsx
  src/cook-web/src/app/admin/hooks/useAdminListQueryState.test.tsx
  src/cook-web/src/app/admin/hooks/useAdminListQueryState.ts
  src/cook-web/src/components/billing/AdminBillingSubscriptionsTable.tsx
  src/cook-web/src/hooks/useAdminListQueryState.test.tsx
  src/cook-web/src/hooks/useAdminListQueryState.ts
  src/cook-web/src/hooks/useAdminPaginatedListState.test.tsx
  src/cook-web/src/hooks/useAdminPaginatedListState.ts
  src/cook-web/src/hooks/useBillingAdminPagedQuery.ts
Due: prettier-cook-web, eslint

fix: remove route-local admin query hooks
  src/cook-web/src/app/admin/hooks/useAdminListQueryState.test.tsx
  src/cook-web/src/app/admin/hooks/useAdminListQueryState.ts
  src/cook-web/src/app/admin/hooks/useAdminPaginatedListState.test.tsx
  src/cook-web/src/app/admin/hooks/useAdminPaginatedListState.ts
Due: prettier-cook-web, eslint

fix: keep admin pagination moving forward
  src/cook-web/src/components/pagination/AppPagination.test.tsx
  src/cook-web/src/components/pagination/AppPagination.tsx
Due: prettier-cook-web, eslint

fix: keep billing admin page state stable
  src/cook-web/src/app/admin/billing/admin/page.test.tsx
  src/cook-web/src/components/billing/AdminBillingSubscriptionsTable.tsx
  src/cook-web/src/hooks/useAdminListQueryState.ts
Due: prettier-cook-web, eslint

refactor: unify dashboard filter UI presets
  src/cook-web/src/app/admin/dashboard/[shifu_bid]/follow-ups/page.tsx
  src/cook-web/src/app/admin/dashboard/[shifu_bid]/ratings/page.tsx
  src/cook-web/src/app/admin/dashboard/dashboardFilterUiShared.ts
  src/cook-web/src/app/admin/dashboard/page.tsx
Due: prettier-cook-web, eslint

test: fix dashboard footer coverage
  src/cook-web/src/app/admin/dashboard/page.test.tsx
Due: prettier-cook-web, eslint

style: format dashboard filter presets
  src/cook-web/src/app/admin/dashboard/[shifu_bid]/follow-ups/page.tsx
  src/cook-web/src/app/admin/dashboard/dashboardFilterUiShared.ts
Due: prettier-cook-web, eslint

fix(i18n): rename Get Biji to Dedao Brain
  src/api/flaskr/service/learn/ask_provider_adapters/get_biji_knowledge_adapter.py
  src/api/flaskr/service/shifu/ask_provider_registry.py
  src/api/tests/service/shifu/test_ask_config_route.py
  src/api/tests/service/shifu/test_ask_provider_registry.py
  src/i18n/en-US/modules/backend/learn.json
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/fr-FR/modules/backend/learn.json
  src/i18n/fr-FR/modules/shifu-setting.json
  src/i18n/zh-CN/modules/backend/learn.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: none

fix: rename Get Biji to Dedao Brain (#2179)
  src/api/flaskr/service/learn/ask_provider_adapters/get_biji_knowledge_adapter.py
  src/api/flaskr/service/shifu/ask_provider_registry.py
  src/api/tests/service/shifu/test_ask_config_route.py
  src/api/tests/service/shifu/test_ask_provider_registry.py
  src/i18n/en-US/modules/backend/learn.json
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/fr-FR/modules/backend/learn.json
  src/i18n/fr-FR/modules/shifu-setting.json
  src/i18n/zh-CN/modules/backend/learn.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: none

fix: preserve billing rows during page loads
  src/cook-web/src/app/admin/billing/admin/page.test.tsx
  src/cook-web/src/components/billing/AdminBillingSubscriptionsTable.tsx
  src/cook-web/src/hooks/useBillingAdminPagedQuery.ts
Due: prettier-cook-web, eslint

refactor: share admin list query state (#2175)
  src/cook-web/src/app/admin/billing/admin/page.test.tsx
  src/cook-web/src/app/admin/billing/components/BillingRecentActivitySection.tsx
  src/cook-web/src/components/billing/AdminBillingSubscriptionsTable.tsx
  src/cook-web/src/hooks/useAdminListQueryState.test.tsx
  src/cook-web/src/hooks/useAdminListQueryState.ts
  src/cook-web/src/hooks/useAdminPaginatedListState.test.tsx
  src/cook-web/src/hooks/useAdminPaginatedListState.ts
  src/cook-web/src/hooks/useBillingAdminPagedQuery.ts
Due: prettier-cook-web, eslint

fix: keep admin pagination moving forward (#2176)
  src/cook-web/src/components/pagination/AppPagination.test.tsx
  src/cook-web/src/components/pagination/AppPagination.tsx
Due: prettier-cook-web, eslint

refactor: unify dashboard filter UI presets (#2177)
  src/cook-web/src/app/admin/dashboard/[shifu_bid]/follow-ups/page.tsx
  src/cook-web/src/app/admin/dashboard/[shifu_bid]/ratings/page.tsx
  src/cook-web/src/app/admin/dashboard/dashboardFilterUiShared.ts
  src/cook-web/src/app/admin/dashboard/page.tsx
Due: prettier-cook-web, eslint

test: fix dashboard footer coverage (#2178)
  src/cook-web/src/app/admin/dashboard/page.test.tsx
Due: prettier-cook-web, eslint

fix: improve learner error messages
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
  src/cook-web/src/lib/learnerError.test.ts
  src/cook-web/src/lib/learnerError.ts
  src/cook-web/src/lib/request.ts
  src/i18n/en-US/modules/chat.json
  src/i18n/en-US/modules/preview.json
  src/i18n/fr-FR/modules/chat.json
  src/i18n/fr-FR/modules/preview.json
  src/i18n/zh-CN/modules/chat.json
  src/i18n/zh-CN/modules/preview.json
Due: prettier-cook-web, eslint

fix: clarify learner payment errors
  src/cook-web/src/app/c/[[...id]]/Components/FeedbackModal/FeedbackModal.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModal.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModalM.tsx
  src/cook-web/src/app/c/[[...id]]/page.test.tsx
  src/cook-web/src/app/c/[[...id]]/page.tsx
  src/cook-web/src/lib/learnerError.test.ts
  src/cook-web/src/lib/learnerError.ts
  src/i18n/en-US/modules/pay.json
  src/i18n/fr-FR/modules/pay.json
  src/i18n/zh-CN/modules/pay.json
Due: prettier-cook-web, eslint

refactor: align shared error display messaging
  src/cook-web/src/components/ErrorDisplay.tsx
  src/cook-web/src/components/lesson-preview/LessonPreview.test.tsx
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/lib/errorDisplay.test.ts
  src/cook-web/src/lib/errorDisplay.ts
Due: prettier-cook-web, eslint

chore: polish learner onboarding error followups
  src/cook-web/src/app/c/[[...id]]/page.test.tsx
  src/cook-web/src/app/c/[[...id]]/page.tsx
  src/i18n/en-US/modules/profile-onboarding.json
  src/i18n/fr-FR/modules/profile-onboarding.json
  src/i18n/zh-CN/modules/profile-onboarding.json
Due: prettier-cook-web, eslint

fix: restore learner offline error fallback
  src/cook-web/src/lib/learnerError.test.ts
  src/cook-web/src/lib/learnerError.ts
  src/cook-web/src/lib/request.ts
Due: prettier-cook-web, eslint

fix: keep lesson preview on the latest available block
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_context_v2.py
Due: none

fix: keep preview context aligned with fallback blocks
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/learn_dtos.py
  src/api/tests/service/learn/test_context_v2.py
Due: none

fix: refine learner payment fallback states
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModal.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModalM.tsx
  src/cook-web/src/lib/learnerError.test.ts
  src/cook-web/src/lib/learnerError.ts
Due: prettier-cook-web, eslint

fix: keep learner payment sync pending clear
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModal.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModalM.tsx
Due: prettier-cook-web, eslint

feat: remove smart conversion from the course editor
  docker/.env.example.full
  docs/engineering-baseline.md
  scripts/generate_ai_collab_docs.py
  src/api/AGENTS.md
  src/api/SKILL.md
  src/api/flaskr/common/config.py
  src/api/flaskr/route/config.py
  src/api/flaskr/service/billing/dtos.py
  src/api/flaskr/service/gen_mdf/AGENTS.md
  src/api/flaskr/service/gen_mdf/CLAUDE.md
  src/api/flaskr/service/gen_mdf/__init__.py
  src/api/flaskr/service/gen_mdf/funcs.py
  src/api/flaskr/service/gen_mdf/route.py
  src/api/skills/README.md
  src/api/skills/gen-mdf-proxy/SKILL.md
  src/api/tests/service/billing/test_billing_dtos.py
  src/api/tests/service/billing/test_runtime_config_billing.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/components/mdf-convert/MdfConvertDialog.tsx
  src/cook-web/src/components/mdf-convert/index.ts
  src/cook-web/src/components/shifu-edit/ShifuEdit.test.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/components/mdf-convert.json
  src/i18n/en-US/modules/backend/gen-mdf.json
  src/i18n/fr-FR/components/mdf-convert.json
  src/i18n/fr-FR/modules/backend/gen-mdf.json
  src/i18n/locales.json
  src/i18n/zh-CN/components/mdf-convert.json
  src/i18n/zh-CN/modules/backend/gen-mdf.json
Due: prettier-cook-web, eslint

feat: remove smart conversion from the course editor (#2185)
  docker/.env.example.full
  docs/engineering-baseline.md
  scripts/generate_ai_collab_docs.py
  src/api/AGENTS.md
  src/api/SKILL.md
  src/api/flaskr/common/config.py
  src/api/flaskr/route/config.py
  src/api/flaskr/service/billing/dtos.py
  src/api/flaskr/service/gen_mdf/AGENTS.md
  src/api/flaskr/service/gen_mdf/CLAUDE.md
  src/api/flaskr/service/gen_mdf/__init__.py
  src/api/flaskr/service/gen_mdf/funcs.py
  src/api/flaskr/service/gen_mdf/route.py
  src/api/skills/README.md
  src/api/skills/gen-mdf-proxy/SKILL.md
  src/api/tests/service/billing/test_billing_dtos.py
  src/api/tests/service/billing/test_runtime_config_billing.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/components/mdf-convert/MdfConvertDialog.tsx
  src/cook-web/src/components/mdf-convert/index.ts
  src/cook-web/src/components/shifu-edit/ShifuEdit.test.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/components/mdf-convert.json
  src/i18n/en-US/modules/backend/gen-mdf.json
  src/i18n/fr-FR/components/mdf-convert.json
  src/i18n/fr-FR/modules/backend/gen-mdf.json
  src/i18n/locales.json
  src/i18n/zh-CN/components/mdf-convert.json
  src/i18n/zh-CN/modules/backend/gen-mdf.json
Due: prettier-cook-web, eslint

chore: bump markdown-flow-ui to 0.2.6
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

chore: bump markdown-flow-ui to 0.2.6 (#2186)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
