Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

style: format referral i18n json
  src/i18n/en-US/modules/operations-promotion.json
  src/i18n/en-US/modules/referral.json
  src/i18n/fr-FR/modules/operations-promotion.json
  src/i18n/fr-FR/modules/referral.json
  src/i18n/zh-CN/modules/operations-promotion.json
  src/i18n/zh-CN/modules/referral.json
Due: none

fix: preserve referral filter state on refresh
  src/cook-web/src/app/admin/operations/referrals/ReferralRelationsPanel.tsx
  src/cook-web/src/app/admin/operations/referrals/page.tsx
  src/i18n/en-US/modules/referral.json
Due: prettier-cook-web, eslint

fix: address referral records review comments
  src/cook-web/src/app/admin/operations/promotions/ReferralCampaignRecordsDialog.tsx
  src/cook-web/src/app/admin/operations/referrals/ReferralRelationsPanel.tsx
Due: prettier-cook-web, eslint

fix: prevent orphaned outline nodes from breaking publish
  src/api/error_codes.json
  src/api/flaskr/service/shifu/shifu_outline_funcs.py
  src/api/flaskr/service/shifu/shifu_publish_funcs.py
  src/api/tests/service/shifu/test_shifu_outline_tree.py
  src/i18n/en-US/modules/backend/shifu.json
  src/i18n/fr-FR/modules/backend/shifu.json
  src/i18n/zh-CN/modules/backend/shifu.json
Due: none

fix: harden referral records filtering and detail flows
  src/api/flaskr/service/referral/admin.py
  src/api/tests/service/referral/test_referral_campaign_admin.py
  src/cook-web/src/app/admin/operations/referrals/ReferralRelationsPanel.tsx
Due: prettier-cook-web, eslint

fix: prevent self-cycle for degenerate outline positions
  src/api/flaskr/service/shifu/shifu_outline_funcs.py
  src/api/tests/service/shifu/test_shifu_outline_tree.py
Due: none

fix: prevent orphaned outline nodes from breaking publish (#2009)
  src/api/error_codes.json
  src/api/flaskr/service/shifu/shifu_outline_funcs.py
  src/api/flaskr/service/shifu/shifu_publish_funcs.py
  src/api/tests/service/shifu/test_shifu_outline_tree.py
  src/i18n/en-US/modules/backend/shifu.json
  src/i18n/fr-FR/modules/backend/shifu.json
  src/i18n/zh-CN/modules/backend/shifu.json
Due: none

fix: serialize draft meta time as utc
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_history_manager.py
  src/api/tests/service/shifu/test_shifu_draft_info.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/store/useShifu.test.tsx
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

chore(deps): bump auth/crypto stack for security advisories
  src/api/requirements.txt
Due: none

fix: align lesson update times with utc contract
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/learn/listen_element_history.py
  src/api/flaskr/service/learn/listen_elements.py
  src/api/flaskr/service/learn/routes.py
  src/api/tests/service/learn/test_listen_elements.py
  src/cook-web/src/c-api/studyV2.ts
Due: prettier-cook-web, eslint

chore(deps): bump auth/crypto stack for security advisories (#2010)
  src/api/requirements.txt
Due: none

chore(deps): bump litellm to 1.84.0 for security advisories
  src/api/requirements.txt
Due: none

test: cover lesson history time helpers
  src/api/flaskr/service/shifu/shifu_history_manager.py
  src/api/tests/service/shifu/test_shifu_draft_info.py
  src/cook-web/src/lib/lesson-history-time.test.ts
Due: prettier-cook-web, eslint

style: apply ruff formatting
  src/api/tests/service/shifu/test_shifu_draft_info.py
Due: none

chore(deps): bump litellm to 1.84.0 for security advisories (#2012)
  src/api/requirements.txt
Due: none

style: apply ruff formatting
  src/api/flaskr/service/learn/learn_funcs.py
Due: none

chore(deps): bump next to 15.5.18 for security advisories
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

chore(deps): align Next.js ecosystem packages to 15.5.19
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: normalize lesson history times as utc
  src/api/flaskr/service/learn/listen_element_history.py
  src/cook-web/src/lib/lesson-history-time.test.ts
  src/cook-web/src/lib/lesson-history-time.ts
Due: prettier-cook-web, eslint

chore(deps): bump next to 15.5.18 for security advisories (#2013)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

chore(deps): bump frontend runtime deps for security advisories
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

chore(deps): bump frontend runtime deps for security advisories (#2015)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

chore(deps): bump backend minor/patch deps to clear Dependabot alerts
  src/api/requirements.txt
Due: none

chore(deps): bump backend minor/patch deps to clear Dependabot alerts (#2017)
  src/api/requirements.txt
Due: none

chore(deps): bump pillow and pytest to clear Dependabot alerts
  src/api/requirements.txt
Due: none

chore(deps): bump pillow and pytest to clear Dependabot alerts (#2019)
  src/api/requirements.txt
Due: none

fix: guard lesson history refresh state
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.test.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

chore(deps): bump frontend transitive deps to clear Dependabot alerts
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

style: format chat refresh guard
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

chore(deps): bump frontend transitive deps to clear Dependabot alerts (#2020)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: scope lesson update notices to changed published content
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/shifu/shifu_publish_funcs.py
  src/api/tests/service/shifu/test_shifu_publish_funcs.py
  src/api/tests/test_learn_api.py
Due: none

fix: guard stale draft meta failures
  src/cook-web/src/store/useShifu.test.tsx
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

fix: refine referral campaign records search
  src/api/flaskr/service/referral/admin.py
  src/api/tests/service/referral/test_referral_campaign_admin.py
  src/i18n/en-US/modules/operations-promotion.json
  src/i18n/fr-FR/modules/operations-promotion.json
  src/i18n/zh-CN/modules/operations-promotion.json
Due: none

fix: simplify referral records filters
  src/cook-web/src/app/admin/components/AdminFilter.tsx
  src/cook-web/src/app/admin/operations/promotions/ReferralCampaignRecordsDialog.tsx
  src/cook-web/src/app/admin/operations/promotions/ReferralCampaignsTab.tsx
  src/cook-web/src/app/admin/operations/promotions/page.test.tsx
  src/cook-web/src/app/admin/operations/referrals/ReferralRelationsPanel.tsx
  src/cook-web/src/app/admin/operations/referrals/page.test.tsx
  src/cook-web/src/app/admin/operations/referrals/page.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/referral.json
  src/i18n/fr-FR/modules/referral.json
  src/i18n/zh-CN/modules/referral.json
Due: prettier-cook-web, eslint

docs: codify the read-side UTC serialization contract in AGENTS.md
  AGENTS.md
Due: none

fix(cook-web): prevent homepage redirect loop and course page SSR crash
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/lib/utils.test.ts
  src/cook-web/src/lib/utils.ts
Due: prettier-cook-web, eslint

docs: codify the read-side UTC serialization contract in AGENTS.md (#2022)
  AGENTS.md
Due: none

feat: consolidate admin timezone formatters
  src/cook-web/src/app/admin/operations/users/dateTime.ts
  src/cook-web/src/lib/__tests__/billing.test.ts
  src/cook-web/src/lib/billing.ts
Due: prettier-cook-web, eslint

fix: prevent deadlock when saving outline mdflow concurrently
  src/api/flaskr/dao/__init__.py
  src/api/flaskr/service/shifu/models.py
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
  src/api/migrations/versions/e7f1a2b3c4d5_add_outline_shifu_outline_id_index.py
  src/api/tests/test_retry_on_deadlock.py
Due: none

fix: avoid redundant draft meta fetch
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
