Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

fix: ui upgrade (#1029)
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

chore: restore default settings (#1030)
  docker/.env.example.full
Due: none

chore: remove docs unused
  tasks.md
Due: none

chore: remove docs unused (#1031)
  tasks.md
Due: none

chore: restore UNIVERSAL_VERIFICATION_CODE to 1024
  docker/.env.example.full
Due: none

chore: update config
  docker/.env.example.full
  src/api/flaskr/common/config.py
Due: none

fix: revert css
  src/cook-web/src/app/admin/AdminSidebar.css
  src/cook-web/src/app/admin/AdminSidebar.module.scss
Due: prettier-cook-web

Apply suggestion from @Copilot
  docker/.env.example.full
Due: none

chore: restore UNIVERSAL_VERIFICATION_CODE to 1024 (#1033)
  docker/.env.example.full
Due: none

chore: add config of ADMIN_LOGIN_GRANT_CREATOR_WITH_DEMO
  docker/.env.example.full
Due: none

chore: add config of ADMIN_LOGIN_GRANT_CREATOR_WITH_DEMO (#1035)
  docker/.env.example.full
Due: none

fix: ts lint
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/c-common/hooks/useTracking.ts
  src/cook-web/src/c-common/tools/tracking.ts
  src/cook-web/src/lib/request.ts
  src/cook-web/src/store/useUserStore.ts
Due: prettier-cook-web, eslint

fix: autoscroll after sse output
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix: autoscroll after sse output (#1037)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

feat: support multi select
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/globals.css
  src/cook-web/src/components/lesson-preview/LessonPreview.module.css
  src/cook-web/src/components/lesson-preview/LessonPreview.module.scss
  src/i18n/en-US/common/core.json
  src/i18n/zh-CN/common/core.json
Due: prettier-cook-web

fix: make user profile append only
  src/api/flaskr/service/profile/funcs.py
Due: none

feat: optimize Shifu configuration acquisition logic in preview service
  src/api/flaskr/service/learn/preview_service.py
Due: none

feat: optimize Shifu configuration acquisition logic in preview service (#1039)
  src/api/flaskr/service/learn/preview_service.py
Due: none

fix: ignore deleted user profiles
  src/api/flaskr/service/profile/funcs.py
  src/api/flaskr/service/user/admin.py
  src/api/flaskr/service/user/repository.py
Due: none

fix: duplicate messages generated on web when input is unsafe
  src/api/flaskr/service/learn/context_v2.py
Due: none

fix: make user profile append only (#1038)
  src/api/flaskr/service/profile/funcs.py
  src/api/flaskr/service/user/admin.py
  src/api/flaskr/service/user/repository.py
Due: none

fix: duplicate messages generated on web when input is unsafe (#1041)
  src/api/flaskr/service/learn/context_v2.py
Due: none

chore(i18n): prune empty locale files and keys
  src/cook-web/src/types/i18n-keys.d.ts
Due: prettier-cook-web, eslint

chore(i18n): remove unused translation keys
  src/i18n/en-US/common/core.json
  src/i18n/en-US/components/cm-editor.json
  src/i18n/en-US/modules/ai-debug.json
  src/i18n/en-US/modules/chat.json
  src/i18n/en-US/modules/render-ui.json
  src/i18n/en-US/modules/render-ui/button.json
  src/i18n/en-US/modules/render-ui/goto.json
  src/i18n/en-US/modules/render-ui/input.json
  src/i18n/en-US/modules/render-ui/option.json
  src/i18n/en-US/modules/render-ui/text-input.json
  src/i18n/qps-ploc/common/core.json
  src/i18n/qps-ploc/components/cm-editor.json
  src/i18n/qps-ploc/modules/ai-debug.json
  src/i18n/qps-ploc/modules/chat.json
  src/i18n/qps-ploc/modules/render-ui.json
  src/i18n/qps-ploc/modules/render-ui/button.json
  src/i18n/qps-ploc/modules/render-ui/goto.json
  src/i18n/qps-ploc/modules/render-ui/input.json
  src/i18n/qps-ploc/modules/render-ui/option.json
  src/i18n/qps-ploc/modules/render-ui/text-input.json
  src/i18n/zh-CN/common/core.json
  src/i18n/zh-CN/components/cm-editor.json
  src/i18n/zh-CN/modules/ai-debug.json
  src/i18n/zh-CN/modules/chat.json
  src/i18n/zh-CN/modules/render-ui.json
  src/i18n/zh-CN/modules/render-ui/button.json
  src/i18n/zh-CN/modules/render-ui/goto.json
  src/i18n/zh-CN/modules/render-ui/input.json
  src/i18n/zh-CN/modules/render-ui/option.json
  src/i18n/zh-CN/modules/render-ui/text-input.json
Due: none

chore: normalize env config handling
  docker/.env.example.full
  src/api/app.py
  src/api/flaskr/common/config.py
  src/api/tasks.md
  src/api/tests/__init__.py
  src/api/tests/common/fixtures/config_data.py
  src/api/tests/common/test_config.py
  src/api/tests/common/test_config_enhanced.py
  src/api/tests/common/test_config_integration.py
  src/api/tests/conftest.py
Due: none

chore: remove tasks checklist
  src/api/tasks.md
Due: none

fix: media
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/globals.css
Due: prettier-cook-web, eslint

feat: update ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/i18n/en-US/modules/render-ui.json
  src/i18n/qps-ploc/modules/render-ui.json
  src/i18n/zh-CN/modules/render-ui.json
Due: prettier-cook-web

feat: support multi select
  src/cook-web/src/app/globals.css
Due: prettier-cook-web

fix: pr advice
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatComponents.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatComponents.module.scss
  src/cook-web/src/components/lesson-preview/LessonPreview.module.scss
  src/i18n/en-US/common/core.json
Due: prettier-cook-web

fix: ui
  src/cook-web/src/app/globals.css
Due: prettier-cook-web
