Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

feat: add a concurrency control mechanism for Q & A requests (#1543)
  docker/.env.example.full
  src/api/flaskr/common/config.py
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/listen_element_legacy.py
  src/api/flaskr/service/learn/listen_element_run_sidecar.py
  src/api/flaskr/service/learn/runscript_v2.py
  src/api/tests/service/learn/test_context_v2.py
  src/api/tests/service/learn/test_listen_elements_legacy_record.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
Due: prettier-cook-web, eslint

fix: align course user payment metrics (#1552)
  src/api/flaskr/service/shifu/admin.py
  src/api/tests/service/shifu/test_admin_course_detail.py
  src/api/tests/service/shifu/test_admin_users.py
Due: none

Fix billing credit detail expiry grouping
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.test.tsx
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.tsx
Due: prettier-cook-web, eslint

Fix subscription upgrade credit bucket merge
  src/api/flaskr/service/billing/subscriptions.py
  src/api/tests/service/billing/test_billing_write_routes.py
Due: none

Default creator billing to disabled
  docs/billing-subscription-design.md
  src/api/flaskr/service/billing/capabilities.py
  src/api/flaskr/service/billing/consts.py
  src/api/flaskr/service/billing/primitives.py
Due: none

Remove expired billing branch-only docs
  docs/bill-prefix-migration-squash.md
  docs/billing-branch-cleanup.md
Due: none

Remove expired billing rollout runbook
  docs/billing-rollout-runbook.md
  docs/billing-subscription-design.md
Due: none

Restore demo shifu seed in dev compose boot
  docker/docker-compose.dev.yml
Due: none

Externalize BILL_ENABLED to env config
  docker/.env.example.full
  src/api/flaskr/common/config.py
  src/api/flaskr/service/billing/consts.py
  src/api/flaskr/service/billing/primitives.py
  src/api/tests/service/billing/test_admin_billing_routes.py
  src/api/tests/service/billing/test_billing_admission.py
  src/api/tests/service/billing/test_billing_diagnostics.py
  src/api/tests/service/billing/test_billing_domains.py
  src/api/tests/service/billing/test_billing_models.py
  src/api/tests/service/billing/test_billing_routes.py
  src/api/tests/service/billing/test_billing_sys_config_contracts.py
  src/api/tests/service/billing/test_billing_trial_credits.py
  src/api/tests/service/billing/test_billing_write_routes.py
  src/api/tests/service/billing/test_runtime_config_billing.py
Due: none

Revert accidental inclusion of local diagnostics test
  src/api/tests/service/billing/test_billing_diagnostics.py
Due: none

Add billing CLI grant plan command
  src/api/flaskr/service/billing/cli.py
  src/api/tests/service/billing/test_billing_cli.py
Due: none

Unify creator billing buckets by category
  src/api/flaskr/service/billing/subscriptions.py
  src/api/flaskr/service/billing/wallets.py
  src/api/tests/service/billing/test_billing_renewal_execution.py
  src/api/tests/service/billing/test_billing_wallet_lifecycle.py
  src/api/tests/service/billing/test_billing_write_routes.py
Due: none

Enqueue SMS after CLI plan grant
  src/api/flaskr/service/billing/cli.py
  src/api/tests/service/billing/test_billing_cli.py
Due: none

Reuse active subscription for plan upgrades
  src/api/flaskr/service/billing/checkout.py
  src/api/tests/service/billing/test_billing_write_routes.py
Due: none

Fix billing SMS Aliyun response validation
  src/api/flaskr/api/sms/aliyun.py
  src/api/flaskr/service/billing/notifications.py
  src/api/tests/contract/test_sms_contract.py
  src/api/tests/service/billing/test_billing_subscription_sms.py
Due: none

fix(billing): validate Aliyun SMS responses (#1555)
  src/api/flaskr/api/sms/aliyun.py
  src/api/flaskr/service/billing/notifications.py
  src/api/tests/contract/test_sms_contract.py
  src/api/tests/service/billing/test_billing_subscription_sms.py
Due: none

Fix billing SMS Aliyun response validation (#1555)
  src/api/flaskr/api/sms/aliyun.py
  src/api/flaskr/service/billing/notifications.py
  src/api/tests/contract/test_sms_contract.py
  src/api/tests/service/billing/test_billing_subscription_sms.py
Due: none

Fix manual plan grant upgrades
  src/api/flaskr/service/billing/cli.py
  src/api/flaskr/service/billing/subscriptions.py
  src/api/tests/service/billing/test_billing_cli.py
Due: none

fix(billing): upgrade active trial subscriptions on manual grants (#1556)
  src/api/flaskr/service/billing/cli.py
  src/api/flaskr/service/billing/subscriptions.py
  src/api/tests/service/billing/test_billing_cli.py
Due: none

Add billing CLI backfill for missing creator trials
  src/api/flaskr/service/billing/cli.py
  src/api/flaskr/service/billing/trials.py
  src/api/tests/service/billing/test_billing_cli.py
Due: none

fix(billing): add CLI backfill for missing creator trials (#1557)
  src/api/flaskr/service/billing/cli.py
  src/api/flaskr/service/billing/trials.py
  src/api/tests/service/billing/test_billing_cli.py
Due: none

feat: add operator course follow-up page
  docs/operator-course-follow-up-page.md
  docs/需求和优化.md
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_dtos.py
  src/api/flaskr/service/shifu/route.py
  src/api/tests/service/shifu/test_admin_course_detail.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/operations/[shifu_bid]/follow-ups/FollowUpDetailSheet.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/follow-ups/page.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/follow-ups/page.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/operations/operation-course-routes.ts
  src/cook-web/src/app/admin/operations/operation-course-types.ts
  src/i18n/en-US/modules/operations-course.json
  src/i18n/zh-CN/modules/operations-course.json
Due: prettier-cook-web, eslint

chore: keep local optimization notes out of git
  docs/需求和优化.md
Due: none

fix: address follow-up review feedback
  docs/operator-course-follow-up-page.md
  src/api/flaskr/service/shifu/admin.py
  src/api/tests/service/shifu/test_admin_course_detail.py
  src/cook-web/src/app/admin/operations/[shifu_bid]/follow-ups/page.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/follow-ups/page.tsx
  src/i18n/en-US/modules/operations-course.json
Due: prettier-cook-web, eslint

fix: polish follow-up page review issues
  src/api/flaskr/service/shifu/admin.py
  src/cook-web/src/app/admin/components/AdminDateRangeFilter.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/follow-ups/FollowUpDetailSheet.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/follow-ups/page.tsx
Due: prettier-cook-web, eslint

fix(billing): unify plan feature lists and update plan descriptions
  src/cook-web/src/components/billing/BillingOverviewCards.tsx
  src/cook-web/src/components/billing/BillingOverviewShowcase.tsx
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

fix(scripts): detect bare i18n key literals in translation usage checker
  scripts/check_translation_usage.py
Due: none

fix(i18n): align en-US premium onboarding copy with yearly.premium.support
  src/i18n/en-US/modules/billing.json
Due: none

fix(i18n): avoid false positives in translation usage checks
  scripts/check_translation_usage.py
  src/cook-web/SKILL.md
Due: prettier-cook-web

fix(billing): unify plan features and update descriptions (#1559)
  scripts/check_translation_usage.py
  src/cook-web/SKILL.md
  src/cook-web/src/components/billing/BillingOverviewCards.tsx
  src/cook-web/src/components/billing/BillingOverviewShowcase.tsx
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

fix(billing): remove deprecated package benefit copy
  src/cook-web/SKILL.md
  src/cook-web/src/components/billing/BillingOverviewCards.tsx
  src/cook-web/src/components/billing/BillingOverviewTab.test.tsx
  src/cook-web/src/lib/billing.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

fix(billing): remove deprecated package benefit copy (#1560)
  src/cook-web/SKILL.md
  src/cook-web/src/components/billing/BillingOverviewCards.tsx
  src/cook-web/src/components/billing/BillingOverviewTab.test.tsx
  src/cook-web/src/lib/billing.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

fix(admin): update membership card copy in billing sidebar
  src/cook-web/SKILL.md
  src/cook-web/src/app/admin/layout.test.tsx
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.test.tsx
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.tsx
  src/cook-web/src/components/billing/BillingRecentActivitySection.test.tsx
  src/cook-web/src/components/billing/BillingRecentActivitySection.tsx
  src/cook-web/src/components/billing/BillingSidebarCard.tsx
  src/cook-web/src/lib/billing.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

feat(operator): improve user credits detail display
  docs/operator-user-points-columns.md
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_dtos.py
  src/api/flaskr/service/shifu/route.py
  src/api/tests/service/shifu/test_admin_users.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/operations/operation-user-types.ts
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.tsx
  src/cook-web/src/app/admin/operations/users/page.test.tsx
  src/cook-web/src/app/admin/operations/users/page.tsx
  src/i18n/en-US/modules/operations-user.json
  src/i18n/zh-CN/modules/operations-user.json
  tasks.md
Due: prettier-cook-web, eslint

fix(billing): show credit balances as whole numbers without separators
  src/cook-web/SKILL.md
  src/cook-web/src/app/admin/layout.test.tsx
  src/cook-web/src/components/billing/AdminBillingAdjustDialog.tsx
  src/cook-web/src/components/billing/AdminBillingSubscriptionsTable.tsx
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.test.tsx
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.tsx
  src/cook-web/src/components/billing/BillingOverviewShowcase.tsx
  src/cook-web/src/components/billing/BillingRecentActivitySection.test.tsx
  src/cook-web/src/components/billing/BillingSidebarCard.tsx
  src/cook-web/src/lib/__tests__/billing.test.ts
  src/cook-web/src/lib/billing.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

fix(billing): update monthly plan card copy and highlight badge
  src/cook-web/src/components/billing/BillingOverviewCards.module.scss
  src/cook-web/src/components/billing/BillingOverviewShowcase.tsx
  src/cook-web/src/components/billing/BillingOverviewTab.test.tsx
  src/cook-web/src/components/billing/BillingRecentActivitySection.test.tsx
  src/cook-web/src/components/billing/BillingRecentActivitySection.tsx
  src/cook-web/src/components/billing/BillingSidebarCard.tsx
  src/cook-web/src/lib/__tests__/billing.test.ts
  src/cook-web/src/lib/billing.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

fix: update credit ui (#1561)
  src/cook-web/SKILL.md
  src/cook-web/src/app/admin/layout.test.tsx
  src/cook-web/src/components/billing/AdminBillingAdjustDialog.tsx
  src/cook-web/src/components/billing/AdminBillingSubscriptionsTable.tsx
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.test.tsx
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.tsx
  src/cook-web/src/components/billing/BillingOverviewCards.module.scss
  src/cook-web/src/components/billing/BillingOverviewShowcase.tsx
  src/cook-web/src/components/billing/BillingOverviewTab.test.tsx
  src/cook-web/src/components/billing/BillingRecentActivitySection.test.tsx
  src/cook-web/src/components/billing/BillingRecentActivitySection.tsx
  src/cook-web/src/components/billing/BillingSidebarCard.tsx
  src/cook-web/src/lib/__tests__/billing.test.ts
  src/cook-web/src/lib/billing.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

Handle learn SSE generator closes
  src/api/flaskr/service/learn/routes.py
  src/api/flaskr/service/learn/runscript_v2.py
  src/api/tests/service/learn/test_runscript_v2_lock.py
Due: none

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
