Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

chore: bump markdown-flow-ui for dev01 test
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

perf: preload the api app and default litellm to the local cost map
  src/api/flaskr/api/llm/__init__.py
  src/api/gunicorn.conf.py
Due: none

docs: record the worker memory fix in the overhaul plan
  docs/exec-plans/active/backend-overhaul-master.md
Due: none

chore: drop unused pandas and numpy pins
  src/api/requirements.txt
Due: none

chore: Add.claude to gitignore
  .gitignore
Due: none

fix: stabilize listen history reselection on dev01
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
Due: prettier-cook-web, eslint

fix: hand the request language to the run stream explicitly
  src/api/flaskr/service/learn/routes.py
  src/api/flaskr/service/learn/runscript_v2.py
  src/api/tests/service/learn/test_runscript_v2_lock.py
Due: none

fix: bump markdown-flow-ui for dev01
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: stabilize learn unknown error paths (#2122)
  src/api/flaskr/service/learn/listen_element_run_persistence.py
  src/api/flaskr/service/learn/runscript_v2.py
  src/api/tests/service/learn/test_listen_element_run_persistence.py
  src/api/tests/service/learn/test_runscript_v2_lock.py
  src/i18n/en-US/modules/backend/learn.json
  src/i18n/fr-FR/modules/backend/learn.json
  src/i18n/zh-CN/modules/backend/learn.json
Due: none

refactor: unify admin select visual defaults
  src/cook-web/src/app/admin/components/AdminRowActions.tsx
  src/cook-web/src/app/admin/components/adminFilterFieldBuilders.test.tsx
  src/cook-web/src/app/admin/components/adminFilterFieldBuilders.tsx
  src/cook-web/src/app/admin/orders/CreatorRedemptionCodesFilterPanel.tsx
  src/cook-web/src/app/admin/orders/OrdersFilterPanel.tsx
  src/cook-web/src/app/admin/orders/creatorRedemptionCodeShared.ts
  src/cook-web/src/components/ui/DropdownMenu.test.tsx
  src/cook-web/src/components/ui/DropdownMenu.tsx
  src/cook-web/src/components/ui/Select.test.tsx
  src/cook-web/src/components/ui/Select.tsx
Due: prettier-cook-web, eslint

fix: clear stale learn retry streaming guard
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix: preserve learn stream guard on status errors
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix: clear stale learn retry streaming guard (#2126)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

refactor: trim admin select builder style exports
  src/cook-web/src/app/admin/components/adminFilterFieldBuilders.test.tsx
  src/cook-web/src/app/admin/components/adminFilterFieldBuilders.tsx
Due: prettier-cook-web, eslint

fix(api): downgrade summary shutdown race logs
  src/api/flaskr/service/shifu/shifu_publish_funcs.py
  src/api/tests/service/shifu/test_shifu_publish_funcs.py
Due: none

fix: rebuild draft struct after default outline init
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/api/flaskr/service/shifu/shifu_history_manager.py
  src/api/flaskr/service/shifu/shifu_outline_funcs.py
  src/api/tests/service/shifu/test_archive.py
  src/api/tests/service/shifu/test_shifu_history_manager.py
Due: none

fix: align admin row action disabled cursor
  src/cook-web/src/app/admin/components/AdminRowActions.test.tsx
  src/cook-web/src/app/admin/components/AdminRowActions.tsx
Due: prettier-cook-web, eslint

refactor: share dropdown checkable item classes
  src/cook-web/src/components/ui/DropdownMenu.test.tsx
  src/cook-web/src/components/ui/DropdownMenu.tsx
Due: prettier-cook-web, eslint

fix: add operator customization grants and logo uploads
  docs/design-docs/creator-brand-domain-payments.md
  docs/exec-plans/active/creator-brand-domain-payments.md
  src/api/flaskr/service/billing/capabilities.py
  src/api/flaskr/service/billing/customization.py
  src/api/flaskr/service/billing/routes.py
  src/api/tests/service/billing/test_billing_routes.py
  src/api/tests/service/billing/test_creator_customization.py
  src/cook-web/src/api/api.test.ts
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/billing/admin/page.test.tsx
  src/cook-web/src/components/billing/AdminBillingEntitlementDialog.tsx
  src/cook-web/src/components/billing/AdminBillingEntitlementsTable.tsx
  src/cook-web/src/components/billing/BillingCustomizationPanel.test.tsx
  src/cook-web/src/components/billing/BillingCustomizationPanel.tsx
  src/cook-web/src/lib/billing.ts
  src/cook-web/src/types/billing.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/fr-FR/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

refactor: tighten draft outline history rebuild helpers
  src/api/flaskr/service/shifu/shifu_outline_funcs.py
Due: none

fix: require modern TLS for domain probes
  src/api/flaskr/service/billing/domains.py
  src/api/tests/service/billing/test_billing_domains.py
Due: none

fix: preserve customization compatibility without plugins
  src/api/flaskr/service/billing/customization.py
  src/api/tests/service/billing/test_billing_entitlements.py
  src/api/tests/service/billing/test_billing_v11_upgrade_validation.py
  src/api/tests/service/billing/test_creator_customization.py
  src/api/tests/service/shifu/test_shifu_public_urls.py
Due: none

fix: rebuild draft struct after default outline init (#2128)
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/api/flaskr/service/shifu/shifu_history_manager.py
  src/api/flaskr/service/shifu/shifu_outline_funcs.py
  src/api/tests/service/shifu/test_archive.py
  src/api/tests/service/shifu/test_shifu_history_manager.py
Due: none

fix: restore saas config override compatibility
  src/api/flaskr/service/config/__init__.py
  src/api/flaskr/service/config/funcs.py
  src/api/tests/service/config/test_funcs.py
Due: none

feat: add outline structure repair tooling
  src/api/flaskr/command/__init__.py
  src/api/flaskr/service/shifu/cli.py
  src/api/flaskr/service/shifu/repair.py
  src/api/flaskr/service/shifu/shifu_outline_funcs.py
  src/api/tests/service/shifu/test_outline_repair.py
Due: none

fix: keep outline parent links in sync on reorder
  src/api/flaskr/service/shifu/shifu_outline_funcs.py
  src/api/tests/service/shifu/test_reorder_outline_tree.py
Due: none

fix: preserve nested config overrides
  src/api/flaskr/service/config/funcs.py
  src/api/tests/service/config/test_funcs.py
Due: none

fix: harden outline repair edge cases
  src/api/flaskr/service/shifu/repair.py
  src/api/tests/service/shifu/test_outline_repair.py
Due: none

fix: tighten reorder history typing
  src/api/flaskr/service/shifu/shifu_outline_funcs.py
Due: none

fix: keep provider errors out of the staging failure log message
  src/api/flaskr/service/billing/credit_notifications.py
Due: none

fix: keep pending renewal retries queued for reconcile
  src/api/flaskr/service/billing/renewal.py
Due: none

fix: align learn login gate checks and guard missing progress records
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/run/state.py
Due: none

fix: use utc clocks and cap page size in operator listings
  src/api/flaskr/service/shifu/admin_course_summaries.py
  src/api/flaskr/service/shifu/admin_operations/courses_listing.py
  src/api/flaskr/service/shifu/admin_user_profiles.py
  src/api/tests/service/shifu/test_admin_users.py
Due: none

perf: batch active subscription lookups for operator credit summaries
  src/api/flaskr/service/shifu/admin_user_credits.py
Due: none

refactor: dedupe course shared constants into admin_shared
  src/api/flaskr/service/shifu/admin_operations/courses_shared.py
Due: none

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
