Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

fix: mock
  src/cook-web/public/mock-fixtures/test/data.json
Due: prettier-cook-web

feat: upgrade ui (#1616)
  src/cook-web/SKILL.md
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/public/mock-fixtures/test/data.json
  src/cook-web/skills/chat-element-streaming/SKILL.md
  src/cook-web/skills/fullscreen-dialog-portal/SKILL.md
  src/cook-web/skills/listen-mode-audio-streaming/SKILL.md
  src/cook-web/src/app/admin/layout.test.tsx
  src/cook-web/src/app/admin/page.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/c-api/mockRunStreamFixture.test.ts
  src/cook-web/src/c-api/mockRunStreamFixture.ts
  src/cook-web/src/c-api/studyV2.ts
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.tsx
  src/cook-web/src/components/billing/BillingRecentActivitySection.tsx
  src/cook-web/src/components/billing/BillingSidebarCard.tsx
  src/cook-web/src/components/billing/billingSectionTitleClass.ts
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/components/ui/Dialog.test.tsx
  src/cook-web/src/components/ui/Dialog.tsx
  src/cook-web/src/lib/billing.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

deploy
  deploy/DEPLOY.md
  deploy/nginx/ai-shifu.conf
Due: none

走npm build的deploy
  deploy/DEPLOY.md
  deploy/nginx/ai-shifu.conf
Due: none

feat: refine operator user filters and guest display
  src/cook-web/src/app/admin/operations/users/page.test.tsx
  src/cook-web/src/app/admin/operations/users/page.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/operations-user.json
  src/i18n/zh-CN/modules/operations-user.json
Due: prettier-cook-web, eslint

fix: address operator ratings review feedback
  src/api/tests/service/shifu/test_admin_course_detail.py
  src/cook-web/src/app/admin/operations/[shifu_bid]/follow-ups/page.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/ratings/page.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/operations-course.json
  src/i18n/zh-CN/modules/operations-course.json
Due: prettier-cook-web, eslint

feat: add operator course ratings page
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_dtos.py
  src/api/flaskr/service/shifu/route.py
  src/api/tests/service/shifu/test_admin_course_detail.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/components/AdminDateRangeFilter.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/follow-ups/page.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/follow-ups/page.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/ratings/page.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/ratings/page.tsx
  src/cook-web/src/app/admin/operations/operation-course-routes.ts
  src/cook-web/src/app/admin/operations/operation-course-types.ts
  src/i18n/en-US/modules/operations-course.json
  src/i18n/zh-CN/modules/operations-course.json
Due: prettier-cook-web, eslint

fix: refine operator date range filters
  src/cook-web/src/app/admin/components/AdminDateRangeFilter.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/follow-ups/page.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/ratings/page.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/operations-course.json
  src/i18n/zh-CN/modules/operations-course.json
Due: prettier-cook-web, eslint

fix: polish operator ratings review follow-ups
  src/cook-web/src/app/admin/operations/[shifu_bid]/ratings/page.tsx
Due: prettier-cook-web, eslint

test: cover invalid operator ratings filters
  src/api/tests/service/shifu/test_admin_course_detail.py
Due: none

test: fix ratings nickname filter expectation
  src/api/tests/service/shifu/test_admin_course_detail.py
Due: none

fix: correct ratings guest account labeling
  src/cook-web/src/app/admin/operations/[shifu_bid]/ratings/page.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/ratings/page.tsx
Due: prettier-cook-web, eslint

nginx部署成功
  deploy/DEPLOY.md
  deploy/nginx/ai-shifu.conf
Due: none

fix: polish operator user search layout
  src/cook-web/src/app/admin/operations/users/page.test.tsx
  src/cook-web/src/app/admin/operations/users/page.tsx
  src/cook-web/src/types/i18n-keys.d.ts
Due: prettier-cook-web, eslint

fix: clarify admin operations timezone display
  src/cook-web/src/app/admin/components/AdminTimezoneHint.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/follow-ups/FollowUpDetailSheet.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/follow-ups/page.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/follow-ups/page.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/operations/orders/CreditOrderDetailDialog.tsx
  src/cook-web/src/app/admin/operations/orders/CreditOrdersTab.test.tsx
  src/cook-web/src/app/admin/operations/orders/OperatorOrderDetailSheet.test.tsx
  src/cook-web/src/app/admin/operations/orders/OperatorOrderDetailSheet.tsx
  src/cook-web/src/app/admin/operations/orders/page.test.tsx
  src/cook-web/src/app/admin/operations/orders/page.tsx
  src/cook-web/src/app/admin/operations/page.test.tsx
  src/cook-web/src/app/admin/operations/page.tsx
  src/cook-web/src/app/admin/operations/promotions/page.test.tsx
  src/cook-web/src/app/admin/operations/promotions/page.tsx
  src/cook-web/src/app/admin/operations/users/UserCreditGrantDialog.test.tsx
  src/cook-web/src/app/admin/operations/users/UserCreditGrantDialog.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.tsx
  src/cook-web/src/app/admin/operations/users/page.test.tsx
  src/cook-web/src/app/admin/operations/users/page.tsx
  src/i18n/en-US/modules/operations-course.json
  src/i18n/en-US/modules/operations-order.json
  src/i18n/en-US/modules/operations-promotion.json
  src/i18n/en-US/modules/operations-user.json
  src/i18n/zh-CN/modules/operations-course.json
  src/i18n/zh-CN/modules/operations-order.json
  src/i18n/zh-CN/modules/operations-promotion.json
  src/i18n/zh-CN/modules/operations-user.json
Due: prettier-cook-web, eslint

fix: polish admin timezone hint behavior
  src/cook-web/src/app/admin/components/AdminTimezoneHint.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.tsx
Due: prettier-cook-web, eslint

chore: dedupe operator timezone hint translations
  src/i18n/en-US/modules/operations-user.json
  src/i18n/zh-CN/modules/operations-user.json
Due: none

Remove admin timezone hint copy
  src/cook-web/src/app/admin/components/AdminTimezoneHint.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/follow-ups/FollowUpDetailSheet.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/follow-ups/page.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/follow-ups/page.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/operations/orders/CreditOrderDetailDialog.tsx
  src/cook-web/src/app/admin/operations/orders/CreditOrdersTab.test.tsx
  src/cook-web/src/app/admin/operations/orders/OperatorOrderDetailSheet.test.tsx
  src/cook-web/src/app/admin/operations/orders/OperatorOrderDetailSheet.tsx
  src/cook-web/src/app/admin/operations/orders/page.test.tsx
  src/cook-web/src/app/admin/operations/orders/page.tsx
  src/cook-web/src/app/admin/operations/page.test.tsx
  src/cook-web/src/app/admin/operations/page.tsx
  src/cook-web/src/app/admin/operations/promotions/page.test.tsx
  src/cook-web/src/app/admin/operations/promotions/page.tsx
  src/cook-web/src/app/admin/operations/users/UserCreditGrantDialog.test.tsx
  src/cook-web/src/app/admin/operations/users/UserCreditGrantDialog.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.tsx
  src/cook-web/src/app/admin/operations/users/page.test.tsx
  src/cook-web/src/app/admin/operations/users/page.tsx
  src/i18n/en-US/modules/operations-course.json
  src/i18n/en-US/modules/operations-order.json
  src/i18n/en-US/modules/operations-promotion.json
  src/i18n/en-US/modules/operations-user.json
  src/i18n/zh-CN/modules/operations-course.json
  src/i18n/zh-CN/modules/operations-order.json
  src/i18n/zh-CN/modules/operations-promotion.json
  src/i18n/zh-CN/modules/operations-user.json
Due: prettier-cook-web, eslint

Fix import activation confirmation dialog layering
  src/cook-web/src/components/ui/AlertDialog.test.tsx
  src/cook-web/src/components/ui/AlertDialog.tsx
Due: prettier-cook-web, eslint

Address alert dialog review feedback
  src/cook-web/src/components/ui/AlertDialog.test.tsx
  src/cook-web/src/components/ui/AlertDialog.tsx
Due: prettier-cook-web, eslint

fix: prevent import activation confirm dialog from hiding behind modal (#1620)
  src/cook-web/src/components/ui/AlertDialog.test.tsx
  src/cook-web/src/components/ui/AlertDialog.tsx
Due: prettier-cook-web, eslint

Remove unused course detail title wrapper
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
Due: prettier-cook-web, eslint

feat: refine operator user management filters (#1618)
  src/cook-web/src/app/admin/operations/users/page.test.tsx
  src/cook-web/src/app/admin/operations/users/page.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/operations-user.json
  src/i18n/zh-CN/modules/operations-user.json
Due: prettier-cook-web, eslint

fix: clarify admin operations timezone display (#1619)
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/orders/CreditOrdersTab.test.tsx
  src/cook-web/src/app/admin/operations/orders/OperatorOrderDetailSheet.test.tsx
  src/cook-web/src/app/admin/operations/page.test.tsx
  src/cook-web/src/app/admin/operations/promotions/page.tsx
  src/cook-web/src/app/admin/operations/users/UserCreditGrantDialog.test.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.test.tsx
Due: prettier-cook-web, eslint

fix: align operator promotion legacy compatibility
  src/api/flaskr/service/order/coupon_funcs.py
  src/api/flaskr/service/promo/admin.py
  src/api/flaskr/service/promo/funcs.py
  src/api/tests/service/promo/test_admin_promotions.py
  src/api/tests/test_discount.py
  src/api/tests/test_fix_discount.py
  src/api/tests/test_order.py
  src/cook-web/src/components/ui/Select.test.tsx
  src/cook-web/src/components/ui/Select.tsx
Due: prettier-cook-web, eslint

fix: tighten legacy promotion enablement rules
  src/api/flaskr/service/order/coupon_funcs.py
  src/api/flaskr/service/promo/admin.py
  src/api/flaskr/service/promo/api.py
  src/api/flaskr/service/promo/funcs.py
  src/api/tests/service/promo/test_admin_promotions.py
Due: none

fix: polish promotion review follow-ups
  src/api/flaskr/service/promo/funcs.py
  src/cook-web/src/components/ui/Dialog.tsx
  src/cook-web/src/components/ui/Select.test.tsx
  src/cook-web/src/components/ui/Select.tsx
Due: prettier-cook-web, eslint

fix: align operator promotion legacy compatibility (#1621)
  src/api/flaskr/service/order/coupon_funcs.py
  src/api/flaskr/service/promo/admin.py
  src/api/flaskr/service/promo/api.py
  src/api/flaskr/service/promo/funcs.py
  src/api/tests/service/promo/test_admin_promotions.py
  src/api/tests/test_discount.py
  src/api/tests/test_fix_discount.py
  src/api/tests/test_order.py
  src/cook-web/src/components/ui/Dialog.tsx
  src/cook-web/src/components/ui/Select.test.tsx
  src/cook-web/src/components/ui/Select.tsx
Due: prettier-cook-web, eslint

Fix native learner payment status sync
  src/api/tests/service/billing/test_billing_callbacks.py
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModal.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModalM.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/hooks/usePaymentFlow.ts
Due: prettier-cook-web, eslint

feat: add operator course ratings page (#1617)
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_dtos.py
  src/api/flaskr/service/shifu/route.py
  src/api/tests/service/shifu/test_admin_course_detail.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/components/AdminDateRangeFilter.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/follow-ups/page.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/follow-ups/page.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/ratings/page.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/ratings/page.tsx
  src/cook-web/src/app/admin/operations/operation-course-routes.ts
  src/cook-web/src/app/admin/operations/operation-course-types.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/operations-course.json
  src/i18n/zh-CN/modules/operations-course.json
Due: prettier-cook-web, eslint

Add captcha ticket flow for SMS login
  docker/.env.example.full
  docker/docker-compose.dev.yml
  src/api/flaskr/common/config.py
  src/api/flaskr/route/user.py
  src/api/flaskr/service/user/auth/providers/phone.py
  src/api/flaskr/service/user/captcha.py
  src/api/flaskr/service/user/utils.py
  src/api/tests/conftest.py
  src/api/tests/service/user/test_captcha_routes.py
  src/api/tests/service/user/test_trial_credit_bootstrap.py
  src/cook-web/e2e/smoke.spec.ts
  src/cook-web/src/api/api.test.ts
  src/cook-web/src/api/api.ts
  src/cook-web/src/c-api/user.ts
  src/cook-web/src/c-components/Settings/SetPasswordModal.tsx
  src/cook-web/src/components/auth/ImageCaptchaInput.tsx
  src/cook-web/src/components/auth/PhoneLogin.test.tsx
  src/cook-web/src/components/auth/PhoneLogin.tsx
  src/cook-web/src/hooks/useAuth.ts
  src/cook-web/src/hooks/useCaptchaTicket.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/auth.json
  src/i18n/en-US/modules/backend/user.json
  src/i18n/zh-CN/modules/auth.json
  src/i18n/zh-CN/modules/backend/user.json
Due: prettier-cook-web, eslint

Improve captcha readability
  src/api/flaskr/service/user/captcha.py
  src/api/tests/service/user/test_captcha_routes.py
  src/cook-web/src/components/auth/ImageCaptchaInput.tsx
Due: prettier-cook-web, eslint

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

Fix Google auth tests with HOST_URL
  src/api/tests/service/user/test_google_auth.py
Due: none

Revert "feat: update mdf-ui"
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: ignore keyboard resize in listen mode layout
  src/cook-web/skills/listen-mode-slide-mobile-integration/SKILL.md
  src/cook-web/src/app/c/[[...id]]/page.tsx
Due: prettier-cook-web, eslint

feat: optimize operator promotion management
  scripts/check_translation_usage.py
  src/api/flaskr/service/promo/admin.py
  src/api/flaskr/service/shifu/route.py
  src/api/tests/service/promo/test_admin_promotions.py
  src/cook-web/src/app/admin/operations/promotions/page.test.tsx
  src/cook-web/src/app/admin/operations/promotions/page.tsx
  src/i18n/en-US/modules/operations-promotion.json
  src/i18n/zh-CN/modules/operations-promotion.json
Due: prettier-cook-web, eslint

fix: ignore keyboard resize in listen mode layout (#1625)
  src/cook-web/skills/listen-mode-slide-mobile-integration/SKILL.md
  src/cook-web/src/app/c/[[...id]]/page.tsx
Due: prettier-cook-web, eslint

fix: address promotion management review feedback
  scripts/check_translation_usage.py
  src/api/flaskr/service/promo/admin.py
  src/api/tests/service/promo/test_admin_promotions.py
  src/cook-web/src/app/admin/operations/promotions/page.test.tsx
  src/cook-web/src/app/admin/operations/promotions/page.tsx
  src/i18n/en-US/modules/operations-promotion.json
  src/i18n/zh-CN/modules/operations-promotion.json
Due: prettier-cook-web, eslint

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
