Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

feat: update mdf-ui (#1157)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: tailwind upgrade
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/postcss.config.mjs
  src/cook-web/src/app/globals.css
  src/cook-web/tailwind.config.ts
Due: prettier-cook-web, eslint

feat: add ui-lib.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/layout.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/src/app/admin/page.tsx
Due: prettier-cook-web, eslint

feat: improve teaching prompts description clarity
  src/i18n/en-US/modules/shifu.json
  src/i18n/zh-CN/modules/shifu.json
Due: none

feat: add customizable target URL for MarkdownFlow links
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/components/ui/MarkdownFlowLink.tsx
Due: prettier-cook-web, eslint

feat: update English translation for better clarity
  src/i18n/en-US/modules/shifu.json
Due: none

refactor: improve MarkdownFlowLink component robustness
  src/cook-web/src/components/ui/MarkdownFlowLink.tsx
Due: prettier-cook-web, eslint

feat: update ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: update ui (#1159)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

refactor: optimize MarkdownFlowLink component per review feedback
  src/cook-web/src/components/ui/MarkdownFlowLink.tsx
Due: prettier-cook-web, eslint

feat: improve UI descriptions and add customizable MarkdownFlow links (#1158)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/components/lesson-preview/VariableList.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/components/ui/MarkdownFlowLink.tsx
  src/i18n/en-US/modules/shifu.json
  src/i18n/zh-CN/modules/preview.json
  src/i18n/zh-CN/modules/shifu.json
Due: prettier-cook-web, eslint

fix: remove context list temporary
  src/api/flaskr/service/learn/context_v2.py
Due: none

feat: upgrade tailwind to v4 (#1162)
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/postcss.config.mjs
  src/cook-web/src/app/admin/page.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/globals.css
  src/cook-web/src/app/layout.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/tailwind.config.ts
Due: prettier-cook-web, eslint

fix: remove context list temporary (#1161)
  src/api/flaskr/service/learn/context_v2.py
Due: none

fix: delete markdown-flow-ui lib css
  src/cook-web/package-lock.json
  src/cook-web/src/app/layout.tsx
Due: prettier-cook-web, eslint

fix: delete markdown-flow-ui lib css (#1163)
  src/cook-web/package-lock.json
  src/cook-web/src/app/layout.tsx
Due: prettier-cook-web, eslint

fix: auto focus ask input field (#1152)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
Due: prettier-cook-web, eslint

fix: set outlineitem type to guest when create
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/api/flaskr/service/shifu/shifu_outline_funcs.py
Due: none

fix: set outlineitem type to guest when create (#1164)
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/api/flaskr/service/shifu/shifu_outline_funcs.py
Due: none

fix: block cross-outline mdflow saves while another save is in flight
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

fix: add log
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

fix: tie mdflow state to current outline ref and cache to prevent cross-lesson overwrite
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

fix: block cross-outline mdflow saves while another save is in flight (#1166)
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

fix: ask block width should be 100%
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.module.scss
Due: prettier-cook-web

fix: ask block width should be 100% (#1167)
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.module.scss
Due: prettier-cook-web

fix: default expand ask follow-up when present and sync expanded state usage
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix: disable focus
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
Due: prettier-cook-web, eslint

fix: default expand ask follow-up when present and sync expanded state usage (#1168)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix: speed up first click in course card
  src/cook-web/src/app/admin/page.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

fix: speed up first click in course card (#1169)
  src/cook-web/src/app/admin/page.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

fix: send umami pageview before identify
  src/cook-web/src/c-common/tools/tracking.ts
  src/cook-web/src/components/analytics/UmamiLoader.tsx
Due: prettier-cook-web, eslint

fix: ensure umami identify precedes pageview
  src/cook-web/src/c-common/tools/tracking.ts
  src/cook-web/src/components/analytics/UmamiLoader.tsx
Due: prettier-cook-web, eslint

refactor: use context v2 for preview
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/preview_service.py
  src/api/flaskr/service/learn/routes.py
Due: none

refactor: centralize mdflow context helpers
  src/api/flaskr/service/learn/context_v2.py
Due: none

refactor: share context v2 mdflow handler
  src/api/flaskr/service/learn/context_v2.py
Due: none

fix: remove context
  src/api/flaskr/service/learn/context_v2.py
Due: none

fix: avoid localhost api base fallback
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
  src/cook-web/src/lib/file.ts
  src/cook-web/src/lib/request.ts
Due: prettier-cook-web, eslint

fix: avoid localhost api base fallback (#1170)
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
  src/cook-web/src/lib/file.ts
  src/cook-web/src/lib/request.ts
Due: prettier-cook-web, eslint
