Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

Format billing credits with seven decimals
  src/cook-web/src/components/billing/BillingLedgerTab.test.tsx
  src/cook-web/src/components/billing/BillingRecentActivitySection.test.tsx
  src/cook-web/src/components/billing/BillingUsageDetailSheet.tsx
  src/cook-web/src/lib/__tests__/billing.test.ts
  src/cook-web/src/lib/billing.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

Fix TTS runtime admission in learn mode
  src/api/flaskr/service/learn/routes.py
  src/api/tests/service/learn/test_runtime_tts_admission.py
Due: none

feat: support fullscreen for slide (#1519)
  src/cook-web/SKILL.md
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/skills/README.md
  src/cook-web/skills/chat-actionbar-ask-placement/SKILL.md
  src/cook-web/skills/chat-layout-width-detection/SKILL.md
  src/cook-web/skills/chat-system-interaction-button-overrides/SKILL.md
  src/cook-web/skills/fullscreen-dialog-portal/SKILL.md
  src/cook-web/skills/listen-mode-slide-mobile-integration/SKILL.md
  src/cook-web/src/__tests__/content-block-pay-interaction.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeTypes.ts
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavDrawer.module.css
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavDrawer.module.scss
  src/cook-web/src/app/c/[[...id]]/page.module.css
  src/cook-web/src/app/c/[[...id]]/page.module.scss
  src/cook-web/src/app/c/[[...id]]/page.tsx
  src/cook-web/src/app/globals.css
  src/cook-web/src/c-constants/uiConstants.ts
  src/cook-web/src/c-utils/browserFullscreen.ts
  src/cook-web/src/c-utils/system-interaction.ts
  src/cook-web/src/components/ui/Dialog.test.tsx
  src/cook-web/src/components/ui/Dialog.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/cook-web/src/types/markdown-flow-ui.d.ts
  src/i18n/en-US/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

fix: avoid false content-updated prompts when switching to chapters (#1518)
  src/cook-web/src/components/shifu-edit/ShifuEdit.test.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

fix(cook-web): prevent markdownflow editor from echoing transient variable input
  src/cook-web/SKILL.md
  src/cook-web/skills/README.md
  src/cook-web/skills/markdownflow-controlled-sync/SKILL.md
  src/cook-web/src/components/shifu-edit/ShifuEdit.test.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

fix(cook-web): prevent markdownflow editor from echoing transient variable input (#1520)
  src/cook-web/SKILL.md
  src/cook-web/skills/README.md
  src/cook-web/skills/markdownflow-controlled-sync/SKILL.md
  src/cook-web/src/components/shifu-edit/ShifuEdit.test.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

Align billing Pingxx checkout params with legacy flow
  src/api/flaskr/service/billing/checkout.py
  src/api/tests/service/billing/test_billing_write_routes.py
Due: none

fix(cook-web): rerun completed lessons after reset when records are cleared
  src/cook-web/SKILL.md
  src/cook-web/skills/README.md
  src/cook-web/skills/lesson-reset-run-gating/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/page.tsx
Due: prettier-cook-web, eslint

Add billing Pingxx payment polling
  src/cook-web/src/components/billing/BillingOrdersTable.test.tsx
  src/cook-web/src/components/billing/BillingOrdersTable.tsx
  src/cook-web/src/components/billing/BillingOverviewTab.test.tsx
  src/cook-web/src/components/billing/BillingOverviewTab.tsx
  src/cook-web/src/hooks/useBillingPingxxPolling.ts
  src/cook-web/src/types/billing.ts
Due: prettier-cook-web, eslint

Fix billing gate notices for learning streams
  src/cook-web/src/c-api/studyV2.ts
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
  src/cook-web/src/lib/request.test.ts
  src/cook-web/src/lib/request.ts
Due: prettier-cook-web, eslint

fix: bootstrap creator trial credits on auth
  src/api/flaskr/route/user.py
  src/api/flaskr/service/billing/trials.py
  src/api/tests/service/user/test_trial_credit_bootstrap.py
Due: none

Show detailed credit activity reasons
  src/cook-web/src/components/billing/BillingLedgerTab.test.tsx
  src/cook-web/src/components/billing/BillingLedgerTable.tsx
  src/cook-web/src/components/billing/BillingRecentActivitySection.test.tsx
  src/cook-web/src/components/billing/BillingRecentActivitySection.tsx
  src/cook-web/src/components/billing/BillingUsageDetailSheet.tsx
  src/cook-web/src/lib/billing.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

Enforce upgrade-only billing plan checkout
  src/api/error_codes.json
  src/api/flaskr/service/billing/checkout.py
  src/api/tests/service/billing/test_billing_write_routes.py
  src/i18n/en-US/modules/backend/billing.json
  src/i18n/zh-CN/modules/backend/billing.json
Due: none

revert: reset PR #1515 completed lesson autorun changes
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

Block billing plan downgrades in UI and checkout
  src/api/flaskr/service/billing/checkout.py
  src/api/tests/service/billing/test_billing_write_routes.py
  src/cook-web/src/components/billing/BillingOverviewShowcase.tsx
  src/cook-web/src/components/billing/BillingOverviewTab.test.tsx
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

fix(cook-web): stop rerunning after current lesson completes in sse
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

Show course context in billing usage ledger
  src/api/flaskr/service/billing/dtos.py
  src/api/flaskr/service/billing/read_models.py
  src/api/flaskr/service/billing/serializers.py
  src/api/tests/service/billing/test_billing_routes.py
  src/cook-web/src/components/billing/BillingLedgerTab.test.tsx
  src/cook-web/src/components/billing/BillingRecentActivitySection.test.tsx
  src/cook-web/src/lib/__tests__/billing.test.ts
  src/cook-web/src/lib/billing.ts
  src/cook-web/src/types/billing.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

Guard lesson ask requests during active output
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix: always grant missing creator trial credits
  src/api/flaskr/service/billing/trials.py
  src/api/tests/service/billing/test_billing_trial_credits.py
Due: none

fix(cook-web): stop rerunning after current lesson completes in sse (#1522)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

Fix learn runtime admission ordering
  src/api/flaskr/service/learn/routes.py
  src/api/flaskr/service/learn/runscript_v2.py
  src/api/tests/service/learn/test_runscript_v2_lock.py
  src/api/tests/service/learn/test_runtime_tts_admission.py
Due: none

fix: load db-backed billing config before default fallback
  src/api/flaskr/service/config/funcs.py
  src/api/tests/service/config/test_funcs.py
Due: none

fix(cook-web): remove billing sidebar menu entry
  src/cook-web/src/app/admin/admin-menu.tsx
Due: prettier-cook-web, eslint

refactor(cook-web): replace billing breadcrumb with peer tab buttons
  src/cook-web/src/app/admin/billing/page.test.tsx
  src/cook-web/src/app/admin/billing/page.tsx
Due: prettier-cook-web, eslint

refactor(cook-web): inline credits next to membership title in sidebar card
  src/cook-web/src/app/admin/layout.test.tsx
  src/cook-web/src/components/billing/BillingSidebarCard.tsx
Due: prettier-cook-web, eslint

Fix admin logout redirect for guest sessions
  src/cook-web/src/app/admin/layout.test.tsx
  src/cook-web/src/app/admin/layout.tsx
Due: prettier-cook-web, eslint

feat(cook-web): forward record subtitle cues into listen mode element list
  src/cook-web/skills/listen-mode-audio-streaming/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/c-api/studyV2.ts
Due: prettier-cook-web, eslint

perf: update markdown-flow dependent versions
  src/api/requirements.txt
Due: none

Use display names for billing checkout products
  src/api/flaskr/service/billing/checkout.py
  src/api/tests/service/billing/test_billing_write_routes.py
Due: none

Fix initial billing details tab flicker
  src/cook-web/src/app/admin/billing/AdminBillingPageClient.tsx
  src/cook-web/src/app/admin/billing/page.test.tsx
  src/cook-web/src/app/admin/billing/page.tsx
Due: prettier-cook-web, eslint

Fix billing timezone handling for ledger views
  src/api/flaskr/service/billing/serializers.py
  src/api/tests/service/billing/test_billing_routes.py
  src/cook-web/src/app/admin/billing/admin/page.test.tsx
  src/cook-web/src/app/admin/billing/page.test.tsx
  src/cook-web/src/components/billing/AdminBillingDomainsTable.tsx
  src/cook-web/src/components/billing/AdminBillingEntitlementsTable.tsx
  src/cook-web/src/components/billing/AdminBillingExceptionsPanel.tsx
  src/cook-web/src/components/billing/AdminBillingOrdersTable.tsx
  src/cook-web/src/components/billing/AdminBillingReportsPanel.tsx
  src/cook-web/src/components/billing/AdminBillingSubscriptionsTable.tsx
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.test.tsx
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.tsx
  src/cook-web/src/components/billing/BillingDomainsTab.test.tsx
  src/cook-web/src/components/billing/BillingDomainsTab.tsx
  src/cook-web/src/components/billing/BillingEntitlementsTab.test.tsx
  src/cook-web/src/components/billing/BillingLedgerTab.test.tsx
  src/cook-web/src/components/billing/BillingLedgerTable.tsx
  src/cook-web/src/components/billing/BillingOrderDetailSheet.tsx
  src/cook-web/src/components/billing/BillingOrdersTable.test.tsx
  src/cook-web/src/components/billing/BillingOrdersTable.tsx
  src/cook-web/src/components/billing/BillingOverviewTab.test.tsx
  src/cook-web/src/components/billing/BillingOverviewTab.tsx
  src/cook-web/src/components/billing/BillingRecentActivitySection.test.tsx
  src/cook-web/src/components/billing/BillingRecentActivitySection.tsx
  src/cook-web/src/components/billing/BillingReportsTab.test.tsx
  src/cook-web/src/components/billing/BillingReportsTab.tsx
  src/cook-web/src/hooks/useBillingData.ts
  src/cook-web/src/lib/__tests__/billing.test.ts
  src/cook-web/src/lib/billing.ts
Due: prettier-cook-web, eslint

Fix admin billing tab resolver boundary
  src/cook-web/src/app/admin/billing/AdminBillingPageClient.tsx
  src/cook-web/src/app/admin/billing/billingTabs.test.ts
  src/cook-web/src/app/admin/billing/billingTabs.ts
  src/cook-web/src/app/admin/billing/page.tsx
Due: prettier-cook-web, eslint

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

Refactor trial bootstrap via post-auth hooks
  docs/post-auth-trial-bootstrap.md
  src/api/flaskr/route/user.py
  src/api/flaskr/service/billing/auth_hooks.py
  src/api/flaskr/service/billing/trials.py
  src/api/flaskr/service/user/auth/providers/google.py
  src/api/flaskr/service/user/post_auth.py
  src/api/tests/service/billing/test_billing_trial_credits.py
  src/api/tests/service/user/test_trial_credit_bootstrap.py
  src/cook-web/src/app/admin/billing/AdminBillingPageClient.tsx
  src/cook-web/src/app/admin/layout.test.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

feat: add operator user management
  docs/operator-user-management.md
  src/api/Dockerfile
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_dtos.py
  src/api/flaskr/service/shifu/route.py
  src/api/requirements.txt
  src/api/tests/service/shifu/test_admin_users.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/admin-menu.tsx
  src/cook-web/src/app/admin/layout.test.tsx
  src/cook-web/src/app/admin/operations/operation-user-routes.ts
  src/cook-web/src/app/admin/operations/operation-user-types.ts
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.tsx
  src/cook-web/src/app/admin/operations/users/page.test.tsx
  src/cook-web/src/app/admin/operations/users/page.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/common/core.json
  src/i18n/en-US/modules/operations-user.json
  src/i18n/locales.json
  src/i18n/zh-CN/common/core.json
  src/i18n/zh-CN/modules/operations-user.json
Due: prettier-cook-web, eslint

fix: address operator user review feedback
  docs/operator-user-management.md
  src/api/flaskr/service/shifu/route.py
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.tsx
  src/cook-web/src/app/admin/operations/users/page.test.tsx
  src/cook-web/src/app/admin/operations/users/page.tsx
Due: prettier-cook-web, eslint

fix: harden operator user management
  docs/operator-user-management.md
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/route.py
  src/api/tests/service/shifu/test_admin_users.py
  src/cook-web/src/app/admin/layout.test.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.tsx
Due: prettier-cook-web, eslint

perf: update markdown-flow dependent versions (#1526)
  src/api/requirements.txt
Due: none

feat: add course visit count from umami
  docker/.env.example.full
  src/api/flaskr/common/config.py
  src/api/flaskr/common/umami_client.py
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_dtos.py
  src/api/tests/service/common/test_umami_client.py
  src/api/tests/service/shifu/test_admin_course_detail.py
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/operations/operation-course-types.ts
  src/cook-web/src/app/c/[[...id]]/courseVisitTracking.test.ts
  src/cook-web/src/app/c/[[...id]]/courseVisitTracking.ts
  src/cook-web/src/app/c/[[...id]]/page.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/operations-course.json
  src/i18n/zh-CN/modules/operations-course.json
Due: prettier-cook-web, eslint
