Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

fix: prevent login page phone rebinding (#1825)
  src/api/flaskr/route/user.py
  src/api/tests/service/user/test_password_routes.py
  src/cook-web/src/app/login/page.test.tsx
  src/cook-web/src/app/login/page.tsx
Due: prettier-cook-web, eslint

fix: preserve sms login session
  src/cook-web/src/app/login/page.test.tsx
  src/cook-web/src/app/login/page.tsx
Due: prettier-cook-web, eslint

fix: login session reset (#1826)
  src/cook-web/src/app/login/page.test.tsx
  src/cook-web/src/app/login/page.tsx
Due: prettier-cook-web, eslint

docs: add admin design guidelines
  src/cook-web/src/app/admin/design.md
Due: prettier-cook-web

fix: move billing activity section into admin route scope
  src/cook-web/SKILL.md
  src/cook-web/src/app/admin/billing/AdminBillingPageClient.tsx
  src/cook-web/src/app/admin/billing/components/BillingRecentActivitySection.test.tsx
  src/cook-web/src/app/admin/billing/components/BillingRecentActivitySection.tsx
Due: prettier-cook-web, eslint

feat: improve credit notification operations page
  src/api/flaskr/api/sms/aliyun.py
  src/api/flaskr/service/billing/api.py
  src/api/flaskr/service/billing/credit_notifications.py
  src/api/flaskr/service/billing/models.py
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/route.py
  src/api/migrations/versions/f4a6b8c2d9e1_add_notification_record_operator_indexes.py
  src/api/tests/service/billing/test_credit_notifications.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/components/AdminTooltipText.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationConfigTab.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationCreatorListsSection.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationDetailSheet.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationDryRunPanel.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationFormPrimitives.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationManagedListDialog.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationQuietTimeSelect.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationRecordsTab.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationTemplateSyncPanel.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationTypeConfigCard.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/creditNotificationUtils.ts
  src/cook-web/src/app/admin/operations/credit-notifications/page.test.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/page.tsx
  src/cook-web/src/app/admin/operations/operation-credit-notification-types.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/operations-credit-notifications.json
  src/i18n/fr-FR/modules/operations-credit-notifications.json
  src/i18n/zh-CN/modules/operations-credit-notifications.json
Due: prettier-cook-web, eslint

chore: format credit notification components
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationFormPrimitives.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationTemplateSyncPanel.tsx
Due: prettier-cook-web, eslint

fix: respect X-Forwarded-Port for non-standard port preview URLs
  docker/nginx.conf
  docker/nginx.dev.conf
  src/api/flaskr/common/public_urls.py
  src/api/tests/common/test_public_urls.py
Due: none

fix: preserve newest notification template row
  src/api/flaskr/service/billing/credit_notifications.py
Due: none

fix: align credit notification review updates
  src/api/flaskr/service/billing/credit_notifications.py
  src/api/tests/service/billing/test_credit_notifications.py
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationDetailSheet.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationRecordsTab.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationTypeConfigCard.tsx
Due: prettier-cook-web, eslint

fix: respect empty template compatibility lists
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationTypeConfigCard.tsx
Due: prettier-cook-web, eslint

fix: address credit notification follow-up review
  src/api/flaskr/service/billing/credit_notifications.py
  src/api/tests/service/billing/test_credit_notifications.py
  src/i18n/en-US/modules/operations-credit-notifications.json
  src/i18n/fr-FR/modules/operations-credit-notifications.json
  src/i18n/zh-CN/modules/operations-credit-notifications.json
Due: none

fix: clarify skipped notification status labels
  src/i18n/en-US/modules/operations-credit-notifications.json
  src/i18n/fr-FR/modules/operations-credit-notifications.json
  src/i18n/zh-CN/modules/operations-credit-notifications.json
Due: none

fix: require verified notification credentials
  src/api/flaskr/service/billing/credit_notifications.py
  src/api/tests/service/billing/test_credit_notifications.py
Due: none

feat: Improve credit notification operations page (#1829)
  src/api/flaskr/api/sms/aliyun.py
  src/api/flaskr/service/billing/api.py
  src/api/flaskr/service/billing/credit_notifications.py
  src/api/flaskr/service/billing/models.py
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/route.py
  src/api/migrations/versions/f4a6b8c2d9e1_add_notification_record_operator_indexes.py
  src/api/tests/service/billing/test_credit_notifications.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationConfigTab.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationCreatorListsSection.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationDetailSheet.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationDryRunPanel.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationFormPrimitives.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationManagedListDialog.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationQuietTimeSelect.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationRecordsTab.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationTemplateSyncPanel.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationTypeConfigCard.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/creditNotificationUtils.ts
  src/cook-web/src/app/admin/operations/credit-notifications/page.test.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/page.tsx
  src/cook-web/src/app/admin/operations/operation-credit-notification-types.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/operations-credit-notifications.json
  src/i18n/fr-FR/modules/operations-credit-notifications.json
  src/i18n/zh-CN/modules/operations-credit-notifications.json
Due: prettier-cook-web, eslint

feat: add operator course credit usage details (#1815)
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_dtos.py
  src/api/flaskr/service/shifu/route.py
  src/api/tests/service/shifu/test_admin_course_detail.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/operations/[shifu_bid]/CourseCreditUsageTab.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/operations/operation-course-types.ts
  src/i18n/en-US/modules/operations-course.json
  src/i18n/fr-FR/modules/operations-course.json
  src/i18n/zh-CN/modules/operations-course.json
Due: prettier-cook-web, eslint

fix: guard empty credit usage filters
  src/api/flaskr/service/shifu/admin.py
  src/api/tests/service/shifu/test_admin_users.py
  src/i18n/en-US/modules/operations-user.json
Due: none

feat: add observability run artifacts and probes
  .gitignore
  docs/exec-plans/active/observability-artifacts-consistency-frontend-trace.md
  docs/exec-plans/index.md
  docs/generated/doc-inventory.md
  docs/generated/harness-health.md
  scripts/harness/trace_run.py
  src/api/scripts/observability_consistency_probes.py
  src/cook-web/e2e/smoke.spec.ts
  src/cook-web/src/c-api/c.ts
  src/cook-web/src/c-api/studyV2.ts
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/lib/api.ts
  src/cook-web/src/lib/file.ts
  src/cook-web/src/lib/request-trace.ts
  src/cook-web/src/lib/request.test.ts
  src/cook-web/src/lib/request.ts
Due: prettier-cook-web, eslint

feat: refactor preview context storage to support block index management
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_context_v2.py
Due: none

fix: stabilize promotion empty table layout
  src/cook-web/src/app/admin/operations/promotions/page.tsx
Due: prettier-cook-web, eslint

fix: invalidate preview context cache when document_hash is missing
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_context_v2.py
Due: none

fix: align promotion empty row review feedback
  src/cook-web/src/app/admin/operations/promotions/page.tsx
Due: prettier-cook-web, eslint

feat: refactor preview context storage to support block index management (#1834)
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_context_v2.py
Due: none

chore: Add observability run artifacts and probes (#1832)
  .gitignore
  docs/exec-plans/active/observability-artifacts-consistency-frontend-trace.md
  docs/exec-plans/index.md
  docs/generated/doc-inventory.md
  docs/generated/harness-health.md
  scripts/harness/trace_run.py
  src/api/scripts/observability_consistency_probes.py
  src/cook-web/e2e/smoke.spec.ts
  src/cook-web/src/c-api/c.ts
  src/cook-web/src/c-api/studyV2.ts
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/lib/api.ts
  src/cook-web/src/lib/file.ts
  src/cook-web/src/lib/request-trace.ts
  src/cook-web/src/lib/request.test.ts
  src/cook-web/src/lib/request.ts
Due: prettier-cook-web, eslint

feat: extend operator user credit usage tab (#1816)
  src/api/flaskr/api/llm/__init__.py
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_dtos.py
  src/api/flaskr/service/shifu/route.py
  src/api/tests/service/shifu/test_admin_course_detail.py
  src/api/tests/service/shifu/test_admin_users.py
  src/api/tests/test_llm.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/components/AdminTooltipText.test.tsx
  src/cook-web/src/app/admin/components/AdminTooltipText.tsx
  src/cook-web/src/app/admin/layout.test.tsx
  src/cook-web/src/app/admin/layout.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/CourseCreditUsageTab.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/operations/operation-course-types.ts
  src/cook-web/src/app/admin/operations/operation-user-types.ts
  src/cook-web/src/app/admin/operations/users/[user_bid]/UserCreditLedgerTab.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/UserDetailTabsSection.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/creditFilterUtils.ts
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.tsx
  src/cook-web/src/app/globals.css
  src/i18n/en-US/modules/operations-course.json
  src/i18n/en-US/modules/operations-user.json
  src/i18n/fr-FR/modules/operations-course.json
  src/i18n/fr-FR/modules/operations-user.json
  src/i18n/zh-CN/modules/operations-course.json
  src/i18n/zh-CN/modules/operations-user.json
Due: prettier-cook-web, eslint

• feat(cook-web): improve app error fallback details
  src/cook-web/SKILL.md
  src/cook-web/skills/README.md
  src/cook-web/skills/app-error-boundary-display/SKILL.md
  src/cook-web/skills/chat-layout-width-detection/SKILL.md
  src/cook-web/src/app/agreement/page.tsx
  src/cook-web/src/app/c/[[...id]]/layout.tsx
  src/cook-web/src/app/error.tsx
  src/cook-web/src/app/global-error.tsx
  src/cook-web/src/app/layout.tsx
  src/cook-web/src/c-constants/uiConstants.ts
  src/cook-web/src/components/error/AppErrorFallback.tsx
  src/cook-web/src/components/main-root/MainRoot.tsx
  src/cook-web/src/components/shifu-root/ShifuRoot.tsx
  src/cook-web/src/store/userProvider.tsx
Due: prettier-cook-web, eslint

feat(cook-web): improve app error fallback details (#1835)
  src/cook-web/SKILL.md
  src/cook-web/skills/README.md
  src/cook-web/skills/app-error-boundary-display/SKILL.md
  src/cook-web/skills/chat-layout-width-detection/SKILL.md
  src/cook-web/src/app/agreement/page.tsx
  src/cook-web/src/app/c/[[...id]]/layout.tsx
  src/cook-web/src/app/error.tsx
  src/cook-web/src/app/global-error.tsx
  src/cook-web/src/app/layout.tsx
  src/cook-web/src/c-constants/uiConstants.ts
  src/cook-web/src/components/error/AppErrorFallback.tsx
  src/cook-web/src/components/main-root/MainRoot.tsx
  src/cook-web/src/components/shifu-root/ShifuRoot.tsx
  src/cook-web/src/store/userProvider.tsx
Due: prettier-cook-web, eslint

feat: unify operator admin filters
  src/cook-web/src/app/admin/components/AdminClearableInput.tsx
  src/cook-web/src/app/admin/components/AdminFilter.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/CourseCreditUsageTab.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/CourseUsersTab.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/follow-ups/page.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/ratings/page.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationRecordsTab.tsx
  src/cook-web/src/app/admin/operations/orders/CreditOrdersTab.tsx
  src/cook-web/src/app/admin/operations/orders/LearnOrdersTab.tsx
  src/cook-web/src/app/admin/operations/orders/orderUiShared.tsx
  src/cook-web/src/app/admin/operations/page.tsx
  src/cook-web/src/app/admin/operations/promotions/page.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/UserCreditLedgerTab.tsx
  src/cook-web/src/app/admin/operations/users/page.tsx
Due: prettier-cook-web, eslint

fix: address operator filter review feedback
  src/cook-web/src/app/admin/components/AdminClearableInput.test.tsx
  src/cook-web/src/app/admin/components/AdminClearableInput.tsx
  src/cook-web/src/app/admin/components/AdminFilter.test.tsx
  src/cook-web/src/app/admin/operations/promotions/page.tsx
  src/cook-web/src/app/admin/orders/page.tsx
Due: prettier-cook-web, eslint

fix: improve billing usage table height and admin scrolling
  src/cook-web/skills/admin-table-visual-system/SKILL.md
  src/cook-web/src/app/admin/billing/components/BillingRecentActivitySection.test.tsx
  src/cook-web/src/app/admin/billing/components/BillingRecentActivitySection.tsx
  src/cook-web/src/app/admin/components/AdminTableShell.tsx
  src/cook-web/src/app/admin/layout.test.tsx
  src/cook-web/src/app/admin/layout.tsx
Due: prettier-cook-web, eslint

refactor: split promotion management page (#1833)
  src/cook-web/src/app/admin/operations/promotions/page.tsx
Due: prettier-cook-web, eslint

fix: improve billing usage table height and admin scrolling (#1837)
  src/cook-web/skills/admin-table-visual-system/SKILL.md
  src/cook-web/src/app/admin/billing/components/BillingRecentActivitySection.test.tsx
  src/cook-web/src/app/admin/billing/components/BillingRecentActivitySection.tsx
  src/cook-web/src/app/admin/components/AdminTableShell.tsx
  src/cook-web/src/app/admin/layout.test.tsx
  src/cook-web/src/app/admin/layout.tsx
Due: prettier-cook-web, eslint

fix: preserve promotion sticky empty rows
  src/cook-web/src/app/admin/operations/promotions/page.tsx
Due: prettier-cook-web, eslint

feat: unify operator admin filters (#1836)
  src/cook-web/src/app/admin/components/AdminClearableInput.test.tsx
  src/cook-web/src/app/admin/components/AdminClearableInput.tsx
  src/cook-web/src/app/admin/components/AdminFilter.test.tsx
  src/cook-web/src/app/admin/components/AdminFilter.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/CourseCreditUsageTab.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/CourseUsersTab.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/follow-ups/page.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/ratings/page.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationRecordsTab.tsx
  src/cook-web/src/app/admin/operations/orders/CreditOrdersTab.tsx
  src/cook-web/src/app/admin/operations/orders/LearnOrdersTab.tsx
  src/cook-web/src/app/admin/operations/orders/orderUiShared.tsx
  src/cook-web/src/app/admin/operations/page.tsx
  src/cook-web/src/app/admin/operations/promotions/page.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/UserCreditLedgerTab.tsx
  src/cook-web/src/app/admin/operations/users/page.tsx
  src/cook-web/src/app/admin/orders/page.tsx
Due: prettier-cook-web, eslint

feat: unify operator admin table actions
  src/cook-web/src/app/admin/components/AdminRowActions.test.tsx
  src/cook-web/src/app/admin/components/AdminRowActions.tsx
  src/cook-web/src/app/admin/components/AdminTableShell.test.tsx
  src/cook-web/src/app/admin/components/AdminTableShell.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/CourseChaptersTab.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/CourseCreditUsageTab.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/CourseUsersTab.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/follow-ups/page.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/ratings/page.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationRecordsTab.tsx
  src/cook-web/src/app/admin/operations/orders/CreditOrdersTab.tsx
  src/cook-web/src/app/admin/operations/orders/LearnOrdersTab.tsx
  src/cook-web/src/app/admin/operations/page.tsx
  src/cook-web/src/app/admin/operations/promotions/page.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/UserCreditLedgerTab.tsx
  src/cook-web/src/app/admin/operations/users/page.tsx
  src/cook-web/src/app/admin/orders/page.tsx
Due: prettier-cook-web, eslint

fix: preserve single-page pagination behavior
  src/cook-web/src/app/admin/operations/[shifu_bid]/CourseCreditUsageTab.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/CourseUsersTab.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/follow-ups/page.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/ratings/page.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationRecordsTab.tsx
  src/cook-web/src/app/admin/operations/orders/CreditOrdersTab.tsx
  src/cook-web/src/app/admin/operations/orders/LearnOrdersTab.tsx
  src/cook-web/src/app/admin/operations/promotions/page.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/UserCreditLedgerTab.tsx
  src/cook-web/src/app/admin/operations/users/page.tsx
Due: prettier-cook-web, eslint

fix: use translated pagination labels
  src/cook-web/src/app/admin/operations/[shifu_bid]/follow-ups/page.tsx
  src/cook-web/src/app/admin/operations/page.tsx
  src/cook-web/src/app/admin/operations/promotions/page.tsx
  src/cook-web/src/app/admin/operations/users/page.tsx
Due: prettier-cook-web, eslint

fix: avoid empty admin table footer
  src/cook-web/src/app/admin/components/AdminTableShell.test.tsx
  src/cook-web/src/app/admin/components/AdminTableShell.tsx
Due: prettier-cook-web, eslint
