Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

chore: address PR review feedback on billing comparison table
  src/cook-web/src/components/billing/BillingPlanComparisonTable.module.scss
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web

feat: add course follow-up section chart
  src/api/flaskr/service/dashboard/dtos.py
  src/api/flaskr/service/dashboard/funcs.py
  src/api/tests/service/dashboard/test_dashboard_routes.py
  src/cook-web/src/app/admin/dashboard/[shifu_bid]/page.test.tsx
  src/cook-web/src/app/admin/dashboard/[shifu_bid]/page.tsx
  src/cook-web/src/types/dashboard.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/dashboard.json
  src/i18n/zh-CN/modules/dashboard.json
Due: prettier-cook-web, eslint

feat(admin): redesign billing sidebar membership card layout
  src/cook-web/SKILL.md
  src/cook-web/src/app/admin/layout.test.tsx
  src/cook-web/src/components/billing/BillingSidebarCard.tsx
  src/cook-web/src/lib/billing.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

feat(billing): unify section title styles in credit details
  src/cook-web/SKILL.md
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.tsx
  src/cook-web/src/components/billing/BillingRecentActivitySection.tsx
  src/cook-web/src/components/billing/billingSectionTitleClass.ts
Due: prettier-cook-web, eslint

feat(admin): promote create course button to primary style
  src/cook-web/SKILL.md
  src/cook-web/src/app/admin/page.tsx
Due: prettier-cook-web, eslint

feat(settings): add top padding to shifu settings form content
  src/cook-web/SKILL.md
  src/cook-web/src/app/admin/page.tsx
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

refactor(cook-web): polish billing comparison table layout and copy
  src/cook-web/src/components/billing/BillingOverviewTab.tsx
  src/cook-web/src/components/billing/BillingPlanComparisonTable.tsx
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

chore(i18n): align welcome trial dialog copy with 15-day basic plan
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: none

fix: emit learn text before tts finalization
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_listen_elements.py
Due: none

fix: learn text streaming before TTS finalization (#1599)
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_listen_elements.py
Due: none

基于windows平台可运行的代码调整，项目管理课程数据迁移
  .gitignore
  src/api/.python-version
  src/api/app.py
  src/api/migrations/alembic.ini
  src/api/migrations/versions/6f6b5b40a411_seedcoursedata.py
  src/api/requirements.txt
  src/api/scripts/generate_course_seed_migration.py
  src/api/scripts/verify_migration.py
  src/cook-web/package-lock.json
  src/cook-web/src/app/page.tsx
  src/cook-web/src/lib/initializeEnvData.ts
  src/cook-web/src/lib/utils.ts
Due: prettier-cook-web, eslint

fix: add top spacing for the first read mode element
  src/cook-web/SKILL.md
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

feat: add operator promotions management (#1592)
  docs/operator-promotions.md
  src/api/flaskr/service/order/coupon_funcs.py
  src/api/flaskr/service/order/funs.py
  src/api/flaskr/service/promo/admin.py
  src/api/flaskr/service/promo/admin_dtos.py
  src/api/flaskr/service/promo/consts.py
  src/api/flaskr/service/promo/funcs.py
  src/api/flaskr/service/promo/models.py
  src/api/flaskr/service/shifu/route.py
  src/api/migrations/versions/4d9f6c7b8a1e_add_coupon_admin_fields.py
  src/api/tests/service/promo/test_admin_promotions.py
  src/api/tests/test_discount.py
  src/api/tests/test_fix_discount.py
  src/api/tests/test_order.py
  src/api/tests/test_query_order.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/admin-menu.tsx
  src/cook-web/src/app/admin/components/AdminDateRangeFilter.test.tsx
  src/cook-web/src/app/admin/components/AdminDateRangeFilter.tsx
  src/cook-web/src/app/admin/operations/operation-promotion-types.ts
  src/cook-web/src/app/admin/operations/promotions/page.test.tsx
  src/cook-web/src/app/admin/operations/promotions/page.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModal.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModalM.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/hooks/usePaymentFlow.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/common/core.json
  src/i18n/en-US/modules/operations-promotion.json
  src/i18n/locales.json
  src/i18n/zh-CN/common/core.json
  src/i18n/zh-CN/modules/operations-promotion.json
Due: prettier-cook-web, eslint

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix(cook-web): address PR 1596 review feedback on comparison table
  src/cook-web/src/components/billing/BillingPlanComparisonTable.tsx
Due: prettier-cook-web, eslint

chore(cook-web): route comparison table fallbacks through i18n
  src/cook-web/src/components/billing/BillingPlanComparisonTable.tsx
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

fix(api): handle string promo campaign datetimes
  src/api/flaskr/service/promo/admin.py
  src/api/tests/service/promo/test_admin_promotions.py
Due: none

fix(api): expose promo admin through service APIs
  src/api/flaskr/service/order/api.py
  src/api/flaskr/service/promo/admin.py
  src/api/flaskr/service/promo/api.py
  src/api/flaskr/service/shifu/route.py
Due: none

fix: validate tts audio assembly before upload
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/tts/audio_utils.py
  src/api/flaskr/service/tts/pipeline.py
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/flaskr/service/tts/subtitle_utils.py
  src/api/tests/service/learn/test_generated_block_tts_av_mode.py
  src/api/tests/service/tts/test_audio_utils.py
  src/api/tests/service/tts/test_minimax_http_streaming.py
  src/api/tests/service/tts/test_streaming_tts_subtitles.py
  src/api/tests/service/tts/test_tts_text_preprocess.py
Due: none

refactor(api): add stable promo service entrypoint
  src/api/flaskr/service/promo/admin.py
  src/api/flaskr/service/promo/api.py
  src/api/flaskr/service/shifu/route.py
Due: none

Revert "fix(api): expose promo admin through service APIs"
  src/api/flaskr/service/order/api.py
  src/api/flaskr/service/promo/admin.py
  src/api/flaskr/service/promo/api.py
  src/api/flaskr/service/shifu/route.py
Due: none

fix(api): export stable order helpers for promo facade
  src/api/flaskr/service/order/api.py
Due: none

refactor: add stable promo api entrypoint for architecture checks (#1602)
  src/api/flaskr/service/order/api.py
  src/api/flaskr/service/promo/admin.py
  src/api/flaskr/service/promo/api.py
  src/api/flaskr/service/shifu/route.py
Due: none

fix(api): soften promo datetime parsing fallback
  src/api/flaskr/service/promo/admin.py
  src/api/tests/service/promo/test_admin_promotions.py
Due: none

fix(api): add stable billing service entrypoint
  src/api/flaskr/service/billing/api.py
  src/api/flaskr/service/shifu/route.py
Due: none

fix: handle string datetimes in operator promotion campaigns (#1600)
  src/api/flaskr/service/promo/admin.py
  src/api/tests/service/promo/test_admin_promotions.py
Due: none

fix(cook-web): avoid false processing state when checkout provider is missing
  src/cook-web/src/components/billing/BillingPlanComparisonTable.tsx
Due: prettier-cook-web, eslint

docs(api): align operator pagination swagger defaults
  src/api/flaskr/service/shifu/route.py
Due: none

feat(cook-web): redesign billing plans as a comparison table (#1596)
  src/cook-web/src/components/billing/BillingOverviewCards.tsx
  src/cook-web/src/components/billing/BillingOverviewShowcase.tsx
  src/cook-web/src/components/billing/BillingOverviewTab.test.tsx
  src/cook-web/src/components/billing/BillingOverviewTab.tsx
  src/cook-web/src/components/billing/BillingPlanComparisonTable.module.scss
  src/cook-web/src/components/billing/BillingPlanComparisonTable.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

fix(cook-web): tone-driven button styling in billing plan comparison
  src/cook-web/src/components/billing/BillingPlanComparisonTable.module.scss
  src/cook-web/src/components/billing/BillingPlanComparisonTable.tsx
Due: prettier-cook-web, eslint

refactor(cook-web): use disabled:opacity-100 utility for current-plan button
  src/cook-web/src/components/billing/BillingPlanComparisonTable.module.scss
  src/cook-web/src/components/billing/BillingPlanComparisonTable.tsx
Due: prettier-cook-web, eslint

fix(run): stream visual elements without listen mode
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_context_v2.py
  src/api/tests/service/learn/test_listen_elements.py
Due: none

fix: remove nested user detail scrolling (#1569)
  src/cook-web/src/app/admin/billing/AdminBillingPageClient.tsx
  src/cook-web/src/app/admin/billing/page.test.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.tsx
  src/cook-web/src/components/billing/BillingRecentActivitySection.test.tsx
  src/cook-web/src/components/billing/BillingRecentActivitySection.tsx
Due: prettier-cook-web, eslint

fix: address follow-up chart review comments
  src/api/flaskr/service/dashboard/funcs.py
  src/cook-web/src/app/admin/dashboard/[shifu_bid]/page.test.tsx
  src/cook-web/src/app/admin/dashboard/[shifu_bid]/page.tsx
  src/cook-web/src/lib/dashboard/follow-up-section-chart.test.ts
  src/cook-web/src/lib/dashboard/follow-up-section-chart.ts
Due: prettier-cook-web, eslint

fix: avoid false draft conflict on lesson switch
  src/cook-web/src/components/shifu-edit/ShifuEdit.test.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

fix: rename follow-up chart title to section
  src/cook-web/src/app/admin/dashboard/[shifu_bid]/page.test.tsx
  src/cook-web/src/app/admin/dashboard/[shifu_bid]/page.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/dashboard.json
  src/i18n/zh-CN/modules/dashboard.json
Due: prettier-cook-web, eslint

refactor: guard redundant lesson buffer reset
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

fix: skip draft conflict before base revision init
  src/cook-web/src/components/shifu-edit/ShifuEdit.test.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

refactor(cook-web): hoist shared action button to remove duplicate render
  src/cook-web/src/components/billing/BillingPlanComparisonTable.tsx
Due: prettier-cook-web, eslint

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
