Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

fix: ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: enable global subpixel font smoothing (#1210)
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/layout.css
  src/cook-web/src/app/globals.css
  src/cook-web/src/app/layout.tsx
Due: prettier-cook-web, eslint

feature: add context to learn
  src/api/flaskr/service/learn/context_v2.py
Due: none

chore: remove code commented
  src/api/flaskr/service/learn/context_v2.py
Due: none

feat: upgrade markdown-flow-ui version to 0.1.68
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: upgrade markdown-flow-ui version to 0.1.68 (#1212)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: show upgrade page in iOS low version
  src/cook-web/src/app/layout.tsx
  src/cook-web/src/components/UnsupportedIOSNotice.tsx
  src/i18n/en-US/common/core.json
  src/i18n/zh-CN/common/core.json
Due: prettier-cook-web, eslint

fix: add head-level ios 15 guard for early crash fallback
  src/cook-web/src/app/layout.tsx
Due: prettier-cook-web, eslint

chore: drop redundant ios notice component
  src/cook-web/src/app/layout.tsx
  src/cook-web/src/components/UnsupportedIOSNotice.tsx
Due: prettier-cook-web, eslint

chore: replace variables
  src/api/flaskr/service/learn/context_v2.py
Due: none

fix: preserve follow-up streaming state
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

chore: format ui primitives
  src/cook-web/src/components/ui/Badge.tsx
  src/cook-web/src/components/ui/Button.tsx
  src/cook-web/src/components/ui/Sheet.tsx
Due: prettier-cook-web, eslint

feat: integrate Minimax TTS with streaming audio synthesis
  docker/.env.example.full
  src/api/Dockerfile
  src/api/flaskr/api/tts/__init__.py
  src/api/flaskr/common/config.py
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/learn_dtos.py
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/shifu/dtos.py
  src/api/flaskr/service/shifu/models.py
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/api/flaskr/service/shifu/shifu_publish_funcs.py
  src/api/flaskr/service/tts/__init__.py
  src/api/flaskr/service/tts/audio_utils.py
  src/api/flaskr/service/tts/models.py
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/flaskr/service/tts/tts_handler.py
  src/api/migrations/versions/c61409972e4a_add_tts_config_fields_to_shifu_tables.py
  src/api/migrations/versions/e2da58b20960_add_learn_generated_audios_table_for_tts.py
  src/api/requirements.txt
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/c-api/studyV2.ts
  src/cook-web/src/components/audio/AudioPlayer.tsx
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/hooks/useAudioPlayer.ts
  src/i18n/en-US/modules/chat.json
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/zh-CN/modules/chat.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: prettier-cook-web, eslint

fix: isolate shifu copy button states (#1204)
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

fix: preserve follow-up streaming state (#1214)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

feat: upgrade markdown-flow-ui version
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

feat: upgrade mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: alias markdown-flow-ui css paths for next build
  src/cook-web/next.config.ts
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/next.config.ts
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web, eslint

fix: delete pkg
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: ui version
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: upgrade markdown-flow-ui version to 0.1.70 (#1216)
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

fix: tidy language selector spacing and remove duplicate icon
  src/cook-web/src/app/admin/page.tsx
  src/cook-web/src/components/language-select/LanguageSelect.tsx
  src/cook-web/src/components/user-profile/UserProfile.tsx
Due: prettier-cook-web, eslint

feat: add tooltip in interaction block
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.tsx
Due: prettier-cook-web, eslint

fix: add arrow and dark style to tooltip component
  src/cook-web/src/components/ui/tooltip.tsx
Due: prettier-cook-web, eslint

fix: pr advice
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/common/core.json
  src/i18n/zh-CN/common/core.json
Due: prettier-cook-web, eslint

fix: variables in context
  src/api/flaskr/service/learn/context_v2.py
Due: none

fix: pr advice
  src/cook-web/src/components/user-profile/UserProfile.tsx
Due: prettier-cook-web, eslint

feat: upgrade ui in interaction block & user language (#1217)
  src/cook-web/src/app/admin/page.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.tsx
  src/cook-web/src/components/language-select/LanguageSelect.tsx
  src/cook-web/src/components/ui/tooltip.tsx
  src/cook-web/src/components/user-profile/UserProfile.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/common/core.json
  src/i18n/zh-CN/common/core.json
Due: prettier-cook-web, eslint

feat: ui upgrade in personal setting
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/MainMenuModal.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Settings/SettingHeader.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/settings.json
  src/i18n/zh-CN/modules/settings.json
Due: prettier-cook-web, eslint

fix: pr advice
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/components/menus.json
  src/i18n/zh-CN/components/menus.json
Due: prettier-cook-web, eslint

feat: ui upgrade in personal setting (#1219)
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/MainMenuModal.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Settings/SettingHeader.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/components/menus.json
  src/i18n/en-US/modules/settings.json
  src/i18n/zh-CN/components/menus.json
  src/i18n/zh-CN/modules/settings.json
Due: prettier-cook-web, eslint

fix: unify tooltip theme to dark
  src/cook-web/src/components/ui/tooltip.tsx
Due: prettier-cook-web, eslint

fix: unify tooltip theme to dark (#1221)
  src/cook-web/src/components/ui/tooltip.tsx
Due: prettier-cook-web, eslint

fix: strip interaction json fences
  src/api/flaskr/service/learn/context_v2.py
Due: none

fix: align preview language handling
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_context_v2.py
Due: none

chore: update markdown-flow-agent-py to 0.2.43
  src/api/requirements.txt
Due: none

chore: bump markdown-flow alpha
  src/api/flaskr/service/learn/context_v2.py
  src/api/requirements.txt
Due: none

feat: integrate multi-provider TTS with dynamic configuration API
  src/api/flaskr/api/tts/__init__.py
  src/api/flaskr/api/tts/aliyun_provider.py
  src/api/flaskr/api/tts/baidu_provider.py
  src/api/flaskr/api/tts/base.py
  src/api/flaskr/api/tts/minimax_provider.py
  src/api/flaskr/api/tts/volcengine_protocol.py
  src/api/flaskr/api/tts/volcengine_provider.py
  src/api/flaskr/common/config.py
  src/api/flaskr/service/shifu/dtos.py
  src/api/flaskr/service/shifu/models.py
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/api/flaskr/service/shifu/shifu_publish_funcs.py
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/migrations/versions/e34eeaec3402_add_tts_provider_field_to_shifu_tables.py
  src/api/migrations/versions/f45bc12a8e91_add_tts_model_field_to_shifu_tables.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: prettier-cook-web, eslint
