Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

fix: use text semantics for debug variable labels
  src/cook-web/src/components/lesson-preview/VariableList.test.tsx
  src/cook-web/src/components/lesson-preview/VariableList.tsx
Due: prettier-cook-web, eslint

feat: show friendly names for debug variables (#2700)
  src/cook-web/src/components/lesson-preview/LessonPreview.test.tsx
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/components/lesson-preview/VariableList.module.scss
  src/cook-web/src/components/lesson-preview/VariableList.test.tsx
  src/cook-web/src/components/lesson-preview/VariableList.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.test.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/ar-SA/modules/shifu.json
  src/i18n/en-US/modules/shifu.json
  src/i18n/fr-FR/modules/shifu.json
  src/i18n/th-TH/modules/shifu.json
  src/i18n/zh-CN/modules/shifu.json
Due: prettier-cook-web, eslint

chore: refresh built-in CN demo course content
  src/api/demo_shifus/cn_demo.json
Due: none

chore: refresh built-in CN demo course content (#2702)
  src/api/demo_shifus/cn_demo.json
Due: none

fix: hide internal input from debug preview
  src/cook-web/src/components/shifu-edit/ShifuEdit.test.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

fix: hide internal input from debug preview (#2703)
  src/cook-web/src/components/shifu-edit/ShifuEdit.test.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

fix: improve Stripe coupon checkout safeguards
  src/api/flaskr/service/billing/checkout.py
  src/api/flaskr/service/billing/webhooks.py
  src/api/tests/service/billing/test_billing_subscription_sms.py
  src/api/tests/service/billing/test_billing_write_routes_checkout.py
  src/api/tests/service/order/test_stripe_webhook.py
  src/cook-web/src/app/admin/billing/components/GlobalBillingPricing.test.tsx
  src/cook-web/src/app/admin/billing/components/GlobalBillingPricing.tsx
  src/cook-web/src/app/admin/operations/promotions/PromotionFormDialogs.tsx
  src/cook-web/src/app/admin/operations/promotions/PromotionRecordDialogs.tsx
  src/cook-web/src/app/admin/operations/promotions/page.package-campaigns.test.tsx
  src/cook-web/src/app/admin/operations/promotions/promotionPageShared.tsx
  src/cook-web/src/components/billing/BillingOverviewCards.module.scss
  src/cook-web/src/components/billing/BillingOverviewCards.tsx
Due: prettier-cook-web, eslint

fix: align Stripe coupon checkout test expectations
  src/api/tests/service/billing/billing_write_routes_test_helpers.py
  src/cook-web/src/app/admin/operations/promotions/PromotionFormDialogs.tsx
  src/cook-web/src/app/admin/operations/promotions/page.referrals.test.tsx
Due: prettier-cook-web, eslint

fix: prevent invalid Stripe campaign payments
  src/api/flaskr/service/billing/campaign_provider_discounts.py
  src/api/flaskr/service/billing/checkout.py
  src/api/flaskr/service/billing/provider_state.py
  src/api/flaskr/service/billing/webhooks.py
  src/api/tests/service/billing/billing_write_routes_test_helpers.py
  src/api/tests/service/billing/test_billing_subscription_sms.py
  src/api/tests/service/billing/test_billing_write_routes_checkout.py
  src/api/tests/service/billing/test_billing_write_routes_subscription_lifecycle.py
  src/api/tests/service/billing/test_billing_write_routes_topup.py
  src/api/tests/service/billing/test_campaign_provider_discounts.py
  src/cook-web/src/app/admin/billing/components/GlobalBillingPricing.test.tsx
  src/cook-web/src/app/admin/billing/components/GlobalBillingPricing.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/ar-SA/modules/billing.json
  src/i18n/en-US/modules/billing.json
  src/i18n/fr-FR/modules/billing.json
  src/i18n/th-TH/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

feat: make courses easy to share
  docs/exec-plans/active/course-sharing.md
  docs/exec-plans/index.md
  docs/generated/doc-inventory.md
  docs/generated/harness-health.md
  src/cook-web/src/__tests__/c-preview-layout.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/LearnerCourseShareButton.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/LearnerCourseShareButton.tsx
  src/cook-web/src/app/c/[[...id]]/layout.tsx
  src/cook-web/src/c-store/useCourseStore.test.ts
  src/cook-web/src/c-store/useCourseStore.ts
  src/cook-web/src/c-types/store.ts
  src/cook-web/src/components/course-share/CourseShareButton.test.tsx
  src/cook-web/src/components/course-share/CourseShareButton.tsx
  src/cook-web/src/components/course-share/index.ts
  src/cook-web/src/components/header/Header.test.tsx
  src/cook-web/src/components/header/Header.tsx
  src/cook-web/src/lib/courseShare.test.ts
  src/cook-web/src/lib/courseShare.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/ar-SA/common/core.json
  src/i18n/en-US/common/core.json
  src/i18n/fr-FR/common/core.json
  src/i18n/th-TH/common/core.json
  src/i18n/zh-CN/common/core.json
Due: prettier-cook-web, eslint

fix: prevent sharing stale course details
  src/cook-web/src/app/c/[[...id]]/Components/LearnerCourseShareButton.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/LearnerCourseShareButton.tsx
Due: prettier-cook-web, eslint

docs: correct course sharing implementation path
  docs/exec-plans/active/course-sharing.md
Due: none

feat: make courses easy to share (#2704)
  docs/exec-plans/active/course-sharing.md
  docs/exec-plans/index.md
  docs/generated/doc-inventory.md
  docs/generated/harness-health.md
  src/cook-web/src/__tests__/c-preview-layout.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/LearnerCourseShareButton.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/LearnerCourseShareButton.tsx
  src/cook-web/src/app/c/[[...id]]/layout.tsx
  src/cook-web/src/c-store/useCourseStore.test.ts
  src/cook-web/src/c-store/useCourseStore.ts
  src/cook-web/src/c-types/store.ts
  src/cook-web/src/components/course-share/CourseShareButton.test.tsx
  src/cook-web/src/components/course-share/CourseShareButton.tsx
  src/cook-web/src/components/course-share/index.ts
  src/cook-web/src/components/header/Header.test.tsx
  src/cook-web/src/components/header/Header.tsx
  src/cook-web/src/lib/courseShare.test.ts
  src/cook-web/src/lib/courseShare.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/ar-SA/common/core.json
  src/i18n/en-US/common/core.json
  src/i18n/fr-FR/common/core.json
  src/i18n/th-TH/common/core.json
  src/i18n/zh-CN/common/core.json
Due: prettier-cook-web, eslint

feat: replace learning mode labels with icons
  src/cook-web/src/app/c/[[...id]]/Components/LearningModeSwitch.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/LearningModeSwitch.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/LearningModeSwitch.tsx
  src/cook-web/src/app/c/[[...id]]/Components/learningModeOptions.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/ar-SA/modules/chat.json
  src/i18n/en-US/modules/chat.json
  src/i18n/fr-FR/modules/chat.json
  src/i18n/th-TH/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

test: enforce icon-only learning mode labels
  src/cook-web/src/app/c/[[...id]]/Components/LearningModeSwitch.test.tsx
Due: prettier-cook-web, eslint

feat: replace learning mode labels with icons (#2705)
  src/cook-web/src/app/c/[[...id]]/Components/LearningModeSwitch.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/LearningModeSwitch.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/LearningModeSwitch.tsx
  src/cook-web/src/app/c/[[...id]]/Components/learningModeOptions.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/ar-SA/modules/chat.json
  src/i18n/en-US/modules/chat.json
  src/i18n/fr-FR/modules/chat.json
  src/i18n/th-TH/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

feat: localize onboarding assistant prompts
  docs/exec-plans/completed/profile-onboarding-multilingual-assistant-prompts.md
  docs/exec-plans/index.md
  docs/generated/doc-inventory.md
  docs/generated/harness-health.md
  src/api/flaskr/route/profile.py
  src/api/flaskr/service/common/profile_onboarding.py
  src/api/flaskr/service/common/profile_onboarding_prompt.py
  src/api/prompts/profile_onboarding_assistant_compiler.md
  src/api/prompts/profile_onboarding_assistant_localizer.md
  src/api/tests/service/common/test_profile_onboarding_prompt.py
  src/api/tests/service/config/test_profile_onboarding_publication.py
  src/api/tests/service/profile_research/test_runtime.py
  src/api/tests/service/user/test_profile_onboarding_config.py
  src/api/tests/service/user/test_profile_onboarding_guided_routes.py
  src/cook-web/src/app/admin/operations/profile-onboarding/useProfileOnboardingAdminController.ts
  src/cook-web/src/components/profile-onboarding/ProfileOnboardingConversation.test.tsx
  src/i18n/ar-SA/modules/profile-onboarding.json
  src/i18n/en-US/modules/profile-onboarding.json
  src/i18n/fr-FR/modules/profile-onboarding.json
  src/i18n/th-TH/modules/profile-onboarding.json
  src/i18n/zh-CN/modules/profile-onboarding.json
Due: prettier-cook-web, eslint

feat: localize onboarding assistant prompts (#2706)
  docs/exec-plans/completed/profile-onboarding-multilingual-assistant-prompts.md
  docs/exec-plans/index.md
  docs/generated/doc-inventory.md
  docs/generated/harness-health.md
  src/api/flaskr/route/profile.py
  src/api/flaskr/service/common/profile_onboarding.py
  src/api/flaskr/service/common/profile_onboarding_prompt.py
  src/api/prompts/profile_onboarding_assistant_compiler.md
  src/api/prompts/profile_onboarding_assistant_localizer.md
  src/api/tests/service/common/test_profile_onboarding_prompt.py
  src/api/tests/service/config/test_profile_onboarding_publication.py
  src/api/tests/service/profile_research/test_runtime.py
  src/api/tests/service/user/test_profile_onboarding_config.py
  src/api/tests/service/user/test_profile_onboarding_guided_routes.py
  src/cook-web/src/app/admin/operations/profile-onboarding/useProfileOnboardingAdminController.ts
  src/cook-web/src/components/profile-onboarding/ProfileOnboardingConversation.test.tsx
  src/i18n/ar-SA/modules/profile-onboarding.json
  src/i18n/en-US/modules/profile-onboarding.json
  src/i18n/fr-FR/modules/profile-onboarding.json
  src/i18n/th-TH/modules/profile-onboarding.json
  src/i18n/zh-CN/modules/profile-onboarding.json
Due: prettier-cook-web, eslint

fix: make learning toolbar actions easier to recognize
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/LessonPdfDownloadButton.tsx
  src/cook-web/src/app/c/[[...id]]/Components/LearningModeSwitch.module.scss
Due: prettier-cook-web, eslint

fix: make learning toolbar actions easier to recognize (#2707)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/LessonPdfDownloadButton.tsx
  src/cook-web/src/app/c/[[...id]]/Components/LearningModeSwitch.module.scss
Due: prettier-cook-web, eslint

feat: simplify profile research questions
  src/i18n/ar-SA/modules/profile-onboarding.json
  src/i18n/en-US/modules/profile-onboarding.json
  src/i18n/fr-FR/modules/profile-onboarding.json
  src/i18n/th-TH/modules/profile-onboarding.json
  src/i18n/zh-CN/modules/profile-onboarding.json
Due: none

feat: simplify profile research questions (#2708)
  src/i18n/ar-SA/modules/profile-onboarding.json
  src/i18n/en-US/modules/profile-onboarding.json
  src/i18n/fr-FR/modules/profile-onboarding.json
  src/i18n/th-TH/modules/profile-onboarding.json
  src/i18n/zh-CN/modules/profile-onboarding.json
Due: none

chore: upgrade Ruff to 0.16.5
  .github/workflows/lint.yml
  INSTALL_MANUAL.md
  docs/engineering-baseline.md
  docs/exec-plans/active/ruff-rule-minimization.md
  lefthook.yml
  scripts/check_dev_tools.py
Due: none

chore: upgrade Ruff to 0.16.5 (#2709)
  .github/workflows/lint.yml
  INSTALL_MANUAL.md
  docs/engineering-baseline.md
  docs/exec-plans/active/ruff-rule-minimization.md
  lefthook.yml
  scripts/check_dev_tools.py
Due: none

chore: define frontend analytics requirements
  .cursor/rules/repository-ai-collab.mdc
  .github/copilot-instructions.md
  .github/instructions/frontend.instructions.md
  AGENTS.md
  docs/QUALITY_SCORE.md
  docs/generated/doc-inventory.md
  docs/generated/harness-health.md
  docs/references/frontend-product-analytics.md
  docs/references/index.md
  scripts/check_repo_harness.py
  scripts/generate_ai_collab_docs.py
  src/cook-web/.cursor/rules/cook-web.mdc
  src/cook-web/AGENTS.md
  src/cook-web/src/c-common/AGENTS.md
Due: prettier-cook-web

chore: define frontend analytics requirements (#2711)
  .cursor/rules/repository-ai-collab.mdc
  .github/copilot-instructions.md
  .github/instructions/frontend.instructions.md
  AGENTS.md
  docs/QUALITY_SCORE.md
  docs/generated/doc-inventory.md
  docs/generated/harness-health.md
  docs/references/frontend-product-analytics.md
  docs/references/index.md
  scripts/check_repo_harness.py
  scripts/generate_ai_collab_docs.py
  src/cook-web/.cursor/rules/cook-web.mdc
  src/cook-web/AGENTS.md
  src/cook-web/src/c-common/AGENTS.md
Due: prettier-cook-web

fix: clarify the profile research introduction
  src/i18n/ar-SA/modules/profile-onboarding.json
  src/i18n/en-US/modules/profile-onboarding.json
  src/i18n/fr-FR/modules/profile-onboarding.json
  src/i18n/th-TH/modules/profile-onboarding.json
  src/i18n/zh-CN/modules/profile-onboarding.json
Due: none

fix: clarify the profile research introduction (#2713)
  src/i18n/ar-SA/modules/profile-onboarding.json
  src/i18n/en-US/modules/profile-onboarding.json
  src/i18n/fr-FR/modules/profile-onboarding.json
  src/i18n/th-TH/modules/profile-onboarding.json
  src/i18n/zh-CN/modules/profile-onboarding.json
Due: none

feat: align typewriter pacing across languages
  src/cook-web/src/__tests__/content-block-pay-interaction.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/c-components/ChatUi/ContentBlock.tsx
  src/cook-web/src/components/profile-onboarding/ProfileOnboardingConversation.test.tsx
  src/cook-web/src/components/profile-onboarding/ProfileOnboardingConversation.tsx
Due: prettier-cook-web, eslint

chore: keep dependency lockfile update focused
  src/cook-web/package-lock.json
Due: prettier-cook-web

chore: keep stable dependency lockfile focused
  src/cook-web/package-lock.json
Due: prettier-cook-web

chore: keep 0.2.19 lockfile focused
  src/cook-web/package-lock.json
Due: prettier-cook-web

fix: normalize blocking retention analytics
  src/cook-web/src/components/profile-onboarding/LearnerProfileDialog.test.tsx
  src/cook-web/src/components/profile-onboarding/useLearnerProfileDialogController.ts
Due: prettier-cook-web, eslint

docs: reference retention actions by key
  docs/exec-plans/completed/profile-onboarding-retention.md
Due: none

fix: preserve retention reading position during loading
  src/cook-web/src/components/profile-onboarding/LearnerProfileDialog.test.tsx
  src/cook-web/src/components/profile-onboarding/LearnerProfileDialog.tsx
Due: prettier-cook-web, eslint

fix: keep retention analytics in one phase
  docs/exec-plans/completed/profile-onboarding-retention.md
  src/cook-web/src/components/profile-onboarding/LearnerProfileDialog.test.tsx
  src/cook-web/src/components/profile-onboarding/learnerProfileDialogModel.test.ts
  src/cook-web/src/components/profile-onboarding/learnerProfileDialogModel.ts
  src/cook-web/src/components/profile-onboarding/useLearnerProfileDialogController.ts
Due: prettier-cook-web, eslint

fix: record final profile defer outcomes
  docs/exec-plans/completed/profile-onboarding-retention.md
  src/cook-web/src/components/profile-onboarding/LearnerProfileDialog.test.tsx
  src/cook-web/src/components/profile-onboarding/events.ts
  src/cook-web/src/components/profile-onboarding/useLearnerProfileDialogController.ts
Due: prettier-cook-web, eslint

feat: explain personalization benefits before deferring setup
  docs/exec-plans/completed/profile-onboarding-retention.md
  docs/exec-plans/index.md
  docs/generated/doc-inventory.md
  docs/generated/harness-health.md
  src/cook-web/src/components/profile-onboarding/LearnerProfileDialog.test.tsx
  src/cook-web/src/components/profile-onboarding/LearnerProfileDialog.tsx
  src/cook-web/src/components/profile-onboarding/LearnerProfileDialogViews.tsx
  src/cook-web/src/components/profile-onboarding/LearnerProfileRetentionView.test.tsx
  src/cook-web/src/components/profile-onboarding/LearnerProfileRetentionView.tsx
  src/cook-web/src/components/profile-onboarding/events.ts
  src/cook-web/src/components/profile-onboarding/learnerProfileDialogModel.test.ts
  src/cook-web/src/components/profile-onboarding/learnerProfileDialogModel.ts
  src/cook-web/src/components/profile-onboarding/useLearnerProfileDialogController.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/ar-SA/modules/profile-onboarding.json
  src/i18n/en-US/modules/profile-onboarding.json
  src/i18n/fr-FR/modules/profile-onboarding.json
  src/i18n/th-TH/modules/profile-onboarding.json
  src/i18n/zh-CN/modules/profile-onboarding.json
Due: prettier-cook-web, eslint

fix: hide stale profile postponement errors
  src/cook-web/src/components/profile-onboarding/LearnerProfileDialog.test.tsx
  src/cook-web/src/components/profile-onboarding/learnerProfileDialogModel.test.ts
  src/cook-web/src/components/profile-onboarding/learnerProfileDialogModel.ts
  src/cook-web/src/components/profile-onboarding/useLearnerProfileDialogController.ts
Due: prettier-cook-web, eslint

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
