Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

fix: stabilize admin wechat initialization
  src/cook-web/src/app/admin/layout.test.tsx
  src/cook-web/src/app/admin/layout.tsx
  src/cook-web/src/app/admin/page.tsx
  src/cook-web/src/store/useUserStore.test.ts
  src/cook-web/src/store/useUserStore.ts
  src/cook-web/src/store/userProvider.test.tsx
  src/cook-web/src/store/userProvider.tsx
Due: prettier-cook-web, eslint

fix: address admin init review feedback
  src/cook-web/src/app/admin/page.tsx
  src/cook-web/src/store/userProvider.test.tsx
  src/cook-web/src/store/userProvider.tsx
Due: prettier-cook-web, eslint

test: clean up store test imports
  src/cook-web/src/store/useUserStore.test.ts
Due: prettier-cook-web, eslint

fix: retry admin permission checks
  src/cook-web/src/app/admin/page.tsx
Due: prettier-cook-web, eslint

fix: stabilize admin wechat initialization (#1751)
  src/cook-web/src/app/admin/layout.test.tsx
  src/cook-web/src/app/admin/layout.tsx
  src/cook-web/src/app/admin/page.tsx
  src/cook-web/src/store/useUserStore.test.ts
  src/cook-web/src/store/useUserStore.ts
  src/cook-web/src/store/userProvider.test.tsx
  src/cook-web/src/store/userProvider.tsx
Due: prettier-cook-web, eslint

fix: keep preview variable copy on one line
  src/cook-web/src/components/lesson-preview/VariableList.module.scss
Due: prettier-cook-web

fix: keep variable preview header title on one line
  src/cook-web/src/components/lesson-preview/VariableList.module.scss
Due: prettier-cook-web

fix: keep preview variable copy on one line (#1752)
  src/cook-web/src/components/lesson-preview/VariableList.module.scss
Due: prettier-cook-web

feat: update markdown-flow dependent versions
  src/api/requirements.txt
Due: none

feat: update markdown-flow dependent versions (#1753)
  src/api/requirements.txt
Due: none

defer listen audio generation until listen mode
  src/cook-web/skills/listen-mode-audio-streaming/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/chat.json
  src/i18n/fr-FR/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix qwen prefixed model fallback
  src/api/flaskr/api/llm/__init__.py
  src/api/tests/test_llm.py
Due: none

fix: resolve listen audio backfill block ids
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

feat: add operator course credit usage tab
  docs/exec-plans/active/operator-course-detail-tab-splitting.md
  docs/product-specs/operator-course-detail-page.md
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_dtos.py
  src/api/flaskr/service/shifu/route.py
  src/api/tests/service/shifu/test_admin_course_detail.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/operations/[shifu_bid]/CourseCreditUsageTab.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/operations/operation-course-types.ts
  src/i18n/en-US/modules/operations-course.json
  src/i18n/fr-FR/modules/operations-course.json
  src/i18n/zh-CN/modules/operations-course.json
Due: prettier-cook-web, eslint

chore: fix course credit usage pr checks
  docs/exec-plans/index.md
  docs/generated/doc-inventory.md
  docs/generated/harness-health.md
  docs/product-specs/index.md
Due: none

perf: tighten course credit usage aggregation
  src/api/flaskr/service/shifu/admin.py
Due: none

fix: align credit usage date clear label
  src/cook-web/src/app/admin/operations/[shifu_bid]/CourseCreditUsageTab.tsx
Due: prettier-cook-web, eslint

fix: sync listen slide after audio backfill
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
Due: prettier-cook-web, eslint

fix: keep listen audio backfill stream open
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/tests/service/learn/test_generated_block_tts_av_mode.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix: align slide buffering text types
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/types/markdown-flow-ui.d.ts
Due: prettier-cook-web, eslint

style: soften credit usage account emphasis
  src/cook-web/src/app/admin/operations/[shifu_bid]/CourseCreditUsageTab.tsx
Due: prettier-cook-web, eslint

feat: open operator course details in new tab
  src/cook-web/src/app/admin/operations/page.test.tsx
  src/cook-web/src/app/admin/operations/page.tsx
Due: prettier-cook-web, eslint

fix: qwen prefixed model fallback (#1755)
  src/api/flaskr/api/llm/__init__.py
  src/api/tests/test_llm.py
Due: none

feat: open operator user details in new tab
  src/cook-web/src/app/admin/operations/users/page.test.tsx
  src/cook-web/src/app/admin/operations/users/page.tsx
Due: prettier-cook-web, eslint

feat: use standard new-tab links for operator details
  src/cook-web/src/app/admin/operations/page.test.tsx
  src/cook-web/src/app/admin/operations/page.tsx
  src/cook-web/src/app/admin/operations/users/page.test.tsx
  src/cook-web/src/app/admin/operations/users/page.tsx
Due: prettier-cook-web, eslint

fix: hydrate multi-position listen audio history
  src/api/flaskr/service/learn/listen_element_history.py
  src/api/tests/service/learn/test_listen_element_history_subtitles.py
Due: none

fix: allow visual-only listen mode after retake
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.ts
Due: prettier-cook-web, eslint

fix: reuse run tts for listen audio backfill
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/tts/__init__.py
  src/api/tests/service/learn/test_generated_block_tts_av_mode.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/c-api/studyV2.ts
  src/cook-web/src/c-utils/audio-utils.ts
Due: prettier-cook-web, eslint

fix: clean generated block audio backfill path
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/tests/service/learn/test_generated_block_tts_av_mode.py
Due: none

fix: avoid reusing segmented audio for manual tts
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/tests/service/learn/test_generated_block_tts_av_mode.py
Due: none

fix listen backfill playback
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
  src/cook-web/src/c-api/studyV2.ts
  src/cook-web/src/c-types/chatUi.ts
  src/cook-web/src/c-utils/audio-utils.ts
Due: prettier-cook-web, eslint

address listen mode review feedback
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/tts/__init__.py
  src/cook-web/skills/listen-mode-audio-streaming/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/c-api/studyV2.ts
  src/cook-web/src/c-utils/audio-utils.ts
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

fix tts processor boundary import
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/tts/api.py
Due: none

feat(creator_analytics): supports querying user data through the user_identify field and enhances security policies
  src/api/flaskr/service/creator_analytics/dsl.py
  src/api/flaskr/service/creator_analytics/funcs.py
  src/api/flaskr/service/creator_analytics/pii.py
  src/api/flaskr/service/creator_analytics/whitelist.py
  src/api/tests/service/creator_analytics/test_dsl.py
  src/api/tests/service/creator_analytics/test_pii.py
  src/api/tests/service/creator_analytics/test_query.py
Due: none

feat(creator_analytics): add support for daily bill usage indicator table and expansion of usage record fields
  src/api/flaskr/service/creator_analytics/whitelist.py
  src/api/tests/service/creator_analytics/conftest.py
  src/api/tests/service/creator_analytics/test_dsl.py
  src/api/tests/service/creator_analytics/test_query.py
  src/api/tests/service/creator_analytics/test_whitelist.py
  src/api/tests/test_ct_temp.py
Due: none

feat: add grouped operator course credit usage view
  docs/product-specs/operator-course-detail-page.md
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_dtos.py
  src/api/flaskr/service/shifu/route.py
  src/api/tests/service/shifu/test_admin_course_detail.py
  src/cook-web/src/app/admin/operations/[shifu_bid]/CourseCreditUsageTab.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/operations/operation-course-types.ts
  src/i18n/en-US/modules/operations-course.json
  src/i18n/fr-FR/modules/operations-course.json
  src/i18n/zh-CN/modules/operations-course.json
Due: prettier-cook-web, eslint

feat: open operator detail pages in new tabs (#1757)
  src/cook-web/src/app/admin/operations/page.test.tsx
  src/cook-web/src/app/admin/operations/page.tsx
  src/cook-web/src/app/admin/operations/users/page.test.tsx
  src/cook-web/src/app/admin/operations/users/page.tsx
Due: prettier-cook-web, eslint

fix(api): emit final fallback element snapshot in learn run stream
  src/api/SKILL.md
  src/api/flaskr/service/learn/listen_element_run_stream.py
  src/api/skills/README.md
  src/api/skills/listen-element-finalization/SKILL.md
  src/api/tests/service/learn/test_listen_elements.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint
