Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

test: add learner profile prompt evaluator
  src/api/scripts/evaluate_learner_profile_optimizer_prompt.py
  src/api/scripts/learner_profile_optimizer_eval_cases.json
Due: none

fix: increase profile optimization variation
  docs/exec-plans/active/learner-profile-dialog-redesign.md
  src/api/flaskr/service/profile/learner_profile_optimizer.py
  src/api/tests/service/user/test_learner_profile_optimizer.py
Due: none

fix: keep learner profile guidance informational
  src/cook-web/src/components/profile-onboarding/LearnerProfileDialog.test.tsx
  src/cook-web/src/components/profile-onboarding/LearnerProfileDialog.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/profile-onboarding.json
  src/i18n/fr-FR/modules/profile-onboarding.json
  src/i18n/zh-CN/modules/profile-onboarding.json
Due: prettier-cook-web, eslint

fix: return profile optimization results as generated
  docs/exec-plans/active/learner-profile-dialog-redesign.md
  src/api/error_codes.json
  src/api/flaskr/service/profile/learner_profile_optimizer.py
  src/api/scripts/evaluate_learner_profile_optimizer_prompt.py
  src/api/tests/service/user/test_learner_profile_optimizer.py
  src/cook-web/src/api/learnerProfile.ts
  src/cook-web/src/components/profile-onboarding/LearnerProfileDialog.test.tsx
  src/cook-web/src/components/profile-onboarding/LearnerProfileDialog.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/backend/profile.json
  src/i18n/en-US/modules/profile-onboarding.json
  src/i18n/fr-FR/modules/backend/profile.json
  src/i18n/fr-FR/modules/profile-onboarding.json
  src/i18n/zh-CN/modules/backend/profile.json
  src/i18n/zh-CN/modules/profile-onboarding.json
Due: prettier-cook-web, eslint

fix: preserve account names during sign in
  src/api/flaskr/service/profile/funcs.py
  src/api/flaskr/service/user/email_flow.py
  src/api/flaskr/service/user/phone_flow.py
  src/api/tests/service/user/test_learner_profile_sign_in_merge.py
Due: none

fix: moderate only changed profile fields
  src/api/flaskr/service/profile/learner_profile.py
  src/api/tests/service/user/test_learner_profile_service.py
Due: none

fix: return profile optimizations as plain text
  docs/exec-plans/active/learner-profile-dialog-redesign.md
  src/api/error_codes.json
  src/api/flaskr/route/user.py
  src/api/flaskr/service/profile/learner_profile_optimizer.py
  src/api/prompts/learner_profile_optimizer.md
  src/api/prompts/learner_profile_optimizer_short.md
  src/api/scripts/evaluate_learner_profile_optimizer_prompt.py
  src/api/tests/service/user/test_learner_profile_optimizer.py
  src/api/tests/service/user/test_learner_profile_optimizer_admission.py
  src/api/tests/service/user/test_profile_onboarding.py
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/backend/profile.json
  src/i18n/fr-FR/modules/backend/profile.json
  src/i18n/zh-CN/modules/backend/profile.json
Due: prettier-cook-web, eslint

fix: separate mapped IPv4 rate limits
  src/api/flaskr/route/user.py
  src/api/tests/service/user/test_learner_profile_optimizer_admission.py
Due: none

fix: count nickname length consistently
  src/cook-web/src/components/profile-onboarding/LearnerProfileDialog.test.tsx
  src/cook-web/src/components/profile-onboarding/LearnerProfileDialog.tsx
Due: prettier-cook-web, eslint

fix: keep learner profiles out of response logs
  src/api/flaskr/route/user.py
  src/api/tests/service/user/test_profile_onboarding.py
Due: none

fix: keep ordinary style preferences complete
  src/api/flaskr/service/profile/learner_profile_optimizer.py
  src/api/tests/service/user/test_learner_profile_optimizer.py
Due: none

chore: remove obsolete profile design asset
  design-qa.md
  docs/assets/learner-profile-dialog-approved-reference.png
  docs/exec-plans/active/learner-profile-dialog-redesign.md
Due: none

chore: remove remaining Ruff rewrites
  src/api/flaskr/common/config.py
  src/api/flaskr/common/log.py
  src/api/flaskr/route/user.py
  src/api/flaskr/service/profile/funcs.py
  src/api/flaskr/service/user/auth/providers/google.py
  src/api/flaskr/service/user/common.py
Due: none

docs: summarize learner profile final contracts
  docs/exec-plans/active/learner-profile-dialog-redesign.md
  docs/exec-plans/completed/learner-profile-foundation.md
  docs/exec-plans/index.md
  docs/generated/doc-inventory.md
Due: none

chore: remove unrelated Ruff rewrites
  src/api/flaskr/api/llm/__init__.py
Due: none

fix: personalize Coze course answers
  src/api/flaskr/service/learn/ask_provider_adapters/common.py
  src/api/flaskr/service/learn/ask_provider_adapters/coze_adapter.py
  src/api/flaskr/service/learn/ask_provider_adapters/coze_workflow_adapter.py
  src/api/flaskr/service/learn/ask_provider_adapters/dify_adapter.py
  src/api/tests/service/learn/test_ask_provider_adapters.py
Due: none

refactor: simplify sensitive stream forwarding
  src/api/flaskr/api/llm/__init__.py
  src/api/tests/test_llm.py
Due: none

fix: simplify profile optimization concurrency
  docker/.env.example.full
  docs/exec-plans/active/learner-profile-dialog-redesign.md
  src/api/flaskr/common/config.py
  src/api/flaskr/route/user.py
  src/api/flaskr/service/profile/learner_profile_optimizer_admission.py
  src/api/tests/service/user/test_learner_profile_optimizer_admission.py
  src/i18n/en-US/modules/backend/profile.json
  src/i18n/fr-FR/modules/backend/profile.json
  src/i18n/zh-CN/modules/backend/profile.json
Due: none

chore: remove unrelated ask transcript handling
  src/api/flaskr/service/learn/ask_provider_adapters/common.py
  src/api/flaskr/service/learn/ask_provider_adapters/coze_workflow_adapter.py
  src/api/flaskr/service/learn/ask_provider_adapters/dify_adapter.py
  src/api/tests/service/learn/test_ask_provider_adapters.py
Due: none

chore: restore existing Ask provider behavior
  src/api/flaskr/service/learn/ask_provider_adapters/coze_adapter.py
  src/api/flaskr/service/learn/ask_provider_adapters/coze_workflow_adapter.py
  src/api/flaskr/service/learn/ask_provider_adapters/dify_adapter.py
  src/api/tests/service/learn/test_ask_provider_adapters.py
Due: none

chore: align learner profile schema wording
  src/api/flaskr/service/user/models.py
  src/api/migrations/versions/c8f1a2d3e4b5_add_learner_profile_to_users.py
Due: none

chore: remove learner profile privacy layers
  docs/exec-plans/active/learner-profile-dialog-redesign.md
  src/api/flaskr/api/llm/__init__.py
  src/api/flaskr/common/log.py
  src/api/flaskr/route/user.py
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/handle_input_ask.py
  src/api/flaskr/service/learn/utils_v2.py
  src/api/flaskr/service/profile/learner_profile.py
  src/api/flaskr/service/profile/learner_profile_optimizer.py
  src/api/scripts/learner_profile_optimizer_eval_cases.json
  src/api/tests/common/test_log.py
  src/api/tests/service/learn/test_context_v2.py
  src/api/tests/service/learn/test_handle_input_ask_provider.py
  src/api/tests/service/user/test_learner_profile_optimizer.py
  src/api/tests/service/user/test_learner_profile_service.py
  src/api/tests/service/user/test_profile_onboarding.py
  src/api/tests/test_llm.py
Due: none

fix: use one learner profile optimization flow
  src/api/flaskr/service/profile/learner_profile_optimizer.py
  src/api/prompts/learner_profile_optimizer_short.md
  src/api/tests/service/user/test_learner_profile_optimizer.py
Due: none

chore: keep metering constants in their source module
  src/api/flaskr/service/metering/api.py
  src/api/flaskr/service/profile/learner_profile_optimizer.py
Due: none

chore: restore the existing LLM test lint waiver
  src/api/tests/test_llm.py
Due: none

fix: explain nickname length limits
  src/cook-web/src/components/profile-onboarding/LearnerProfileDialog.test.tsx
  src/cook-web/src/components/profile-onboarding/LearnerProfileDialog.tsx
Due: prettier-cook-web, eslint

fix: preserve legacy nicknames during sign-in
  src/api/flaskr/service/profile/learner_profile.py
  src/api/flaskr/service/user/email_flow.py
  src/api/flaskr/service/user/phone_flow.py
  src/api/tests/service/user/test_learner_profile_sign_in_merge.py
Due: none

fix: keep preview notices focused on draft status
  src/cook-web/src/app/c/[[...id]]/Components/PreviewHeaderBanner.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/PreviewHeaderBanner.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/preview.json
  src/i18n/fr-FR/modules/preview.json
  src/i18n/zh-CN/modules/preview.json
Due: prettier-cook-web, eslint

fix: preserve the original learner onboarding flow
  src/cook-web/src/app/c/[[...id]]/page.test.tsx
  src/cook-web/src/app/c/[[...id]]/page.tsx
Due: prettier-cook-web, eslint

fix: refill empty learner profiles on every visit
  docs/exec-plans/active/learner-profile-dialog-redesign.md
  src/api/flaskr/service/profile/learner_profile.py
  src/api/tests/service/user/test_learner_profile_service.py
  src/cook-web/src/components/profile-onboarding/LearnerProfileDialog.test.tsx
Due: prettier-cook-web, eslint

chore: make profile optimization error codes consecutive
  src/api/error_codes.json
  src/api/tests/service/user/test_learner_profile_optimizer.py
Due: none

fix: restrict password profile handoff
  src/api/flaskr/route/user.py
  src/api/tests/service/user/test_password_routes.py
Due: none

feat: unify account menus across learner and admin pages
  src/cook-web/src/app/admin/SidebarContent.tsx
  src/cook-web/src/app/admin/layout.test.tsx
  src/cook-web/src/app/admin/layout.tsx
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavDrawer.tsx
  src/cook-web/src/c-components/NavDrawer/MainMenuModal.test.tsx
  src/cook-web/src/c-components/NavDrawer/MainMenuModal.tsx
Due: prettier-cook-web, eslint

fix: match account menu styling across pages
  src/cook-web/src/app/admin/AdminSidebar.module.scss
  src/cook-web/src/c-components/NavDrawer/MainMenuModal.module.scss
Due: prettier-cook-web

fix: make account menu labels more action-oriented
  src/cook-web/src/c-components/NavDrawer/MainMenuModal.test.tsx
  src/cook-web/src/c-components/NavDrawer/MainMenuModal.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/components/menus.json
  src/i18n/en-US/modules/onboarding.json
  src/i18n/fr-FR/components/menus.json
  src/i18n/fr-FR/modules/onboarding.json
  src/i18n/zh-CN/components/menus.json
  src/i18n/zh-CN/modules/onboarding.json
Due: prettier-cook-web, eslint

fix: make account menu actions keyboard accessible
  src/cook-web/src/c-components/NavDrawer/MainMenuModal.test.tsx
  src/cook-web/src/c-components/NavDrawer/MainMenuModal.tsx
Due: prettier-cook-web, eslint

refactor: remove two more unreferenced frontend modules
  src/cook-web/src/c-constants/userConstants.ts
  src/cook-web/src/c-utils/imgUtils.ts
Due: prettier-cook-web, eslint
