Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

feat: make MarkdownFlow the only profile research source
  docs/exec-plans/active/learner-profile-dialog-redesign.md
  src/api/flaskr/route/user.py
  src/api/flaskr/service/common/profile_onboarding.py
  src/api/flaskr/service/profile_research/runtime.py
  src/api/flaskr/service/shifu/admin_operations/profile_onboarding.py
  src/api/flaskr/service/shifu/admin_operations/route.py
  src/api/tests/service/profile_research/test_runtime.py
  src/api/tests/service/user/test_profile_onboarding_config_v2.py
  src/api/tests/service/user/test_profile_onboarding_dual_protocol.py
  src/api/tests/service/user/test_profile_onboarding_guided_routes.py
  src/cook-web/src/app/admin/operations/profile-onboarding/page.test.tsx
  src/cook-web/src/app/admin/operations/profile-onboarding/page.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/profile-onboarding.json
  src/i18n/fr-FR/modules/profile-onboarding.json
  src/i18n/zh-CN/modules/profile-onboarding.json
Due: prettier-cook-web, eslint

fix: preserve legacy guided flow layout
  src/api/flaskr/service/profile/onboarding.py
  src/api/tests/service/user/test_profile_onboarding_dual_protocol.py
Due: none

fix: normalize guided profiles before saving
  src/cook-web/src/api/learnerProfile.test.ts
  src/cook-web/src/api/learnerProfile.ts
Due: prettier-cook-web, eslint

fix: restore learner profile optimization controls
  docs/exec-plans/active/unified-learner-profile-dialog.md
  src/cook-web/src/components/profile-onboarding/LearnerProfileDialog.test.tsx
  src/cook-web/src/components/profile-onboarding/LearnerProfileDialog.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/profile-onboarding.json
  src/i18n/fr-FR/modules/profile-onboarding.json
  src/i18n/zh-CN/modules/profile-onboarding.json
Due: prettier-cook-web, eslint

chore: record final profile onboarding review
  docs/exec-plans/active/unified-learner-profile-dialog.md
  docs/exec-plans/completed/profile-onboarding-guided.md
Due: none

fix: serialize profile skips with completion
  src/api/flaskr/service/profile/onboarding.py
  src/api/tests/service/user/test_profile_onboarding_dual_protocol.py
Due: none

refactor: separate profile research runtime responsibilities
  src/api/flaskr/service/profile_research/document.py
  src/api/flaskr/service/profile_research/events.py
  src/api/flaskr/service/profile_research/provider.py
  src/api/flaskr/service/profile_research/runtime.py
  src/api/flaskr/service/profile_research/session.py
  src/api/tests/service/profile_research/test_runtime.py
Due: none

refactor: isolate profile onboarding administration
  src/cook-web/src/app/admin/operations/profile-onboarding/page.tsx
  src/cook-web/src/app/admin/operations/profile-onboarding/useProfileOnboardingAdminController.ts
Due: prettier-cook-web, eslint

test: isolate course layout from onboarding streams
  src/cook-web/src/__tests__/c-preview-layout.test.tsx
Due: prettier-cook-web, eslint

fix: keep onboarding previews publishable
  src/api/flaskr/service/common/profile_onboarding.py
  src/api/flaskr/service/shifu/admin_operations/profile_onboarding.py
  src/api/tests/service/user/test_profile_onboarding_config_v2.py
  src/api/tests/service/user/test_profile_onboarding_guided_routes.py
Due: none

fix: hide unsupported legacy profile flows
  src/api/flaskr/service/profile/onboarding.py
  src/api/tests/service/user/test_profile_onboarding_dual_protocol.py
Due: none

chore: restore backend lint after final rebase
  src/api/flaskr/service/profile/onboarding.py
  src/api/flaskr/service/profile_research/runtime.py
  src/api/flaskr/service/shifu/admin_operations/route.py
  src/api/tests/service/profile_research/test_runtime.py
  src/api/tests/service/user/test_learner_profile_service.py
  src/api/tests/service/user/test_profile_onboarding.py
  src/api/tests/service/user/test_profile_onboarding_guided_routes.py
Due: none

refactor: isolate profile onboarding protocols and routes
  src/api/flaskr/route/admin_profile_onboarding.py
  src/api/flaskr/route/profile.py
  src/api/flaskr/route/user.py
  src/api/flaskr/service/common/profile_research_request_validation.py
  src/api/flaskr/service/profile/legacy_onboarding.py
  src/api/flaskr/service/profile/onboarding.py
  src/api/flaskr/service/shifu/admin_operations/route.py
  src/api/tests/service/common/test_profile_research_request_validation.py
  src/api/tests/service/user/test_profile_onboarding.py
  src/api/tests/service/user/test_profile_onboarding_dual_protocol.py
  src/api/tests/service/user/test_profile_onboarding_guided_routes.py
Due: none

feat: let learners review collected profiles before saving
  docs/exec-plans/active/learner-profile-dialog-redesign.md
  src/api/flaskr/service/profile_research/runtime.py
  src/api/prompts/profile_research_summary.md
  src/api/tests/service/profile_research/test_runtime.py
  src/cook-web/src/components/profile-onboarding/LearnerProfileDialog.test.tsx
  src/cook-web/src/components/profile-onboarding/LearnerProfileDialog.tsx
  src/cook-web/src/components/profile-onboarding/ProfileOnboardingConversation.test.tsx
  src/cook-web/src/components/profile-onboarding/ProfileOnboardingConversation.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/profile-onboarding.json
  src/i18n/fr-FR/modules/profile-onboarding.json
  src/i18n/zh-CN/modules/profile-onboarding.json
Due: prettier-cook-web, eslint

chore: record final guided review closure
  docs/exec-plans/completed/profile-onboarding-guided.md
Due: none

feat: publish Stripe coupons for package campaigns
  src/api/flaskr/service/billing/campaign_discount_providers.py
  src/api/flaskr/service/billing/campaign_provider_discounts.py
  src/api/flaskr/service/billing/campaigns.py
  src/api/flaskr/service/billing/consts.py
  src/api/flaskr/service/billing/dtos.py
  src/api/flaskr/service/billing/models.py
  src/api/flaskr/service/billing/provider_price_mappings.py
  src/api/flaskr/service/billing/routes.py
  src/api/flaskr/service/billing/serializers.py
  src/api/migrations/versions/e9a1b2c3d4f5_add_campaign_provider_discounts.py
  src/api/tests/service/billing/test_campaign_provider_discounts.py
  src/cook-web/src/api/api.test.ts
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/operations/operation-promotion-types.ts
  src/cook-web/src/app/admin/operations/promotions/PackageCampaignsTab.tsx
  src/cook-web/src/app/admin/operations/promotions/page.package-campaigns.test.tsx
  src/cook-web/src/app/admin/operations/promotions/page.tsx
  src/cook-web/src/app/admin/operations/promotions/promotionPageShared.tsx
  src/cook-web/src/app/admin/operations/promotions/promotionsTestUtils.test-support.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/backend/billing.json
  src/i18n/en-US/modules/operations-promotion.json
  src/i18n/fr-FR/modules/backend/billing.json
  src/i18n/fr-FR/modules/operations-promotion.json
  src/i18n/zh-CN/modules/backend/billing.json
  src/i18n/zh-CN/modules/operations-promotion.json
Due: prettier-cook-web, eslint

docs: correct onboarding plan paths
  docs/exec-plans/completed/canonical-background-onboarding-contract.md
Due: none

fix: show stored learner sex labels correctly
  src/api/flaskr/service/profile/funcs.py
  src/api/tests/service/profile/test_profile.py
Due: none

fix: preserve profile drafts across tracking updates
  src/cook-web/src/components/profile-onboarding/LearnerProfileDialog.test.tsx
  src/cook-web/src/components/profile-onboarding/useLearnerProfileDialogController.ts
Due: prettier-cook-web, eslint

fix: bound course profile eligibility checks
  src/cook-web/src/app/c/[[...id]]/hooks/useCourseProfileOnboardingGate.ts
  src/cook-web/src/app/c/[[...id]]/page.test.tsx
Due: prettier-cook-web, eslint

fix: recover from rejected profile collection sessions
  src/cook-web/src/components/profile-onboarding/LearnerProfileDialog.test.tsx
  src/cook-web/src/components/profile-onboarding/ProfileOnboardingConversation.test.tsx
  src/cook-web/src/components/profile-onboarding/ProfileOnboardingConversation.tsx
  src/cook-web/src/components/profile-onboarding/profileOnboardingConversationModel.ts
  src/cook-web/src/components/profile-onboarding/useLearnerProfileDialogController.ts
  src/cook-web/src/components/profile-onboarding/useProfileOnboardingSession.ts
Due: prettier-cook-web, eslint

fix: preserve profile label response defaults
  src/api/flaskr/service/profile/funcs.py
Due: none

fix: align Arabic and Thai profile translations
  src/i18n/ar-SA/modules/backend/common.json
  src/i18n/ar-SA/modules/backend/profile.json
  src/i18n/ar-SA/modules/profile-onboarding.json
  src/i18n/th-TH/modules/backend/common.json
  src/i18n/th-TH/modules/backend/profile.json
  src/i18n/th-TH/modules/profile-onboarding.json
Due: none

fix: expose localized legal URL examples
  docker/.env.example.full
Due: none

fix: keep technical content readable in Arabic RTL
  src/cook-web/src/app/globals.css
Due: prettier-cook-web

fix: add locale direction to verification emails
  src/api/flaskr/service/user/utils.py
  src/api/tests/service/user/test_user_identify.py
Due: none

fix: clarify Thai voice name labels
  src/i18n/th-TH/modules/operations-voice-clone.json
  src/i18n/th-TH/modules/shifu-setting.json
Due: none

fix: match global error language metadata
  src/cook-web/src/app/global-error.tsx
Due: prettier-cook-web, eslint

fix: preserve technical input order in Arabic
  src/cook-web/src/app/globals.css
  src/cook-web/src/components/billing/AdminBillingEntitlementDialog.tsx
  src/cook-web/src/components/order/ImportActivationDialog.tsx
Due: prettier-cook-web, eslint

fix: keep English legal fallbacks readable in Arabic
  src/cook-web/src/app/agreement/page.tsx
  src/cook-web/src/app/privacy/page.tsx
Due: prettier-cook-web, eslint

fix: use correct Arabic plural forms
  src/cook-web/src/lib/arabic-plural-translations.test.ts
  src/i18n/ar-SA/components/header.json
  src/i18n/ar-SA/modules/auth.json
  src/i18n/ar-SA/modules/billing.json
  src/i18n/ar-SA/modules/settings.json
Due: prettier-cook-web, eslint

fix: localize verification emails for language variants
  src/api/flaskr/service/user/utils.py
  src/api/tests/service/user/test_user_identify.py
Due: none

fix: show readable payment artwork for new locales
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModal.tsx
Due: prettier-cook-web, eslint

fix: use correct Arabic minute forms in verification emails
  src/api/flaskr/service/user/utils.py
  src/api/tests/service/user/test_user_identify.py
  src/i18n/ar-SA/modules/backend/user.json
  src/i18n/en-US/modules/backend/user.json
  src/i18n/fr-FR/modules/backend/user.json
  src/i18n/th-TH/modules/backend/user.json
  src/i18n/zh-CN/modules/backend/user.json
Due: none

fix: mirror shared dialogs in Arabic layouts
  src/cook-web/src/components/ui/AlertDialog.test.tsx
  src/cook-web/src/components/ui/AlertDialog.tsx
  src/cook-web/src/components/ui/Dialog.test.tsx
  src/cook-web/src/components/ui/Dialog.tsx
Due: prettier-cook-web, eslint

fix: source profile languages from locale metadata
  src/api/flaskr/i18n/__init__.py
  src/api/flaskr/service/profile/funcs.py
  src/api/tests/common/test_i18n_loader.py
  src/api/tests/golden/fixtures/api_user_profile.json
  src/api/tests/service/profile/test_profile.py
Due: none

fix: display Arabic activity counts correctly
  src/cook-web/src/components/billing/AdminBillingReportsPanel.test.tsx
  src/cook-web/src/components/billing/AdminBillingReportsPanel.tsx
Due: prettier-cook-web, eslint

fix: keep login credentials readable in Arabic
  src/cook-web/src/components/auth/PasswordLogin.test.tsx
  src/cook-web/src/components/auth/PasswordLogin.tsx
Due: prettier-cook-web, eslint
