Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

fix(cook-web): keep dialogs visible in browser fullscreen mode
  src/cook-web/SKILL.md
  src/cook-web/skills/fullscreen-dialog-portal/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/components/ui/Dialog.test.tsx
  src/cook-web/src/components/ui/Dialog.tsx
Due: prettier-cook-web, eslint

fix(cook-web): preserve fullscreen state when switching to the next lesson
  src/cook-web/skills/fullscreen-dialog-portal/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavDrawer.module.css
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavDrawer.module.scss
Due: prettier-cook-web

fix(cook-web): show ask overlay inside fullscreen slide viewport on desktop
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
Due: prettier-cook-web, eslint

fix: comment dialog in full screen
  src/cook-web/skills/fullscreen-dialog-portal/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/c-utils/browserFullscreen.ts
  src/cook-web/src/components/ui/Dialog.tsx
Due: prettier-cook-web, eslint

fix: restore celery worker startup in docker
  docker/docker-compose.dev.yml
  docker/docker-compose.latest.yml
  docker/docker-compose.yml
  src/api/Dockerfile
  src/api/requirements.txt
Due: none

Mirror billing snapshots into provider raw tables
  docs/tasks.md
Due: none

Implement billing provider raw snapshot mirroring
  docs/billing-subscription-design.md
  scripts/generate_ai_collab_docs.py
  src/api/flaskr/service/billing/AGENTS.md
  src/api/flaskr/service/billing/funcs.py
  src/api/flaskr/service/order/AGENTS.md
  src/api/flaskr/service/order/admin.py
  src/api/flaskr/service/order/funs.py
  src/api/flaskr/service/order/models.py
  src/api/flaskr/service/order/raw_snapshots.py
  src/api/migrations/versions/f6a7b8c9d0e1_add_biz_domain_to_order_provider_raw_tables.py
  src/api/tests/service/billing/test_billing_callbacks.py
  src/api/tests/service/billing/test_billing_renewal_compensation.py
  src/api/tests/service/billing/test_billing_write_routes.py
  src/api/tests/service/billing/test_legacy_boundary_contracts.py
  src/api/tests/service/order/test_provider_raw_snapshot_schema.py
  src/api/tests/service/order/test_stripe_refund.py
  src/api/tests/service/order/test_stripe_webhook.py
Due: none

Add new creator trial credits
  docs/new-creator-trial-credits.md
  src/api/flaskr/service/billing/consts.py
  src/api/flaskr/service/billing/dtos.py
  src/api/flaskr/service/user/repository.py
  src/api/migrations/versions/a1b2c3d4e5f7_add_billing_new_creator_trial_config.py
  src/api/tests/service/billing/test_billing_dtos.py
  src/api/tests/service/billing/test_billing_models.py
  src/api/tests/service/billing/test_billing_routes.py
  src/api/tests/service/billing/test_billing_trial_config_contracts.py
  src/api/tests/service/billing/test_billing_trial_credits.py
  src/api/tests/service/user/test_repository.py
  src/cook-web/src/app/admin/billing/page.test.tsx
  src/cook-web/src/app/admin/layout.test.tsx
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.test.tsx
  src/cook-web/src/components/billing/BillingOverviewTab.test.tsx
  src/cook-web/src/components/billing/BillingOverviewTab.tsx
  src/cook-web/src/lib/__tests__/billing.test.ts
  src/cook-web/src/lib/billing.ts
  src/cook-web/src/types/billing.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

refactor billing page header layout
  src/cook-web/src/components/billing/BillingPageHeader.tsx
Due: prettier-cook-web, eslint

fix billing funcs compatibility exports
  src/api/flaskr/service/billing/funcs.py
Due: none

fix(cook-web): keep sys pay interaction reusable in listen slide player
  src/cook-web/SKILL.md
  src/cook-web/skills/README.md
  src/cook-web/skills/chat-system-interaction-button-overrides/SKILL.md
  src/cook-web/src/__tests__/content-block-pay-interaction.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.tsx
  src/cook-web/src/app/globals.css
  src/cook-web/src/c-utils/system-interaction.ts
Due: prettier-cook-web, eslint

refactor billing return types into value objects
  src/api/flaskr/route/callback.py
  src/api/flaskr/service/billing/admission.py
  src/api/flaskr/service/billing/charges.py
  src/api/flaskr/service/billing/checkout.py
  src/api/flaskr/service/billing/cli.py
  src/api/flaskr/service/billing/consts.py
  src/api/flaskr/service/billing/daily_aggregates.py
  src/api/flaskr/service/billing/domains.py
  src/api/flaskr/service/billing/dtos.py
  src/api/flaskr/service/billing/entitlements.py
  src/api/flaskr/service/billing/provider_state.py
  src/api/flaskr/service/billing/queries.py
  src/api/flaskr/service/billing/read_models.py
  src/api/flaskr/service/billing/renewal.py
  src/api/flaskr/service/billing/runtime_config.py
  src/api/flaskr/service/billing/serializers.py
  src/api/flaskr/service/billing/settlement.py
  src/api/flaskr/service/billing/subscriptions.py
  src/api/flaskr/service/billing/tasks.py
  src/api/flaskr/service/billing/trials.py
  src/api/flaskr/service/billing/value_objects.py
  src/api/flaskr/service/billing/wallets.py
  src/api/flaskr/service/billing/webhooks.py
  src/api/flaskr/service/order/funs.py
  src/api/tests/service/billing/test_billing_return_type_contracts.py
Due: none

Add Pingxx QR checkout to billing
  src/cook-web/src/components/billing/BillingCheckoutDialog.tsx
  src/cook-web/src/components/billing/BillingOrdersTable.test.tsx
  src/cook-web/src/components/billing/BillingOrdersTable.tsx
  src/cook-web/src/components/billing/BillingOverviewTab.test.tsx
  src/cook-web/src/components/billing/BillingOverviewTab.tsx
  src/cook-web/src/components/billing/BillingPingxxQrDialog.tsx
  src/cook-web/src/lib/billing.ts
  src/cook-web/src/types/billing.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

Fix shifu editor remote draft sync
  src/cook-web/src/components/shifu-edit/DraftConflictDialog.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: prettier-cook-web, eslint

Fix billing settlement for debug previews
  docs/billing-subscription-design.md
  src/api/flaskr/service/billing/ownership.py
  src/api/flaskr/service/metering/recorder.py
  src/api/flaskr/service/shifu/ask_preview.py
  src/api/flaskr/service/shifu/http/preview_routes.py
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/tts_preview.py
  src/api/tests/service/billing/test_billing_ownership.py
  src/api/tests/service/metering/test_recording.py
  src/api/tests/service/shifu/test_ask_preview_route.py
  src/api/tests/service/shifu/test_billing_debug_admission_contracts.py
  src/api/tests/service/shifu/test_tts_preview_helper.py
Due: none

Refine shifu draft sync conflict handling
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: prettier-cook-web, eslint

Harden shifu draft sync matching
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

Guard shifu remote draft sync
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/store/useShifu.tsx
  src/cook-web/src/types/shifu.ts
Due: prettier-cook-web, eslint

fix
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

Refine shifu load latest flow
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

fix: stabilize shifu editor remote draft sync and conflict handling (#1516)
  src/cook-web/src/components/shifu-edit/DraftConflictDialog.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/store/useShifu.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/cook-web/src/types/shifu.ts
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: prettier-cook-web, eslint

feat: add operator course detail page (#1513)
  docs/operator-course-detail-page.md
  docs/operator-course-visit-analytics.md
  src/api/error_codes.json
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_dtos.py
  src/api/flaskr/service/shifu/route.py
  src/api/tests/service/shifu/test_admin_course_detail.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/operations/operation-course-types.ts
  src/cook-web/src/app/admin/operations/page.tsx
  src/cook-web/src/c-utils/textutils.ts
  src/i18n/en-US/modules/operations-course.json
  src/i18n/zh-CN/modules/operations-course.json
Due: prettier-cook-web, eslint

fix: member card ui
  src/cook-web/SKILL.md
  src/cook-web/package-lock.json
  src/cook-web/src/app/admin/SidebarContent.tsx
  src/cook-web/src/app/admin/billing/page.test.tsx
  src/cook-web/src/app/admin/billing/page.tsx
  src/cook-web/src/app/admin/layout.test.tsx
  src/cook-web/src/components/billing/BillingSidebarCard.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

fix: billing plans ui
  src/cook-web/SKILL.md
  src/cook-web/src/components/billing/BillingOverviewCards.module.css
  src/cook-web/src/components/billing/BillingOverviewCards.module.scss
  src/cook-web/src/components/billing/BillingOverviewCards.tsx
  src/cook-web/src/components/billing/BillingOverviewShowcase.tsx
  src/cook-web/src/components/billing/BillingOverviewTab.test.tsx
  src/cook-web/src/components/billing/BillingOverviewTab.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

fix: recharge card ui
  src/cook-web/SKILL.md
  src/cook-web/src/components/billing/BillingOverviewCards.module.css
  src/cook-web/src/components/billing/BillingOverviewCards.module.scss
  src/cook-web/src/components/billing/BillingOverviewCards.tsx
  src/cook-web/src/components/billing/BillingOverviewShowcase.tsx
  src/cook-web/src/components/billing/BillingOverviewTab.test.tsx
Due: prettier-cook-web, eslint

chore: Upgrade markdown-flow related dependency packages
  src/api/requirements.txt
  src/cook-web/package.json
Due: prettier-cook-web

chore: Upgrade markdown-flow related dependency packages (#1517)
  src/api/requirements.txt
  src/cook-web/package.json
Due: prettier-cook-web

Fix false content updated prompt
  src/cook-web/src/components/shifu-edit/ShifuEdit.test.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

fix: base billing ui
  src/cook-web/SKILL.md
  src/cook-web/src/app/admin/billing/page.test.tsx
  src/cook-web/src/app/admin/billing/page.tsx
  src/cook-web/src/components/billing/BillingAlertsBanner.tsx
  src/cook-web/src/components/billing/BillingOverviewHero.tsx
  src/cook-web/src/components/billing/BillingOverviewShowcase.tsx
  src/cook-web/src/components/billing/BillingOverviewTab.test.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

fix: billing detail ui
  src/cook-web/SKILL.md
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.tsx
  src/cook-web/src/components/billing/BillingOverviewHero.tsx
  src/cook-web/src/components/billing/BillingOverviewTab.test.tsx
  src/cook-web/src/components/billing/BillingOverviewTab.tsx
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/SKILL.md
  src/cook-web/src/app/admin/billing/page.tsx
Due: prettier-cook-web, eslint

fix: usage table ui
  src/cook-web/SKILL.md
  src/cook-web/src/app/admin/billing/page.test.tsx
  src/cook-web/src/components/billing/BillingRecentActivitySection.test.tsx
  src/cook-web/src/components/billing/BillingRecentActivitySection.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

fix: button ui
  src/cook-web/src/components/ui/Button.tsx
  src/cook-web/src/components/ui/Tabs.tsx
Due: prettier-cook-web, eslint

feat: base ui
  src/cook-web/SKILL.md
  src/cook-web/src/app/admin/admin-menu.tsx
  src/cook-web/src/app/admin/billing/admin/page.tsx
  src/cook-web/src/app/admin/billing/page.tsx
  src/cook-web/src/app/admin/layout.test.tsx
  src/cook-web/src/app/admin/layout.tsx
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

fix: tooltip ui
  src/cook-web/SKILL.md
  src/cook-web/src/components/billing/BillingOverviewCards.tsx
  src/cook-web/src/components/billing/BillingOverviewShowcase.tsx
  src/cook-web/src/components/billing/BillingOverviewTab.test.tsx
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

Refine shifu conflict tracking refs
  src/cook-web/src/components/shifu-edit/ShifuEdit.test.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
