Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

fix: align archive UI and allow view users to manage archive
  src/cook-web/src/app/admin/page.tsx
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

feat: upgrade markdown-flow-ui version to 0.1.78
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: upgrade markdown-flow-ui version to 0.1.78 (#1251)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: upgrade markdown-flow-ui version to 0.1.79
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: upgrade markdown-flow-ui version to 0.1.79 (#1252)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: validate coupon scope by course
  src/api/flaskr/service/order/coupon_funcs.py
Due: none

feat: add learner block view tracking for all lesson types
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/c-common/hooks/useTracking.ts
  src/cook-web/src/c-common/tools/tracking.ts
Due: prettier-cook-web, eslint

docs: enhance tracking skill with auto-update registry
  .claude/skills/tracking/SKILL.md
  .claude/skills/tracking/references/existing-events.md
Due: none

fix: allow preview lessons without auth
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseSection.tsx
  src/cook-web/src/app/c/[[...id]]/hooks/useLessonTree.ts
Due: prettier-cook-web, eslint

Revert "fix: respect preview mode for lesson access"
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseSection.tsx
  src/cook-web/src/app/c/[[...id]]/hooks/useLessonTree.ts
Due: prettier-cook-web, eslint

fix: respect preview mode for lesson access
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseSection.tsx
  src/cook-web/src/app/c/[[...id]]/hooks/useLessonTree.ts
Due: prettier-cook-web, eslint

fix: skip login/pay when previewing lessons (#1235)
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseSection.tsx
  src/cook-web/src/app/c/[[...id]]/hooks/useLessonTree.ts
Due: prettier-cook-web, eslint

chore: remove unused tts env vars
  docker/.env.example.full
  src/api/flaskr/api/tts/__init__.py
  src/api/flaskr/api/tts/aliyun_provider.py
  src/api/flaskr/api/tts/baidu_provider.py
  src/api/flaskr/api/tts/volcengine_provider.py
  src/api/flaskr/common/config.py
Due: none

refactor: drop tts voice env defaults
  docker/.env.example.full
  src/api/flaskr/api/tts/aliyun_provider.py
  src/api/flaskr/api/tts/baidu_provider.py
  src/api/flaskr/api/tts/minimax_provider.py
  src/api/flaskr/api/tts/volcengine_provider.py
  src/api/flaskr/common/config.py
Due: none

feat: enforce strict tts settings
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/api/flaskr/service/tts/validation.py
Due: none

fix: only enable tts controls on content blocks
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

fix: hide tts controls for interaction blocks
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
Due: prettier-cook-web, eslint

fix: gate tts player until text output completes
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix: delay tts controls until block completes
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix: coerce tts autoplay flags to boolean
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

fix: clamp manual pitch input
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

fix: disable tts sliders at bounds
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

feat: allow manual tts tuning inputs
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

chore: sync shifu setting with dev02
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

chore: align tts inputs to text
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

fix: improve shifu tts inputs and dropdown
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/components/ui/Select.tsx
Due: prettier-cook-web, eslint

fix: clamp tts inputs with constants and limit dropdown height
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/components/ui/Select.tsx
Due: prettier-cook-web, eslint

Revert "fix: clamp tts inputs with constants and limit dropdown height"
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/components/ui/Select.tsx
Due: prettier-cook-web, eslint

fix: use tts constants and sync inputs
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

chore: dedupe temperature constants
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

chore: stabilize tts input formatting
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

fix: address tts preview deps and inputs
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

fix: round tts pitch inputs to integers
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
