Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

fix: avoid ops alerts for handled run script errors
  src/api/flaskr/service/learn/runscript_v2.py
  src/api/tests/service/learn/test_runscript_v2_lock.py
Due: none

fix: address review feedback on run script error logging
  src/api/flaskr/service/learn/runscript_v2.py
  src/api/tests/service/learn/test_runscript_v2_lock.py
Due: none

fix: avoid ops alerts for handled run script errors (#1949)
  src/api/flaskr/service/learn/runscript_v2.py
  src/api/tests/service/learn/test_runscript_v2_lock.py
Due: none

fix: address review feedback on TTS business error logging
  src/api/flaskr/service/learn/routes.py
  src/api/tests/service/learn/test_runtime_tts_admission.py
Due: none

fix: harden Feishu log delivery
  src/api/flaskr/common/log.py
  src/api/tests/common/test_log.py
Due: none

fix: downgrade TTS stream business errors (#1961)
  src/api/flaskr/service/learn/routes.py
  src/api/tests/service/learn/test_runtime_tts_admission.py
Due: none

fix: address review feedback on Feishu log delivery
  src/api/flaskr/common/log.py
  src/api/tests/common/test_log.py
Due: none

fix: harden Feishu log delivery (#1970)
  src/api/flaskr/common/log.py
  src/api/tests/common/test_log.py
Due: none

fix(cook-web): load ChatComponents via next/dynamic to prevent SSR crash (#2046)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
Due: prettier-cook-web, eslint

fix: prioritize cloned voices in TTS selector (#2063)
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/components/shifu-setting/minimax-voice-clone.test.ts
  src/cook-web/src/components/shifu-setting/minimax-voice-clone.ts
Due: prettier-cook-web, eslint

fix: preserve publish menu cursor
  src/cook-web/src/components/header/Header.tsx
Due: prettier-cook-web, eslint

fix: address button cursor review feedback
  src/cook-web/src/app/globals.css
  src/cook-web/src/components/audio/AudioPlayer.tsx
  src/cook-web/src/components/header/Header.tsx
  src/cook-web/src/components/ui/Switch.tsx
  src/cook-web/src/components/ui/Tabs.tsx
Due: prettier-cook-web, eslint

fix: normalize button cursor styles
  src/cook-web/src/app/admin/operations/[shifu_bid]/CourseMetricsCardGrid.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatComponents.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatComponents.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/GlobalInfoButton.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/GlobalInfoButton.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/LessonFeedbackInteraction.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/LearningModeSwitch.module.css
  src/cook-web/src/app/c/[[...id]]/Components/LearningModeSwitch.module.scss
  src/cook-web/src/app/globals.css
  src/cook-web/src/components/audio/AudioPlayer.tsx
  src/cook-web/src/components/header/Header.tsx
  src/cook-web/src/components/lesson-preview/VariableList.module.css
  src/cook-web/src/components/lesson-preview/VariableList.module.scss
  src/cook-web/src/components/ui/Switch.tsx
  src/cook-web/src/components/ui/Tabs.tsx
Due: prettier-cook-web, eslint

fix: address global cursor review follow-up
  src/cook-web/src/app/globals.css
Due: prettier-cook-web

fix: preserve control focus indicators
  src/cook-web/src/components/ui/Switch.tsx
  src/cook-web/src/components/ui/Tabs.tsx
Due: prettier-cook-web, eslint

fix: normalize button cursor styles (#1955)
  src/cook-web/src/app/admin/operations/[shifu_bid]/CourseMetricsCardGrid.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatComponents.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatComponents.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/GlobalInfoButton.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/GlobalInfoButton.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/LessonFeedbackInteraction.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/LearningModeSwitch.module.css
  src/cook-web/src/app/c/[[...id]]/Components/LearningModeSwitch.module.scss
  src/cook-web/src/app/globals.css
  src/cook-web/src/components/audio/AudioPlayer.tsx
  src/cook-web/src/components/header/Header.tsx
  src/cook-web/src/components/lesson-preview/VariableList.module.css
  src/cook-web/src/components/lesson-preview/VariableList.module.scss
  src/cook-web/src/components/ui/Switch.tsx
  src/cook-web/src/components/ui/Tabs.tsx
Due: prettier-cook-web, eslint

fix(tts): scope MiniMax RPM gate per model and treat queue timeout as backpressure
  src/api/error_codes.json
  src/api/flaskr/api/tts/minimax_provider.py
  src/api/flaskr/common/config.py
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/tts/rpm_gate.py
  src/api/tests/service/learn/test_tts_error_mapping.py
  src/api/tests/service/tts/test_minimax_http_streaming.py
  src/api/tests/service/tts/test_minimax_rpm_limit.py
  src/api/tests/service/tts/test_tts_rpm_gate.py
  src/i18n/en-US/modules/backend/learn.json
  src/i18n/fr-FR/modules/backend/learn.json
  src/i18n/zh-CN/modules/backend/learn.json
Due: none

fix(tts): satisfy repo-harness and CodeQL on the RPM gate change
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/tts/api.py
  src/api/flaskr/service/tts/rpm_gate.py
Due: none

fix(tts): fail-fast validation for MINIMAX_TTS_RPM_LIMITS
  src/api/flaskr/common/config.py
Due: none

fix(tts): keep _scope_key byte-identical to avoid a spurious CodeQL "new" alert
  src/api/flaskr/service/tts/rpm_gate.py
Due: none

fix(tts): scope MiniMax RPM gate per model and treat queue timeout as backpressure (#2070)
  src/api/error_codes.json
  src/api/flaskr/api/tts/minimax_provider.py
  src/api/flaskr/common/config.py
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/tts/api.py
  src/api/flaskr/service/tts/rpm_gate.py
  src/api/tests/service/learn/test_tts_error_mapping.py
  src/api/tests/service/tts/test_minimax_http_streaming.py
  src/api/tests/service/tts/test_minimax_rpm_limit.py
  src/api/tests/service/tts/test_tts_rpm_gate.py
  src/i18n/en-US/modules/backend/learn.json
  src/i18n/fr-FR/modules/backend/learn.json
  src/i18n/zh-CN/modules/backend/learn.json
Due: none

fix: align operator admin page spacing
  src/cook-web/src/app/admin/operations/profile-onboarding/page.tsx
  src/cook-web/src/app/admin/operations/voice-clones/page.tsx
Due: prettier-cook-web, eslint

fix: align operator admin page spacing (#2071)
  src/cook-web/src/app/admin/operations/profile-onboarding/page.tsx
  src/cook-web/src/app/admin/operations/voice-clones/page.tsx
Due: prettier-cook-web, eslint

fix(tts): cap concurrent block-audio synthesis to prevent RPM bursts
  src/api/flaskr/common/config.py
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/tests/service/learn/test_tts_synth_concurrency.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/lib/runWithConcurrency.test.ts
  src/cook-web/src/lib/runWithConcurrency.ts
Due: prettier-cook-web, eslint

style(tts): prettier-format runWithConcurrency
  src/cook-web/src/lib/runWithConcurrency.ts
Due: prettier-cook-web, eslint

fix(tts): only release a synthesis slot that was actually reserved
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/tests/service/learn/test_tts_synth_concurrency.py
Due: none

test: cover trial subscription expiration lifecycle
  src/api/tests/service/billing/test_billing_renewal_execution.py
  src/api/tests/service/billing/test_billing_routes.py
  src/api/tests/service/billing/test_billing_write_routes.py
Due: none

style: format trial checkout regression
  src/api/tests/service/billing/test_billing_write_routes.py
Due: none

test: cover trial subscription expiration lifecycle (#2073)
  src/api/tests/service/billing/test_billing_renewal_execution.py
  src/api/tests/service/billing/test_billing_routes.py
  src/api/tests/service/billing/test_billing_write_routes.py
Due: none

Decouple TTS credit multiplier from the LLM baseline
  src/api/flaskr/api/tts/__init__.py
  src/api/flaskr/common/config.py
  src/api/tests/service/tts/test_tts_config_options.py
Due: none

fix: normalize billing renewal event schedule precision
  src/api/flaskr/service/billing/subscriptions.py
  src/api/flaskr/service/billing/trials.py
  src/api/tests/service/billing/test_billing_renewal_execution.py
  src/api/tests/service/billing/test_billing_trial_credits.py
Due: none

test: align billing event schedule precision expectations
  src/api/tests/service/billing/test_billing_write_routes.py
  src/api/tests/service/billing/test_referral_plan_rewards.py
Due: none

fix: match MySQL datetime rounding for billing events
  src/api/flaskr/service/billing/primitives.py
  src/api/flaskr/service/billing/subscriptions.py
  src/api/flaskr/service/billing/trials.py
  src/api/tests/service/billing/test_billing_renewal_execution.py
  src/api/tests/service/billing/test_billing_write_routes.py
  src/api/tests/service/billing/test_referral_plan_rewards.py
Due: none

fix: normalize billing renewal event schedule precision (#2075)
  src/api/flaskr/service/billing/primitives.py
  src/api/flaskr/service/billing/subscriptions.py
  src/api/flaskr/service/billing/trials.py
  src/api/tests/service/billing/test_billing_renewal_execution.py
  src/api/tests/service/billing/test_billing_trial_credits.py
  src/api/tests/service/billing/test_billing_write_routes.py
  src/api/tests/service/billing/test_referral_plan_rewards.py
Due: none

Anchor TTS credit multiplier to the shared LLM 1x, not a standalone baseline
  src/api/flaskr/api/tts/__init__.py
  src/api/flaskr/common/config.py
  src/api/tests/service/tts/test_tts_config_options.py
Due: none

fix(tts): cap concurrent block-audio synthesis to prevent RPM bursts (#2072)
  src/api/flaskr/common/config.py
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/tests/service/learn/test_tts_synth_concurrency.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/lib/runWithConcurrency.test.ts
  src/cook-web/src/lib/runWithConcurrency.ts
Due: prettier-cook-web, eslint

Anchor TTS credit multiplier to the shared LLM 1x baseline (#2074)
  src/api/flaskr/api/tts/__init__.py
  src/api/flaskr/common/config.py
  src/api/tests/service/tts/test_tts_config_options.py
Due: none

chore(api): bump markdown-flow to 0.2.86
  src/api/requirements.txt
Due: none

chore(api): bump markdown-flow to 0.2.86 to render fence-wrapped HTML (#2076)
  src/api/requirements.txt
Due: none

fix: respect learner runtime language
  src/api/flaskr/route/user.py
  src/api/tests/route/test_user_language_context.py
  src/cook-web/src/c-api/studyV2.ts
  src/cook-web/src/lib/request.ts
Due: prettier-cook-web, eslint
