Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

feat: add metric card shell (#1857)
  src/cook-web/src/app/admin/components/AdminMetricCard.test.tsx
  src/cook-web/src/app/admin/components/AdminMetricCard.tsx
  src/cook-web/src/app/admin/operations/CourseOverviewSection.tsx
  src/cook-web/src/app/admin/operations/orders/OrderOverviewSection.tsx
Due: prettier-cook-web, eslint

refactor: split user credit operator services (#1853)
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_operations/route.py
  src/api/flaskr/service/shifu/admin_operations/user_credits.py
  src/api/tests/service/shifu/test_admin_users.py
Due: none

refactor: split operator user management services
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_operations/route.py
  src/api/flaskr/service/shifu/admin_operations/users.py
  src/api/tests/service/shifu/test_admin_users.py
Due: none

chore: add missing i18n keys for course list and email login (fr-FR)
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/user.json
  src/i18n/fr-FR/modules/auth.json
  src/i18n/fr-FR/modules/user.json
  src/i18n/zh-CN/modules/user.json
Due: prettier-cook-web, eslint

refactor: expose operator user support helpers
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_operations/user_support.py
  src/api/flaskr/service/shifu/admin_operations/users.py
Due: none

style: format operator user support export
  src/api/flaskr/service/shifu/admin.py
Due: none

feat: lazy load credit notification config tab
  src/cook-web/src/app/admin/operations/credit-notifications/page.test.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/page.tsx
Due: prettier-cook-web, eslint

fix: handle ops alert errors
  src/api/flaskr/api/sms/aliyun.py
  src/api/flaskr/service/billing/credit_notifications.py
  src/api/flaskr/service/shifu/funcs.py
  src/api/tests/test_shifu_upload_file.py
  src/api/tests/test_sms_aliyun.py
Due: none

fix: avoid duplicate config tab load effects
  src/cook-web/src/app/admin/operations/credit-notifications/page.tsx
Due: prettier-cook-web, eslint

fix: guard credit notification config loading
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationConfigTab.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/page.test.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/page.tsx
Due: prettier-cook-web, eslint

fix: stabilize credit notification config tab tests
  src/cook-web/src/app/admin/operations/credit-notifications/page.test.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/page.tsx
Due: prettier-cook-web, eslint

feat: optimize operator course list queries
  src/api/flaskr/service/shifu/admin.py
  src/api/tests/service/shifu/test_admin_courses.py
Due: none

feat: lazy load credit notification config tab (#1859)
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationConfigTab.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/page.test.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/page.tsx
Due: prettier-cook-web, eslint

fix: skip empty listen-mode tts blocks
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/tests/test_learn_api.py
Due: none

feat: add creator course redemption codes (#1851)
  src/api/flaskr/route/order.py
  src/api/flaskr/service/promo/admin.py
  src/api/flaskr/service/promo/admin_dtos.py
  src/api/flaskr/service/promo/api.py
  src/api/tests/service/billing/test_legacy_boundary_contracts.py
  src/api/tests/service/promo/test_admin_promotions.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/operations/operation-promotion-types.ts
  src/cook-web/src/app/admin/operations/promotions/PromotionCampaignsTab.tsx
  src/cook-web/src/app/admin/operations/promotions/PromotionCouponsTab.tsx
  src/cook-web/src/app/admin/operations/promotions/PromotionRecordDialogs.tsx
  src/cook-web/src/app/admin/operations/promotions/page.test.tsx
  src/cook-web/src/app/admin/operations/promotions/promotionPageShared.tsx
  src/cook-web/src/app/admin/orders/CreatorRedemptionCodeDialog.test.tsx
  src/cook-web/src/app/admin/orders/CreatorRedemptionCodeDialog.tsx
  src/cook-web/src/app/admin/orders/CreatorRedemptionCodesTab.test.tsx
  src/cook-web/src/app/admin/orders/CreatorRedemptionCodesTab.tsx
  src/cook-web/src/app/admin/orders/page.test.tsx
  src/cook-web/src/app/admin/orders/page.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/operations-promotion.json
  src/i18n/en-US/modules/order.json
  src/i18n/fr-FR/modules/operations-promotion.json
  src/i18n/fr-FR/modules/order.json
  src/i18n/zh-CN/modules/operations-promotion.json
  src/i18n/zh-CN/modules/order.json
Due: prettier-cook-web, eslint

refactor: split operator user management services (#1858)
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_operations/route.py
  src/api/flaskr/service/shifu/admin_operations/user_support.py
  src/api/flaskr/service/shifu/admin_operations/users.py
  src/api/tests/service/shifu/test_admin_users.py
Due: none

feat: optimize operator course list queries (#1861)
  src/api/flaskr/service/shifu/admin.py
  src/api/tests/service/shifu/test_admin_courses.py
Due: none

feat: optimize operator user course counts
  src/api/flaskr/service/shifu/admin.py
  src/api/tests/service/shifu/test_admin_users.py
Due: none

fix: preserve require_tmp registration source
  src/api/flaskr/route/user.py
  src/api/tests/service/user/test_require_tmp_route.py
Due: none

fix: require_tmp registration source (#1864)
  src/api/flaskr/route/user.py
  src/api/tests/service/user/test_require_tmp_route.py
Due: none

fix: handle empty mdflow risk control text
  src/api/flaskr/service/check_risk/funcs.py
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
  src/api/tests/test_mdflow_adapter.py
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

fix: handle upload and SMS template ops alerts (#1860)
  src/api/flaskr/api/sms/aliyun.py
  src/api/flaskr/service/billing/credit_notifications.py
  src/api/flaskr/service/shifu/funcs.py
  src/api/tests/test_shifu_upload_file.py
  src/api/tests/test_sms_aliyun.py
Due: none

fix: handle empty mdflow risk control text (#1865)
  src/api/flaskr/service/check_risk/funcs.py
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
  src/api/tests/test_mdflow_adapter.py
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

feat: align preview regenerate with block flow
  src/cook-web/src/__tests__/preview-submission.test.ts
  src/cook-web/src/components/lesson-preview/LessonPreview.test.tsx
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/components/lesson-preview/preview-submission.ts
  src/cook-web/src/components/lesson-preview/usePreviewChat.test.ts
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.test.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

fix: address preview regenerate review feedback
  src/cook-web/src/__tests__/preview-submission.test.ts
  src/cook-web/src/components/lesson-preview/LessonPreview.test.tsx
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/components/lesson-preview/preview-submission.ts
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.test.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

fix: harden preview regenerate fallback index
  src/cook-web/src/__tests__/preview-submission.test.ts
  src/cook-web/src/components/lesson-preview/preview-submission.ts
Due: prettier-cook-web, eslint

feat: add listen playback speed control
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenPlaybackSpeed.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenPlaybackSpeed.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/chat.json
  src/i18n/fr-FR/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

fix: update runtime harness prometheus image
  docker/docker-compose.dev.yml
Due: none

feat: align preview regenerate with block flow (#1866)
  src/cook-web/src/__tests__/preview-submission.test.ts
  src/cook-web/src/components/lesson-preview/LessonPreview.test.tsx
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/components/lesson-preview/preview-submission.ts
  src/cook-web/src/components/lesson-preview/usePreviewChat.test.ts
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.test.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

fix: use icon for listen speed action
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
Due: prettier-cook-web, eslint

feat: optimize operator user course counts (#1863)
  src/api/flaskr/service/shifu/admin.py
  src/api/tests/service/shifu/test_admin_users.py
Due: none

fix: render listen speed options as icons
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/c-assets/newchat/light/listen-speed/speed-075.svg
  src/cook-web/src/c-assets/newchat/light/listen-speed/speed-100.svg
  src/cook-web/src/c-assets/newchat/light/listen-speed/speed-125.svg
  src/cook-web/src/c-assets/newchat/light/listen-speed/speed-150.svg
  src/cook-web/src/c-assets/newchat/light/listen-speed/speed-200.svg
Due: prettier-cook-web, eslint

fix: enlarge listen speed toolbar icon
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/c-assets/newchat/light/listen-speed/speed-075.svg
  src/cook-web/src/c-assets/newchat/light/listen-speed/speed-100.svg
  src/cook-web/src/c-assets/newchat/light/listen-speed/speed-125.svg
  src/cook-web/src/c-assets/newchat/light/listen-speed/speed-150.svg
  src/cook-web/src/c-assets/newchat/light/listen-speed/speed-200.svg
Due: prettier-cook-web, eslint

refactor: harden operator management audit and filters
  src/api/flaskr/service/billing/credit_notifications.py
  src/api/flaskr/service/config/funcs.py
  src/api/flaskr/service/order/admin.py
  src/api/flaskr/service/promo/admin.py
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_operations/credit_notifications.py
  src/api/flaskr/service/shifu/admin_operations/route.py
  src/api/flaskr/service/shifu/admin_operations/users.py
  src/api/tests/service/billing/test_credit_notifications.py
  src/api/tests/service/order/test_admin_orders.py
  src/api/tests/service/promo/test_admin_promotions.py
  src/api/tests/service/shifu/test_admin_credit_notifications.py
  src/api/tests/service/shifu/test_admin_users.py
  src/api/tests/service/shifu/test_transfer_creator.py
Due: none

fix: polish listen speed icon styling
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/c-assets/newchat/light/listen-speed/speed-075.svg
  src/cook-web/src/c-assets/newchat/light/listen-speed/speed-100.svg
  src/cook-web/src/c-assets/newchat/light/listen-speed/speed-125.svg
  src/cook-web/src/c-assets/newchat/light/listen-speed/speed-150.svg
  src/cook-web/src/c-assets/newchat/light/listen-speed/speed-200.svg
Due: prettier-cook-web, eslint

fix: soften listen speed option styling
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/c-assets/newchat/light/listen-speed/speed-075.svg
  src/cook-web/src/c-assets/newchat/light/listen-speed/speed-100.svg
  src/cook-web/src/c-assets/newchat/light/listen-speed/speed-125.svg
  src/cook-web/src/c-assets/newchat/light/listen-speed/speed-150.svg
  src/cook-web/src/c-assets/newchat/light/listen-speed/speed-200.svg
Due: prettier-cook-web

feat: add listen playback speed control (#1867)
  docker/docker-compose.dev.yml
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenPlaybackSpeed.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenPlaybackSpeed.ts
  src/cook-web/src/c-assets/newchat/light/listen-speed/speed-075.svg
  src/cook-web/src/c-assets/newchat/light/listen-speed/speed-100.svg
  src/cook-web/src/c-assets/newchat/light/listen-speed/speed-125.svg
  src/cook-web/src/c-assets/newchat/light/listen-speed/speed-150.svg
  src/cook-web/src/c-assets/newchat/light/listen-speed/speed-200.svg
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/chat.json
  src/i18n/fr-FR/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

fix: address operator audit review comments
  src/api/flaskr/service/billing/credit_notifications.py
  src/api/flaskr/service/config/funcs.py
  src/api/flaskr/service/order/admin.py
  src/api/flaskr/service/shifu/admin.py
  src/api/tests/service/billing/test_credit_notifications.py
Due: none

fix: initialize current outline item in run context
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_context_v2.py
Due: none

fix: harden config write safeguards
  src/api/flaskr/service/config/funcs.py
  src/api/tests/service/config/test_funcs.py
Due: none
