Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

fix: preserve operator detail wall-clock timestamps (#1894)
  docs/admin-time-display.md
  src/cook-web/src/app/admin/operations/[shifu_bid]/CourseCreditUsageTab.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/follow-ups/FollowUpDetailSheet.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/follow-ups/page.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/follow-ups/page.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/ratings/page.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/ratings/page.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/UserCreditLedgerTab.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.test.tsx
Due: prettier-cook-web, eslint

fix: preserve operator user activity timestamps
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/useUserDetailViewModel.tsx
  src/cook-web/src/app/admin/operations/users/page.test.tsx
  src/cook-web/src/app/admin/operations/users/page.tsx
Due: prettier-cook-web, eslint

docs: clarify operator activity timestamp exceptions
  docs/admin-time-display.md
Due: none

fix: count temp phone claim as referral signup
  src/api/flaskr/service/user/phone_flow.py
  src/api/tests/service/user/test_user_identify.py
Due: none

fix: preserve operator course user timestamps
  docs/admin-time-display.md
  src/cook-web/src/app/admin/operations/[shifu_bid]/CourseUsersTab.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.test.tsx
Due: prettier-cook-web, eslint

fix: preserve operator user activity timestamps (#1896)
  docs/admin-time-display.md
  src/cook-web/src/app/admin/operations/[shifu_bid]/CourseUsersTab.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/useUserDetailViewModel.tsx
  src/cook-web/src/app/admin/operations/users/page.test.tsx
  src/cook-web/src/app/admin/operations/users/page.tsx
Due: prettier-cook-web, eslint

feat: add package order timeout window
  docker/.env.example.full
  src/api/flaskr/common/celery_app.py
  src/api/flaskr/common/config.py
  src/api/flaskr/service/billing/checkout.py
  src/api/flaskr/service/billing/dtos.py
  src/api/flaskr/service/billing/models.py
  src/api/flaskr/service/billing/provider_state.py
  src/api/flaskr/service/billing/tasks.py
  src/api/flaskr/service/shifu/admin_operations/route.py
  src/api/migrations/versions/c5d8e1f2a3b4_add_billing_order_expires_at.py
  src/api/tests/common/test_celery_app.py
  src/api/tests/service/billing/test_billing_callbacks.py
  src/api/tests/service/billing/test_billing_core_schema_contracts.py
  src/api/tests/service/billing/test_billing_models.py
  src/api/tests/service/billing/test_billing_tasks.py
  src/api/tests/service/billing/test_billing_write_routes.py
  src/api/tests/service/billing/test_operator_credit_orders.py
  src/cook-web/src/components/billing/BillingOverviewTab.test.tsx
  src/cook-web/src/components/billing/BillingOverviewTab.tsx
  src/cook-web/src/components/billing/BillingPingxxQrDialog.tsx
  src/cook-web/src/types/billing.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/fr-FR/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

fix: address package timeout pr review feedback
  src/api/flaskr/service/billing/checkout.py
  src/api/flaskr/service/billing/consts.py
  src/api/flaskr/service/billing/tasks.py
  src/api/tests/service/billing/test_billing_tasks.py
  src/cook-web/src/components/billing/BillingOverviewTab.tsx
  src/cook-web/src/components/billing/BillingPingxxQrDialog.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/backend/order.json
  src/i18n/fr-FR/modules/backend/order.json
  src/i18n/zh-CN/modules/backend/order.json
Due: prettier-cook-web, eslint

fix: tighten billing timeout review followups
  src/api/flaskr/service/billing/checkout.py
  src/api/flaskr/service/billing/tasks.py
Due: none

fix: repair replayed expired billing buckets
  src/api/flaskr/service/billing/subscriptions.py
Due: none

feat: implement partial updates of PATCH semantic support fields
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/api/flaskr/service/shifu/shifu_outline_funcs.py
Due: none

fix(shifu): PATCH TTS validation, is_hidden string coercion (AI review)
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
Due: none

fix: serialize billing subscription checkout
  src/api/flaskr/service/billing/checkout.py
Due: none

fix(shifu): capture TTS provided-flags before validation overwrites locals
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
Due: none

fix: narrow config env override detection
  src/api/flaskr/service/config/funcs.py
  src/api/tests/service/config/test_funcs.py
Due: none

feat: implement partial updates of PATCH semantic support fields (#1898)
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/api/flaskr/service/shifu/shifu_outline_funcs.py
Due: none

fix: isolate config env overrides from shared runtime state
  src/api/flaskr/service/config/funcs.py
  src/api/tests/service/config/test_funcs.py
Due: none

fix: preserve env-backed config lookup semantics
  src/api/flaskr/service/config/funcs.py
Due: none

revert: rollback config override changes
  src/api/flaskr/service/config/funcs.py
  src/api/tests/service/config/test_funcs.py
Due: none

fix: restore complete config rollback files
  src/api/flaskr/service/config/funcs.py
  src/api/tests/service/config/test_funcs.py
Due: none

fix: tighten billing checkout lock details
  src/api/flaskr/service/billing/checkout.py
Due: none

fix: sort billing order lists by latest time
  src/api/flaskr/service/billing/read_models.py
  src/api/tests/service/billing/test_operator_credit_orders.py
Due: none

fix: avoid error alerts for orphan outline nodes
  src/api/flaskr/service/shifu/shifu_outline_funcs.py
  src/api/tests/test_shifu_funcs.py
Due: none

fix: defer manual referral renewal credits
  src/api/flaskr/service/billing/subscriptions.py
  src/api/tests/service/billing/test_referral_plan_rewards.py
  src/api/tests/service/user/test_user_identify.py
Due: none

fix: stabilize billing config helper fallbacks
  src/api/flaskr/common/celery_app.py
  src/api/flaskr/common/config.py
  src/api/flaskr/service/config/funcs.py
  src/api/flaskr/util/timezone.py
  src/api/tests/common/test_config.py
  src/api/tests/service/config/test_funcs.py
Due: none

fix: harden redis prefix config access
  src/api/flaskr/common/config.py
  src/api/flaskr/service/shifu/admin_operations/courses.py
  src/api/flaskr/service/shifu/funcs.py
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/user/email_flow.py
  src/api/flaskr/service/user/phone_flow.py
  src/api/flaskr/service/user/utils.py
  src/api/flaskr/service/user/verification_codes.py
  src/api/tests/common/test_config.py
Due: none

fix: activate referral rewards over trial plans
  src/api/flaskr/service/billing/referral_plan_rewards.py
  src/api/tests/service/billing/test_referral_plan_rewards.py
Due: none

test: keep billing replay fixtures current
  src/api/tests/service/billing/test_billing_write_routes.py
Due: none

fix: sort billing order lists by latest time (#1899)
  src/api/flaskr/service/billing/read_models.py
  src/api/tests/service/billing/test_operator_credit_orders.py
Due: none

ci: check only changed cook-web prettier files
  .github/workflows/prettier-check.yml
  scripts/test_prettier_check_changed.py
  src/cook-web/package.json
  src/cook-web/scripts/prettier-check-changed.mjs
Due: prettier-cook-web

fix: defer referral rewards after active entitlements
  docs/design-docs/index.md
  docs/design-docs/referral-invitation-rewards.md
  docs/exec-plans/active/referral-invitation-rewards.md
  docs/generated/doc-inventory.md
  src/api/flaskr/service/billing/referral_plan_rewards.py
  src/api/tests/service/billing/test_referral_plan_rewards.py
Due: none

ci: restore dev prometheus image pin
  docker/docker-compose.dev.yml
Due: none

fix: heck only changed Cook Web Prettier files (#1903)
  .github/workflows/prettier-check.yml
  docker/docker-compose.dev.yml
  scripts/test_prettier_check_changed.py
  src/cook-web/package.json
  src/cook-web/scripts/prettier-check-changed.mjs
Due: prettier-cook-web

fix(config): fallback to registered defaults for missing DB rows
  src/api/flaskr/service/config/funcs.py
  src/api/tests/service/config/test_funcs.py
Due: none

fix: config fallback for missing DB rows (#1904)
  src/api/flaskr/service/config/funcs.py
  src/api/tests/service/config/test_funcs.py
Due: none

fix: harden billing renewal worker dispatch
  src/api/flaskr/service/billing/consts.py
  src/api/flaskr/service/billing/tasks.py
  src/api/tests/service/billing/test_billing_tasks.py
Due: none

feat: show referral reward queue in admin
  src/api/flaskr/service/referral/admin.py
  src/api/tests/service/referral/test_referral_admin.py
  src/cook-web/src/app/admin/operations/referrals/page.test.tsx
  src/cook-web/src/app/admin/operations/referrals/page.tsx
  src/cook-web/src/types/referral.ts
  src/i18n/en-US/modules/referral.json
  src/i18n/fr-FR/modules/referral.json
  src/i18n/zh-CN/modules/referral.json
Due: prettier-cook-web, eslint

fix: address typewriter review feedback
  src/cook-web/src/__tests__/content-block-pay-interaction.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/c-components/ChatUi/ContentBlock.tsx
  src/cook-web/src/c-components/ChatUi/chatTypewriterConstants.ts
Due: prettier-cook-web, eslint

fix: speed up typewriter rendering
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/c-components/ChatUi/ContentBlock.tsx
Due: prettier-cook-web, eslint

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
