Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

fix: reject invalid profile session IDs
  src/api/flaskr/route/user.py
  src/api/tests/service/user/test_profile_onboarding.py
Due: none

fix: align migration head validation
  src/api/tests/migrations/test_fresh_mysql_upgrade.py
Due: none

fix: keep learner profile migration on main lineage
  src/api/migrations/versions/c8f1a2d3e4b5_add_learner_profile_to_users.py
  src/api/migrations/versions/d9e6f1a2b3c4_merge_generation_prompt_and_learner_profile_heads.py
Due: none

refactor: centralize ask provider config
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/components/shifu-setting/ask-provider-config.test.ts
  src/cook-web/src/components/shifu-setting/ask-provider-config.ts
Due: prettier-cook-web, eslint

fix: harden learner profile onboarding
  src/api/flaskr/service/common/profile_onboarding.py
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/profile/onboarding.py
  src/api/flaskr/service/profile_research/runtime.py
  src/api/tests/service/learn/test_context_v2.py
  src/api/tests/service/profile_research/test_runtime.py
  src/api/tests/service/user/test_learner_profile_service.py
  src/api/tests/service/user/test_profile_onboarding_config_v2.py
Due: none

fix: protect learner profile settings
  src/api/flaskr/service/profile_research/runtime.py
  src/api/tests/service/profile_research/test_runtime.py
  src/cook-web/src/components/profile-onboarding/LearnerProfileSettingsSection.test.tsx
  src/cook-web/src/components/profile-onboarding/LearnerProfileSettingsSection.tsx
  src/i18n/en-US/modules/profile-onboarding.json
  src/i18n/fr-FR/modules/profile-onboarding.json
  src/i18n/zh-CN/modules/profile-onboarding.json
Due: prettier-cook-web, eslint

style: format profile onboarding translations
  src/i18n/en-US/modules/profile-onboarding.json
  src/i18n/fr-FR/modules/profile-onboarding.json
  src/i18n/zh-CN/modules/profile-onboarding.json
Due: none

refactor: centralize admin filter params
  src/cook-web/src/app/admin/operations/adminFilterParams.test.ts
  src/cook-web/src/app/admin/operations/adminFilterParams.ts
  src/cook-web/src/app/admin/operations/orders/CreditOrdersTab.tsx
  src/cook-web/src/app/admin/operations/orders/LearnOrdersTab.tsx
  src/cook-web/src/app/admin/operations/page.tsx
  src/cook-web/src/app/admin/operations/users/page.tsx
Due: prettier-cook-web, eslint

fix: prevent stale outline positions during content saves
  src/api/flaskr/service/shifu/outline_write_lock.py
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
  src/api/flaskr/service/shifu/shifu_outline_funcs.py
  src/api/tests/test_mdflow_adapter.py
Due: none

fix: make learning profile setup clear and intentional
  src/cook-web/src/components/profile-onboarding/ProfileOnboardingModal.test.tsx
  src/cook-web/src/components/profile-onboarding/ProfileOnboardingModal.tsx
  src/i18n/en-US/modules/profile-onboarding.json
  src/i18n/fr-FR/modules/profile-onboarding.json
  src/i18n/zh-CN/modules/profile-onboarding.json
Due: prettier-cook-web, eslint

fix: keep risk checks outside outline locks
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
  src/api/tests/test_mdflow_adapter.py
Due: none

fix: explain personalization through learner benefits
  src/cook-web/src/components/profile-onboarding/ProfileOnboardingModal.test.tsx
  src/cook-web/src/components/profile-onboarding/ProfileOnboardingModal.tsx
  src/i18n/en-US/modules/backend/profile.json
  src/i18n/en-US/modules/preview.json
  src/i18n/en-US/modules/profile-onboarding.json
  src/i18n/fr-FR/modules/backend/profile.json
  src/i18n/fr-FR/modules/preview.json
  src/i18n/fr-FR/modules/profile-onboarding.json
  src/i18n/zh-CN/modules/backend/profile.json
  src/i18n/zh-CN/modules/preview.json
  src/i18n/zh-CN/modules/profile-onboarding.json
Due: prettier-cook-web, eslint

feat: make learner onboarding clear and responsive
  design-qa.md
  docs/exec-plans/completed/learner-profile-dialog-redesign.md
  docs/exec-plans/index.md
  docs/generated/doc-inventory.md
  docs/generated/harness-health.md
  src/cook-web/src/components/profile-onboarding/ProfileOnboardingConversation.test.tsx
  src/cook-web/src/components/profile-onboarding/ProfileOnboardingConversation.tsx
  src/cook-web/src/components/profile-onboarding/ProfileOnboardingModal.test.tsx
  src/cook-web/src/components/profile-onboarding/ProfileOnboardingModal.tsx
  src/i18n/en-US/modules/profile-onboarding.json
  src/i18n/fr-FR/modules/profile-onboarding.json
  src/i18n/zh-CN/modules/profile-onboarding.json
Due: prettier-cook-web, eslint

fix: introduce AI Shifu in learner onboarding
  src/i18n/en-US/modules/profile-onboarding.json
  src/i18n/fr-FR/modules/profile-onboarding.json
  src/i18n/zh-CN/modules/profile-onboarding.json
Due: none

fix: prevent stale outline positions during content saves (#2293)
  src/api/flaskr/service/shifu/outline_write_lock.py
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
  src/api/flaskr/service/shifu/shifu_outline_funcs.py
  src/api/tests/test_mdflow_adapter.py
Due: none

fix: truncate billing seed rate bids to the column length
  src/api/flaskr/service/billing/consts.py
  src/api/tests/service/billing/test_billing_models.py
Due: none

fix: truncate billing seed rate bids to the column length (#2294)
  src/api/flaskr/service/billing/consts.py
  src/api/tests/service/billing/test_billing_models.py
Due: none

fix: make learner onboarding concise and clear
  src/cook-web/src/components/profile-onboarding/ProfileOnboardingModal.test.tsx
  src/cook-web/src/components/profile-onboarding/ProfileOnboardingModal.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/profile-onboarding.json
  src/i18n/fr-FR/modules/profile-onboarding.json
  src/i18n/zh-CN/modules/profile-onboarding.json
Due: prettier-cook-web, eslint

fix: prevent course footer from overlapping lesson content
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
Due: prettier-cook-web

fix: prevent Celery workers from sharing database sockets
  src/api/flaskr/common/celery_app.py
  src/api/tests/common/test_celery_app.py
Due: none

fix: retry temporary Tencent speech throttling
  src/api/flaskr/api/tts/tencent_texttovoice_provider.py
  src/api/tests/service/tts/test_tencent_texttovoice_provider.py
Due: none

test: prove Tencent throttling retries stay bounded
  src/api/tests/service/tts/test_tencent_texttovoice_provider.py
Due: none

test: match the Tencent throttle code literally
  src/api/tests/service/tts/test_tencent_texttovoice_provider.py
Due: none

fix: clarify learner onboarding choices
  src/cook-web/src/components/profile-onboarding/ProfileOnboardingModal.test.tsx
  src/cook-web/src/components/profile-onboarding/ProfileOnboardingModal.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/profile-onboarding.json
  src/i18n/fr-FR/modules/profile-onboarding.json
  src/i18n/zh-CN/modules/profile-onboarding.json
Due: prettier-cook-web, eslint

fix: make learner skip action less prominent
  src/cook-web/src/components/profile-onboarding/ProfileOnboardingModal.test.tsx
  src/cook-web/src/components/profile-onboarding/ProfileOnboardingModal.tsx
  src/i18n/en-US/modules/profile-onboarding.json
  src/i18n/fr-FR/modules/profile-onboarding.json
  src/i18n/zh-CN/modules/profile-onboarding.json
Due: prettier-cook-web, eslint

fix: move learner defer action out of the footer
  src/cook-web/src/components/profile-onboarding/ProfileOnboardingModal.test.tsx
  src/cook-web/src/components/profile-onboarding/ProfileOnboardingModal.tsx
  src/i18n/en-US/modules/profile-onboarding.json
  src/i18n/fr-FR/modules/profile-onboarding.json
  src/i18n/zh-CN/modules/profile-onboarding.json
Due: prettier-cook-web, eslint

fix: make TTS timeout alerts actionable
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/tests/service/tts/test_streaming_tts_finalize_segmentation.py
Due: none

test: verify TTS future diagnostic positions
  src/api/tests/service/tts/test_streaming_tts_finalize_segmentation.py
Due: none

fix: prevent admin menu text showing through settings popup
  src/cook-web/src/app/admin/SidebarContent.tsx
  src/cook-web/src/c-components/PopupModal.module.scss
Due: prettier-cook-web, eslint

fix: prevent admin menu text showing through settings popup (#2299)
  src/cook-web/src/app/admin/SidebarContent.tsx
  src/cook-web/src/c-components/PopupModal.module.scss
Due: prettier-cook-web, eslint

feat: show estimated course credit cost (#2262)
  src/api/flaskr/service/billing/api.py
  src/api/flaskr/service/billing/charges.py
  src/api/flaskr/service/shifu/admin_dtos_courses.py
  src/api/flaskr/service/shifu/admin_operations/courses_credit_estimate.py
  src/api/flaskr/service/shifu/admin_operations/courses_detail.py
  src/api/flaskr/service/shifu/admin_operations/courses_shared.py
  src/api/tests/service/shifu/test_admin_course_detail.py
  src/cook-web/src/app/admin/components/AdminCountCard.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/CourseEstimatedCreditCostCard.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/CourseMetricsCardGrid.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/operations/operation-course-types.ts
  src/i18n/en-US/modules/operations-course.json
  src/i18n/fr-FR/modules/operations-course.json
  src/i18n/zh-CN/modules/operations-course.json
Due: prettier-cook-web, eslint

fix: avoid learner route state updates during render
  src/cook-web/src/__tests__/c-preview-layout.test.tsx
  src/cook-web/src/app/c/[[...id]]/layout.tsx
Due: prettier-cook-web, eslint

fix: sync learner route query changes
  src/cook-web/src/__tests__/c-preview-layout.test.tsx
  src/cook-web/src/app/c/[[...id]]/layout.tsx
Due: prettier-cook-web, eslint

fix: avoid learner route state updates during render (#2300)
  src/cook-web/src/__tests__/c-preview-layout.test.tsx
  src/cook-web/src/app/c/[[...id]]/layout.tsx
Due: prettier-cook-web, eslint

fix: match credit notification teacher search hint
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationRecordsFilter.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/page.test.tsx
  src/i18n/en-US/modules/operations-credit-notifications.json
  src/i18n/fr-FR/modules/operations-credit-notifications.json
  src/i18n/zh-CN/modules/operations-credit-notifications.json
Due: prettier-cook-web, eslint

fix: match credit notification teacher search hint (#2302)
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationRecordsFilter.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/page.test.tsx
  src/i18n/en-US/modules/operations-credit-notifications.json
  src/i18n/fr-FR/modules/operations-credit-notifications.json
  src/i18n/zh-CN/modules/operations-credit-notifications.json
Due: prettier-cook-web, eslint

fix: let dashboard course table fit content height
  src/cook-web/src/app/admin/dashboard/page.tsx
Due: prettier-cook-web, eslint

fix: prevent admin table headers from wrapping
  src/cook-web/src/app/admin/components/adminTableStyles.ts
  src/cook-web/src/components/admin/adminTableStyles.ts
Due: prettier-cook-web, eslint

fix: restore admin table ellipsis tooltips
  src/cook-web/src/app/admin/components/AdminTableShell.tsx
  src/cook-web/src/app/admin/components/AdminTooltipText.test.tsx
  src/cook-web/src/app/admin/components/AdminTooltipText.tsx
  src/cook-web/src/components/admin/AdminTableShell.tsx
Due: prettier-cook-web, eslint
