Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

fix: address course settings copy review
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/fr-FR/modules/shifu-setting.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: prettier-cook-web, eslint

fix: improve course settings copy clarity
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/fr-FR/modules/shifu-setting.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: prettier-cook-web, eslint

fix: clarify follow-up provider answer copy
  src/i18n/zh-CN/modules/shifu-setting.json
Due: none

fix: remove stale prompt counter comment
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

fix: preserve course prompt limit after review
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/fr-FR/modules/shifu-setting.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: prettier-cook-web, eslint

fix: use dynamic voice sample duration copy
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/fr-FR/modules/shifu-setting.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: none

fix: improve course settings copy clarity (#2080)
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/fr-FR/modules/shifu-setting.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: prettier-cook-web, eslint

fix: clarify follow-up knowledge source label
  src/i18n/zh-CN/modules/shifu-setting.json
Due: none

fix: clarify follow-up knowledge source label (#2081)
  src/i18n/zh-CN/modules/shifu-setting.json
Due: none

fix: localize learner system interaction buttons
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.tsx
  src/cook-web/src/c-components/ChatUi/ContentBlock.tsx
  src/cook-web/src/c-utils/system-interaction.test.ts
  src/cook-web/src/c-utils/system-interaction.ts
Due: prettier-cook-web, eslint

fix: address system interaction localization review
  src/cook-web/src/c-components/ChatUi/ContentBlock.tsx
  src/cook-web/src/c-utils/system-interaction.ts
Due: prettier-cook-web, eslint

chore: stabilize harness workflows
  .github/workflows/harness-gardening.yml
  .github/workflows/runtime-harness.yml
Due: none

fix: localize learner system interaction buttons (#2082)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.tsx
  src/cook-web/src/c-components/ChatUi/ContentBlock.tsx
  src/cook-web/src/c-utils/system-interaction.test.ts
  src/cook-web/src/c-utils/system-interaction.ts
Due: prettier-cook-web, eslint

fix listen mode follow-up subtitle layering
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
Due: prettier-cook-web

fix: keep listen follow-up above subtitles (#2084)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
Due: prettier-cook-web

fix(learn): skip outline update when current item is missing
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_context_v2.py
Due: none

fix(auth): handle invalid jwt algorithm as bad token
  src/api/flaskr/service/user/common.py
  src/api/tests/service/user/test_validate_user.py
Due: none

chore: bump markdown-flow-ui to 0.1.128
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

chore: bump markdown-flow-ui to 0.1.128 (#2086)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix(learn): preserve no-variable interaction choice in rebuilt context
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_context_v2.py
Due: none

fix(learn): preserve no-variable interaction choice in rebuilt context (#2087)
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_context_v2.py
Due: none

test(shifu): align backend tests with current i18n strings
  src/api/tests/service/shifu/test_ask_provider_registry.py
  src/api/tests/service/shifu/test_course_copy.py
Due: none

test(shifu): restore locale in try/finally to avoid leak
  src/api/tests/service/shifu/test_ask_provider_registry.py
Due: none

test(shifu): align backend tests with current i18n strings (#2088)
  src/api/tests/service/shifu/test_ask_provider_registry.py
  src/api/tests/service/shifu/test_course_copy.py
Due: none

fix referral reward renewal provider sync
  src/api/flaskr/service/billing/renewal.py
  src/api/flaskr/service/billing/subscriptions.py
  src/api/tests/service/billing/test_referral_plan_rewards.py
Due: none

ci(runtime-harness): cache Docker layers and Playwright browsers
  .github/workflows/runtime-harness.yml
Due: none

fix billing renewal review cleanup
  src/api/flaskr/service/billing/subscriptions.py
  src/api/tests/service/billing/test_referral_plan_rewards.py
Due: none

fix: preserve referral reward renewal orders (#2089)
  src/api/flaskr/service/billing/renewal.py
  src/api/flaskr/service/billing/subscriptions.py
  src/api/tests/service/billing/test_referral_plan_rewards.py
Due: none

chore: bump markdown-flow-ui to 0.1.129
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

chore: bump markdown-flow-ui to 0.1.129 (#2091)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix universal verification code guard
  src/api/flaskr/common/config.py
  src/api/flaskr/service/user/email_flow.py
  src/api/flaskr/service/user/phone_flow.py
  src/api/flaskr/service/user/verification_code_policy.py
  src/api/flaskr/service/user/verification_codes.py
  src/api/tests/conftest.py
  src/api/tests/service/user/test_trial_credit_bootstrap.py
  src/api/tests/service/user/test_user_identify.py
Due: none

fix: move lesson update notice to headers
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.lessonUpdateNotice.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/LessonUpdateNotice.tsx
  src/cook-web/src/app/c/[[...id]]/page.module.scss
  src/cook-web/src/app/c/[[...id]]/page.tsx
Due: prettier-cook-web, eslint

fix: shorten lesson update notice translations
  src/i18n/en-US/modules/chat.json
  src/i18n/fr-FR/modules/chat.json
Due: none

fix: align lesson update notice targets
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.module.scss
  src/cook-web/src/app/c/[[...id]]/page.module.scss
  src/cook-web/src/app/c/[[...id]]/page.test.tsx
  src/cook-web/src/app/c/[[...id]]/page.tsx
Due: prettier-cook-web, eslint

fix: move lesson update notice to headers (#2093)
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.lessonUpdateNotice.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/LessonUpdateNotice.tsx
  src/cook-web/src/app/c/[[...id]]/page.module.scss
  src/cook-web/src/app/c/[[...id]]/page.test.tsx
  src/cook-web/src/app/c/[[...id]]/page.tsx
  src/i18n/en-US/modules/chat.json
  src/i18n/fr-FR/modules/chat.json
Due: prettier-cook-web, eslint

fix auth universal code review feedback
  .github/workflows/runtime-harness.yml
  src/api/flaskr/service/user/email_flow.py
  src/api/flaskr/service/user/phone_flow.py
  src/api/flaskr/service/user/verification_code_policy.py
  src/api/flaskr/service/user/verification_codes.py
  src/api/tests/service/user/test_user_identify.py
Due: none

harden universal verification code policy
  src/api/flaskr/service/user/verification_code_policy.py
  src/api/tests/service/user/test_trial_credit_bootstrap.py
  src/api/tests/service/user/test_user_identify.py
Due: none

refactor admin select checkmark placement
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationConfigTab.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationRecordsFilter.tsx
  src/cook-web/src/app/admin/operations/operationCoursePageShared.tsx
  src/cook-web/src/app/admin/operations/promotions/promotionPageShared.tsx
  src/cook-web/src/app/admin/operations/referrals/ReferralRelationsPanel.tsx
  src/cook-web/src/app/admin/orders/CreatorRedemptionCodeDialog.tsx
  src/cook-web/src/app/admin/orders/CreatorRedemptionCodesFilterPanel.tsx
  src/cook-web/src/app/admin/orders/OrdersFilterPanel.tsx
  src/cook-web/src/app/admin/orders/creatorRedemptionCodeShared.ts
  src/cook-web/src/components/model-list/ModelList.tsx
  src/cook-web/src/components/ui/DropdownMenu.tsx
  src/cook-web/src/components/ui/Select.tsx
Due: prettier-cook-web, eslint

refactor: align admin select checkmark placement (#2094)
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationConfigTab.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationRecordsFilter.tsx
  src/cook-web/src/app/admin/operations/operationCoursePageShared.tsx
  src/cook-web/src/app/admin/operations/promotions/promotionPageShared.tsx
  src/cook-web/src/app/admin/operations/referrals/ReferralRelationsPanel.tsx
  src/cook-web/src/app/admin/orders/CreatorRedemptionCodeDialog.tsx
  src/cook-web/src/app/admin/orders/CreatorRedemptionCodesFilterPanel.tsx
  src/cook-web/src/app/admin/orders/OrdersFilterPanel.tsx
  src/cook-web/src/app/admin/orders/creatorRedemptionCodeShared.ts
  src/cook-web/src/components/model-list/ModelList.tsx
  src/cook-web/src/components/ui/DropdownMenu.tsx
  src/cook-web/src/components/ui/Select.tsx
Due: prettier-cook-web, eslint

refactor admin paginated list state
  src/cook-web/src/app/admin/billing/components/BillingRecentActivitySection.tsx
  src/cook-web/src/app/admin/hooks/useAdminPaginatedListState.test.tsx
  src/cook-web/src/app/admin/hooks/useAdminPaginatedListState.ts
Due: prettier-cook-web, eslint

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
