Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

fix: reset draft conflict state for readonly shifu
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

feat: add lesson content history panel and restore
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/store/useShifu.tsx
  src/cook-web/src/types/shifu.ts
  src/i18n/en-US/modules/shifu.json
  src/i18n/zh-CN/modules/shifu.json
Due: prettier-cook-web, eslint

fix: scope draft conflict checks to current outline
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_history_manager.py
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/store/useShifu.tsx
  src/cook-web/src/types/shifu.ts
Due: prettier-cook-web, eslint

fix: address review issues in lesson history feature
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_history_manager.py
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
  src/api/tests/test_mdflow_adapter.py
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/store/useShifu.tsx
  src/cook-web/src/types/shifu.ts
Due: prettier-cook-web, eslint

fix: pass shifu bid when loading mdflow
  src/api/flaskr/service/shifu/route.py
Due: none

fix: prevent restore autosave overwrite and handle conflicts
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

fix: harden history time handling and limit validation
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

style: align history restore button with delete action
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

fix: use utc cutoff when pruning outline history
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
Due: none

fix: address remaining review issues in conflict meta flow
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_history_manager.py
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

fix: show course card menu on card hover
  src/cook-web/src/app/admin/page.tsx
Due: prettier-cook-web, eslint

feat: deliver initial dashboard mvp with entry-only metrics
  src/api/flaskr/service/dashboard/dtos.py
  src/api/flaskr/service/dashboard/funcs.py
  src/api/flaskr/service/dashboard/routes.py
  src/api/tests/service/dashboard/test_dashboard_routes.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/dashboard-backup-20260227-131409/src/cook-web/src/app/admin/dashboard/page.tsx
  src/cook-web/src/app/admin/dashboard-backup-20260227-131409/src/cook-web/src/app/admin/dashboard/shifu/[shifu_bid]/learners/[user_bid]/page.tsx
  src/cook-web/src/app/admin/dashboard-backup-20260227-131409/src/cook-web/src/app/admin/dashboard/shifu/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/dashboard-backup-20260227-131409/src/cook-web/src/components/dashboard/LearnerDetailSheet.tsx
  src/cook-web/src/app/admin/dashboard-backup-20260227-131409/src/cook-web/src/types/dashboard.ts
  src/cook-web/src/app/admin/dashboard-backup-20260227-131409/src/i18n/en-US/modules/dashboard.json
  src/cook-web/src/app/admin/dashboard-backup-20260227-131409/src/i18n/zh-CN/modules/dashboard.json
  src/cook-web/src/app/admin/dashboard/page.tsx
  src/cook-web/src/app/admin/dashboard/shifu/[shifu_bid]/page.tsx
  src/cook-web/src/components/dashboard/LearnerDetailSheet.tsx
  src/cook-web/src/types/dashboard.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/dashboard.json
  src/i18n/zh-CN/modules/dashboard.json
Due: prettier-cook-web, eslint

fix: make api docker apt install resilient in ci
  src/api/Dockerfile
Due: none

fix: stabilize api docker apt install in ci (#1381)
  src/api/Dockerfile
Due: none

fix: reduce false mobile 404 redirects on course page
  docs/mobile-404-sequencing-followup.md
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModal.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModalM.tsx
  src/cook-web/src/app/c/[[...id]]/layout.tsx
  src/cook-web/src/c-api/course.ts
Due: prettier-cook-web, eslint

feat: upgrade markdown-flow-ui version to 0.1.94
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: address review feedback for mobile 404 handling
  src/cook-web/src/__tests__/c-preview-layout.test.tsx
  src/cook-web/src/app/c/[[...id]]/layout.tsx
  src/cook-web/src/c-api/course.ts
  src/i18n/en-US/common/core.json
  src/i18n/zh-CN/common/core.json
Due: prettier-cook-web, eslint

fix: harden course info telemetry and input handling
  src/cook-web/src/app/c/[[...id]]/layout.tsx
  src/cook-web/src/c-api/course.ts
Due: prettier-cook-web, eslint

fix: address remaining review comments in mobile 404
  src/cook-web/src/app/c/[[...id]]/layout.tsx
  src/cook-web/src/c-api/course.ts
Due: prettier-cook-web, eslint

feat: update version
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: format lesson history time by user timezone
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
  src/api/tests/test_mdflow_adapter.py
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/store/useShifu.tsx
  src/cook-web/src/types/shifu.ts
Due: prettier-cook-web, eslint

fix: align history time conversion with app timezone
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
  src/api/tests/test_mdflow_adapter.py
Due: none

fix: align restore revision scope and stabilize mdflow test
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
  src/api/tests/test_mdflow_adapter.py
Due: none

fix: harden lesson conflict checks and optimize draft meta lookup
  src/api/flaskr/service/shifu/models.py
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
  src/api/flaskr/service/shifu/shifu_outline_funcs.py
  src/api/migrations/versions/f0c1e2d3a4b5_add_outline_lookup_composite_index.py
  src/api/tests/test_mdflow_adapter.py
Due: none

fix: align outline conflict meta and revision semantics
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
  src/api/tests/test_mdflow_adapter.py
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

fix: stabilize outline revision semantics and conflict metadata
  src/api/flaskr/service/shifu/models.py
  src/api/migrations/versions/f0c1e2d3a4b5_add_outline_lookup_composite_index.py
Due: none

fix: refine draft-meta delete signal and cleanup docs
  src/api/flaskr/service/shifu/shifu_history_manager.py
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
Due: none

fix: Update markdown-flow dependent versions
  src/api/requirements.txt
Due: none

feat: add lesson history restore confirmation preview
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
  src/api/tests/service/shifu/test_mdflow_history_routes.py
  src/api/tests/test_mdflow_adapter.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/store/useShifu.tsx
  src/cook-web/src/types/shifu.ts
  src/i18n/en-US/modules/shifu.json
  src/i18n/zh-CN/modules/shifu.json
Due: prettier-cook-web, eslint

fix: address review feedback for history restore flow
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
  src/api/tests/service/shifu/test_mdflow_history_routes.py
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/i18n/en-US/modules/shifu.json
Due: prettier-cook-web, eslint

fix: stabilize restore flow for deleted lesson
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
  src/api/tests/service/shifu/test_mdflow_history_routes.py
  src/api/tests/test_mdflow_adapter.py
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/store/useShifu.tsx
  src/cook-web/src/types/shifu.ts
  src/i18n/en-US/modules/shifu.json
  src/i18n/zh-CN/modules/shifu.json
Due: prettier-cook-web, eslint

fix: reset history and conflict states on lesson clear
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

fix: align mdflow history helpers after cherry-pick
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
Due: none

fix: enforce refresh-only close behavior for draft conflict dialog
  src/cook-web/src/components/shifu-edit/DraftConflictDialog.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

refactor: add optional close control to dialog content
  src/cook-web/src/components/shifu-edit/DraftConflictDialog.tsx
  src/cook-web/src/components/ui/Dialog.tsx
Due: prettier-cook-web, eslint

refactor: Remove the visual_mode parameter in MdflowContextV2
  src/api/flaskr/service/learn/context_v2.py
  src/api/requirements.txt
Due: none

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
