Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

feat: add ask element type for listen follow-up
  docs/learn-generated-elements-design.md
  src/api/flaskr/service/learn/handle_input_ask.py
  src/api/flaskr/service/learn/learn_dtos.py
  src/api/flaskr/service/learn/listen_elements.py
  src/api/flaskr/service/learn/models.py
  src/api/tests/service/learn/test_element_protocol.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/c-api/studyV2.ts
  tasks.md
Due: prettier-cook-web, eslint

feat: split ask and answer into separate elements
  docs/learn-generated-elements-design.md
  src/api/flaskr/service/learn/handle_input_ask.py
  src/api/flaskr/service/learn/learn_dtos.py
  src/api/flaskr/service/learn/listen_elements.py
  src/api/flaskr/service/learn/models.py
  src/api/tests/service/learn/test_element_protocol.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/c-api/studyV2.ts
  tasks.md
Due: prettier-cook-web, eslint

fix: align listen element audio finalization
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_element_protocol.py
  src/api/tests/service/learn/test_listen_elements.py
Due: none

fix: guard streamed fixed-output images
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_context_v2.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/c-utils/markdownUtils.test.ts
  src/cook-web/src/c-utils/markdownUtils.ts
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
Due: prettier-cook-web, eslint

fix: align profile variable resolution precedence
  src/api/flaskr/service/profile/funcs.py
Due: none

docs: clarify ignored profile variable_bid arg
  src/api/flaskr/service/profile/funcs.py
Due: none

fix(listen-mode): merge audio segments from tracks and item state consistently
  SKILL.md
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/c-api/studyV2.ts
  src/cook-web/src/c-utils/audio-utils.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

fix(chat): normalize interaction user_input from payload into element state
  SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/c-api/studyV2.ts
Due: prettier-cook-web, eslint

fix(listen-slide): prepend empty-ppt placeholder when leading content starts with text
  SKILL.md
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
Due: prettier-cook-web, eslint

fix: harden streamed image masking
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_context_v2.py
  src/cook-web/src/c-utils/markdownUtils.test.ts
  src/cook-web/src/c-utils/markdownUtils.ts
Due: prettier-cook-web, eslint

fix: harden incomplete html image detection
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_context_v2.py
  src/cook-web/src/c-utils/markdownUtils.test.ts
  src/cook-web/src/c-utils/markdownUtils.ts
Due: prettier-cook-web, eslint

fix(chat): stabilize listen slide render sequence per element stream to reduce iframe white flicker
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix: mark audio complete elements as final
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_listen_elements.py
Due: none

fix: treat only diff updates as non-new elements
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_listen_elements.py
Due: none

fix: make interaction elements non-renderable
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_listen_elements.py
Due: none

feat: support AI Course Creator link on ai-shifu.com domain
  src/cook-web/src/app/admin/page.tsx
Due: prettier-cook-web, eslint

fix(cook-web): restore markdown-flow-ui renderer exports via proper module augmentation
  SKILL.md
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/types/markdown-flow-ui.d.ts
Due: prettier-cook-web, eslint

fix: align profile variable resolution precedence (#1467)
  src/api/flaskr/service/profile/funcs.py
Due: none

chore: drop branch frontend changes
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/__tests__/audio-playlist.test.ts
  src/cook-web/src/__tests__/audio-utils.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentIframe.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlockM.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/测试数据.json
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavDrawer.module.scss
  src/cook-web/src/app/c/[[...id]]/page.module.scss
  src/cook-web/src/app/c/layout.css
  src/cook-web/src/c-api/studyV2.ts
  src/cook-web/src/c-utils/audio-playlist.ts
  src/cook-web/src/c-utils/audio-utils.ts
  src/cook-web/src/c-utils/interaction-user-input.ts
  src/cook-web/src/c-utils/lesson-feedback-interaction-defaults.ts
  src/cook-web/src/components/audio/AudioPlayerList.tsx
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
  src/cook-web/src/types/markdown-flow-ui.d.ts
Due: prettier-cook-web, eslint

fix: lint
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
Due: prettier-cook-web, eslint

refactor: separate domain matching from URL construction
  src/cook-web/src/app/admin/page.tsx
Due: prettier-cook-web, eslint

fix: close remaining fixed-output review issues
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_context_v2.py
  src/cook-web/src/c-utils/markdownUtils.test.ts
  src/cook-web/src/c-utils/markdownUtils.ts
Due: prettier-cook-web, eslint

fix: lint
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

feat: support AI Course Creator link on ai-shifu.com domain (#1468)
  src/cook-web/src/app/admin/page.tsx
Due: prettier-cook-web, eslint

test: fix visual tail flush expectation
  src/api/tests/service/learn/test_context_v2.py
Due: none

feat(cook-web): remove feedback actions and hide regenerate buttons by default
  SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlockM.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/page.tsx
  src/cook-web/src/components/audio/AudioPlayerList.tsx
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

fix(cook-web): normalize legacy block bid fields for chat content items
  SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/chatUiUtils.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/c-api/studyV2.ts
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
Due: prettier-cook-web, eslint

fix: correct listen mode audio binding
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_listen_elements.py
Due: none

fix(cook-web): defer interaction actions until active element stream advances
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
Due: prettier-cook-web, eslint

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: emit done between listen elements
  src/api/flaskr/service/learn/listen_elements.py
  src/api/flaskr/service/learn/runscript_v2.py
  src/api/tests/service/learn/test_listen_elements.py
  src/api/tests/service/learn/test_runscript_v2_lock.py
  src/api/tests/service/learn/test_sse_element_split_from_db.py
Due: none

fix: dedupe listen records by block position
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_listen_elements.py
Due: none

fix: finalize last audio segment per element
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_listen_elements.py
Due: none

fix: keep image elements new after text
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_listen_elements.py
Due: none

feat: add skills
  skills/README.md
  skills/chat-layout-width-detection/SKILL.md
  skills/interaction-user-input-defaults/SKILL.md
Due: none

fix(chat): remove listen mode auto tts requests and keep audio synthesis manual
  SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
Due: prettier-cook-web, eslint

fix: avoid splitting html elements on break
  src/api/flaskr/service/learn/listen_elements.py
  src/api/tests/service/learn/test_listen_elements.py
Due: none

fix(chat): show destructive toast for run stream error events using SSE content
  SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/c-api/studyV2.ts
Due: prettier-cook-web, eslint
