Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

refactor: share operator user login method helper
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.tsx
  src/cook-web/src/app/admin/operations/users/loginMethodUtils.ts
  src/cook-web/src/app/admin/operations/users/page.tsx
Due: prettier-cook-web, eslint

fix: harden umami cache writes
  src/api/flaskr/common/umami_client.py
  src/api/tests/service/common/test_umami_client.py
Due: none

fix: tighten course visit tracking fallbacks
  src/api/flaskr/common/umami_client.py
  src/api/tests/service/common/test_umami_client.py
  src/cook-web/src/app/c/[[...id]]/courseVisitTracking.test.ts
  src/cook-web/src/app/c/[[...id]]/courseVisitTracking.ts
Due: prettier-cook-web, eslint

feat: add a concurrency control mechanism for Q & A requests
  src/api/flaskr/service/learn/runscript_v2.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

feat(billing): align pricing card copy with design and add tiered feature display
  src/cook-web/src/components/billing/BillingOverviewCards.module.scss
  src/cook-web/src/components/billing/BillingOverviewCards.tsx
  src/cook-web/src/components/billing/BillingOverviewShowcase.tsx
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

feat(billing): unify plan scale label to student-only capacity format
  src/cook-web/src/components/billing/BillingOverviewCards.tsx
  src/cook-web/src/components/billing/BillingOverviewShowcase.tsx
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

Refine billing package copy
  src/cook-web/src/components/billing/BillingOverviewHero.tsx
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

feat(billing): redesign sidebar card to surface credits and expiry
  src/cook-web/src/components/billing/BillingSidebarCard.tsx
  src/cook-web/src/lib/billing.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

feat(billing): hide topup content behind TOPUP_ENABLED flag
  src/cook-web/src/components/billing/BillingOverviewShowcase.tsx
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

feat(billing): update credit category copy and remove unused help icon
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.tsx
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

feat(billing): improve current-plan button visibility and sync i18n copy
  src/cook-web/src/components/billing/BillingOverviewCards.module.scss
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web

feat(cook-web): default learner pages to listen mode when course tts is enabled
  src/cook-web/SKILL.md
  src/cook-web/skills/listen-mode-audio-streaming/SKILL.md
  src/cook-web/src/app/c/[[...id]]/layout.tsx
  src/i18n/en-US/modules/chat.json
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/zh-CN/modules/chat.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavDrawer.module.css
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavDrawer.module.scss
  src/cook-web/src/app/c/[[...id]]/page.module.css
  src/cook-web/src/app/c/[[...id]]/page.module.scss
Due: prettier-cook-web

feat(cook-web): redesign mobile learner header with course info and mode switcher
  src/cook-web/skills/listen-mode-slide-mobile-integration/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavDrawer.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/learningModeOptions.ts
  src/cook-web/src/app/c/[[...id]]/page.module.scss
Due: prettier-cook-web, eslint

fix(cook-web): hide course header in mobile nav drawer only
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseCatalogList.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseCatalogList.tsx
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavDrawer.tsx
Due: prettier-cook-web, eslint

feat: place listen mode beta badge at the top right
  src/cook-web/SKILL.md
  src/cook-web/skills/listen-mode-audio-streaming/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/HeaderBetaBadge.tsx
  src/cook-web/src/app/c/[[...id]]/layout.tsx
Due: prettier-cook-web, eslint

fix(cook-web): align listen request flag with global learning mode
  src/cook-web/skills/listen-mode-audio-streaming/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/learningModeOptions.ts
  src/cook-web/src/c-api/studyV2.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

fix(cook-web): hide mobile header title when course name is unavailable
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.tsx
Due: prettier-cook-web, eslint

feat: add a concurrency control mechanism for Q & A requests (#1534)
  src/api/flaskr/service/learn/runscript_v2.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

refactor: remove application context wrappers from functions (#1533)
  src/api/flaskr/service/order/funs.py
Due: none

refactor: remove redundant app context managers (#1532)
  src/api/flaskr/service/order/admin.py
  src/api/flaskr/service/order/funs.py
  src/api/flaskr/service/order/open_api.py
  src/api/flaskr/service/shifu/utils.py
Due: none

fix(cook-web): restrict listen upgrade check to record history items
  src/cook-web/skills/listen-mode-audio-streaming/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

fix(cook-web): restore mobile ask button styling for custom content tags
  src/cook-web/src/app/globals.css
Due: prettier-cook-web

Remove runtime billing product seeds
  docs/billing-subscription-design.md
  docs/new-creator-trial-credits.md
  src/api/flaskr/service/billing/__init__.py
  src/api/flaskr/service/billing/consts.py
  src/api/flaskr/service/billing/trials.py
  src/api/migrations/versions/9a6b3c2d1e4f_canonicalize_billing_product_catalog.py
  src/api/tests/common/fixtures/billing_products.py
  src/api/tests/service/billing/test_admin_billing_routes.py
  src/api/tests/service/billing/test_billing_callbacks.py
  src/api/tests/service/billing/test_billing_entitlements.py
  src/api/tests/service/billing/test_billing_models.py
  src/api/tests/service/billing/test_billing_product_catalog_contracts.py
  src/api/tests/service/billing/test_billing_renewal_compensation.py
  src/api/tests/service/billing/test_billing_renewal_execution.py
  src/api/tests/service/billing/test_billing_routes.py
  src/api/tests/service/billing/test_billing_trial_credits.py
  src/api/tests/service/billing/test_billing_v11_upgrade_validation.py
  src/api/tests/service/billing/test_billing_write_routes.py
  src/api/tests/service/order/test_stripe_webhook.py
  src/api/tests/service/user/test_trial_credit_bootstrap.py
Due: none

feat(billing): support daily billing intervals
  docs/billing-subscription-design.md
  src/api/flaskr/service/billing/checkout.py
  src/api/flaskr/service/billing/consts.py
  src/api/flaskr/service/billing/queries.py
  src/api/flaskr/service/billing/serializers.py
  src/api/flaskr/service/billing/subscriptions.py
  src/api/tests/service/billing/test_billing_models.py
  src/api/tests/service/billing/test_billing_renewal_execution.py
  src/api/tests/service/billing/test_billing_routes.py
  src/api/tests/service/billing/test_billing_write_routes.py
  src/cook-web/src/components/billing/BillingOverviewCards.tsx
  src/cook-web/src/components/billing/BillingOverviewShowcase.tsx
  src/cook-web/src/components/billing/BillingOverviewTab.test.tsx
  src/cook-web/src/components/billing/BillingOverviewTab.tsx
  src/cook-web/src/components/billing/BillingSidebarCard.tsx
  src/cook-web/src/lib/__tests__/billing.test.ts
  src/cook-web/src/lib/billing.ts
  src/cook-web/src/types/billing.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

chore: fix migrate version
  src/api/migrations/versions/b114d7f5e2c1_add_billing_core_phase.py
Due: none

fix(cook-web): derive listen request flag from course tts availability
  src/cook-web/skills/listen-mode-audio-streaming/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix(cook-web): avoid locking page scroll for inline mobile ask input
  src/cook-web/skills/chat-actionbar-ask-placement/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
Due: prettier-cook-web, eslint

Refine billing top-up guidance
  src/cook-web/src/components/billing/BillingOverviewCards.tsx
  src/cook-web/src/components/billing/BillingOverviewShowcase.tsx
  src/cook-web/src/components/billing/BillingOverviewTab.test.tsx
  src/cook-web/src/lib/billing.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

fix(chat): keep trailing interaction elements after lesson completion updates
  src/cook-web/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix(chat): keep trailing interaction elements after lesson completion updates (#1535)
  src/cook-web/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

chore(i18n): align billing top-up note copy
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: none

fix(cook-web): restore mobile follow-up button after listen mode fallback
  src/cook-web/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/chatUiUtils.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/chatUiUtils.ts
Due: prettier-cook-web, eslint

fix: prevent mobile follow-up button from flashing after interaction blocks
  src/cook-web/skills/chat-actionbar-ask-placement/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/chatUiUtils.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/chatUiUtils.ts
Due: prettier-cook-web, eslint

feat: add operator user management (#1525)
  docs/operator-user-management.md
  src/api/Dockerfile
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_dtos.py
  src/api/flaskr/service/shifu/route.py
  src/api/requirements.txt
  src/api/tests/service/shifu/test_admin_users.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/admin-menu.tsx
  src/cook-web/src/app/admin/layout.test.tsx
  src/cook-web/src/app/admin/operations/operation-user-routes.ts
  src/cook-web/src/app/admin/operations/operation-user-types.ts
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.tsx
  src/cook-web/src/app/admin/operations/users/loginMethodUtils.ts
  src/cook-web/src/app/admin/operations/users/page.test.tsx
  src/cook-web/src/app/admin/operations/users/page.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/common/core.json
  src/i18n/en-US/modules/operations-user.json
  src/i18n/locales.json
  src/i18n/zh-CN/common/core.json
  src/i18n/zh-CN/modules/operations-user.json
Due: prettier-cook-web, eslint

feat: add Umami course visit count to operator detail (#1527)
  docker/.env.example.full
  src/api/flaskr/common/config.py
  src/api/flaskr/common/umami_client.py
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_dtos.py
  src/api/tests/service/common/test_umami_client.py
  src/api/tests/service/shifu/test_admin_course_detail.py
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/operations/operation-course-types.ts
  src/cook-web/src/app/c/[[...id]]/courseVisitTracking.test.ts
  src/cook-web/src/app/c/[[...id]]/courseVisitTracking.ts
  src/cook-web/src/app/c/[[...id]]/page.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/operations-course.json
  src/i18n/zh-CN/modules/operations-course.json
Due: prettier-cook-web, eslint

fix(cook-web): internationalize learning mode labels in chat header
  src/cook-web/skills/listen-mode-slide-mobile-integration/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/learningModeOptions.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

test: tighten course users payment assertion
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.test.tsx
Due: prettier-cook-web, eslint

fix(cook-web): make learning mode i18n keys detectable by usage checks
  src/cook-web/skills/listen-mode-slide-mobile-integration/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/learningModeOptions.ts
Due: prettier-cook-web, eslint

feat(cook-web): default learner pages to listen mode when course tts is enabled (#1536)
  src/cook-web/SKILL.md
  src/cook-web/skills/chat-actionbar-ask-placement/SKILL.md
  src/cook-web/skills/listen-mode-audio-streaming/SKILL.md
  src/cook-web/skills/listen-mode-slide-mobile-integration/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/chatUiUtils.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/chatUiUtils.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseCatalogList.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseCatalogList.tsx
  src/cook-web/src/app/c/[[...id]]/Components/HeaderBetaBadge.tsx
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavDrawer.module.css
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavDrawer.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavDrawer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/learningModeOptions.ts
  src/cook-web/src/app/c/[[...id]]/layout.tsx
  src/cook-web/src/app/c/[[...id]]/page.module.css
  src/cook-web/src/app/c/[[...id]]/page.module.scss
  src/cook-web/src/app/globals.css
  src/cook-web/src/c-api/studyV2.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/chat.json
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/zh-CN/modules/chat.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: prettier-cook-web, eslint

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
