Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

fix(audio): prime html audio element before playback on iOS
  src/cook-web/src/components/audio/AudioPlayer.tsx
Due: prettier-cook-web, eslint

fix: revert auido
  src/cook-web/src/components/audio/AudioPlayer.tsx
Due: prettier-cook-web, eslint

fix: audio play
  src/cook-web/src/components/audio/AudioPlayer.tsx
Due: prettier-cook-web, eslint

Revert "fix: audio play"
  src/cook-web/src/components/audio/AudioPlayer.tsx
Due: prettier-cook-web, eslint

refactor: squash bill usage migrations
  src/api/migrations/versions/b2793bb43f97_add_bill_usage.py
  src/api/migrations/versions/b2793bb43f97_rename_bill_usage_table.py
  src/api/migrations/versions/c6b7e7f9a2b1_rename_usage_metadata_to_extra.py
Due: none

feat: add llm input cache tracking
  src/api/flaskr/api/llm/__init__.py
  src/api/flaskr/service/metering/models.py
  src/api/flaskr/service/metering/recorder.py
  src/api/migrations/versions/b2793bb43f97_add_bill_usage.py
  src/api/tests/service/metering/test_recording.py
Due: none

feat: upgrade markdown-flow-ui version to 0.1.87
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
Due: prettier-cook-web, eslint

feat: upgrade markdown-flow-ui version to 0.1.87 (#1319)
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
Due: prettier-cook-web, eslint

fix: use usage_characters for MiniMax TTS billing word count
  src/api/flaskr/api/tts/minimax_provider.py
Due: none

feat(audio): add internal playlist auto-advance to AudioPlayer
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
  src/cook-web/src/components/audio/AudioPlayer.tsx
Due: prettier-cook-web, eslint

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix(llm): persist cached input token count
  src/api/flaskr/api/llm/__init__.py
  src/api/flaskr/service/metering/recorder.py
Due: none

fix: add log of minimax
  src/api/flaskr/api/tts/minimax_provider.py
Due: none

fix(listen): refresh playlist and wait on pending items
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
  src/cook-web/src/components/audio/AudioPlayer.tsx
Due: prettier-cook-web, eslint

fix(learn): guard missing listen flag
  src/api/flaskr/service/learn/context_v2.py
Due: none

fix: address PR review feedback for usage metering
  docs/llm-tts-usage-metering.md
  src/api/flaskr/api/llm/__init__.py
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/metering/__init__.py
  src/api/flaskr/service/metering/models.py
  src/api/flaskr/service/metering/recorder.py
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/migrations/versions/b2793bb43f97_add_bill_usage.py
Due: none

chore: remove working docs no longer needed
  docs/llm-tts-usage-metering.md
  tasks.md
Due: none

feat: add LLM/TTS usage metering and fix usage metrics handling (#1314)
  src/api/flaskr/api/llm/__init__.py
  src/api/flaskr/api/tts/minimax_provider.py
  src/api/flaskr/service/learn/check_text.py
  src/api/flaskr/service/learn/const.py
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/handle_input_ask.py
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/metering/__init__.py
  src/api/flaskr/service/metering/consts.py
  src/api/flaskr/service/metering/models.py
  src/api/flaskr/service/metering/recorder.py
  src/api/flaskr/service/metering/routes.py
  src/api/flaskr/service/shifu/shifu_publish_funcs.py
  src/api/flaskr/service/tts/pipeline.py
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/migrations/versions/b2793bb43f97_add_bill_usage.py
  src/api/tests/conftest.py
  src/api/tests/service/learn/test_context_v2.py
  src/api/tests/service/learn/test_learn_funcs.py
  src/api/tests/service/learn/test_learn_record.py
  src/api/tests/service/metering/test_recording.py
  src/i18n/en-US/modules/backend/metering.json
  src/i18n/locales.json
  src/i18n/zh-CN/modules/backend/metering.json
  tasks.md
Due: none

refactor(audio): use single HTMLAudio for streaming playback
  src/cook-web/src/components/audio/AudioPlayer.tsx
Due: prettier-cook-web, eslint

fix(learn): pass usage_context to text check
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/handle_input_ask.py
Due: none

fix(learn): pass usage_context to text check (#1321)
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/handle_input_ask.py
Due: none

refactor(promo): rename promo campaign tables to promos/redemptions
  docs/promo-campaign-refactor.md
  src/api/flaskr/service/order/admin.py
  src/api/flaskr/service/order/funs.py
  src/api/flaskr/service/promo/funcs.py
  src/api/flaskr/service/promo/models.py
  src/api/migrations/versions/c221d355ffb7_add_promo_campaign_tables.py
  src/api/migrations/versions/ef7dbc5a8be3_backfill_promo_campaign_tables.py
  src/api/scripts/check_promo_campaign_migration.py
Due: none

Revert "refactor(audio): use single HTMLAudio for streaming playback"
  src/cook-web/src/components/audio/AudioPlayer.tsx
Due: prettier-cook-web, eslint

fix: revert code
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
  src/cook-web/src/components/audio/AudioPlayer.tsx
Due: prettier-cook-web, eslint

feat: add test audio
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeTestAudioPlayer.tsx
Due: prettier-cook-web, eslint

fix(promo): address PR review feedback for promo campaign refactor
  src/api/flaskr/service/order/funs.py
  src/api/flaskr/service/promo/funcs.py
  src/api/flaskr/service/promo/models.py
  src/api/migrations/versions/c221d355ffb7_add_promo_campaign_tables.py
  src/api/migrations/versions/ef7dbc5a8be3_backfill_promo_campaign_tables.py
  src/api/scripts/check_promo_campaign_migration.py
Due: none

fix: honor caret position on paste for mobile input
  src/cook-web/src/components/order/ImportActivationDialog.tsx
Due: prettier-cook-web, eslint

fix: wrap import dialog with fragment and confirm modal
  src/cook-web/src/components/order/ImportActivationDialog.tsx
Due: prettier-cook-web, eslint

fix: type cast caret handling in mobile textarea
  src/cook-web/src/components/order/ImportActivationDialog.tsx
Due: prettier-cook-web, eslint

fix: keep caret on next line after shortcut newline
  src/cook-web/src/components/order/ImportActivationDialog.tsx
Due: prettier-cook-web, eslint

fix: improve import activation validation
  src/cook-web/src/components/order/ImportActivationDialog.tsx
  src/i18n/en-US/modules/order.json
  src/i18n/zh-CN/modules/order.json
Due: prettier-cook-web, eslint

fix: simplify mobile input and add confirm dialog for import
  src/cook-web/src/components/order/ImportActivationDialog.tsx
  src/i18n/en-US/modules/order.json
  src/i18n/zh-CN/modules/order.json
Due: prettier-cook-web, eslint

fix: normalize activation import mobiles input
  src/cook-web/src/components/order/ImportActivationDialog.tsx
  src/i18n/en-US/modules/order.json
  src/i18n/zh-CN/modules/order.json
Due: prettier-cook-web, eslint

feat: enhance activation import flow
  src/api/flaskr/route/order.py
  src/api/flaskr/service/order/admin.py
  src/api/flaskr/service/order/admin_dtos.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/cook-web/src/app/admin/orders/page.tsx
  src/cook-web/src/components/order/ImportActivationDialog.tsx
  src/cook-web/src/components/order/OrderDetailSheet.tsx
  src/cook-web/src/components/order/order-types.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/backend/order.json
  src/i18n/en-US/modules/order.json
  src/i18n/zh-CN/modules/backend/order.json
  src/i18n/zh-CN/modules/order.json
Due: prettier-cook-web, eslint
