Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

fix: mark visit count translation key usage
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
Due: prettier-cook-web, eslint

fix: harden Umami visit count tracking
  src/api/flaskr/common/umami_client.py
  src/api/tests/service/common/test_umami_client.py
  src/cook-web/src/app/c/[[...id]]/courseVisitTracking.test.ts
  src/cook-web/src/app/c/[[...id]]/courseVisitTracking.ts
Due: prettier-cook-web, eslint

fix: tighten Umami caching behavior
  src/api/flaskr/common/umami_client.py
  src/api/tests/service/common/test_umami_client.py
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.test.tsx
Due: prettier-cook-web, eslint

feat(cook-web): add welcome trial dialog for new users
  src/cook-web/src/app/admin/layout.tsx
  src/cook-web/src/components/billing/WelcomeTrialDialog.tsx
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

fix: order removal default language configuration
  src/api/flaskr/service/order/admin.py
Due: none

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: add payment channel parameter support and optimize order management functions
  src/api/flaskr/service/order/admin.py
  src/api/flaskr/service/order/funs.py
  src/api/flaskr/service/order/open_api.py
Due: none

fix: address operator user review follow-ups
  src/api/flaskr/service/shifu/admin.py
  src/api/tests/service/shifu/test_admin_users.py
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.tsx
  src/cook-web/src/app/admin/operations/users/page.test.tsx
  src/cook-web/src/app/admin/operations/users/page.tsx
Due: prettier-cook-web, eslint

fix: tighten operator user table fallbacks
  src/api/flaskr/service/shifu/admin.py
  src/api/tests/service/shifu/test_admin_users.py
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.tsx
  src/cook-web/src/app/admin/operations/users/page.test.tsx
  src/cook-web/src/app/admin/operations/users/page.tsx
Due: prettier-cook-web, eslint

fix(slide): hide history subtitles until audio playback actually starts
  src/api/flaskr/service/learn/learn_dtos.py
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/learn/listen_element_payloads.py
  src/api/flaskr/service/learn/listen_element_rows.py
  src/api/flaskr/service/learn/listen_element_run_stream.py
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/flaskr/service/tts/subtitle_utils.py
  src/api/tests/service/learn/test_learn_dtos_slide.py
  src/api/tests/service/learn/test_listen_elements.py
  src/api/tests/service/tts/test_streaming_tts_subtitles.py
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/skills/listen-mode-audio-streaming/SKILL.md
Due: prettier-cook-web

fix: cap operator user page size
  src/api/flaskr/service/shifu/admin.py
  src/api/tests/service/shifu/test_admin_users.py
Due: none

fix: prefer verified operator user contacts
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/route.py
  src/api/tests/service/shifu/test_admin_users.py
Due: none

feat: Add open_api payment channel support
  src/api/flaskr/service/order/admin.py
  src/cook-web/src/app/admin/orders/page.tsx
  src/cook-web/src/components/order/OrderDetailSheet.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/order.json
  src/i18n/zh-CN/modules/order.json
Due: prettier-cook-web, eslint

refactor: optimize payment channel acquisition logic
  src/api/flaskr/service/order/funs.py
Due: none

feat: add payment channel parameter support and optimize order management functions (#1528)
  src/api/flaskr/service/order/admin.py
  src/api/flaskr/service/order/funs.py
  src/api/flaskr/service/order/open_api.py
  src/cook-web/src/app/admin/orders/page.tsx
  src/cook-web/src/components/order/OrderDetailSheet.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/order.json
  src/i18n/zh-CN/modules/order.json
Due: prettier-cook-web, eslint

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/skills/listen-mode-slide-mobile-integration/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

fix(cook-web): align listen-mode subtitle cues with slide element contract
  src/cook-web/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.ts
Due: prettier-cook-web, eslint

fix(cook-web): decouple listen subtitle cue resolver from chat item pick type
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.ts
Due: prettier-cook-web, eslint

fix(cook-web): narrow listen subtitle audio payload before reading cues
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.ts
Due: prettier-cook-web, eslint

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
Due: prettier-cook-web, eslint

fix: persist subtitle cues for listen audio (#1490)
  src/api/flaskr/service/learn/learn_dtos.py
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/learn/legacy_record_builder.py
  src/api/flaskr/service/learn/listen_element_history.py
  src/api/flaskr/service/learn/listen_element_payloads.py
  src/api/flaskr/service/learn/listen_element_rows.py
  src/api/flaskr/service/learn/listen_element_run_stream.py
  src/api/flaskr/service/tts/audio_record_utils.py
  src/api/flaskr/service/tts/models.py
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/flaskr/service/tts/subtitle_utils.py
  src/api/migrations/versions/1c8f4b7a9d2e_add_subtitle_cues_to_learn_generated_audios.py
  src/api/tests/service/learn/test_generated_block_tts_av_mode.py
  src/api/tests/service/learn/test_learn_dtos_slide.py
  src/api/tests/service/learn/test_listen_element_history_subtitles.py
  src/api/tests/service/learn/test_listen_elements.py
  src/api/tests/service/tts/test_streaming_tts_subtitles.py
  src/cook-web/SKILL.md
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/skills/listen-mode-audio-streaming/SKILL.md
  src/cook-web/skills/listen-mode-slide-mobile-integration/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/c-api/studyV2.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

Skip billing for builtin demo courses
  src/api/flaskr/service/learn/routes.py
  src/api/flaskr/service/metering/recorder.py
  src/api/flaskr/service/shifu/demo_courses.py
  src/api/tests/service/learn/test_runtime_tts_admission.py
  src/api/tests/service/metering/test_recording.py
  src/api/tests/service/shifu/test_demo_courses.py
Due: none

Use single ledger entry for usage settlement
  docs/billing-subscription-design.md
  docs/billing-usage-single-ledger-entry-design.md
  src/api/flaskr/service/billing/charges.py
  src/api/flaskr/service/billing/dtos.py
  src/api/flaskr/service/billing/settlement.py
  src/api/tests/service/billing/test_billing_daily_usage_aggregates.py
  src/api/tests/service/billing/test_billing_dtos.py
  src/api/tests/service/billing/test_billing_wallet_lifecycle.py
  src/api/tests/service/billing/test_usage_settlement.py
  src/cook-web/src/app/admin/layout.tsx
  src/cook-web/src/components/billing/WelcomeTrialDialog.tsx
  src/cook-web/src/types/billing.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

feat: add course users to operator detail
  docs/operator-course-users.md
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_dtos.py
  src/api/flaskr/service/shifu/route.py
  src/api/tests/service/shifu/test_admin_course_detail.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/layout.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/operations/operation-course-types.ts
  src/i18n/en-US/modules/operations-course.json
  src/i18n/zh-CN/modules/operations-course.json
Due: prettier-cook-web, eslint

chore: fix db migration conflict
  src/api/migrations/versions/1c8f4b7a9d2e_add_subtitle_cues_to_learn_generated_audios.py
Due: none

chore: fix db migration conflict (#1530)
  src/api/migrations/versions/1c8f4b7a9d2e_add_subtitle_cues_to_learn_generated_audios.py
Due: none

fix: tighten course users review follow-ups
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/route.py
  src/api/tests/service/shifu/test_admin_course_detail.py
Due: none

Update src/api/prompts/ask.md
  src/api/prompts/ask.md
Due: none

fix: clarify ai-shifu service account guidance
  src/api/prompts/ask.md
Due: none

fix: clarify AI-Shifu service account guidance (#1524)
  src/api/prompts/ask.md
Due: none

Add configurable billing credit precision
  docker/.env.example.full
  docs/billing-credit-precision-config.md
  src/api/flaskr/common/config.py
  src/api/flaskr/route/config.py
  src/api/flaskr/service/billing/charges.py
  src/api/flaskr/service/billing/consts.py
  src/api/flaskr/service/billing/daily_aggregates.py
  src/api/flaskr/service/billing/dtos.py
  src/api/flaskr/service/billing/primitives.py
  src/api/flaskr/service/billing/serializers.py
  src/api/flaskr/service/billing/settlement.py
  src/api/flaskr/service/billing/subscriptions.py
  src/api/flaskr/service/billing/trials.py
  src/api/flaskr/service/billing/wallets.py
  src/api/migrations/versions/e5c6f7a8b9d0_add_billing_credit_precision_config.py
  src/api/tests/service/billing/test_billing_daily_usage_aggregates.py
  src/api/tests/service/billing/test_billing_dtos.py
  src/api/tests/service/billing/test_billing_models.py
  src/api/tests/service/billing/test_billing_sys_config_contracts.py
  src/api/tests/service/billing/test_runtime_config_billing.py
  src/api/tests/service/billing/test_usage_settlement.py
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.test.tsx
  src/cook-web/src/components/billing/BillingLedgerTab.test.tsx
  src/cook-web/src/components/billing/BillingRecentActivitySection.test.tsx
  src/cook-web/src/config/ENVIRONMENT_CONFIG.md
  src/cook-web/src/lib/__tests__/billing.test.ts
  src/cook-web/src/lib/billing.ts
  src/cook-web/src/lib/initializeEnvData.ts
Due: prettier-cook-web, eslint

Persist trial welcome dialog acknowledgement
  docs/trial-welcome-ack.md
  src/api/flaskr/service/billing/dtos.py
  src/api/flaskr/service/billing/routes.py
  src/api/flaskr/service/billing/trials.py
  src/api/tests/service/billing/test_billing_dtos.py
  src/api/tests/service/billing/test_billing_routes.py
  src/api/tests/service/billing/test_billing_trial_credits.py
  src/cook-web/src/api/api.test.ts
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/layout.test.tsx
  src/cook-web/src/app/admin/layout.tsx
  src/cook-web/src/components/billing/WelcomeTrialDialog.test.tsx
  src/cook-web/src/components/billing/WelcomeTrialDialog.tsx
  src/cook-web/src/types/billing.ts
Due: prettier-cook-web, eslint

fix backend CI regressions
  src/api/flaskr/api/langfuse.py
  src/api/flaskr/service/dashboard/funcs.py
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/learn_dtos.py
  src/api/flaskr/service/learn/listen_element_audio_binding.py
  src/api/flaskr/service/learn/listen_element_history.py
  src/api/flaskr/service/learn/listen_element_legacy.py
  src/api/flaskr/service/learn/listen_element_rows.py
  src/api/flaskr/service/learn/listen_element_run_stream.py
  src/api/flaskr/service/learn/listen_element_types.py
  src/api/flaskr/service/learn/listen_elements.py
  src/api/flaskr/service/learn/listen_slide_builder.py
  src/api/flaskr/service/user/phone_flow.py
  src/api/tests/service/learn/test_listen_elements.py
  src/api/tests/service/learn/test_sse_element_split_from_db.py
Due: none

refactor: remove application context wrappers from functions
  src/api/flaskr/service/order/funs.py
Due: none

Use dynamic config for demo course IDs
  docs/billing-credit-precision-config.md
  src/api/flaskr/service/billing/settlement.py
  src/api/flaskr/service/shifu/demo_courses.py
  src/api/tests/service/billing/test_billing_daily_usage_aggregates.py
  src/api/tests/service/billing/test_usage_settlement.py
  src/api/tests/service/metering/test_recording.py
Due: none

fix(billing): align upgraded credit expiry with new plan
  src/api/flaskr/service/billing/subscriptions.py
  src/api/tests/service/billing/test_billing_write_routes.py
Due: none

refactor: remove redundant app context managers
  src/api/flaskr/service/order/admin.py
  src/api/flaskr/service/order/funs.py
  src/api/flaskr/service/order/open_api.py
  src/api/flaskr/service/shifu/utils.py
Due: none

fix: remove duplicate within import
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.test.tsx
Due: prettier-cook-web, eslint
