Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

fix(listen-mode): stop skipping silent slides
  src/cook-web/src/__tests__/listen-mode-audio-sequence.test.tsx
  src/cook-web/src/__tests__/listen-mode-timeline.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
Due: prettier-cook-web, eslint

feat(dashboard): add entry page and shifu detail routes
  docs/dashboard-entry-page.md
  src/api/flaskr/service/dashboard/dtos.py
  src/api/flaskr/service/dashboard/funcs.py
  src/api/flaskr/service/dashboard/routes.py
  src/api/tests/service/dashboard/test_dashboard_routes.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/dashboard/page.tsx
  src/cook-web/src/app/admin/dashboard/shifu/[shifu_bid]/learners/[user_bid]/page.tsx
  src/cook-web/src/app/admin/dashboard/shifu/[shifu_bid]/page.tsx
  src/cook-web/src/components/dashboard/LearnerDetailSheet.tsx
  src/cook-web/src/types/dashboard.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/dashboard.json
  src/i18n/zh-CN/modules/dashboard.json
  tasks.md
Due: prettier-cook-web, eslint

fix(listen-mode): define audioContentSequence
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
Due: prettier-cook-web, eslint

fix(listen-mode): render html tables
  src/cook-web/src/__tests__/listen-mode-html-table-segment.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
Due: prettier-cook-web, eslint

feat: Ask for language preference support for learners
  src/api/flaskr/service/learn/handle_input_ask.py
Due: none

feat: upgrade markdown-flow-ui version to 0.1.90
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
Due: prettier-cook-web, eslint

feat: upgrade markdown-flow-ui version to 0.1.90 (#1340)
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
Due: prettier-cook-web, eslint

fix: normalize activation import mobiles input (#1309)
  src/api/flaskr/route/order.py
  src/api/flaskr/service/order/admin.py
  src/api/flaskr/service/order/admin_dtos.py
  src/api/flaskr/service/shifu/consts.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/api/tests/service/order/test_import_activation_parse.py
  src/api/tests/service/tts/test_aliyun_nls_token.py
  src/cook-web/src/app/admin/orders/page.tsx
  src/cook-web/src/components/order/ImportActivationDialog.tsx
  src/cook-web/src/components/order/OrderDetailSheet.tsx
  src/cook-web/src/components/order/order-types.ts
  src/cook-web/src/lib/resolve-contact-mode.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/backend/order.json
  src/i18n/en-US/modules/order.json
  src/i18n/zh-CN/modules/backend/order.json
  src/i18n/zh-CN/modules/order.json
Due: prettier-cook-web, eslint

feat: make chat layout flex-fill
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/page.module.css
  src/cook-web/src/app/c/[[...id]]/page.module.scss
  src/cook-web/src/app/layout.tsx
Due: prettier-cook-web, eslint

fix: prevent listen mode interaction and slide replay
  src/cook-web/src/__tests__/listen-mode-audio-sequence.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
Due: prettier-cook-web, eslint

fix(chat): unwrap fenced svg/html visual blocks
  src/cook-web/src/__tests__/markdown-utils.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/c-utils/markdownUtils.ts
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
Due: prettier-cook-web, eslint

fix(migration): handle is_hidden for fresh installs
  src/api/migrations/versions/6b603528dac8_add_system_profile.py
Due: none

fix(migration): handle is_hidden for fresh installs (#1341)
  src/api/migrations/versions/6b603528dac8_add_system_profile.py
Due: none

fix: scope mobile listen layout tweaks to listen mode
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/page.module.css
  src/cook-web/src/app/c/[[...id]]/page.module.scss
  src/cook-web/src/app/c/[[...id]]/page.tsx
  src/cook-web/src/app/layout.tsx
Due: prettier-cook-web, eslint

fix: use 100svh in safari
  src/cook-web/src/app/c/[[...id]]/page.module.css
  src/cook-web/src/app/c/[[...id]]/page.module.scss
Due: prettier-cook-web

fix: move listen-mode global selectors to globals css
  src/cook-web/src/app/c/[[...id]]/page.module.css
  src/cook-web/src/app/c/[[...id]]/page.module.scss
  src/cook-web/src/app/globals.css
Due: prettier-cook-web

fix: ui
  src/cook-web/src/app/globals.css
Due: prettier-cook-web

feat: add course shared permissions
  src/api/flaskr/service/shifu/dtos.py
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/cook-web/package-lock.json
  src/cook-web/src/api/api.ts
  src/cook-web/src/components/header/Header.tsx
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/cook-web/src/types/shifu.ts
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: prettier-cook-web, eslint

fix: address permission review feedback
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/i18n/en-US/modules/backend/shifu.json
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/zh-CN/modules/backend/shifu.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: prettier-cook-web, eslint

fix: add mdx loader dependency
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: address remaining review feedback
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

fix: sequence permission updates
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

fix: harden shifu base url and normalize canPublish
  docker/.env.example.full
  src/api/flaskr/common/config.py
  src/api/flaskr/service/shifu/route.py
  src/cook-web/src/components/header/Header.tsx
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/lib/shifu-normalize.ts
  src/cook-web/src/store/useShifu.tsx
  src/cook-web/src/types/shifu.ts
Due: prettier-cook-web, eslint

fix: align permission dialog and publish guards
  src/cook-web/src/components/header/Header.tsx
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

fix: add mdx react dependency
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: narrow permission operation types
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

fix: relax shifu detail normalize typing
  src/cook-web/src/lib/shifu-normalize.ts
Due: prettier-cook-web, eslint

fix: align shifu detail permission typing
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

fix: filter active shifu permissions
  src/api/flaskr/service/shifu/route.py
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

fix: block creator permission grants
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: prettier-cook-web, eslint

chore: remove unused email pattern
  src/api/flaskr/service/order/admin.py
Due: none

fix: soft delete shifu permissions
  src/api/flaskr/service/shifu/funcs.py
  src/api/flaskr/service/shifu/permissions.py
  src/api/flaskr/service/shifu/route.py
Due: none

test: cover shifu permission soft delete
  src/api/tests/service/shifu/test_permissions.py
Due: none

docs: add listen mode av sync design and tasks
  docs/listen-mode-av-sync-design.md
  tasks.md
Due: none

feat(db): add positioned audio migration
  src/api/migrations/versions/4f1e9a6d2c8b_add_position_to_learn_generated_audios.py
  tasks.md
Due: none

feat(tts): add position field to audio model
  src/api/flaskr/service/tts/models.py
  tasks.md
Due: none

feat(api): extend audio dto with optional position
  src/api/flaskr/service/learn/learn_dtos.py
  src/cook-web/src/c-api/studyV2.ts
  tasks.md
Due: prettier-cook-web, eslint

feat(tts): split streaming audio by visual boundaries
  src/api/flaskr/service/tts/__init__.py
  src/api/flaskr/service/tts/streaming_tts.py
  tasks.md
Due: none

feat(learn): return ordered audio tracks in records
  src/api/flaskr/service/learn/learn_dtos.py
  src/api/flaskr/service/learn/learn_funcs.py
  src/cook-web/src/c-api/studyV2.ts
  tasks.md
Due: prettier-cook-web, eslint
