Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

feat: improve demo course content structure and clarity
  src/api/demo_shifus/cn_demo.json
Due: none

feat: improve demo course content structure and clarity (#1203)
  src/api/demo_shifus/cn_demo.json
Due: none

chore: revert runtime-config shifu_bid change
  src/cook-web/src/lib/initializeEnvData.ts
Due: prettier-cook-web, eslint

fix: correct umami pageview url for SPA navigation (#1202)
  src/cook-web/src/c-common/tools/tracking.ts
  src/cook-web/src/components/analytics/UmamiLoader.tsx
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: isolate copy state per field
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

feat: add pattern-based max_tokens inference for LLM models
  src/api/flaskr/api/llm/__init__.py
  src/api/flaskr/api/llm/model-map.json
  src/api/scripts/README.md
  src/api/scripts/generate_llm_model_map.py
  src/api/scripts/test_max_tokens_pattern.py
Due: none

refactor: extract shared model rules to flaskr/common/llm_model_rules.py
  src/api/flaskr/api/llm/__init__.py
  src/api/flaskr/common/llm_model_rules.py
  src/api/scripts/generate_llm_model_map.py
  src/api/scripts/test_max_tokens_pattern.py
Due: none

refactor: simplify _resolve_max_tokens to use pattern inference directly
  src/api/flaskr/api/llm/__init__.py
Due: none

fix: restore LiteLLM get_max_tokens as primary source
  src/api/flaskr/api/llm/__init__.py
Due: none

refactor: remove hardcoded examples from STATIC_MODEL_* dicts
  src/api/flaskr/api/llm/__init__.py
Due: none

refactor: simplify max_tokens resolution
  src/api/flaskr/api/llm/__init__.py
Due: none

refactor: remove redundant code from generate_llm_model_map.py
  src/api/scripts/generate_llm_model_map.py
Due: none

docs: remove test script section from README.md
  src/api/scripts/README.md
Due: none

docs: add LiteLLM upgrade as primary use case
  src/api/scripts/README.md
Due: none

fix: correct kimi-k2 max_tokens to 32768
  src/api/flaskr/api/llm/model-map.json
  src/api/flaskr/common/llm_model_rules.py
Due: none

fix: align ERNIE max_tokens to 8192 in pattern rules
  src/api/flaskr/api/llm/model-map.json
  src/api/flaskr/common/llm_model_rules.py
Due: none

docs: fix environment variable names in README
  src/api/scripts/README.md
Due: none

chore: remove fake GPT-5 entries from model-map.json
  src/api/flaskr/api/llm/model-map.json
Due: none

fix: move logging helpers before module-level usage
  src/api/flaskr/api/llm/__init__.py
Due: none

docs: clarify ARK signing code sync requirement
  src/api/scripts/generate_llm_model_map.py
Due: none

docs: clarify kimi-k2 max_tokens is ARK platform limit
  src/api/flaskr/common/llm_model_rules.py
Due: none

fix: update Doubao max_tokens based on ARK docs
  src/api/flaskr/common/llm_model_rules.py
Due: none

chore: remove temporary test script
  src/api/scripts/test_max_tokens_pattern.py
Due: none

feat(chat): add scroll-to-bottom indicator in content view
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatComponents.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatComponents.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

feat: simplify AI content generation disclaimer text
  src/i18n/en-US/modules/chat.json
Due: none

feat: simplify AI content generation disclaimer text (#1207)
  src/i18n/en-US/modules/chat.json
Due: none

feat(chat): add scroll-to-bottom indicator in content view (#1206)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatComponents.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatComponents.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

fix: add scroll-to-bottom bottom height
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatComponents.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
Due: prettier-cook-web

fix: ui
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatComponents.module.css
Due: prettier-cook-web

fix: add scroll-to-bottom bottom height (#1208)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatComponents.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatComponents.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
Due: prettier-cook-web

feat: enable global subpixel font smoothing
  src/cook-web/src/app/c/layout.css
  src/cook-web/src/app/globals.css
  src/cook-web/src/app/layout.tsx
Due: prettier-cook-web, eslint

perf: defer shifu editor bundle load after navigation
  src/cook-web/src/app/admin/page.tsx
  src/cook-web/src/app/shifu/[id]/page.tsx
Due: prettier-cook-web, eslint

fix: align shifu page params type with PageProps
  src/cook-web/src/app/admin/page.tsx
  src/cook-web/src/app/shifu/[id]/page.tsx
Due: prettier-cook-web, eslint

fix: pr advice
  src/cook-web/src/app/shifu/[id]/page.tsx
Due: prettier-cook-web, eslint

fix: prettier
  src/cook-web/src/components/legals/EnAgreement.mdx
  src/cook-web/src/components/ui/Badge.tsx
  src/cook-web/src/components/ui/Button.tsx
  src/cook-web/src/components/ui/Sheet.tsx
Due: prettier-cook-web, eslint

fix: lint
  src/cook-web/src/types/i18n-keys.d.ts
Due: prettier-cook-web, eslint

fix: lint
  src/i18n/en-US/common/core.json
  src/i18n/zh-CN/common/core.json
Due: none

perf: defer shifu editor bundle load after navigation (#1209)
  src/cook-web/src/app/admin/layout.tsx
  src/cook-web/src/app/admin/page.tsx
  src/cook-web/src/app/shifu/[id]/page.tsx
  src/cook-web/src/components/legals/EnAgreement.mdx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/common/core.json
  src/i18n/zh-CN/common/core.json
Due: prettier-cook-web, eslint

feat: upgrade markdown-flow-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
