Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

solve #1538
  fix_1538.py
Due: none

fix: prevent white screen on admin billing scroll
  src/cook-web/src/app/admin/billing/AdminBillingPageClient.tsx
  src/cook-web/src/app/admin/billing/page.test.tsx
Due: prettier-cook-web, eslint

feat: unify credit and price number display rule
  src/cook-web/src/app/admin/operations/users/UserCreditGrantDialog.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.tsx
  src/cook-web/src/app/admin/operations/users/page.tsx
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.tsx
  src/cook-web/src/config/ENVIRONMENT_CONFIG.md
  src/cook-web/src/lib/__tests__/billing.test.ts
  src/cook-web/src/lib/billing.ts
  src/cook-web/src/lib/initializeEnvData.ts
Due: prettier-cook-web, eslint

fix: derive currency fraction digits dynamically in formatBillingPrice
  src/cook-web/src/lib/__tests__/billing.test.ts
  src/cook-web/src/lib/billing.ts
Due: prettier-cook-web, eslint

feat: unify credit and price number display rule (#1700)
  src/cook-web/src/app/admin/operations/users/UserCreditGrantDialog.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.tsx
  src/cook-web/src/app/admin/operations/users/page.tsx
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.tsx
  src/cook-web/src/config/ENVIRONMENT_CONFIG.md
  src/cook-web/src/lib/__tests__/billing.test.ts
  src/cook-web/src/lib/billing.ts
  src/cook-web/src/lib/initializeEnvData.ts
Due: prettier-cook-web, eslint

fix: prevent listen mode code slides from overflowing mobile width
  src/cook-web/skills/listen-mode-slide-mobile-integration/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
Due: prettier-cook-web

fix: prevent listen mode code slides from overflowing mobile width (#1701)
  src/cook-web/skills/listen-mode-slide-mobile-integration/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
Due: prettier-cook-web

feat: split credit balance and detail number formats
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.tsx
  src/cook-web/src/components/billing/BillingRecentActivitySection.tsx
  src/cook-web/src/lib/__tests__/billing.test.ts
  src/cook-web/src/lib/billing.ts
Due: prettier-cook-web, eslint

fix: trust request origin for mobile pay return url
  src/api/flaskr/route/order.py
  src/api/tests/service/order/test_payment_channel_resolution.py
Due: none

fix: prevent white screen on admin billing scroll (#1699)
  src/cook-web/src/app/admin/billing/AdminBillingPageClient.tsx
  src/cook-web/src/app/admin/billing/page.test.tsx
Due: prettier-cook-web, eslint

perf: optimize operator follow-up list queries
  src/api/flaskr/service/shifu/admin.py
  src/api/tests/service/shifu/test_admin_course_detail.py
Due: none

perf: scope follow-up keyword filtering to course rows
  src/api/flaskr/service/shifu/admin.py
Due: none

test: stabilize follow-up pagination assertion formatting
  src/api/tests/service/shifu/test_admin_course_detail.py
Due: none

refactor: clarify follow-up keyword filter helper
  src/api/flaskr/service/shifu/admin.py
Due: none

feat: split credit balance and detail number formats (#1703)
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.tsx
  src/cook-web/src/components/billing/BillingRecentActivitySection.tsx
  src/cook-web/src/lib/__tests__/billing.test.ts
  src/cook-web/src/lib/billing.ts
Due: prettier-cook-web, eslint

feat: add course overview cards to operator course management
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_dtos.py
  src/api/flaskr/service/shifu/route.py
  src/api/tests/service/shifu/test_admin_courses.py
  src/cook-web/src/app/admin/operations/operation-course-types.ts
  src/cook-web/src/app/admin/operations/page.test.tsx
  src/cook-web/src/app/admin/operations/page.tsx
  src/i18n/en-US/modules/operations-course.json
  src/i18n/zh-CN/modules/operations-course.json
Due: prettier-cook-web, eslint

feat: debug
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
Due: prettier-cook-web, eslint

feat: support course overview quick filters
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/route.py
  src/api/tests/service/shifu/test_admin_courses.py
  src/cook-web/src/app/admin/operations/page.test.tsx
  src/cook-web/src/app/admin/operations/page.tsx
  src/i18n/en-US/modules/operations-course.json
  src/i18n/zh-CN/modules/operations-course.json
Due: prettier-cook-web, eslint

fix: refine course overview card hover state
  src/cook-web/src/app/admin/operations/page.tsx
Due: prettier-cook-web, eslint

fix: align course overview quick filter behavior
  src/api/flaskr/service/shifu/admin.py
  src/api/tests/service/shifu/test_admin_courses.py
  src/cook-web/src/app/admin/operations/operation-course-types.ts
  src/cook-web/src/app/admin/operations/page.test.tsx
  src/cook-web/src/app/admin/operations/page.tsx
Due: prettier-cook-web, eslint

fix(listen-mode): prevent slide buffering text object from crashing runtime
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/skills/listen-mode-audio-streaming/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/cook-web/src/types/markdown-flow-ui.d.ts
  src/i18n/en-US/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

fix: drive billing catalog values from database
  src/api/flaskr/service/billing/checkout.py
  src/api/flaskr/service/billing/consts.py
  src/api/flaskr/service/billing/notifications.py
  src/api/flaskr/service/billing/read_models.py
  src/api/tests/service/billing/test_billing_write_routes.py
  src/api/tests/service/billing/test_operator_credit_orders.py
  src/api/tests/service/order/test_admin_orders.py
  src/cook-web/src/app/admin/billing/page.test.tsx
  src/cook-web/src/app/admin/operations/operation-credit-order-helpers.ts
  src/cook-web/src/app/admin/operations/orders/CreditOrdersTab.test.tsx
  src/cook-web/src/components/billing/BillingOverviewTab.test.tsx
  src/cook-web/src/components/billing/BillingOverviewTab.tsx
  src/cook-web/src/components/billing/BillingPlanComparisonTable.tsx
  src/cook-web/src/lib/__tests__/billing.test.ts
  src/cook-web/src/lib/billing.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

fix: build dev celery services locally
  docker/docker-compose.dev.yml
Due: none

fix: update dev prometheus image
  docker/docker-compose.dev.yml
Due: none

Fix SMS verification code errors
  src/cook-web/src/components/auth/PhoneLogin.test.tsx
  src/cook-web/src/components/auth/PhoneLogin.tsx
  src/cook-web/src/hooks/useAuth.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/auth.json
  src/i18n/zh-CN/modules/auth.json
Due: prettier-cook-web, eslint

test: freeze billing route fixture dates
  src/api/tests/service/billing/test_admin_billing_routes.py
  src/api/tests/service/billing/test_billing_routes.py
Due: none

Split web and console SMS login routes
  src/api/flaskr/route/user.py
  src/api/tests/service/user/test_password_routes.py
  src/api/tests/service/user/test_trial_credit_bootstrap.py
  src/cook-web/src/api/api.test.ts
  src/cook-web/src/api/api.ts
  src/cook-web/src/components/auth/PhoneLogin.test.tsx
  src/cook-web/src/hooks/useAuth.ts
Due: prettier-cook-web, eslint

refactor: remove billing product bootstrap seeds
  src/api/flaskr/service/billing/consts.py
  src/api/tests/common/fixtures/billing_products.py
Due: none

Add console SMS code endpoint
  src/api/flaskr/route/user.py
  src/api/flaskr/service/user/utils.py
  src/api/tests/service/user/test_captcha_routes.py
  src/api/tests/service/user/test_trial_credit_bootstrap.py
Due: none

feat: Add captcha ticket flow for SMS login (#1622)
  docker/.env.example.full
  docker/docker-compose.dev.yml
  src/api/flaskr/common/config.py
  src/api/flaskr/route/user.py
  src/api/flaskr/service/user/auth/providers/phone.py
  src/api/flaskr/service/user/captcha.py
  src/api/flaskr/service/user/utils.py
  src/api/tests/conftest.py
  src/api/tests/service/user/test_captcha_routes.py
  src/api/tests/service/user/test_password_routes.py
  src/api/tests/service/user/test_trial_credit_bootstrap.py
  src/cook-web/SKILL.md
  src/cook-web/e2e/smoke.spec.ts
  src/cook-web/src/api/api.test.ts
  src/cook-web/src/api/api.ts
  src/cook-web/src/c-api/user.ts
  src/cook-web/src/c-components/Settings/SetPasswordModal.tsx
  src/cook-web/src/components/auth/ImageCaptchaInput.tsx
  src/cook-web/src/components/auth/PhoneLogin.test.tsx
  src/cook-web/src/components/auth/PhoneLogin.tsx
  src/cook-web/src/hooks/useAuth.ts
  src/cook-web/src/hooks/useCaptchaTicket.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/auth.json
  src/i18n/en-US/modules/backend/user.json
  src/i18n/zh-CN/modules/auth.json
  src/i18n/zh-CN/modules/backend/user.json
Due: prettier-cook-web, eslint

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
