Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

fix: avoid racing bucket expiration writes
  src/api/flaskr/service/billing/wallets.py
  src/api/tests/service/billing/test_billing_wallet_lifecycle.py
Due: none

fix: record bucket expiration mutation time
  src/api/flaskr/service/billing/wallets.py
  src/api/tests/service/billing/test_billing_wallet_lifecycle.py
Due: none

fix: guard empty bucket expiration status sync
  src/api/flaskr/service/billing/wallets.py
  src/api/tests/service/billing/test_billing_wallet_lifecycle.py
Due: none

fix: keep retake action visible after reset
  src/cook-web/src/app/c/[[...id]]/page.test.tsx
  src/cook-web/src/app/c/[[...id]]/page.tsx
Due: prettier-cook-web, eslint

fix: preserve newer retake progress
  src/cook-web/src/app/c/[[...id]]/page.test.tsx
  src/cook-web/src/app/c/[[...id]]/page.tsx
Due: prettier-cook-web, eslint

fix: keep reset action visible after reset (#2198)
  src/cook-web/src/app/c/[[...id]]/page.test.tsx
  src/cook-web/src/app/c/[[...id]]/page.tsx
Due: prettier-cook-web, eslint

fix: avoid racing bucket expiration writes (#2199)
  src/api/flaskr/service/billing/wallets.py
  src/api/tests/service/billing/test_billing_wallet_lifecycle.py
Due: none

fix: keep listen subtitles aligned with audio
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.ts
Due: prettier-cook-web, eslint

refactor: introduce credit mutation foundation
  src/api/flaskr/service/billing/credit_mutations.py
  src/api/flaskr/service/billing/subscriptions.py
Due: none

refactor: introduce credit mutation foundation (#2202)
  src/api/flaskr/service/billing/credit_mutations.py
  src/api/flaskr/service/billing/subscriptions.py
Due: none

docs: define billing credit terminology
  docs/billing-subscription-design.md
  docs/design-docs/billing-credit-domain-terminology.md
  docs/design-docs/index.md
  docs/generated/doc-inventory.md
  docs/generated/harness-health.md
Due: none

fix: prevent repeated listen subtitles
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.ts
Due: prettier-cook-web, eslint

docs: clarify current credit bucket semantics
  docs/billing-subscription-design.md
  docs/design-docs/billing-credit-domain-terminology.md
Due: none

feat: add Tencent premium and large-model voice tiers for TTS (#2200)
  src/api/flaskr/.DS_Store
  src/api/flaskr/api/tts/__init__.py
  src/api/flaskr/api/tts/base.py
  src/api/flaskr/api/tts/tencent_texttovoice_provider.py
  src/api/flaskr/service/tts/validation.py
  src/api/tests/service/tts/test_tencent_texttovoice_provider.py
  src/api/tests/service/tts/test_tts_config_options.py
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/components/shifu-setting/tts-model-options.test.ts
  src/cook-web/src/components/shifu-setting/tts-model-options.ts
Due: prettier-cook-web, eslint

docs: align credit pack terminology with product rules
  docs/design-docs/billing-credit-domain-terminology.md
Due: none

Remove outdated AI-Shifu code review document
  docs/design-docs/billing-credit-domain-terminology.md
Due: none

docs: align billing credit terminology
  docs/billing-subscription-design.md
  docs/design-docs/billing-credit-domain-terminology.md
Due: none

docs: standardize preorder spelling
  docs/design-docs/billing-credit-domain-terminology.md
Due: none

docs: note credit pack expiration gap
  docs/design-docs/billing-credit-domain-terminology.md
Due: none

docs: define billing credit terminology (#2203)
  docs/billing-subscription-design.md
  docs/design-docs/billing-credit-domain-terminology.md
  docs/design-docs/index.md
  docs/generated/doc-inventory.md
  docs/generated/harness-health.md
Due: none

fix: keep credit pack credits frozen instead of expired
  docs/billing-subscription-design.md
  docs/design-docs/billing-credit-domain-terminology.md
  src/api/flaskr/service/billing/subscriptions.py
  src/api/flaskr/service/billing/wallets.py
  src/api/tests/service/billing/test_billing_renewal_execution.py
  src/api/tests/service/billing/test_billing_wallet_lifecycle.py
Due: none

feat: adopt native no-variable interaction support from markdown-flow
  src/api/flaskr/service/learn/context_v2.py
  src/api/requirements.txt
  src/api/tests/service/learn/test_context_v2.py
Due: none

fix: avoid repeated frozen credit pack updates
  src/api/flaskr/service/billing/subscriptions.py
  src/api/flaskr/service/billing/wallets.py
  src/api/tests/service/billing/test_billing_wallet_lifecycle.py
Due: none

style: format listen audio speakability helper
  src/api/flaskr/service/tts/__init__.py
Due: none

fix: skip markup-only listen audio segments
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/tts/__init__.py
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/tests/service/learn/test_generated_block_tts_av_mode.py
Due: none

fix: restore wrongly expired credit packs
  docs/billing-subscription-design.md
  src/api/flaskr/service/billing/cli.py
  src/api/flaskr/service/billing/wallets.py
  src/api/tests/service/billing/test_billing_cli.py
  src/api/tests/service/billing/test_billing_wallet_lifecycle.py
Due: none

feat: render no-variable interactions natively via markdown-flow-ui
  src/cook-web/package.json
  src/cook-web/pnpm-workspace.yaml
  src/cook-web/src/__tests__/content-block-pay-interaction.test.tsx
  src/cook-web/src/__tests__/markdown-flow-interaction.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/c-components/ChatUi/ContentBlock.tsx
  src/cook-web/src/c-utils/markdown-flow-interaction.ts
Due: prettier-cook-web, eslint

fix: unfreeze all credit pack buckets
  src/api/flaskr/service/billing/subscriptions.py
  src/api/tests/service/billing/test_billing_renewal_execution.py
Due: none

fix: keep credit pack credits frozen instead of expired (#2204)
  docs/billing-subscription-design.md
  docs/design-docs/billing-credit-domain-terminology.md
  src/api/flaskr/service/billing/cli.py
  src/api/flaskr/service/billing/subscriptions.py
  src/api/flaskr/service/billing/wallets.py
  src/api/tests/service/billing/test_billing_cli.py
  src/api/tests/service/billing/test_billing_renewal_execution.py
  src/api/tests/service/billing/test_billing_wallet_lifecycle.py
Due: none

chore: sync npm lockfile for markdown-flow-ui 0.2.8
  src/cook-web/package-lock.json
Due: prettier-cook-web

fix: type-guard the normalized answer from interaction metadata
  src/api/flaskr/service/learn/context_v2.py
Due: none

feat: adopt native no-variable interaction support from markdown-flow (#2205)
  src/api/flaskr/service/learn/context_v2.py
  src/api/requirements.txt
  src/api/tests/service/learn/test_context_v2.py
Due: none

refactor: add billing credit audit diagnostics
  src/api/flaskr/service/billing/cli.py
  src/api/flaskr/service/billing/credit_audit.py
  src/api/tests/service/billing/test_billing_credit_audit.py
Due: none

feat: render no-variable interactions natively via markdown-flow-ui (#2206)
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/pnpm-workspace.yaml
  src/cook-web/src/__tests__/content-block-pay-interaction.test.tsx
  src/cook-web/src/__tests__/markdown-flow-interaction.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/c-components/ChatUi/ContentBlock.tsx
  src/cook-web/src/c-utils/markdown-flow-interaction.ts
Due: prettier-cook-web, eslint

fix: reduce billing credit audit false positives
  src/api/flaskr/service/billing/cli.py
  src/api/flaskr/service/billing/credit_audit.py
  src/api/tests/service/billing/test_billing_credit_audit.py
Due: none

fix: enforce read-only billing audit output
  src/api/flaskr/service/billing/credit_audit.py
  src/api/flaskr/service/billing/wallets.py
  src/api/tests/service/billing/test_billing_credit_audit.py
  src/api/tests/service/billing/test_billing_wallet_lifecycle.py
Due: none

fix: show credit packs as no expiration
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.test.tsx
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.tsx
Due: prettier-cook-web, eslint

test: cover credit pack eligibility boundaries
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.test.tsx
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.tsx
Due: prettier-cook-web, eslint

fix: show credit packs as no expiration (#2208)
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.test.tsx
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.tsx
Due: prettier-cook-web, eslint

fix: make billing audit limit scan creators
  src/api/flaskr/service/billing/cli.py
  src/api/flaskr/service/billing/credit_audit.py
  src/api/tests/service/billing/test_billing_credit_audit.py
Due: none

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
