Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

feat: add operator user overview cards
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_dtos.py
  src/api/flaskr/service/shifu/route.py
  src/api/tests/service/shifu/test_admin_users.py
  src/cook-web/src/app/admin/operations/operation-user-types.ts
  src/cook-web/src/app/admin/operations/users/page.test.tsx
  src/cook-web/src/app/admin/operations/users/page.tsx
  src/i18n/en-US/modules/operations-user.json
  src/i18n/zh-CN/modules/operations-user.json
Due: prettier-cook-web, eslint

fix: drive billing catalog values from database (#1705)
  docker/docker-compose.dev.yml
  src/api/flaskr/service/billing/checkout.py
  src/api/flaskr/service/billing/consts.py
  src/api/flaskr/service/billing/notifications.py
  src/api/flaskr/service/billing/read_models.py
  src/api/tests/common/fixtures/billing_products.py
  src/api/tests/service/billing/test_admin_billing_routes.py
  src/api/tests/service/billing/test_billing_routes.py
  src/api/tests/service/billing/test_billing_write_routes.py
  src/api/tests/service/billing/test_operator_credit_orders.py
  src/api/tests/service/order/test_admin_orders.py
  src/cook-web/src/app/admin/billing/page.test.tsx
  src/cook-web/src/app/admin/operations/operation-credit-order-helpers.ts
  src/cook-web/src/app/admin/operations/orders/CreditOrdersTab.test.tsx
  src/cook-web/src/components/billing/BillingOverviewTab.test.tsx
  src/cook-web/src/components/billing/BillingOverviewTab.tsx
  src/cook-web/src/components/billing/BillingPlanComparisonTable.tsx
  src/cook-web/src/lib/__tests__/billing.test.ts
  src/cook-web/src/lib/billing.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

perf: optimize operator follow-up list queries (#1702)
  src/api/flaskr/service/shifu/admin.py
  src/api/tests/service/shifu/test_admin_course_detail.py
Due: none

fix: localize captcha errors and preserve input
  src/api/flaskr/route/user.py
  src/api/tests/service/user/test_captcha_routes.py
  src/cook-web/src/c-components/Settings/SetPasswordModal.tsx
  src/cook-web/src/components/auth/ImageCaptchaInput.tsx
  src/cook-web/src/components/auth/PhoneLogin.test.tsx
  src/cook-web/src/components/auth/PhoneLogin.tsx
  src/cook-web/src/hooks/useAuth.ts
  src/cook-web/src/hooks/useCaptchaTicket.ts
Due: prettier-cook-web, eslint

secure course preview permissions
  src/api/flaskr/service/learn/preview_permissions.py
  src/api/flaskr/service/learn/routes.py
  src/api/tests/service/learn/test_preview_permissions.py
  src/api/tests/service/learn/test_runtime_tts_admission.py
Due: none

fix: address captcha review follow-ups
  src/api/flaskr/i18n/__init__.py
  src/api/flaskr/route/common.py
  src/api/tests/service/user/test_captcha_routes.py
  src/cook-web/src/c-components/Settings/SetPasswordModal.tsx
  src/cook-web/src/components/auth/PhoneLogin.tsx
  src/cook-web/src/hooks/useCaptchaTicket.ts
Due: prettier-cook-web, eslint

feat: secure course preview permissions (#1708)
  src/api/flaskr/service/learn/preview_permissions.py
  src/api/flaskr/service/learn/routes.py
  src/api/tests/service/learn/test_preview_permissions.py
  src/api/tests/service/learn/test_runtime_tts_admission.py
Due: none

fix: tighten operator user overview filters
  src/api/flaskr/service/shifu/admin.py
  src/api/tests/service/shifu/test_admin_users.py
  src/cook-web/src/app/admin/operations/users/page.test.tsx
  src/cook-web/src/app/admin/operations/users/page.tsx
Due: prettier-cook-web, eslint

fix: address course overview review follow-ups
  src/api/flaskr/service/shifu/admin.py
  src/api/tests/service/shifu/test_admin_courses.py
  src/cook-web/src/app/admin/operations/page.tsx
Due: prettier-cook-web, eslint

feat: refine credit-purchase page copy and add page footnote
  src/cook-web/src/components/billing/BillingOverviewFootnote.tsx
  src/cook-web/src/components/billing/BillingOverviewTab.tsx
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

refactor: use button for footnote tooltip trigger
  src/cook-web/src/components/billing/BillingOverviewFootnote.tsx
Due: prettier-cook-web, eslint

feat: restyle billing top tabs and add footnote tooltip
  src/cook-web/src/app/admin/billing/AdminBillingPageClient.tsx
  src/cook-web/src/components/billing/BillingOverviewFootnote.tsx
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

fix: floor wallet balance summary to integer
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.test.tsx
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.tsx
Due: prettier-cook-web, eslint

fix: tighten footnote tooltip button to icon size
  src/cook-web/src/components/billing/BillingOverviewFootnote.tsx
Due: prettier-cook-web, eslint

chore: drop trailing period on learner-estimate footnote
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: none

refactor: scope learner-estimate footnote to plans sub-tab
  src/cook-web/src/components/billing/BillingOverviewShowcase.tsx
  src/cook-web/src/components/billing/BillingOverviewTab.tsx
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

refactor: align topup notice with footnote style below grid
  src/cook-web/src/components/billing/BillingOverviewShowcase.tsx
  src/cook-web/src/components/billing/BillingOverviewTab.test.tsx
  src/cook-web/src/lib/billing.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

refactor: share BillingNoticeCallout between footnote and topup notice
  src/cook-web/src/components/billing/BillingNoticeCallout.tsx
  src/cook-web/src/components/billing/BillingOverviewFootnote.tsx
  src/cook-web/src/components/billing/BillingOverviewShowcase.tsx
Due: prettier-cook-web, eslint

feat: Add support for cache provider publishing and subscription capabilities to coordinate the submission order between the main course flow and Q & A runs
  src/api/flaskr/common/cache_provider.py
  src/api/flaskr/service/learn/runscript_v2.py
  src/api/tests/common/test_cache_provider_pubsub.py
  src/api/tests/service/learn/test_runscript_v2_block_events.py
Due: none

style: drop the tinted background on plan-comparison scenario row
  src/cook-web/src/components/billing/BillingPlanComparisonTable.module.scss
Due: prettier-cook-web

refactor: revert callout extraction and inline footnote-style notices
  src/cook-web/src/components/billing/BillingNoticeCallout.tsx
  src/cook-web/src/components/billing/BillingOverviewFootnote.tsx
  src/cook-web/src/components/billing/BillingOverviewShowcase.tsx
Due: prettier-cook-web, eslint

feat: revamp billing credit purchase page (#1709)
  src/cook-web/src/app/admin/billing/AdminBillingPageClient.tsx
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.test.tsx
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.tsx
  src/cook-web/src/components/billing/BillingOverviewFootnote.tsx
  src/cook-web/src/components/billing/BillingOverviewShowcase.tsx
  src/cook-web/src/components/billing/BillingOverviewTab.test.tsx
  src/cook-web/src/components/billing/BillingPlanComparisonTable.module.scss
  src/cook-web/src/lib/billing.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: prettier-cook-web, eslint

feat: Optimize ASK event processing logic to solve anchor element issues in concurrent scenarios
  src/api/flaskr/service/learn/listen_element_run_sidecar.py
Due: none

fix: Fixed element_bid delivery issue at ask runtime
  src/api/flaskr/service/learn/context_v2.py
Due: none

refactor: Defer processing follow-up element consolidation to support locating anchors across progress boundaries
  src/api/flaskr/service/learn/listen_element_history.py
Due: none

revert: drop block-commit pubsub plumbing not required for the core fix
  src/api/flaskr/common/cache_provider.py
  src/api/flaskr/service/learn/runscript_v2.py
  src/api/tests/common/test_cache_provider_pubsub.py
  src/api/tests/service/learn/test_runscript_v2_block_events.py
Due: none

fix: prevent ask SSE from creating a sibling LearnProgressRecord
  src/api/flaskr/service/learn/context_v2.py
Due: none

Revert "fix: prevent ask SSE from creating a sibling LearnProgressRecord"
  src/api/flaskr/service/learn/context_v2.py
Due: none

fix: keep main-flow progress record over a fresh ask sibling
  src/api/flaskr/service/learn/context_v2.py
Due: none

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web

feat: add course overview cards to operator course management (#1704)
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_dtos.py
  src/api/flaskr/service/shifu/route.py
  src/api/tests/service/shifu/test_admin_courses.py
  src/cook-web/src/app/admin/operations/operation-course-types.ts
  src/cook-web/src/app/admin/operations/page.test.tsx
  src/cook-web/src/app/admin/operations/page.tsx
  src/i18n/en-US/modules/operations-course.json
  src/i18n/zh-CN/modules/operations-course.json
Due: prettier-cook-web, eslint

feat: add operator user overview cards (#1706)
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_dtos.py
  src/api/flaskr/service/shifu/route.py
  src/api/tests/service/shifu/test_admin_users.py
  src/cook-web/src/app/admin/operations/operation-user-types.ts
  src/cook-web/src/app/admin/operations/users/page.test.tsx
  src/cook-web/src/app/admin/operations/users/page.tsx
  src/i18n/en-US/modules/operations-user.json
  src/i18n/zh-CN/modules/operations-user.json
Due: prettier-cook-web, eslint

fix: localize captcha errors and preserve input (#1707)
  src/api/flaskr/i18n/__init__.py
  src/api/flaskr/route/common.py
  src/api/flaskr/route/user.py
  src/api/tests/service/user/test_captcha_routes.py
  src/cook-web/src/c-components/Settings/SetPasswordModal.tsx
  src/cook-web/src/components/auth/ImageCaptchaInput.tsx
  src/cook-web/src/components/auth/PhoneLogin.test.tsx
  src/cook-web/src/components/auth/PhoneLogin.tsx
  src/cook-web/src/hooks/useAuth.ts
  src/cook-web/src/hooks/useCaptchaTicket.ts
Due: prettier-cook-web, eslint

Implement self-managed billing validity
  docs/billing-subscription-design.md
  src/api/flaskr/service/billing/cli.py
  src/api/flaskr/service/billing/queries.py
  src/api/flaskr/service/billing/subscriptions.py
  src/api/tests/service/billing/test_billing_cli.py
  src/api/tests/service/billing/test_billing_models.py
  src/api/tests/service/billing/test_billing_renewal_execution.py
  src/api/tests/service/billing/test_billing_write_routes.py
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: none

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
Due: prettier-cook-web, eslint

feat: upgrade markdown-flow-ui version to 0.1.116 (#1710)
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/skills/listen-mode-audio-streaming/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/cook-web/src/types/markdown-flow-ui.d.ts
  src/i18n/en-US/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

Remove leap day billing tooltip copy
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: none

feat: Implement self-managed billing validity (#1711)
  docs/billing-subscription-design.md
  src/api/flaskr/service/billing/cli.py
  src/api/flaskr/service/billing/queries.py
  src/api/flaskr/service/billing/subscriptions.py
  src/api/tests/service/billing/test_billing_cli.py
  src/api/tests/service/billing/test_billing_models.py
  src/api/tests/service/billing/test_billing_renewal_execution.py
  src/api/tests/service/billing/test_billing_write_routes.py
  src/i18n/en-US/modules/billing.json
  src/i18n/zh-CN/modules/billing.json
Due: none

feat: unify admin number formatting
  src/cook-web/src/app/admin/lib/numberFormat.ts
  src/cook-web/src/app/admin/operations/[shifu_bid]/follow-ups/page.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/follow-ups/page.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/page.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/ratings/page.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/ratings/page.tsx
  src/cook-web/src/app/admin/operations/orders/CreditOrderDetailDialog.tsx
  src/cook-web/src/app/admin/operations/orders/CreditOrdersTab.test.tsx
  src/cook-web/src/app/admin/operations/orders/CreditOrdersTab.tsx
  src/cook-web/src/app/admin/operations/page.test.tsx
  src/cook-web/src/app/admin/operations/page.tsx
  src/cook-web/src/app/admin/operations/users/UserCreditGrantDialog.test.tsx
  src/cook-web/src/app/admin/operations/users/UserCreditGrantDialog.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.tsx
  src/cook-web/src/app/admin/operations/users/page.test.tsx
  src/cook-web/src/app/admin/operations/users/page.tsx
  src/cook-web/src/lib/__tests__/admin-number-format.test.ts
  src/cook-web/src/lib/admin-number-format.ts
Due: prettier-cook-web, eslint

refactor: streamline admin number formatting
  src/cook-web/src/lib/admin-number-format.ts
Due: prettier-cook-web, eslint

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
