Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

refactor(cook-web): unify audio segment state to tracks and dedupe by block-position-segment key
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
  src/cook-web/src/c-utils/audio-utils.ts
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

chore: update docs
  docs/litellm-responses-api.md
  docs/litellm-responses-api_ZH-CN.md
Due: none

build(llm): upgrade litellm to 1.81.11
  src/api/requirements.txt
  tasks.md
Due: none

feat(config): add litellm standard llm env keys
  src/api/flaskr/common/config.py
  tasks.md
Due: none

fix(llm): add legacy env key fallback resolution
  src/api/flaskr/api/llm/__init__.py
  tasks.md
Due: none

fix(config): include new llm keys in startup validation
  src/api/flaskr/common/config.py
  tasks.md
Due: none

chore(config): regenerate env examples for new llm keys
  docker/.env.example.full
  tasks.md
Due: none

refactor(llm): rename providers to litellm standard ids
  src/api/flaskr/api/llm/__init__.py
  tasks.md
Due: none

feat(llm): canonicalize legacy model prefixes
  src/api/flaskr/api/llm/__init__.py
  tasks.md
Due: none

fix(llm): resolve canonical and legacy model aliases
  src/api/flaskr/api/llm/__init__.py
  tasks.md
Due: none

fix(llm): normalize allowlist and model-list to canonical ids
  src/api/flaskr/api/llm/__init__.py
  tasks.md
Due: none

chore(llm): warn on legacy keys and model ids
  src/api/flaskr/api/llm/__init__.py
  tasks.md
Due: none

refactor(script): align mdflow provider keys with litellm naming
  src/api/scripts/generate_mdflow_context_results.py
  tasks.md
Due: none

test(config): include standard litellm keys in validation tests
  src/api/tests/common/test_config_integration.py
  tasks.md
Due: none

test(learn): switch llm prefix assertions to canonical ids
  src/api/tests/service/learn/test_context_v2.py
  tasks.md
Due: none

chore(tasks): mark llm unit tests as verified
  tasks.md
Due: none

docs(llm): add rollout notes and finalize checklist
  docs/litellm-upgrade-standards-alignment-design.md
  tasks.md
Due: none

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
Due: prettier-cook-web, eslint

fix: lint
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
Due: prettier-cook-web, eslint

fix: remediate dashboard metrics, filters, and learner detail behavior
  src/api/flaskr/service/dashboard/dtos.py
  src/api/flaskr/service/dashboard/funcs.py
  src/api/flaskr/service/dashboard/routes.py
  src/api/tests/service/dashboard/test_dashboard_routes.py
  src/cook-web/src/app/admin/dashboard/page.tsx
  src/cook-web/src/app/admin/dashboard/shifu/[shifu_bid]/learners/[user_bid]/page.tsx
  src/cook-web/src/app/admin/dashboard/shifu/[shifu_bid]/page.tsx
  src/cook-web/src/components/dashboard/LearnerDetailSheet.tsx
  src/cook-web/src/types/dashboard.ts
  src/i18n/en-US/modules/dashboard.json
  src/i18n/zh-CN/modules/dashboard.json
Due: prettier-cook-web, eslint

refactor(cook-web): show listen mode interaction overlay only from audio sequence channel
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
Due: prettier-cook-web, eslint

feat: add pause-driven slide lock to stop auto navigation and disable prev/next while audio is paused
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
Due: prettier-cook-web, eslint

fix: prevent listen mode audio replay when streaming appends new flows
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
  src/cook-web/src/components/audio/AudioPlayerList.tsx
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/src/app/globals.css
Due: prettier-cook-web

fix(cook-web): avoid remote font fetch during build
  src/cook-web/src/app/globals.css
  src/cook-web/src/app/layout.tsx
Due: prettier-cook-web, eslint

fix: detect draft conflicts on save
  src/api/flaskr/service/shifu/dtos.py
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/store/useShifu.tsx
  src/cook-web/src/types/shifu.ts
Due: prettier-cook-web, eslint

fix: detect draft conflicts on save
  src/api/flaskr/service/shifu/dtos.py
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/store/useShifu.tsx
  src/cook-web/src/types/shifu.ts
Due: prettier-cook-web, eslint

fix(cook-web): resolve dashboard DateRange build errors
  src/cook-web/src/app/admin/dashboard/page.tsx
  src/cook-web/src/app/admin/dashboard/shifu/[shifu_bid]/page.tsx
  src/i18n/en-US/modules/dashboard.json
  src/i18n/zh-CN/modules/dashboard.json
Due: prettier-cook-web, eslint

fix: add draft conflict code and i18n
  src/api/error_codes.json
  src/api/flaskr/service/shifu/route.py
  src/i18n/en-US/modules/backend/shifu.json
  src/i18n/zh-CN/modules/backend/shifu.json
Due: none

fix: restore draft meta helpers
  src/api/flaskr/service/shifu/shifu_history_manager.py
Due: none

fix: address draft conflict review notes
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/api/flaskr/service/shifu/shifu_history_manager.py
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
  src/cook-web/src/components/shifu-edit/DraftConflictDialog.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/store/useShifu.tsx
  src/cook-web/src/types/shifu.ts
  src/i18n/en-US/modules/shifu.json
  src/i18n/zh-CN/modules/shifu.json
Due: prettier-cook-web, eslint

fix(listen-audio): skip url fallback replay when final segment already arrived in sequence mode
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
  src/cook-web/src/c-utils/audio-utils.ts
  src/cook-web/src/components/audio/AudioPlayerList.tsx
  src/cook-web/src/hooks/useExclusiveAudio.ts
Due: prettier-cook-web, eslint

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
  src/cook-web/src/app/globals.css
Due: prettier-cook-web, eslint

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

Revert "Merge remote-tracking branch 'origin/feat/course-permission-edit-notify' into feat/course-permission-edit-notify"
  src/api/flaskr/service/shifu/dtos.py
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/store/useShifu.tsx
  src/cook-web/src/types/shifu.ts
Due: prettier-cook-web, eslint

fix: address draft conflict review feedback
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/api/tests/service/shifu/test_draft_conflict.py
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/globals.css
Due: prettier-cook-web

test: stabilize draft conflict fixtures
  src/api/tests/service/shifu/test_draft_conflict.py
Due: none

fix: avoid base revision overwrite after conflict
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

fix: restore login methods env config
  src/cook-web/src/config/environment.ts
Due: prettier-cook-web, eslint

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
