Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

feat: reorder demo course lessons and update quiz content (#1307)
  src/api/demo_shifus/cn_demo.json
Due: none

fix: clear
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
Due: prettier-cook-web, eslint

feat: add currentPage to content items based on segment count
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
Due: prettier-cook-web, eslint

feat: track current ppt page ref in listen mode
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
Due: prettier-cook-web, eslint

refactor: build interaction page map during currentPage calc
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.tsx
Due: prettier-cook-web, eslint

feat: render interaction overlay in listen player
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

feat: toggle interaction overlay from notes icon
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.tsx
Due: prettier-cook-web, eslint

feat: wire listen mode onSend to run sse flow
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix(listen-player): scope control button styles to avoid content button sizing issues
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.module.scss
Due: prettier-cook-web

feat(listen-player): disable prev/next when reaching slide boundaries
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.tsx
Due: prettier-cook-web, eslint

fix: hide controls
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
Due: prettier-cook-web, eslint

fix(listen-player): hide auxiliary buttons and restore separator width
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.tsx
Due: prettier-cook-web, eslint

feat: update quiz lesson section titles for clarity
  src/api/demo_shifus/cn_demo.json
Due: none

Update src/api/demo_shifus/cn_demo.json
  src/api/demo_shifus/cn_demo.json
Due: none

fix(listen-player): prevent interaction overlay from reopening after send
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.tsx
Due: prettier-cook-web, eslint

feat: update demo course quiz lesson content and structure (#1308)
  src/api/demo_shifus/cn_demo.json
Due: none

fix(listen-mode): skip loading placeholder to avoid reveal reinit jump
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix(listen-mode): follow latest slide when new pages append
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.module.scss
Due: prettier-cook-web

feat(listen): move audio toggle into listen player control
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.tsx
  src/cook-web/src/components/audio/AudioPlayer.tsx
Due: prettier-cook-web, eslint

fix(listen): auto-advance on appended slides during playback
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
Due: prettier-cook-web, eslint

fix(listen): bind empty slide to first content block for audio
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
Due: prettier-cook-web, eslint

fix(listen): auto-advance audio across blocks in empty ppt mode
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
Due: prettier-cook-web, eslint

fix: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: revert mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
Due: prettier-cook-web, eslint

feat(listen-mode): render ppt slides from markdown/sandbox segments only
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
Due: prettier-cook-web, eslint

feat(listen-mode): add audio and interaction filtered list for playback lookup
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
Due: prettier-cook-web, eslint

fix(listen-mode): reset to first slide on initial load
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
Due: prettier-cook-web, eslint

fix: normalize activation import mobiles input
  src/cook-web/src/components/order/ImportActivationDialog.tsx
  src/i18n/en-US/modules/order.json
  src/i18n/zh-CN/modules/order.json
Due: prettier-cook-web, eslint

fix: honor caret position on paste for mobile input
  src/cook-web/src/components/order/ImportActivationDialog.tsx
Due: prettier-cook-web, eslint

fix: keep caret on next line after shortcut newline
  src/cook-web/src/components/order/ImportActivationDialog.tsx
Due: prettier-cook-web, eslint

feat(listen-mode): auto-play audio sequence with interaction pauses
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
Due: prettier-cook-web, eslint

feat(listen-mode): align audio/interactions to slide pages and auto-jump on mismatch
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
Due: prettier-cook-web, eslint

fix: type cast caret handling in mobile textarea
  src/cook-web/src/components/order/ImportActivationDialog.tsx
Due: prettier-cook-web, eslint

fix(listen-mode): prevent auto reset when manual slide navigation
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
Due: prettier-cook-web, eslint

fix(listen): animate sandbox slides without auto-animate
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentIframe.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.module.css
Due: prettier-cook-web, eslint

fix(listen): set interaction readonly based on last item in items
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.tsx
Due: prettier-cook-web, eslint

fix(listen): resume audio sequence after last interaction when new audio arrives
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
Due: prettier-cook-web, eslint

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
