Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

fix: align retake notice accessible name
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.lessonUpdateNotice.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/chat.json
  src/i18n/fr-FR/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

fix: show pointer cursor on retake action
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

fix: capitalize French retake accessible label
  src/i18n/fr-FR/modules/chat.json
Due: none

fix: clarify retake notice accessible copy
  src/i18n/en-US/modules/chat.json
Due: none

fix: preserve retake action label
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.lessonUpdateNotice.test.tsx
  src/i18n/en-US/modules/chat.json
  src/i18n/fr-FR/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

fix: use reset terminology in English notice
  src/i18n/en-US/modules/chat.json
Due: none

fix: refine lesson update retake notice
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.lessonUpdateNotice.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/chat.json
  src/i18n/en-US/modules/lesson.json
  src/i18n/fr-FR/modules/chat.json
  src/i18n/fr-FR/modules/lesson.json
  src/i18n/zh-CN/modules/chat.json
  src/i18n/zh-CN/modules/lesson.json
Due: prettier-cook-web, eslint

fix: refine lesson update reset notice (#2077)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.lessonUpdateNotice.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/chat.json
  src/i18n/en-US/modules/lesson.json
  src/i18n/fr-FR/modules/chat.json
  src/i18n/fr-FR/modules/lesson.json
  src/i18n/zh-CN/modules/chat.json
  src/i18n/zh-CN/modules/lesson.json
Due: prettier-cook-web, eslint

fix: standardize clickable cursors
  src/cook-web/AGENTS.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/IconButton/IconButton.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModal.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModalM.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Settings/SettingSelectElement.tsx
  src/cook-web/src/app/globals.css
  src/cook-web/src/components/dnd-kit-sortable-tree/ui/simple/SimpleTreeItemWrapper.tsx
  src/cook-web/src/components/onboarding/OnboardingOverlay.tsx
  src/cook-web/src/components/ui/DropdownMenu.tsx
  src/cook-web/src/components/ui/Select.tsx
Due: prettier-cook-web, eslint

fix: remove redundant cursor styles
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationDetailSheet.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationDryRunPanel.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationTemplateSyncPanel.tsx
  src/cook-web/src/app/admin/operations/orders/CreditOrderDetailDialog.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/globals.css
  src/cook-web/src/components/billing/BillingSidebarCard.tsx
  src/cook-web/src/components/contact/ContactSideRail.tsx
  src/cook-web/src/components/dnd-kit-sortable-tree/ui/simple/SimpleTreeItemWrapper.css
  src/cook-web/src/components/onboarding/OnboardingCard.tsx
  src/cook-web/src/components/ui/MarkdownFlowLink.tsx
Due: prettier-cook-web, eslint

fix: guard disabled menu items
  src/cook-web/src/components/ui/DropdownMenu.tsx
  src/cook-web/src/components/ui/Select.tsx
Due: prettier-cook-web, eslint

fix: use semantic icon buttons
  src/cook-web/src/app/c/[[...id]]/Components/IconButton/IconButton.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/IconButton/IconButton.tsx
Due: prettier-cook-web, eslint

chore: mirror frontend cursor guidance
  .github/instructions/frontend.instructions.md
  scripts/generate_ai_collab_docs.py
  src/cook-web/.cursor/rules/cook-web.mdc
Due: none

fix: preserve disabled cursor behavior
  src/cook-web/src/app/globals.css
  src/cook-web/src/components/ui/DropdownMenu.tsx
  src/cook-web/src/components/ui/Select.tsx
Due: prettier-cook-web, eslint

fix: label legacy icon button
  src/cook-web/src/app/c/[[...id]]/Components/IconButton/IconButton.tsx
Due: prettier-cook-web, eslint

fix: normalize runtime language headers
  src/api/flaskr/route/user.py
  src/api/tests/route/test_user_language_context.py
  src/cook-web/src/c-api/studyV2.ts
  src/cook-web/src/lib/request.ts
Due: prettier-cook-web, eslint

fix: guard disabled cursor targets
  src/cook-web/src/components/dnd-kit-sortable-tree/ui/simple/SimpleTreeItemWrapper.tsx
  src/cook-web/src/components/ui/DropdownMenu.tsx
Due: prettier-cook-web, eslint

fix: avoid clickable onboarding card wrapper
  src/cook-web/src/components/onboarding/OnboardingCard.tsx
  src/cook-web/src/components/onboarding/OnboardingOverlay.tsx
Due: prettier-cook-web, eslint

fix: harden disabled cursor affordance
  src/cook-web/src/app/globals.css
  src/cook-web/src/components/dnd-kit-sortable-tree/ui/simple/SimpleTreeItemWrapper.css
  src/cook-web/src/components/dnd-kit-sortable-tree/ui/simple/SimpleTreeItemWrapper.tsx
Due: prettier-cook-web, eslint

fix: make clickable ask targets accessible
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/components/dnd-kit-sortable-tree/ui/simple/SimpleTreeItemWrapper.css
Due: prettier-cook-web, eslint

fix: rely on global menu cursor contract
  src/cook-web/src/app/globals.css
  src/cook-web/src/components/ui/DropdownMenu.tsx
  src/cook-web/src/components/ui/Select.tsx
Due: prettier-cook-web, eslint

fix: show disabled tree cursor consistently
  src/cook-web/src/components/dnd-kit-sortable-tree/ui/simple/SimpleTreeItemWrapper.tsx
Due: prettier-cook-web, eslint

fix: resolve preview learner language variables
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_context_v2.py
Due: none

fix: use learner profile language for mdflow output
  src/api/flaskr/common/i18n_utils.py
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_context_v2.py
Due: none

fix: prefer preview request language over stale profile
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_context_v2.py
Due: none

fix: isolate preview context by language
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_context_v2.py
Due: none

fix: drop stale english preview context
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_context_v2.py
Due: none

fix: prefer preview language field for debug output
  src/api/flaskr/service/learn/context_v2.py
Due: none

test: update preview context language fake
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_context_v2.py
Due: none

fix: prefer runtime language for lesson output
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_context_v2.py
Due: none

fix: narrow clickable cursor scope
  .github/instructions/frontend.instructions.md
  scripts/generate_ai_collab_docs.py
  src/cook-web/.cursor/rules/cook-web.mdc
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/IconButton/IconButton.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/IconButton/IconButton.tsx
  src/cook-web/src/components/dnd-kit-sortable-tree/ui/simple/SimpleTreeItemWrapper.css
  src/cook-web/src/components/dnd-kit-sortable-tree/ui/simple/SimpleTreeItemWrapper.tsx
  src/cook-web/src/components/onboarding/OnboardingCard.tsx
  src/cook-web/src/components/onboarding/OnboardingOverlay.tsx
  src/cook-web/src/components/ui/DropdownMenu.tsx
  src/cook-web/src/components/ui/Select.tsx
Due: prettier-cook-web, eslint

fix: remove redundant disabled cursor utilities
  src/cook-web/src/components/ui/DropdownMenu.tsx
  src/cook-web/src/components/ui/Select.tsx
Due: prettier-cook-web, eslint

fix: preserve disabled primitive behavior
  src/cook-web/src/components/ui/DropdownMenu.tsx
  src/cook-web/src/components/ui/Select.tsx
Due: prettier-cook-web, eslint

fix: keep onboarding overlay cursor neutral
  .github/instructions/frontend.instructions.md
  scripts/generate_ai_collab_docs.py
  src/cook-web/.cursor/rules/cook-web.mdc
  src/cook-web/AGENTS.md
  src/cook-web/src/components/onboarding/OnboardingOverlay.tsx
Due: prettier-cook-web, eslint

fix: hide clickable cursor on disabled tree items
  src/cook-web/src/components/dnd-kit-sortable-tree/ui/simple/SimpleTreeItemWrapper.tsx
Due: prettier-cook-web, eslint

fix: cover native input button cursors
  src/cook-web/src/app/globals.css
Due: prettier-cook-web

fix: include native choice input cursors
  src/cook-web/src/app/globals.css
Due: prettier-cook-web

fix: standardize clickable cursors (#2079)
  .github/instructions/frontend.instructions.md
  scripts/generate_ai_collab_docs.py
  src/cook-web/.cursor/rules/cook-web.mdc
  src/cook-web/AGENTS.md
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationDetailSheet.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationDryRunPanel.tsx
  src/cook-web/src/app/admin/operations/credit-notifications/CreditNotificationTemplateSyncPanel.tsx
  src/cook-web/src/app/admin/operations/orders/CreditOrderDetailDialog.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/IconButton/IconButton.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModal.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModalM.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Settings/SettingSelectElement.tsx
  src/cook-web/src/app/globals.css
  src/cook-web/src/components/billing/BillingSidebarCard.tsx
  src/cook-web/src/components/contact/ContactSideRail.tsx
  src/cook-web/src/components/dnd-kit-sortable-tree/ui/simple/SimpleTreeItemWrapper.css
  src/cook-web/src/components/dnd-kit-sortable-tree/ui/simple/SimpleTreeItemWrapper.tsx
  src/cook-web/src/components/onboarding/OnboardingCard.tsx
  src/cook-web/src/components/onboarding/OnboardingOverlay.tsx
  src/cook-web/src/components/ui/DropdownMenu.tsx
  src/cook-web/src/components/ui/MarkdownFlowLink.tsx
  src/cook-web/src/components/ui/Select.tsx
Due: prettier-cook-web, eslint

fix: respect learner runtime language (#2078)
  src/api/flaskr/common/i18n_utils.py
  src/api/flaskr/route/user.py
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/route/test_user_language_context.py
  src/api/tests/service/learn/test_context_v2.py
  src/cook-web/src/c-api/studyV2.ts
  src/cook-web/src/lib/request.ts
Due: prettier-cook-web, eslint

fix: align teacher avatar terminology
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/fr-FR/modules/shifu-setting.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: none

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
