Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: Modify the naming of parameters related to the open api interface
  src/api/flaskr/route/open_api.py
  src/api/flaskr/service/order/open_api.py
Due: none

fix: resolve merge conflicts in open API files, keep order naming (#1475)
  src/api/flaskr/route/open_api.py
  src/api/flaskr/service/order/open_api.py
Due: none

chore: update markdown-flow-py version
  src/api/requirements.txt
Due: none

chore: merge learn generated element migrations
  src/api/migrations/versions/4a1f6c8e9b2d_add_learn_generated_elements.py
  src/api/migrations/versions/a1b2c3d4e5f7_add_element_protocol_fields.py
Due: none

fix: i18n key
  src/cook-web/src/types/i18n-keys.d.ts
Due: prettier-cook-web, eslint

chore: remove branch docs changes
  AGENTS.md
  SKILL.md
  docs/learn-generated-elements-design.md
  tasks.md
Due: none

fix: lint
  src/i18n/en-US/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: none

fix: merge conflict
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix: merge conflict
  src/cook-web/src/c-api/studyV2.ts
Due: prettier-cook-web, eslint

fix: merge conflict
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentIframe.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlockM.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavDrawer.module.scss
  src/cook-web/src/app/c/[[...id]]/page.module.scss
  src/cook-web/src/app/c/layout.css
  src/cook-web/src/c-utils/audio-utils.ts
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
Due: prettier-cook-web, eslint

chore: upgrade markdown-flow dependency package version
  src/api/requirements.txt
Due: none

ci: upgrade GitHub actions for Node 24
  .github/workflows/backend-tests.yml
  .github/workflows/build-latest.yml
  .github/workflows/build-on-release.yml
  .github/workflows/contract-tests.yml
  .github/workflows/prepare-release.yml
  .github/workflows/prettier-check.yml
  .github/workflows/translations-check.yml
Due: none

ci: upgrade GitHub actions for Node 24 (#1478)
  .github/workflows/backend-tests.yml
  .github/workflows/build-latest.yml
  .github/workflows/build-on-release.yml
  .github/workflows/contract-tests.yml
  .github/workflows/prepare-release.yml
  .github/workflows/prettier-check.yml
  .github/workflows/translations-check.yml
Due: none

ci: fix prepare release workflow auth
  .github/workflows/prepare-release.yml
Due: none

ci: fix prepare release draft workflow (#1479)
  .github/workflows/prepare-release.yml
Due: none

fix: migration version
  src/api/migrations/versions/4a1f6c8e9b2d_add_learn_generated_elements.py
Due: none

fix: migration version (#1481)
  src/api/migrations/versions/4a1f6c8e9b2d_add_learn_generated_elements.py
Due: none

fix: stabilize runscript app context cleanup
  src/api/flaskr/service/learn/runscript_v2.py
  src/api/tests/service/learn/test_runscript_v2_lock.py
Due: none

fix: prevent runscript app context teardown mismatch (#1482)
  src/api/flaskr/service/learn/runscript_v2.py
  src/api/tests/service/learn/test_runscript_v2_lock.py
Due: none

fix: reduce listen element deadlocks
  src/api/flaskr/service/learn/listen_element_run_persistence.py
  src/api/flaskr/service/learn/listen_element_run_stream.py
  src/api/migrations/versions/7b3c5d9e1a2f_add_learn_generated_element_active_lookup_indexes.py
  src/api/tests/service/learn/test_listen_elements.py
Due: none

chore: Update markdown-flow dependency package version
  src/api/requirements.txt
Due: none

chore: Update markdown-flow dependency package version (#1484)
  src/api/requirements.txt
Due: none

fix: reduce listen element deadlocks (#1483)
  src/api/flaskr/service/learn/listen_element_run_persistence.py
  src/api/flaskr/service/learn/listen_element_run_stream.py
  src/api/migrations/versions/7b3c5d9e1a2f_add_learn_generated_element_active_lookup_indexes.py
  src/api/tests/service/learn/test_listen_elements.py
Due: none

fix: remove dead profile legacy shims
  src/api/flaskr/service/common/signal.py
  src/api/flaskr/service/profile/profile_manage.py
  src/api/flaskr/service/profile/routes.py
  src/api/flaskr/service/resource/funs.py
  src/api/tests/service/profile/test_profile_routes.py
  src/api/tests/test_empty_funcs.py
  src/cook-web/src/api/api.ts
Due: prettier-cook-web, eslint

fix: remove dead profile legacy shims (#1485)
  src/api/flaskr/service/common/signal.py
  src/api/flaskr/service/profile/profile_manage.py
  src/api/flaskr/service/profile/routes.py
  src/api/flaskr/service/resource/funs.py
  src/api/tests/service/profile/test_profile_routes.py
  src/api/tests/test_empty_funcs.py
  src/cook-web/src/api/api.ts
Due: prettier-cook-web, eslint

fix(preview-chat): keep preview stream open for non-terminal done events
  src/cook-web/package-lock.json
  src/cook-web/skills/chat-element-streaming/SKILL.md
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
Due: prettier-cook-web, eslint

fix(preview-chat): keep preview stream open for non-terminal done events (#1486)
  src/cook-web/package-lock.json
  src/cook-web/skills/chat-element-streaming/SKILL.md
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
Due: prettier-cook-web, eslint

fix(cook-web): align desktop follow-up action to the right only on learning page
  src/cook-web/skills/chat-actionbar-ask-placement/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

fix(cook-web): hide follow-up action in debug preview when ask is disabled
  src/cook-web/skills/chat-actionbar-ask-placement/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

fix(cook-web): align desktop follow-up action to the right only on learning page (#1487)
  src/cook-web/skills/chat-actionbar-ask-placement/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

refactor: inline dashboard date range helper
  src/api/flaskr/service/dashboard/funcs.py
Due: none

refactor: trim learn query facades
  src/api/flaskr/service/learn/handle_input_ask.py
  src/api/flaskr/service/learn/listen_element_queries.py
  src/api/flaskr/service/learn/listen_elements.py
Due: none

refactor: remove learn facade reexports
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/learn/listen_element_legacy.py
  src/api/flaskr/service/learn/listen_elements.py
  src/api/flaskr/service/learn/preview_elements.py
  src/api/tests/service/learn/test_element_protocol.py
  src/api/tests/service/learn/test_listen_elements.py
Due: none

refactor: trim learn sidecar answer plumbing
  src/api/flaskr/service/learn/listen_element_run_sidecar.py
  src/api/flaskr/service/learn/listen_element_run_stream.py
Due: none

refactor: inline order helper wrappers
  src/api/flaskr/service/order/coupon_funcs.py
  src/api/flaskr/service/order/feishu_funcs.py
  src/api/flaskr/service/order/funs.py
  src/api/flaskr/service/order/query_discount.py
Due: none

refactor: trim tts and dashboard helpers
  src/api/flaskr/service/dashboard/funcs.py
  src/api/flaskr/service/tts/audio_record_utils.py
Due: none
