Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

fix: Handle learn SSE generator closes (#1562)
  src/api/flaskr/service/learn/routes.py
  src/api/flaskr/service/learn/runscript_v2.py
  src/api/tests/service/learn/test_runscript_v2_lock.py
Due: none

fix(operator): refine credits detail note and pager
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.tsx
Due: prettier-cook-web, eslint

Add MiniMax RUN WebSocket TTS RPM queue
  docker/.env.example.full
  src/api/flaskr/api/tts/minimax_provider.py
  src/api/flaskr/common/config.py
  src/api/flaskr/service/tts/minimax_run_tts.py
  src/api/flaskr/service/tts/rpm_gate.py
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/tests/service/tts/test_minimax_run_tts_manager.py
  src/api/tests/service/tts/test_minimax_websocket_session.py
  src/api/tests/service/tts/test_streaming_tts_subtitles.py
  src/api/tests/service/tts/test_tts_rpm_gate.py
Due: none

fix(operator): address credits detail review feedback
  docs/operator-user-points-columns.md
  src/api/flaskr/service/shifu/admin.py
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.tsx
  tasks.md
Due: prettier-cook-web, eslint

Add MiniMax RUN WebSocket TTS RPM queue (#1564)
  docker/.env.example.full
  src/api/flaskr/api/tts/minimax_provider.py
  src/api/flaskr/common/config.py
  src/api/flaskr/service/tts/minimax_run_tts.py
  src/api/flaskr/service/tts/rpm_gate.py
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/tests/service/tts/test_minimax_run_tts_manager.py
  src/api/tests/service/tts/test_minimax_websocket_session.py
  src/api/tests/service/tts/test_streaming_tts_subtitles.py
  src/api/tests/service/tts/test_tts_rpm_gate.py
Due: none

Use MiniMax HTTP streaming for run TTS
  src/api/flaskr/api/tts/minimax_provider.py
  src/api/flaskr/service/tts/audio_utils.py
  src/api/flaskr/service/tts/minimax_run_tts.py
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/tests/service/tts/test_minimax_http_streaming.py
  src/api/tests/service/tts/test_minimax_run_tts_manager.py
  src/api/tests/service/tts/test_minimax_websocket_session.py
  src/api/tests/service/tts/test_streaming_tts_subtitles.py
Due: none

feat: improve user credits detail display (#1563)
  docs/operator-user-points-columns.md
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_dtos.py
  src/api/flaskr/service/shifu/route.py
  src/api/tests/service/shifu/test_admin_users.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/operations/operation-user-types.ts
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.tsx
  src/cook-web/src/app/admin/operations/users/page.test.tsx
  src/cook-web/src/app/admin/operations/users/page.tsx
  src/i18n/en-US/modules/operations-user.json
  src/i18n/zh-CN/modules/operations-user.json
Due: prettier-cook-web, eslint

fix(operator): address follow-up review comments
  docs/operator-course-follow-up-page.md
  src/api/tests/service/shifu/test_admin_course_detail.py
  src/cook-web/src/app/admin/components/AdminDateRangeFilter.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/follow-ups/page.test.tsx
  src/cook-web/src/app/admin/operations/[shifu_bid]/follow-ups/page.tsx
Due: prettier-cook-web, eslint

revert: remove stream timeout changes and keep mock fixture playback only
  src/cook-web/public/mock-fixtures/测试数据.json
  src/cook-web/skills/chat-element-streaming/SKILL.md
  src/cook-web/src/c-api/mockRunStreamFixture.ts
  src/cook-web/src/c-api/studyV2.ts
Due: prettier-cook-web, eslint

feat: support manual credit grants in operator user management
  docs/operator-user-points-grant.md
  src/api/flaskr/service/billing/admission.py
  src/api/flaskr/service/billing/bucket_categories.py
  src/api/flaskr/service/billing/settlement.py
  src/api/flaskr/service/billing/wallets.py
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_dtos.py
  src/api/flaskr/service/shifu/route.py
  src/api/tests/service/billing/test_billing_admission.py
  src/api/tests/service/billing/test_usage_settlement.py
  src/api/tests/service/shifu/test_admin_users.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/operations/operation-user-types.ts
  src/cook-web/src/app/admin/operations/users/UserCreditGrantDialog.test.tsx
  src/cook-web/src/app/admin/operations/users/UserCreditGrantDialog.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.tsx
  src/cook-web/src/app/admin/operations/users/dateTime.test.ts
  src/cook-web/src/app/admin/operations/users/dateTime.ts
  src/cook-web/src/app/admin/operations/users/page.test.tsx
  src/cook-web/src/app/admin/operations/users/page.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/operations-user.json
  src/i18n/zh-CN/modules/operations-user.json
Due: prettier-cook-web, eslint

fix: align operator user timestamps and billing refresh
  src/api/flaskr/service/shifu/admin.py
  src/api/tests/service/shifu/test_admin_users.py
  src/cook-web/src/app/admin/operations/users/page.test.tsx
  src/cook-web/src/app/admin/operations/users/page.tsx
  src/cook-web/src/hooks/useBillingData.ts
Due: prettier-cook-web, eslint

fix: add missing operator error translation
  src/i18n/en-US/modules/backend/common.json
  src/i18n/zh-CN/modules/backend/common.json
Due: none

Address PR feedback for manual credit grants
  src/api/flaskr/service/billing/admission.py
  src/api/flaskr/service/billing/bucket_categories.py
  src/api/flaskr/service/billing/wallets.py
  src/api/flaskr/service/shifu/admin.py
  src/api/flaskr/service/shifu/admin_dtos.py
  src/api/tests/service/shifu/test_admin_users.py
  src/cook-web/src/app/admin/operations/operation-user-types.ts
  src/cook-web/src/app/admin/operations/users/UserCreditGrantDialog.test.tsx
  src/cook-web/src/app/admin/operations/users/UserCreditGrantDialog.tsx
  src/cook-web/src/app/admin/operations/users/dateTime.ts
  src/cook-web/src/app/admin/operations/users/page.test.tsx
  src/cook-web/src/app/admin/operations/users/page.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/operations-user.json
  src/i18n/zh-CN/modules/operations-user.json
Due: prettier-cook-web, eslint

Fix billing wallet lifecycle test setup
  src/api/tests/service/billing/test_billing_wallet_lifecycle.py
Due: none

feat(chat): add localized stream timeout fallback for listen mode
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/skills/chat-element-streaming/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/public/mock-fixtures/data.json
  src/cook-web/skills/chat-element-streaming/SKILL.md
  src/cook-web/skills/listen-mode-audio-streaming/SKILL.md
  src/cook-web/src/c-api/mockRunStreamFixture.ts
Due: prettier-cook-web, eslint

fix: remove data.json content
  src/cook-web/public/mock-fixtures/data.json
Due: prettier-cook-web

fix: ui
  src/cook-web/public/mock-fixtures/data.json
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.tsx
Due: prettier-cook-web, eslint

Fix manual credit grant idempotent responses
  src/api/flaskr/service/billing/wallets.py
  src/api/flaskr/service/shifu/admin.py
  src/api/tests/service/billing/test_billing_wallet_lifecycle.py
  src/api/tests/service/shifu/test_admin_users.py
Due: none

feat(chat): add localized stream timeout fallback for listen mode (#1566)
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/public/mock-fixtures/data.json
  src/cook-web/skills/chat-element-streaming/SKILL.md
  src/cook-web/skills/listen-mode-audio-streaming/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeSlideRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/c-api/mockRunStreamFixture.ts
  src/cook-web/src/c-api/studyV2.ts
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

refactor: share admin-style pagination
  src/cook-web/src/app/admin/components/AdminPagination.tsx
  src/cook-web/src/components/billing/BillingRecentActivitySection.test.tsx
  src/cook-web/src/components/billing/BillingRecentActivitySection.tsx
  src/cook-web/src/components/pagination/AppPagination.test.tsx
  src/cook-web/src/components/pagination/AppPagination.tsx
Due: prettier-cook-web, eslint

fix: mark admin pagination re-export as client
  src/cook-web/src/app/admin/components/AdminPagination.tsx
Due: prettier-cook-web, eslint

refactor: simplify billing pagination rendering
  src/cook-web/src/components/billing/BillingRecentActivitySection.tsx
Due: prettier-cook-web, eslint

fix: harden shared pagination props
  src/cook-web/src/components/pagination/AppPagination.test.tsx
  src/cook-web/src/components/pagination/AppPagination.tsx
Due: prettier-cook-web, eslint

refactor: share admin-style pagination (#1568)
  src/cook-web/src/app/admin/components/AdminPagination.tsx
  src/cook-web/src/components/billing/BillingRecentActivitySection.test.tsx
  src/cook-web/src/components/billing/BillingRecentActivitySection.tsx
  src/cook-web/src/components/pagination/AppPagination.test.tsx
  src/cook-web/src/components/pagination/AppPagination.tsx
Due: prettier-cook-web, eslint

fix: remove nested user detail scrolling
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.tsx
Due: prettier-cook-web, eslint

style: align user detail layout indentation
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.tsx
Due: prettier-cook-web, eslint

feat: add run api start track event
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

feat: add run api start track event (#1570)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
Due: prettier-cook-web, eslint

fix: remove leftover merge markers
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.tsx
Due: prettier-cook-web, eslint

test: simplify user detail layout assertion
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.test.tsx
Due: prettier-cook-web, eslint

fix(cook-web): sanitize trailing punctuation in slide subtitle cues
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/skills/listen-mode-audio-streaming/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.ts
  src/cook-web/src/c-utils/subtitleUtils.ts
Due: prettier-cook-web, eslint

fix(cook-web): sanitize trailing punctuation in slide subtitle cues (#1571)
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/skills/listen-mode-audio-streaming/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.test.ts
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/listenModeUtils.ts
  src/cook-web/src/c-utils/subtitleUtils.ts
Due: prettier-cook-web, eslint

feat(learn): persist course learning mode per course in local storage
  src/cook-web/skills/listen-mode-slide-mobile-integration/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/learningModeStorage.ts
  src/cook-web/src/app/c/[[...id]]/layout.tsx
Due: prettier-cook-web, eslint

feat(learn): persist course learning mode per course in local storage (#1572)
  src/cook-web/skills/listen-mode-slide-mobile-integration/SKILL.md
  src/cook-web/src/app/c/[[...id]]/Components/learningModeStorage.ts
  src/cook-web/src/app/c/[[...id]]/layout.tsx
Due: prettier-cook-web, eslint

fix: stream minimax tts subtitles during run
  src/api/flaskr/api/tts/minimax_provider.py
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/tests/service/tts/test_minimax_http_streaming.py
Due: none

fix: align admin ledger scroll layout
  src/cook-web/src/app/admin/billing/AdminBillingPageClient.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.test.tsx
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.tsx
  src/cook-web/src/components/billing/BillingRecentActivitySection.test.tsx
  src/cook-web/src/components/billing/BillingRecentActivitySection.tsx
Due: prettier-cook-web, eslint

test: fix billing scroll layout assertions
  src/cook-web/src/app/admin/operations/users/[user_bid]/page.test.tsx
  src/cook-web/src/components/billing/BillingRecentActivitySection.test.tsx
  src/cook-web/src/components/billing/BillingRecentActivitySection.tsx
Due: prettier-cook-web, eslint

fix: tighten billing tab scrolling
  src/cook-web/src/app/admin/billing/AdminBillingPageClient.tsx
  src/cook-web/src/app/admin/billing/page.test.tsx
  src/cook-web/src/components/billing/BillingRecentActivitySection.test.tsx
  src/cook-web/src/components/billing/BillingRecentActivitySection.tsx
Due: prettier-cook-web, eslint

fix: align billing ledger header scrolling
  src/cook-web/src/components/billing/BillingRecentActivitySection.test.tsx
  src/cook-web/src/components/billing/BillingRecentActivitySection.tsx
Due: prettier-cook-web, eslint
