Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

fix: default outline type
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

fix: change outline type (#1184)
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

fix: show display name for default model
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

fix: show display name for default model (#1188)
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

chore: update markdown-flow dependency package configuration
  src/api/requirements.txt
Due: none

Aichy/fixed 251225 (#1189)
  src/api/requirements.txt
Due: none

feat: upgrade markdown-flow-ui version to 0.1.66
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: increase line heights to prevent text clipping in shifu editor
  src/cook-web/src/components/outline-tree/OutlineTree.css
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

fix: increase line heights to prevent text clipping in shifu editor (#1190)
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/components/outline-tree/OutlineTree.css
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

feat: Update markdown-flow dependent versions
  src/api/requirements.txt
Due: none

fix: correct release draft links and install steps
  .github/workflows/prepare-release.yml
Due: none

fix: use release tag in source install snippet
  .github/workflows/prepare-release.yml
Due: none

fix: correct release draft links and install steps (#1191)
  .github/workflows/prepare-release.yml
Due: none

fix: normalize release draft changelog
  .github/workflows/prepare-release.yml
Due: none

fix: polish release draft changelog formatting (#1192)
  .github/workflows/prepare-release.yml
Due: none

update demo course
  src/api/demo_shifus/cn_demo.json
Due: none

fix(api): set max_tokens for LiteLLM streaming
  src/api/flaskr/api/llm/__init__.py
  src/api/requirements.txt
Due: none

feat: restore version of litellm
  src/api/requirements.txt
Due: none

fix(api): set max_tokens for LiteLLM streaming (#1196)
  src/api/flaskr/api/llm/__init__.py
Due: none

fix: update demo course title
  src/api/demo_shifus/cn_demo.json
Due: none

feat: update demo course with refined content and structure (#1195)
  src/api/demo_shifus/cn_demo.json
Due: none

chore: update litellm version to 1.80.11
  src/api/requirements.txt
Due: none

chore: update litellm version to 1.80.11 (#1197)
  src/api/requirements.txt
Due: none

fix: ark llm invoke error
  src/api/flaskr/api/llm/__init__.py
Due: none

fix
  src/api/flaskr/api/llm/__init__.py
Due: none

fix: invoke volcengine llm error (#1198)
  src/api/flaskr/api/llm/__init__.py
Due: none

fix: handle ark endpoint id for max_tokens
  src/api/flaskr/api/llm/__init__.py
  src/api/tests/test_llm.py
Due: none

update: reorganize demo course content order
  src/api/demo_shifus/cn_demo.json
Due: none

fix: publish demo Shifu when updated
  src/api/flaskr/command/update_shifu_demo.py
Due: none

feat: add sync_summary to publish_shifu_draft
  src/api/flaskr/command/update_shifu_demo.py
  src/api/flaskr/service/shifu/shifu_publish_funcs.py
Due: none

fix: issue of pr
  src/api/flaskr/service/shifu/shifu_publish_funcs.py
Due: none

fix: publish demo shifu when updated (#1201)
  src/api/flaskr/command/update_shifu_demo.py
  src/api/flaskr/service/shifu/shifu_publish_funcs.py
Due: none

feat: upgrade remark-flow version to 0.1.3-beta.0
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: correct umami pageview url for SPA navigation
  src/cook-web/src/c-common/tools/tracking.ts
  src/cook-web/src/components/analytics/UmamiLoader.tsx
  src/cook-web/src/lib/initializeEnvData.ts
Due: prettier-cook-web, eslint

fix: isolate shifu copy button states
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint
