Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

chore: update migrate version
  src/api/migrations/versions/c9c92880fc67_add_stripe_payment_channel.py
Due: none

docs: capture stripe frontend tasks
  tasks.md
Due: none

chore: ensure translation hooks use python3
  .pre-commit-config.yaml
Due: none

feat: surface stripe config to cook web
  docker/.env.example.full
  docs/payment-flow.md
  src/cook-web/.env.example
  src/cook-web/src/app/api/config/route.ts
  src/cook-web/src/app/c/[[...id]]/layout.tsx
  src/cook-web/src/c-store/envStore.ts
  src/cook-web/src/c-types/store.ts
  src/cook-web/src/config/ENVIRONMENT_CONFIG.md
  src/cook-web/src/config/environment.ts
  tasks.md
Due: prettier-cook-web, eslint

feat: add stripe sdk plumbing
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/c-api/order.ts
  src/cook-web/src/lib/stripe.ts
  tasks.md
Due: prettier-cook-web, eslint

feat: unify payment modal flow
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModal.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModalM.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/hooks/usePaymentFlow.ts
  tasks.md
Due: prettier-cook-web, eslint

chore: ensure translation hooks use python3 (#936)
  .pre-commit-config.yaml
Due: none

chore: sync cook web i18n keys
  src/cook-web/src/types/i18n-keys.d.ts
Due: prettier-cook-web, eslint

feat: add stripe card flow to pay modal
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModal.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModal.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/StripeCardForm.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/constans.ts
  src/cook-web/src/app/c/[[...id]]/Components/Pay/hooks/usePaymentFlow.ts
  src/i18n/en-US/modules/pay.json
  src/i18n/qps-ploc/modules/pay.json
  src/i18n/zh-CN/modules/pay.json
  tasks.md
Due: prettier-cook-web, eslint

feat: add stripe flow to mobile pay modal
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModalM.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModalM.tsx
  tasks.md
Due: prettier-cook-web, eslint

feat: add stripe checkout result route
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModal.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModalM.tsx
  src/cook-web/src/app/payment/stripe/result/page.tsx
  src/cook-web/src/lib/stripe-storage.ts
  src/i18n/en-US/modules/pay.json
  src/i18n/qps-ploc/modules/pay.json
  src/i18n/zh-CN/modules/pay.json
  tasks.md
Due: prettier-cook-web, eslint

chore: document stripe flow and add storage test
  docs/payment-flow.md
  src/cook-web/src/lib/__tests__/stripe-storage.test.ts
  tasks.md
Due: prettier-cook-web, eslint

chore: note pytest dependency blocker
  tasks.md
Due: none

fix: sync cook web i18n keys (#937)
  src/cook-web/src/types/i18n-keys.d.ts
Due: prettier-cook-web, eslint

fix: rename outline edit menu
  src/cook-web/src/components/outline-tree/OutlineTree.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/components/outline-tree.json
  src/i18n/qps-ploc/components/outline-tree.json
  src/i18n/zh-CN/components/outline-tree.json
Due: prettier-cook-web, eslint

fix: rename outline edit menu (#934)
  src/cook-web/src/components/outline-tree/OutlineTree.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/components/outline-tree.json
  src/i18n/qps-ploc/components/outline-tree.json
  src/i18n/zh-CN/components/outline-tree.json
Due: prettier-cook-web, eslint

chore: set OutlineItem default to trial on creation
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

chore: set OutlineItem default to trial on creation (#940)
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

fix: resolve cook web build regressions
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModal.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/hooks/usePaymentFlow.ts
  tasks.md
Due: prettier-cook-web, eslint

fix(preview): regenerate block should refresh current block_index
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
Due: prettier-cook-web, eslint

fix: use correct handler for pay channel picker
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModalM.tsx
Due: prettier-cook-web, eslint

fix: whitespace-nowrap title
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

fix: unblock cook web build
  src/cook-web/src/app/c/ShiNiang/components/m/MainButtonM.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayChannelSwitch.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModal.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/hooks/usePaymentFlow.ts
  src/cook-web/src/c-components/m/MainButtonM.tsx
  src/cook-web/src/c-components/m/SettingInputM.tsx
Due: prettier-cook-web, eslint

fix(preview): skip user_input when variable name is empty
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
Due: prettier-cook-web, eslint

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: add shifu export and import command
  src/api/flaskr/command/__init__.py
  src/api/flaskr/service/shifu/shifu_import_export_funcs.py
  src/i18n/en-US/modules/backend/shifu.json
  src/i18n/qps-ploc/modules/backend/shifu.json
  src/i18n/zh-CN/modules/backend/shifu.json
Due: none

feat: add shifu export and import command (#942)
  src/api/flaskr/command/__init__.py
  src/api/flaskr/service/shifu/shifu_import_export_funcs.py
  src/i18n/en-US/modules/backend/shifu.json
  src/i18n/qps-ploc/modules/backend/shifu.json
  src/i18n/zh-CN/modules/backend/shifu.json
Due: none

feat: add system config service
  src/api/flaskr/service/config/funcs.py
  src/api/flaskr/service/config/models.py
  src/api/migrations/versions/21a3e778ef01_add_sys_configs.py
  src/api/tests/service/config/test_funcs.py
Due: none

Update src/api/flaskr/service/config/funcs.py
  src/api/flaskr/service/config/funcs.py
Due: none

fix: issue of pr
  src/api/flaskr/service/config/funcs.py
Due: none

feat: add system config service (#943)
  src/api/flaskr/service/config/funcs.py
  src/api/flaskr/service/config/models.py
  src/api/migrations/versions/21a3e778ef01_add_sys_configs.py
  src/api/tests/service/config/test_funcs.py
Due: none

feat: add demo lessons
  src/api/flaskr/service/config/funcs.py
  src/api/migrations/versions/a4d68cce5ce6_add_demo_shifu.py
  src/api/migrations/versions/demo_shifu.json
Due: none

fix: migration error
  src/api/migrations/versions/a4d68cce5ce6_add_demo_shifu.py
Due: none

fix: check firtst admin from draft and publish
  src/api/flaskr/service/user/phone_flow.py
Due: none

feat: add demo lessons (#945)
  src/api/flaskr/service/config/funcs.py
  src/api/flaskr/service/user/phone_flow.py
  src/api/migrations/versions/a4d68cce5ce6_add_demo_shifu.py
  src/api/migrations/versions/demo_shifu.json
Due: none

fix(shifu): keep creation controls in single row
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

fix: reorder the version of migration
  src/api/migrations/versions/c9c92880fc67_add_stripe_payment_channel.py
Due: none

Revert "fix: downgrade missing shifu logs to warnings (#935)"
  src/api/flaskr/service/shifu/shifu_outline_funcs.py
  src/api/flaskr/service/shifu/shifu_publish_funcs.py
Due: none

revert: "fix: downgrade missing shifu logs to warnings" (#947)
  src/api/flaskr/service/shifu/shifu_outline_funcs.py
  src/api/flaskr/service/shifu/shifu_publish_funcs.py
Due: none

feat(chat-ui): apply fixed header and footer layout
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint
