Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

fix
  src/i18n/en-US/modules/chat.json
Due: none

fix
  src/cook-web/src/c-utils/markdownUtils.ts
Due: prettier-cook-web, eslint

fix: strip streaming markers from mermaid blocks (#1053)
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.scss
  src/cook-web/src/c-utils/markdownUtils.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/chat.json
  src/i18n/qps-ploc/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

feat: improve mermaid streaming placeholder
  src/cook-web/src/c-utils/markdownUtils.ts
Due: prettier-cook-web, eslint

feat: improve mermaid streaming placeholder (#1055)
  src/cook-web/src/c-utils/markdownUtils.ts
Due: prettier-cook-web, eslint

fix: clarify mermaid placeholder text
  src/i18n/en-US/modules/chat.json
Due: none

fix: clarify mermaid placeholder text (#1054)
  src/i18n/en-US/modules/chat.json
Due: none

fix: select last lesson when course fully completed
  src/cook-web/src/app/c/[[...id]]/hooks/useLessonTree.ts
Due: prettier-cook-web, eslint

fix: select last lesson when course fully completed (#1056)
  src/cook-web/src/app/c/[[...id]]/hooks/useLessonTree.ts
Due: prettier-cook-web, eslint

feat: show course name and avatar in chat header
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseCatalogList.tsx
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavDrawer.tsx
  src/cook-web/src/app/c/[[...id]]/layout.tsx
  src/cook-web/src/app/c/[[...id]]/page.tsx
  src/cook-web/src/c-api/course.ts
  src/cook-web/src/c-store/useCourseStore.ts
  src/cook-web/src/c-types/store.ts
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseCatalogList.module.css
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseCatalogList.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseCatalogList.tsx
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavFooter.tsx
Due: prettier-cook-web, eslint

fix: pr advice
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseCatalogList.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/components/navigation.json
  src/i18n/qps-ploc/components/navigation.json
  src/i18n/zh-CN/components/navigation.json
Due: prettier-cook-web, eslint

feat: show course name and avatar in nav drawer (#1057)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseCatalogList.module.css
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseCatalogList.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseCatalogList.tsx
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavDrawer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavFooter.tsx
  src/cook-web/src/app/c/[[...id]]/layout.tsx
  src/cook-web/src/app/c/[[...id]]/page.tsx
  src/cook-web/src/c-api/course.ts
  src/cook-web/src/c-store/useCourseStore.ts
  src/cook-web/src/c-types/store.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/components/navigation.json
  src/i18n/qps-ploc/components/navigation.json
  src/i18n/zh-CN/components/navigation.json
Due: prettier-cook-web, eslint

fix: scroll in mobile device
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavFooter.tsx
Due: prettier-cook-web, eslint

fix: strip streaming markers from mermaid blocks (#1053)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.scss
  src/cook-web/src/c-utils/markdownUtils.ts
  src/i18n/en-US/modules/chat.json
  src/i18n/qps-ploc/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

fix: keep chat container within viewport height
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
Due: prettier-cook-web

fix: ui
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
Due: prettier-cook-web

fix: revert
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
Due: prettier-cook-web

fix: ui
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavFooter.module.css
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavFooter.module.scss
Due: prettier-cook-web

fix
  src/i18n/en-US/modules/chat.json
  src/i18n/zh-CN/modules/chat.json
Due: none

fix: top content is obscured (#1058)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavFooter.module.css
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavFooter.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavFooter.tsx
Due: prettier-cook-web, eslint

feat: add readonly tag
  src/api/flaskr/service/shifu/dtos.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/cook-web/src/components/header/Header.tsx
  src/cook-web/src/components/header/header.module.css
  src/cook-web/src/components/header/header.module.scss
  src/cook-web/src/types/i18n-keys.d.ts
  src/cook-web/src/types/shifu.ts
  src/i18n/en-US/components/header.json
  src/i18n/qps-ploc/components/header.json
  src/i18n/zh-CN/components/header.json
Due: prettier-cook-web, eslint

feat: setting judge readonly
  src/cook-web/src/components/chapter-setting/ChapterPromptSetting.tsx
  src/cook-web/src/components/chapter-setting/ChapterSetting.tsx
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

feat: readonly allow to preview
  src/cook-web/src/components/header/Header.tsx
  src/cook-web/src/components/preview/Preview.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

feat: add disabled
  src/cook-web/src/components/outline-tree/OutlineTree.tsx
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

feat: add disabled status
  src/cook-web/src/components/chapter-setting/ChapterPromptSetting.tsx
  src/cook-web/src/components/chapter-setting/ChapterSetting.tsx
  src/cook-web/src/components/model-list/ModelList.tsx
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

fix: disable double click
  src/cook-web/src/components/inline-input/InlineInput.tsx
  src/cook-web/src/components/outline-tree/OutlineTree.tsx
Due: prettier-cook-web, eslint

fix: pr advice
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

chore: update litellm version
  src/api/requirements.txt
Due: none

chore: update demo shifu
  src/api/cn_demo.json
  src/api/demo_shifus/cn_demo.json
  src/api/demo_shifus/cn_first_shifu.json
  src/api/demo_shifus/en_demo.json
Due: none

chore: update demo shifu (#1061)
  src/api/cn_demo.json
  src/api/demo_shifus/cn_demo.json
  src/api/demo_shifus/cn_first_shifu.json
  src/api/demo_shifus/en_demo.json
Due: none

docs:update creation demo shifu
  src/api/demo_shifus/cn_demo.json
  src/api/demo_shifus/en_demo.json
Due: none

docs: update creation demo shifu (#1062)
  src/api/demo_shifus/cn_demo.json
  src/api/demo_shifus/en_demo.json
Due: none

feat: update mdf-ui
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web
