Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

feat: upgrade orders filter ui
  src/cook-web/src/app/admin/orders/page.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/common/core.json
  src/i18n/zh-CN/common/core.json
Due: prettier-cook-web, eslint

fix: calendar classname
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/app/admin/orders/page.tsx
  src/cook-web/src/components/ui/Calendar.tsx
Due: prettier-cook-web, eslint

feat: upgrade pagination ui
  src/cook-web/src/app/admin/orders/page.tsx
  src/cook-web/src/components/ui/pagination.tsx
Due: prettier-cook-web, eslint

fix: consolidate tts migrations
  src/api/migrations/versions/9f1183de9d1f_add_tts_audio_and_shifu_tts_config.py
  src/api/migrations/versions/b5f2d3a9c1e4_update_tts_ranges_and_provider_defaults.py
  src/api/migrations/versions/c61409972e4a_add_tts_config_fields_to_shifu_tables.py
  src/api/migrations/versions/e2da58b20960_add_learn_generated_audios_table_for_tts.py
  src/api/migrations/versions/e34eeaec3402_add_tts_provider_field_to_shifu_tables.py
  src/api/migrations/versions/f45bc12a8e91_add_tts_model_field_to_shifu_tables.py
Due: none

feat: upgrade table ui
  src/cook-web/src/app/admin/orders/page.tsx
  src/cook-web/src/components/ui/Table.tsx
Due: prettier-cook-web, eslint

fix: ellipsis secondary text in admin orders user column
  src/cook-web/src/app/admin/orders/page.tsx
  src/cook-web/src/components/ui/Table.tsx
Due: prettier-cook-web, eslint

fix: grant admin creator on admin entry
  src/api/flaskr/route/user.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/page.tsx
Due: prettier-cook-web, eslint

fix: grant admin creator on admin entry (#1242)
  src/api/flaskr/route/user.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/page.tsx
Due: prettier-cook-web, eslint

fix: lint error
  src/cook-web/src/app/admin/orders/page.tsx
Due: prettier-cook-web, eslint

fix: limit archive actions to course owner
  src/api/flaskr/service/shifu/dtos.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/cook-web/src/app/admin/page.tsx
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/types/shifu.ts
  src/i18n/zh-CN/common/core.json
Due: prettier-cook-web, eslint

fix: show shared archived courses
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/cook-web/src/components/header/Header.tsx
Due: prettier-cook-web, eslint

fix: polish archive confirmation dialog
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/i18n/en-US/common/core.json
  src/i18n/zh-CN/common/core.json
Due: prettier-cook-web, eslint

fix: refine course archive review fixes
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/cook-web/src/app/admin/page.tsx
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

fix: remove unusaged i18n keys
  src/i18n/en-US/modules/order.json
  src/i18n/zh-CN/modules/order.json
Due: none

fix: remove duplicate status badge in order drawer
  src/cook-web/src/components/order/OrderDetailSheet.tsx
Due: prettier-cook-web, eslint

fix: prevent duplicate order init
  src/api/flaskr/service/order/funs.py
  src/api/tests/service/order/test_order_init_lock.py
Due: none

fix: build error
  src/cook-web/src/app/admin/page.tsx
Due: prettier-cook-web, eslint

fix: svh
  src/cook-web/src/app/c/[[...id]]/page.module.css
  src/cook-web/src/app/c/[[...id]]/page.module.scss
Due: prettier-cook-web

fix
  src/cook-web/src/app/layout.tsx
Due: prettier-cook-web, eslint

fix: remove hardcoded i18n fallbacks
  src/cook-web/src/app/admin/orders/page.tsx
Due: prettier-cook-web, eslint

feat: add admin order management (#1243)
  src/api/flaskr/route/order.py
  src/api/flaskr/service/order/admin.py
  src/api/flaskr/service/order/admin_dtos.py
  src/api/flaskr/service/shifu/permissions.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/api/tests/service/order/test_admin_orders.py
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/layout.tsx
  src/cook-web/src/app/admin/orders/page.tsx
  src/cook-web/src/components/order/ImportActivationDialog.tsx
  src/cook-web/src/components/order/OrderDetailSheet.tsx
  src/cook-web/src/components/order/order-types.ts
  src/cook-web/src/components/ui/Calendar.tsx
  src/cook-web/src/components/ui/Popover.tsx
  src/cook-web/src/components/ui/Table.tsx
  src/cook-web/src/components/ui/pagination.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/common/core.json
  src/i18n/en-US/modules/backend/order.json
  src/i18n/en-US/modules/order.json
  src/i18n/locales.json
  src/i18n/zh-CN/common/core.json
  src/i18n/zh-CN/modules/backend/order.json
  src/i18n/zh-CN/modules/order.json
  tasks.md
Due: prettier-cook-web, eslint

fix: prevent duplicate order init (#1248)
  src/api/flaskr/service/order/funs.py
  src/api/tests/service/order/test_order_init_lock.py
Due: none

test: add archive toggle coverage
  docker/docker-compose.dev.yml
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/api/tests/service/shifu/test_archive.py
  src/cook-web/src/app/admin/page.tsx
  src/cook-web/src/components/header/Header.tsx
  src/cook-web/src/components/header/header.module.scss
Due: prettier-cook-web, eslint

fix: sticky header
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/page.module.css
  src/cook-web/src/app/c/[[...id]]/page.module.scss
  src/cook-web/src/app/c/[[...id]]/page.tsx
  src/cook-web/src/app/layout.tsx
Due: prettier-cook-web, eslint

fix: pc layout fit
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatComponents.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatComponents.module.scss
  src/cook-web/src/app/c/[[...id]]/page.module.scss
  src/cook-web/src/app/c/[[...id]]/page.tsx
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.module.scss
  src/cook-web/src/app/c/[[...id]]/page.module.css
  src/cook-web/src/app/c/[[...id]]/page.module.scss
Due: prettier-cook-web

fix: ui
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
Due: prettier-cook-web

fix: restore mobile scroll to bottom button visibility
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

refactor: chat page layout use sticky instead of fixed (#1249)
  src/cook-web/src/app/c/[[...id]]/Components/ChatMobileHeader.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatComponents.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatComponents.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/page.module.css
  src/cook-web/src/app/c/[[...id]]/page.module.scss
  src/cook-web/src/app/c/[[...id]]/page.tsx
  src/cook-web/src/app/layout.tsx
Due: prettier-cook-web, eslint

fix: support per-user archive and adjust shifu UI
  src/api/flaskr/service/shifu/dtos.py
  src/api/flaskr/service/shifu/funcs.py
  src/api/flaskr/service/shifu/models.py
  src/api/flaskr/service/shifu/permissions.py
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/api/migrations/versions/e4a02f6b0f1d_add_shifu_user_archives.py
  src/cook-web/src/app/admin/page.tsx
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/types/shifu.ts
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: prettier-cook-web, eslint

feat: add admin order management (#1243)
  src/api/flaskr/route/order.py
  src/api/flaskr/service/order/admin.py
  src/api/flaskr/service/order/admin_dtos.py
  src/api/flaskr/service/shifu/permissions.py
  src/api/tests/service/order/test_admin_orders.py
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/layout.tsx
  src/cook-web/src/app/admin/orders/page.tsx
  src/cook-web/src/components/order/ImportActivationDialog.tsx
  src/cook-web/src/components/order/OrderDetailSheet.tsx
  src/cook-web/src/components/order/order-types.ts
  src/cook-web/src/components/ui/Calendar.tsx
  src/cook-web/src/components/ui/Popover.tsx
  src/cook-web/src/components/ui/Table.tsx
  src/cook-web/src/components/ui/pagination.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/common/core.json
  src/i18n/en-US/modules/backend/order.json
  src/i18n/en-US/modules/order.json
  src/i18n/locales.json
  src/i18n/zh-CN/common/core.json
  src/i18n/zh-CN/modules/backend/order.json
  src/i18n/zh-CN/modules/order.json
  tasks.md
Due: prettier-cook-web, eslint

fix: support per-user archive and adjust shifu UI
  src/api/flaskr/service/shifu/dtos.py
  src/api/flaskr/service/shifu/funcs.py
  src/api/flaskr/service/shifu/models.py
  src/api/flaskr/service/shifu/permissions.py
  src/api/flaskr/service/shifu/route.py
  src/api/migrations/versions/e4a02f6b0f1d_add_shifu_user_archives.py
  src/cook-web/src/app/admin/page.tsx
  src/cook-web/src/types/shifu.ts
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: prettier-cook-web, eslint

chore: add docstrings for admin order and shifu permissions
  src/api/flaskr/service/order/admin.py
  src/api/flaskr/service/order/admin_dtos.py
  src/api/flaskr/service/shifu/permissions.py
Due: none

fix: allow view-only users to see archive actions
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
Due: none

feat: upgrade markdown-flow-ui version to 0.1.77
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: upgrade markdown-flow-ui version to 0.1.77 (#1250)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web
