Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

fix: align wallet snapshot with consumable balance
  src/api/flaskr/service/billing/settlement.py
  src/api/flaskr/service/billing/wallets.py
  src/api/tests/service/billing/test_billing_wallet_lifecycle.py
  src/api/tests/service/billing/test_usage_settlement.py
Due: none

fix: refresh billing wallet snapshots at event time
  src/api/flaskr/service/billing/referral_reward_grants.py
  src/api/flaskr/service/billing/subscriptions.py
  src/api/flaskr/service/billing/wallets.py
  src/api/tests/service/billing/test_billing_callbacks.py
Due: none

fix: align admin credit balance display
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.test.tsx
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.tsx
Due: prettier-cook-web, eslint

fix: add wallet snapshot backfill audit
  docs/billing-subscription-design.md
  src/api/flaskr/service/billing/cli.py
  src/api/flaskr/service/billing/wallets.py
  src/api/tests/service/billing/test_billing_cli.py
  src/api/tests/service/billing/test_billing_wallet_lifecycle.py
Due: none

fix: avoid rollback during wallet dry run
  src/api/flaskr/service/billing/wallets.py
  src/api/tests/service/billing/test_billing_wallet_lifecycle.py
Due: none

style: format billing types
  src/cook-web/src/types/billing.ts
Due: prettier-cook-web, eslint

fix: skip markup-only listen audio segments
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/tts/__init__.py
  src/api/flaskr/service/tts/streaming_tts.py
  src/api/tests/service/learn/test_generated_block_tts_av_mode.py
Due: none

fix: skip WeChat OAuth and JSAPI pay on custom domains
  src/api/flaskr/route/config.py
  src/api/tests/service/billing/test_runtime_config_billing.py
  src/cook-web/src/app/c/[[...id]]/Components/Pay/MiniProgramPayGuide.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModal.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModalM.tsx
  src/cook-web/src/app/c/[[...id]]/page.tsx
  src/cook-web/src/store/userProvider.test.tsx
  src/i18n/en-US/modules/pay.json
  src/i18n/fr-FR/modules/pay.json
  src/i18n/zh-CN/modules/pay.json
Due: prettier-cook-web, eslint

fix: skip WeChat OAuth and JSAPI pay on custom domains (#2151)
  src/api/flaskr/route/config.py
  src/api/tests/service/billing/test_runtime_config_billing.py
  src/cook-web/src/app/c/[[...id]]/Components/Pay/MiniProgramPayGuide.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModal.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModalM.tsx
  src/cook-web/src/app/c/[[...id]]/page.tsx
  src/cook-web/src/store/userProvider.test.tsx
  src/i18n/en-US/modules/pay.json
  src/i18n/fr-FR/modules/pay.json
  src/i18n/zh-CN/modules/pay.json
Due: prettier-cook-web, eslint

feat: add Get Biji knowledge base ask provider
  src/api/flaskr/service/learn/ask_provider_adapters/__init__.py
  src/api/flaskr/service/learn/ask_provider_adapters/base.py
  src/api/flaskr/service/learn/ask_provider_adapters/common.py
  src/api/flaskr/service/learn/ask_provider_adapters/consts.py
  src/api/flaskr/service/learn/ask_provider_adapters/get_biji_knowledge_adapter.py
  src/api/flaskr/service/learn/ask_provider_adapters/registry.py
  src/api/flaskr/service/learn/handle_input_ask.py
  src/api/flaskr/service/shifu/ask_provider_registry.py
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/api/tests/service/learn/test_ask_provider_adapters.py
  src/api/tests/service/learn/test_element_protocol.py
  src/api/tests/service/learn/test_handle_input_ask_provider.py
  src/api/tests/service/shifu/test_ask_config_route.py
  src/api/tests/service/shifu/test_ask_preview_route.py
  src/api/tests/service/shifu/test_ask_provider_registry.py
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/backend/learn.json
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/fr-FR/modules/backend/learn.json
  src/i18n/fr-FR/modules/shifu-setting.json
  src/i18n/zh-CN/modules/backend/learn.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: prettier-cook-web, eslint

fix: skip Get Biji snippets without title or content
  src/api/flaskr/service/learn/ask_provider_adapters/get_biji_knowledge_adapter.py
  src/api/tests/service/learn/test_ask_provider_adapters.py
Due: none

refactor: unify admin select visual defaults (#2125)
  src/cook-web/src/app/admin/components/AdminRowActions.test.tsx
  src/cook-web/src/app/admin/components/AdminRowActions.tsx
  src/cook-web/src/app/admin/components/adminFilterFieldBuilders.test.tsx
  src/cook-web/src/app/admin/components/adminFilterFieldBuilders.tsx
  src/cook-web/src/app/admin/orders/CreatorRedemptionCodesFilterPanel.tsx
  src/cook-web/src/app/admin/orders/OrdersFilterPanel.tsx
  src/cook-web/src/app/admin/orders/creatorRedemptionCodeShared.ts
  src/cook-web/src/components/ui/DropdownMenu.test.tsx
  src/cook-web/src/components/ui/DropdownMenu.tsx
  src/cook-web/src/components/ui/Select.test.tsx
  src/cook-web/src/components/ui/Select.tsx
Due: prettier-cook-web, eslint

fix: align wallet drift probe with consumable credits (#2146)
  src/api/scripts/observability_consistency_probes.py
  src/api/tests/scripts/test_observability_consistency_probes.py
Due: none

fix: align wallet snapshot with consumable balance (#2147)
  src/api/flaskr/service/billing/referral_reward_grants.py
  src/api/flaskr/service/billing/settlement.py
  src/api/flaskr/service/billing/subscriptions.py
  src/api/flaskr/service/billing/wallets.py
  src/api/tests/service/billing/test_billing_callbacks.py
  src/api/tests/service/billing/test_billing_wallet_lifecycle.py
  src/api/tests/service/billing/test_usage_settlement.py
Due: none

fix: align admin credit balance display (#2148)
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.test.tsx
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.tsx
Due: prettier-cook-web, eslint

fix: add wallet snapshot backfill audit (#2149)
  docs/billing-subscription-design.md
  src/api/flaskr/service/billing/cli.py
  src/api/flaskr/service/billing/wallets.py
  src/api/tests/service/billing/test_billing_cli.py
  src/api/tests/service/billing/test_billing_wallet_lifecycle.py
Due: none

fix: keep preorder credits from hiding current balance
  src/api/flaskr/service/billing/subscriptions.py
  src/api/tests/service/billing/test_billing_wallet_lifecycle.py
  src/api/tests/service/billing/test_billing_write_routes.py
Due: none

fix: keep preorder credits from hiding current balance (#2153)
  src/api/flaskr/service/billing/subscriptions.py
  src/api/tests/service/billing/test_billing_wallet_lifecycle.py
  src/api/tests/service/billing/test_billing_write_routes.py
Due: none

fix: refresh billing credit bucket details
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.test.tsx
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.tsx
Due: prettier-cook-web, eslint

fix: repair expired bucket ledger drift
  docs/generated/uow-commit-baseline.json
  src/api/flaskr/service/billing/cli.py
  src/api/flaskr/service/billing/wallets.py
  src/api/tests/service/billing/test_billing_cli.py
  src/api/tests/service/billing/test_billing_wallet_lifecycle.py
Due: none

fix: refresh buckets on subscription changes
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.test.tsx
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.tsx
Due: prettier-cook-web, eslint

fix: guard expired bucket drift repair
  src/api/flaskr/service/billing/cli.py
  src/api/flaskr/service/billing/wallets.py
  src/api/tests/service/billing/test_billing_cli.py
  src/api/tests/service/billing/test_billing_wallet_lifecycle.py
Due: none

fix: refresh billing credit bucket details (#2154)
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.test.tsx
  src/cook-web/src/components/billing/BillingCreditDetailsPanel.tsx
Due: prettier-cook-web, eslint

fix: repair expired bucket ledger drift (#2155)
  docs/generated/uow-commit-baseline.json
  src/api/flaskr/service/billing/cli.py
  src/api/flaskr/service/billing/wallets.py
  src/api/tests/service/billing/test_billing_cli.py
  src/api/tests/service/billing/test_billing_wallet_lifecycle.py
Due: none

chore: document billing usage metrics cron
  docker/.env.example.full
Due: none

chore: document billing usage metrics cron (#2156)
  docker/.env.example.full
Due: none

feat: integrate knowledge retrieval into the ask prompt template
  src/api/flaskr/service/learn/ask_provider_adapters/__init__.py
  src/api/flaskr/service/learn/ask_provider_adapters/common.py
  src/api/flaskr/service/learn/ask_provider_adapters/get_biji_knowledge_adapter.py
  src/api/flaskr/service/learn/handle_input_ask.py
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_publish_funcs.py
  src/api/prompts/ask.md
  src/api/tests/service/learn/test_ask_provider_adapters.py
  src/api/tests/service/learn/test_handle_input_ask_provider.py
  src/api/tests/service/shifu/test_shifu_publish_funcs.py
Due: none

feat: make the ask-template knowledge section removable and provider-agnostic
  src/api/flaskr/service/learn/ask_provider_adapters/common.py
  src/api/flaskr/service/shifu/shifu_publish_funcs.py
  src/api/prompts/ask.md
  src/api/prompts/ask_knowledge.md
  src/api/tests/service/learn/test_ask_provider_adapters.py
  src/api/tests/service/learn/test_handle_input_ask_provider.py
  src/api/tests/service/shifu/test_shifu_publish_funcs.py
Due: none

fix: enforce schema bounds for numeric ask provider fields
  src/api/flaskr/service/shifu/ask_provider_registry.py
  src/api/tests/service/shifu/test_ask_provider_registry.py
  src/cook-web/src/components/shifu-setting/AskSettingsSection.tsx
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/components/shifu-setting/ask-provider-schema.test.ts
  src/cook-web/src/components/shifu-setting/ask-provider-schema.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/fr-FR/modules/shifu-setting.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: prettier-cook-web, eslint

fix: show friendly ask provider errors in preview
  src/api/flaskr/service/learn/ask_provider_adapters/base.py
  src/api/flaskr/service/learn/ask_provider_adapters/get_biji_knowledge_adapter.py
  src/api/flaskr/service/shifu/route.py
  src/api/tests/service/learn/test_ask_provider_adapters.py
  src/api/tests/service/shifu/test_ask_preview_route.py
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/backend/learn.json
  src/i18n/fr-FR/modules/backend/learn.json
  src/i18n/zh-CN/modules/backend/learn.json
Due: prettier-cook-web, eslint

fix: move knowledge rule into the answering-rules list
  src/api/flaskr/service/learn/ask_provider_adapters/common.py
  src/api/flaskr/service/shifu/shifu_publish_funcs.py
  src/api/prompts/ask.md
  src/api/prompts/ask_knowledge.md
  src/api/prompts/ask_knowledge_rule.md
  src/api/tests/service/learn/test_ask_provider_adapters.py
  src/api/tests/service/shifu/test_shifu_publish_funcs.py
Due: none

feat: add Get Biji knowledge base ask provider (#2152)
  src/api/flaskr/service/learn/ask_provider_adapters/__init__.py
  src/api/flaskr/service/learn/ask_provider_adapters/base.py
  src/api/flaskr/service/learn/ask_provider_adapters/common.py
  src/api/flaskr/service/learn/ask_provider_adapters/consts.py
  src/api/flaskr/service/learn/ask_provider_adapters/get_biji_knowledge_adapter.py
  src/api/flaskr/service/learn/ask_provider_adapters/registry.py
  src/api/flaskr/service/learn/handle_input_ask.py
  src/api/flaskr/service/shifu/ask_provider_registry.py
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/api/flaskr/service/shifu/shifu_publish_funcs.py
  src/api/prompts/ask.md
  src/api/prompts/ask_knowledge.md
  src/api/prompts/ask_knowledge_rule.md
  src/api/tests/service/learn/test_ask_provider_adapters.py
  src/api/tests/service/learn/test_element_protocol.py
  src/api/tests/service/learn/test_handle_input_ask_provider.py
  src/api/tests/service/shifu/test_ask_config_route.py
  src/api/tests/service/shifu/test_ask_preview_route.py
  src/api/tests/service/shifu/test_ask_provider_registry.py
  src/api/tests/service/shifu/test_shifu_publish_funcs.py
  src/cook-web/src/components/shifu-setting/AskSettingsSection.tsx
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/components/shifu-setting/ask-provider-schema.test.ts
  src/cook-web/src/components/shifu-setting/ask-provider-schema.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/backend/learn.json
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/fr-FR/modules/backend/learn.json
  src/i18n/fr-FR/modules/shifu-setting.json
  src/i18n/zh-CN/modules/backend/learn.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: prettier-cook-web, eslint

feat: add model rate configuration
  docs/generated/uow-commit-baseline.json
  src/api/flaskr/api/llm/__init__.py
  src/api/flaskr/api/tts/__init__.py
  src/api/flaskr/service/billing/charges.py
  src/api/flaskr/service/billing/rate_references.py
  src/api/flaskr/service/shifu/admin_operations/config_rates.py
  src/api/flaskr/service/shifu/admin_operations/route.py
  src/api/tests/service/billing/test_usage_settlement.py
  src/api/tests/service/shifu/test_admin_config_rates.py
  src/api/tests/service/tts/test_tts_config_options.py
  src/api/tests/test_llm.py
  src/cook-web/src/api/api.test.ts
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/admin-menu.test.tsx
  src/cook-web/src/app/admin/admin-menu.tsx
  src/cook-web/src/app/admin/operations/config/page.tsx
  src/cook-web/src/components/model-list/ModelList.test.tsx
  src/cook-web/src/components/model-list/ModelList.tsx
  src/cook-web/src/store/modelOptions.test.ts
  src/cook-web/src/store/modelOptions.ts
  src/cook-web/src/types/shifu.ts
  src/i18n/en-US/common/core.json
  src/i18n/en-US/modules/operations-config.json
  src/i18n/fr-FR/common/core.json
  src/i18n/fr-FR/modules/operations-config.json
  src/i18n/locales.json
  src/i18n/zh-CN/common/core.json
  src/i18n/zh-CN/modules/operations-config.json
Due: prettier-cook-web, eslint

fix: make rate configuration safer
  src/api/flaskr/service/shifu/admin_operations/config_rates.py
  src/api/tests/service/shifu/test_admin_config_rates.py
  src/cook-web/src/components/model-list/ModelList.test.tsx
  src/cook-web/src/components/model-list/ModelList.tsx
Due: prettier-cook-web, eslint

fix: prevent stale rate saves
  src/cook-web/src/app/admin/operations/config/page.tsx
Due: prettier-cook-web, eslint

test: stabilize model refresh timing
  src/cook-web/src/components/model-list/ModelList.test.tsx
Due: prettier-cook-web, eslint

chore: bump markdown-flow-ui to 0.2.3
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

chore: bump markdown-flow-ui for dev01
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
