Repository ai-shifu/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^src/cook-web/public/locales/.*\.json$
    -   id: requirements-txt-fixer
        exclude: ^src/api/requirements\.txt$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: check-shared-translations
        name: Validate shared translation parity
        entry: python scripts/check_translations.py
        language: system
        pass_filenames: false
    -   id: check-translation-usage
        name: Validate translation key usage
        entry: python scripts/check_translation_usage.py --fail-on-unused
        language: system
        pass_filenames: false
    -   id: generate-languages-check
        name: Validate locales metadata up to date
        entry: bash -lc 'python scripts/generate_languages.py && git diff --exit-code -- src/i18n/locales.json'
        language: system
        pass_filenames: false
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: local
    hooks:
    -   id: no-hardcoded-cjk-in-backend
        name: Forbid hardcoded CJK characters in backend Python
        entry: python3 scripts/check_backend_hardcoded_cn.py
        language: system
        pass_filenames: false

chore: update load plugin
  src/api/flaskr/framework/plugin/load_plugin.py
Due: none

feat: init variable list
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/components/lesson-preview/VariableList.module.css
  src/cook-web/src/components/lesson-preview/VariableList.module.scss
  src/cook-web/src/components/lesson-preview/VariableList.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/shifu.json
  src/i18n/zh-CN/modules/shifu.json
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/components/lesson-preview/VariableList.module.css
  src/cook-web/src/components/lesson-preview/VariableList.module.scss
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

fix
  src/cook-web/src/components/lesson-preview/VariableList.tsx
  src/i18n/en-US/modules/shifu.json
  src/i18n/zh-CN/modules/shifu.json
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/components/lesson-preview/VariableList.module.css
  src/cook-web/src/components/lesson-preview/VariableList.module.scss
Due: prettier-cook-web, eslint

feat: add context to mdflow
  src/api/flaskr/service/learn/context_v2.py
Due: none

fix: add context
  src/api/flaskr/service/learn/context_v2.py
Due: none

fix: get config is none
  src/api/flaskr/service/config/funcs.py
Due: none

fix: add context to mdflow.process
  src/api/flaskr/service/learn/context_v2.py
Due: none

fix: get config from sys
  src/api/flaskr/route/config.py
Due: none

feat: enhance outline chapter selection ui (#1087)
  src/api/flaskr/service/shifu/dtos.py
  src/api/flaskr/service/shifu/shifu_outline_funcs.py
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseSection.module.css
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseSection.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseSection.tsx
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavFooter.module.css
  src/cook-web/src/app/c/[[...id]]/Components/NavDrawer/NavFooter.module.scss
  src/cook-web/src/app/globals.css
  src/cook-web/src/components/chapter-setting/ChapterPromptSetting.tsx
  src/cook-web/src/components/chapter-setting/ChapterSetting.tsx
  src/cook-web/src/components/chapter-setting/icons/svg-guest.svg
  src/cook-web/src/components/chapter-setting/icons/svg-hidden.svg
  src/cook-web/src/components/chapter-setting/icons/svg-normal.svg
  src/cook-web/src/components/chapter-setting/icons/svg-trial.svg
  src/cook-web/src/components/chapter-setting/index.ts
  src/cook-web/src/components/dnd-kit-sortable-tree/ui/simple/SimpleTreeItemWrapper.css
  src/cook-web/src/components/dnd-kit-sortable-tree/ui/simple/SimpleTreeItemWrapper.tsx
  src/cook-web/src/components/header/Header.tsx
  src/cook-web/src/components/outline-selector/OutlineSelector.tsx
  src/cook-web/src/components/outline-tree/MinimalTreeItem.tsx
  src/cook-web/src/components/outline-tree/OutlineTree.css
  src/cook-web/src/components/outline-tree/OutlineTree.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/components/ui/Sheet.tsx
  src/cook-web/src/store/useShifu.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/cook-web/src/types/shifu.ts
  src/i18n/en-US/components/outline-tree.json
  src/i18n/en-US/modules/chapter-setting.json
  src/i18n/qps-ploc/components/outline-tree.json
  src/i18n/qps-ploc/modules/chapter-setting.json
  src/i18n/zh-CN/components/outline-tree.json
  src/i18n/zh-CN/modules/chapter-setting.json
Due: prettier-cook-web, eslint

refactor: fetch runtime config from backend (#1083)
  src/api/flaskr/framework/plugin/load_plugin.py
  src/api/flaskr/route/__init__.py
  src/api/flaskr/route/config.py
  src/api/flaskr/service/config/funcs.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/layout.tsx
  src/cook-web/src/app/api/config/route.ts
  src/cook-web/src/app/login/page.tsx
  src/cook-web/src/app/page.tsx
  src/cook-web/src/c-store/envStore.ts
  src/cook-web/src/c-types/store.ts
  src/cook-web/src/components/TermsCheckbox.tsx
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/config/ENVIRONMENT_CONFIG.md
  src/cook-web/src/lib/initializeEnvData.ts
Due: prettier-cook-web, eslint

feat: update create course text (#1092)
  src/i18n/en-US/common/core.json
  src/i18n/qps-ploc/common/core.json
  src/i18n/zh-CN/common/core.json
Due: none

fix: ui
  src/cook-web/src/components/lesson-preview/VariableList.module.css
  src/cook-web/src/components/lesson-preview/VariableList.module.scss
  src/cook-web/src/components/lesson-preview/VariableList.tsx
  src/cook-web/src/store/useShifu.tsx
  src/i18n/en-US/modules/shifu.json
  src/i18n/qps-ploc/modules/shifu.json
  src/i18n/zh-CN/modules/shifu.json
Due: prettier-cook-web, eslint

feat: add context to mdflow (#1093)
  src/api/flaskr/service/learn/context_v2.py
Due: none

fix: use dynamic base for preview sse
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
Due: prettier-cook-web, eslint

fix: use dynamic base for preview sse (#1094)
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
Due: prettier-cook-web, eslint

refactor: remove lesson preview time bar and generate time handling
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
Due: prettier-cook-web, eslint

fix: remove api base from runtime config
  src/api/flaskr/route/config.py
  src/cook-web/src/c-api/c.ts
  src/cook-web/src/c-api/studyV2.ts
  src/cook-web/src/c-store/envStore.ts
  src/cook-web/src/c-utils/envUtils.ts
  src/cook-web/src/config/environment.ts
  src/cook-web/src/lib/initializeEnvData.ts
Due: prettier-cook-web, eslint

fix: remove api base from runtime config (#1095)
  src/api/flaskr/route/config.py
  src/cook-web/src/c-api/c.ts
  src/cook-web/src/c-api/studyV2.ts
  src/cook-web/src/c-store/envStore.ts
  src/cook-web/src/c-utils/envUtils.ts
  src/cook-web/src/config/environment.ts
  src/cook-web/src/lib/initializeEnvData.ts
Due: prettier-cook-web, eslint

feat: add collapsible toggle for lesson preview variables
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/components/lesson-preview/VariableList.module.css
  src/cook-web/src/components/lesson-preview/VariableList.module.scss
  src/cook-web/src/components/lesson-preview/VariableList.tsx
  src/i18n/en-US/modules/shifu.json
  src/i18n/qps-ploc/modules/shifu.json
  src/i18n/zh-CN/modules/shifu.json
Due: prettier-cook-web, eslint

fix: fallback config when db not ready
  src/api/flaskr/service/config/funcs.py
  src/api/tests/service/config/test_funcs.py
Due: none

fix: fallback config when db not ready (#1096)
  src/api/flaskr/service/config/funcs.py
  src/api/tests/service/config/test_funcs.py
Due: none

fix: skip demo shifu import when unchanged
  src/api/flaskr/command/update_shifu_demo.py
Due: none

fix: skip demo shifu import when unchanged (#1097)
  src/api/flaskr/command/update_shifu_demo.py
Due: none

fix: load plugin from directory only
  src/api/flaskr/framework/plugin/load_plugin.py
Due: none

fix: load plugin from directory only (#1098)
  src/api/flaskr/framework/plugin/load_plugin.py
Due: none

fix: add learned history to ask
  src/api/flaskr/service/learn/handle_input_ask.py
Due: none

fix: add learned history to ask (#1099)
  src/api/flaskr/service/learn/handle_input_ask.py
Due: none

fix: defer preview variable storage until preview trigger
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/components/lesson-preview/VariableList.tsx
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

fix: align preview variable list ordering by scope
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/components/lesson-preview/VariableList.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/src/components/lesson-preview/LessonPreview.module.css
  src/cook-web/src/components/lesson-preview/LessonPreview.module.scss
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/components/lesson-preview/VariableList.tsx
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/src/components/lesson-preview/LessonPreview.module.css
  src/cook-web/src/components/lesson-preview/LessonPreview.module.scss
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/components/lesson-preview/VariableList.module.css
  src/cook-web/src/components/lesson-preview/VariableList.module.scss
Due: prettier-cook-web, eslint

fix: ui
  src/cook-web/src/components/lesson-preview/LessonPreview.module.css
  src/cook-web/src/components/lesson-preview/LessonPreview.module.scss
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
Due: prettier-cook-web, eslint

fix: u
  src/cook-web/src/components/lesson-preview/LessonPreview.module.css
  src/cook-web/src/components/lesson-preview/LessonPreview.module.scss
Due: prettier-cook-web

fix: allow multi-select preview defaults to include custom input text
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
Due: prettier-cook-web, eslint

fix: pr advice
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

fix: handle mdflow parse scope by outline access mode
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

Revert "fix: handle mdflow parse scope by outline access mode"
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
  src/cook-web/src/store/useShifu.tsx
Due: prettier-cook-web, eslint

feat(lesson-preview): add variable list(#1100)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/components/lesson-preview/LessonPreview.module.css
  src/cook-web/src/components/lesson-preview/LessonPreview.module.scss
  src/cook-web/src/components/lesson-preview/LessonPreview.tsx
  src/cook-web/src/components/lesson-preview/TimeBar.module.css
  src/cook-web/src/components/lesson-preview/TimeBar.module.scss
  src/cook-web/src/components/lesson-preview/TimeBar.tsx
  src/cook-web/src/components/lesson-preview/VariableList.module.css
  src/cook-web/src/components/lesson-preview/VariableList.module.scss
  src/cook-web/src/components/lesson-preview/VariableList.tsx
  src/cook-web/src/components/lesson-preview/usePreviewChat.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/shifu.json
  src/i18n/qps-ploc/modules/shifu.json
  src/i18n/zh-CN/modules/shifu.json
Due: prettier-cook-web, eslint
